.context {
    overflow: visible;
    padding: 2px;
}

.dialog-header {
    .header-text {
        min-width: 190px;
    }

    .header-item {
        padding: 6px 12px;
        margin: 0px 16px;
        border-radius: 6px;
        font-size: var(--guardian-primary-font-size);
        color: var(--guardian-dry-run-color);
        background: var(--guardian-dry-run-background);
        user-select: none;
        cursor: default;
        max-width: 275px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.cancel-button {
    margin-left: auto !important;
    margin-right: 0px !important;
}

.publish-button {
    margin-left: 15px !important;
    margin-right: 0px !important;
}

.guardian-input-container {
    margin-bottom: 24px;
}

.form-input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    .form-label {
        margin-bottom: 6px;
        color: var(--color-grey-black-1, #181818);
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
    }
}

.recording-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 2px;
    margin-bottom: 2px;
}

.recording-label {
    margin: 0px;
}