<div class="dialog-header">
    <div class="header-container">
        <div class="header-text">Publish Policy</div>
        <div *ngIf="policy" class="header-item">{{policy.name}}</div>
    </div>
    <div class="header-icon" (click)="onClose()">
        <svg-icon src="/assets/images/icons/close.svg" svgClass="icon-color-close"></svg-icon>
    </div>
</div>
<div class="dialog-body">
    <div class="context">
        <div *ngIf="loading" class="guardian-loading">
            <div class="guardian-loading-image"></div>
        </div>
        <div>
            <div class="guardian-input-container">
                <label class="form-label" htmlFor="version">* Version</label>
                <input [formControl]="versionControl" id="version" pInputText type="text"/>
            </div>
        </div>
        <div>
            <div class="guardian-input-container">
                <label class="form-label" htmlFor="availability">* Availability</label>
                <p-dropdown
                    [(ngModel)]="currentType"
                    [options]="types"
                    [showClear]="false"
                    optionLabel="label"
                    optionValue="value"
                    class="guardian-dropdown"
                    appendTo="body"
                    placeholder="Not selected"
                    panelStyleClass="guardian-dropdown-panel">
                </p-dropdown>
            </div>
        </div>
        <div>
            <div class="form-input-container">
                <label class="form-label" htmlFor="policy-tests">Policy Tests</label>
                <ng-container *ngIf="policy?.tests?.length; else elseTemplate">
                    <div class="tests-container">
                        {{policy.tests.length}} test data file[s]
                    </div>
                </ng-container>
                <ng-template #elseTemplate>
                    <div class="tests-container">
                        0 test data file[s]
                    </div>
                </ng-template>
            </div>
        </div>

        <div>
            <div class="recording-container" (click)="recordingEnabled=!recordingEnabled">
                <p-checkbox
                    class="guardian-checkbox checkbox-24"
                    name="recordingEnabled"
                    binary="true"
                    [ngModel]="recordingEnabled"
                    inputId="recordingEnabled">
                </p-checkbox>
                <label class="form-label recording-label" for="recordingEnabled">
                    Record policy actions
                </label>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <div class="action-buttons">
        <div class="dialog-button cancel-button">
            <button (click)="onClose()" class="guardian-button guardian-button-secondary">Close</button>
        </div>
        <div class="dialog-button publish-button">
            <button
                (click)="onSubmit()"
                class="guardian-button guardian-button-primary"
                [disabled]="isPublishDisabled">Publish</button>
        </div>
    </div>
</div>