---
apiVersion: v1
kind: Service
metadata:
  labels:
    io.kompose.service: application-events
  name: application-events
spec:
  ports:
    - name: "3012"
      port: 3012
      targetPort: 3012
  selector:
    io.kompose.service: application-events
status:
  loadBalancer: {}
