.container {
    position: relative;
    width: 160px;

    .status-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: hidden;
    }

    .status-button {
        width: 120px;
        height: 30px;
        justify-content: flex-start;
        padding-left: 12px;

        &.Running-status {
            color: var(--guardian-primary-color);
            background: var(--guardian-secondary-color);
            border: 1px solid var(--guardian-primary-color);

            &:hover {
                background: var(--guardian-primary-hover-2);
            }
        }

        &.Success-status {
            color: var(--guardian-success-color);
            background: var(--guardian-secondary-background);
            border: 1px solid var(--guardian-success-color);

            &:hover {
                background: var(--guardian-success-hover-2);
            }
        }

        &.Failure-status {
            color: var(--guardian-failure-color);
            background: var(--guardian-secondary-color);
            border: 1px solid var(--guardian-failure-color);

            &:hover {
                background: var(--guardian-failure-hover-2);
            }
        }

        .status-label {
            width: 10px;
            height: 10px;
            border-radius: 100%;

            &.Running-status {
                background: var(--guardian-primary-color);
            }

            &.Success-status {
                background: var(--guardian-success-color);
            }

            &.Failure-status {
                background: var(--guardian-failure-color);
            }
        }
    }

    .re-run-btn {
        height: 30px;
        width: 30px;
        margin-left: 6px;
        cursor: pointer;
    }

    .run-btn {
        width: 120px;
        height: 30px;
        font-size: 14px;
        font-weight: 500;
    }

    .run-label {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 30px;
        padding: 0px 8px;
        border-radius: 6px;
        font-family: Inter, serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;
        background: #fff;
        color: var(--color-primary);
        border: 1px solid var(--color-primary);
        width: 120px;
        justify-content: center;

        svg-icon {
            position: relative;
            left: -6px;
        }

        &.primary {
            background: var(--color-primary);
            color: var(--color-grey-white);

            &:hover {
                background: var(--color-primary);
                filter: brightness(1.05);
            }
        }

        &:hover {
            background: #eef1fc;
        }

        &[disabled="true"] {
            color: #5f5f5f !important;
            background: #f0f0f0 !important;
            border: 1px solid #a8a8a8;
            cursor: default;
        }
    }
}

// .primary-color {
//     fill: var(--color-primary);
//     color: var(--color-primary);
// }

// .white-color {
//     fill: var(--color-grey-white);
//     color: var(--color-grey-white);
// }

// .disabled-color {
//     fill: #5f5f5f;
//     color: #5f5f5f;
// }