.select-block-name {
    padding-left: 26px;
    position: relative;
    height: 22px;
    line-height: 22px;
    font-size: 13px;
}

.select-block-icon {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 22px;
    width: 20px;
}

.select-block-icon i,
.select-block-icon svg {
    position: absolute;
    left: 1px;
    top: 3px;
    font-size: 14px;
}

.select-custom {
    height: 14px;
    line-height: 14px;
    display: inline-block;
    min-width: 1px;
}

.required-fields {
    position: relative !important;
    width: 8px !important;
    max-width: 8px !important;
    display: inline !important;
    color: var(--pc-required-color, #FF432A) !important;
}

.prop-checkbox {
    position: relative;
    top: 3px;
}
