<ng-container *ngIf="property.type === 'Group' && visible(property.visible)">
    <tr class="propHeader" [attr.collapse]="collapse">
        <td class="propRowCol cellCollapse" (click)="onHide()" [attr.collapse]="groupCollapse">
            <i class="pi pi-caret-down"></i>
        </td>
        <td class="propHeaderCell cellName" [title]="property.title">
            <span *ngIf="property.required" class="required-fields">*</span> {{ property.label }}
        </td>
        <td class="propHeaderCell"></td>
    </tr>

    <div *ngFor="let p of property.properties" common-property class="custom-properties"
         [data]="group"
         [property]="p"
         [readonly]="readonly"
         [collapse]="collapse || groupCollapse"
         [block]="currentBlock"
         (update)="onSave()"></div>
</ng-container>

<ng-container *ngIf="property.type === 'Array' && visible(property.visible)">
    <tr class="propHeader" [attr.collapse]="collapse">
        <td class="propRowCol cellCollapse" (click)="onHide()" [attr.collapse]="groupCollapse">
            <i class="pi pi-caret-down"></i>
        </td>
        <td class="propHeaderCell cellName" [title]="property.title">
            <span *ngIf="property.required" class="required-fields">*</span> {{ property.label }}
        </td>
        <td class="propHeaderCell">
            <div class="propAdd" (click)="addItems()">
                <i class="pi pi-plus"></i>
                <span>Add {{ property.items.label }}</span>
            </div>
        </td>
    </tr>
    <ng-container *ngFor="let item of value; let i=index">
        <tr class="propRow" [attr.collapse]="collapse || groupCollapse">
            <td class="propRowCol cellCollapse" (click)="onHideItem(i)"
                [attr.collapse]="groupCollapse || itemCollapse[i]">
                <i class="pi pi-caret-down"></i>
            </td>
            <td class="propRowCell cellName">
                {{ property.items.label }} {{ i }}
            </td>
            <td class="propRowCell">
                <span class="not-editable-text">
                    {{ getArrayItemText(property.items, item) }}
                </span>
                <span class="remove-prop" [attr.readonly]="readonly" (click)="removeItems(i)">
                     <i class="pi pi-times"></i>
                </span>
            </td>
        </tr>
        <div *ngFor="let p of property.items.properties" common-property class="custom-properties"
             [data]="item"
             [property]="p"
             [readonly]="readonly"
             [collapse]="collapse || groupCollapse || itemCollapse[i]"
             [offset]="1"
             [block]="currentBlock"
             (update)="onSave()"></div>
    </ng-container>
</ng-container>

<ng-container *ngIf="property.type === 'Input' && visible(property.visible)">
    <tr class="propRow" [attr.offset]="offset" [attr.collapse]="collapse">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName" [title]="property.title">
            <span *ngIf="property.required" class="required-fields">*</span> {{ property.label }}
        </td>
        <td class="propRowCell">
            <input class="prop-input" [(ngModel)]="value" [readonly]="readonly" (blur)="onSave()">
        </td>
    </tr>
</ng-container>

<ng-container *ngIf="property.type === 'Code' && visible(property.visible)">
    <tr class="propRow" [attr.offset]="offset" [attr.collapse]="collapse">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName" [title]="property.title">
            <span *ngIf="property.required" class="required-fields">*</span> {{ property.label }}
        </td>
        <td class="propRowCell">
            <input 
                class="prop-input" 
                [(ngModel)]="value" 
                [readonly]="true"
                (click)="editCode($event)"
                (blur)="onSave()"
            >
        </td>
    </tr>
</ng-container>

<ng-container *ngIf="property.type === 'Checkbox' && visible(property.visible)">
    <tr class="propRow" [attr.offset]="offset" [attr.collapse]="collapse">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName" [title]="property.title">
            <span *ngIf="property.required" class="required-fields">*</span> {{ property.label }}
        </td>
        <td class="propRowCell">
            <input class="prop-input prop-checkbox" type="checkbox" [(ngModel)]="value" [readonly]="readonly"
                   (change)="onSave()">
        </td>
    </tr>
</ng-container>

<ng-container *ngIf="property.type === 'Select' && visible(property.visible)">
    <tr class="propRow" [attr.offset]="offset" [attr.collapse]="collapse">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName" [title]="property.title">
            <span *ngIf="property.required" class="required-fields">*</span> {{ property.label }}
        </td>
        <td class="propRowCell ns" [ngSwitch]="property.items">
            <p-dropdown
                *ngSwitchCase="'Roles'"
                [(ngModel)]="value"
                [options]="roles"
                optionLabel="name"
                optionValue="value"
                [disabled]="readonly"
                placeholder="Select a role"
                (onChange)="onSave()"
                [appendTo]="'body'"
            >
            </p-dropdown>
            <p-dropdown
                *ngSwitchDefault
                [(ngModel)]="value"
                [options]="property.items"
                optionLabel="label"
                optionValue="value"
                [disabled]="readonly"
                placeholder="Select an option"
                (onChange)="onSave()"
                [appendTo]="'body'"
            >
            </p-dropdown>
        </td>
    </tr>
</ng-container>

<ng-container *ngIf="property.type === 'MultipleSelect' && visible(property.visible)">
    <tr class="propRow" [attr.offset]="offset" [attr.collapse]="collapse">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName" [title]="property.title">
            <span *ngIf="property.required" class="required-fields">*</span> {{ property.label }}
        </td>
        <td *ngIf="loaded" [ngSwitch]="property.items" class="propRowCell ns">
            <p-multiSelect
                *ngSwitchCase="'Schemas'"
                [(ngModel)]="value"
                [options]="schemas"
                optionLabel="displayName"
                optionValue="value"
                [disabled]="readonly"
                placeholder="Select schemas"
                (onChange)="onSave()"
                [appendTo]="'body'"
            >
                <ng-template let-schema pTemplate="item">
                    <div
                        class="schema-variable"
                        [attr.status]="schema.status"
                        [attr.disable]="schema.disable"
                        pTooltip="{{ schema.tooltip }}"
                        tooltipPosition="bottom"
                        [tooltipOptions]="{ showDelay: 500 }"
                        tooltipStyleClass="guardian-tooltip small-guardian-tooltip">
                        {{ schema.displayName }}
                    </div>
                </ng-template>
            </p-multiSelect>
            <p-multiSelect
                *ngSwitchCase="'Block'"
                [(ngModel)]="value"
                [options]="allBlocks"
                optionLabel="name"
                optionValue="value"
                [disabled]="readonly"
                placeholder="Select blocks"
                (onChange)="onSave()"
                [appendTo]="'body'"
            >

                <ng-template pTemplate="selectedItems" let-selectedItems>
                    <span class="select-custom">{{ getSelectedItemsDisplay(selectedItems) }}</span>
                </ng-template>

                <ng-template pTemplate="item" let-item>
                    <div class="select-block-name">
                        <div class="select-block-icon">
                            <i [ngClass]="'pi pi-' + item.icon"></i>
                        </div>
                        {{ item.name }}
                    </div>
                </ng-template>
            </p-multiSelect>
            <p-multiSelect
                *ngSwitchCase="'Children'"
                [(ngModel)]="value"
                [options]="childrenBlocks"
                optionLabel="name"
                optionValue="value"
                [disabled]="readonly"
                placeholder="Select children blocks"
                (onChange)="onSave()"
                [appendTo]="'body'"
            >

                <ng-template pTemplate="selectedItems" let-selectedItems>
                    <span class="select-custom">{{ getSelectedItemsDisplay(selectedItems) }}</span>
                </ng-template>

                <ng-template pTemplate="item" let-item>
                    <div class="select-block-name">
                        <div class="select-block-icon">
                            <i [ngClass]="'pi pi-' + item.icon"></i>
                        </div>
                        {{ item.name }}
                    </div>
                </ng-template>
            </p-multiSelect>
            <p-multiSelect *ngSwitchCase="'Roles'"
                           [(ngModel)]="value"
                           [options]="roles"
                           [disabled]="readonly"
                           (onChange)="onSave()"
                           optionLabel="name"
                           optionValue="value"
                           placeholder="Select Roles"
                           [appendTo]="'body'"
            >
            </p-multiSelect>
            <p-multiSelect *ngSwitchDefault
                           [(ngModel)]="value"
                           [options]="property.items"
                           [disabled]="readonly"
                           (onChange)="onSave()"
                           optionLabel="label"
                           optionValue="value"
                           placeholder="Select Items"
                           [appendTo]="'body'"
            >
            </p-multiSelect>
        </td>
    </tr>
</ng-container>

<ng-container *ngIf="property.type === 'Schemas' && visible(property.visible)">
    <tr class="propRow" [attr.offset]="offset" [attr.collapse]="collapse">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName" [title]="property.title">
            <span *ngIf="property.required" class="required-fields">*</span> {{ property.label }}
        </td>
        <td class="propRowCell ns">
            <select-schema
                [schemas]="schemas"
                [(value)]="value"
                [disabled]="readonly"
                (change)="onSave()"
            ></select-schema>
        </td>
    </tr>
</ng-container>

<ng-container *ngIf="property.type === 'Path' && visible(property.visible)">
    <tr class="propRow" [attr.offset]="offset" [attr.collapse]="collapse">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName" [title]="property.title">
            <span *ngIf="property.required" class="required-fields">*</span> {{ property.label }}
        </td>
        <td class="propRowCell">
            <document-path [(value)]="value" [readonly]="readonly" (change)="onSave()"></document-path>
        </td>
    </tr>
</ng-container>
