form {
    display: flex;
    flex-direction: column;
    overflow: visible;
}

.switch-btn {
    width: 180px;
    height: 32px;
}

.keys-config {
    display: grid;
    grid-template-rows: auto;
}

.key-value {
    display: grid;
    grid-template-columns: 200px 100px auto;
    padding-bottom: 20px;
    align-content: center;
    align-items: center;
}

.key-name {
    font-weight: 500;
}

.delimiter {
    width: 100%;
    height: 40px;
}

*[immutable="true"] .immutable {
    pointer-events: none;
    filter: grayscale(1);
    opacity: 0.7;
}