.policy-name {
    color: var(--guardian-disabled-color, #848FA9);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    position: absolute;
    top: 34px;
    right: 0;

    .policy-version {
        padding-left: 16px;
    }
}

.guardian-user-page-header {
    margin-bottom: 18px;
}

.guardian-dropdown {
    &::ng-deep .p-dropdown {
        width: 250px;
    }
}

.grid-btn {
    width: 80px;
    height: 30px;
    margin-right: 16px;

    &:last-child {
        margin-right: 0px;
    }
}

.policy-status {
    width: 92px;
    height: 28px;
    border-radius: 6px;
    padding-top: 6px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    vertical-align: middle;

    &.NEW-status {
        color: #848FA9;
        background: #E1E7EF;
    }

    &.APPROVED-status {
        color: #19BE47;
        background: #CAFDD9;
    }

    &.REJECTED-status {
        color: #FF432A;
        background: #FFEAEA;
    }
}

.option-btns {
    display: flex;

    .approve-btn {
        width: 100px;
        height: 28px;
        background: #19BE47;
        color: #FFF;
        margin-right: 8px;
    }

    .reject-btn {
        width: 100px;
        height: 28px;
        background: #FF432A;
        color: #FFF;
    }

    .reload-btn {
        width: 100px;
        height: 28px;
        background: var(--color-primary);
        color: #FFF;
    }
}

.policy-status {
    width: 120px;
    height: 28px;
    border-radius: 6px;
    padding-top: 6px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;

    &.NEW-status {
        color: #848FA9;
        background: #E1E7EF;
    }

    &.COMPLETED-status {
        color: #19BE47;
        background: #CAFDD9;
    }

    &.ERROR-status {
        color: #FF432A;
        background: #FFEAEA;
    }

    &.CANCELED-status {
        color: #FF432A;
        background: #FFEAEA;
    }

    &.REMOTE_ACTION-status {
        color: #9c27b0;
        background: #edd8f0;
    }

    &.ACTION-status {
        color: #9c27b0;
        background: #edd8f0;
    }

    &.REQUEST-status {
        color: #4169E2;
        background: #e1e7fa;
    }
}

:host ::ng-deep .operations-btns {
    .p-button {
        height: 28px;
        border-radius: 6px;
    }
}

.guardian-user-page-filters p-dropdown {
    margin-right: 18px;
}