.status-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: xx-large;
    width: 100%;
    height: 60%;
}

.service-status-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.status-container > .service-status-container > .icon-status {
    font-size: 40px;
    width: 40px;
    height: 40px;
}

.ready-status {
    color: green;
}

.stopped-status {
    color: red;
}