
<div class="status-container">
    <div *ngFor="let service of servicesStates" [ngSwitch]="service.state" class="service-status-container">
        <b>{{service.serviceName}}</b> - 
        <mat-icon *ngSwitchCase="'READY'" class="icon-status ready-status">check</mat-icon>
        <mat-spinner [diameter]="35" *ngSwitchCase="'INITIALIZING'"></mat-spinner>
        <mat-spinner [diameter]="35" *ngSwitchCase="'STARTED'"></mat-spinner>
        <mat-icon *ngSwitchCase="'STOPPED'" class="icon-status stopped-status">close</mat-icon>
    </div>
</div>