<div class="guardian-page">
  <ng-container [ngTemplateOutlet]="header"></ng-container>
  <ng-container [ngTemplateOutlet]="statusContainer"></ng-container>

  @if (guardianVersion) {
    <div class="guardian-version-card">
      <div class="guardian-version-content">
        <svg-icon
          class="svg-icon-32"
          src="/assets/images/icons/guardian-icon-secondary.svg"
          svgClass="guardian-version-icon">
        </svg-icon>
        <span class="guardian-version-text">
          Guardian Version {{ guardianVersion }}
        </span>
      </div>
    </div>
  }

  @if (false) {
    <div class="loading">
      <div class="preloader-image preloader-image-l-size"></div>
    </div>
  }
</div>

<ng-template #header>
  <div class="guardian-user-page-header">Services status</div>
</ng-template>

<ng-template #statusContainer>
  <div class="status-container">
    @for (service of servicesStates; track service) {
      <div class="item">
        <div class="header">
          <span>{{ service.serviceName }}</span>
          <div class="statuses">
            @for (state of service.states; track state) {
              <div [pTooltip]="state">
                @switch (state) {
                  @case ('READY') {
                    <svg-icon
                      src="/assets/images/icons/check.svg"
                      svgClass="success-color">
                    </svg-icon>
                  }
                  @case ('BAD_CONFIGURATION') {
                    <svg-icon
                      src="/assets/images/icons/warning.svg"
                      svgClass="warning-color">
                    </svg-icon>
                  }
                  @case ('INITIALIZING') {
                    <div class="preloader-image"></div>
                  }
                  @case ('STARTED') {
                    <div class="preloader-image"></div>
                  }
                  @case ('STOPPED') {
                    <svg-icon
                      src="/assets/images/icons/time.svg"
                      svgClass="error-color">
                    </svg-icon>
                  }
                }
              </div>
            }
          </div>
        </div>
        <div class="actions-container">
          @if (service.serviceName !== 'LOGGER_SERVICE') {
            <button
              [queryParams]="{ attr: service.serviceName }" [routerLink]="'/admin/logs'"
              class="button secondary" label="View Logs"
            pButton type="button"></button>
          }
        </div>
      </div>
    }
  </div>
</ng-template>

@if (false) {
  <div class="service-status-container">
    <ng-template #info let-allServicesAreRunning="getIfAllServicesAreRunning()"
      let-loadingServices="getLoadingServices()"
      let-stoppedServices="getStoppedServices()">
      @if (loadingServices.length) {
        <h1 class="info-message">
          {{ getServiceNames(loadingServices) }}
          is (are) initializing
          <br/>
          Please wait...
        </h1>
      }
      @if (stoppedServices.length) {
        <h1 class="info-message">
          There are some problems with services...
        </h1>
      }
      @if (allServicesAreRunning) {
        <h1 class="info-message">
          All services are running
        </h1>
      }
      <table class="status-table">
        @for (service of servicesStates; track service) {
          <tr class="service-status-row">
            <td class="">
              <b>{{ service.serviceName }}</b>
            </td>
            <td class="">-</td>
            <td class="flex-line">
              @for (state of service.states; track state) {
                <div>
                  @switch (state) {
                    @case ('READY') {
                      <div class="icon-row">
                        <i class="pi pi-check icon-status ready-status"></i>
                      </div>
                    }
                    @case ('BAD_CONFIGURATION') {
                      <div class="icon-row">
                        <svg-icon src="/assets/images/icons/abc.svg"
                        svgClass="icon-style-abc icon-status bad-configuration-status"></svg-icon>
                      </div>
                    }
                    @case ('INITIALIZING') {
                      <div class="icon-row">
                        @case ('INITIALIZING') {
                          <p-progressSpinner
                            [style]="{ width: '35px', height: '35px' }">
                          </p-progressSpinner>
                        }
                      </div>
                    }
                    @case ('STARTED') {
                      <div class="icon-row">
                        @case ('STARTED') {
                          <p-progressSpinner
                            [style]="{ width: '35px', height: '35px' }">
                          </p-progressSpinner>
                        }
                      </div>
                    }
                    @case ('STOPPED') {
                      <div class="icon-row">
                        @case ('STOPPED') {
                          <i class="pi pi-times icon-status stopped-status"></i>
                        }
                      </div>
                    }
                  }
                </div>
              }
              @if (!service.states.length) {
                <div class="icon-row">
                  <i class="pi pi-times icon-status stopped-status"></i>
                  <span>
                    (Stopped, <a [routerLink]="'/admin/logs'" [queryParams]="{ attr: service.serviceName }">View
                  Logs</a>)
                </span>
              </div>
            }
          </td>
        </tr>
      }
    </table>
    @if (last && !stoppedServices.length && !loadingServices.length) {
      <div class="back" (click)="onBack()">
        Return to previous page
      </div>
    }
  </ng-template>
  <ng-container *ngTemplateOutlet="info; context: this"></ng-container>
</div>
}
