.name-column {
    font-size: xx-large;
}

.icon-status, .equal-column {
    font-size: 40px;
}

.icon-status {
    width: 40px;
    height: 40px;
}

.service-status-row, .service-status-row td {
    padding: 0 10px;
}

.ready-status {
    color: green;
}

.stopped-status {
    color: red;
}

.service-status-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
}