<div class="content" [hidden]="!isActive" [attr.readonly-block]="readonly">
    <ng-container *ngIf="type != 'tabs'">
        <div *ngFor="let block of blocks" class="block-item">
            <render-block [block]="block" [dryRun]="dryRun" [policyId]="policyId" [savepointIds]="savepointIds" [policyStatus]="policyStatus"></render-block>
        </div>
    </ng-container>

    <ng-container *ngIf="type == 'tabs'">
        <div *ngIf="blocks && canDisplayTabs()" class="header">
            <p-tabView (onChange)="onBlockChange($event)" [activeIndex]="selectedIndex">
                <p-tabPanel *ngFor="let block of blocks" [header]="getTitle(block)">
                </p-tabPanel>
            </p-tabView>
        </div>
        <div *ngIf="activeBlock" class="body">
            <render-block [block]="activeBlock" [dryRun]="dryRun" [policyId]="policyId" [savepointIds]="savepointIds" [policyStatus]="policyStatus"></render-block>
        </div>
    </ng-container>
</div>
