<div class="content" [hidden]="!isActive" [attr.readonly-block]="readonly">
  @if (type != 'tabs') {
    @for (block of blocks; track block) {
      <div class="block-item">
        <render-block [block]="block" [dryRun]="dryRun" [policyId]="policyId" [savepointIds]="savepointIds" [policyStatus]="policyStatus"></render-block>
      </div>
    }
  }

  @if (type == 'tabs') {
    @if (blocks && canDisplayTabs()) {
      <div class="header">
        <p-tabs (valueChange)="onBlockChange($event)" [(value)]="selectedIndex">
          <p-tablist>
            @for (block of blocks; track block; let i = $index) {
              <p-tab [value]="i">{{ getTitle(block) }}</p-tab>
            }
          </p-tablist>
        </p-tabs>
      </div>
    }
    @if (activeBlock) {
      <div class="body">
        <render-block [block]="activeBlock" [dryRun]="dryRun" [policyId]="policyId" [savepointIds]="savepointIds" [policyStatus]="policyStatus"></render-block>
      </div>
    }
  }
</div>
