.content {
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
    width: 452px;
    overflow: visible;
    padding-bottom: 25px;
}

.action-select-step {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-header {
    font-size: 20px;
    color: #838383;
    padding-bottom: 20px;
    display: flex;
    cursor: pointer;
}

.action-name {
    display: block;
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
    color: #2F2F2F;
}

.action-select-step button {
    height: 106px;
    width: 90%;
    border-radius: 53px;
    margin: 12px 0;
}

.close-button {
    position: absolute;
    right: 16px;
    top: -10px;
    opacity: 0.44;
}

.close-button:hover {
    opacity: 1;
}

.modal-header {
    color: #000;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

:host ::ng-deep .p-dialog {
    width: 720px;
    border-radius: 16px !important;
    display: grid;
    transform: none;
    max-height: none;
    padding: 32px;
    background: var(--color-grey-white, #FFF);
}

:host ::ng-deep .p-dialog .p-dialog-header {
    padding: 0;
    font: 400 24px / 32px Roboto, "Helvetica Neue", sans-serif;
}

:host ::ng-deep .p-dialog .p-dialog-content {
    padding: 18px 0 0 0;
}

.form-field {
    margin-bottom: 1em;
}

.custom-form-field {
    position: relative;
    padding: 0.5em;
    border: 1px solid var(--color-grey-2);
    border-radius: 4px;
    transition: border-color 0.3s;
}

.custom-form-field:focus-within {
    border: 2px solid var(--primary-color);
}

.dialog-actions {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
}

:host ::ng-deep .p-dialog .p-button {
    background-color: var(--color-grey-white, #FFF);
    color: var(--primary-color);
    border-radius: 20px;
    padding: 8px 24px;
    font-weight: bold;
}

:host ::ng-deep .p-dialog .p-button-ok {
    background-color: var(--primary-color);
    color: var(--color-grey-white, #FFF);
}

:host ::ng-deep .p-dialog .p-button:hover {
    background-color: var(--blue-100);
}

:host ::ng-deep .p-dialog .p-button-ok:hover {
    background-color: var(--blue-700);
}
