<div class="schema-form-root">
    <div class="schema-form-view-nav">
        <app-schema-form-navigation #schemaNav *ngIf="model" [schemaFields]="model.controls" (select)="onNavSelect($event)"></app-schema-form-navigation>
    </div>
    <app-schema-form
        #childForm
        *ngIf="model"
        [form-model]="model"
        [private-fields]="hide"
        [readonly-fields]="readonly"
        [delimiter-hide]="delimiterHide"
        [example]="example"
        [cancelText]="cancelText"
        [saveText]="saveText"
        [submitText]="submitText"
        [cancelHidden]="cancelHidden"
        [submitHidden]="submitHidden"
        [saveShown]="saveShown"
        [showButtons]="showButtons"
        [isChildSchema]="isChildSchema"
        [comesFromDialog]="comesFromDialog"
        [dryRun]="dryRun"
        [policyId]="policyId"
        [blockId]="blockId"
        [rules]="rules"
        [paginationHidden]="paginationHidden"
        [isFormForFinishSetup]="isFormForFinishSetup"
        [isFormForRequestBlock]="isFormForRequestBlock"
        [lastSavedAt]="lastSavedAt"
        [isEditMode]="isEditMode"
        (change)="onChange($event)"
        (destroy)="onDestroy($event)"
        (buttons)="onButtons($event)"
        (cancelBtnEvent)="onCancelBtnEvent($event)"
        (submitBtnEvent)="onSubmitBtnEvent($event)"
        (saveBtnEvent)="onSaveBtnEvent($event)"
        (updatableBtnEvent)="onUpdatableBtnEvent()"
    >
    </app-schema-form>
</div>
<div *ngIf="loading" class="guardian-loading">
    <div class="guardian-loading-image"></div>
</div>
