.schema-form-root {
    display: flex;
    gap: 16px;

    .schema-form-view-nav{
        min-width: 20%;
        max-width: 20%;
        width: 20%;
    }

    app-schema-form{
        width: 100%;
    }
}