.header-container .tags-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 16px;
    column-gap: 8px;
    row-gap: 8px;

    .tag-item {
        display: flex;
        column-gap: 8px;
        align-items: center;
        justify-content: space-between;
        background-color: var(--color-secondary);
        border: 1px solid var(--color-primary);
        padding: 6px 12px;
        border-radius: 6px;
        transition: all 0.25s ease-in-out;
        cursor: pointer;

        .tag-icon {
            fill: var(--color-primary, #0031ff);
        }

        .name {
            color: var(--color-primary, #0031ff);
            font-family: Inter, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
        }

        .count {
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--color-accent-red-1);
            border-radius: 50%;
            width: 16px;
            height: 16px;
            color: var(--color-grey-white);
            font-family: Inter, sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
        }
    }

    .selected {
        background: var(--color-primary);

        .tag-icon {
            fill: var(--color-grey-white, #ffffff) !important;
        }

        .name {
            color: var(--color-grey-white, #ffffff) !important;
        }
    }

    .primary-color {
        fill: var(--color-primary, #0031ff);
        color: var(--color-primary, #0031ff);
    }
}

.context {
    position: relative;
    overflow-y: auto;
    padding: 0px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: Inter, serif;
    font-style: normal;

    .view-dialog-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 60px;
        overflow: hidden;

        .toggle-container {
            display: flex;
            column-gap: 10px;
            justify-content: flex-start;
            align-items: center;
            grid-column: 2;
            margin-bottom: 30px;
        }

        .option-buttons {
            height: 40px;
            display: flex;
            gap: 8px;
        }
    }

    .view-dialog-content {
        max-height: calc(100vh - 415px);
        overflow-y: auto;
        padding-right: 8px;

        .json {
            word-break: keep-all;
            white-space: pre;
            font-family: monospace;
            cursor: text;
            height: 100%;
            width: 100%;
            overflow: auto;
            border: 1px solid #eee;
            border-radius: 4px;
            padding: 10px;
            height: calc(100vh - 415px);
            box-sizing: border-box;
        }
    }
}

.dialog-footer .action-buttons {
    display: flex;
    justify-content: space-between;
    user-select: none;

    &>div {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.close-icon-color {
    fill: #848FA9;
    color: #848FA9;
}

@media (max-width: 810px) {
    .view-dialog-content {
        max-height: calc(100vh - 255px);

        .json {
            max-height: calc(100vh - 265px);
        }
    }
}