.context {
    position: relative;
    overflow-y: auto;
    padding: 0px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: Inter, serif;
    font-style: normal;

    .view-dialog-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 60px;
        overflow: hidden;

        .toggle-container {
            display: flex;
            column-gap: 10px;
            justify-content: flex-start;
            align-items: center;
            grid-column: 2;
            margin-bottom: 30px;
        }

        .option-buttons {
            height: 40px;
            display: flex;
            gap: 8px;
        }
    }

    .view-dialog-content {
        max-height: calc(100vh - 415px);
        overflow-y: auto;
        padding-right: 8px;

        .json {
            word-break: keep-all;
            white-space: pre;
            font-family: monospace;
            cursor: text;
            height: 100%;
            width: 100%;
            overflow: auto;
            border: 1px solid #eee;
            border-radius: 4px;
            padding: 10px;
            height: calc(100vh - 415px);
            box-sizing: border-box;
        }
    }
}

.dialog-footer .action-buttons {
    display: flex;
    justify-content: space-between;
    user-select: none;

    &>div {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.close-icon-color {
    fill: #848FA9;
    color: #848FA9;
}

@media (max-width: 810px) {
    .view-dialog-content {
        max-height: calc(100vh - 255px);

        .json {
            max-height: calc(100vh - 265px);
        }
    }
}

:host ::ng-deep {
    .version-dropdown {
        .p-dropdown {
            border: 1px solid var(--guardian-primary-color);
            border-radius: 6px;
            color: var(--guardian-primary-color);

            box-shadow: none !important;
            outline: none !important;
            
            &:focus {
                box-shadow: none !important;
                outline: none !important;
            }
        }

        .p-dropdown-label {
            color: var(--guardian-primary-color);
        }

        .p-dropdown-trigger {
            color: var(--guardian-primary-color);
        }

        .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
            color: var(--guardian-primary-color);
        }
    }
}