<div class="g-dialog-content">
    <div class="g-dialog-header">
        <div class="g-dialog-cancel">
            <div class="g-dialog-cancel-btn" (click)="onClick()">
                <mat-icon>close</mat-icon>
            </div>
        </div>

        <div class="g-dialog-title">
            {{title}}
        </div>

        <div class="g-dialog-actions">
            <app-compare-btn *ngIf="!dryRun && id" type="document" [id]="id"></app-compare-btn>
            <mat-slide-toggle 
                *ngIf="(isVcDocument || isVpDocument) && toggle" 
                class="view-toggle" 
                labelPosition='before'
                [(ngModel)]="viewDocument" 
                color="primary">View as form</mat-slide-toggle>
        </div>
    </div>
    <div class="g-dialog-body">
        <ng-container *ngIf="viewDocument">
            <app-document-view [document]="document" [type]="type" [schema]="schema"></app-document-view>
        </ng-container>
        <ng-container *ngIf="!viewDocument">
            <div class="json" *ngIf="type !== 'TEXT'">
                {{json}}
            </div>
            <div class="text" *ngIf="type === 'TEXT'">
                {{text}}
            </div>
        </ng-container>
    </div>
</div>