<div class="content user-profile">
    <div *ngIf="(loading || subLoading) && !taskId" class="loading">
        <div class="preloader-image preloader-image-l-size"></div>
    </div>

    <async-progress
        (completed)="onAsyncCompleted()"
        (error)="onAsyncError($event)"
        *ngIf="loading && taskId"
        [taskId]="taskId"
    ></async-progress>

    <ng-container *ngIf="isConfirmed; else elseTemplate">
        <div *ngIf="profile" class="profile">
            <div class="header">
                <h1>Profile</h1>
            </div>

            <div class="tabs-nav">
                <p-tabView [(activeIndex)]="tabIndex" (onChange)="onChangeTab($event)" class="guardian-header-tabs">
                    <p-tabPanel [selected]="tab === 'general'">
                        <ng-template pTemplate="header">
                            <div class="tabview-label">General</div>
                        </ng-template>
                    </p-tabPanel>
                    <p-tabPanel [selected]="tab === 'relayerAccounts'">
                        <ng-template pTemplate="header">
                            <div class="tabview-label">Relayer Accounts</div>
                        </ng-template>
                    </p-tabPanel>
                    <p-tabPanel [selected]="tab === 'keys'">
                        <ng-template pTemplate="header">
                            <div class="tabview-label">Decentralized Access Key</div>
                        </ng-template>
                    </p-tabPanel>
                </p-tabView>
            </div>

            <ng-container *ngIf="tab === 'general'">
                <div *ngIf="tab === 'general'" class="user-info-container">
                    <div class="item-header">Account</div>
                    <div class="item">
                        <span>User Name</span>
                        <span class="value-text">{{ profile!.username }}</span>
                    </div>
                    <div class="item">
                        <span>Password</span>
                        <div (click)="changePassword(profile)" class="view-document-button">
                            <span>Change Password</span>
                        </div>
                    </div>

                    <div class="item-header">Hedera</div>
                    <div class="item">
                        <span>Hedera Account ID</span>
                        <div>
                            <hedera-explorer [params]="profile.hederaAccountId || ''" type="accounts">
                                {{ profile.hederaAccountId }}
                            </hedera-explorer>
                        </div>
                    </div>
                    <div *ngIf="profile.topicId" class="item">
                        <span>User Topic</span>
                        <div>
                            <hedera-explorer [params]="profile.topicId" type="topics">
                                {{ profile.topicId }}
                            </hedera-explorer>
                        </div>
                    </div>
                    <div class="item">
                        <span>Balance</span>
                        <span class="value-text">{{ balance }}</span>
                    </div>


                    <div class="item-header">Documents</div>
                    <div class="item">
                        <span>Standard Registry</span>
                        <span class="value-text">{{ profile.parent }}</span>
                    </div>
                    <div class="item">
                        <span>DID</span>
                        <span class="value-text">{{ profile.did }}</span>
                    </div>
                    <div class="item">
                        <span>DID Document</span>
                        <div
                            (click)="openDIDDocument(didDocument, 'DID Document')"
                            class="view-document-button"
                        >
                            <svg-icon class="svg-icon-16" src="/assets/images/icons/16/file.svg" svgClass="primary-color">
                            </svg-icon>
                            <span>View document</span>
                        </div>
                    </div>
                    <div *ngIf="vcDocument" class="item">
                        <span>VC Document</span>
                        <div
                            (click)="openVCDocument(vcDocument, 'VC Document')"
                            class="view-document-button"
                        >
                            <svg-icon class="svg-icon-16" src="/assets/images/icons/16/file.svg" svgClass="primary-color">
                            </svg-icon>
                            <span>View document</span>
                        </div>
                    </div>

                    <div *ngIf="profile" class="item">
                        <div class="download-button">
                            <p-button
                                (click)="download()"
                                label="Download profile"
                                icon="pi pi-download"
                            >
                            </p-button>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="tab === 'relayerAccounts'">
                <div class="guardian-user-page-toolbar">
                    <div class="guardian-user-page-filters">
                        <div class="search-filter">
                            <input
                                [(ngModel)]="searchRelayerAccount"
                                class="guardian-input search-policy-input"
                                pInputText
                                placeholder="Search by keyword"
                                type="text" 
                                (change)="onRelayerAccountSearch()"/>
                            <i class="search-icon">
                                <svg-icon 
                                    class="svg-icon-16" 
                                    src="/assets/images/icons/16/search.svg" 
                                    svgClass="icon-color-close">
                                </svg-icon>
                            </i>
                        </div>
                    </div>
                    <div class="guardian-user-page-buttons">
                        <button
                            (click)="updateAllBalance()"
                            class="guardian-button guardian-button-secondary">
                            <div class="guardian-button-icon">
                                <svg-icon
                                    class="icon-btn"
                                    src="/assets/images/icons/refresh-2.svg"
                                    svgClass="icon-color-primary">
                                </svg-icon>
                            </div>
                            <div class="guardian-button-label">Update All Accounts</div>
                        </button>
                        <button
                            (click)="onCreateRelayerAccount()"
                            class="guardian-button guardian-button-primary">
                            <div class="guardian-button-icon">
                                <svg-icon
                                    class="icon-btn"
                                    src="/assets/images/icons/add.svg"
                                    svgClass="icon-color-secondary">
                                </svg-icon>
                            </div>
                            <div class="guardian-button-label">Add Relayer Account</div>
                        </button>
                    </div>
                </div>
                <div class="guardian-user-page-grid">
                    <ng-container *ngIf="relayerAccountPage && relayerAccountPage.length > 0; else noData">
                        <div class="guardian-grid-container">
                            <p-table
                                class="guardian-grid-table"
                                [value]="relayerAccountPage"
                                [scrollable]="true"
                            >
                                <ng-template pTemplate="header">
                                    <tr class="guardian-grid-header">
                                        <ng-container *ngFor="let column of relayerAccountColumns">
                                            <th
                                                *ngIf="!column.canDisplay || column.canDisplay()"
                                                class="header-cell-{{column.type}} col-{{column.size}}"
                                            >{{column.title}}</th>
                                        </ng-container>
                                    </tr>
                                </ng-template>
                                <ng-template let-row pTemplate="body">
                                    <tr class="guardian-grid-row">
                                        <ng-container *ngFor="let column of relayerAccountColumns">
                                            <td
                                                *ngIf="!column.canDisplay || column.canDisplay()"
                                                class="row-cell-{{column.type}} col-{{column.size}}"
                                                pTooltip="{{row[column.id]}}"
                                                [tooltipDisabled]="!column.tooltip"
                                                tooltipPosition="top"
                                                [showDelay]="1000"
                                                [ngSwitch]="column.id"
                                            >
                                                <ng-container *ngSwitchCase="'balance'">
                                                    <div class="balance-cell">
                                                        <div *ngIf="row.__loading" class="balance-container">
                                                            <div class="balance-loading"></div>
                                                        </div>
                                                        <div *ngIf="!row.__loading" class="balance-container">
                                                            {{getBalance(row)}}
                                                        </div>
                                                    </div>
                                                </ng-container>
                                                <ng-container *ngSwitchCase="'refresh'">
                                                    <div class="balance-cell">
                                                        <div 
                                                            class="guardian-icon-button big balance-button" 
                                                            [attr.disabled]="row.__loading"
                                                            (click)="updateBalance(row)">
                                                            <svg-icon 
                                                                class="svg-icon"
                                                                src="/assets/images/icons/refresh-2.svg"
                                                                [svgClass]="'icon-color-primary'">
                                                            </svg-icon>
                                                        </div>
                                                        <div class="last-update">{{row.__lastUpdate}}</div>
                                                    </div>
                                                </ng-container>
                                                <ng-container *ngSwitchCase="'account'">
                                                    <hedera-explorer [params]="row[column.id] || ''" type="accounts">
                                                        {{ row[column.id] }}
                                                    </hedera-explorer>
                                                </ng-container>
                                                <ng-container *ngSwitchCase="'options'">
                                                    <button
                                                        (click)="onOpenRelayerAccount(row)"
                                                        class="guardian-button guardian-button-secondary grid-btn"
                                                    >Details</button>
                                                </ng-container>
                                                <ng-container *ngSwitchDefault>
                                                    <span class="text-truncate">{{row[column.id]}}</span>
                                                </ng-container>
                                            </td>
                                        </ng-container>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="guardian-grid-paginator">
                                <app-paginator
                                    class="guardian-grid-paginator"
                                    [pageIndex]="relayerAccountPageIndex"
                                    [pageSize]="relayerAccountPageSize"
                                    [length]="relayerAccountCount"
                                    (page)="onRelayerAccountPage($event)"
                                ></app-paginator>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #noData>
                        <div class="guardian-user-not-data">
                            <svg-icon
                                class="svg-icon-32"
                                src="/assets/images/icons/32/list.svg"
                                svgClass="icon-color-disabled"></svg-icon>
                            <span class="guardian-user-not-data__text-strong">There are no accounts created yet</span>
                            <span class="guardian-user-not-data__text">Please create a new account to see the data</span>
                        </div>
                    </ng-template>
                </div>
            </ng-container>

            <ng-container *ngIf="tab === 'keys'">
                <div class="guardian-user-page-toolbar">
                    <div class="guardian-user-page-filters"></div>
                    <div class="guardian-user-page-buttons">
                        <button
                            *ngIf="location === 'local'"
                            (click)="onCreateKey()"
                            class="guardian-button guardian-button-primary">
                            <div class="guardian-button-icon">
                                <svg-icon
                                    class="icon-btn"
                                    src="/assets/images/icons/add.svg"
                                    svgClass="icon-color-secondary">
                                </svg-icon>
                            </div>
                            <div class="guardian-button-label">Generate Key</div>
                        </button>
                        <button
                            *ngIf="location === 'remote'"
                            (click)="onImportKey()"
                            class="guardian-button guardian-button-primary">
                            <div class="guardian-button-icon">
                                <svg-icon
                                    class="icon-btn"
                                    src="/assets/images/icons/add.svg"
                                    svgClass="icon-color-secondary">
                                </svg-icon>
                            </div>
                            <div class="guardian-button-label">Import Key</div>
                        </button>
                    </div>
                </div>
                <div class="guardian-user-page-grid">
                    <ng-container *ngIf="keyPage && keyPage.length > 0; else noData">
                        <div class="guardian-grid-container">
                            <p-table
                                class="guardian-grid-table"
                                [value]="keyPage"
                                [scrollable]="true"
                            >
                                <ng-template pTemplate="header">
                                    <tr class="guardian-grid-header">
                                        <ng-container *ngFor="let column of keyColumns">
                                            <th
                                                *ngIf="!column.canDisplay || column.canDisplay()"
                                                class="header-cell-{{column.type}} col-{{column.size}}"
                                                >{{column.title}}</th>
                                        </ng-container>
                                    </tr>
                                </ng-template>
                                <ng-template let-row pTemplate="body">
                                    <tr class="guardian-grid-row">
                                        <ng-container *ngFor="let column of keyColumns">
                                            <td
                                                *ngIf="!column.canDisplay || column.canDisplay()"
                                                class="row-cell-{{column.type}} col-{{column.size}}"
                                                pTooltip="{{row[column.id]}}"
                                                [tooltipDisabled]="!column.tooltip"
                                                tooltipPosition="top"
                                                [showDelay]="1000"
                                                [ngSwitch]="column.id"
                                            >
                                                <ng-container *ngSwitchCase="'delete'">
                                                    <div
                                                        [attr.disabled]="row.status === 'PUBLISHED'"
                                                        class="guardian-icon-button big"
                                                        (click)="onDeleteKey(row)">
                                                        <svg-icon
                                                            class="icon-btn"
                                                            src="/assets/images/icons/delete.svg"
                                                            svgClass="icon-color-delete">
                                                        </svg-icon>
                                                    </div>
                                                </ng-container>
                                                <ng-container *ngSwitchDefault>
                                                    <span class="text-truncate">{{row[column.id]}}</span>
                                                </ng-container>
                                            </td>
                                        </ng-container>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="guardian-grid-paginator">
                                <app-paginator
                                    class="guardian-grid-paginator"
                                    [pageIndex]="keyPageIndex"
                                    [pageSize]="keyPageSize"
                                    [length]="keyCount"
                                    (page)="onKeyPage($event)"
                                ></app-paginator>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #noData>
                        <div class="guardian-user-not-data">
                            <svg-icon
                                class="svg-icon-32"
                                src="/assets/images/icons/32/list.svg"
                                svgClass="icon-color-disabled"></svg-icon>
                            <span class="guardian-user-not-data__text-strong">There are no keys</span>
                            <span class="guardian-user-not-data__text">Please import or generate a new key</span>
                        </div>
                    </ng-template>
                </div>
            </ng-container>
        </div>
    </ng-container>
    <ng-template #elseTemplate>
        <div *ngIf="isNewAccount && !isFailed && !loading" class="finish-setup-main-container">
            <div class="user-profile-setup-title">User Profile Setup</div>

            <div class="content-main-block-container">
                <div class="progress-container">
                    <div
                        *ngFor="let step of visibleSteps"
                        [ngClass]="{ active: step === currentStep }"
                        class="step-item"
                    >
                        <i [ngClass]="step === currentStep ? 'pi-check' : 'pi-angle-right'" class="pi"></i>
                        <p>{{ step.label }}</p>
                    </div>
                </div>

                <div class="forms-container">
                    <form class="hedera-form">
                        <ng-container *ngIf="currentStep?.id === 'select_sr'">
                            <div class="user-onboarding-wizard__header">
                                <form
                                    *ngIf="hasRegistries"
                                    [formGroup]="filtersForm"
                                    class="user-onboarding-wizard__filters"
                                >
                                    <div class="search-inputs">
                                        <label class="form-label" htmlFor="policyName">
                                            Filter by
                                        </label>

                                        <span class="p-input-icon-right">
                                            <input
                                                formControlName="policyName"
                                                id="policyName"
                                                pInputText
                                                placeholder="Policy name"
                                                type="text"
                                            />
                                            <i class="pi pi-search"></i>
                                        </span>

                                        <span class="p-input-icon-right">
                                            <input
                                                formControlName="geography"
                                                pInputText
                                                placeholder="Geography"
                                                type="text"
                                            />
                                            <i class="pi pi-search"></i>
                                        </span>
                                    </div>

                                    <div class="user-onboarding-wizard__filter-btns">
                                        <p-button
                                            (click)="applyFilters()"
                                            [disabled]="isFilterButtonDisabled"
                                            class="apply-filters-button"
                                            label="Apply"
                                        ></p-button>
                                        <p-button
                                            (click)="clearFilters()"
                                            [disabled]="!filtersForm.dirty"
                                            class="clear-filters-button"
                                            [outlined]=true
                                        >Clear filters</p-button>
                                    </div>
                                </form>
                            </div>

                            <div class="user-onboarding-wizard__content">
                                <ng-container *ngIf="!noFilterResults; else noResults">
                                    <p *ngIf="!hasRegistries" class="no-results">
                                        Standard registries have not been created yet.
                                    </p>

                                    <ul class="standard-registry">
                                        <app-standard-registry-card
                                            (registrySelected)="selectStandardRegistry($event)"
                                            *ngFor="let registry of standardRegistriesList; trackBy: trackByDid"
                                            [isRegistrySelected]="isRegistrySelected(registry.did)"
                                            [registry]="registry"></app-standard-registry-card>
                                    </ul>
                                </ng-container>

                                <ng-template #noResults>
                                    <p *ngIf="noFilterResults" class="no-results">
                                        No results found.
                                    </p>
                                </ng-template>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="currentStep?.id === 'hedera_credentials'">
                            <div class="step-container">
                                <div class="hedera-credentials-title">
                                    Setup User
                                </div>
                                <div class="hedera-credentials-form-container">
                                    <div class="hedera-credentials-subtitle">
                                        User  type
                                    </div>
                                    <form class="hedera-form">
                                        <div class="boolean-option-group">
                                            <div>
                                                <p-radioButton
                                                    name="didType"
                                                    [value]="false"
                                                    [formControl]="locationType"
                                                    class="boolean-option">
                                                </p-radioButton>
                                                <label>Local User</label>
                                            </div>
                                            <div>
                                                <p-radioButton
                                                    name="didType"
                                                    [value]="true"
                                                    [formControl]="locationType"
                                                    class="boolean-option">
                                                </p-radioButton>
                                                <label>Remote User</label>
                                            </div>
                                        </div>
                                    </form>

                                    <div class="hedera-credentials-subtitle" style="margin-top: 32px;">
                                        Hedera Account
                                    </div>
                                    <ng-container *ngIf="!locationType.value; else remoteUser">
                                        <div class="hedera-credentials-help-block">
                                            <h3>Finding Your Details</h3>
                                            <ul>
                                                <li>If you’re already a Hedera network user, locate your Account ID and Private Key from the Hedera portal or your Hedera wallet of choice.</li>
                                                <li>New to Hedera? No worries! Head over to your Hedera wallet of choice or the Hedera Developer Portal to create an account. Remember to select the ED25519 keys for optimal compatibility with Guardian, and use the DER Encoded format for your Private Key.</li>
                                            </ul>
                                        </div>
                                        <form [formGroup]="hederaCredentialsForm" class="hedera-form">
                                            <div class="input-field-container">
                                                <label class="form-label" htmlFor="operatorId">
                                                    * Operator ID (Hedera Account):
                                                </label>
                                                <input
                                                    formControlName="id"
                                                    id="operatorId"
                                                    pInputText
                                                    placeholder="0.0.1548173"
                                                    type="text"
                                                />
                                            </div>
                                            <div class="input-field-container">
                                                <label class="form-label" htmlFor="operatorKey">
                                                    * Operator Key (Hedera Account Private Key):
                                                </label>
                                                <input
                                                    formControlName="key"
                                                    id="operatorKey"
                                                    pInputText
                                                    placeholder="302e020100300506032b657004220420e..."
                                                    type="text"
                                                />
                                            </div>
                                            <div class="input-field-container">
                                                <p-checkbox
                                                    [binary]="true"
                                                    formControlName="useFireblocksSigning"
                                                    inputId="useFireblocksSigning"
                                                    label="Use fireblocks signing"
                                                ></p-checkbox>
                                            </div>
                                            <ng-container *ngIf="hederaCredentialsForm.get('useFireblocksSigning')?.value">
                                                <div class="input-field-container">
                                                    <label class="form-label" htmlFor="fireBlocksVaultId">
                                                        * Fireblocks Vault ID:
                                                    </label>
                                                    <input
                                                        formControlName="fireBlocksVaultId"
                                                        id="fireBlocksVaultId"
                                                        placeholder="0"
                                                        pInputText
                                                        type="text"
                                                    />
                                                </div>
                                                <div class="input-field-container">
                                                    <label class="form-label" htmlFor="fireBlocksAssetId">
                                                        * Fireblocks Asset ID:
                                                    </label>
                                                    <input
                                                        formControlName="fireBlocksAssetId"
                                                        id="fireBlocksAssetId"
                                                        placeholder="ASSET_NAME"
                                                        pInputText
                                                        type="text"
                                                    />
                                                </div>
                                                <div class="input-field-container">
                                                    <label class="form-label" htmlFor="fireBlocksApiKey">
                                                        * Fireblocks API Key:
                                                    </label>
                                                    <input
                                                        formControlName="fireBlocksApiKey"
                                                        id="fireBlocksApiKey"
                                                        autocomplete="off"
                                                        pInputText
                                                        placeholder="00000000-0000-0000-0000-000000000000"
                                                        type="text"
                                                    />
                                                </div>
                                                <div class="input-field-container">
                                                    <label class="form-label" htmlFor="fireBlocksPrivateiKey">
                                                        * Fireblocks Private Key:
                                                    </label>
                                                    <textarea
                                                        formControlName="fireBlocksPrivateiKey"
                                                        id="fireBlocksPrivateiKey"
                                                        autocomplete="off"
                                                        pInputText
                                                        placeholder="-----BEGIN PRIVATE KEY----- ..."
                                                        type="text"
                                                    ></textarea>
                                                </div>
                                            </ng-container>
                                            <p-button
                                                (click)="randomKey()"
                                                class="generate-btn"
                                                label="Generate"
                                                [outlined]=true
                                            >
                                            </p-button>
                                        </form>
                                    </ng-container>
                                    <ng-template #remoteUser>
                                        <form class="hedera-form">
                                            <div class="boolean-option-group remote-user-setup">
                                                <div>
                                                    <p-radioButton
                                                        name="remoteUserSetupType"
                                                        [value]="false"
                                                        [formControl]="remoteUserSetupType"
                                                        class="boolean-option">
                                                    </p-radioButton>
                                                    <label>From File</label>
                                                </div>

                                                <app-file-drag-n-drop
                                                    class="drag-n-drop"
                                                    [multiple]="false"
                                                    [fileExtension]="'user'" 
                                                    (onFileLoaded)="importFromFile($event)"
                                                    [dropZoneLabel]="'Add user .user file'">
                                                </app-file-drag-n-drop>
                                                <div>
                                                    <p-radioButton
                                                        name="remoteUserSetupType"
                                                        [value]="true"
                                                        [formControl]="remoteUserSetupType"
                                                        class="boolean-option">
                                                    </p-radioButton>
                                                    <label>Manual</label>
                                                </div>

                                                <form [formGroup]="remoteCredentialsForm" class="hedera-form">
                                                    <div class="input-field-container">
                                                        <label class="form-label" htmlFor="operatorId">
                                                            * Operator ID (Hedera Account):
                                                        </label>
                                                        <input
                                                            formControlName="id"
                                                            [readonly]="!remoteUserSetupType.value"
                                                            id="operatorId"
                                                            pInputText
                                                            placeholder="0.0.1548173"
                                                            type="text"
                                                        />
                                                    </div>
                                                    <div class="input-field-container">
                                                        <label class="form-label" htmlFor="operatorId">
                                                            * Topic ID:
                                                        </label>
                                                        <input
                                                            formControlName="topicId"
                                                            [readonly]="!remoteUserSetupType.value"
                                                            id="topicId"
                                                            pInputText
                                                            placeholder="0.0.1548173"
                                                            type="text"
                                                        />
                                                    </div>
                                                </form>
                                                <form class="hedera-form">
                                                    <div class="input-field-container">
                                                        <label class="form-label" htmlFor="operatorId">
                                                            DID Document:
                                                        </label>
                                                        <textarea
                                                            pInputTextarea
                                                            id="didDocumentTextarea"
                                                            [formControl]="remoteDidDocumentForm"
                                                            [readonly]="!remoteUserSetupType.value"
                                                            class="full-width"
                                                            placeholder="DID Document: *"
                                                            style="height: 150px"></textarea>
                                                        <small *ngIf="remoteDidDocumentForm.hasError('incorrect')" class="p-error">
                                                            Invalid DID Document.
                                                        </small>
                                                        <small *ngIf="remoteDidDocumentForm.hasError('exists')" class="p-error">
                                                            DID Document already exists.
                                                        </small>
                                                    </div>
                                                </form>
                                            </div>
                                        </form>
                                    </ng-template>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="currentStep?.id === 'did_document'">
                            <div class="step-container">
                                <div class="hedera-credentials-title">
                                    Setup User
                                </div>

                                <div class="hedera-credentials-help-block">
                                    <h3>Create a New DID Document with Guardian</h3>
                                    <p>Let us seamlessly generate a new DID Document for you, ensuring a smooth start with your digital identity journey on Guardian.</p>
                                </div>
                                
                                <form class="hedera-form">
                                    <div class="boolean-option-group">
                                        <div>
                                            <p-radioButton
                                                name="didType"
                                                [value]="false"
                                                [formControl]="didDocumentType"
                                                class="boolean-option">
                                            </p-radioButton>
                                            <label>Create a New DID Document with Guardian</label>
                                        </div>
                                        <div>
                                            <p-radioButton
                                                name="didType"
                                                [value]="true"
                                                [formControl]="didDocumentType"
                                                class="boolean-option">
                                            </p-radioButton>
                                            <label>Bring Your Own DID (BYO DID)</label>
                                        </div>
                                    </div>

                                    <div *ngIf="didDocumentType.value" class="example-full-width"
                                            [attr.active-field]="didDocumentType.value">
                                        <div class="form-label" htmlFor="didDocumentTextarea">
                                            DID Document
                                        </div>
                                        <textarea
                                            pInputTextarea
                                            id="didDocumentTextarea"
                                            [formControl]="didDocumentForm"
                                            class="full-width"
                                            placeholder=""
                                            style="height: 150px"></textarea>
                                        <small *ngIf="didDocumentForm.hasError('incorrect')" class="p-error">
                                            Invalid DID Document.
                                        </small>
                                        <small *ngIf="didDocumentForm.hasError('exists')" class="p-error">
                                            DID Document already exists.
                                        </small>
                                    </div>
                                </form>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="currentStep?.id === 'did_document_keys'">
                            <div class="step-container">
                                <div class="hedera-credentials-title">
                                    DID Document signing keys
                                </div>
                                
                                <form class="hedera-form">
                                    <div *ngFor="let item of didKeys" class="group-container">
                                        <div class="hedera-credentials-subtitle">
                                            {{ item.name }}
                                        </div>
                                        <div class="hedera-form-item example-full-width">
                                            <label [htmlFor]="'methodDropdown'" class="form-label">* Method:</label>
                                            <p-dropdown
                                                [options]="item.keyNames"
                                                [formControl]="item.keyNameControl"
                                                optionLabel="name"
                                                optionValue="id"
                                                [appendTo]="'body'"
                                                placeholder="Select a method"
                                                inputId="methodDropdown"
                                                class="full-width">
                                            </p-dropdown>
                                        </div>
                                        <div class="hedera-form-item example-full-width">
                                            <label for="keyInput" class="form-label">* Key:</label>
                                            <input
                                                pInputText
                                                id="keyInput"
                                                placeholder="FRs4qVjqvP9Dh..."
                                                [formControl]="item.keyValueControl"
                                                class="full-width">
                                            <small *ngIf="item.keyValueControl.hasError('incorrect')" class="p-error">
                                                Invalid DID Key
                                            </small>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="currentStep?.id === 'vc_document'">
                            <div class="hedera-credentials-title">
                                VC Document
                            </div>
                            <div *ngIf="schema" class="hedera-credentials-form-container">
                                <form class="hedera-form">
                                    <app-schema-form-root
                                        [formGroup]="vcDocumentForm"
                                        [private-fields]="privateFields"
                                        [schema]="schema"
                                        [showButtons]="false"
                                        (change)="onChangeVcForm()"
                                        (form)="initForm($event)"
                                    >
                                    </app-schema-form-root>
                                </form>
                            </div>
                        </ng-container>
                    </form>
                </div>
            </div>

            <div class="user-profile-setup-buttons-container">
                <div class="user-profile-finish-buttons">
                    <div *ngIf="canPrev()" class="previous-button">
                        <p-button
                            (click)="onPrev()"
                            label="Previous"
                            [outlined]=true
                        ></p-button>
                    </div>

                    <div *ngIf="!isFinish()" class="user-profile-next-button">
                        <p-button
                            (click)="onNext()"
                            [disabled]="!canNext()"
                            label="Next"
                        >
                        </p-button>
                    </div>

                    <div *ngIf="isFinish()" class="confirm-button">
                        <p-button
                            (click)="onNext()"
                            [disabled]="!validForm"
                            label="Confirm"
                        >
                        </p-button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!isNewAccount && !isFailed" class="clock-list">
            <div class="clock-loader"></div>
            <p>Creating DID ...</p>
        </div>

        <div *ngIf="isFailed" class="error-list">
            <p>An error occurred while creating the document.</p>
            <p>Please try again later.</p>
            <button
                (click)="retry()"
                class="generate-btn"
                color="primary"
                mat-raised-button
                type="button"
            >
                Retry
            </button>
        </div>
    </ng-template>
</div>
