<div class="content user-profile">

    <div *ngIf="loading" class="loading">
        <mat-spinner></mat-spinner>
    </div>

    <ng-container *ngIf="isConfirmed; else elseTemplate">
        <div *ngIf="profile" class="user-profile">
            <mat-tab-group>
                <mat-tab label="ACCOUNT">
                    <div class="profile-item">
                        <div class="profile-item-name">HEDERA ID:</div>
                        <div class="profile-item-value"> {{profile.hederaAccountId}}</div>
                    </div>
                    <div class="profile-item">
                        <div class="profile-item-name"> BALANCE:</div>
                        <div class="profile-item-value"> {{balance}}</div>
                    </div>
                    <div class="profile-item">
                        <div class="profile-item-name"> DID:</div>
                        <div class="profile-item-value"> {{profile.did}} </div>
                    </div>
                    <div class="profile-item">
                        <div class="profile-item-name"> DID Document:</div>
                        <div class="profile-item-value">
                            <a (click)="openDocument(didDocument)">View Document</a>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="TOKENS">
                    <ng-container *ngIf="tokens; else elseTemplate">
                        <table mat-table [dataSource]="tokens" class="token-table">
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> TOKEN </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.tokenName}} (<a [href]="element.tokenUrl">{{element.tokenId}}</a>)
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="associated">
                                <th mat-header-cell *matHeaderCellDef> Associated </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="item-color-{{getColor(element.associated,false)}}">
                                        {{element.associated}}
                                        <div class="associated-btn" (click)="associate(element)">
                                            <mat-icon *ngIf="element.associated == 'No'">link</mat-icon>
                                            <mat-icon *ngIf="element.associated == 'Yes'">link_off</mat-icon>
                                        </div>
                                    </div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="hBarBalance">
                                <th mat-header-cell *matHeaderCellDef> hBar Balance </th>
                                <td mat-cell *matCellDef="let element"> {{element.hBarBalance}} </td>
                            </ng-container>
                            <ng-container matColumnDef="tokenBalance">
                                <th mat-header-cell *matHeaderCellDef> Token Balance </th>
                                <td mat-cell *matCellDef="let element"> {{element.tokenBalance}} </td>
                            </ng-container>
                            <ng-container matColumnDef="frozen">
                                <th mat-header-cell *matHeaderCellDef> Frozen </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="item-color-{{getColor(element.frozen,true)}}">
                                        {{element.frozen}}
                                    </div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="kyc">
                                <th mat-header-cell *matHeaderCellDef> KYCd </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="item-color-{{getColor(element.kyc,false)}}">
                                        {{element.kyc}}
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </ng-container>
                </mat-tab>
            </mat-tab-group>
        </div>
    </ng-container>
    <ng-template #elseTemplate>
        <div *ngIf="isNewAccount && !isFailed" class="list">
            <form [formGroup]="hederaForm" (ngSubmit)="onHederaSubmit()">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>OPERATOR ID:</mat-label>
                    <input matInput placeholder="0.0.1548173" formControlName="id">
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>OPERATOR KEY:</mat-label>
                    <input matInput
                        placeholder="302e020100300506.........7e74946abca993f543cf9509c8edc"
                        formControlName="key">
                </mat-form-field>

                <button mat-raised-button type="button" color="primary" class="generate-btn" (click)="randomKey()">Generate</button>
                <button mat-raised-button type="submit" [disabled]="!hederaForm.valid">Submit</button>
            </form>
        </div>
        <div *ngIf="!isNewAccount && !isFailed" class="clock-list">
            <div class="clock-loader"></div>
            <p>Creating DID ... </p>
        </div>
        <div *ngIf="isFailed" class="error-list">
            <p>An error occurred while creating the document.</p>
            <p>Please try again later.</p>
            <button mat-raised-button type="button" color="primary" class="generate-btn" (click)="retry()">Retry</button>
        </div>
    </ng-template>
</div>