form {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.spinner {
    position: absolute;
    left: 18px;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    display: flex;
    align-items: center;
    padding-left: 350px;
}

.content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: block;
}

.loading {
    background: #fff;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.loading-progress {
    width: 80%;
    height: 80%;
}

.random-icon {
    width: 45px;
    height: 45px;
    border: 1px solid #999;
    border-radius: 4px;
    background: url(/assets/pngwing.com.png) 0px 0px / 46px 44px;
    position: absolute;
    top: -89px;
    right: -96px;
    cursor: pointer;
}

.progress {
    width: 300px;
}

.profile {
    padding: 42px 48px;
}

.account {
    max-width: fit-content;
    word-break: break-word;
}

.account-item {
    padding: 15px 0px;
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    font-size: 16px;
}

.account-item-name {
    color: #bababa;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 400;
    min-width: 20%;
}

.token-table,
.retire-table {
    table-layout: fixed;
    width: 100%;
    min-width: 900px;
}

.token-table .mat-column-policies {
    width: 200px;
}

.token-table .mat-column-policies .policies-info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
}

.token-table .mat-column-name {
    min-width: 300px;
}

.user-info-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    grid-row-gap: 16px;
    row-gap: 16px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px 0px #00000014;
    padding: 24px;
    border-radius: 8px;

    .item-header {
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;
        margin-top: 16px;

        &:first-child {
            margin-top: 0px;
        }
    }

    .item {
        display: flex;
        column-gap: 15px;
        align-items: center;

        span {
            color: var(--color-grey-5, #848fa9);
        }

        div,
        .value-text {
            color: var(--color-grey-black-1, #181818);
        }

        span,
        .value-text {
            width: 200px;
            font-family: Inter, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            white-space: nowrap;
        }

        .view-document-button {
            cursor: pointer;
            display: flex;
            column-gap: 8px;
            height: 28px;
            padding: 6px 16px;
            align-items: center;
            border-radius: 6px;
            border: 1px solid var(--color-secondary);

            span {
                width: min-content;
                color: var(--color-primary);
            }
        }
    }
}

.profile .header h1 {
    margin-bottom: 48px;
    width: 100%;
    color: #000;
    font-family: Poppins, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
}

:host ::ng-deep a {
    color: #2c78f6;
    cursor: pointer;
    text-decoration: underline;
}

a[disabled="true"] {
    color: rgb(150, 150, 150);
    cursor: default;
    pointer-events: none;
}

.item-color-red {
    background: red;
    color: #fff;
    width: 42px;
    height: 26px;
    text-align: center;
    align-items: center;
    border-radius: 60px;
    align-content: center;
    display: flex;
    justify-content: center;
    position: relative;
    margin-right: 46px;

    height: 38px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 24px;
    padding: 0 20px;
}

.item-color-grey {
    background: gray;
    color: #fff;
    width: 42px;
    height: 26px;
    text-align: center;
    align-items: center;
    border-radius: 60px;
    align-content: center;
    display: flex;
    justify-content: center;
    position: relative;
    margin-right: 46px;

    height: 38px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 24px;
    padding: 0 20px;
}

.item-color-green {
    background: green;
    color: #fff;
    width: 42px;
    height: 26px;
    text-align: center;
    align-items: center;
    border-radius: 60px;
    align-content: center;
    display: flex;
    justify-content: center;
    position: relative;
    margin-right: 46px;

    height: 38px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 24px;
    padding: 0 20px;
}

.associated-btn {
    position: absolute;
    right: -36px;
    color: #00f;
    height: 26px;
    width: 26px;
    cursor: pointer;
}

.list {
    width: 800px;
    padding: 20px;
    margin: 16px auto;
    border: 1px solid #c7c7c7;
    border-radius: 6px;
    position: relative;
}

.clock-loader {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: 3px solid #3f51b5;
    border-radius: 50%;
}

.clock-loader::before,
.clock-loader::after {
    position: absolute;
    content: "";
    top: calc(4rem / 2 * 0.25);
    width: 0.2rem;
    background: #3f51b5;
    border-radius: 10px;
    transform-origin: center calc(100% - 0.2rem / 2);
    animation: spin infinite linear;
}

.clock-loader::before {
    height: calc(4rem * 0.4);
    animation-duration: 2s;
}

.clock-loader::after {
    top: calc(4rem / 2 * 0.25 + 4rem * 0.2);
    height: calc(4rem * 0.2);
    animation-duration: 15s;
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

.error-list,
.clock-list {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    padding: 20px 20px 20px 20px;
    margin: 20px;
    /*border: 1px solid #c7c7c7;*/
    border-radius: 6px;
    position: relative;
    color: #3f51b5;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.clock-list p {
    margin: 18px 0 18px 0;
}

.error-list p {
    font-size: 20px;
    margin: 0 0 16px 0;
    color: #000000;
}

.error-list button {
    margin: 30px 0 0 0;
}

.list-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.cancel-action-btn,
.view-action-btn {
    color: #fff;
    border-radius: 6px;
    display: inline-block;
    padding: 6px 0;
    width: 200px;
    margin: 0px 5px;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.view-action-btn {
    background: #4caf50;
}

.cancel-action-btn {
    background: darkred;
}

.approved-request {
    background-color: #d1f1c8;
}

.token-table .mat-column-tags {
    max-width: 175px;
    min-width: 175px;
    width: 175px;
    border-left: 1px solid #dddddd;
    padding-left: 10px;
}

.centered-text {
    text-align: center;
}

:host::ng-deep {
    .hedera-form-item {
        .p-dropdown {
            width: 100%;
            border-radius: 8px;
        }
    }

    .mat-tab-header {
        max-width: fit-content;
    }

    .mat-tab-label {
        font-size: 16px;
        font-weight: 400;
        opacity: unset;

        &-active {
            color: #2c78f6;
        }
    }

    .mat-ink-bar {
        background-color: #2c78f6 !important;
    }

    .mat-stepper-horizontal {
        height: 100%;
        display: flex;
        flex-flow: column;
    }

    .mat-horizontal-stepper-header-container {
        padding: 20px 70px 0;
        flex-grow: 0;
    }

    .mat-horizontal-content-container {
        padding: 15px 75px 0 100px;
        flex-grow: 1;
    }

    .mat-horizontal-stepper-content {
        display: flex;
        flex-flow: column;
        height: 100%;

        .mat-stroked-button {
            border-radius: 25px;
            font-size: 16px;
            width: 180px;
            height: 50px;
        }

        .mat-stroked-button:not(.mat-button-disabled) {
            color: var(--button-primary-color);
            border: 1px solid var(--button-primary-color);
        }

        .mat-raised-button {
            font-size: 16px;
            width: 180px;
            height: 50px;
            margin-left: auto;
        }
    }

    .mat-step-label {
        font-size: 18px;
        font-weight: 400;
    }

    .mat-step-icon {
        padding: 4px;
        font-size: 16px;
        background-color: var(--button-primary-color);
    }

    .mat-step-icon:not(.mat-step-icon-selected),
    .mat-step-label:not(.mat-step-label-selected) {
        opacity: 0.3;
    }

    .user-onboarding-wizard__filters {
        .mat-raised-button {
            width: auto;
            margin-left: 0;
            margin: 0 20px;
        }

        .mat-form-field-wrapper {
            padding-bottom: 0;
        }

        .mat-form-field-infix {
            padding: 1.3em 0 1em 0;
            border-top: unset;
        }
    }
}

.user-onboarding-wizard {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 15px;
    }

    &__title {
        font-size: 40px;
        font-weight: 400;
        flex-grow: 0;
        margin: 0;
    }

    &__filters {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: fit-content;
        margin-right: 20px;
        font-size: 16px;
    }

    &__control {
        margin-left: 20px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: scroll;
        padding-right: 10px;
        flex-grow: 1;
    }

    &__footer {
        display: flex;
        align-items: center;
        flex-grow: 0;
        padding: 30px 0;
        width: 100%;
        background-color: #ffffff;
    }
}

.standard-registry {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(385px, 1fr));
    grid-template-rows: auto;
    column-gap: 25px;
    row-gap: 30px;
    padding: 0;
}

.no-results {
    font-size: 24px;
    color: #8a8a8a;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

@media (max-width: 810px) {
    .profile {
        padding: 20px 15px;
    }

    .account {
        border: 1px solid #e0e0e0;
        border-radius: 10px;
        padding: 2px 20px 20px;
        margin-top: 20px;

        &-item-name {
            min-width: 38%;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    .list {
        width: 100%;
        padding: 0;
        left: 10px;

        &__title {
            margin-bottom: 15px;
        }
    }

    .user-onboarding-wizard {
        &__title {
            font-size: 30px;
            margin-bottom: 8px;
        }

        &__footer {
            padding: 15px 0;
        }

        &__filters {
            align-items: flex-end;
        }

        &__filters div {
            width: 50%;
        }

        &__control {
            margin: 0;
            width: 100%;
        }

        &__filter-btns {
            display: flex;
            height: 90px;
            flex-direction: column;
            justify-content: space-around;

            .mat-button-base {
                width: 100%;
                margin: 0 0 0 20px;
                height: auto;
            }
        }
    }

    .standard-registry {
        grid-template-columns: auto;
    }

    :host::ng-deep {
        .mat-tab-header {
            max-width: 100%;
        }

        .mat-tab-labels {
            justify-content: space-around;
        }

        .mat-horizontal-stepper-header-container {
            padding: 0 0 6px;
        }

        .mat-horizontal-content-container {
            padding: 0 20px;

            .mat-stroked-button,
            .mat-raised-button {
                width: 45%;
            }
        }
    }
}

.user-profile-setup-title {
    color: #000;
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 24px;
    padding-top: 56px;
    padding-left: 48px;
}

.content-main-block-container {
    display: flex;
    padding-left: 48px;
    padding-right: 24px;
    position: absolute;
    left: 0;
    top: 120px;
    right: 0;
    bottom: 64px;
}

.progress-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 264px;
    min-width: 264px;
    padding: 8px 0;
    border-radius: 8px;
    border: 1px solid var(--color-grey-3, #e1e7ef);
    background: var(--color-grey-white, #fff);
    height: fit-content;
}

.step-item {
    display: flex;
    align-items: center;
    height: 56px;
    padding: 8px 24px;

    i,
    svg {
        padding: 4px;
        margin-right: 8px;
        width: 24px;
        height: 24px;
        border-radius: 24px;
        background: var(--color-grey-3, #e1e7ef);
        color: white;
    }

    p {
        margin: 0;
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: var(--color-grey-5, #c4d0e1);
    }
}

.step-item.active {
    background: rgba(6, 129, 238, 0.08);

    i,
    svg {
        padding: 4px;
        margin-right: 8px;
        width: 24px;
        height: 24px;
        border-radius: 24px;
        background: var(--color-primary, #0031ff);
        color: white;
    }

    p {
        margin: 0;
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: var(--color-primary, #0031ff);
    }
}

.forms-container {
    margin-left: 24px;
    margin-bottom: 65px;
    overflow: auto;
    width: 100%;
}

.hedera-credentials-title {
    margin-bottom: 24px;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.hedera-credentials-subtitle {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.hedera-credentials-help-block {
    margin: 16px 0;
    padding: 24px;
    color: var(--color-grey-black-2, #23252E);
    background-color: var(--grey-grey-1, #F9FAFC);
    border-radius: 8px;
    border: 1px solid var(--color-grey-3, #E1E7EF);

    h3 {
        margin: 0 0 16px 0;
        text-align: center;
    }

    p {
        margin: 0;
    }

    ul {
        margin: 0;
        padding-left: 24px;
    }
}

.user-profile-setup-buttons-container {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 64px;
    border-top: 1px solid var(--color-grey-3, #e1e7ef);
    background: #fff;
}

.apply-filters-button {
    ::ng-deep .p-button {
        background: var(--button-primary-color);
        font-family: Inter, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        height: 40px;
        border-radius: 8px;
    }

    margin-left: 10px;
}

.download-button {
    ::ng-deep .p-button {
        font-family: Inter, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        height: 40px;
        border-radius: 8px;
        background: var(--color-primary);
        border: 1px solid var(--color-primary);
    }
}

.clear-filters-button {
    ::ng-deep .p-button-outlined {
        color: var(--button-primary-color);
        font-family: Inter, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        margin-left: 10px;
        background-color: #ffffff;
        height: 40px;
        border: 1px solid var(--color-secondary);
        border-radius: 8px;
    }
}

.form-label {
    margin-right: 8px;
    margin-bottom: 6px;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    color: var(--color-grey-black-1, #181818);
}

.search-inputs {
    ::ng-deep {
        .p-inputtext {
            width: 200px;
            border-radius: 8px;
            border: 1px solid var(--color-grey-3, #e1e7ef);
            background: var(--color-grey-white, #fff);
            margin-right: 8px;
        }

        .p-input-icon-right>i:last-of-type {
            right: 1.5rem;
        }
    }
}

.user-profile-next-button {
    margin-left: auto;
    margin-right: 42px;

    ::ng-deep {
        .p-button {
            width: 120px;
            border-radius: 8px;
            background: var(--button-primary-color);
        }
    }
}

.user-profile-finish-buttons {
    display: flex;
    width: 100%;
}

.previous-button {
    margin-left: 48px;

    ::ng-deep {
        .p-button {
            width: 120px;
            border-radius: 8px;
            border: 1px solid var(--button-primary-color);
            color: var(--button-primary-color);
        }
    }
}

.confirm-button {
    margin-left: auto;
    margin-right: 42px;

    ::ng-deep {
        .p-button {
            width: 120px;
            border-radius: 8px;
            background: var(--button-primary-color);
        }
    }
}

.generate-btn {
    ::ng-deep {
        .p-button {
            width: 100%;
            height: 40px;
            margin-bottom: 24px;
            border-radius: 8px;
            border: 1px solid var(--primary-color);
            color: var(--primary-color);
            font-family: Inter, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
        }
    }
}

.step-container {
    width: 100%;
    padding: 24px;
    background: var(--color-grey-white);
    border-radius: 8px;
    border: 1px solid var(--color-grey-3);
}

.hedera-credentials-form-container {
    width: 100%;
    margin-top: 24px;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid var(--color-grey-3);
    background: var(--color-grey-white);
}

.hedera-form {
    width: 100%;
}

.hedera-form-item {
    display: flex;
    flex-direction: column;

    label {
        display: block;
    }

    input {
        width: 100%;
        border-radius: 8px;
    }
}

.input-field-container {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
        margin-bottom: 16px;
    }

    input,
    textarea {
        border-radius: 8px;
    }
}


mat-radio-button {
    display: block;
    height: 30px;
}

*[active-field="false"] {
    opacity: 0.6;
    pointer-events: none;
}

.group-container {
    &:not(:last-child) {
        margin-bottom: 24px;
    }

    &>* {
        width: 100%;
        display: block;
        margin-bottom: 8px;
    }
}

.primary-color {
    fill: var(--color-primary, #0031ff);
    color: var(--color-primary, #0031ff);
}

.example-full-width {
    margin-top: 20px
}

.example-full-width textarea {
    width: 100%;
    border-radius: 8px;

    &:focus {
        border: none
    }
}

.example-full-width label {
    width: 100%;
    border-radius: 8px;

    &:focus {
        border: none
    }
}

.boolean-option-group {
    margin-top: 16px;
    display: flex;
    gap: 24px;

    label {
        margin-left: 8px;
    }
}

.remote-user-setup {
    flex-direction: column;
}

.tabs-nav {
    margin: 24px 0px;
}

.guardian-button {
    height: 40px;
    margin-left: 18px;
    min-width: 140px;
}

.guardian-user-page-toolbar {
    display: flex;
    height: 40px;
    justify-content: flex-end;
    margin-bottom: 18px;

    .guardian-user-page-filters {
        width: 100%;

        .search-filter {
            max-width: 400px;
            position: relative;

            .search-icon {
                position: absolute;
                right: 12px;
                top: 12px;
                pointer-events: none;
            }

        }
    }
}

.guardian-user-not-data {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-grey-black-2);
    font-family: var(--font-family-inter);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    justify-content: center;

    &__text {
        color: var(--color-grey-5, #848fa9);
        text-align: center;
        font-family: var(--font-family-inter);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__text-strong {
        color: var(--color-grey-5, #848fa9);
        text-align: center;
        font-family: var(--font-family-inter);
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

.guardian-user-page-grid {
    min-height: calc(100vh - 500px);
    width: 100%;
    position: relative;
}

.balance-cell {
    display: flex;

    .balance-container {
        width: 132px;
        height: 24px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 8px;
    }

    .last-update {
        width: 132px;
        height: 24px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 8px;
    }
}

.balance-header {
    display: flex;
    position: relative;

    .balance-container {
        width: 132px;
        height: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 8px;
    }

    .balance-button {
        position: absolute;
        top: -3px;
        right: 5px;
    }
}

.balance-button {
    width: 20px;
    height: 20px;
    margin: 4px;
    border-radius: 2px;
}

.balance-loading {
    --loading-base-color: #EFF3F7;
    --loading-shine-color: #f4f4f4;

    float: left;
    width: 125px;
    height: 18px;
    margin-top: 3px;
    border-radius: 7px;
    background-color: #EFF3F7;
    background-image: linear-gradient(90deg,
            #EFF3F7 0px,
            #fdfdfd 25px,
            #EFF3F7 50px);
    background-size: 600px;
    animation: shine-lines 4s infinite linear;
}

@keyframes shine-lines {
    0% {
        background-position: -100px;
    }

    25% {
        background-position: 300px;
    }

    100% {
        background-position: 300px;
    }
}

.guardian-user-page-buttons {
    display: flex;
    flex-direction: row;

    button {
        padding: 0px 16px;
    }
}

.grid-btn {
    margin: 0px !important;
    height: 32px !important;
    min-width: 110px !important;
}

:host ::ng-deep .p-tabview-nav-link {
    text-decoration: none !important;
}