form {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.spinner {
    position: absolute;
    left: 18px;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    display: flex;
    align-items: center;
    padding-left: 350px;
}

.content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: block;
}

.loading {
    background: #fff;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.random-icon {
    width: 45px;
    height: 45px;
    border: 1px solid #999;
    border-radius: 4px;
    background: url(/assets/pngwing.com.png) 0px 0px / 46px 44px;
    position: absolute;
    top: -89px;
    right: -96px;
    cursor: pointer;
}


.progress {
    width: 300px;
}

.profile-item {
    padding: 20px 20px 0px 20px;
    display: flex;
}

.profile-item-name {
    color: rgb(146 146 146);
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding-right: 20px;
}

.profile-item-json {
    white-space: pre;
    background: rgba(0,0,0,.01);
    color: rgba(0,0,0,.87);
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.2);
    padding: 20px;
}


.token-table {
    width: 100%;
}


a {
    color: rgb(0, 0, 238);
    cursor: pointer;
    text-decoration: underline;
}
a[disabled="true"]{
    color: rgb(150, 150, 150);
    cursor: default;
    pointer-events: none;
}

.item-color-red {
    background: red;
    color: #fff;
    width: 42px;
    height: 26px;
    text-align: center;
    align-items: center;
    border-radius: 60px;
    align-content: center;
    display: flex;
    justify-content: center;
    position: relative;
    margin-right: 46px;

    height: 38px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 24px;
    padding: 0 20px;
}

.item-color-grey {
    background: gray;
    color: #fff;
    width: 42px;
    height: 26px;
    text-align: center;
    align-items: center;
    border-radius: 60px;
    align-content: center;
    display: flex;
    justify-content: center;
    position: relative;
    margin-right: 46px;

    height: 38px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 24px;
    padding: 0 20px;
}

.item-color-green {
    background: green;
    color: #fff;
    width: 42px;
    height: 26px;
    text-align: center;
    align-items: center;
    border-radius: 60px;
    align-content: center;
    display: flex;
    justify-content: center;
    position: relative;
    margin-right: 46px;

    height: 38px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 24px;
    padding: 0 20px;
}

.associated-btn {
    position: absolute;
    right: -36px;
    color: #00f;
    height: 26px;
    width: 26px;
    cursor: pointer;
}

.list {
    width: 800px;
    padding: 20px 20px 20px 20px;
    margin: 20px;
    border: 1px solid #c7c7c7;
    border-radius: 6px;
    position: relative;
}

.clock-loader {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: 3px solid #3f51b5;
    border-radius: 50%;
}

.clock-loader::before,
.clock-loader::after {
    position: absolute;
    content: "";
    top: calc( 4rem / 2 * 0.25);
    width: 0.2rem;
    background: #3f51b5;
    border-radius: 10px;
    transform-origin: center calc(100% - 0.2rem / 2);
    animation: spin infinite linear;
}

.clock-loader::before {
    height: calc(4rem * 0.4);
    animation-duration: 2s;
}

.clock-loader::after {
    top: calc( 4rem / 2 * 0.25 + 4rem * 0.2);
    height: calc(4rem * 0.2);
    animation-duration: 15s;
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

.error-list,
.clock-list {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    padding: 20px 20px 20px 20px;
    margin: 20px;
    /*border: 1px solid #c7c7c7;*/
    border-radius: 6px;
    position: relative;
    color: #3f51b5;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.clock-list p {
    margin: 18px 0 18px 0;
}

.error-list p {
    font-size: 20px;
    margin: 0 0 16px 0;
    color: #000000;
}

.error-list button {
    margin: 30px 0 0 0;
}

.generate-btn {
    margin-bottom: 20px;
}