<div class="content user-profile">
    <div *ngIf="loading && !taskId" class="loading">
        <div class="preloader-image preloader-image-l-size"></div>
    </div>

    <async-progress
        (completed)="onAsyncCompleted()"
        (error)="onAsyncError($event)"
        *ngIf="loading && taskId"
        [taskId]="taskId"
    ></async-progress>

    <ng-container *ngIf="isConfirmed; else elseTemplate">
        <div *ngIf="profile" class="profile">
            <div class="header">
                <h1>Profile</h1>
            </div>
            <div class="user-info-container">
                <div class="item">
                    <span>HEDERA ID</span>
                    <div>
                        <hedera-explorer [params]="profile.hederaAccountId || ''" type="accounts">
                            {{ profile.hederaAccountId }}
                        </hedera-explorer>
                    </div>
                </div>
                <div class="item">
                    <span>BALANCE</span>
                    <span>{{ balance }}</span>
                </div>
                <div *ngIf="profile.topicId" class="item">
                    <span>USER TOPIC</span>
                    <div>
                        <hedera-explorer [params]="profile.topicId" type="topics">
                            {{ profile.topicId }}
                        </hedera-explorer>
                    </div>
                </div>
                <div class="item">
                    <span>Standard Registry</span>
                    <span>{{ profile.parent }}</span>
                </div>
                <div class="item">
                    <span>DID</span>
                    <span>{{ profile.did }}</span>
                </div>
                <div class="item">
                    <span>DID Document</span>
                    <div
                        (click)="openDIDDocument(didDocument, 'DID')"
                        class="view-document-button"
                    >
                        <svg-icon class="svg-icon-16" src="/assets/images/icons/16/file.svg" svgClass="primary-color">
                        </svg-icon>
                        <span>View document</span>
                    </div>
                </div>
                <div *ngIf="vcDocument" class="item">
                    <span>VC Document</span>
                    <div
                        (click)="openVCDocument(vcDocument, 'VC')"
                        class="view-document-button"
                    >
                        <svg-icon class="svg-icon-16" src="/assets/images/icons/16/file.svg" svgClass="primary-color">
                        </svg-icon>
                        <span>View document</span>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #elseTemplate>
        <div *ngIf="isNewAccount && !isFailed && !loading" class="finish-setup-main-container">
            <div class="user-profile-setup-title">User Profile Setup</div>

            <div class="content-main-block-container">
                <div class="progress-container">
                    <div
                        *ngFor="let step of visibleSteps"
                        [ngClass]="{ active: step.index === currentStep }"
                        class="step-item"
                    >
                        <i
                            [ngClass]="step.index === currentStep
                                ? 'pi-check'
                                : 'pi-angle-right'"
                            class="pi"
                        ></i>
                        <p>{{ step.label }}</p>
                    </div>
                </div>

                <div class="forms-container">
                    <form [formGroup]="fullForm" class="hedera-form">

                        <ng-container *ngIf="currentStep === 0">
                            <div class="user-onboarding-wizard__header">
                                <form
                                    *ngIf="hasRegistries"
                                    [formGroup]="filtersForm"
                                    class="user-onboarding-wizard__filters"
                                >
                                    <div class="search-inputs">
                                        <label class="form-label" htmlFor="policyName">
                                            Filter by
                                        </label>

                                        <span class="p-input-icon-right">
                                            <input
                                                formControlName="policyName"
                                                id="policyName"
                                                pInputText
                                                placeholder="Policy name"
                                                type="text"
                                            />
                                            <i class="pi pi-search"></i>
                                        </span>

                                        <span class="p-input-icon-right">
                                            <input
                                                formControlName="geography"
                                                pInputText
                                                placeholder="Geography"
                                                type="text"
                                            />
                                            <i class="pi pi-search"></i>
                                        </span>
                                    </div>

                                    <div class="user-onboarding-wizard__filter-btns">
                                        <p-button
                                            (click)="applyFilters()"
                                            [disabled]="isFilterButtonDisabled"
                                            class="apply-filters-button"
                                            label="Apply"
                                        ></p-button>
                                        <p-button
                                            (click)="clearFilters()"
                                            [disabled]="!filtersForm.dirty"
                                            class="clear-filters-button"
                                            styleClass="p-button-outlined"
                                        >Clear filters</p-button>
                                    </div>
                                </form>
                            </div>

                            <div class="user-onboarding-wizard__content">
                                <ng-container *ngIf="!noFilterResults; else noResults">
                                    <p *ngIf="!hasRegistries" class="no-results">
                                        Standard registries have not been created
                                        yet.
                                    </p>

                                    <ul class="standard-registry">
                                        <app-standard-registry-card
                                                (registrySelected)="selectStandardRegistry($event)"
                                                *ngFor="let registry of standardRegistriesList; trackBy: trackByDid"
                                                [isRegistrySelected]="isRegistrySelected(registry.did)"
                                            [registry]="registry"></app-standard-registry-card>
                                    </ul>
                                </ng-container>

                                <ng-template #noResults>
                                    <p *ngIf="noFilterResults" class="no-results">
                                        No results found.
                                    </p>
                                </ng-template>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="currentStep === 1">
                            <div class="hedera-credentials-title">
                                Hedera Credentials
                            </div>

                            <div class="hedera-credentials-form-container">
                                <form [formGroup]="hederaCredentialsForm" class="hedera-form">
                                    <div class="input-field-container">
                                        <label class="form-label" htmlFor="operatorId">
                                            * OPERATOR ID (Hedera Account):
                                        </label>
                                        <input
                                            formControlName="id"
                                            id="operatorId"
                                            pInputText
                                            placeholder="0.0.1548173"
                                            type="text"
                                        />
                                    </div>
                                    <div class="input-field-container">
                                        <label class="form-label" htmlFor="operatorKey">
                                            * OPERATOR KEY (Hedera Account Private Key):
                                        </label>
                                        <input
                                            formControlName="key"
                                            id="operatorKey"
                                            pInputText
                                            placeholder="302e020100300506032b657004220420e..."
                                            type="text"
                                        />
                                    </div>
                                    <div class="input-field-container">
                                        <p-checkbox
                                                [binary]="true"
                                                formControlName="useFireblocksSigning"
                                                inputId="useFireblocksSigning"
                                                label="Use fireblocks signing"
                                        ></p-checkbox>
                                    </div>
                                    <ng-container *ngIf="hederaCredentialsForm.get('useFireblocksSigning')?.value">
                                        <div class="input-field-container">
                                            <label class="form-label" htmlFor="fireBlocksVaultId">
                                                * Fireblocks Vault ID:
                                            </label>
                                            <input
                                                    formControlName="fireBlocksVaultId"
                                                    id="fireBlocksVaultId"
                                                    placeholder="0"
                                                    pInputText
                                                    type="text"
                                            />
                                        </div>
                                        <div class="input-field-container">
                                            <label class="form-label" htmlFor="fireBlocksAssetId">
                                                * Fireblocks Asset ID:
                                            </label>
                                            <input
                                                    formControlName="fireBlocksAssetId"
                                                    id="fireBlocksAssetId"
                                                    placeholder="ASSET_NAME"
                                                    pInputText
                                                    type="text"
                                            />
                                        </div>
                                        <div class="input-field-container">
                                            <label class="form-label" htmlFor="fireBlocksApiKey">
                                                * Fireblocks API Key:
                                            </label>
                                            <input
                                                    formControlName="fireBlocksApiKey"
                                                    id="fireBlocksApiKey"
                                                    autocomplete="off"
                                                    pInputText
                                                    placeholder="00000000-0000-0000-0000-000000000000"
                                                    type="text"
                                            />
                                        </div>
                                        <div class="input-field-container">
                                            <label class="form-label" htmlFor="fireBlocksPrivateiKey">
                                                * Fireblocks Private Key:
                                            </label>
                                            <textarea
                                                    formControlName="fireBlocksPrivateiKey"
                                                    id="fireBlocksPrivateiKey"
                                                    autocomplete="off"
                                                    pInputText
                                                    placeholder="-----BEGIN PRIVATE KEY----- ..."
                                                    type="text"
                                            ></textarea>
                                        </div>
                                    </ng-container>
                                    <p-button
                                        (click)="randomKey()"
                                        class="generate-btn"
                                        label="Generate"
                                        styleClass="p-button-outlined"
                                    >
                                    </p-button>
                                </form>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="currentStep === 2">
                            <div class="hedera-credentials-title">
                                DID Document
                            </div>

                            <div class="hedera-credentials-form-container">
                                <form class="hedera-form">
                                    <mat-radio-group [formControl]="didDocumentType" (change)="onChangeDidType()">
                                        <mat-radio-button [value]="false" class="boolean-option"color="primary">
                                            Generate new DID document.
                                        </mat-radio-button>
                                        <mat-radio-button [value]="true" class="boolean-option" color="primary">
                                            Custom DID document.
                                        </mat-radio-button>
                                    </mat-radio-group>
                                    <mat-form-field appearance="outline" class="example-full-width" [attr.active-field]="didDocumentType.value">
                                        <mat-label>DID Document:</mat-label>
                                        <textarea [formControl]="didDocumentForm" matInput
                                                  style="height: 150px"></textarea>
                                        <mat-error *ngIf="didDocumentForm.hasError('incorrect')">
                                            Invalid DID Document.
                                        </mat-error>
                                        <mat-error *ngIf="didDocumentForm.hasError('exists')">
                                            DID Document already exists.
                                        </mat-error>
                                    </mat-form-field>
                                </form>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="currentStep === 3">
                            <div class="hedera-credentials-title">
                                DID Document signing keys
                            </div>

                            <div class="hedera-credentials-form-container">
                                <form class="hedera-form">
                                    <div *ngFor="let item of didKeys" class="group-container">
                                        <label class="form-label" [htmlFor]="item.name">
                                            {{item.name}}:
                                        </label>
                                        <mat-form-field appearance="outline" class="example-full-width">
                                            <mat-label>* Method:</mat-label>
                                            <mat-select [formControl]="item.keyNameControl">
                                                <mat-option *ngFor="let keyItem of item.keyNames" [value]="keyItem.id">
                                                    {{keyItem.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field class="example-full-width" appearance="outline">
                                            <mat-label>* Key:</mat-label>
                                            <input matInput placeholder="FRs4qVjqvP9Dh..." [formControl]="item.keyValueControl">
                                            <mat-error *ngIf="item.keyValueControl.hasError('incorrect')">
                                                Invalid DID Key
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </form>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="currentStep === 4">
                            <div class="hedera-credentials-title">
                                VC Document
                            </div>
                            <div *ngIf="schema" class="hedera-credentials-form-container">
                                <form class="hedera-form">
                                    <app-schema-form
                                        (change)="onChangeVcForm()"
                                        [formGroup]="vcDocumentForm"
                                        [private-fields]="privateFields"
                                        [schema]="schema"
                                        [showButtons]="false"
                                    >
                                    </app-schema-form>
                                </form>
                            </div>
                        </ng-container>

                    </form>

                </div>
            </div>

            <div class="user-profile-setup-buttons-container">
                <div class="user-profile-finish-buttons">
                    <div *ngIf="currentStep !== 0"class="previous-button">
                        <p-button
                            (click)="onPrev()"
                            label="Previous"
                            styleClass="p-button-outlined"
                        ></p-button>
                    </div>

                    <div *ngIf="!isFinish()" class="user-profile-next-button">
                        <p-button
                            (click)="onNext()"
                            [disabled]="!canNext()"
                            label="Next"
                        >
                        </p-button>
                    </div>

                    <div *ngIf="isFinish()" class="confirm-button">
                        <p-button
                            (click)="onNext()"
                            [disabled]="!validForm"
                            label="Submit"
                        >
                        </p-button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!isNewAccount && !isFailed" class="clock-list">
            <div class="clock-loader"></div>
            <p>Creating DID ...</p>
        </div>
        <div *ngIf="isFailed" class="error-list">
            <p>An error occurred while creating the document.</p>
            <p>Please try again later.</p>
            <button
                (click)="retry()"
                class="generate-btn"
                color="primary"
                mat-raised-button
                type="button"
            >
                Retry
            </button>
        </div>
    </ng-template>
</div>
