<!-- UI Prop -->
@if (properties) {
  <table class="properties" [attr.readonly]="readonly">
  <colgroup><col class="col-toggle"><col class="col-name"><col class="col-value"></colgroup>
    <tr class="propRow">
      <td class="propRowCol"></td>
      <td class="propRowCell cellName">Type</td>
      <td class="propRowCell">
        <p-select
          [options]="typeOptions"
          [(ngModel)]="properties.type"
          [disabled]="readonly"
          (onChange)="onSave()"
          appendTo="body"
          placeholder="Select a type"
          >
        </p-select>
      </td>
    </tr>
    <tr class="propRow">
      <td class="propRowCol"></td>
      <td class="propRowCell cellName">Query Type</td>
      <td class="propRowCell">
        <p-select
          [options]="queryTypeOptions"
          [(ngModel)]="properties.queryType"
          [disabled]="readonly"
          (onChange)="onSave()"
          appendTo="body"
          >
          <ng-template pTemplate="item" let-item>
            <span>{{item.label}}</span>
          </ng-template>
        </p-select>
      </td>
    </tr>
    <tr class="propRow">
      <td class="propRowCol"></td>
      <td class="propRowCell cellName">Can Be Empty</td>
      <td class="propRowCell">
        <p-toggleswitch
          [(ngModel)]="properties.canBeEmpty"
          [disabled]="readonly"
          (onChange)="onSave()">
        </p-toggleswitch>
      </td>
    </tr>
    <tr class="propRow">
      <td class="propRowCol"></td>
      <td class="propRowCell cellName">Url</td>
      <td class="propRowCell">
        <input class="prop-input" [(ngModel)]="properties.url" [readonly]="readonly" (blur)="onSave()">
      </td>
    </tr>
    <tr class="propRow">
      <td class="propRowCol"></td>
      <td class="propRowCell cellName">Headers</td>
      <td class="propRowCell">
        <input class="prop-input" [(ngModel)]="properties.headers" [readonly]="readonly" (blur)="onSave()">
      </td>
    </tr>
  </table>
}
