.guardian-page {
    position: relative;
    padding: 0px;
    user-select: none;

    .header-container {
        padding: 56px 48px 10px 48px;
        background: var(--guardian-primary-color, #4169E2);
        min-height: 178px;
        height: 178px;

        .guardian-user-back-button {
            button {
                border-color: var(--guardian-background, #FFFFFF);
            }
        }

        .guardian-user-page-header {
            color: var(--guardian-background, #FFFFFF);
        }


        .policy-name {
            color: var(--guardian-background, #FFFFFF);
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            position: absolute;
            top: 34px;
            right: 0;

            .policy-version {
                padding-left: 16px;
            }
        }
    }

    .actions-container {
        min-height: 64px;
        height: 64px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 12px 48px;
        background: var(--guardian-background, #FFFFFF);
        border-top: 1px solid var(--guardian-border-color, #E1E7EF);
        position: relative;
        overflow: hidden;

        button {
            height: 40px;
            width: 135px;
            margin-left: 16px;
        }

        .guardian-step-container {
            height: 40px;
            width: 620px;
        }
    }

    .body-container {
        position: absolute;
        left: 0;
        right: 0;
        top: 178px;
        bottom: 0;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        background: #f9fafc;
    }

    .step-container {
        min-height: 40px;
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0px;
        background: var(--guardian-background, #FFFFFF);
        border-bottom: 1px solid var(--guardian-border-color, #E1E7EF);
        position: relative;
        box-shadow: 0px 4px 8px 0px var(--guardian-shadow, #00000014);
    }

    .step-body-container {
        width: 100%;
        height: 100%;
        user-select: none;
        position: relative;

        .overview-viewer {
            padding: 24px 48px;

            form {
                box-shadow: 0px 4px 8px 0px var(--guardian-shadow, #00000014);
                background: var(--guardian-background, #FFFFFF);
                padding: 24px 24px 2px 24px;
                border-radius: 8px;

                .guardian-input-container {
                    margin-bottom: 24px;
                }
            }
        }

        .imports-viewer {
            padding: 24px 48px;

            .import-toolbar {
                height: 40px;
                margin-bottom: 16px;
                display: flex;
                justify-content: flex-end;

                button {
                    width: 110px;
                    height: 40px;
                }
            }

            .import-list {
                box-shadow: 0px 4px 8px 0px var(--guardian-shadow, #00000014);
                background: var(--guardian-background, #FFFFFF);
                padding: 24px 24px 24px 24px;
                border-radius: 8px;
            }

            .import-icon {
                height: 24px;
                display: flex;
                align-items: center;
                text-transform: capitalize;

                svg-icon {
                    margin-right: 8px;
                }
            }
        }

        .navigation-viewer {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            overflow: hidden;

            .navigation-toolbar {
                position: absolute;
                top: 0px;
                bottom: 0px;
                left: 0px;
                width: 240px;
                z-index: 2;
                background: var(--guardian-background, #FFFFFF);
                border-left: 1px solid var(--guardian-border-color, #E1E7EF);
                box-shadow: 0px 0px 4px 0px var(--guardian-shadow, #00000014);
                overflow: hidden;

                .navigation-toolbar-header {
                    font-family: Poppins;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 20px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    padding: 24px 0px 21px 24px;
                }

                .navigation-toolbar-search {}

                .navigation-toolbar-group {
                    padding: 0px 24px 0px 24px;

                    .navigation-toolbar-group-header {
                        font-family: Inter;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 16px;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                        padding: 5px 0px 5px 0px;
                        color: #848FA9;
                        text-transform: uppercase;
                        margin-bottom: 8px;
                        display: flex;
                        flex-direction: row;
                        height: 28px;
                        align-items: center;
                        cursor: pointer;
                    }

                    .navigation-toolbar-group-expanded {
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        margin-right: 8px;
                        border-radius: 50%;
                        padding: 2px;

                        &:hover {
                            background: #e9ecef;
                        }
                    }

                    .navigation-toolbar-group-item {
                        width: 100%;
                        height: 32px;
                        border-radius: 6px;
                        border: 1px solid var(--primary-primary, #4169E2);
                        display: flex;
                        overflow: hidden;
                        flex-direction: row;
                        cursor: pointer;
                        margin-bottom: 8px;
                        box-shadow: 0px 4px 4px 0px #00000014;
                        padding: 0px 8px;
                        align-items: center;

                        .navigation-toolbar-group-item-icon {
                            width: 16px;
                            height: 16px;
                            overflow: hidden;
                        }

                        .navigation-toolbar-group-item-label {
                            font-family: Inter;
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 14px;
                            padding-left: 8px;
                            color: #23252E;
                        }

                        &:last-child {
                            margin-bottom: 16px;
                        }
                    }

                    &[expanded="false"] {
                        .navigation-toolbar-group-item {
                            display: none;
                        }
                    }
                }
            }

            .navigation-tree-container {
                position: absolute;
                left: 252px;
                top: 12px;
                bottom: 0px;
                right: 410px;
                z-index: 1;
                user-select: none;
                padding: 24px;
                background-color: #f9fafc;
                // background-image: linear-gradient(#e8e8e8 0.8px, transparent 0.8px), linear-gradient(90deg, #e8e8e8 0.8px, transparent 0.8px), linear-gradient(#e8e8e8 0.4px, transparent 0.4px), linear-gradient(90deg, #e8e8e8 0.4px, #f9fafc 0.4px);
                // background-size: 20px 20px, 20px 20px, 4px 4px, 4px 4px;
                // background-position: -0.8px -0.8px, -0.8px -0.8px, -0.4px -0.4px, -0.4px -0.4px;
                background-image: radial-gradient(circle, #bfbfbf 1px, #f9fafc 1px);
                background-size: 20px 20px;

                -webkit-transition: right 0.2s ease-in-out;
                -moz-transition: right 0.2s ease-in-out;
                -o-transition: right 0.2s ease-in-out;
                transition: right 0.2s ease-in-out;
                transform: translateZ(0);
                will-change: transform, right;

                &[hidden-config="true"] {
                    right: 0px;
                }

                .navigation-drop-area {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                    z-index: -1;

                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        left: 20px;
                        top: 20px;
                        right: 20px;
                        bottom: 20px;
                        border: 2px dashed var(--guardian-primary-color, #4169E2);
                        background: #f0f3fc75;
                        pointer-events: none;
                        opacity: 0;
                    }

                    &.p-draggable-enter {
                        &::before {
                            opacity: 1;
                            transition-delay: 0.2s;
                            transition-property: opacity;
                        }
                    }
                }

                .navigation-tree-area {
                    padding: 6px 0px;
                    width: fit-content;

                    &[hidden-tree="true"] {
                        display: none;
                    }
                }

                .navigation-tree {
                    width: 100%;
                    height: 100%;

                    &::ng-deep {
                        // ul[role="tree"]>p-treenode>.p-treenode-droppoint {
                        //     display: none !important;
                        // }

                        .p-tree-toggler-icon {
                            height: 24px;
                            width: 24px;
                        }

                        .p-tree-empty-message {
                            display: none;
                        }

                        .p-treenode-droppoint {
                            height: 10px;
                            position: relative;
                            margin: 0px 34px 0px 38px;

                            &.p-treenode-droppoint-active {
                                background-color: transparent !important;

                                &::before {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    right: 0px;
                                    bottom: 3px;
                                    border-bottom: 2px dashed var(--guardian-primary-color, #4169E2);
                                    background: #f0f3fc;
                                }
                            }
                        }

                        .p-treenode-content.p-treenode-selectable {
                            background: transparent !important;
                            color: #495057;
                        }

                        .p-treenode-content.p-treenode-selectable+ul {
                            .p-treenode-droppoint {
                                pointer-events: none;
                                opacity: 0;
                            }
                        }

                        .p-treenode-dragover {
                            .p-treenode-content.p-treenode-selectable+.p-treenode-children {
                                pointer-events: none;
                            }
                        }

                        .p-tree .p-treenode-children {
                            padding: 0 0 0 34px;
                        }

                        .p-treenode-content {
                            position: relative;
                            width: 242px;
                            cursor: pointer;
                            box-shadow: none;
                            padding: 2px 0px;

                            button {
                                box-shadow: none;
                                outline: none;
                            }

                            .navigation-item {
                                height: 32px;
                                width: 200px;
                                border: 1px solid var(--guardian-primary-color, #4169E2);
                                border-radius: 6px;
                                box-shadow: 0px 4px 4px 0px #00000014;
                                padding: 0px 8px;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                background: #fff;

                                .navigation-item-icon {
                                    width: 16px;
                                    height: 16px;
                                    overflow: hidden;
                                }

                                .navigation-item-label {
                                    font-family: Inter;
                                    font-size: 12px;
                                    font-weight: 500;
                                    line-height: 14px;
                                    padding-left: 8px;
                                    color: #23252E;
                                    width: 160px;
                                }

                                &[readonly="true"] {
                                    .navigation-item-edit-icon {
                                        display: none;
                                    }
                                }

                                &[freezed="true"] {
                                    background: #EFF3F7;

                                    .navigation-item-edit-icon {
                                        display: none;
                                    }
                                }

                                &[selected="true"] {
                                    box-shadow: 0 0 0 2px #4169E2;
                                }
                            }

                            &.p-treenode-dragover {
                                background: transparent;
                                position: relative;

                                &::before {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    left: 35px;
                                    top: -2px;
                                    right: 0px;
                                    bottom: -2px;
                                    border: 2px dashed var(--guardian-primary-color, #4169E2);
                                    background: #f0f3fc;
                                    z-index: -2;
                                }

                                &+ul[role="group"] {
                                    position: relative;

                                    &::before {
                                        content: "";
                                        display: block;
                                        position: absolute;
                                        left: 35px;
                                        top: -38px;
                                        right: 0px;
                                        bottom: -2px;
                                        border: 2px dashed var(--guardian-primary-color, #4169E2);
                                        background: #f0f3fc;
                                        z-index: -1;
                                    }
                                }
                            }
                        }

                        // .p-treenode:focus>.p-treenode-content {
                        //     .navigation-item {
                        //         box-shadow: 0 0 0 2px #4169E2;
                        //     }
                        // }
                    }
                }
            }

            .item-config {
                position: absolute;
                top: 0px;
                bottom: 0px;
                right: 0px;
                width: 400px;
                z-index: 3;
                background: var(--guardian-background, #FFFFFF);
                border-left: 1px solid var(--guardian-border-color, #E1E7EF);
                box-shadow: 0px 0px 4px 0px var(--guardian-shadow, #00000014);
                overflow: hidden;
                -webkit-transition: width 0.2s ease-in-out;
                -moz-transition: width 0.2s ease-in-out;
                -o-transition: width 0.2s ease-in-out;
                transition: width 0.2s ease-in-out;
                transform: translateZ(0);
                will-change: transform, width;

                &[hidden-config="true"] {
                    width: 0px;
                }

                .config-close {
                    width: 32px;
                    height: 32px;
                    min-width: 32px;
                    max-width: 32px;
                    position: absolute;
                    padding: 4px;
                    border-radius: 6px;
                    cursor: pointer;
                    top: 17px;
                    right: 16px;

                    &:hover {
                        background: var(--guardian-primary-background);
                    }
                }

                .config-icon {
                    width: 32px;
                    height: 32px;
                    min-width: 32px;
                    max-width: 32px;
                    position: absolute;
                    padding: 4px;
                    top: 16px;
                    left: 16px;
                }

                .item-config-container {
                    width: 400px;
                    height: 100%;
                    display: flex;
                    flex-direction: column;

                    .item-name {
                        width: 400px;
                        padding: 24px 24px 24px 54px;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 18px;
                        text-align: left;
                        color: var(--guardian-font-color, #23252E);
                        position: relative;
                    }

                    .item-options {
                        width: 100%;
                        height: 100%;
                        padding: 0px 24px 24px 24px;

                        .guardian-input-container {
                            margin-bottom: 16px;
                        }

                        .item-options-header {
                            font-family: Inter;
                            font-size: 14px;
                            font-weight: 700;
                            line-height: 18px;
                            color: #23252E;
                            margin-bottom: 24px;
                            margin-top: 24px;
                        }
                    }
                }
            }

            .item-actions {
                display: flex;
                flex-direction: column;
                padding: 24px;

                button {
                    width: 100%;
                    height: 28px;
                    margin-bottom: 8px;
                }
            }
        }

        .schema-viewer {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            overflow: hidden;

            .tree-container {
                position: absolute;
                left: 0px;
                top: 0px;
                bottom: 40px;
                right: 0px;
                z-index: 1;
                user-select: none;
            }

            .schema-search {
                position: absolute;
                left: 0px;
                top: 0px;
                right: 0px;
                height: 56px;
                z-index: 2;
                background: transparent;
                padding: 8px 416px 8px 16px;

                .guardian-search {
                    max-width: 500px;

                    input {
                        height: 28px;
                        font-size: 12px;
                    }
                }
            }

            .schema-toolbar {
                position: absolute;
                left: 0px;
                bottom: 0px;
                right: 0px;
                height: 40px;
                z-index: 2;
                background: var(--guardian-grey-background, #F9FAFC);
                padding: 0px 16px 0px 16px;
                display: flex;
                flex-direction: row;
                border-top: 1px solid var(--guardian-border-color, #E1E7EF);
                user-select: none;
                box-shadow: 0px 0px 4px 0px var(--guardian-shadow, #00000014);

                .tree-tabs {
                    display: flex;
                    flex-direction: row;
                    overflow: hidden;
                }

                .tree-tabs-nav {
                    display: flex;
                    flex-direction: row;
                    width: 70px;
                    height: 30px;
                    min-width: 70px;
                    padding: 0 5px;
                    margin-top: 5px;

                    .tree-tabs-nav-left {
                        width: 30px;
                        height: 30px;
                        cursor: pointer;
                        position: relative;

                        &::before {
                            content: "";
                            display: block;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            border: 6px solid var(--guardian-primary-color, #4169E2);
                            width: 0px;
                            height: 0px;
                            pointer-events: none;
                            border-top-color: transparent;
                            border-left-color: transparent;
                            border-bottom-color: transparent;
                            border-left-width: 0;
                        }
                    }

                    .tree-tabs-nav-right {
                        width: 30px;
                        height: 30px;
                        cursor: pointer;
                        position: relative;

                        &::before {
                            content: "";
                            display: block;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            border: 6px solid var(--guardian-primary-color, #4169E2);
                            width: 0px;
                            height: 0px;
                            pointer-events: none;
                            border-top-color: transparent;
                            border-right-color: transparent;
                            border-bottom-color: transparent;
                            border-right-width: 0;
                        }
                    }
                }

                .tree-tab {
                    padding: 8px 16px 8px 16px;
                    background: var(--guardian-background, #FFFFFF);
                    font-family: Inter;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 14px;
                    text-align: left;
                    color: var(--guardian-font-color, #23252E);
                    border: 1px solid #C4D0E1;
                    border-radius: 6px;
                    border-top-width: 0;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    height: 30px;
                    cursor: pointer;
                    margin-right: 8px;
                    display: flex;
                    min-width: 140px;
                    max-width: 140px;

                    &.selected-type-selected,
                    &.selected-type-sub {
                        color: var(--guardian-primary-color, #4169E2);
                        border-color: var(--guardian-primary-color, #4169E2);
                        background: #4169E214;
                    }

                    .tree-tab-name {
                        display: block;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .tree-tab-count {
                        margin-left: 8px;
                        background-color: var(--guardian-primary-color, #4169E2);
                        width: min-content;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0px 8px;
                        border-radius: 16px;
                        cursor: pointer;
                        color: var(--guardian-background, #FFFFFF);
                        font-size: 10px;
                        height: 16px;
                        position: relative;
                        top: -1px;
                    }
                }

                .tree-tab-last {
                    max-width: 600px;
                    min-width: 600px;
                    height: 30px;
                }
            }

            .zoom-toolbar {
                width: 48px;
                height: 160px;
                position: absolute;
                right: 400px;
                top: 0px;
                z-index: 3;
                padding: 16px 16px 4px 4px;
                overflow: hidden;

                -webkit-transition: right 0.2s ease-in-out;
                -moz-transition: right 0.2s ease-in-out;
                -o-transition: right 0.2s ease-in-out;
                transition: right 0.2s ease-in-out;

                &[hidden-schema="true"] {
                    right: 0px;
                }

                .zoom-button {
                    width: 28px;
                    height: 28px;
                    margin-bottom: 8px;
                    border-radius: 8px;
                    background: var(--guardian-background, #FFFFFF);
                    box-shadow: 0px 0px 1px 3px var(--guardian-grey-color, #EFF3F7);

                    .zoom-label {
                        width: 28px;
                        height: 28px;
                        border-radius: 8px;
                        font-family: Inter;
                        font-size: 8px;
                        font-weight: 700;
                        color: var(--guardian-disabled-color, #848FA9);
                        border: 1px solid var(--guardian-border-color, #E1E7EF);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    button {
                        width: 28px;
                        height: 28px;
                        border: 1px solid var(--guardian-primary-color, #4169E2);
                        border-radius: 8px;
                    }
                }
            }

            .schema-fields {
                position: absolute;
                top: 0px;
                bottom: 0px;
                right: 0px;
                width: 400px;
                z-index: 3;
                background: var(--guardian-background, #FFFFFF);
                border-left: 1px solid var(--guardian-border-color, #E1E7EF);
                box-shadow: 0px 0px 4px 0px var(--guardian-shadow, #00000014);
                overflow: hidden;
                -webkit-transition: width 0.2s ease-in-out;
                -moz-transition: width 0.2s ease-in-out;
                -o-transition: width 0.2s ease-in-out;
                transition: width 0.2s ease-in-out;
                transform: translateZ(0);
                will-change: transform, width;

                &[hidden-schema="true"] {
                    width: 0px;
                }

                .schema-close {
                    width: 32px;
                    height: 32px;
                    min-width: 32px;
                    max-width: 32px;
                    position: absolute;
                    padding: 4px;
                    border-radius: 6px;
                    cursor: pointer;
                    top: 17px;
                    right: 16px;

                    &:hover {
                        background: var(--guardian-primary-background);
                    }
                }

                .fields-container {
                    width: 400px;
                    height: 100%;
                    display: flex;
                    flex-direction: column;

                    .schema-name {
                        width: 400px;
                        padding: 24px 24px 24px 24px;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 18px;
                        text-align: left;
                        color: var(--guardian-font-color, #23252E);
                        position: relative;
                    }

                    .schema-config {
                        width: 100%;
                        height: 100%;
                        padding: 0px 24px 24px 24px;
                    }

                    .field-list {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 100%;

                        .field-search {
                            padding: 24px 0px;
                            width: 100%;
                            height: 88px;
                            min-height: 88px;
                        }

                        .field-tree-container {
                            width: 100%;
                            height: 100%;
                            position: relative;

                            .field-tree {
                                position: absolute;
                                overflow: auto;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                transform: translateZ(0);
                                transform-origin: 0% 0%;

                                .field-item {
                                    width: 100%;
                                    padding: 8px 0px;
                                    font-family: Inter;
                                    font-size: 14px;
                                    font-weight: 500;
                                    line-height: 18px;
                                    text-align: left;
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;

                                    .field-offset {
                                        width: 0px;
                                        height: 24px;
                                        overflow: hidden;
                                    }

                                    .field-collapse {
                                        width: 24px;
                                        min-width: 24px;
                                        height: 24px;
                                        overflow: hidden;
                                    }

                                    .field-select {
                                        width: 24px;
                                        min-width: 24px;
                                        height: 24px;
                                        overflow: hidden;
                                    }

                                    .field-name {
                                        padding-left: 8px;
                                        min-width: 125px;
                                        cursor: pointer;

                                        &[readonly="true"] {
                                            cursor: default;
                                        }
                                    }

                                    &[property="false"] {
                                        opacity: 0.4;
                                    }

                                    &[highlighted="true"] .field-name {
                                        color: var(--guardian-primary-color, #4169E2);
                                        font-weight: 600;
                                    }

                                    &[search-highlighted="hidden"] {
                                        display: none;
                                    }

                                    &[search-highlighted="sub"] .field-name {
                                        opacity: 0.5;
                                    }

                                    &[search-highlighted="highlighted"] .field-name {
                                        color: var(--guardian-success-color, #19BE47);
                                        font-weight: 600;
                                    }

                                    &[search-highlighted="highlighted"][highlighted="true"] .field-name {
                                        color: var(--guardian-primary-color, #4169E2);
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                    }

                    .rules-list {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 100%;
                        padding: 24px 0px;

                        .schema-rule {
                            .schema-rule-name {
                                font-family: Inter;
                                font-size: 14px;
                                font-weight: 700;
                                line-height: 18px;
                                text-align: left;
                                color: var(--guardian-font-color, #23252E);
                                width: 100%;
                                padding-bottom: 16px;
                            }

                            .schema-rule-values {
                                display: flex;
                                flex-direction: column;
                                width: 100%;

                                .schema-rule-value {
                                    display: flex;
                                    flex-direction: row;
                                    width: 100%;
                                    height: 40px;
                                    padding-bottom: 16px;
                                    align-items: center;
                                    cursor: pointer;

                                    .schema-rule-value-select {
                                        width: 24px;
                                        height: 24px;
                                    }

                                    .schema-rule-value-name {
                                        padding: 4px 0 4px 8px;
                                        height: 24px;
                                        font-family: Inter;
                                        font-size: 14px;
                                        font-weight: 500;
                                        line-height: 16px;
                                        text-align: left;
                                        color: var(--guardian-font-color, #23252E);
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .config-viewer {
            padding: 32px 48px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            overflow: auto;

            .variables-container {
                box-shadow: 0px 4px 8px 0px var(--guardian-shadow, #00000014);
                background: var(--guardian-background, #FFFFFF);
                padding: 24px;
                border-radius: 8px;
                margin-bottom: 16px;
                min-width: 1300px;

                .variables-header {
                    color: var(--guardian-font-color, #23252E);
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 20px;
                    text-align: left;
                    padding-bottom: 16px;
                }

                .variables-actions {
                    padding-top: 24px;

                    button {
                        height: 28px;
                        width: 120px;
                    }
                }
            }

            .cell-option-values {
                .cell-option-value {
                    width: 270px;
                    height: 30px;
                    padding: 7px 8px 7px 8px;
                    border-radius: 6px;
                    background: var(--guardian-grey-color, #EFF3F7);
                    font-family: Inter;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16px;
                    text-align: left;
                    color: var(--guardian-disabled-color, #848FA9);
                    margin-bottom: 8px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }

        .variables-empty-grid {
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            color: var(--guardian-disabled-color, #848FA9);
            height: 87px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .variables-grid {
            overflow: auto;
            display: grid;

            .cell-48 {
                min-width: 48px;
                width: 48px;
                max-width: 48px;
            }

            .cell-56 {
                min-width: 56px;
                width: 56px;
                max-width: 56px;
            }

            .cell-64 {
                min-width: 64px;
                width: 64px;
                max-width: 64px;
            }

            .cell-84 {
                min-width: 84px;
                width: 84px;
                max-width: 84px;
            }

            .cell-125 {
                min-width: 115px;
                width: 115px;
                max-width: 115px;
            }

            .cell-130 {
                min-width: 130px;
                width: 130px;
                max-width: 130px;
            }

            .cell-150 {
                min-width: 150px;
                width: 150px;
                max-width: 150px;
            }

            .cell-200 {
                min-width: 200px;
                width: 200px;
                max-width: 200px;
            }

            .cell-250 {
                min-width: 250px;
                width: 250px;
                max-width: 250px;
            }

            .cell-300 {
                min-width: 300px;
                width: 300px;
                max-width: 300px;
            }

            .cell-56 {
                min-width: 56px !important;
                width: 56px !important;
                max-width: 56px !important;
            }

            .cell-max {
                min-width: 250px;
                width: auto;
            }

            .cell-btn {
                padding: 6px 0px 6px 16px !important;
                display: flex;
                justify-content: flex-end;
                padding: 6px 6px 6px 16px !important;

                button {
                    width: 24px;
                    height: 24px;
                    margin-left: 16px;

                    &:first-child {
                        margin-left: 0px;
                    }
                }
            }

            .cell-multiselect {
                padding: 1px 10px !important;
            }

            .cell-select {
                padding: 1px 1px !important;

                &::ng-deep {
                    .p-dropdown-label {
                        padding-left: 16px;
                    }
                }
            }

            .variables-grid-cell {
                min-height: 40px;
                padding: 6px 16px;
                display: flex;
                align-items: center;
                width: 100%;
                position: relative;
                font-family: Inter;
                font-size: 14px;
                font-weight: 400;
                text-align: left;
                user-select: text;

                .cell-focus {
                    display: none;
                    position: absolute;
                    top: -1px;
                    left: -1px;
                    right: -1px;
                    bottom: -1px;
                    border: 1px solid var(--guardian-primary-color, #4169E2);
                }

                &:first-child {
                    .cell-focus {
                        left: -9px;
                    }
                }

                .p-inputwrapper-focus+.cell-focus,
                .guardian-input:focus+.cell-focus {
                    display: block;
                }
            }

            .variables-grid-cell-transparent {
                border-right: 1px solid transparent !important;
            }

            .variables-grid-row {
                &:first-child .variables-grid-cell:first-child .cell-focus {
                    border-top-left-radius: 8px;
                }

                &:last-child .variables-grid-cell:first-child .cell-focus {
                    border-bottom-left-radius: 8px;
                }
            }

            .variables-grid-header {
                display: flex;
                flex-direction: row;
                padding: 0px 8px;
                width: 100%;
                min-width: 100%;

                &>div {
                    color: var(--guardian-disabled-color, #848FA9);
                    font-family: Inter;
                    font-size: 12px;
                    font-weight: 400;
                    text-align: left;
                }
            }

            .variables-grid-body {
                width: 100%;
                min-width: 100%;
                border: 1px solid var(--guardian-border-color, #E1E7EF);
                border-radius: 8px;

                .variables-grid-row {
                    min-height: 40px;
                    display: flex;
                    flex-direction: row;
                    border-bottom: 1px solid var(--guardian-border-color, #E1E7EF);
                    padding: 0px 8px;

                    &>div {
                        border-right: 1px solid var(--guardian-border-color, #E1E7EF);

                        &:last-child {
                            border-right: none;
                        }
                    }

                    &:last-child {
                        border-bottom: none;
                    }
                }

                .rule-type-name {
                    background: #E1E7EF;
                    height: 28px;
                    padding: 4px 10px 4px 10px;
                    border-radius: 6px;
                    font-family: Inter;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 16px;
                    text-align: left;
                    color: #848FA9;
                    text-transform: capitalize;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

.guardian-dropdown-cell {
    &::ng-deep .p-dropdown {
        width: 100%;

        .p-dropdown-label {
            padding-left: 0px;
        }
    }
}

.guardian-multiselect {
    height: 100%;

    &::ng-deep .p-multiselect {
        width: 100%;
        height: 100%;

        .p-multiselect-label {
            padding: 6px 16px 6px 8px;
        }
    }
}

.tree-container {
    display: flex;

    .tree-node {
        background: var(--guardian-background, #FFFFFF);
        border: 1px solid #bac0ce;
        box-shadow: 0px 4px 4px 0px var(--guardian-shadow, #00000014);
        border-radius: 6px;
        width: 150px;
        cursor: pointer;
        overflow: hidden;
        user-select: none;

        &.root-node {
            .node-header {
                background: #CAFDD9;
            }
        }

        &:hover {
            border: 1px solid var(--guardian-primary-color, #4169E2);
        }

        * {
            pointer-events: none;
        }

        &.selected-type-selected {
            border: 1px solid var(--guardian-primary-color, #4169E2);
            box-shadow: 0px 0px 0px 3px var(--guardian-primary-color, #4169E2), 0px 6px 6px 0px #00000021;
        }

        &.selected-type-sub {
            border: 1px solid var(--guardian-primary-color, #4169E2);
        }

        &.selected-type-hidden {
            opacity: 0.4;
        }

        &[search-highlighted="true"] {
            border: 1px solid var(--guardian-success-color, #19BE47);
            box-shadow: 0px 0px 0px 3px var(--guardian-success-color, #19BE47), 0px 6px 6px 0px #00000021;
        }

        &[search-highlighted="true"].selected-type-selected {
            border: 1px solid var(--guardian-primary-color, #4169E2);
            box-shadow: 0px 0px 0px 3px var(--guardian-primary-color, #4169E2), 0px 6px 6px 0px #00000021;
        }

        .node-header {
            width: 100%;
            padding: 9px 8px 9px 16px;
            background: var(--guardian-grey-background, #F9FAFC);
            font-family: Inter;
            font-size: 12px;
            font-weight: 600;
            line-height: 14px;
            text-align: left;
            color: #23252E;
        }

        .node-fields {
            border-top: 1px solid var(--guardian-border-color, #E1E7EF);
            font-family: Inter;
            font-size: 12px;
            font-weight: 500;
            line-height: 14px;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            .node-field {
                color: #23252E;
                border-bottom: 1px solid var(--guardian-border-color, #E1E7EF);
                padding: 8px 8px 8px 16px;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 400;
            }

            .node-not-fields {
                color: var(--guardian-disabled-color, #848FA9);
                border-bottom: 1px solid var(--guardian-border-color, #E1E7EF);
                padding: 8px 8px 8px 16px;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 400;
            }
        }
    }
}

.config-viewer ngx-codemirror {
    width: 100%;
}

.config-viewer ngx-codemirror::ng-deep {
    .CodeMirror-gutters {
        display: none;
    }

    .cm-number {
        color: #15ab3f;
        font-weight: 600;
    }

    .cm-formula-variable {
        color: #4267df;
        font-weight: 600;
    }

    .cm-formula-function {
        color: #FF9800;
        font-weight: 600;
    }
}

.multiselect-option-value {
    max-width: 300px;
    white-space: normal;
    padding-left: 8px;
}

.multiselect-selected-value {
    width: 210px;
    height: 30px;
    padding: 7px 8px 7px 8px;
    border-radius: 6px;
    background: var(--guardian-grey-color, #EFF3F7);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: var(--guardian-disabled-color, #848FA9);
    margin-bottom: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.multiselect-selected-value:last-child {
    margin-bottom: 0px;
}

*[codemirror-readonly="true"] {
    pointer-events: none;
}