@if (id) {
  <div
    [ngClass]="{
        'context': true, 
        'add-item': !status, 
        'added-item': status
    }"
    >
    @if (!buttonStyle) {
      <div class="compare-btn" (click)="onAdd()">
        <input
          class="compare-checkbox"
          type="checkbox"
          [checked]="status">
        Compare
      </div>
    }
    @if (buttonStyle === 'guardian') {
      @if (!status) {
        <button
          (click)="onAdd()"
          class="guardian-button guardian-compare-button add-item guardian-button-secondary"
          >
          <div class="guardian-button-icon">
            <svg-icon class="icon-btn svg-icon"
              src="/assets/images/icons/compare.svg"
              svgClass="icon-color-primary">
            </svg-icon>
          </div>
          <div class="guardian-button-label">Add to Compare List</div>
        </button>
      }
      @if (status) {
        <button
          (click)="onAdd()"
          class="guardian-button guardian-compare-button added-item guardian-button-primary"
          >
          <div class="guardian-button-icon">
            <svg-icon class="icon-btn svg-icon"
              src="/assets/images/icons/check.svg"
              svgClass="icon-color-secondary">
            </svg-icon>
          </div>
          @if (status) {
            <div class="guardian-button-label">Added to Compare List</div>
          }
        </button>
      }
    }
  </div>
}