<p-dropdown
    [(ngModel)]="value"
    [disabled]="disabled"
    [options]="schemas"
    class="schema-select {{bodyStyleClass}}"
    [panelStyleClass]="panelStyleClass"
    placeholder="Select a schema"
    optionLabel="displayName"
    optionValue="value"
    appendTo="body"
    (ngModelChange)="onChange()"
>
    <ng-template let-item pTemplate="item">
        <div
            pTooltip="{{ item.tooltip }}"
            tooltipPosition="top"
            class="schema-variable"
            [attr.status]="item.status"
        >
            {{ item.displayName }}
        </div>
    </ng-template>
</p-dropdown>
