.guardian-page {
    position: relative;
    padding: 0px;
    user-select: none;

    .header-container {
        padding: 56px 48px 10px 48px;
        background: var(--guardian-primary-color, #4169E2);
        min-height: 178px;
        height: 178px;
        position: relative;
        z-index: 2;

        .guardian-user-back-button {
            button {
                border-color: var(--guardian-background, #FFFFFF);
            }
        }

        .guardian-user-page-header {
            color: var(--guardian-background, #FFFFFF);
        }


        .policy-name {
            color: var(--guardian-background, #FFFFFF);
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            position: absolute;
            top: 34px;
            right: 0;

            .policy-version {
                padding-left: 16px;
            }
        }
    }

    .step-container {
        min-height: 40px;
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0px;
        background: var(--guardian-background, #FFFFFF);
        border-bottom: 1px solid var(--guardian-border-color, #E1E7EF);
        position: relative;
        box-shadow: 0px 4px 8px 0px var(--guardian-shadow, #00000014);
        position: relative;
        z-index: 2;
    }

    .overview-viewer {
        position: relative;
        z-index: 0;

        form {
            box-shadow: 0px 4px 8px 0px var(--guardian-shadow, #00000014);
            background: var(--guardian-background, #FFFFFF);
            padding: 24px 24px 2px 24px;
            border-radius: 8px;

            .guardian-input-container {
                margin-bottom: 24px;
            }
        }
    }

    .body-container {
        position: relative;
        z-index: 0;
        width: 100%;
        height: 100%;
        user-select: none;
        position: relative;
        padding: 32px 48px 16px 48px;
        overflow: auto;

        .item-filters {
            display: flex;
            flex-direction: row;
            margin-bottom: 24px;

            .item-filters-header {
                font-family: Inter;
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                color: #848FA9;
                margin-right: 24px;
                height: 24px;
                padding: 6px 0px;
            }

            .item-filter {
                margin-right: 8px;
                height: 28px;
                min-width: 108px;
            }

            .constant-filter {
                --checkbox-button-on-first-color: var(--formula-constant-color, #4169E2);
                --checkbox-button-on-second-color: var(--formula-constant-background, #e1e7fa);
            }

            .variable-filter {
                --checkbox-button-on-first-color: var(--formula-variable-color, #DA9B22);
                --checkbox-button-on-second-color: var(--formula-variable-background, #FFF6E3);
            }

            .formula-filter {
                --checkbox-button-on-first-color: var(--formula-function-color, #E50299);
                --checkbox-button-on-second-color: var(--formula-function-background, #fbd9ef);
            }

            .text-filter {
                --checkbox-button-on-first-color: var(--formula-text-color, #19BE47);
                --checkbox-button-on-second-color: var(--formula-text-background, #d7f5e2);
            }
        }

        .formula-items {
            position: relative;
            height: 100%;
            max-height: 90%;
            overflow-y: auto;
            padding-right: 8px;

            .formula-item:last-child {
                margin-bottom: 0;
            }
        }
    }

    &[keyboard="true"] {
        .body-container {
            // top: -270px;
            margin-bottom: 265px;
        }
    }

    .action-container {
        position: relative;
        z-index: 1;
        height: 64px;
        min-height: 64px;
        display: flex;
        flex-direction: row;
        border-top: 1px solid var(--guardian-grey-color-2, #E1E7EF);
        background: #fff;
        padding: 12px 48px;
        position: relative;

        button {
            height: 40px;
            margin-right: 18px;
            min-width: 140px;
        }

        menu-button {
            height: 40px;
            width: 210px;
        }

        .save-button {
            position: absolute;
            top: 12px;
            right: 48px;
            margin-right: 0px;
        }
    }
}

.file-menu {
    display: flex;
    justify-content: flex-end;
    height: 40px;
    width: 100%;

    button {
        min-width: 125px;
    }
}

.files-viewer {
    padding: 16px 48px 32px 48px;
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    bottom: 0;
    overflow: auto;

    .variables-container {
        box-shadow: 0px 4px 8px 0px var(--guardian-shadow, #00000014);
        background: var(--guardian-background, #FFFFFF);
        padding: 24px;
        border-radius: 8px;
        margin-bottom: 16px;
        min-width: 1300px;

        .variables-header {
            color: var(--guardian-font-color, #23252E);
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            text-align: left;
            padding-bottom: 16px;
        }

        .variables-empty-grid {
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            color: var(--guardian-disabled-color, #848FA9);
            height: 87px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .variables-grid {
            overflow: auto;
            display: grid;

            .cell-48 {
                min-width: 48px;
                width: 48px;
                max-width: 48px;
            }

            .cell-56 {
                min-width: 56px;
                width: 56px;
                max-width: 56px;
            }

            .cell-64 {
                min-width: 64px;
                width: 64px;
                max-width: 64px;
            }

            .cell-84 {
                min-width: 84px;
                width: 84px;
                max-width: 84px;
            }

            .cell-125 {
                min-width: 115px;
                width: 115px;
                max-width: 115px;
            }

            .cell-150 {
                min-width: 150px;
                width: 150px;
                max-width: 150px;
            }

            .cell-200 {
                min-width: 200px;
                width: 200px;
                max-width: 200px;
            }

            .cell-250 {
                min-width: 250px;
                width: 250px;
                max-width: 250px;
            }

            .cell-300 {
                min-width: 300px;
                width: 300px;
                max-width: 300px;
            }

            .cell-max {
                min-width: 250px;
                width: auto;
            }

            .cell-btn {
                button {
                    width: 24px;
                    height: 24px;
                    margin-left: 7px;
                }
            }

            .cell-multiselect {
                padding: 1px 10px !important;
            }

            .cell-select {
                padding: 1px 1px !important;

                &::ng-deep {
                    .p-dropdown-label {
                        padding-left: 16px;
                    }
                }
            }

            .variables-grid-cell {
                min-height: 40px;
                padding: 6px 16px;
                display: flex;
                align-items: center;
                width: 100%;
                position: relative;
                font-family: Inter;
                font-size: 14px;
                font-weight: 400;
                text-align: left;
                user-select: text;

                .cell-focus {
                    display: none;
                    position: absolute;
                    top: -1px;
                    left: -1px;
                    right: -1px;
                    bottom: -1px;
                    border: 1px solid var(--guardian-primary-color, #4169E2);
                }

                &:first-child {
                    .cell-focus {
                        left: -9px;
                    }
                }

                .p-inputwrapper-focus+.cell-focus,
                .guardian-input:focus+.cell-focus {
                    display: block;
                }
            }

            .variables-grid-cell-transparent {
                border-right: 1px solid transparent !important;
            }

            .variables-grid-row {
                &:first-child .variables-grid-cell:first-child .cell-focus {
                    border-top-left-radius: 8px;
                }

                &:last-child .variables-grid-cell:first-child .cell-focus {
                    border-bottom-left-radius: 8px;
                }
            }

            .variables-grid-header {
                display: flex;
                flex-direction: row;
                padding: 0px 8px;
                width: 100%;
                min-width: 100%;

                &>div {
                    color: var(--guardian-disabled-color, #848FA9);
                    font-family: Inter;
                    font-size: 12px;
                    font-weight: 400;
                    text-align: left;
                }
            }

            .variables-grid-body {
                width: 100%;
                min-width: 100%;
                border: 1px solid var(--guardian-border-color, #E1E7EF);
                border-radius: 8px;

                .variables-grid-row {
                    min-height: 40px;
                    display: flex;
                    flex-direction: row;
                    border-bottom: 1px solid var(--guardian-border-color, #E1E7EF);
                    padding: 0px 8px;

                    &>div {
                        border-right: 1px solid var(--guardian-border-color, #E1E7EF);

                        &:last-child {
                            border-right: none;
                        }
                    }

                    &:last-child {
                        border-bottom: none;
                    }
                }

                .rule-type-name {
                    background: #E1E7EF;
                    height: 28px;
                    padding: 4px 10px 4px 10px;
                    border-radius: 6px;
                    font-family: Inter;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 16px;
                    text-align: left;
                    color: #848FA9;
                    text-transform: capitalize;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .variables-actions {
            padding-top: 24px;

            button {
                height: 28px;
                width: 120px;
            }
        }
    }

    .cell-option-values {
        .cell-option-value {
            width: 270px;
            height: 30px;
            padding: 7px 8px 7px 8px;
            border-radius: 6px;
            background: var(--guardian-grey-color, #EFF3F7);
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            text-align: left;
            color: var(--guardian-disabled-color, #848FA9);
            margin-bottom: 8px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

.formula-link {
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 1px solid var(--guardian-grey-color-2, #E1E7EF);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    padding: 10px 16px;
    position: relative;
    cursor: pointer;

    &:hover {
        border: 1px solid var(--guardian-primary-color, #4169E2);
    }

    .formula-link-remove {
        position: absolute;
        top: 4px;
        right: 4px;
        height: 30px;
        width: 30px;

        button {
            height: 30px;
            width: 30px;
        }
    }

    .formula-link-value {
        display: flex;
        flex-direction: row;

        &__entity {
            font-family: Inter;
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            color: var(--guardian-entity-color, #DA9B22);
            margin-right: 8px;
        }

        &__item {
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
        }
    }
}

.guardian-input-container {
    margin-bottom: 16px;
}

.guardian-textarea-container {
    margin-bottom: 16px;
}

.multiselect-selected-value {
    width: auto;
    height: 30px;
    padding: 7px 12px 7px 12px;
    border-radius: 6px;
    background: var(--guardian-grey-color, #EFF3F7);
    color: var(--guardian-disabled-color, #848FA9);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    margin-right: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-flex;
}

.multiselect-selected-value:last-child {
    margin-right: 0px;
}

.relationships-multiselect::ng-deep .p-multiselect-label {
    padding: 4px 8px !important;
}

.not-exist {
    position: absolute;
    left: 48px;
    right: 48px;
    bottom: 56px;
    top: 50%;
    transform: translate(0px, -50%);
    color: var(--color-grey-black-2);
    font-family: Inter, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    justify-content: center;

    .info-text {
        color: var(--color-grey-5, #848fa9);
        text-align: center;
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .info-text-strong {
        color: var(--color-grey-5, #848fa9);
        text-align: center;
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

@media (max-height: 767px) {
    .guardian-page[keyboard="true"] {
        .body-container {
            // top: -270px;
            margin-bottom: 190px;
        }
    }
}

.formula-item {
    box-shadow: 0px 4px 8px 0px var(--guardian-shadow, #00000014);
    background: var(--guardian-background, #FFFFFF);
    border-radius: 8px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    .formula-item-icon {
        width: 32px;
        min-width: 32px;
        width: 32px;
        min-width: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: move;

        * {
            pointer-events: none;
        }

        &[readonly="true"] {
            cursor: default;
        }
    }

    .formula-item-container {
        width: 100%;
        padding: 16px;

        .formula-item-header {
            height: 24px;
            width: 100%;
            margin-bottom: 16px;
            position: relative;
            display: flex;

            &__icon {
                margin-right: 8px;
            }

            &__name {
                font-family: Poppins;
                font-size: 16px;
                font-weight: 600;
                height: 24px;
                line-height: 24px;
            }

            &__delete {
                position: absolute;
                top: 0px;
                right: 0px;
                width: 24px;
                height: 24px;

                .guardian-icon-button {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .formula-item-body {}
    }

    &[type="constant"] {
        border: 1px solid var(--formula-constant-color, #4169E2);

        .formula-item-icon {
            background: var(--formula-constant-background, #e1e7fa);
            border-right: 1px solid #E1E7EF;
        }
    }

    &[type="variable"] {
        border: 1px solid var(--formula-variable-color, #DA9B22);

        .formula-item-icon {
            background: var(--formula-variable-background, #FFF6E3);
            border-right: 1px solid #E1E7EF;
        }
    }

    &[type="formula"] {
        border: 1px solid var(--formula-function-color, #E50299);

        .formula-item-icon {
            background: var(--formula-function-background, #fbd9ef);
            border-right: 1px solid #E1E7EF;
        }
    }

    &[type="text"] {
        border: 1px solid var(--formula-text-color, #19BE47);

        .formula-item-icon {
            background: var(--formula-text-background, #d7f5e2);
            border-right: 1px solid #E1E7EF;
        }
    }
}

.cdk-drag.formula-item.cdk-drag-preview {}

.formula-item.cdk-drag-placeholder {
    opacity: 0.5;
}