.tooltip {
    position: absolute;
    left: 0px;
    top: 0px;
    pointer-events: none;
    transform: translate(-50%, -100%) translate(0, -5px);
    background: #fff;
    padding: 2px 10px;
    border: 1px solid #7c7c7c;
    border-radius: 4px;
    z-index: 9999;
    box-shadow: -1px 2px 3px 0px rgb(0 0 0 / 30%);
    min-width: 250px;
}

.tooltip::ng-deep span {
    font-weight: 500;
}

.tooltip::ng-deep .s1 span,
.tooltip::ng-deep .s2 span {
    color: #c53227;
}

.tooltip::ng-deep .s3 span,
.tooltip::ng-deep .s4 span {
    color: #35a307;
}

.tooltip::ng-deep .s2 {
    margin-bottom: 5px;
}