.content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: block;
    background: #fff;
}

.loading {
    background: #fff;
    position: fixed;
    z-index: 99;
    top: var(--header-height-policy);
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.table-container {
    width: 100%;
    border-top: 1px solid #d1d1d1;
}

.table {
    width: 100%;
}

.mat-header-cell  {
    z-index: 9 !important;
}

.btn-settings {
    color: #3f51b5;
    font-weight: 500;
    cursor: pointer;
    padding-top: 2px;
    padding-left: 24px;
    position: relative;
    height: 28px;
    min-width: 28px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
}

.btn-settings:hover {
    text-decoration: underline;
}

.btn-settings mat-icon {
    position: absolute;
    left: 0px;
    top: 1px;
    font-size: 30px;
}

.btn-settings.btn-delete {
    color: #f44336;
}

.table .mat-column-action {
    width: 75px;
    max-width: 75px;
}

.table-paginator {
    height: 60px;
    border-top: 1px solid #eee;
    margin-top: 5px;
}

.actions {
    display: flex;
    height: 80px;
}

.role {
    padding: 32px 50px 32px 18px;
    font-size: 20px;
    color: rgba(0,0,0,.54);
}

.role .link {
    position: relative;
    padding-left: 30px;
    color: var(--button-primary-color);
    cursor: pointer;
}

.role .link mat-icon {
    position: absolute;
    left: 0;
    top: -2px;
}

.select-btn {
    text-decoration: underline;
    cursor: pointer;
    color: var(--button-primary-color);
}