<div class="content" [hidden]="!isActive">
    <div *ngIf="loading" class="loading">
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="!selected">
        <div *ngIf="groups" class="table-container">
            <table mat-table [dataSource]="groups" class="table">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Group Id </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="select-btn" (click)="onSelect(element)">{{element.id}} </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="groupLabel">
                    <th mat-header-cell *matHeaderCellDef> Label </th>
                    <td mat-cell *matCellDef="let element"> {{element.groupLabel}} </td>
                </ng-container>
                <ng-container matColumnDef="groupName">
                    <th mat-header-cell *matHeaderCellDef> Group Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.groupName}} </td>
                </ng-container>
                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef> Role </th>
                    <td mat-cell *matCellDef="let element"> {{element.role}} </td>
                </ng-container>
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element">
                        <button *ngIf="element.canInvite" mat-raised-button color="primary" (click)="onInvite(element)"
                            style="margin: 15px; min-width: 100px;">
                            Get Invite
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="groupColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: groupColumns;"></tr>
            </table>
        </div>



    </div>

    <div *ngIf="selected">
        <div class="actions">
            <div class="role">
                <div (click)="onBack()" class="link">
                    <mat-icon>chevron_left</mat-icon>
                    Back
                </div>
            </div>
            <div class="role">
                <span>Role: </span>
                <span>{{role}}</span>
            </div>
            <div class="role">
                <span>Type: </span>
                <span>{{type}}</span>
            </div>
            <div class="role">
                <span>Relationship Type: </span>
                <span>{{groupRelationshipType}}</span>
            </div>
            <div class="role" style="flex: 1">
                <span>Access Type: </span>
                <span>{{groupAccessType}}</span>
            </div>
            <button *ngIf="canInvite" mat-raised-button color="primary" (click)="onInvite(selected)"
                style="margin: 15px; min-width: 100px;">
                Get Invite
            </button>
        </div>
        <div *ngIf="users" class="table-container">
            <table mat-table [dataSource]="users" class="table">
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef> User Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                </ng-container>
                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef> Role </th>
                    <td mat-cell *matCellDef="let element"> {{element.role}} </td>
                </ng-container>
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="canDelete && element.type !== 'Owner'" (click)="onDelete(element)"
                            class="btn-settings btn-delete">
                            <mat-icon>delete</mat-icon>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="userColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: userColumns;"></tr>
            </table>
        </div>
    </div>
</div>