.context {
    position: relative;
    padding: 14px 0 20px 0;
    display: flex;
    flex-direction: row;
    font-family: Inter, serif;
    font-style: normal;
    height: calc(100vh - 340px);
    overflow: hidden;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    user-select: none;

    &>div {
        margin-left: 15px;
        margin-right: 0px;
    }
}

.close-icon-color {
    fill: #848FA9;
    color: #848FA9;
}

.guardian-loading {
    top: 88px;
    left: 32px;
    right: 32px;
    bottom: 92px;
}

.left-context {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 264px;
    overflow: auto;
}

.right-context {
    position: absolute;
    left: calc(264px + 24px);
    top: 0px;
    bottom: 0px;
    right: 0px;
    overflow: auto;
}

.formula-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;

    .formula-name {
        height: 44px;
        width: 175px;

        input {
            height: 44px !important;
        }
    }

    .formula-eq {
        min-width: 40px;
        padding: 0px 14px;
    }

    .formula-body {
        width: 100%;
    }

    .formula-del {
        height: 44px;
        width: 52px;

        .guardian-icon-button {
            width: 32px;
            height: 32px;
            margin: 6px 6px 6px 14px;
        }
    }
}

.guardian-button {
    height: 28px;
}

.add-formula-btn {
    height: 28px;
    width: 100%;
    // margin-top: 16px;
}