form {
    display: flex;
    flex-direction: column;
    width: 452px;
    overflow: visible;
    padding-bottom: 25px;
}

.action-select-step {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-header {
    font-size: 20px;
    color: #838383;
    padding-bottom: 20px;
    display: flex;
    cursor: pointer;
}

.action-name {
    display: block;
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
    color: #2F2F2F;
}

.action-select-step button {
    height: 106px;
    width: 90%;
    border-radius: 53px;
    margin: 12px 0;
}

.content {
    overflow: visible;
    position: relative;
}

.types {
    border: 1px solid #999;
    border-radius: 4px;
    margin: 20px 0px 5px 0px;
    overflow: visible;
    position: relative;
    min-height: 20px;
}
.types .types-header {
    position: absolute;
    top: -10px;
    left: 5px;
    background: #fff;
    padding: 0 5px;
}

.types .types-body {
    overflow: auto;
    padding: 15px 10px 10px 20px;
    min-height: 50px;
    max-height: 150px;
}

.input-file {
    width:.1px;
    height:.1px;
    opacity:0;
    overflow:hidden;
    position:absolute;
    z-index:-1
}

.input-file-label {
    color: #555;
    line-height: 40px;
    width: 300px;
    display: block;
    border: 2px solid #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0px 10px 0 32px;
    cursor: pointer;
    position: relative;
}
.input-file-label:hover,
.input-file-label:focus {
    color: #888;
    border-color: #888
}
.input-file-label mat-icon {
    color: #888;
    position: absolute;
    font-size: 18px;
    top: 10px;
    left: 10px;
}
.input-file-label.has-file mat-icon {
    color:#5AAC7B
}

.loading {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    bottom: 0;
    background: #fff;
    z-index: 1;
}