<div class="projects-comparison">
  <p-button (click)="navigateToProjectsOverview()" class="back-button" icon="pi pi-angle-left" iconPos="left"
  label="Back to Projects Overview"></p-button>
  @if (!loading) {
    <ng-container class="container">
      <div class="header">
        <h1>Project Comparison</h1>
      </div>
      <div class="container">
        <div class="table">
          <table>
            <thead></thead>
            <tbody>
              @for (group of groups; track group) {
                @if (group.root) {
                  <tr class="project-title">
                    <th>Project title</th>
                    @for (project of group.projects; track project; let i = $index) {
                      @if (!isCollapsed(i)) {
                        <th>
                          <div class="column-header">
                            <span>{{ project.title }}</span>
                            <div class="column-actions">
                              <p-button (click)="toggleColumn(i)" class="toggle-button"
                              icon="pi pi-angle-left"></p-button>
                              <p-button (onClick)="deleteColumn(project.id, i)"
                                [disabled]="group.projects.length <= 2"
                                class="p-button-outlined"
                              icon="pi pi-trash"></p-button>
                            </div>
                          </div>
                        </th>
                      }
                      @if (isCollapsed(i)) {
                        <th [attr.rowspan]="propertyCount" class="collapsed-header">
                          <div class="column-header">
                            <span>{{ project.id }}</span>
                            <div class="column-actions">
                              <p-button (click)="toggleColumn(i)" class="toggle-button"
                              icon="pi pi-angle-left"></p-button>
                            </div>
                          </div>
                        </th>
                      }
                    }
                  </tr>
                }
                @if (!group.root) {
                  <tr>
                    <td [attr.colspan]="columnCount" class="document-title">
                      {{ group.type }}
                    </td>
                  </tr>
                }
                @for (row of group.mergedProperties; track row) {
                  @if (row.isGroup) {
                    <tr class="property-group">
                      <td class="main-col">
                        <span (click)="toggleRow(row)"
                          [ngClass]="{'toggle-icon-collapsed': row.collapsed}"
                        class="pi pi-angle-down toggle-icon"></span>
                        {{ row.title }}
                      </td>
                      @for (field of row.fields; track field; let i = $index) {
                        @if (!isCollapsed(i)) {
                          <td>
                            @if (row.collapsed) {
                              <div>
                                {{ field.displayValue }}, ...
                              </div>
                            }
                          </td>
                        }
                      }
                    </tr>
                  }
                  @if (!row.isGroup || !row.collapsed) {
                    @for (property of row.properties; track property) {
                      <tr>
                        @if (row.isGroup) {
                          <td class="main-col"></td>
                        }
                        @if (!row.isGroup) {
                          <td class="main-col">{{ property.title }}</td>
                        }
                        @for (field of property.fields; track field; let i = $index) {
                          @if (!isCollapsed(i)) {
                            <td [ngClass]="{'cell-green': field?.green}">
                              <div [ngClass]="{'collapsed': isCollapsed(i)}">
                                {{ field.displayValue }}
                              </div>
                            </td>
                          }
                        }
                      </tr>
                    }
                  }
                }
              }
            </tbody>
          </table>
        </div>
      </div>
      <div class="header" style="margin-top: 30px;">
        <h1>VP Comparison</h1>
      </div>
      @for (doc of vpDocuments; track doc) {
        <div class="container">
          <div class="vp-documents">
            <app-compare-document
              customColumnSize="30"
              comparationType="documents"
              [childrenLvl]="'2'"
              [disableHeader]="true"
              [eventsLvl]="'1'"
              [idLvl]="'0'"
              [propLvl]="'2'"
              [type]="'tree'"
            [value]="doc"></app-compare-document>
            <table>
              <thead></thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      }
    </ng-container>
  } @else {
    <div class="not-exist">
      <div class="preloader-image preloader-image-l-size"></div>
    </div>
  }
</div>

