<div class="g-dialog-content">
    <div class="g-dialog-header">
        <div class="g-dialog-cancel">
            <div class="g-dialog-cancel-btn" (click)="onClose()">
                <mat-icon>close</mat-icon>
            </div>
        </div>
        <div class="g-dialog-title">
            Preview
        </div>
        <div class="g-dialog-actions">
            <div class="g-dialog-actions-btn" (click)="onImport()">
                Import
            </div>
        </div>
    </div>
    <div class="g-dialog-body">
        <div class="context">
            <div *ngIf="loading" class="loading">
                <mat-spinner></mat-spinner>
            </div>

            <div *ngIf="policy" class="policy">
                <div class="policy-header">{{policy.name}}</div>

                <div class="delimiter"></div>

                <div *ngIf="policies.length" class="field">
                    <div class="field-name">Verison of</div>
                    <div>
                        <mat-form-field appearance="outline" style="width: 100%">
                            <mat-label>Policy</mat-label>
                            <mat-select [(value)]="versionOfTopicId">
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let policy of policies"
                                    [value]="policy.topicId">{{policy.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="delimiter"></div>

                <div class="version-container">
                    <div *ngIf="policy.version" class="field field-version">
                        <div class="field-name">Version</div>
                        <div class="field-value">{{policy.version}}</div>
                    </div>
                    <div class="new-versions-container" *ngIf="newVersions && newVersions.length > 0">
                        <div class="info-container field-name"><mat-icon class="info-label">info</mat-icon> <b>New
                                versions of policy exist</b></div>
                        <div class="new-versions-links">
                            <a class="field-version-value" *ngFor="let newVersion of newVersions"
                                [title]="newVersion.messageId"
                                (click)="onNewVersionClick(newVersion.messageId)">{{newVersion.version}}</a>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <div class="field-name">Description</div>
                    <div class="field-value">{{policy.description}}</div>
                </div>

                <div class="field">
                    <div class="field-name">Tag</div>
                    <div class="field-value">{{policy.policyTag}}</div>
                </div>

                <div class="field">
                    <div class="field-name">Creator</div>
                    <div class="field-value" [title]="policy.owner">{{policy.owner}}</div>
                </div>

                <div class="delimiter"></div>

                <div class="field-last">
                    <div class="field-name">Involved Roles</div>
                    <div class="field-value">Standard Registry, {{policyGroups}}</div>
                </div>

                <div *ngIf="schemas" class="delimiter"></div>

                <div *ngIf="schemas" class="field-last">
                    <div class="field-name">Schemas Overview</div>
                    <div class="field-long-value">{{schemas}}</div>
                </div>

                <div *ngIf="tokens" class="delimiter"></div>

                <div *ngIf="tokens" class="field-last">
                    <div class="field-name">Tokens</div>
                    <div class="field-value">{{tokens}}</div>
                </div>
            </div>

            <div *ngIf="module" class="policy">
                <div class="policy-header">{{module.name}}</div>

                <div class="delimiter"></div>

                <div class="field">
                    <div class="field-name">Description</div>
                    <div class="field-value">{{module.description}}</div>
                </div>

                <div class="field">
                    <div class="field-name">Creator</div>
                    <div class="field-value" [title]="module.owner">{{module.owner}}</div>
                </div>
            </div>
            <div class="page-btns">
                <button *ngIf="innerWidth <= 810" mat-raised-button color="primary" id="create-btn" (click)="onImport()">Import</button>
            </div>
        </div>
    </div>
</div>