<div *ngIf="loading" class="loading">
    <div class="preloader-image preloader-image-l-size"></div>
</div>

<div class="container">

    <div>
        <button (click)="goToPage()"
                [iconPos]="'left'"
                [icon]="'pi pi-chevron-left'"
                class="button secondary height-40 margin-bottom-16"
                label="Back to User Management"
                pButton 
                type="button"></button>
    </div>

    <div class="page-title">{{username}}</div>

    <mat-tab-group [selectedIndex]="selectedIndex" (selectedIndexChange)="onChange($event)">
        <mat-tab label="User Roles">
            <div class="permissions-content">
                <div class="selected-roles">
                    <div class="role-header">Selected Roles</div>
                    <div *ngIf="permissionsGroup?.length" class="roles-content">
                        <div *ngFor="let roleId of permissionsGroup" class="role-content">
                            <div class="role-name">{{getRoleName(roleId)}}</div>
                            <div class="role-icon" (click)="onDeleteRole(roleId)">
                                <svg-icon class="svg-icon-16" 
                                    src="/assets/images/icons/16/circle-close.svg" 
                                    svgClass="close-icon-color"></svg-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="roles">
                    <p-multiSelect 
                            [filter]="true" 
                            [options]="roles"
                            optionLabel="name"
                            optionValue="id"
                            [(ngModel)]="permissionsGroup"
                            emptyMessage="Search by Role name"
                            placeholder="Search by Role name"
                            appendTo="body"
                            (onPanelHide)="onChangeRole()">
                        <ng-template let-option pTemplate="selectedItem">
                            <div class="dropdown-item">{{ option.name }}</div>
                        </ng-template>
                        <ng-template let-option pTemplate="item">
                            <div class="dropdown-item">{{ option.name }}</div>
                        </ng-template>
                    </p-multiSelect>
                </div>
                <div class="selected-roles">
                    <div class="permissions-header">Preview</div>
                </div>
        
        
                <div class="categories">
                    <div *ngFor="let category of categories" class="category">
                        <div class="category-header">
                            <div class="category-name">{{category.name}}</div>
                        </div>
                        <div class="category-actions">
                            <div class="category-actions-header">ACTIONS</div>
                            <div class="permission perm-0">Read</div>
                            <div class="permission perm-1">Create</div>
                            <div class="permission perm-2">Update</div>
                            <div class="permission perm-3">Delete</div>
                            <div class="permission perm-4">Review</div>
                            <div class="permission perm-5">Execute</div>
                            <div class="permission perm-6">Manage</div>
                        </div>
                        <div class="category-body">
                            <div *ngFor="let entity of category.entities" class="entity">
                                <div class="entity-name">{{entity.name}}</div>
                                <div class="permissions">
                                    <ng-container *ngIf="entity.actions.length === 1">
                                        <div class="all-permission">
                                            <mat-checkbox 
                                                color="primary" 
                                                *ngIf="entity.actions[0]?.formControl"
                                                [matTooltip]="entity.actions[0].tooltip"
                                                [matTooltipDisabled]="!entity.actions[0].tooltip"
                                                [formControl]="entity.actions[0].formControl"></mat-checkbox>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="entity.actions.length > 1">
                                        <div *ngFor="let control of entity.actions; let i=index" class="permission perm-{{i}}">
                                            <mat-checkbox 
                                                *ngIf="control?.formControl"
                                                color="primary" 
                                                [matTooltip]="control.tooltip"
                                                [matTooltipDisabled]="!control.tooltip"
                                                [formControl]="control.formControl"></mat-checkbox>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Assigned Policies">
            <div class="grid-container">
                <table>
                    <tr class="grid-header">
                        <th class="header-cell-text cell-size-id">NAME</th>
                        <th class="header-cell-text cell-size-id">Description</th>
                        <th class="header-cell-text cell-size-id">Status</th>
                        <th class="header-cell-text cell-size-id">Version</th>
                        <th class="header-cell-text cell-size-id">Assigned to This User</th>
                    </tr>
                    <tbody>
                        <ng-container *ngFor="let row of policyPage">
                            <tr class="grid-row">
                                <td class="row-cell-text cell-size-id">{{ row.name }}</td>
                                <td class="row-cell-text cell-size-id">{{ row.description }}</td>
                                <td class="row-cell-text cell-size-id">{{ row.status }}</td>
                                <td class="row-cell-text cell-size-id">{{ row.version }}</td>
                                <td class="row-cell-text cell-size-id">
                                    <mat-checkbox color="primary" 
                                        [checked]="row.assigned" 
                                        (change)="assignPolicy(row)"></mat-checkbox>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                <app-paginator 
                    [pageIndex]="pageIndex" 
                    [pageSize]="pageSize" 
                    [length]="policyCount"
                    (page)="onPolicyPage($event)"
                ></app-paginator>
            </div>
        </mat-tab>
    </mat-tab-group>



</div>

