<div class="dialog-header">
  <div class="header-container">
    <i class="pi pi-exclamation-triangle delete-icon"></i><div class="header-text">{{ header }}</div>
  </div>
  <div class="header-icon" (click)="onClose()">
    <svg-icon src="/assets/images/icons/close.svg" svgClass="icon-color-close"></svg-icon>
  </div>
</div>

<div class="dialog-body">
  @if (loading) {
    <div class="loading">
      <div class="preloader-image preloader-image-l-size"></div>
    </div>
  }

  @if (itemNames && itemNames.length && itemNames.length > 0) {
    @if (itemNames && itemNames.length && itemNames.length == 1) {
      <div class="delete-text">
        Are you want to delete the "{{ itemNames[0] }}" schema?
      </div>
    }
    @if (itemNames && itemNames.length && itemNames.length > 1) {
      <div>
        <div class="delete-text">
          You are about to delete the following schemas:
        </div>
        <ul style="margin-top: 0;">
          @for (item of itemNames; track item) {
            <li>
              {{ item }}
            </li>
          }
        </ul>
      </div>
    }
  } @else {
    <div class="delete-text">
      There are no items to delete.
    </div>
  }

  @if ((deletableChildren.length) || (blockedChildren.length)) {
    <div class="child-schemas-block">
      @if (deletableChildren.length) {
        @if (itemNames && itemNames.length && itemNames.length == 1) {
          <p class="delete-text">The "{{ itemNames[0] }}" schema includes child schemas. Select the checkbox below to also delete the following child schemas:</p>
        }
        @if (itemNames && itemNames.length && itemNames.length > 1) {
          <p class="delete-text">These schemas include child schemas. Select the checkbox below to also delete the following child schemas:</p>
        }
        <div class="schemas-block">
          <ul class="schemas-list">
            @for (item of deletableChildren; track item) {
              <li>
                <p class="child-item">{{ item.name }}</p>
              </li>
            }
          </ul>
        </div>
      }
      @if (blockedChildren.length) {
        <p class="delete-text">Schemas referenced by other parents (will not be deleted):</p>
        <div class="schemas-block">
          <ul class="schemas-list">
            @for (item of blockedChildren; track item) {
              <li>
                <p class="child-cant-delete-item">
                  {{ item?.schema + ' (depends on: ' + item?.blockingSchemas?.join(', ') + ')' }}
                </p>
              </li>
            }
          </ul>
        </div>
      }
      @if (deletableChildren.length) {
        <div style="margin-top: 16px;">
          <p-checkbox
            class="guardian-checkbox-secondary checkbox-24"
            [(ngModel)]="includeChildren"
            [binary]="true"
            [styleClass]="'primary-checkbox'"
            inputId="deleteChildSchemas"
          ></p-checkbox>
          <label class="p-checkbox-label" for="deleteChildSchemas">Delete child schemas</label>
        </div>
      }
    </div>
  }
</div>

<div class="dialog-footer">
  <div class="action-buttons">
    <div class="secondary-button">
      <button
        (click)="onClose()"
      class="guardian-button guardian-button-secondary">Close</button>
    </div>
    @if (itemNames && itemNames.length && itemNames.length > 0) {
      <div
        class="delete-button">
        <button
          (click)="onDelete()"
        class="guardian-button guardian-button-delete">Delete</button>
      </div>
    }
  </div>
</div>