.loading {
    background: #fff;
    position: absolute;
    z-index: 99;
    border-radius: 16px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.context {
    position: relative;
    overflow-y: auto;
    padding: 14px 0 20px 0;
    display: flex;
    flex-direction: row;
    height: 100%;
    font-family: Inter, serif;
    font-style: normal;
}


.dialog-body {
    min-height: 100px;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;

    &>div {
        margin-left: 15px;
        margin-right: 0px;
        min-width: 100px;
        height: 40px;

        button {
            width: 100%;
            height: 100%;
        }
    }
}

.close-icon-color {
    fill: #848FA9;
    color: #848FA9;
}

.save-icon-color {
    fill: var(--color-primary);
    color: var(--color-primary);
}

.delete-icon {
    margin-right: 8px;
    padding-top: 4px;
    font-size: 24px;
    color: var(--guardian-entity-color, #DA9B22);
}

.delete-text {
    margin-bottom: 8px;
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-style: Regular;
    font-size: 14px;
    letter-spacing: 0%;
    white-space: pre-line;
}

.child-item {
    margin: 0;
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    color: var(--guardian-font-color, #23252E);
}

.child-schemas-block {
    margin-top: 8px;
    margin-bottom: 16px;
}

.schemas-block {
    margin-bottom: 16px;
    border-radius: 8px;
    opacity: 1;
    gap: 4px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    border-width: 1px;
    border: 1px solid var(--color-grey-3, #E1E7EF);
    background: var(--guardian-grey-background, #F9FAFC);

    .child-item {
        font-family: Inter;
        font-weight: 600;
        font-style: Semi Bold;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0%;
        color: var(--guardian-primary-color, #4169E2);
    }

    .child-cant-delete-item {
        margin: 0;
        font-family: Inter;
        font-weight: 600;
        font-style: Semi Bold;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0%;
        color: var(--guardian-failure-color, #FF432A);
    }

    .schemas-list {
        padding: 0 24px;
        margin: 0;
    }
}