.guardian-button {
    display: flex;
    border-radius: 6px;
    font-family: var(--guardian-font-family);
    transition: all 0.25s ease-in-out;
    white-space: nowrap;
    user-select: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    display: inline-flex;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid transparent;
    text-overflow: ellipsis;
    outline: none !important;

    &:hover {
        filter: brightness(0.95);
    }

    &-primary {
        color: var(--guardian-secondary-color);
        background-color: var(--guardian-primary-color);
        border: 1px solid var(--guardian-primary-color);
    }

    &-secondary {
        color: var(--guardian-primary-color);
        background-color: var(--guardian-secondary-color);
        border: 1px solid var(--guardian-primary-color);
    }

    &-delete {
        color: var(--guardian-delete-color);
        background-color: var(--guardian-secondary-color);
        border: 1px solid var(--guardian-delete-color);
    }

    &-success {
        color: var(--guardian-success-color);
        background-color: var(--guardian-success-background);
        border: 1px solid var(--guardian-success-color);
    }

    .guardian-button-icon {
        width: auto;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
    }

    .guardian-button-icon+.guardian-button-label {
        padding-left: 8px;
        pointer-events: none;
    }

    .guardian-button-label+.guardian-button-icon {
        margin-right: 8px;
        pointer-events: none;
    }

    * {
        outline: none;
        user-select: none;
        pointer-events: none;
    }
}

button.guardian-button[disabled],
div.guardian-button[disabled="true"] {
    cursor: default !important;

    color: var(--guardian-disabled-color) !important;
    background-color: var(--guardian-disabled-background) !important;
    border: 1px solid var(--guardian-disabled-color) !important;
    filter: none !important;
}

.guardian-icon-button {
    display: flex;
    border-radius: 4px;
    transition: all 0.25s ease-in-out;
    white-space: nowrap;
    user-select: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    display: inline-flex;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;

    &:hover {
        background-color: var(--guardian-primary-background);
    }

    &.big:hover {
        box-shadow: 0px 0px 0px 6px var(--guardian-primary-background);
    }

    &-secondary {
        background-color: var(--guardian-secondary-color);
        border: 1px solid var(--guardian-primary-color);
    }

    * {
        outline: none;
        user-select: none;
        pointer-events: none;
    }
}

button.guardian-icon-button[disabled],
div.guardian-icon-button[disabled="true"] {
    cursor: default !important;
    background-color: transparent !important;
    box-shadow: none !important;
    filter: none !important;
    pointer-events: none;
}