.guardian-checkbox {
    .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: none;
        border-color: var(--guardian-primary-color, #4169E2);
    }

    .p-checkbox {
        .p-checkbox-box {
            border: 2px solid var(--guardian-primary-color, #4169E2);
            border-radius: 2px;

            &.p-highlight {
                border-color: var(--guardian-primary-color, #4169E2);
                background: var(--guardian-primary-color, #4169E2);
            }
        }
    }

    .p-checkbox .p-checkbox-box:not(.p-disabled):not(.p-highlight):hover {
        border-color: var(--guardian-primary-color, #4169E2);
    }

    &.checkbox-24 {
        .p-checkbox {
            width: 24px;
            height: 24px;
            line-height: 24px;
            padding: 4px;

            .p-checkbox-box {
                width: 16px;
                height: 16px;

                .p-checkbox-icon {
                    font-size: 10px;
                }
            }
        }
    }
}

.guardian-radio-button {
    .p-radiobutton:not(.p-radiobutton-disabled) .p-radiobutton-box.p-focus {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: none;
        border-color: var(--guardian-primary-color, #4169E2);
    }

    .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
        border-color: var(--guardian-primary-color, #4169E2);
    }

    .p-radiobutton {
        .p-radiobutton-box {
            border-color: var(--guardian-primary-color, #4169E2);
            background: #ffffff;

            .p-radiobutton-icon {
                background: var(--guardian-primary-color, #4169E2);
                box-shadow: 0px 0px 0px 2px #ffffff;
            }

            &.p-highlight {
                background: var(--guardian-primary-color, #4169E2);
            }
        }
    }

    &.radio-button-24 {
        .p-radiobutton {
            width: 24px;
            height: 24px;
            line-height: 24px;
            padding: 4px;

            .p-radiobutton-box {
                width: 16px;
                height: 16px;

                .p-radiobutton-icon {
                    width: 8px;
                    height: 8px;
                }
            }
        }
    }
}