.guardian-dropdown {
    height: 40px;

    .p-dropdown {
        background: #ffffff;
        border: 1px solid var(--guardian-grey-color-2, #E1E7EF);
        border-radius: 8px;
        outline: 0 none;
        height: 40px;

        &:not(.p-disabled):hover {
            border-color: var(--guardian-primary-color, #4169E2);
        }

        &:not(.p-disabled).p-focus {
            box-shadow: none;
            border-color: var(--guardian-primary-color, #4169E2);
        }

        .p-dropdown-label {
            padding: 8px 16px;
        }

        .p-dropdown-trigger {
            .p-dropdown-trigger-icon {
                font-size: 12px;
                color: var(--guardian-font-color, #23252E);
            }
        }

        .p-inputtext {
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            padding: 0px 16px;
            display: flex;
            color: #000;
            align-items: center;
        }
    }

    .guardian-dropdown-selected {
        text-overflow: ellipsis;
        display: block;
        white-space: nowrap;
        overflow: hidden;

        .guardian-dropdown-label {
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            text-align: left;
            color: #848FA9;
            padding-right: 8px;
        }

        .guardian-dropdown-item {
            font-family: Inter;
            font-size: 14px;
            line-height: 16px;
            text-align: left;
        }
    }

    .guardian-dropdown-item {}

    &.guardian-dropdown-cell {
        width: 100%;

        .p-dropdown {
            border: none !important;
        }
    }
}

.guardian-dropdown-panel {
    border: 1px solid var(--guardian-grey-color-2, #E1E7EF);
    border-radius: 8px;

    .p-dropdown-item {
        height: 40px;
        padding: 12px 16px !important;
        font-family: Inter;
        font-size: 14px;
        line-height: 16px;
        text-align: left;
    }

    .p-dropdown-item.p-highlight {
        position: relative;
        background: none !important;

        &::before {
            content: "";
            display: block;
            position: absolute;
            background: var(--guardian-primary-color, #4169E2);
            opacity: 0.16;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            pointer-events: none;
        }
    }

    .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
        position: relative;
        background: none !important;

        &::before {
            content: "";
            display: block;
            position: absolute;
            background: var(--guardian-primary-color, #4169E2);
            opacity: 0.08;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            pointer-events: none;
        }
    }
}