.dialog-grid-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;

    .col-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .col-button {
        padding: 0px 6px !important;
    }

    .col-auto {
        width: 100%;
    }

    .col-44 {
        width: 44px;
        min-width: 44px;
        max-width: 44px;
    }

    .col-64 {
        width: 64px;
        min-width: 64px;
        max-width: 64px;
    }

    .col-80 {
        width: 80px;
        min-width: 80px;
        max-width: 80px;
    }

    .col-100 {
        width: 100px;
        min-width: 100px;
        max-width: 100px;
    }

    .col-120 {
        width: 120px;
        min-width: 120px;
        max-width: 120px;
    }

    .col-135 {
        width: 135px;
        min-width: 135px;
        max-width: 135px;
    }

    .col-140 {
        width: 140px;
        min-width: 140px;
        max-width: 140px;
    }

    .col-150 {
        width: 150px;
        min-width: 150px;
        max-width: 150px;
    }

    .col-160 {
        width: 160px;
        min-width: 160px;
        max-width: 160px;
    }

    .col-180 {
        width: 180px;
        min-width: 180px;
        max-width: 180px;
    }

    .col-200 {
        width: 200px;
        min-width: 200px;
        max-width: 200px;
    }

    .col-250 {
        width: 250px;
        min-width: 250px;
        max-width: 250px;
    }

    .dialog-grid-header {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 46px;
        min-height: 46px;
        max-height: 46px;
        padding: 0px 12px;
        color: var(--guardian-grid-color);

        &>div {
            font-size: var(--guardian-small-font-size);
            text-transform: uppercase;
            padding: 12px 8px;
        }
    }

    .dialog-grid-body {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 1px solid var(--guardian-border-color);
        border-radius: 6px;

        &.vertical-border {
            .dialog-grid-row {
                &>div { 
                    border-right: 1px solid var(--guardian-border-color);

                    &:last-child {
                        border-right: none;
                    }
                }
            }
        }

        .dialog-grid-row {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 64px;
            min-height: 64px;
            max-height: 64px;
            border-bottom: 1px solid var(--guardian-border-color);
            cursor: default;
            padding: 0px 12px;
            font-size: var(--guardian-primary-font-size);
            color: var(--guardian-font-color);

            &>div {
                padding: 0px 10px;
                display: flex;
                align-items: center;
                position: relative;

                .cell-focus {
                    display: none;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    border: 1px solid var(--guardian-primary-color, #4169E2);
                }
                .p-inputwrapper-focus+.cell-focus,
                .guardian-input:focus+.cell-focus {
                    display: block;
                }

                &:first-child {
                    .cell-focus {
                        left: -12px;
                    }
                }
            }

            &:first-child>div:first-child .cell-focus {
                border-top-left-radius: 6px;
            }

            &:last-child>div:first-child .cell-focus {
                border-bottom-left-radius: 6px;
            }

            &[expand="true"] {
                border-bottom-color: transparent;

                .expand-icon {
                    transform: rotate(90deg);
                }
            }

            &:last-child {
                border-bottom: none;
            }
        }

        .dialog-grid-expand-row {
            width: 100%;
            border-bottom: 1px solid var(--guardian-border-color);
            padding: 0px 12px;
            display: none;

            &[expand="true"] {
                display: flex;
            }
        }
    }

    .dialog-grid-empty {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        color: #848FA9;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.guardian-grid-paginator {
    .table-paginator {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        column-gap: 24px;
        padding: 0 16px 0 0;
        color: var(--color-grey-black-2, #23252e);
        font-family: Inter, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        height: 64px !important;
        border-radius: 0px !important;
        border-bottom-left-radius: 8px !important;
        border-bottom-right-radius: 8px !important;
        background: #fff;
        box-shadow: none !important;
        position: relative;
    }
}

.guardian-grid-container {
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        left: -1px;
        right: -1px;
        top: 45px;
        bottom: -1px;
        pointer-events: none;
        border: 1px solid #00000014;
        border-radius: 8px;
        box-shadow: 0px 4px 8px 0px #00000014;
    }

    .guardian-grid-header {
        height: 46px;

        th {
            font-family: Inter;
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
            text-align: left;
            color: var(--guardian-grid-color, #848FA9);
            text-transform: uppercase;
            padding: 16px;
            border: none;
            background: transparent;

            &:first-child {
                padding-left: 24px;
            }
            &:last-child {
                padding-left: 24px;
            }
        }
    }

    .guardian-grid-row {
        height: 64px;

        td {
            padding: 16px;
            border-bottom: 1px solid #e9ecef;

            &:first-child {
                padding-left: 24px;
            }
            &:last-child {
                padding-left: 24px;
            }
        }

        &:first-child {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
    }
}