.icon-color {
    &-primary {
        fill: var(--guardian-primary-color);
        color: var(--guardian-primary-color);
    }

    &-secondary {
        fill: var(--guardian-secondary-color);
        color: var(--guardian-secondary-color);
    }

    &-disabled {
        fill: var(--guardian-disabled-icon);
        color: var(--guardian-disabled-icon);
    }

    &-delete {
        fill: var(--guardian-delete-color);
        color: var(--guardian-delete-color);
    }

    &-success {
        fill: var(--guardian-success-color);
        color: var(--guardian-success-color);
    }

    &-failure {
        fill: var(--guardian-failure-color);
        color: var(--guardian-failure-color);
    }

    &-warning {
        fill: var(--guardian-warning-color);
        color: var(--guardian-warning-color);
    }

    &-close {
        fill: var(--guardian-close-color);
        color: var(--guardian-close-color);
    }
}