::ng-deep body {
    @import 'variables.scss';
    @import 'icon.scss';
    @import 'button.scss';
    @import 'grid.scss';
    @import 'dialog.scss';
    @import 'progress.scss';
    @import 'label.scss';
    @import 'page.scss';
    @import 'input.scss';
    @import 'dropdown.scss';
}