.guardian-input-container {
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 100%;

    label {
        font-family: Inter;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        text-align: left;
        margin-bottom: 6px;
    }

    input {
        height: 40px;
        border-radius: 8px;
        outline: none;
        border: 1px solid var(--guardian-grey-color-2, #E1E7EF);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        color: #000;
        padding: 8px 16px;

        &:enabled:hover {
            border-color: var(--guardian-primary-color, #4169E2);
        }

        &:enabled:focus {
            border-color: var(--guardian-primary-color, #4169E2);
            box-shadow: none;
        }
        &.invalid {
            border-color: var(--guardian-failure-color) !important;
        }
    }

    .p-dropdown {
        width: 100%;
    }

    .p-password {
        width: 100%;

        input {
            width: 100%;
            padding-right: 30px;
        }
    }

    .guardian-input {
        height: 40px;
        border-radius: 8px;
        outline: none;
        border: 1px solid var(--guardian-grey-color-2, #E1E7EF);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        color: #000;
        padding: 8px 16px;

        &:hover {
            border-color: var(--guardian-primary-color, #4169E2);
        }

        &:focus {
            border-color: var(--guardian-primary-color, #4169E2);
            box-shadow: none;
        }
    }

    .guardian-input-readonly {
        height: 40px;
        border-radius: 8px;
        outline: none;
        border: 1px solid var(--guardian-grey-color-2, #E1E7EF);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        color: #000;
        padding: 10px 16px;
    }
}

.guardian-input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 1px solid var(--guardian-grey-color-2, #E1E7EF);
    padding: 8px 8px;
    box-shadow: none;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    color: #000;

    &:enabled:hover {
        border-color: var(--guardian-primary-color, #4169E2);
    }

    &:enabled:focus {
        border-color: var(--guardian-primary-color, #4169E2);
        box-shadow: none;
    }

    &.guardian-input-cell {
        width: 100%;
        border: none !important;
        padding: 8px 0px;
        height: 100%;
    }
}

.guardian-search {
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 100%;

    input {
        height: 40px;
        border-radius: 8px;
        outline: none;
        border: 1px solid var(--guardian-grey-color-2, #E1E7EF);

        &:enabled:hover {
            border-color: var(--guardian-primary-color, #4169E2);
        }

        &:enabled:focus {
            border-color: var(--guardian-primary-color, #4169E2);
            box-shadow: none;
        }
    }
}