.guardian-pages-control {
    height: 32px;
    width: 100%;
    display: flex;
    flex-direction: row;

    .guardian-pages-nav {
        height: 32px;
        width: 96px;
        min-width: 96px;
        display: flex;
        flex-direction: row;

        .guardian-pages-nav-left {
            height: 32px;
            width: 32px;
        }

        .guardian-pages-nav-more {
            height: 32px;
            width: 32px;
        }

        .guardian-pages-nav-right {
            height: 32px;
            width: 32px;
        }
    }

    .guardian-pages-container {
        width: fit-content;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        margin: 0px 8px;

        .guardian-pages-item {
            width: auto;
            max-width: 150px;
            position: relative;
            border: 1px solid var(--guardian-primary-color, #4169E2);
            border-bottom: 0px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            padding: 0px 32px 0px 8px;
            display: flex;
            align-items: center;
            cursor: pointer;
            user-select: none;
            margin-right: 8px;

            &[hidden="true"] {
                display: none !important;
            }

            .guardian-pages-item-name {
                pointer-events: none;
                font-family: Inter;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                text-align: center;
                min-width: 75px;
            }

            .guardian-pages-item-icon {
                height: 24px;
                width: 24px;
                position: absolute;
                top: 4px;
                right: 4px;
                cursor: pointer;
            }

            &[selected="true"] {
                background: #f0f3fc;
                color: var(--guardian-primary-color, #4169E2);
            }
        }
    }

    .guardian-pages-new {
        height: 32px;
        width: 32px;
        min-width: 32px;
    }
}