.guardian-loading {
    background: var(--guardian-secondary-background);
    position: absolute;
    z-index: 99;
    border-radius: 16px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;

    .guardian-loading-image {
        width: 56px;
        height: 56px;
        border-top: 3px solid var(--guardian-primary-color);
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-radius: 100%;
        filter: brightness(100%);
        animation-name: guardian-loading-animation;
        animation-duration: 7.5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    @keyframes guardian-loading-animation {
        0% {
            transform: rotate(0deg);
            opacity: 1;
        }

        25% {
            transform: rotate(360deg);
            border-top: 3px solid transparent;
            border-right: 3px solid var(--guardian-primary-color);
            border-left: 3px solid transparent;
            border-bottom: 3px solid transparent;
        }

        50% {
            transform: rotate(720deg);
            border-top: 3px solid transparent;
            border-left: 3px solid transparent;
            border-bottom: 3px solid var(--guardian-primary-color);
            border-right: 3px solid transparent;
        }

        75% {
            transform: rotate(1080deg);
            border-top: 3px solid transparent;
            border-bottom: 3px solid transparent;
            border-right: 3px solid transparent;
            border-left: 3px solid var(--guardian-primary-color);
        }

        100% {
            transform: rotate(1440deg);
            border-top: 3px solid var(--guardian-primary-color);
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            border-bottom: 3px solid transparent;
        }
    }
}

.progress-bar {
    background-color: var(--guardian-disabled-background);
    border-radius: 8px;
    margin: 1px;
    overflow: hidden;
    position: relative;

    .progress-bar-value {
        background-color: var(--guardian-primary-color);
        font-size: 12px;
        font-style: normal;
        display: flex;
        justify-content: center;
        height: inherit;
        overflow: hidden;
        width: 0%;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        transition: width 1s ease-in-out;

        &::before {
            content: "";
            background: linear-gradient(135deg,
                    transparent 25%,
                    rgba(255, 255, 255, 0.5) 50%,
                    rgba(255, 255, 255, 0.5) 50%,
                    transparent 75%);
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            transform: translate(-100%, 0px);
            animation-duration: 1.5s;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
            animation-name: progress-bar-animation;
            animation-timing-function: linear;
        }
    }

    &.static-bar {
        .progress-bar-value {
            &::before {
                display: none;
            }
        }
    }

    @keyframes progress-bar-animation {
        0% {
            transform: translate(-100%, 0px);
        }

        100% {
            transform: translate(100%, 0px);
        }
    }
}