.guardian-stepper {
    width: 100%;
    height: 100%;
    display: flex;
    user-select: none;

    &.horizontal-stepper {
        flex-direction: row;

        .guardian-step-separator {
            width: 90px;
            height: 100%;
            position: relative;

            &::before {
                content: "";
                display: block;
                position: absolute;
                border-top: 2px solid var(--guardian-grey-color-3, #AAB7C4);
                left: 24px;
                right: 24px;
                top: calc(50% - 1px);
                height: 3px;
            }
        }

        .guardian-step {
            height: 34px;
            min-height: 34px;
        }
    }

    &.vertical-stepper {
        flex-direction: column;

        .guardian-step-separator {
            width: 100%;
            height: 24px;
            min-height: 24px;
            position: relative;

            &::before {
                content: "";
                display: block;
                position: absolute;
                border-left: 2px solid var(--guardian-grey-color-3, #AAB7C4);
                left: 19px;
                top: 0px;
                bottom: 0px;
                width: 2px;
            }
        }

        .guardian-step {
            height: 56px;
            min-height: 56px;
        }
    }

    .guardian-step {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        margin: 3px 0px;
        border-radius: 8px;
        padding: 8px;
        white-space: nowrap;
        cursor: pointer;

        .guardian-step-icon {
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;

            svg-icon svg {
                fill: var(--guardian-grey-color-3, #AAB7C4);
                color: var(--guardian-grey-color-3, #AAB7C4);
            }
        }

        .guardian-step-marker {
            width: 24px;
            height: 24px;
            border: 1px solid var(--guardian-grey-color-3, #AAB7C4);
            background: var(--guardian-grey-color-3, #AAB7C4);
            color: #FFF;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Inter;
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            text-align: center;
            vertical-align: middle;

            svg-icon svg {
                fill: var(--guardian-grey-color-3, #AAB7C4);
                color: var(--guardian-grey-color-3, #AAB7C4);
            }
        }

        .guardian-step-template {
            width: 24px;
            height: 24px;
            border: 1px solid var(--guardian-grey-color-3, #AAB7C4);
            background: var(--guardian-grey-color, #EFF3F7);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .guardian-step-name {
            height: 24px;
            padding: 2px 8px;
            font-family: Inter;
            font-size: 14px;
            font-weight: 500;
            text-align: left;
            color: var(--guardian-grey-color-3, #AAB7C4);
        }

        &:hover {
            background: #f0f3fc;
        }

        &[highlighted="true"] {
            background: #f0f3fc;
        }

        &[disabled="true"] {
            pointer-events: none !important;
        }

        &[action="true"] {
            .guardian-step-icon {
                svg-icon svg {
                    fill: var(--guardian-primary-color);
                    color: var(--guardian-primary-color);
                }
            }

            .guardian-step-marker {
                background: var(--guardian-primary-color, #4169E2);
                border: 1px solid var(--guardian-primary-color, #4169E2);
                color: #FFF;

                svg-icon svg {
                    fill: var(--guardian-secondary-color, #FFFFFF);
                    color: var(--guardian-secondary-color, #FFFFFF);
                }
            }

            .guardian-step-template {
                background: var(--guardian-primary-color, #4169E2);
                border: 1px solid var(--guardian-primary-color, #4169E2);
            }

            .guardian-step-name {
                color: var(--guardian-primary-color, #4169E2);
            }
        }
    }
}