.mat-button-base:not([started]) {
    background-color: rgba(0,0,0,.12);
}

.mat-dialog-content {
    overflow: visible;
}

.mat-dialog-actions {
    padding: 15px 0;
}

.description {
    margin-bottom: 20px;
}

.g-dialog-actions-btn {
    min-width: 210px !important;
    padding: 0;
    border: none;
}

@media (max-width: 810px) {

    .g-dialog-header {
        width: 90%;
        padding: 22px 0;

        box-shadow: none;
        margin: 0 auto;
    }

    .g-dialog-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600 !important;
        font-size: 24px !important;
        line-height: 28px;
        color: #222222 !important;
        order: 2;
    }

    .g-dialog-cancel {
        order: 3;
        margin-right: 0 !important;
    }

    .g-dialog-content {
        height: calc(100% - 87px);
    }

    .g-dialog-body {
        width: 90%;
        margin: 0 auto !important;
        max-height: calc(100% - 90px);
        padding: 0;
    }

    .page-btns {
        width: 90%;
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        margin-top: 20px;
        z-index: 1000;

        background-color: white;
        padding: 20px 0;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    #cancel-btn {
        border: 1px solid #2C78F6;
        background: none !important;
        color: #2C78F6;
        grid-column: 1;
    }

    #create-btn {
        grid-column: 2;
        background: #2C78F6;
    }

    #create-btn[disabled] {
        opacity: 0.5;
        background: #2C78F6;
        color: white;
    }

    #save-btn {
        grid-column: 2;
        background: #2C78F6;
    }

    #save-btn[disabled] {
        opacity: 0.5;
        background-color: rgba(0,0,0,.12);
        color: white;
    }
}

.dialog {
    width: 720px;
    height: auto;
}

.dialog > .header {
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dialog > .header > span {
    color: #000;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}
