.content {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    background: rgb(0 0 0 / 5%);
}

.loading {
    background: #fff;
    position: fixed;
    z-index: 99;
    top: var(--header-height-policy);
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}


.title {
    height: 64px;
    padding: 22px 28px;
    box-sizing: border-box;
    border-radius: 24px;
    box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 20%);
    display: flex;
    user-select: none;
    color: #646464;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 20px;
}

.description {
    background: #fff;
    display: block;
    font-size: 20px;
    color: #404040;
    margin-bottom: 0px;
    padding: 15px 35px 20px 35px;
    line-height: 30px;
}

.description span {
    font-weight: bold;
}

.dialog {
    width: 700px;
    margin: 5px;
    border: 1px solid #d5d5d5;
    border-radius: 24px;
    box-shadow: 2px 2px 6px 0px rgb(0 0 0 / 20%);
    background: #fff;
    min-height: 100px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.form {
    background: #fff;
    color: #404040;
    margin-bottom: 30px;
    padding: 10px 35px;
    display: flex;
    flex-direction: column;
}