.mat-button-base:not([started]) {
    background-color: rgba(0,0,0,.12);
}

.mat-dialog-content {
    overflow: visible;
}

.mat-dialog-actions {
    padding: 15px 0;
}

.description {
    margin-bottom: 20px;
}

.g-dialog-actions-btn {
    min-width: 210px !important;
}

form {
    display: flex;
    flex-direction: column;
    overflow: visible;
}

.add-artifact {
    position: relative;
    height: 40px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 11px 8px 11px 34px;
    display: flex;
    flex-direction: row;
    color: #1274fb;
    border-radius: 6px;
    border: 1px solid #5a9af9;
    cursor: pointer;
    user-select: none;
    width: 160px;
}

.add-artifact:hover {
    background: #f1f1f1;
}

.add-icon {
    position: absolute;
    left: 8px;
    top: 8px;
    font-size: 22px;
    width: 22px;
    height: 22px;
    color: #1274fb;
}

.btn-name {
    font-size: 16px;
    display: block;
    line-height: 18px;
    height: 18px;
    overflow: hidden;
    white-space: nowrap;
    max-width: 130px;
    text-overflow: ellipsis;
}

.artifact-selector {
    height: 40px;
    border-radius: 6px;
    border: 1px solid #5a9af9;
    width: 250px;
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    opacity: 0;
    pointer-events: none;
    padding: 10px 0px;
}

.artifact-container {
    position: relative;
}

.selected-artifact-name {
    position: relative;
    height: 52px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    min-width: 250px;
    box-sizing: border-box;
    padding: 17px 0.75em 14px 0.75em;
    flex: 1;
}

.selected-artifact-label {
    color: rgba(0,0,0,.6);
    font-size: 14px;
    position: absolute;
    top: -10px;
    left: 0px;
    background: #fff;
    padding: 0px 6px 0px 3px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    transform: scale(0.75);
}

.selected-artifact {
    display: flex;
    flex-direction: row;
}

.delete-artifact {
    position: relative;
    height: 52px;
    width: 52px;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 8px;
}

.delete-artifact:hover {
    background: #f1f1f1;
}

.delete-artifact mat-icon {
    position: absolute;
    color: #f44336;
    top: 12px;
    left: 12px;
    width: 28px;
    height: 28px;
    font-size: 28px;
}


.artifact-form {
    position: relative;
    margin: 45px 8px 0px 8px;
    padding: 40px 0px 0px 0px;
    border-top: 1px solid #c8c8c8;
}

.artifact-form-label {
    position: absolute;
    color: #0c77ff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    background: #fff;
    left: 50%;
    top: -22px;
    transform: translate(-50%, 0px);
}