@if (properties) {
  <table class="properties" [attr.readonly]="readonly">
  <colgroup><col class="col-toggle"><col class="col-name"><col class="col-value"></colgroup>
    <tr class="propRow" [attr.collapse]="propHidden.main">
      <td class="propRowCol"></td>
      <td class="propRowCell cellName">Use Template</td>
      <td class="propRowCell">
        <p-toggleswitch
          [(ngModel)]="properties.useTemplate"
          [disabled]="readonly"
          (onChange)="onUseTemplateChange(); onSave()">
        </p-toggleswitch>
      </td>
    </tr>
    @if (!properties.useTemplate) {
      <tr class="propHeader">
        <td class="propRowCol cellCollapse" (click)="onHide(propHidden, 'main')" [attr.collapse]="propHidden.main">
          <i class="pi pi-caret-down"></i>
        </td>
        <td class="propHeaderCell cellName">Main</td>
        <td class="propHeaderCell"></td>
      </tr>
    }
  </table>
}
