form {
    display: flex;
    flex-direction: column;
    width: 452px;
    overflow: visible;
    padding-bottom: 25px;
}

.context {
    position: relative;
}

.dialog-body {
    padding: 0px 2px 8px 2px;
    margin-bottom: 8px;
    position: relative;
}

.schema-header {
    font-size: 18px;
    line-height: 32px;
    display: block;
    padding: 12px;
    box-sizing: border-box;
    text-align: center;
    color: #000;
    font-weight: 500;
}

.delimiter {
    padding: 50px 50px;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    position: relative;
}

.delimiter::after {
    content: '';
    position: absolute;
    height: 2px;
    top: 50px;
    left: 0px;
    right: 0px;
    border-top: 1px solid #c8c8c8;
}

.field-value {
    color: #000;
    font-size: 16px;
}

.field-name {
    margin-bottom: 12px;
}

.field {
    margin-top: 5px;
    margin-bottom: 28px;
}

.field-last {
    margin-bottom: 0px;
}

.version-container {
    display: flex;
    gap: 15px;
}

.version-container__new-versions {
    margin-top: 3px;
}

.form-input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.form-label {
    margin-bottom: 6px;
    color: var(--color-grey-black-1, #181818);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
}

.fields-container {
    margin-top: 24px;
}

.field-name {
    color: #181818;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
}

.field-array {
    color: #181818;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    overflow-y: auto;
    margin-top: 10px;
    border: 1px solid #E1E7EF;
    border-radius: 6px;
    overflow: hidden;
    padding: 0;

    .field-array-item {
        display: grid;
        grid-template-columns: 175px 110px 410px;
        border-bottom: 1px solid #E1E7EF;

        &:last-child {
            border-bottom: none;
        }

        &>div {
            white-space: break-spaces;
            padding: 12px 12px 12px 12px;
            border-right: 1px solid #E1E7EF;

            &:last-child {
                border-right: none;
            }
        }
    }

    .error-type-warning>div {
        color: var(--color-accent-yellow-1, #DA9B22);
    }


    .error-type-error>div {
        color: var(--color-accent-red-1, #FF432A);
    }

    .error-message {
        font-size: 12px;
        margin-top: 8px;
        background: #fff1f1;
        padding: 8px;
        border-radius: 6px;
    }
}

.schema {
    padding: 5px 12px 20px 12px;
    border: 1px solid #bbb;
    border-radius: 8px;
    margin-bottom: 8px;
}

.field-header {
    font-size: 20px;
    line-height: 32px;
    display: block;
    padding: 12px 12px 12px 0px;
    box-sizing: border-box;
    color: #181818;
    font-weight: 500;
}