authentication-service/node_modules/
guardian-service/node_modules/
guardian-service/dist/
message-broker/node_modules/
ui-service/node_modules/
ui-service/dist/
mrv-sender/node_modules/
mrv-sender/dist/
message-broker/dist/
.vscode/
vc/node_modules/
vc/dist/
vc-modules/node_modules/
vc-modules/dist/
config.keys
interfaces/dist/
interfaces/node_modules/
www-data/
ui-service/.vs/
/test_results/
/node_modules/
/.tmp/
tools/**/*.tgz
guardian-service/config.json
ui-service/.env
ui-service/.env.docker
tymlez-service/.env
tymlez-service/.env.docker
*.tsbuildinfo
