.env
node_modules/
dist/
.vscode/
.vs/
config.keys
www-data/
/test_results/
/guardian-service/config.json
tsconfig.tsbuildinfo
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
node_modules
runtime-data/

# OSX related metadata removal and IDE nonsense
.DS_store
.idea

logs/
**/logs/
/.run/

# Hardhat files
**/cache
**/artifacts

# TypeChain files
**/typechain
**/typechain-types

# Test coverage
/coverage
/coverage.json
.nyc_output
*.lcov

# Contracts
/contractAddresses.json
