version: "3.8"
services:
  mongo:
    image: mongo
    restart: always
    expose:
      - 27017

  api-docs:
    build:
      context: .
      dockerfile: ./api-docs/Dockerfile
    expose:
      - 3001

  message-broker:
    image: nats
    expose:
      - 4222
    ports:
      - '8222:8222'
    command: '--http_port 8222'

  vault:
    image: vault
    expose:
      - 8200
    ports:
      - '8200:8200'
    environment:
      VAULT_SERVER: "http://0.0.0.0:8200"
      VAULT_DEV_ROOT_TOKEN_ID: "1234"
    cap_add:
      - IPC_LOCK
    volumes:
      - ./file:/vault/file:rw
      - ./config:/vault/config:rw

  logger-service:
    build:
      context: .
      dockerfile: ./logger-service/Dockerfile
    depends_on:
      - message-broker

  worker-service-1:
    build:
      context: .
      dockerfile: ./worker-service/Dockerfile
    depends_on:
      - ipfs-client
    environment:
      - SERVICE_CHANNEL="worker.1"

  worker-service-2:
    build:
      context: .
      dockerfile: ./worker-service/Dockerfile
    depends_on:
      - ipfs-client
    environment:
      - SERVICE_CHANNEL="worker.2"

  auth-service:
    build:
      context: .
      dockerfile: ./auth-service/Dockerfile
    depends_on:
      - mongo
      - vault
      - message-broker
      - logger-service

  api-gateway:
    build:
      context: .
      dockerfile: ./api-gateway/Dockerfile
    expose:
      - 3002
    depends_on:
      - mongo
      - message-broker
      - guardian-service
      - auth-service
      - logger-service

  guardian-service:
    build:
      context: .
      dockerfile: ./guardian-service/Dockerfile
    depends_on:
      - mongo
      - message-broker
      - auth-service
      - logger-service
      - worker-service-1
      - worker-service-2

  ipfs-client:
    build:
      context: .
      dockerfile: ./ipfs-client/Dockerfile
    ports:
      - "5001:5001"
      - "5002:5002"
      - "4001:4001"
      - "4002:4002"
      - "8080:8080"
      - "8081:8081"
    depends_on:
      - message-broker
      - logger-service
      - auth-service

  mrv-sender:
    build:
      context: .
      dockerfile: ./mrv-sender/Dockerfile
    expose:
      - 3005

  topic-viewer:
    build:
      context: .
      dockerfile: ./topic-viewer/Dockerfile
    expose:
      - 3006

  web-proxy:
    build:
      context: .
      dockerfile: ./web-proxy/Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - guardian-service
      - auth-service
      - api-gateway
      - api-docs
      - mrv-sender
volumes:
  mongo:
    # volume-guardian-service:
    # volume-ui-service:
    # volume-mrv-sender:
    #  volume-message-broker:
