# This file is linted and formatted using Docker Compose Linter (https://github.com/zavoloklom/docker-compose-linter):
# npx dclint . --fix=true

# Please note variables defined in the "environment" section will override the same variables defined in the "env_file"
# See # https://docs.docker.com/compose/environment-variables/envvars-precedence/ for more details

# YAML anchor that contains common configuration elements for our services
x-service-template: &service-template
  init: true
  env_file:
    - ./configs/.env.${GUARDIAN_ENV}.guardian.system
  environment:
    GUARDIAN_ENV: ${GUARDIAN_ENV}

name: guardian-analytics

services:
  analytics-service:
    build:
      context: .
      dockerfile: ./analytics-service/Dockerfile
    depends_on:
      - message-broker
      - queue-service
    volumes:
      - ./analytics-service/configs:/usr/local/app/configs:ro
    ports:
      - '127.0.0.1:3000:3020'
    <<: *service-template
    expose:
      - '6555'

  auth-service:
    build:
      context: .
      dockerfile: ./auth-service/Dockerfile
    depends_on:
      - logger-service
      - message-broker
      - mongo
    volumes:
      - ./auth-service/tls:/usr/local/app/tls:ro
      - ./auth-service/configs:/usr/local/app/configs:ro
    <<: *service-template
    expose:
      - '6555'
      - '5005'

  logger-service:
    build:
      context: .
      dockerfile: ./logger-service/Dockerfile
    depends_on:
      - message-broker
    volumes:
      - ./logger-service/configs:/usr/local/app/configs:ro
    <<: *service-template

  message-broker:
    image: nats:2.9.25
    volumes:
      - ./configs/nats.conf:/etc/nats/nats.conf
    ports:
      - '127.0.0.1:8222:8222'
    command: "-c /etc/nats/nats.conf --http_port 8222"
    expose:
      - '4222'
    init: true

  mongo:
    image: mongo:6.0.26
    command: "--setParameter allowDiskUseByDefault=true"
    # command: "--setParameter allowDiskUseByDefault=true --quiet --logpath /dev/null" # use this command to reduce log noise
    restart: always
    expose:
      - '27017'
    init: true

  queue-service:
    build:
      context: .
      dockerfile: ./queue-service/Dockerfile
    depends_on:
      - message-broker
      - mongo
    volumes:
      - ./queue-service/configs:/usr/local/app/configs:ro
    <<: *service-template
    expose:
      - '6555'

  worker-service:
    build:
      context: .
      dockerfile: ./worker-service/Dockerfile
    depends_on:
      auth-service:
        condition: service_started
      queue-service:
        condition: service_started
    volumes:
      - ./worker-service/tls:/usr/local/app/tls:ro
      - ./worker-service/configs:/usr/local/app/configs:ro
    <<: *service-template
    deploy:
      replicas: 10
    expose:
      - '6555'
