<div class="dialog-body">
    <div class="g-dialog-header">
        <p-tabView class="guardian-tabs action-tabs">
            <p-tabPanel *ngFor="let tab of items; let i = index">
                <ng-template pTemplate="header">
                    <div (click)="onChangeTab(i)" class="tabview-label">
                        {{ tab.label }}
                    </div>
                </ng-template>
            </p-tabPanel>
        </p-tabView>
    </div>
    <div class="g-dialog-body">
        <div *ngIf="!started" class="guardian-loading">
            <div class="guardian-loading-image"></div>
        </div>
        <div style="padding-right: 12px;">
            <app-schema-configuration
                #schemaControl
                [hidden]="!!json"
                [type]="type"
                [value]="schema"
                [extended]="extended"
                [schemaType]="schemaType"
                [modules]="modules"
                [policies]="policies"
                [topicId]="topicId"
                [properties]="properties"
                [tools]="tools"
                (change-form)="onChangeForm($event)"
                (use-update-sub-schemas)="onLoadSubSchemas($event)"
            >
            </app-schema-configuration>
            <textarea *ngIf="json" [(ngModel)]="document">

            </textarea>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <div class="action-buttons">
        <div class="cancel-button">
            <button 
                (click)="onClose()" 
                class="button secondary"
                label="Cancel"
                pButton
            ></button>
        </div>
        <div>
            <button 
                (click)="onCreate()" 
                [disabled]="disabled"
                class="button"
                label="Save"
                pButton
            >
            </button>
        </div>
    </div>
</div>
