:host ::ng-deep .cdk-drop-list-dragging *:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.guardian-loading {
    top: 88px;
    bottom: 94px;
}

.dialog-body {
    overflow-y: hidden !important;
    max-height: calc(100vh - 340px) !important;
    display: flex !important;
    flex-direction: column !important;
    height: auto !important;

    .g-dialog-body {
        overflow: auto;
    }
}

.tabview-label {
    padding: 1rem;
}

:host ::ng-deep {
    .p-tabview-nav-link {
        padding: 0 !important;
    }
}

.dialog-footer {
    margin-top: 25px;
}

.action-buttons {
    display: flex;
}

.cancel-button {
    margin-left: auto;
    margin-right: 15px;
}

.action-tabs {
    margin-bottom: 32px;
    display: block;
}

:host ::ng-deep {
    .cm-schema-key {
        color: #9C27B0;
    }

    .cm-property {
        color: green;
    }
}

.error-message {
    background: #FFEAEA;
    color: #FF432A;
    border: 1px solid #FF432A;
    padding: 12px 16px;
    margin-bottom: 12px;
    border-radius: 8px;
}

.guardian-button {
    padding: 6px 32px;
    height: 40px;
}