.policy-properties {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding-bottom: 16px;
}

input[readonly] {
    border-color: transparent;
    background: transparent;
}

textarea[readonly] {
    border-color: transparent;
    background: transparent;
}

.readonly-prop {
    padding-left: 4px;
}

.propRowCell {
    position: relative;
}

.remove-cell input {
    width: 300px;
}

.remove-prop {
    position: absolute;
    top: 2px;
    right: 0;
    color: #f00;
    cursor: pointer;
}

.remove-prop mat-icon {
    font-size: 20px;
}

.remove-prop[readonly="true"] {
    display: none;
}