form {
    display: flex;
    flex-direction: column;
    width: 100%;

    .form-field-container {
        margin-bottom: 24px;

        &:last-child {
            margin-bottom: 0px;
        }

        .label-field {
            font-family: Poppins;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            text-align: left;
            margin-bottom: 24px;
            padding-left: 2px;

            &.help-text {
                margin-bottom: 0px;
            }
        }

        .label-field-accordion {
            font-family: Poppins;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            text-align: left;
        }

        .invalid-type {
            font-family: Inter;
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            text-align: left;
            color: red;
            margin-top: 8px;
            padding-left: 2px;
        }

        .form-field {
            display: block;
            width: 100%;
            position: relative;
            background: #F9FAFC;
            border: 1px solid #E1E7EF;
            padding: 16px;
            border-radius: 8px;
        }

        .form-field-array {
            display: block;
            width: 100%;
            position: relative;
            background: #F9FAFC;
            border: 1px solid #E1E7EF;
            padding: 16px;
            border-radius: 8px;
        }

        .form-field-group {
            display: block;
            width: 100%;
            position: relative;

            .remove-btn {
                margin-top: 24px;
            }
        }

        .sub-schema-geo,
        .sub-schema-sentinel {
            display: block;
            width: 100%;
            position: relative;
            background: #F9FAFC;
            border: 1px solid #E1E7EF;
            padding: 16px;
            border-radius: 8px;
        }

        .form-field-sub-group {
            display: block;
            width: 100%;
            position: relative;
            margin-bottom: 24px;
        }

        .schema-form-field-array-group {
            display: block;
            width: 100%;
            position: relative;
            box-sizing: border-box;
        }

        .form-field-value {
            display: flex;
            width: 100%;
            flex-direction: row;


            .form-field-prefix {
                padding: 0px 14px 0px 2px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 20px;
            }

            .form-field-input {
                height: 40px;
                position: relative;
            }

            .form-field-ipfs {
                height: auto;
                position: relative;

                .form-field-url {
                    position: relative;
                    height: 40px;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 8px;

                    input {
                        width: 100%;
                    }

                    .form-field-url-buttons {
                        min-width: 255px;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;

                        button {
                            min-width: 110px;
                            height: 40px;
                            margin-left: 16px;
                        }
                    }
                }

                .form-field-img {
                    position: relative;
                    min-height: 200px;

                    img {
                        width: 100%;
                        border: 1px solid #E1E7EF;
                    }
                }
            }

            .form-field-boolean {
                position: relative;
                height: 40px;
                width: 100%;
                padding: 8px 4px;
            }

            .form-field-postfix {
                padding: 0px 2px 0px 14px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 20px;
            }

            .form-field-rule {
                padding: 0px 2px 0px 4px;
                margin-left: 10px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 20px;
            }

            .form-field-formula {
                padding: 0px 2px 0px 4px;
                margin-left: 10px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 20px;

                .guardian-icon-button {
                    width: 38px;
                    height: 38px;
                    border-radius: 8px;
                }
            }

            .form-field-discussion {
                padding: 0px 2px 0px 4px;
                margin-left: 10px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 20px;
                position: relative;
                overflow: visible;

                &.discussion-action {
                    margin-left: 0px;
                }

                .icon-count {
                    pointer-events: none !important;
                    position: absolute;
                    background: #FF432A;
                    border-radius: 16px;
                    height: 20px;
                    font-family: Inter;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 20px;
                    color: #FFFFFF;
                    top: -4px;
                    right: -4px;
                    padding: 0px 4px;
                    min-width: 20px;
                    display: flex;
                    justify-content: center;
                }

                .guardian-icon-button {
                    width: 38px;
                    height: 38px;
                    border-radius: 8px;
                }
            }

            .file-upload {
                position: absolute;
                right: 0;
                top: 0;
            }

            .boolean-field {
                height: 32px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                min-height: 32px;

                label {
                    font-size: 14px;
                    margin: 0;
                    padding-left: 6px;
                }
            }

            &[rules-status="Error"],
            &[rules-status="Failure"] {
                input {
                    border-color: var(--guardian-warning-color, #DA9B22);
                }

                p-calendar::ng-deep {

                    button,
                    input {
                        border-color: var(--guardian-warning-color, #DA9B22);
                    }
                }

                p-dropdown::ng-deep {
                    .p-dropdown {
                        border-color: var(--guardian-warning-color, #DA9B22);
                    }
                }
            }

            &[rules-status="Success"] {
                input {
                    border-color: var(--guardian-success-color, #19BE47);
                }

                p-calendar::ng-deep {

                    button,
                    input {
                        border-color: var(--guardian-success-color, #19BE47);
                    }
                }

                p-dropdown::ng-deep {
                    .p-dropdown {
                        border-color: var(--guardian-warning-color, #19BE47);
                    }
                }
            }
        }

        .form-field-array-item-container {
            width: 100%;
            margin-bottom: 24px;
        }

        .form-field-array-item {
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        .short-delimiter {
            margin-bottom: 24px !important;

            &:last-child {
                margin-bottom: 0px !important;
            }
        }
    }
}

/* form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.group-label {
    color: rgba(0,0,0,.6);
}

.group-form {
    margin-left: 16px;
    margin-top: 10px;
}

.form-field {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

.form-field mat-form-field {
    width: 100%;
}

.form-field-group,
.form-field-array {
    display: block;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.group-label,
.array-label {
    color: rgba(0,0,0,.6);
    background: #fff;
    top: -10px;
    left: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.form-field-array-item {
    padding-right: 5px;
    position: relative;
    display: table;
    width: 100%;
    box-sizing: border-box;
    min-height: 50px;
}

.group-label {
    color: gray;
    font-size: 14px;
}

.label-field {
    color: var(--color-grey-black-1, #181818);
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    margin-bottom: 6px;
}

.delimiter {
    padding: 30px 50px 50px 50px;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    position: relative;
}

.delimiter::after {
    content: '';
    position: absolute;
    height: 2px;
    top: 30px;
    left: 0px;
    right: 0px;
    border-top: 1px solid #c8c8c8;
}

.short-delimiter-container {
    width: 50%;
    margin: 0 auto;
}

:host .mat-input-element {
    font-size: 18px;
}

:host ::ng-deep mat-radio-button {
    margin-right: 20px;
}

.form-field-array-item > .form-field-group {
    padding-left: 40px;
}

.schema-form-field-array-group > .form-field-array-item > .form-field-group,
.form-field-array-item > .form-field-group {
    border-left: 1px solid var(--color-grey-3) !important;
}

.form-field-group {
  margin-bottom: 15px;
}

.form-field-group > .form-field-array-item {
    padding-right: 0;
}

.boolean-form-field {
    margin-top: 20px;
    padding-bottom: 10px;
}

.ipfs-image {
    margin: 20px auto;
    width: auto;
    display: block;
    max-height: 300px;
}

:host mat-form-field {
    cursor: not-allowed;
}

.image-action-buttons {
    display: flex;
    justify-content: space-around;
}

.hidden-item {
    display: none;
}

.invalid-type {
    color: red;
    margin-bottom: 10px;
}


.form-field-value {
    display: flex;
    flex-direction: row;
}


.form-field-prefix {
    padding: 22px 14px 1px 4px;
    font-size: 20px;
}


.form-field-postfix {
    padding: 22px 4px 1px 14px;
    font-size: 20px;
}

.loading {
    margin: 10px auto;
}


.p-field-input {
    width: inherit;
    border-radius: 8px;
    border: 1px solid var(--color-grey-3, #E1E7EF);
    background: var(--color-grey-white, #FFF);
    outline: none !important;
    box-shadow: unset !important;
    padding: 12px 0 12px 16px;
    align-items: center;
    align-self: stretch;
    transition: border 0.25s ease-in-out;
    box-sizing: border-box;
    resize: vertical;

    color: var(--color-grey-black-1, #181818);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.example-full-width {
    width: 100%;
}

.boolean-show {
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;

    top: 22px;
    display: block;
    position: absolute;
} */