SERVICE_CHANNEL="ai-service"

OPENAI_API_KEY=...
GPT_VERSION=gpt-3.5-turbo
VECTOR_STORAGE_PATH=./faiss-vector
DOCS_STORAGE_PATH=./data/generated-data

#PINO_LOGGER
TRANSPORTS="CONSOLE, MONGO"
LOG_FILE_PATH=""
LOG_LEVEL=""
DB_COLLECTION=""
SEQ_URL=""

#MONGO_INIT
DB_DATABASE=""
DB_HOST=""
MIN_POOL_SIZE=""
MAX_POOL_SIZE=""
MAX_IDLE_TIME_MS=""