SERVICE_CHANNEL="ai-service"

OPENAI_API_KEY=...
GPT_VERSION=gpt-5-nano
VECTOR_STORAGE_PATH=./faiss-vector
DOCS_STORAGE_PATH=./data/generated-data

#PINO_LOGGER
TRANSPORTS="CONSOLE, MONGO"
DB_LOGGER_NAME=""
DB_LOGGER_HOST=""
DB_LOGGER_COLLECTION=""
LOG_FILE_PATH=""
LOG_LEVEL=""
SEQ_SERVER_URL="http://localhost:5341"
SEQ_UI_URL="http://localhost:5341"
SEQ_API_KEY=""

#MONGO_INIT
MIN_POOL_SIZE=""
MAX_POOL_SIZE=""
MAX_IDLE_TIME_MS=""

#Service secrets for auth between services
SERVICE_JWT_SECRET_KEY="..."
SERVICE_JWT_PUBLIC_KEY_WORKER_SERVICE="..."
SERVICE_JWT_PUBLIC_KEY_TOPIC_LISTENER_SERVICE="..."
SERVICE_JWT_PUBLIC_KEY_QUEUE_SERVICE="..."
SERVICE_JWT_PUBLIC_KEY_POLICY_SERVICE="..."
SERVICE_JWT_PUBLIC_KEY_NOTIFICATION_SERVICE="..."
SERVICE_JWT_PUBLIC_KEY_LOGGER_SERVICE="..."
SERVICE_JWT_PUBLIC_KEY_GUARDIAN_SERVICE="..."
SERVICE_JWT_PUBLIC_KEY_AUTH_SERVICE="..."
SERVICE_JWT_PUBLIC_KEY_API_GATEWAY_SERVICE="..."
SERVICE_JWT_PUBLIC_KEY_AI_SERVICE="..."
SERVICE_JWT_PUBLIC_KEY_ANALYTICS_SERVICE="..."