<div class="content" [hidden]="!isActive">
    <div *ngIf="loading" class="loading">
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="fields && documents">
        <table mat-table [dataSource]="documents" class="table">
            <ng-container *ngFor="let field of fields" [matColumnDef]="field.index">
                <th mat-header-cell *matHeaderCellDef> 
                    {{field.title}} 
                    <help-icon *ngIf="field.tooltip" [text]="field.tooltip"></help-icon>
                </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="field.type=='text'">{{getText(element, field)}}</span>
                    <span *ngIf="field.type=='button'">
                        <div class="btn-field {{field.uiClass}}" (click)="onButton($event, element, field)">{{getText(element, field)}}</div>
                    </span>
                    <div *ngIf="field.type=='block'">
                        <render-block [block]="field._block" [static]="getConfig(element, field, field._block)" [policyId]="policyId">
                        </render-block>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>
    </div>

    <div *ngIf="children" class="grid-children">
        <div *ngFor="let child of children" class="grid-child">
            <render-block [block]="child" [policyId]="policyId"></render-block>
        </div>
    </div>
</div>