<div class="content" [hidden]="!isActive">
    <div *ngIf="loading" class="loading">
        <mat-spinner></mat-spinner>
    </div>

    <ng-container *ngIf="type!='tabs'">
        <div *ngFor="let block of blocks" class="block-item">
            <render-block [block]="block" [policyId]="policyId"></render-block>
        </div>
    </ng-container>

    <ng-container *ngIf="type=='tabs'">
        <div *ngIf="blocks" class="header">
            <mat-tab-group (selectedIndexChange)="onBlockChange($event)" [selectedIndex]="selectedIndex">
                <mat-tab *ngFor="let block of blocks" [label]="getTitle(block)"></mat-tab>
            </mat-tab-group>
        </div>
        <div *ngIf="activeBlock" class="body">
            <render-block [block]="activeBlock" [policyId]="policyId"></render-block>
        </div>
    </ng-container>
</div>