.mat-dialog-content {
    overflow: visible;
}

.mat-dialog-actions {
    padding: 15px 0;
}

.description {
    margin-bottom: 20px;
}

.g-dialog-actions-btn {
    min-width: 210px !important;
}

.contract-form-base-token-count,
.contract-form-opposite-token-count {
    padding-top: 12px;
    width: 100%;
}

.contract-form-base-token mat-icon,
.contract-form-base-token-count mat-icon,
.contract-form-opposite-token mat-icon,
.contract-form-opposite-token-count mat-icon {
    color: #3f51b5;
}

.contract-form-base-token {
    width: 100%;
}

.contract-form-opposite-token {
    width: 100%;
}

.delimiter {
    width: 100%;
    height: 40px;
}

.contract-info {
    text-align: center;
}

.block-delimiter {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    position: relative;
}

.block-delimiter::after {
    content: attr(data-label);
    position: absolute;
    color: #646464;
    font-weight: 500;
    font-size: 16px;
    padding: 10px;
    background: #fff;
    left: 50%;
    top: 30px;
    transform: translate(-50%, 0px);
}

.block-delimiter::before {
    content: '';
    position: absolute;
    height: 2px;
    top: 50px;
    left: 0px;
    right: 0px;
    border-top: 2px solid #ababab;
}

:host .mat-accent .mat-slider-track-fill {
    background-color: red !important;
}

:host .mat-slider-thumb-label {
    background-color: red !important;

}

:host .mat-slider-thumb {
    background-color: red !important;
}

.pair-rate {
    font-size: 30px;
    margin: 20px;
}

.contracts-spinner {
    margin: 0 auto;
}

:host ::ng-deep mat-step-header {
    pointer-events: unset !important;
    cursor: pointer;
    background: unset !important;
}

.step-action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-top: 25px;
}

.step-action-buttons button {
    flex: 1;
}

.step-action-prev-btn {
    border: 1px solid rgba(0, 0, 0, .12);
}

@media (max-width: 810px) {

    .g-dialog-header {
        width: 90%;
        padding: 22px 0;

        box-shadow: none;
        margin: 0 auto;
    }

    .g-dialog-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600 !important;
        font-size: 24px !important;
        line-height: 28px;
        color: #222222 !important;
        order: 2;
    }

    .g-dialog-cancel {
        order: 3;
    }

    .g-dialog-actions {
        display: none !important;
    }

    .g-dialog-body {
        width: 90%;
        margin: 0 auto !important;
        padding: 0;
    }
    
    .label-field .page-number {
        font-size: 18px;
        padding: 4px 10px;
        margin-right: 8px;
        display: inline-block;

        background: #2C78F6;
        color: white;
        border-radius: 100px;
    }

    #detail-section {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 20px 0 20px 0;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #222222;
    }

    mat-form-field {
        margin-bottom: 10px;
    }

    .contract-form-base-token-count, .contract-form-opposite-token-count {
        padding-top: 0 !important;
    }

    .page-btns {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        margin-top: 20px;
        
        background-color: white;
        padding: 20px 0;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    #cancel-btn {
        border: 1px solid #2C78F6;
        background: none !important;
        color: #2C78F6;
        grid-column: 1;
    }

    #create-btn {
        grid-column: 2;
    }

    #create-btn[disabled] {
        opacity: 0.5;
        background: #2C78F6;
        color: white;
    }

    .page-btns-last-page {
        width: 50%;
        display: inline-block;
        margin-top: 20px;
    }

    .page-btns-last-page #cancel-btn {
        width: calc(100% - 5px);
    }
}