<div class="dialog-body">
    <div *ngIf="innerWidth > 810">
        <p-steps [(activeIndex)]="activeIndex" [model]="steps"></p-steps>
        <div style="margin-top: 48px;">
            <ng-container *ngIf="activeIndex === 0">
                <p-dropdown
                        #operationDropdown
                        [disabled]="contractsLoading"
                        [formControl]="baseTokenId"
                        [options]="baseTokens"
                        optionLabel="tokenName"
                        optionValue="tokenId"
                        placeholder="Choose Base Token"
                >
                </p-dropdown>
            </ng-container>
            <ng-container *ngIf="activeIndex === 1">
                <p-dropdown
                        #operationDropdown
                        [disabled]="contractsLoading"
                        [formControl]="oppositeTokenId"
                        [options]="oppositeTokens"
                        optionLabel="tokenName"
                        optionValue="tokenId"
                        placeholder="Choose Opposite Token"
                >
                </p-dropdown>
            </ng-container>
            <ng-container *ngIf="activeIndex === 2">
                <p-dropdown
                        #operationDropdown
                        [disabled]="contractsLoading"
                        [formControl]="contractForm"
                        [options]="contractAndRates"
                        optionLabel="contractId"
                        optionValue="contractId"
                        placeholder="Choose Contract"
                >
                    <ng-template let-contract pTemplate="item">
                        {{ contract.contractId }}{{
                            contract.baseTokenRate &&
                            contract.oppositeTokenRate ? ' - ' + contract.baseTokenRate + ':' +
                                contract.oppositeTokenRate : ''
                        }}
                    </ng-template>
                </p-dropdown>
            </ng-container>
            <ng-container *ngIf="activeIndex === 3">
                <div class="contract-info">
                    <div *ngIf="!contractAndRates.length" style="margin-top: 16px;">Choose tokens to find available
                        pairs
                    </div>
                    <div *ngIf="baseTokenRate && oppositeTokenRate" class="pair-rate"><b>Ratio {{ baseTokenRate }} :
                        {{ oppositeTokenRate }}</b></div>
                </div>

                <form (ngSubmit)="onCreate()" [formGroup]="tokenCountForm" autocomplete="off">
                    <div *ngIf="oppositeTokenId.value">Base Token</div>
                    <div *ngIf="baseTokenType === 'non-fungible'"
                         class="contract-form-opposite-token-count">
                        <p-dropdown
                                #operationDropdown
                                (onChange)="countValueForOppositeToken($event.value?.length || 0)"
                                [options]="baseTokenSerials"
                                formControlName="baseTokenSerials"
                                placeholder="Base Token Serials"
                        >
                            <ng-template let-contract pTemplate="item">
                                {{
                                    tokenCountForm.value?.baseTokenSerials ? tokenCountForm.value?.baseTokenSerials[0]
                                        : ''
                                }}
                                <span *ngIf="tokenCountForm.value?.baseTokenSerials?.length > 1">
                                    (+{{ tokenCountForm.value?.baseTokenSerials.length - 1 }}
                                    {{ tokenCountForm.value?.baseTokenSerials.length === 2 ? 'other' : 'others' }})
                                </span>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div *ngIf="baseTokenType === 'fungible'" appearance="outline"
                         class="contract-form-opposite-token-count">
                        <i class="pi pi-wallet"></i>
                        <input
                                formControlName="baseTokenCount"
                                pInputText
                                placeholder="Count"
                                type="number"
                        />
                    </div>
                    <div *ngIf="oppositeTokenId.value" style="margin-top: 24px;">Opposite Token</div>
                    <div *ngIf="oppositeTokenType === 'non-fungible'"
                         class="contract-form-opposite-token-count">
                        <p-dropdown
                                #operationDropdown
                                [options]="oppositeTokenSerials"
                                formControlName="oppositeTokenSerials"
                                placeholder="Opposite Token Serials"
                        >
                            <ng-template let-contract pTemplate="item">
                                {{
                                    tokenCountForm.value?.oppositeTokenSerials ?
                                        tokenCountForm.value?.oppositeTokenSerials[0] : ''
                                }}
                                <span *ngIf="tokenCountForm.value?.oppositeTokenSerials?.length > 1">
                                    (+{{ tokenCountForm.value?.oppositeTokenSerials.length - 1 }}
                                    {{
                                        tokenCountForm.value?.oppositeTokenSerials.length === 2 ? 'other' :
                                            'others'
                                    }})
                                </span>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div *ngIf="oppositeTokenType === 'fungible'" appearance="outline"
                         class="contract-form-opposite-token-count">
                        <i class="pi pi-wallet"></i>
                        <input
                                formControlName="oppositeTokenCount"
                                pInputText
                                placeholder="Count"
                                type="number"
                        />
                    </div>
                </form>
            </ng-container>
        </div>
    </div>

    <div *ngIf="innerWidth <= 810" class="mobile-view">
        <!-- Todo mobile view -->
    </div>

    <ng-template #preloader>
        <div class="preloader-image"></div>
    </ng-template>

    <div *ngIf="contractsLoading" class="loading">
        <div class="preloader-image preloader-image-l-size"></div>
    </div>
</div>
<div class="dialog-footer">
    <div class="action-buttons">
        <button
                (click)="onNoClick()" class="button secondary"
                label="Close"
                pButton
        ></button>
        <div style="display: flex; align-items: center; justify-content: end; column-gap: 8px;">
            <button (click)="onPrevStep()" [disabled]="activeIndex === 0 || contractsLoading" class="button secondary" label="Prev"
                    pButton></button>
            <button (click)="onNextStep()" *ngIf="activeIndex !== 3" [disabled]="!validateCurrentStep() || contractsLoading" class="button"
                    label="Next" pButton></button>
            <button (click)="onCreate()" *ngIf="activeIndex === 3" [disabled]="!validateCountValues() || contractsLoading" class="button"
                    label="Create" pButton></button>
        </div>
    </div>
</div>

<div class="g-dialog-body">
    <div *ngIf="innerWidth > 810">
        <!-- <mat-stepper [linear]="true">
            <mat-step [stepControl]="tokenCountForm">
                <div class="contract-info">
                    <div *ngIf="!contractAndRates.length">Choose tokens to find available pairs</div>
                    <div class="pair-rate" *ngIf="baseTokenRate && oppositeTokenRate"><b>Ratio {{baseTokenRate}} :
                            {{oppositeTokenRate}}</b></div>
                </div>
                <ng-template matStepLabel>Count</ng-template>
                <form autocomplete="off" [formGroup]="tokenCountForm">
                    <div class="block-delimiter" data-label="Base Token" *ngIf="oppositeTokenId.value"></div>
                    <mat-form-field appearance="outline" class="contract-form-opposite-token-count"
                        *ngIf="baseTokenType === 'non-fungible'">
                        <mat-label>Base Token Serials</mat-label>
                        <mat-select formControlName="baseTokenSerials" multiple
                            (selectionChange)="countValueForOppositeToken($event.value?.length || 0)">
                            <mat-select-trigger>
                                {{tokenCountForm.value?.baseTokenSerials ? tokenCountForm.value?.baseTokenSerials[0]
                                : ''}}
                                <span *ngIf="tokenCountForm.value?.baseTokenSerials?.length > 1">
                                    (+{{tokenCountForm.value?.baseTokenSerials.length - 1}}
                                    {{tokenCountForm.value?.baseTokenSerials.length === 2 ? 'other' : 'others'}})
                                </span>
                            </mat-select-trigger>
                            <mat-option *ngFor="let serial of baseTokenSerials"
                                [value]="serial">{{serial}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="contract-form-opposite-token-count"
                        *ngIf="baseTokenType === 'fungible'">
                        <mat-icon matPrefix>account_balance_wallet</mat-icon>
                        <input matInput type="number" placeholder="Count" formControlName="baseTokenCount">
                    </mat-form-field>
                    <div class="block-delimiter" data-label="Opposite Token" *ngIf="oppositeTokenId.value">
                    </div>
                    <mat-form-field appearance="outline" class="contract-form-opposite-token-count"
                        *ngIf="oppositeTokenType === 'non-fungible'">
                        <mat-label>Opposite Token Serials</mat-label>
                        <mat-select formControlName="oppositeTokenSerials" multiple>
                            <mat-select-trigger>
                                {{tokenCountForm.value?.oppositeTokenSerials ?
                                tokenCountForm.value?.oppositeTokenSerials[0] : ''}}
                                <span *ngIf="tokenCountForm.value?.oppositeTokenSerials?.length > 1">
                                    (+{{tokenCountForm.value?.oppositeTokenSerials.length - 1}}
                                    {{tokenCountForm.value?.oppositeTokenSerials.length === 2 ? 'other' :
                                    'others'}})
                                </span>
                            </mat-select-trigger>
                            <mat-option *ngFor="let serial of oppositeTokenSerials"
                                [value]="serial">{{serial}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="contract-form-opposite-token-count"
                        *ngIf="oppositeTokenType === 'fungible'">
                        <mat-icon matPrefix>account_balance_wallet</mat-icon>
                        <input matInput type="number" placeholder="Count" formControlName="oppositeTokenCount">
                    </mat-form-field>
                </form>
                <div class="step-action-buttons">
                    <button mat-flat-button class="step-action-prev-btn" matStepperPrevious>Prev</button>
                </div>
            </mat-step>
        </mat-stepper> -->
    </div>

    <div *ngIf="innerWidth <= 810" class="mobile-view">
        <div class="choose-token-pair">
            <div class="label-field" id="detail-section">
                <div class="page-number">1</div>
                Choose token pair
            </div>
            <ng-template>Base Token</ng-template>
            <mat-form-field appearance="outline" class="contract-form-base-token">
                <mat-select [disabled]="contractsLoading" [formControl]="baseTokenId"
                            placeholder="Choose Base Token">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let token of baseTokens"
                                [value]="token.tokenId">{{ token.tokenName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <ng-template>Opposite Token (optional)</ng-template>
            <mat-form-field appearance="outline" class="contract-form-opposite-token">
                <mat-select [disabled]="contractsLoading" [formControl]="oppositeTokenId"
                            placeholder="Choose Opposite Token (Optional)">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let token of oppositeTokens"
                                [value]="token.tokenId">{{ token.tokenName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="choose-contract">
            <div class="label-field" id="detail-section">
                <div class="page-number">2</div>
                Choose Contract
            </div>
            <ng-template>Contract</ng-template>
            <mat-form-field *ngIf="!contractsLoading; else spinner" appearance="outline"
                            class="contract-form-base-token">
                <mat-label>Contract</mat-label>
                <mat-select [formControl]="contractForm" placeholder="Choose Contract">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let contract of contractAndRates" [matTooltip]="contract.description"
                                [value]="contract.contractId" matTooltipClass="guardian-tooltip"
                                matTooltipPosition="below">{{ contract.contractId }}{{
                            contract.baseTokenRate &&
                            contract.oppositeTokenRate ? ' - ' + contract.baseTokenRate + ':' +
                                contract.oppositeTokenRate : ''
                        }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <ng-template #spinner>
                <mat-spinner [diameter]="64"
                             class="contracts-spinner"></mat-spinner>
            </ng-template>
        </div>

        <div class="set-count">
            <div class="label-field" id="detail-section">
                <div class="page-number">3</div>
                Set Count
            </div>
            <div *ngIf="!(baseTokenType || oppositeTokenType)" class="lack-input">
                <span class="material-icons-outlined" style="color: var(--primary-color);">info</span>
                <div class="lack-input-text">Choose a base or opposite token</div>
            </div>
            <div class="contract-info">
                <!--<div *ngIf="!contractAndRates.length">Choose tokens to find available pairs</div>-->
                <div *ngIf="baseTokenRate && oppositeTokenRate" class="pair-rate"><b>Ratio {{ baseTokenRate }} :
                    {{ oppositeTokenRate }}</b></div>
            </div>
            <ng-template>Count</ng-template>
            <form [formGroup]="tokenCountForm" autocomplete="off">
                <mat-form-field *ngIf="baseTokenType === 'non-fungible'" appearance="outline"
                                class="contract-form-opposite-token-count">
                    <mat-label>Base Token Serials</mat-label>
                    <mat-select (selectionChange)="countValueForOppositeToken($event.value?.length || 0)" formControlName="baseTokenSerials"
                                multiple>
                        <mat-select-trigger>
                            {{
                                tokenCountForm.value?.baseTokenSerials ? tokenCountForm.value?.baseTokenSerials[0]
                                    : ''
                            }}
                            <span *ngIf="tokenCountForm.value?.baseTokenSerials?.length > 1">
                                (+{{ tokenCountForm.value?.baseTokenSerials.length - 1 }}
                                {{ tokenCountForm.value?.baseTokenSerials.length === 2 ? 'other' : 'others' }})
                            </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let serial of baseTokenSerials"
                                    [value]="serial">{{ serial }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="baseTokenType === 'fungible'" appearance="outline"
                                class="contract-form-opposite-token-count">
                    <mat-icon matPrefix>account_balance_wallet</mat-icon>
                    <input formControlName="baseTokenCount" matInput placeholder="Count" type="number">
                </mat-form-field>
                <mat-form-field *ngIf="oppositeTokenType === 'non-fungible'" appearance="outline"
                                class="contract-form-opposite-token-count">
                    <mat-label>Opposite Token Serials</mat-label>
                    <mat-select formControlName="oppositeTokenSerials" multiple>
                        <mat-select-trigger>
                            {{
                                tokenCountForm.value?.oppositeTokenSerials ?
                                    tokenCountForm.value?.oppositeTokenSerials[0] : ''
                            }}
                            <span *ngIf="tokenCountForm.value?.oppositeTokenSerials?.length > 1">
                                (+{{ tokenCountForm.value?.oppositeTokenSerials.length - 1 }}
                                {{
                                    tokenCountForm.value?.oppositeTokenSerials.length === 2 ? 'other' :
                                        'others'
                                }})
                            </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let serial of oppositeTokenSerials"
                                    [value]="serial">{{ serial }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="oppositeTokenType === 'fungible'" appearance="outline"
                                class="contract-form-opposite-token-count">
                    <mat-icon matPrefix>account_balance_wallet</mat-icon>
                    <input formControlName="oppositeTokenCount" matInput placeholder="Count" type="number">
                </mat-form-field>
            </form>
        </div>

        <div class="page-btns">
            <button (click)="onNoClick()" class="button secondary" id="cancel-btn" pButton>Cancel</button>
            <button (click)="onCreate()" [disabled]="!validateCountValues()" class="button" id="create-btn" pButton>
                Create
            </button>
        </div>
    </div>
</div>
