.mat-dialog-content {
    overflow: visible;
}

.mat-dialog-actions {
    padding: 15px 0;
}

.description {
    margin-bottom: 20px;
}

.g-dialog-actions-btn {
    min-width: 210px !important;
}

.contract-form-base-token-count,
.contract-form-opposite-token-count {
    padding-top: 12px;
    width: 100%;
}

.contract-form-base-token mat-icon,
.contract-form-base-token-count mat-icon,
.contract-form-opposite-token mat-icon,
.contract-form-opposite-token-count mat-icon {
    color: #3f51b5;
}

.contract-form-base-token {
    width: 100%;
}

.contract-form-opposite-token {
    width: 100%;
}

.delimiter {
    width: 100%;
    height: 40px;
}

.contract-info {
    text-align: center;
}

.block-delimiter {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    position: relative;
}

.block-delimiter::after {
    content: attr(data-label);
    position: absolute;
    color: #646464;
    font-weight: 500;
    font-size: 16px;
    padding: 10px;
    background: #fff;
    left: 50%;
    top: 30px;
    transform: translate(-50%, 0px);
}

.block-delimiter::before {
    content: '';
    position: absolute;
    height: 2px;
    top: 50px;
    left: 0px;
    right: 0px;
    border-top: 2px solid #ababab;
}

:host .mat-accent .mat-slider-track-fill {
    background-color: red !important;
}

:host .mat-slider-thumb-label {
    background-color: red !important;

}

:host .mat-slider-thumb {
    background-color: red !important;
}

.pair-rate {
    font-size: 30px;
    margin: 20px;
}

.contracts-spinner {
    margin: 0 auto;
}

:host ::ng-deep mat-step-header {
    pointer-events: unset !important;
    cursor: pointer;
    background: unset !important;
}

.step-action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-top: 25px;
}

.step-action-buttons button {
    flex: 1;
}

.step-action-prev-btn {
    border: 1px solid rgba(0, 0, 0, .12);
}