:host {
    display: block;
    width: 100%;
    height: 100%;
}

.guardian-switch-button {
    display: flex;
    flex-direction: row;
    height: 24px;
    width: 100%;
    margin: 0px;
    position: relative;
    cursor: pointer;

    &>input {
        cursor: pointer;
        width: 24px;
        height: 24px;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        margin: 0px;
        pointer-events: none;
    }

    &[disabled="true"] {
        pointer-events: none;
        filter: grayscale(1);
        opacity: 0.7;
    }

    &>label {
        width: 44px;
        height: 24px;
        min-width: 44px;
        min-height: 24px;
        max-width: 44px;
        max-height: 24px;
        overflow: hidden;
        border-radius: 12px;
        position: relative;
        transition: all 0.3s ease;
        display: block;
        cursor: pointer;
        background: #C4D0E1;
    }

    &>div {
        width: 100%;
        height: 24px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 8px;

        p {
            margin: 0px;
            height: 16px;
            font-family: Inter;
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            text-align: left;
            color: #AAB7C4;
        }

        .l-on {
            color: #19BE47;
            display: none;
        }

        .l-off {
            color: #AAB7C4;
            display: block;
        }
    }

    &>input[type="checkbox"]:checked+label+div {
        .l-on {
            display: block;
        }

        .l-off {
            display: none;
        }
    }

    &>input[type="checkbox"]:checked+label {
        background: #19BE47;
    }

    &>label:after {
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background: #fff;
        position: absolute;
        left: 2px;
        top: 2px;
        bottom: 2px;
        text-align: center;
        transition: all 0.3s ease;
        pointer-events: none;
    }


    &>input[type="checkbox"]:checked+label:after {
        transform: translate(20px, 0px);
    }
}