.loading {
    position: fixed;
    /* background: #ffffff32; */
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.loading-progress {
    width: 80%;
    height: 80%;
}

.content {
    flex-wrap: nowrap;
    background: #f9fafc;
    display: inline-flex;
}

.content-name {
    display: inline-flex;
    margin-right: 10px;
    align-items: center;
}

.content-select {
    min-width: 265px;
    max-width: 265px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    flex: 1;
    height: 40px;

    &[valid="false"] ::ng-deep {
        .p-multiselect {
            border-color: #f00;
        }

        .p-dropdown {
            border-color: #f00;
        }

        .p-inputtext {
            border-color: #f00;
        }

        .input-filter {
            border-color: #f00;
        }
    }
}

.grouped-content {
    display: flex;
    align-items: flex-start;
}

.type-select {
    min-width: 265px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    flex: 1;
    height: 38px;
}

p-dropdown,
p-calendar {
    height: 40px;
}

.common-prefix-dropdown {
    background-color: white;
    display: block;
    height: 40px;
    border: 1px solid #ced4da;
    padding: 9px 6px 9px 12px;
    color: #848FA9;
    font-size: 14px;
    box-sizing: border-box;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: 0;
    white-space: nowrap;
}

.prefix-dropdown {
    font-size: 14px;
    color: #848FA9;
    display: inline-block;
    margin-right: 5px;
}

.content ::ng-deep .p-component {
    border-radius: 8px;
    outline: none;
    box-shadow: none;
}

.content ::ng-deep .filter-dropdown .p-dropdown {
    border-radius: 0 8px 8px 0;
    border-left: 0;

    .p-dropdown-label {
        font-size: 14px;
        color: #23252E;
        height: 36px;
    }
}

.content ::ng-deep .filter-dropdown .p-multiselect {
    border-radius: 0 8px 8px 0;
    border-left: 0;

    .p-multiselect-label {
        font-size: 14px;
        color: #23252E;
        height: 36px;
    }
}

.content ::ng-deep .calendar-filter .p-inputtext {
    padding: 8px 8px 11px 16px;
    border-radius: 0 8px 8px 0;
    border-left: 0;
    height: 37px;
}

.content ::ng-deep .calendar-filter .p-datepicker-trigger {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    pointer-events: none;
    background-color: white;
    color: gray;
    border: none;
    padding: 0;
}

.input-filter {
    background-color: white;
    display: block;
    height: 38px;
    border: 1px solid #ced4da;
    padding: 9px 6px 9px 12px;
    font-size: 14px;
    box-sizing: border-box;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left: 0;
    outline: none;
}

*[readonly-block="true"] {
    pointer-events: none !important;
    filter: grayscale(1);
}