.loading {
    position: fixed;
    /* background: #ffffff32; */
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.loading-progress {
    width: 80%;
    height: 80%;
}

.content {
    flex-wrap: nowrap;
    display: flex;
}

.content {
    box-shadow: 0px 3px 6px #00000020;
    background: #e5e5e5;
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: center;
    margin: 7px;
    padding: 6px 10px 6px 10px;
    height: 48px;
    width: 270px
}

.content-name {
    display: grid;
    margin-right: 10px;
    align-content: center;
}

.content-select {
    display: grid;
    width: 190px;
    align-content: center;

    ::ng-deep .p-dropdown {
        height: 36px;
        width: 190px;
    }
}
