<div class="artifact-container">
  @if (this.currentBlock.artifacts.length > 0) {
    <div (cdkDropListDropped)="changeArtifactPosition($event)"
      [cdkDropListData]="this.currentBlock.artifacts"
      cdkDropList class="artifact-list"
      [cdkDropListDisabled]="readonly">
      @for (artifact of this.currentBlock.artifacts; track artifact; let i = $index) {
        <div class="artifact-row" cdkDrag>
          <i class="pi pi-bars"></i>
          {{ artifact.name }} ({{ artifact.type }})
          <span class="remove-prop" [attr.readonly]="readonly" (click)="removeArtifact(artifact)">
            <i class="pi pi-trash"></i>
          </span>
        </div>
      }
    </div>
  }

  <button
    pButton
    (click)="menu.toggle($event)"
    [disabled]="readonly || !policyArtifacts.length"
    class="add-artifact-button p-button-rounded p-button-text">
    <i class="pi pi-plus toolbar-icons"></i>
  </button>
  <p-popover #menu styleClass="pc-artifact-panel">
    @for (artifact of policyArtifacts; track artifact) {
      <div class="artifact-row">
        <button
          pButton
          class="p-button-text"
          (click)="addArtifact(artifact)"
          [disabled]="readonly"
          >
          {{ artifact.name }} ({{ artifact.type }})
        </button>
      </div>
    }
  </p-popover>
</div>
