<!-- UI Prop -->
@if (properties) {
  <table class="properties aggregate-properties" [attr.readonly]="readonly">
  <colgroup><col class="col-toggle"><col class="col-name"><col class="col-value"></colgroup>
    <tr class="propHeader" (click)="onHide(propHidden, 'options')">
      <td class="propRowCol"></td>
      <td class="propHeaderCell cellName aggregate-section-header" [attr.collapse]="propHidden.options">
        <i class="pi pi-chevron-down chevron-icon"></i>
        <span>Options</span>
      </td>
      <td class="propHeaderCell"></td>
    </tr>
    <tr class="propRow" [attr.collapse]="propHidden.options">
      <td class="propRowCol"></td>
      <td class="propRowCell cellName">Aggregate Type</td>
      <td class="propRowCell">
        <p-select
          [(ngModel)]="properties.aggregateType"
          [disabled]="readonly"
          placeholder="Select an aggregate type"
          [options]="aggregateTypeOptions"
          [appendTo]="'body'"
          >
        </p-select>
      </td>
    </tr>
    @if (properties.aggregateType == 'period') {
      <tr class="propRow" [attr.collapse]="propHidden.options">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Empty Data</td>
        <td class="propRowCell">
          <p-toggleswitch
            [(ngModel)]="properties.emptyData"
            [disabled]="readonly"
            (onChange)="onSave()">
          </p-toggleswitch>
        </td>
      </tr>
    }
    @if (properties.aggregateType == 'cumulative' && !propHidden.options) {
      <tr class="propHeader" (click)="onHide(propHidden, 'expressionsGroup')">
        <td class="propRowCol"></td>
        <td class="propHeaderCell cellName aggregate-section-header" [attr.collapse]="propHidden.expressionsGroup">
          <i class="pi pi-chevron-down chevron-icon"></i>
          <span>Expressions</span>
        </td>
        <td class="propHeaderCell">
          <div class="propAdd" (click)="addExpression(); $event.stopPropagation()">
            <i class="pi pi-plus"></i>
            <span>Add Expression</span>
          </div>
        </td>
      </tr>
      @for (expression of properties.expressions; track expression; let i = $index) {
        <tr class="propRow" [attr.collapse]="propHidden.expressionsGroup">
          <td class="propRowCol cellCollapse" (click)="onHide(propHidden.expressions, i)"
            [attr.collapse]="propHidden.expressions[i]">
            <i class="pi pi-chevron-down"></i>
          </td>
          <td class="propRowCell cellName">Expression {{ i }}</td>
          <td class="propRowCell">
            <span>{{ expression.name }} = {{ expression.value }}</span>
            <span class="remove-prop" [attr.readonly]="readonly" (click)="onRemoveExpression(i)">
              <i class="pi pi-trash"></i>
            </span>
          </td>
        </tr>
        <tr class="propRow subRow"
          [attr.collapse]="propHidden.expressionsGroup || propHidden.expressions[i]">
          <td class="propRowCol"></td>
          <td class="propRowCell cellName">Variable Name</td>
          <td class="propRowCell">
            <input class="prop-input" [(ngModel)]="expression.name" [readonly]="readonly" (blur)="onSave()">
          </td>
        </tr>
        <tr class="propRow subRow"
          [attr.collapse]="propHidden.expressionsGroup || propHidden.expressions[i]">
          <td class="propRowCol"></td>
          <td class="propRowCell cellName">Variable Value</td>
          <td class="propRowCell">
            <input class="prop-input" [(ngModel)]="expression.value" [readonly]="readonly" (blur)="onSave()">
          </td>
        </tr>
      }
      <tr class="propRow">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Condition</td>
        <td class="propRowCell">
          <input class="prop-input" [(ngModel)]="properties.condition" [readonly]="readonly" (blur)="onSave()">
        </td>
      </tr>
    }
  </table>
}
