:host .mat-dialog-content {
    max-height: 80vh;
}

.dialog-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &[type='Error'] {
        color: darkred;
    }
    &[type='Warning'] {
        color: goldenrod;
    }
    &[type='Info'] {
        color: var(--primary-color);
    }
}

::ng-deep .p-dialog {
    width: 720px;
    border-radius: 16px !important;
    display: grid;
    transform: none;
    max-height: none;
    padding: 32px;
    background: var(--color-grey-white, #FFF);
}

::ng-deep .p-dialog .p-dialog-header {
    padding: 0;
    font: 400 24px / 32px Roboto, "Helvetica Neue", sans-serif;
}

::ng-deep .p-dialog .p-button-ok {
    background-color: var(--primary-color);
    color: var(--color-grey-white, #FFF);
    border-radius: 20px;
    padding: 8px 24px;
    font-weight: bold;
}

::ng-deep .p-dialog .p-button-ok:hover {
    background-color: var(--blue-700);
}

::ng-deep .p-dialog {
    width: 720px;
}
