<div #dialogHeader class="dialog-header">
  <div class="header-container">
    <div class="header-text">Set Link</div>
  </div>
  <div class="header-icon resize" (click)="toggleSize()" [title]="isLargeSize ? 'The size 50%' : 'The size 90%'">
    <i [class]="isLargeSize ? 'pi pi-window-minimize' : 'pi pi-window-maximize'"></i>
  </div>
  <div class="header-icon" (click)="onClose()">
    <svg-icon src="/assets/images/icons/close.svg" svgClass="icon-color-close"></svg-icon>
  </div>
</div>
<div class="dialog-body">
  <div class="nav-container">
    <div class="guardian-step-container">
      <div class="guardian-stepper vertical-stepper">
        <div class="guardian-step" [attr.action]="step === 1" [attr.highlighted]="step === 1">
          <div class="guardian-step-marker">
            <svg-icon
              class="icon-btn svg-icon-16"
              src="/assets/images/icons/16/right-arrow.svg">
            </svg-icon>
          </div>
          <div class="guardian-step-name">Schema \ Formula</div>
        </div>
        <div class="guardian-step-separator"></div>
        <div class="guardian-step" [attr.action]="step === 2" [attr.highlighted]="step === 2">
          <div class="guardian-step-marker">
            <svg-icon
              class="icon-btn svg-icon-16"
              src="/assets/images/icons/16/right-arrow.svg">
            </svg-icon>
          </div>
          <div class="guardian-step-name">Field \ Variable</div>
        </div>
      </div>
    </div>
  </div>
  @if (step === 1) {
    <div class="context">
      <div class="context-header">Select Schema \ Formula</div>
      <div class="context-body">
        <div class="type-selector">
          <div
            class="selector-item"
            [attr.selected]="type==='schema'"
          (click)="onChangeType('schema')">Schemas</div>
          <div
            class="selector-item"
            [attr.selected]="type==='formula'"
          (click)="onChangeType('formula')">Formulas</div>
        </div>
        @if (type==='schema') {
          <div class="entities">
            @for (item of schemas; track item) {
              <div class="entity" (click)="onSelectEntity(item)">
                <div class="entity-select">
                  <p-radioButton
                    class="guardian-radio-button radio-button-24"
                    [value]="item.iri"
                  [ngModel]="entityId"></p-radioButton>
                </div>
                <div class="entity-name">
                  {{item.name}}
                </div>
              </div>
            }
          </div>
        }
        @if (type==='formula') {
          <div class="entities">
            @for (item of formulas; track item) {
              <div class="entity" (click)="onSelectEntity(item)">
                <div class="entity-select">
                  <p-radioButton
                    class="guardian-radio-button radio-button-24"
                    [value]="item.uuid"
                  [ngModel]="entityId"></p-radioButton>
                </div>
                <div class="entity-name">
                  {{item.name}}
                </div>
              </div>
            }
          </div>
        }
      </div>
    </div>
  }
  @if (step === 2) {
    <div class="context">
      @if (type==='schema') {
        <div class="context-header">Select Field</div>
      }
      @if (type==='formula') {
        <div class="context-header">Select Variable</div>
      }
      <div class="context-body">
        @if (items && type==='schema') {
          <div class="field-tree">
            @for (item of items.data.items; track item) {
              <div class="field-item">
                <div class="field-offset"
                  [style.width.px]="24*item.lvl"
                [style.min-width.px]="24*item.lvl"></div>
                <div class="field-collapse">
                  @if (item.expandable) {
                    <div
                      class="guardian-collapse collapse-24"
                      [attr.collapsed]="item.collapsed"
                      (click)="onCollapseField(item)"
                      >
                    </div>
                  }
                </div>
                @if (!item.expandable) {
                  <div class="field-select" (click)="onSelectField(item)">
                    <p-radioButton
                      class="guardian-radio-button radio-button-24"
                      [value]="item.data.path"
                    [ngModel]="itemId"></p-radioButton>
                  </div>
                }
                <div class="field-name" (click)="onSelectField(item)">
                  {{item.data.description}}
                </div>
              </div>
            }
          </div>
        }
        @if (items && type==='formula') {
          <div class="field-tree">
            @for (item of items.data.items; track item) {
              <div class="field-item">
                <div class="field-offset"
                  [style.width.px]="24*item.lvl"
                [style.min-width.px]="24*item.lvl"></div>
                <div class="field-collapse">
                  @if (item.expandable) {
                    <div
                      class="guardian-collapse collapse-24"
                      [attr.collapsed]="item.collapsed"
                      (click)="onCollapseField(item)"
                      >
                    </div>
                  }
                </div>
                @if (!item.expandable) {
                  <div class="field-select" (click)="onSelectVariable(item)">
                    <p-radioButton
                      class="guardian-radio-button radio-button-24"
                      [value]="item.data.uuid"
                    [ngModel]="itemId"></p-radioButton>
                  </div>
                }
                <div class="field-name" (click)="onSelectVariable(item)">
                  {{item.data.name}}
                </div>
              </div>
            }
          </div>
        }
      </div>
    </div>
  }
</div>
<div class="dialog-footer">
  <div class="action-buttons">
    <div class="dialog-button close-btn">
      <button
        (click)="onClose()"
      class="guardian-button guardian-button-secondary">Close</button>
    </div>
    @if (step === 1) {
      <div class="dialog-button">
        <button
          (click)="onNext()"
          class="guardian-button guardian-button-primary"
        [disabled]="!entityId">Next</button>
      </div>
    }
    @if (step === 2) {
      <div class="dialog-button">
        <button
          (click)="onPrev()"
        class="guardian-button guardian-button-secondary">Prev</button>
      </div>
    }
    @if (step === 2) {
      <div class="dialog-button">
        @if (step === 2) {
          <button
            (click)="onSubmit()"
            class="guardian-button guardian-button-primary"
          [disabled]="!itemId">Confirm</button>
        }
      </div>
    }
  </div>
</div>