.mat-button-base:not([started]) {
    background-color: rgba(0, 0, 0, .12);
}

.json {
    white-space: pre;
    margin-bottom: 8px;
    width: 800px;
    height: 530px;
    overflow: auto;
}

.header {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.header-title {
    flex-grow: 1;
    text-align: center;
    padding-left: 20px;
}

.close-icon {
    cursor: pointer;
}

.content {
    height: 600px;
    overflow: hidden;
    position: relative;
}