.mat-dialog-content {
  overflow: visible;
}

.mat-dialog-actions {
  padding: 15px 0;
}

.description {
  margin-bottom: 20px;
}

.g-dialog-actions-btn {
  min-width: 210px !important;
}

.g-dialog-body {
  height: calc(100vh - 300px);
}

form {
  display: flex;
  flex-direction: column;
  overflow: visible;
  width: 100%;
}

.full-width {
  width: 100%;
}

.policy-role-card {
  display: flex;
  align-items: center;
  gap: 10px;

  height: 28px;
  padding: 0 12px;
  border-radius: 6px;
  border: 1px solid var(--primary-color);
  background: var(--primary-16, rgba(65, 105, 226, 0.16));

  color: var(--primary-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.delete-icon {
  color: red;
  cursor: pointer;
}

//.delete-policy-role-icon {
//    display: none;
//    position: absolute;
//    top: 8px;
//    left: 50%;
//    transform: translate(-12px, 0px);
//}

.policy-roles-container {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--color-grey-3);
  gap: 8px;
  overflow-x: scroll;
}

.policy-role-card-container {
  position: relative;
}

//.policy-role-card-container[disabled="false"]:hover .delete-policy-role-icon {
//    display: block;
//}

.policy-role-card-container[disabled="true"] .policy-role-card {
  background: var(--primary-color);

  color: var(--color-grey-white);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.policy-role-card-container[disabled="false"]:hover {
  cursor: pointer;
}

//.policy-role-card-container[disabled="false"]:hover .policy-role-card {
//    opacity: 0.5;
//}

.policy-roles-add-container {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 10px;
}

.info-btn {
  transform: scale(0.5);
  font-size: 28px;
}

.info-btn-container {
  display: flex;
}

.help-img {
  width: 500px;
  margin: 10px;
}

.grid-columns-list {
  border: solid 1px #ccc;
  min-height: 60px;
  display: inline-flex;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  overflow: visible;
  box-sizing: border-box;
  min-width: 100%;
}

.grid-column {
  padding: 20px 10px;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
  white-space: nowrap;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.grid-column:last-child {
  border: none;
}

.grid-columns-list.cdk-drop-list-dragging
.grid-column:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.grid-columns-title {
  margin: 24px 0 24px 0;
  color: var(--color-grey-black-1);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

.grid-columns-container {
  overflow-x: scroll;
}

.grid-column-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 5px;
}

.grid-column-disabled {
  border: 1px solid var(--color-grey-3);
  border-radius: 0 6px 6px 0;
  background: var(--color-grey-2);
  justify-content: center;
  color: var(--color-grey-black-2);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.grid-column-add-container {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 10px;
}

.form-field-info {
  width: 100%;
  display: flex;
  align-items: center;
}

.form-field-info .info-btn {
  transform: translateY(8px) scale(0.5);
}

.slide-toggle {
  margin: 8px;
}

.info-btn-container .slide-toggle {
  margin: 0 8px;
}

.dialog-body {
  height: 65vh;
  overflow-y: auto;
}

::ng-deep {
  .p-dialog-title {
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }

  .p-dialog {
    box-shadow: none;
  }

  .p-dialog-header {
    padding: 32px 32px 24px 32px !important;
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
  }

  .p-dialog-content {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  .p-button {
    border-radius: 8px;
  }
}

.dialog-footer {
  padding-top: 32px;
  border-top: 1px solid var(--color-grey-3);
}

.action-buttons {
  display: flex;
}

.navigation-buttons {
  margin-left: auto;
}

.create-policy-button {
  ::ng-deep {
    .p-button-outlined {
      border-radius: 8px;
      border: 1px solid var(--color-primary);
      color: var(--color-primary);
    }
  }
}

.prev-button {
  ::ng-deep {
    .p-button-outlined {
      border-radius: 8px;
      border: 1px solid var(--color-primary);
      color: var(--color-primary);
    }
  }
}

.next-button {
  margin-left: 8px;

  ::ng-deep {
    .p-button {
      border-radius: 8px;
      background: var(--color-primary);
      border: 1px solid var(--color-primary);
    }
  }
}

.delete-icon-color {
  fill: var(--primary-color);
  color: var(--primary-color);
}

.form-label {
  color: var(--color-grey-black-1);
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 6px;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  width: 100%;

  ::ng-deep {
    .p-dropdown {
      width: 100%;
    }

    .p-multiselect {
      width: 100%;
    }
  }
}

.add-role-button {
  ::ng-deep {
    .p-button-outlined {
      border-radius: 8px;
      border: 1px solid var(--color-primary);
      color: var(--color-primary);
    }
  }
}

.policy-schemas-input {
  display: flex;
  flex-direction: column;
  width: 100%;

  ::ng-deep {
    .p-multiselect {
      width: 100%;
      height: 40px;
    }

    .p-dropdown {
      width: 100%;
      height: 40px;
    }
  }
}

.w-45 {
  width: 45% !important;
}

.input-switch-container {
  display: flex;
  align-items: center;
}

.input-switch-label {
  color: var(--color-grey-black-2);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  margin-left: 8px;
}

.mt-24 {
  margin-top: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.accent-color-red {
  fill: var(--color-accent-red-1);
  color: var(--color-accent-red-1);
}

.cursor-pointer {
  cursor: pointer;
}

.column-title {
  color: var(--color-grey-black-2);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
