<div class="dialog-header">
  <div class="header-container">
    <div class="header-text">{{header}}</div>
  </div>
  <div class="header-icon" (click)="close()">
    <svg-icon src="/assets/images/icons/close.svg" svgClass="icon-color-close"></svg-icon>
  </div>
</div>

<div class="dialog-body">
  <div class="rules" [formGroup]="form">
    @for (option of presetRuleOptions; track trackByOptionKey($index, option)) {
      <div
        class="rule"
        >
        <div class="rule-text">
          <div class="rule-label">
            {{ option.label }}
          </div>
          @if (option.hint) {
            <div class="rule-hint">
              {{ option.hint }}
            </div>
          }
        </div>
        <div class="rule-controls">
          <p-toggleswitch
            [inputId]="option.key + '_switch'"
            [formControlName]="option.key">
          </p-toggleswitch>
        </div>
      </div>
    }
  </div>
</div>

<div class="dialog-footer">
  <div class="action-buttons">
    <div class="create-policy-button">
      <div class="dialog-button">
        <button
          type="button"
          pButton
          class="guardian-button guardian-button-secondary p-button-outlined"
          (click)="clearAll()"
          >
          Clear Selection
        </button>
      </div>
    </div>

    <div class="navigation-buttons">
      <div class="dialog-button">
        <button
          type="button"
          pButton
          class="prev-button guardian-button guardian-button-secondary p-button-text"
          (click)="close()"
          >
          Cancel
        </button>
      </div>

      <div class="dialog-button">
        <button
          type="button"
          pButton
          class="next-button guardian-button guardian-button-primary"
          (click)="save()"
          >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
