.guardian-page {
    position: relative;
    padding: 0px;
    user-select: none;

    .header-container {
        padding: 56px 48px 10px 48px;
        background: var(--guardian-primary-color, #4169E2);
        min-height: 178px;
        height: 178px;

        .guardian-user-back-button {
            button {
                border-color: #fff;
            }
        }

        .guardian-user-page-header {
            color: #fff;
        }


        .policy-name {
            color: #fff;
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            position: absolute;
            top: 34px;
            right: 0;

            .policy-version {
                padding-left: 16px;
            }
        }
    }

    .actions-container {
        min-height: 64px;
        height: 64px;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 12px 48px;
        background: #fff;
        border-top: 1px solid #E1E7EF;
        position: relative;

        button {
            position: absolute;
            height: 40px;
            top: 12px;
            right: 48px;
            width: 135px;
        }

        .guardian-step-container {
            height: 40px;
            width: 620px;
        }
    }
}