.context {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.guardian-input-container {
    margin-bottom: 24px;
}

.dialog-body {
    display: flex;
    flex-direction: row;
    padding-bottom: 24px;
    position: relative;
    height: calc(100vh - 390px);
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    user-select: none;
    position: relative;

    .close-btn {
        position: absolute;
        top: 0px;
        left: 0px;
        margin-left: 0px;
    }

    &>div {
        margin-left: 15px;
        margin-right: 0px;
    }
}

.field-tree {
    position: absolute;
    overflow: auto;
    top: 46px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    transform: translateZ(0);
    transform-origin: 0% 0%;

    .field-item {
        width: 100%;
        padding: 8px 0px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        text-align: left;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &[hidden="true"] {
            display: none;
        }

        .field-offset {
            width: 0px;
            height: 24px;
            overflow: hidden;
        }

        .field-collapse {
            width: 24px;
            min-width: 24px;
            height: 24px;
            overflow: hidden;
        }

        .field-select {
            width: 24px;
            min-width: 24px;
            height: 24px;
            overflow: hidden;
            cursor: pointer;

            * {
                pointer-events: none;
            }
        }

        .field-name {
            padding-left: 8px;
            min-width: 125px;
            pointer-events: none;
        }


        .field-id {
            padding-left: 8px;
            min-width: 125px;
            pointer-events: none;
            color: var(--guardian-grey-color-3, #AAB7C4);
            font-size: 12px;
        }

        .field-names {
            cursor: pointer;

            &[readonly="true"] {
                cursor: default;
            }
        }

        &[property="false"] {
            opacity: 0.4;
        }

        &[highlighted="true"] .field-name {
            color: var(--guardian-primary-color, #4169E2);
            font-weight: 600;
        }

        &[search-highlighted="hidden"] {
            display: none;
        }

        &[search-highlighted="sub"] .field-name {
            opacity: 0.5;
        }

        &[search-highlighted="highlighted"] .field-name {
            color: var(--guardian-success-color, #19BE47);
            font-weight: 600;
        }

        &[search-highlighted="highlighted"][highlighted="true"] .field-name {
            color: var(--guardian-primary-color, #4169E2);
            font-weight: 600;
        }
    }
}

.guardian-textarea-container {
    height: 100%;

    textarea {
        height: 100%;
        resize: none;
    }
}

.data-type-values {
    display: flex;
    flex-direction: row;
    width: fit-content;

    .data-type-value {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 40px;
        padding-bottom: 24px;
        align-items: center;
        cursor: pointer;
        margin-right: 24px;

        .data-type-value-select {
            width: 24px;
            height: 24px;
        }

        .data-type-value-name {
            padding: 4px 0 4px 8px;
            height: 24px;
            font-family: Inter;
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            text-align: left;
            color: var(--guardian-font-color, #23252E);
            cursor: pointer;
        }
    }
}

.type-container {
    position: absolute;
    overflow: auto;
    top: 40px;
    left: 0;
    bottom: 0;
    right: 0;

    .guardian-textarea-container {
        height: calc(100% - 60px);
    }
}

.error-message {
    background: #FFEAEA;
    color: #FF432A;
    border: 1px solid #FF432A;
    padding: 12px 16px;
    margin-bottom: 12px;
    border-radius: 8px;
}