.action-buttons {
    display: flex;
    align-items: center;
}

.cancel-button {
    margin-left: auto;
    margin-right: 15px;
}

::ng-deep {
    .p-button {
        border-radius: 8px;
    }
}

.dialog-body {
    height: auto;
    overflow-y: auto;
}

::ng-deep {
    .p-dialog-title {
        font-family: Poppins, sans-serif;
        font-size: 24px !important;
        font-style: normal;
        font-weight: 600 !important;
    }

    .p-dialog {
        box-shadow: none;
    }

    .p-dialog-header {
        border-top-left-radius: 16px !important;
        border-top-right-radius: 16px !important;
    }

    .p-dialog-content {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

.radio-item {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    margin-bottom: 24px;

    &:last-child {
        margin-bottom: 128px;
    }

    p {
        margin: 0;
        display: flex;
        align-items: center;
        gap: 12px;
    }

    label {
        cursor: pointer;
        margin: 0;
        color: var(--color-grey-black-2, #23252E);
        font-family: Inter, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
    }

    span {
        margin-left: 32px;
        color: var(--color-grey-6, #848FA9);
        font-family: Inter, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }
}