<!-- UI Prop -->
@if (properties) {
  <table class="properties document-validator-properties" [attr.readonly]="readonly">
  <colgroup><col class="col-toggle"><col class="col-name"><col class="col-value"></colgroup>
    <tr class="propRow">
      <td class="propRowCol"></td>
      <td class="propRowCell cellName">Document Type</td>
      <td class="propRowCell">
        <p-select
          panelStyleClass="pc-select-panel"
          [(ngModel)]="properties.documentType"
          [disabled]="readonly"
          (onChange)="onSave()"
          [appendTo]="'body'"
          placeholder="Select a document type"
          [options]="documentTypeOptions">
        </p-select>
      </td>
    </tr>
    <tr class="propRow">
      <td class="propRowCol"></td>
      <td class="propRowCell cellName">Check Schema</td>
      <td class="propRowCell">
        <select-schema
          [schemas]="schemas"
          [(value)]="properties.schema"
          [disabled]="readonly"
          (change)="onSave()"
        ></select-schema>
      </td>
    </tr>
    <tr class="propRow">
      <td class="propRowCol"></td>
      <td class="propRowCell cellName" pTooltip="Check Owned by User" tooltipPosition="top" [tooltipOptions]="{showDelay: 300}">Check Owned by User</td>
      <td class="propRowCell">
        <p-toggleswitch
          [(ngModel)]="properties.checkOwnerDocument"
          [disabled]="readonly"
          (onChange)="onSave()">
        </p-toggleswitch>
      </td>
    </tr>
    <tr class="propRow">
      <td class="propRowCol"></td>
      <td class="propRowCell cellName" pTooltip="Check Owned by Group" tooltipPosition="top" [tooltipOptions]="{showDelay: 300}">Check Owned by Group</td>
      <td class="propRowCell">
        <p-toggleswitch
          [(ngModel)]="properties.checkOwnerByGroupDocument"
          [disabled]="readonly"
          (onChange)="onSave()">
        </p-toggleswitch>
      </td>
    </tr>
    <tr class="propRow">
      <td class="propRowCol"></td>
      <td class="propRowCell cellName" pTooltip="Check Assigned to User" tooltipPosition="top" [tooltipOptions]="{showDelay: 300}">Check Assigned to User</td>
      <td class="propRowCell">
        <p-toggleswitch
          [(ngModel)]="properties.checkAssignDocument"
          [disabled]="readonly"
          (onChange)="onSave()">
        </p-toggleswitch>
      </td>
    </tr>
    <tr class="propRow">
      <td class="propRowCol"></td>
      <td class="propRowCell cellName" pTooltip="Check Assigned to Group" tooltipPosition="top" [tooltipOptions]="{showDelay: 300}">Check Assigned to Group</td>
      <td class="propRowCell">
        <p-toggleswitch
          [(ngModel)]="properties.checkAssignByGroupDocument"
          [disabled]="readonly"
          (onChange)="onSave()">
        </p-toggleswitch>
      </td>
    </tr>
    <tr class="propHeader" (click)="onHide(propHidden, 'conditionsGroup')">
      <td class="propRowCol"></td>
      <td class="propHeaderCell cellName document-validator-section-header" [attr.collapse]="propHidden.conditionsGroup">
        <i class="pi pi-chevron-down chevron-icon"></i>
        <span>Conditions</span>
      </td>
      <td class="propHeaderCell">
        <div class="propAdd" (click)="addCondition(); $event.stopPropagation()">
          <i class="pi pi-plus"></i>
          <span>Add Condition</span>
        </div>
      </td>
    </tr>
    @for (condition of properties.conditions; track condition; let i = $index) {
      <tr class="propRow" [attr.collapse]="propHidden.conditionsGroup">
        <td class="propRowCol cellCollapse" (click)="onHide(propHidden.conditions, i)"
          [attr.collapse]="propHidden.conditions[i]">
          <i class="pi pi-chevron-down"></i>
        </td>
        <td class="propRowCell cellName">Condition {{ i }}</td>
        <td class="propRowCell">
          @if (condition.field && condition.type && condition.value) {
            <span
              [title]="condition.field + ' ' + condition.type + ' ' + condition.value">
              {{ condition.field }} {{ condition.type }} {{ condition.value }}
            </span>
          }
          <span class="remove-prop" [attr.readonly]="readonly" (click)="removeCondition(i)">
            <i class="pi pi-trash"></i>
          </span>
        </td>
      </tr>
      <tr class="propRow subRow" [attr.collapse]="propHidden.conditionsGroup || propHidden.conditions[i]">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Type</td>
        <td class="propRowCell">
          <p-select
            panelStyleClass="pc-select-panel"
            [(ngModel)]="condition.type"
            [disabled]="readonly"
            (onChange)="onSave()"
            [appendTo]="'body'"
            placeholder="Select a condition type"
            [options]="conditionTypeOptions">
          </p-select>
        </td>
      </tr>
      <tr class="propRow subRow" [attr.collapse]="propHidden.conditionsGroup || propHidden.conditions[i]">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Field</td>
        <td class="propRowCell">
          <input class="prop-input" [(ngModel)]="condition.field" [readonly]="readonly" (blur)="onSave()">
        </td>
      </tr>
      <tr class="propRow subRow" [attr.collapse]="propHidden.conditionsGroup || propHidden.conditions[i]">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Value</td>
        <td class="propRowCell">
          <input class="prop-input" [(ngModel)]="condition.value" [readonly]="readonly" (blur)="onSave()">
        </td>
      </tr>
    }
  </table>
}
