.guardian-dropdown.guardian-dropdown-status::ng-deep {
    height: 30px;
    width: 140px;

    .p-dropdown {
        width: 140px;
        height: 30px;
        border-radius: 6px;

        .p-inputtext {
            padding: 0px 0px 0px 15px;
            color: inherit;
            font-family: Inter, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
        }
    }

    .p-dropdown-trigger .p-dropdown-trigger-icon {
        font-size: 12px;
        font-weight: bold;
    }
}

.guardian-dropdown.guardian-dropdown-status.status-DRAFT::ng-deep {
    .p-dropdown {
        border-color: var(--guardian-primary-color, #4169E2);
        color: var(--guardian-primary-color, #4169E2);
    }

    .p-dropdown-trigger .p-dropdown-trigger-icon {
        color: var(--guardian-primary-color, #4169E2);
    }
}

.guardian-dropdown.guardian-dropdown-status.status-PUBLISHED::ng-deep {
    .p-dropdown {
        background: var(--guardian-success-background, #CAFDD9);
        color: var(--guardian-success-color, #19BE47);
        border: 1px solid var(--guardian-success-color, #19BE47);
    }

    .p-dropdown-trigger .p-dropdown-trigger-icon {
        color: var(--guardian-success-color, #19BE47);
    }
}

.guardian-dropdown.guardian-dropdown-status.status-ERROR::ng-deep {
    .p-dropdown {
        background: var(--guardian-failure-background, #FFEAEA);
        color: var(--guardian-failure-color, #FF432A);
        border: 1px solid var(--guardian-failure-color, #FF432A);
    }

    .p-dropdown-trigger .p-dropdown-trigger-icon {
        color: var(--guardian-failure-color, #FF432A);
    }
}

::ng-deep .guardian-dropdown-panel.guardian-dropdown-status-panel {
    border-radius: 4px;

    .p-dropdown-item {
        height: auto;
        padding: 12px 16px !important;
        font-family: Inter;
        font-size: 14px;
        line-height: 16px;
        text-align: left;
    }

    .dropdown-item-title {
        font-family: Inter, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        height: 20px;

        &.status-DRAFT {
            color: var(--guardian-primary-color, #4169E2);
        }
        &.status-PUBLISHED {
            color: var(--guardian-success-color, #19BE47);
        }
        &.status-ERROR {
            color: var(--guardian-failure-color, #FF432A);
        }
    }
    
    .dropdown-item-description {
        color: #848fa9;
        font-family: Inter, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
    }
}

.guardian-disabled-status {
    height: 30px;
    width: 140px;
    border-radius: 6px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0px 0px 0px 16px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;

    &.status-DRAFT {
        background: var(--guardian-primary-background, #e1e7fa);
        color: var(--guardian-primary-color, #4169E2);
    }

    &.status-PUBLISHED {
        background: var(--guardian-success-background, #CAFDD9);
        color: var(--guardian-success-color, #19BE47);
    }

    &.status-ERROR {
        background: var(--guardian-failure-background, #FFEAEA);
        color: var(--guardian-failure-color, #FF432A);
    }
}