.content {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: block;
}

.loading {
    margin: 0 auto;
}

.log-table {
    width: 100vw;
    table-layout: fixed;
}

.log-type {
    font-weight: 500;
}

.type-INFO {
    color: #2196f3;
}

.type-WARN {
    color: gold;
}

.type-ERROR {
    color: #f44336;
}

.log-table ::ng-deep *[class*='mat-column'] {
    border-left: 1px solid #dddddd;
    padding-left: 10px;
}

.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-shade + .log-table {
    min-height: 400px;
}

.search-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.search-field {
    width: 15%;
}

.table-container {
    position: relative;
}

.mat-column-datetime {
    width: 210px;
}
  
.mat-column-type {
    width: 80px;
}

.long-message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-settings {
    color: #3f51b5;
    font-weight: 500;
    cursor: pointer;
    padding-left: 22px;
    position: relative;
    width: 125px;
    display: inline-block;
}
.btn-settings:hover {
    text-decoration: underline;
}

.btn-settings mat-icon {
    position: absolute;
    left: 0;
    top: -1px;
    font-size: 20px;
}

.mat-column-details {
    width: 100px;
}
