.content {
    overflow: visible;
    min-width: 500px;
}

:host ::ng-deep {
    .mat-dialog-title {
        margin-bottom: 32px;
        color: #000;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .mat-form-field {
        width: 100%;
    }

    .mat-dialog-actions {
        display: flex;
        justify-content: end;
        gap: 16px;
        border-top: 1px solid #E1E7EF;
        padding: 20px 0px;
        margin-top: 30px;
    }

    .toolbar-btn-primary .p-button {
        background: var(--color-primary);
        border: 1px solid var(--color-primary);
        font-family: Inter, sans-serif;
        font-size: 1px;
        font-style: normal;
        font-weight: 500;
        margin-left: 10px;
        height: 40px;
        padding: 8px;
        border-radius: 8px;
        color: white;

        .p-button-label {
            font-size: 14px;
            padding: 0px 10px;
            color: white !important;
        }
    }

    .toolbar-btn-outlined .p-button {
        background: white;
        border: 1px solid var(--color-primary);
        font-family: Inter, sans-serif;
        font-size: 1px;
        font-style: normal;
        font-weight: 500;
        margin-left: 10px;
        height: 40px;
        padding: 8px;
        border-radius: 8px;
        color: var(--color-primary);

        .p-button-label {
            font-size: 14px;
            padding: 0px 10px;
            color: var(--color-primary) !important;
        }
    }
}

@media (max-width: 810px) {
    mat-form-field {
        width: 100%;
    }

    .mat-dialog-actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }

    #cancel-btn {
        border: 1px solid #2C78F6;
        padding: 0;
        margin-left: 0;
        background: none !important;
        color: #2C78F6;
        order: 1;
        grid-column: 1;
    }

    #publish-btn {
        padding: 0;
        order: 2;
        grid-column: 2;
        background: #2C78F6;
    }

    #publish-btn[disabled] {
        opacity: 0.5;
        background: #2C78F6;
        color: white;
    }
}