.content {
    position: relative;
    display: block;
    background: #fff;
    width: 100%;
}

.loading {
    position: fixed;
    /* background: #ffffff32; */
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.loading-progress {
    width: 80%;
    height: 80%;
}

.grid-filters {
    display: flex;
    gap: 16px;
    background-color: #f9fafc;
    flex-wrap: wrap;
}

// .table-container {
//     overflow: scroll;
// }

.table {
    width: 100%;

    ::ng-deep {
        .mat-header-row {
            background: var(--color-grey-1);
            box-shadow: none;
        }

        .mat-header-cell {
            color: var(--color-grey-5) !important;
            border: none !important;
            font-family: Inter, serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
        }

        .mat-header-cell:first-of-type {}

        .mat-cell {
            border-bottom: none;
            color: var(--color-grey-black-1);
            font-family: Inter, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding: 0 10px;
        }

        .mat-cell:first-of-type {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            padding-left: 24px;
        }

        .mat-cell:last-of-type {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }
}

.viewer {
    color: #0000ee;
    cursor: pointer;
}

.viewer:hover {
    text-decoration: underline;
}

.btn-approve {
    background: #4caf50;
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    padding: 2px 8px;
    margin: 0px 5px;
    cursor: pointer;
    font-weight: 500;
}

.btn-reject {
    background: #f44336;
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    padding: 2px 8px;
    margin: 0px 5px;
    cursor: pointer;
    font-weight: 500;
}

.status-NEW {
    color: #0000ee;
}

.status-APPROVED {
    color: #4caf50;
}

.status-REJECTED {
    color: #f44336;
}

.btn-field {
    // width: 250px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: var(--color-primary);
    font-family: Inter, sans-serif;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    border-radius: 6px;
    border: 1px solid var(--color-primary);
    background: var(--color-grey-white);
    padding: 8px 16px;
    border-bottom: 1px solid var(--color-primary) !important;
    height: 34px;

    &:hover {
        filter: brightness(0.95);
    }
}

.btn-field span {
    pointer-events: none;
}

//
//.btn-field:hover {
//    text-decoration: underline;
//}

.table tr.mat-row td {
    max-width: 40vw;
    overflow: hidden;
    text-overflow: ellipsis;
}

.col-btn {
    white-space: nowrap;
}

.col-blocks {
    display: flex;
    gap: 5px;
}

.table .mat-header-cell {
    padding: 0 10px;
}

.text {
    white-space: nowrap;
}

.array.text {
    max-width: 12vw;
    padding-right: 35px;
    position: relative;
}

.array.text i,
.array.text svg {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.serials-container {
    position: absolute;
    left: 1em;
    top: 1em;
    bottom: 1em;
    right: 1em;
    display: inline-block;
    padding: 6px 0px;
}

.serials {
    position: relative;
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 25px;
}

.serials i,
.serials svg {
    position: absolute;
    right: 1px;
    top: 1px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 4px;
}

.serials hedera-explorer {
    display: inline-block;
    padding-right: 8px;
}

tr.detailed-row {
    height: 0;
}

.expanded-detail {
    max-width: unset !important;
}

.table-row td {
    border-bottom-width: 0;
}

.timeline-container {
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
}

.timeline-item {
    padding: 3em 2em 2em;
    position: relative;
    color: rgba(0, 0, 0, 0.7);
    border-left: 2px solid rgba(0, 0, 0, 0.3);
}

.timeline-item p {
    font-size: 1rem;
}

.timeline-item::before {
    content: attr(date-is);
    position: absolute;
    left: 2em;
    top: 1.5em;
    display: block;

    color: var(--color-grey-5);
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
}

.timeline-item::after {
    width: 10px;
    height: 10px;
    display: block;
    top: 1em;
    position: absolute;
    left: -7px;
    border-radius: 10px;
    content: "";
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: white;
}

.timeline-item:last-child {
    border-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.3) 60%,
            rgba(0, 0, 0, 0)) 1 100%;
}

.timeline-header-title {
    color: var(--color-grey-black-2);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.has-history-row {
    cursor: pointer;
}

.mat-column-history {
    width: 30px;
}

tr.revoked td {
    position: relative;
}

tr.revoked td:not(.mat-column-history):before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 2px solid rgb(105, 105, 105);
    width: 100%;
    transform: translate(0px, -4px);
}

tr.revoked td:not(.mat-column-history) {
    opacity: 0.7;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content::ng-deep .table.no-hover th,
.content::ng-deep .p-datatable {
    .p-datatable-wrapper {
        overflow: inherit;
    }

    .p-sortable-column.p-highlight:hover {
        background-color: transparent;
        cursor: default;
        color: var(--color-grey-5, #495057);
    }

    tr>td {
        position: relative;
    }
}


.content::ng-deep .p-datatable-thead {
    font-size: 14px;
    font-weight: 400;
}

.content::ng-deep .p-datatable-tbody .pi {
    font-size: 0.75rem;
}

.text-container {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    left: 1em;
    top: 1em;
    bottom: 1em;
    right: 1em;
    display: inline-block;
    padding: 6px 0px;
}

*[readonly-block="true"] {
    pointer-events: none !important;
    filter: grayscale(1);
}


.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: fit-content;

    svg-icon.icon-btn {
        margin-right: 8px;
    }

    .comments-button {
        display: flex;
        align-items: center;
        width: 68px;
        min-width: 68px;
        margin-left: 8px;
    }

    .comments-count {
        color: #848FA9;
        font-family: Inter;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        vertical-align: middle;
        margin-right: 8px;
        width: 34px;
        overflow: hidden;
    }
}

.button-container {
    min-width: fit-content;
}