.context {
    position: relative;
    overflow-y: auto;
    padding: 14px 0 20px 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: Inter, serif;
    font-style: normal;
    max-height: calc(100vh - 410px);
    padding-right: 8px;
    min-height: 200px;
}

.dialog-header {
    .header-item {
        padding: 6px 12px;
        margin: 0px 16px;
        border-radius: 6px;
        font-size: var(--guardian-primary-font-size);
        color: var(--guardian-dry-run-color);
        background: var(--guardian-dry-run-background);
        user-select: none;
        cursor: default;
    }
}

.dialog-body {
    height: auto;
    padding-bottom: 8px;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;

    &>div {
        margin-left: 15px;
        margin-right: 0px;
    }
}

.close-icon-color {
    fill: #848FA9;
    color: #848FA9;
}

.guardian-input-container {
    margin-bottom: 18px;
}

.condition-container {
    background: #F9FAFC;
    border: 1px solid #E1E7EF;
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0px;
    }

    .condition-body {
        width: 100%;
        padding: 16px;
        border-radius: 8px;
        background: #FFFFFF;
        border: 1px solid #E1E7EF;

        .condition-type {
            font-family: Inter;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            text-align: left;
            color: #848FA9;
            height: 24px;
            margin-bottom: 8px;
            width: 100%;
        }

        .condition-value-container {
            width: 100%;
            height: 40px;
            margin-bottom: 16px;
            display: flex;
            flex-direction: row;

            &:last-child {
                margin-bottom: 0px;
            }

            .condition-value-type {
                width: 150px;
                min-width: 150px;
                padding-right: 16px;
                display: flex;
                position: relative;
                height: 40px;

                &::ng-deep .p-dropdown {
                    width: 134px;
                }
            }

            .condition-value {
                width: 100%;
                height: 40px;
                display: flex;
                flex-direction: row;

                .condition-value-input {
                    width: 100%;
                    height: 40px;
                    display: flex;
                    flex-direction: row;

                    &::ng-deep .p-multiselect {
                        width: 100%;
                    }
                }

                .variable-container {
                    display: flex;
                    flex-direction: row;

                    .variable-name {
                        height: 40px;
                        font-family: Inter;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 16px;
                        text-align: left;
                        color: #4169E2;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        min-width: 50px;
                    }
    
                    .variable-symbol {
                        min-width: 20px;
                        width: 20px;
                        height: 40px;
                        display: flex;
                        position: relative;
                        justify-content: center;
                        align-items: center;
                        color: #4169E2;
                    }
                }
            }

            .condition-range {
                .variable-container {
                    padding: 0px 16px;
                }

                .variable-name {
                    padding: 0px 8px;
                }
            }

            .condition-text {
                .variable-container {
                    padding: 0px 16px 0px 0px;
                }

                .variable-name {
                    padding: 0px 16px 0px 0px;
                }
            }
        }
    }

    .condition-delete {
        width: 100%;
        height: 40px;
        margin-top: 16px;

        button {
            width: 100%;
            height: 40px;
            font-weight: 500;
            font-size: 14px;
        }
    }
}

.condition-add {
    width: 100%;
    height: 40px;
    margin-bottom: 16px;

    button {
        width: 100%;
        height: 40px;
        font-weight: 500;
        font-size: 14px;
    }
}