<div class="content-{{type}}" [hidden]="!isExist">
    <div *ngIf="loading || disabled" class="loading">
        <mat-spinner></mat-spinner>
    </div>
    <ng-container *ngIf="type=='page'">
        <form *ngIf="schema" [formGroup]="dataForm" (ngSubmit)="onSubmit()" class="form-{{type}}">
            <h1 *ngIf="title" mat-dialog-title>{{title}}</h1>
            <div *ngIf="description" class="description">{{description}}</div>
            <div class="schema-form">
                <app-schema-form [formGroup]="dataForm" [schema]="schema" [private-fields]="hideFields" [preset]="presetDocument">
                </app-schema-form>
            </div>
            <div class="page-btns">
                <button mat-raised-button color="primary" type="submit" [disabled]="!dataForm.valid">Ok</button>
            </div>
        </form>
    </ng-container>
    <ng-container *ngIf="type=='dialog'">
        <button mat-raised-button color="primary" class="btn-block-{{buttonClass}}" (click)="onDialog()">{{content}}</button>
    </ng-container>
</div>

<ng-template #dialogTemplate let-data>
    <div>
        <h1 mat-dialog-title>{{data.dialogContent}}</h1>
        <div class="description">
            {{description}}
        </div>
        <div *ngIf="data.schema" mat-dialog-content class="body-dialog-template">
            <form [formGroup]="dataForm" (ngSubmit)="data.onSubmit()">
                <div class="form-{{data.type}}">
                    <app-schema-form [formGroup]="data.dataForm" [schema]="data.schema"
                        [private-fields]="data.hideFields" [preset]="presetDocument">
                    </app-schema-form>
                </div>
                <div mat-dialog-actions>
                    <button mat-raised-button color="primary" type="submit"
                        [disabled]="!data.dataForm.valid">Ok</button>
                    <button mat-button type="button" (click)="data.onCancel()">Cancel</button>
                </div>
            </form>
        </div>
        <div *ngIf="!data.schema" mat-dialog-actions>
            <button mat-button type="button" (click)="data.onCancel()">Cancel</button>
        </div>
    </div>
</ng-template>