@if (choices.length > 0) {
  <ul
    #dropdownMenu
    class="dropdown-menu {{position?.position}}"
    [style.top.px]="position?.top"
    [style.left.px]="position?.left">
    @for (choice of choices; track trackById($index, choice)) {
      <li
        [class.active]="activeChoice === choice">
        @if (itemTemplate) {
          <div (click)="selectChoice.next(choice)">
            <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: choice }"></ng-container>
          </div>
        }
        @if (!itemTemplate) {
          <div (click)="selectChoice.next(choice)" class="item">
            {{ choice.label }}
          </div>
        }
      </li>
    }
  </ul>
}