<!-- UI Prop -->
<table class="properties" [attr.readonly]="readonly" *ngIf="block">
    <tr class="propRow" *ngIf="block.blockType=='interfaceStepBlock'">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Cyclic</td>
        <td class="propRowCell">
            <input type="checkbox" [(ngModel)]="block.cyclic" [readonly]="readonly">
        </td>
    </tr>

    <tr class="propHeader">
        <td class="propRowCol" (click)="onHide(propHidden, 'main')" [attr.collapse]="propHidden.main">
            <mat-icon>expand_more</mat-icon>
        </td>
        <td class="propHeaderCell cellName">UI</td>
        <td class="propHeaderCell"></td>
    </tr>
    <tr class="propRow" [attr.collapse]="propHidden.main">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Title</td>
        <td class="propRowCell">
            <input [(ngModel)]="block.uiMetaData.title" [readonly]="readonly">
        </td>
    </tr>
    <tr class="propRow" [attr.collapse]="propHidden.main">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Type</td>
        <td class="propRowCell">
            <mat-select [(value)]="block.uiMetaData.type" [disabled]="readonly">
                <mat-option value="blank">BLANK</mat-option>
                <mat-option value="tabs">TABS</mat-option>
            </mat-select>
        </td>
    </tr>
</table>