.type-selector {
    width: 100%;
}

.google-map-container {
    margin-bottom: 20px;
    margin-top: 5px;
    box-shadow: 0px 0px 21px 0px rgba(34, 60, 80, 0.2);
    border-radius: 5px;
}

:host .google-map-container ::ng-deep .map-container {
    border-radius: 5px;
}

.switch-btn {
    width: 180px;
    height: 32px;
    margin-bottom: 15px;
}

.form-group {
    width: 100%;
    position: relative;
}

.form-group textarea {
    min-height: 90px !important;
    margin-top: 20px;
    width: 100%;
    resize: vertical;
}

.form-group label {
    position: absolute;
    font-size: 12px;
    background: var(--color-background);
    top: 14px;
    left: 14px;
}

::ng-deep p-dropdown {
    width: 100%;
    & > div {
        width: 100%;
    }
}
