<div class="switch-btn">
    <switch-button 
        [on-label]="'JSON'" 
        [off-label]="'Form'" 
        [(value)]="isJSON"
        (valueChange)="onViewTypeChange()">
    </switch-button>
</div>
<ng-container *ngIf="isJSON; else form">
    <div class="form-group type-selector">
        <label for="geoJsonInput" class="form-label coordinates-input">GeoJSON</label>
        <textarea
            pInputTextarea
            id="geoJsonInput"
            placeholder="{}"
            [disabled]="isDisabled"
            required
            [(ngModel)]="jsonInput"
            (ngModelChange)="jsonChanged()"
            class="full-width">
        </textarea>
        <app-file-drag-n-drop
            (onFileLoaded)="importFromFile($event)"
            [dropZoneLabel]="'Upload file (.json, .kml)'"
            [fileExtension]="'json, .kml, .geojson'"
        ></app-file-drag-n-drop>
    </div>
</ng-container>
<ng-template #form>
    <div class="map-container">
        <div class="map" #map id="map"></div>
    </div>
    <div>
        <div *ngFor="let geometry of geometriesList; let i = index">
            <div class="form-group type-selector">
                <!-- <label for="typeDropdown" class="form-label">Type</label> -->
                <p-dropdown
                    id="typeDropdown"
                    [(ngModel)]="geometry.type"
                    [options]="typeOptions"
                    [disabled]="isDisabled"
                    placeholder="None"
                    class="full-width"
                    (onChange)="onTypeChange(geometry)">
                </p-dropdown>
                <small *ngIf="!type" class="p-error">This field is required.</small>
            </div>
            <div class="form-group type-selector">
                <label for="coordinatesInput" class="form-label coordinates-input">Coordinates:</label>
                <textarea
                    id="coordinatesInput"
                    [(ngModel)]="geometry.coordinates"
                    [placeholder]="coordinatesPlaceholder"
                    (ngModelChange)="coordinatesChanged(geometry)"
                    [disabled]="isDisabled"
                    pInputTextarea
                    required
                    class="full-width"
                ></textarea>
            </div>
        </div>

        <button (click)="addGeometry()">Add Geometry</button>
    </div>
</ng-template>
