.type-selector {
    width: 100%;
}

.map-container {
    .map {
        width: 100%;
        height: 250px;
    }
}

.switch-btn {
    width: 180px;
    height: 32px;
    margin-bottom: 15px;
}

.form-group {
    width: 100%;
    position: relative;
}

.form-group textarea {
    min-height: 190px !important;
    margin-top: 20px;
    width: 100%;
    resize: vertical;
}

.form-group label {
    position: absolute;
    font-size: 12px;
    background: var(--color-background);
    top: 14px;
    left: 14px;
}

.coordinates-input {
    z-index: 10;
}

.map-control-block {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    gap: 16px;

    .map-control-buttons {
        display: flex;
        gap: 8px;
    }
}

.add-feature-button {
    width: 146;
    height: 28;
    border-radius: 6px;
    opacity: 1;
    border-width: 1px;
    padding-top: 6px;
    padding-right: 16px;
    padding-bottom: 6px;
    padding-left: 16px;
    gap: 8px;
}

::ng-deep p-dropdown {
    width: 100%;
    & > div {
        width: 100%;
    }
}
