<app-dialog-wrapper (cancel)="onNoClick()" (confirm)="onCreate()" [confirmDisabled]="loading || !this.form.valid"
                    confirmBtnLabel="Set" [title]="'Set pool'" [loading]="loading">
    <div class="content">
        <div class="content__tokens tokens">
            <div class="token-card" *ngFor="let tokenControl of tokenControls; let i=index;" [formGroup]="tokenControl">
                <div class="token-card__token">
                    <svg-icon src="/assets/images/icons/token.svg" svgClass="icon-style-token"></svg-icon>
                    <div
                        class="p-fluid dropdown-container"
                        style="transform: scale(0.9) translateX(6px) translateY(5px); width: 95px;"
                    >
                        <p-dropdown
                            id="tokenDropdown"
                            formControlName="token"
                            [options]="getTokenList(selectedTokenId ?? '')"
                            optionLabel="tokenSymbol"
                            placeholder="Token"
                            [required]="true"
                        >
                            <ng-template let-option pTemplate="selectedItem">
                                {{ option.tokenSymbol }} ({{ option.tokenId }})
                            </ng-template>
                            <ng-template let-option pTemplate="item">
                                {{ option.tokenSymbol }} ({{ option.tokenId }})
                            </ng-template>
                        </p-dropdown>
                    </div>
                </div>
                <div class="token-card__count">
                    <svg-icon src="/assets/images/icons/calculate.svg" svgClass="icon-style-calculate"></svg-icon>
                    <div class="p-fluid" style="transform: scale(0.8) translateY(5px); width: 110px;">
                        <p-inputNumber
                            id="countInput"
                            formControlName="count"
                            [placeholder]="'Count'"
                            mode="decimal"
                            [min]="1"
                            [useGrouping]="false">
                        </p-inputNumber>
                    </div>
                </div>
                <button
                    pButton
                    class="token-card__remove mat-flat-button"
                    label="Remove"
                    (click)="removeToken(i)"
                ></button>
            </div>

            <div class="token-add-card" (click)="addToken()" *ngIf="tokens?.controls && tokens.controls.length < 2">
                <i class="pi pi-plus toolbar-icons"></i>
            </div>
        </div>
        <div class="content__delimiter">
        </div>
        <div class="content__approval">
            <div class="p-field-checkbox">
                <p-checkbox
                    [binary]="true"
                    [formControl]="immediately"
                    label="Without approval"
                >
                </p-checkbox>
            </div>
        </div>

    </div>

</app-dialog-wrapper>
