<div [attr.readonly]="readonly">
    <div *ngIf="loading" class="loading">
        <mat-spinner></mat-spinner>
    </div>
    <div class="toolbar">
        <div class="toolbar-btn" (click)="onSave()" style="color: #3f51b5">
            <mat-icon>save</mat-icon>
            <span>Save</span>
        </div>
        <div class="toolbar-btn" (click)="onClose()" style="color: #c90000;width: 80px">
            <mat-icon>close</mat-icon>
            <span>Cancel</span>
        </div>
    </div>
    <div *ngIf="errors && errors.length" class="json-errors">
        <div *ngFor="let item of errors" class="errors-property">
            <span></span>{{item}}
        </div>
    </div>
    <div class="textarea-code">
        <ngx-codemirror [(ngModel)]="code" [options]="codeMirrorOptions" ></ngx-codemirror>
    </div>
</div>