.relationships-chart {
    height: 1000px !important;
}

.grid-2 {
    padding: 30px;
    display: grid;
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    gap: 30px;
    width: 100%;
    box-sizing: border-box;
}

.grid-1 {
    padding: 30px;
    display: grid;
    grid-template-columns: 100%;
    gap: 30px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    height: 400px;
}

.grid-3 {
    grid-template-columns: 230px 175px auto 150px 400px;
    border: 1px solid #aaa;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    column-gap: 30px;
    display: grid;
    height: 100px;
    overflow: visible;
}

.history {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}