<div>
    <app-loading [loading]="loading"></app-loading>

    <div class="header">

    </div>
    <div class="content">
        @if (row) {
        <mat-tab-group [selectedIndex]="tabIndex" (selectedTabChange)="onTab($event)">

            @if (target) {
            <mat-tab label="OVERVIEW">
                <div class="grid-2">
                    <mat-form-field class="example-full-width">
                        <mat-label>TOPIC ID</mat-label>
                        <input matInput [value]="target.topicId" readonly="true">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>CONSENSUS TIMESTAMP</mat-label>
                        <input matInput [value]="target.consensusTimestamp" readonly="true">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>UUID</mat-label>
                        <input matInput [value]="target.uuid" readonly="true">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>TYPE</mat-label>
                        <input matInput [value]="target.type" readonly="true">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>ACTION</mat-label>
                        <input matInput [value]="target.action" readonly="true">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>STATUS</mat-label>
                        <input matInput [value]="target.status" readonly="true">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>REASON</mat-label>
                        <input matInput [value]="target.statusReason" readonly="true">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>ISSUER</mat-label>
                        <input matInput [value]="target.options.issuer" readonly="true">
                    </mat-form-field>
                </div>
            </mat-tab>

            <mat-tab label="DOCUMENT">
                @for (url of first.files; track $index) {
                    <div  class="grid-1">
                        <mat-form-field class="example-full-width">
                            <mat-label>IPFS</mat-label>
                            <input matInput [value]="url" readonly="true">
                        </mat-form-field>
                        <textarea name="" id="" cols="30" rows="10">{{getDocument(first.documents[$index])}}</textarea>
                    </div>
                }
            </mat-tab>

            <mat-tab label="HISTORY">
                <div class="history">
                    @for (item of history; track $index) {
                        <div class="grid-3">
                            <mat-form-field class="example-full-width">
                                <mat-label>CONSENSUS TIMESTAMP</mat-label>
                                <input matInput [value]="item.consensusTimestamp" readonly="true">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>TOPIC ID</mat-label>
                                <input matInput [value]="item.topicId" readonly="true">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>ACTION</mat-label>
                                <input matInput [value]="item.action" readonly="true">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>STATUS</mat-label>
                                <input matInput [value]="item.status" readonly="true">
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>REASON</mat-label>
                                <input matInput [value]="item.statusReason || ''" readonly="true">
                            </mat-form-field>
                        </div>
    
                    }
                </div>
            </mat-tab>

            <mat-tab label="RELATIONSHIPS">

                <div echarts [options]="chartOption" class="relationships-chart" (chartDblClick)="onSelect($event)"></div>

            </mat-tab>
            }
            <mat-tab label="RAW DATA">
                <textarea style="margin: 20px;width: calc(100vw - 50px);height: calc(100vh - 200px);resize: none;">{{getJson(row)}}</textarea>
            </mat-tab>
        </mat-tab-group>
        }
        @else {
        <div>Not found</div>
        }
    </div>
</div>