<div class="grid-setting policy-properties" [attr.readonly]="readonly">
  <div class="table">
    <div class="table-body" #body>
      <table class="properties">
  <colgroup><col class="col-toggle"><col class="col-name"><col class="col-value"></colgroup>
        @if (type == 'Main') {
          <tr class="propHeader" (click)="onHide(propHidden, 'metaData')">
            <td class="propRowCol"></td>
            <td class="propHeaderCell cellName main-section-cell" [attr.collapse]="propHidden.metaData">
              <i class="pi pi-chevron-down chevron-icon"></i>
              <span>Policy</span>
            </td>
            <td class="propHeaderCell"></td>
          </tr>
          <tr class="propRow" [attr.collapse]="propHidden.metaData">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">ID</td>
            <td class="propRowCell">
              <span class="readonly-prop">{{ policy.id }}</span>
            </td>
          </tr>
          <tr class="propRow" [attr.collapse]="propHidden.metaData">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Status</td>
            <td class="propRowCell">
              <span class="readonly-prop">{{ policy.status }}</span>
            </td>
          </tr>
          <tr class="propRow" [attr.collapse]="propHidden.metaData">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Name</td>
            <td class="propRowCell">
              <input class="prop-input" [(ngModel)]="policy.name" [readonly]="readonly">
            </td>
          </tr>
          <tr class="propRow" [attr.collapse]="propHidden.metaData">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Policy Tag</td>
            <td class="propRowCell">
              <input class="prop-input" [(ngModel)]="policy.policyTag" [readonly]="readonly">
            </td>
          </tr>
          <tr class="propRow" [attr.collapse]="propHidden.metaData">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Previous Version</td>
            <td class="propRowCell">
              <input class="prop-input" [ngModel]="policy.previousVersion" readonly>
            </td>
          </tr>
          <tr class="propRow" [attr.collapse]="propHidden.metaData">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Version</td>
            <td class="propRowCell">
              <input class="prop-input" [ngModel]="policy.version" readonly>
            </td>
          </tr>
          <tr class="propRow topic-description-row" [attr.collapse]="propHidden.metaData">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Topic Description</td>
            <td class="propRowCell">
              <input class="prop-input" [(ngModel)]="policy.topicDescription" [readonly]="readonly"
                maxlength="50">
            </td>
          </tr>
          <tr class="propRow" [attr.collapse]="propHidden.metaData">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Description</td>
            <td class="propRowCell">
              <textarea [(ngModel)]="policy.description" [readonly]="readonly"></textarea>
            </td>
          </tr>
          <tr [attr.collapse]="propHidden.metaData" class="propRow">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Project Schema</td>
            <td class="propRowCell">
              <p-select
                [(ngModel)]="projectSchema"
                [options]="policySchemas"
                optionLabel="name"
                optionValue="value"
                [disabled]="!policySchemas"
                placeholder="Select a schema"
                (onChange)="setProjectSchema($event.value)"
                [appendTo]="'body'"
                >
              </p-select>
            </td>
          </tr>
          <tr class="propHeader" (click)="onHide(propHidden, 'categorization')">
            <td class="propRowCol"></td>
            <td class="propHeaderCell cellName main-section-cell" [attr.collapse]="propHidden.categorization">
              <i class="pi pi-chevron-down chevron-icon"></i>
              <span>Categorization</span>
            </td>
            <td class="propHeaderCell"></td>
          </tr>
          <tr [attr.collapse]="propHidden.categorization" class="propRow">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Sectoral scope</td>
            <td class="propRowCell">
              <p-select
                [(ngModel)]="sectoralScopeSelected"
                [options]="allCategories.sectoralScopeOptions"
                optionLabel="name"
                (onChange)="onCategoriesChanged()"
                [disabled]="!allCategories"
                [appendTo]="'body'"
                placeholder="Select a sectoral scope"
                >
                <ng-template pTemplate="selectedItem" let-selectedItem>
                  @if (selectedItem) {
                    <span>
                      {{ selectedItem.name }}
                    </span>
                  }
                  @if (!selectedItem) {
                    <span>Select a sectoral scope</span>
                  }
                </ng-template>
              </p-select>
            </td>
          </tr>
          <tr [attr.collapse]="propHidden.categorization" class="propRow">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Project Scale</td>
            <td class="propRowCell">
              <p-select
                [(ngModel)]="projectScaleSelected"
                [options]="allCategories?.projectScaleOptions"
                optionLabel="name"
                [disabled]="!allCategories"
                placeholder="Select a project scale"
                (onChange)="onCategoriesChanged()"
                [appendTo]="'body'"
                >
                <ng-template pTemplate="selectedItem" let-selectedItem>
                  @if (selectedItem) {
                    <span>
                      {{ selectedItem.name }}
                    </span>
                  }
                  @if (!selectedItem) {
                    <span>Select a project scale</span>
                  }
                </ng-template>
              </p-select>
            </td>
          </tr>
          <tr [attr.collapse]="propHidden.categorization" class="propRow">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Applied Technology Type</td>
            <td class="propRowCell">
              <p-select
                [(ngModel)]="appliedTechnologyTypeSelected"
                [options]="allCategories?.appliedTechnologyTypeOptions"
                optionLabel="name"
                [disabled]="!allCategories"
                placeholder="Select a technology type"
                [appendTo]="'body'"
                >
                <ng-template pTemplate="selectedItem" let-selectedItem>
                  @if (selectedItem) {
                    <span>
                      {{ selectedItem.name }}
                    </span>
                  }
                  @if (!selectedItem) {
                    <span>Select a technology type</span>
                  }
                </ng-template>
              </p-select>
            </td>
          </tr>
          <tr [attr.collapse]="propHidden.categorization" class="propRow">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Mitigation Activity Type</td>
            <td class="propRowCell">
              <p-multiSelect
                [(ngModel)]="migrationActivityTypeSelected"
                [options]="allCategories?.migrationActivityTypeOptions"
                optionLabel="name"
                [disabled]="!allCategories"
                placeholder="Select migration activity types"
                [appendTo]="'body'"
                (onChange)="onCategoriesChanged()"
                >
              </p-multiSelect>
            </td>
          </tr>
          <tr [attr.collapse]="propHidden.categorization" class="propRow">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Sub Type</td>
            <td class="propRowCell">
              <p-multiSelect
                [(ngModel)]="subTypeSelected"
                [options]="allCategories?.subTypeOptions"
                optionLabel="name"
                [disabled]="!allCategories"
                placeholder="Select sub types"
                [appendTo]="'body'"
                (onChange)="onCategoriesChanged()"
                >
              </p-multiSelect>
            </td>
          </tr>
        }

        @if (type == 'Role') {
          <!-- Roles  -->
          <tr class="propHeader roles-header">
            <td class="propRowCol"></td>
            <td class="propHeaderCell cellName" (click)="onHide(propHidden, 'rolesGroup')"
              [attr.collapse]="propHidden.rolesGroup">
              @if (policy.policyRoles && policy.policyRoles.length) {
                <i class="pi pi-chevron-down chevron-icon"></i>
              }
              <span>Roles</span>
            </td>
            <td class="propHeaderCell">
              <div class="propAdd" (click)="addRoles()">
                <i class="pi pi-plus toolbar-icons"></i>
                <span>Add Role</span>
              </div>
            </td>
          </tr>
          @for (item of roles; track item; let i = $index) {
            <tr class="propRow subRow role-row" [attr.collapse]="propHidden.rolesGroup">
              <td class="propRowCol"></td>
              <td class="propRowCell cellName">Role {{ i }}</td>
              <td class="propRowCell remove-cell">
                <input class="prop-input" [(ngModel)]="item.name" [readonly]="readonly"
                  (input)="onEditRole(item)">
                <span class="remove-prop" [attr.readonly]="readonly" (click)="onRemoveRole(item)">
                  <i class="pi pi-trash"></i>
                </span>
              </td>
            </tr>
          }
        }
        @if (type == 'Navigation') {
          <!-- Navigation  -->
          @for (role of navigationRoles; track role; let i = $index) {
            <ng-container class="213">
              <div class="navigation">
                <tr class="propHeader">
                  <td class="propRowCol"></td>
                  <td (click)="onHide(propHidden.navigationRoles, role)"
                    [attr.collapse]="propHidden.navigationRoles[role]"
                    class="propHeaderCell cellName">
                    @if (policy.policyRoles && policy.policyRoles.length) {
                      <i class="pi pi-chevron-down chevron-icon"></i>
                    }
                    <span>{{ role }}</span>
                  </td>
                  <td class="propHeaderCell">
                    @if (true) {
                      <div (click)="addStep(role)" class="propAdd">
                        <i class="pi pi-plus toolbar-icons"></i>
                        <span>Add Step</span>
                      </div>
                    }
                  </td>
                </tr>
                @for (nav of navigation; track nav) {
                  @if (nav.role === role) {
                    @for (step of nav.steps; track step; let s = $index) {
                      @if (!propHidden.navigationRoles[role]) {
                        <tr class="propHeader subRow stepRow">
                          <td class="propRowCol"></td>
                          <td (click)="onHide(propHidden.navigationSteps, role + s)"
                            [attr.collapse]="propHidden.navigationRoles[role] || propHidden.navigationSteps[role + s]"
                            class="propHeaderCell cellName">
                            @if (policy.policyRoles && policy.policyRoles.length) {
                              <i class="pi pi-chevron-down chevron-icon"></i>
                            }
                            <span>{{ step.name || ('Step #' + (s + 1)) }}</span>
                          </td>
                          <td class="propHeaderCell step-actions">
                            <span (click)="onRemoveStep(role, step)" [attr.readonly]="readonly"
                              class="remove-step">
                              <i class="pi pi-trash"></i>
                            </span>
                          </td>
                        </tr>
                      }
                      <tr [attr.collapse]="propHidden.navigationRoles[role] || propHidden.navigationSteps[role + s]"
                        class="propRow subRow">
                        <td class="propRowCol"></td>
                        <td class="propRowCell cellName">Name</td>
                        <td class="propRowCell">
                          <input (input)="onEditStep(step)" [(ngModel)]="step.name"
                            [readonly]="readonly"
                            class="prop-input">
                        </td>
                      </tr>
                      <tr [attr.collapse]="propHidden.navigationRoles[role] || propHidden.navigationSteps[role + s]"
                        class="propRow subRow">
                        <td class="propRowCol"></td>
                        <td class="propRowCell cellName">Block</td>
                        <td class="propRowCell">
                          <select-block
                            (change)="onEditStep(step)"
                            [(value)]="step.block"
                            [blocks]="policy.allBlocks"
                            [readonly]="readonly"
                            [root]="policy"
                            type="object"
                          ></select-block>
                        </td>
                      </tr>
                      <tr [attr.collapse]="propHidden.navigationRoles[role] || propHidden.navigationSteps[role + s]"
                        class="propRow subRow">
                        <td class="propRowCol"></td>
                        <td class="propRowCell cellName">Level</td>
                        <td class="propRowCell">
                          <input (input)="onEditStep(step)" [(ngModel)]="step.level"
                            [readonly]="readonly"
                            class="prop-input" type="number">
                        </td>
                      </tr>
                      <tr [attr.collapse]="propHidden.navigationRoles[role] || propHidden.navigationSteps[role + s]"
                        class="propRow subRow">
                        <td class="propRowCol"></td>
                        <td class="propRowCell cellName">
                          <div (click)="addStep(role, s + 1)" class="propAdd">
                            <i class="pi pi-plus"></i>
                            <span>Add Step</span>
                          </div>
                        </td>
                        <td class="propRowCell">
                        </td>
                      </tr>
                    }
                  }
                }
              </div>
            </ng-container>
          }
        }
        @if (type == 'Groups') {
          @for (item of policyGroups; track item; let i = $index) {
            <tr class="propHeader groups-header">
              <td class="propRowCol"></td>
              <td class="propHeaderCell cellName" (click)="onHide(propHidden.groupsGroup, i)"
                [attr.collapse]="propHidden.groupsGroup[i]">
                <i class="pi pi-chevron-down chevron-icon"></i>
                <span>Group</span>
              </td>
              <td class="propHeaderCell group-actions">
                <span class="group-name">{{ item.name }}</span>
                <span class="remove-prop" [attr.readonly]="readonly" (click)="onRemoveGroup(item)">
                  <i class="pi pi-trash"></i>
                </span>
              </td>
            </tr>
            <tr class="propRow subRow group-row" [attr.collapse]="propHidden.groupsGroup[i]">
              <td class="propRowCol"></td>
              <td class="propRowCell cellName">Name</td>
              <td class="propRowCell">
                <input class="prop-input" [(ngModel)]="item.name" [readonly]="readonly"
                  (input)="onEditGroup(item)">
              </td>
            </tr>
            <tr class="propRow subRow group-row" [attr.collapse]="propHidden.groupsGroup[i]">
              <td class="propRowCol"></td>
              <td class="propRowCell cellName">Creator role</td>
              <td class="propRowCell">
                <p-select
                  [(ngModel)]="item.creator"
                  [options]="policy && policy.policyRoles"
                  optionLabel="name"
                  optionValue="name"
                  [disabled]="readonly"
                  (onChange)="onEditGroup(item)"
                  [appendTo]="'body'"
                  >
                </p-select>
              </td>
            </tr>
            <tr class="propRow subRow group-row" [attr.collapse]="propHidden.groupsGroup[i]">
              <td class="propRowCol"></td>
              <td class="propRowCell cellName">Members roles</td>
              <td class="propRowCell">
                <p-multiSelect
                  [(ngModel)]="item.members"
                  [options]="policy && policy.policyRoles"
                  optionLabel="name"
                  optionValue="name"
                  [disabled]="readonly"
                  (onChange)="onEditGroup(item)"
                  [appendTo]="'body'"
                  >
                </p-multiSelect>
              </td>
            </tr>
            <tr class="propRow subRow group-row" [attr.collapse]="propHidden.groupsGroup[i]">
              <td class="propRowCol"></td>
              <td class="propRowCell cellName">Relationship Type</td>
              <td class="propRowCell">
                <p-select
                  [(ngModel)]="item.groupRelationshipType"
                  [options]="groupRelationshipTypeOptions"
                  optionLabel="label"
                  optionValue="value"
                  [disabled]="readonly"
                  placeholder="Select relationship type"
                  (onChange)="onEditGroup(item)"
                  [appendTo]="'body'"
                  >
                </p-select>
              </td>
            </tr>
            <tr class="propRow subRow group-row" [attr.collapse]="propHidden.groupsGroup[i]">
              <td class="propRowCol"></td>
              <td class="propRowCell cellName">Access Type</td>
              <td class="propRowCell">
                <p-select
                  [(ngModel)]="item.groupAccessType"
                  [options]="groupAccessTypeOptions"
                  optionLabel="label"
                  optionValue="value"
                  [disabled]="readonly"
                  placeholder="Select access type"
                  (onChange)="onEditGroup(item)"
                  [appendTo]="'body'"
                  >
                </p-select>
              </td>
            </tr>
          }
          <tr class="propRow group-add-row">
            <td class="propRowCol"></td>
            <td class="propRowCell group-add-cell" colspan="2">
              <div class="propAdd groups-add" (click)="addGroup()">
                <i class="pi pi-plus"></i>
                <span>Add Group</span>
              </div>
            </td>
          </tr>
        }
        @if (type == 'Topics') {
          <!-- Topics  -->
          @for (item of topics; track item; let i = $index) {
            <tr class="propHeader">
              <td class="propRowCol cellCollapse" (click)="onHide(propHidden.topicsGroup, i)"
                [attr.collapse]="propHidden.topicsGroup[i]">
                <i class="pi pi-caret-down"></i>
              </td>
              <td class="propHeaderCell cellName">Topic</td>
              <td class="propHeaderCell">
                <div>{{ item.name }}</div>
                <span class="remove-prop" [attr.readonly]="readonly" (click)="onRemoveTopic(item)">
                  <i class="pi pi-trash"></i>
                </span>
              </td>
            </tr>
            <tr class="propRow subRow" [attr.collapse]="propHidden.topicsGroup[i]">
              <td class="propRowCol"></td>
              <td class="propRowCell cellName">Name</td>
              <td class="propRowCell">
                <input class="prop-input" [(ngModel)]="item.name" [readonly]="readonly">
              </td>
            </tr>
            <tr class="propRow subRow" [attr.collapse]="propHidden.topicsGroup[i]">
              <td class="propRowCol"></td>
              <td class="propRowCell cellName">Description</td>
              <td class="propRowCell">
                <input class="prop-input" [(ngModel)]="item.description" [readonly]="readonly">
              </td>
            </tr>
            <tr class="propRow subRow" [attr.collapse]="propHidden.topicsGroup[i]">
              <td class="propRowCol"></td>
              <td class="propRowCell cellName">Type</td>
              <td class="propRowCell">
                <p-select
                  [(ngModel)]="item.type"
                  [options]="groupDocumentOptions"
                  optionLabel="label"
                  optionValue="value"
                  [disabled]="readonly"
                  placeholder="Select type"
                  [appendTo]="'body'"
                  >
                </p-select>
              </td>
            </tr>
            <tr class="propRow subRow" [attr.collapse]="propHidden.topicsGroup[i]">
              <td class="propRowCol"></td>
              <td class="propRowCell cellName">Static</td>
              <td class="propRowCell">
                <p-toggleswitch
                  [(ngModel)]="item.static"
                  [disabled]="readonly">
                </p-toggleswitch>
              </td>
            </tr>
            <tr class="propRow subRow" [attr.collapse]="propHidden.topicsGroup[i]">
              <td class="propRowCol"></td>
              <td class="propRowCell cellName">Memo Parameters Object</td>
              <td class="propRowCell">
                <p-select
                  [(ngModel)]="item.memoObj"
                  [options]="memoObjOptions"
                  optionLabel="label"
                  optionValue="value"
                  [disabled]="readonly"
                  placeholder="Select memo object"
                  [appendTo]="'body'"
                  >
                </p-select>
              </td>
            </tr>
            <tr class="propRow subRow" [attr.collapse]="propHidden.topicsGroup[i]">
              <td class="propRowCol"></td>
              <td class="propRowCell cellName">Memo</td>
              <td class="propRowCell">
                <input class="prop-input" [(ngModel)]="item.memo" [readonly]="readonly">
              </td>
            </tr>
          }
          <tr class="propRow propRowBottom">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName"></td>
            <td class="propRowCell"></td>
          </tr>
          <div class="propBottom">
            <div class="propAdd" (click)="addTopic()">
              <i class="pi pi-plus"></i>
              <span>Add Topic</span>
            </div>
          </div>
        }
        @if (type == 'Tokens') {
          <!-- Tokens  -->
          @for (item of tokens; track item; let i = $index) {
            <tr class="propHeader">
              <td class="propRowCol cellCollapse" (click)="onHide(propHidden.tokensGroup, i)"
                [attr.collapse]="propHidden.tokensGroup[i]">
                <i class="pi pi-caret-down"></i>
              </td>
              <td class="propHeaderCell cellName">Token</td>
              <td class="propHeaderCell">
                <div>{{ item.templateTokenTag }}</div>
                <span class="remove-prop" [attr.readonly]="readonly" (click)="onRemoveToken(item)">
                  <i class="pi pi-trash"></i>
                </span>
              </td>
            </tr>
            <tr class="propRow subRow" [attr.collapse]="propHidden.tokensGroup[i]">
              <td class="propRowCol"></td>
              <td class="propRowCell cellName">Template Token Tag</td>
              <td class="propRowCell">
                <input class="prop-input" [(ngModel)]="item.templateTokenTag" [readonly]="readonly">
              </td>
            </tr>
            <tr class="propRow subRow" [attr.collapse]="propHidden.tokensGroup[i]">
              <td class="propRowCol"></td>
              <td class="propRowCell cellName">Token Name</td>
              <td class="propRowCell">
                <input placeholder="To be specified by user" class="prop-input"
                  [(ngModel)]="item.tokenName" [readonly]="readonly">
              </td>
            </tr>
            <tr class="propRow subRow" [attr.collapse]="propHidden.tokensGroup[i]">
              <td class="propRowCol"></td>
              <td class="propRowCell cellName">Token Symbol</td>
              <td class="propRowCell">
                <input placeholder="To be specified by user" class="prop-input"
                  [(ngModel)]="item.tokenSymbol" [readonly]="readonly">
              </td>
            </tr>
            <tr class="propRow subRow" [attr.collapse]="propHidden.tokensGroup[i]">
              <td class="propRowCol"></td>
              <td class="propRowCell cellName">Token Type</td>
              <td class="propRowCell">
                <p-select
                  placeholder="To be specified by user"
                  [(ngModel)]="item.tokenType"
                  [options]="tokenTypeOptions"
                  optionLabel="label"
                  optionValue="value"
                  [disabled]="readonly"
                  (onChange)="onTokenTypeChange(item)"
                  [appendTo]="'body'"
                  >
                </p-select>
              </td>
            </tr>
            @if (item.tokenType==='fungible') {
              <tr class="propRow subRow"
                [attr.collapse]="propHidden.tokensGroup[i]">
                <td class="propRowCol"></td>
                <td class="propRowCell cellName">Decimals</td>
                <td class="propRowCell">
                  <input placeholder="To be specified by user" type="number" class="prop-input"
                    [(ngModel)]="item.decimals" [readonly]="readonly">
                </td>
              </tr>
            }
            <tr class="propRow subRow" [attr.collapse]="propHidden.tokensGroup[i]">
              <td class="propRowCol"></td>
              <td class="propRowCell cellName">Enable Admin</td>
              <td class="propRowCell">
                <p-select
                  placeholder="To be specified by user"
                  [(ngModel)]="item.enableAdmin"
                  [options]="enableAdminOptions"
                  optionLabel="label"
                  optionValue="value"
                  [disabled]="readonly"
                  [appendTo]="'body'"
                  >
                </p-select>
              </td>
            </tr>
            <tr class="propRow subRow" [attr.collapse]="propHidden.tokensGroup[i]">
              <td class="propRowCol"></td>
              <td class="propRowCell cellName">Enable Freeze</td>
              <td class="propRowCell">
                <p-select
                  placeholder="To be specified by user"
                  [(ngModel)]="item.enableFreeze"
                  [options]="enableFreezeOptions"
                  optionLabel="label"
                  optionValue="value"
                  [disabled]="readonly"
                  [appendTo]="'body'"
                  >
                </p-select>
              </td>
            </tr>
            <tr class="propRow subRow" [attr.collapse]="propHidden.tokensGroup[i]">
              <td class="propRowCol"></td>
              <td class="propRowCell cellName">Enable KYC</td>
              <td class="propRowCell">
                <p-select
                  placeholder="To be specified by user"
                  [(ngModel)]="item.enableKYC"
                  [options]="enableKYCOptions"
                  optionLabel="label"
                  optionValue="value"
                  [disabled]="readonly"
                  [appendTo]="'body'"
                  >
                </p-select>
              </td>
            </tr>
            <tr class="propRow subRow" [attr.collapse]="propHidden.tokensGroup[i]">
              <td class="propRowCol"></td>
              <td class="propRowCell cellName">Enable Wipe</td>
              <td class="propRowCell">
                <p-select
                  placeholder="To be specified by user"
                  [(ngModel)]="item.enableWipe"
                  [options]="enableWipeOptions"
                  optionLabel="label"
                  optionValue="value"
                  [disabled]="readonly"
                  (onChange)="onEnableWipeChange(item)"
                  [appendTo]="'body'"
                  >
                </p-select>
              </td>
            </tr>
            @if (item.enableWipe) {
              <tr class="propRow subRow" [attr.collapse]="propHidden.tokensGroup[i]">
                <td class="propRowCol"></td>
                <td class="propRowCell cellName">Wipe Contract</td>
                <td class="propRowCell">
                  <p-select
                    placeholder="To be specified by user"
                    [(ngModel)]="item.wipeContractId"
                    [options]="getWipeContractOptions()"
                    optionLabel="label"
                    optionValue="value"
                    [disabled]="readonly"
                    [appendTo]="'body'"
                    >
                  </p-select>
                </td>
              </tr>
            }
          }
          <tr class="propRow propRowBottom">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName"></td>
            <td class="propRowCell"></td>
          </tr>
          <div class="propBottom">
            <div class="propAdd" (click)="addToken()">
              <i class="pi pi-plus"></i>
              <span>Add Token</span>
            </div>
          </div>
        }
      </table>
    </div>
  </div>
</div>
