.cellDivider {
    padding: 8px;
}

/* .policy-properties {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding-bottom: 16px;
}

input[readonly] {
    border-color: transparent;
    background: transparent;
}

textarea[readonly] {
    border-color: transparent;
    background: transparent;
}

.readonly-prop {
    padding-left: 4px;
}

.propRowCell {
    position: relative;
}

.remove-cell input {
    width: 300px;
}

.remove-prop {
    position: absolute;
    top: 2px;
    right: 0;
    color: #f00;
    cursor: pointer;
}

.remove-prop mat-icon {
    font-size: 20px;
}

.remove-prop[readonly="true"] {
    display: none;
} */

::ng-deep p-dropdown .p-dropdown,
::ng-deep p-multiselect .p-multiselect {
    width: 100% !important;
}

::ng-deep input {
    height: 38px !important;
    font-size: 1rem !important;
    color: var(--color-grey-6);
    font-family: 'Roboto', sans-serif;
}

::ng-deep .policy-configuration .tab-header {
    display: inline-block !important
}
