<div class="grid-setting policy-properties" [attr.readonly]="readonly">
    <div class="table">
        <div class="table-body" #body>
            <table class="properties">
                <ng-container *ngIf="type == 'Main'">
                    <tr class="propHeader">
                        <td class="propRowCol cellCollapse" (click)="onHide(propHidden, 'metaData')"
                            [attr.collapse]="propHidden.metaData">
                            <i class="pi pi-caret-down"></i>
                        </td>
                        <td class="propHeaderCell cellName">Policy</td>
                        <td class="propHeaderCell"></td>
                    </tr>
                    <tr class="propRow" [attr.collapse]="propHidden.metaData">
                        <td class="propRowCol"></td>
                        <td class="propRowCell cellName">ID</td>
                        <td class="propRowCell">
                            <span class="readonly-prop">{{ policy.id }}</span>
                        </td>
                    </tr>
                    <tr class="propRow" [attr.collapse]="propHidden.metaData">
                        <td class="propRowCol"></td>
                        <td class="propRowCell cellName">Status</td>
                        <td class="propRowCell">
                            <span class="readonly-prop">{{ policy.status }}</span>
                        </td>
                    </tr>
                    <tr class="propRow" [attr.collapse]="propHidden.metaData">
                        <td class="propRowCol"></td>
                        <td class="propRowCell cellName">Name</td>
                        <td class="propRowCell">
                            <input class="prop-input" [(ngModel)]="policy.name" [readonly]="readonly">
                        </td>
                    </tr>
                    <tr class="propRow" [attr.collapse]="propHidden.metaData">
                        <td class="propRowCol"></td>
                        <td class="propRowCell cellName">Policy Tag</td>
                        <td class="propRowCell">
                            <input class="prop-input" [(ngModel)]="policy.policyTag" [readonly]="readonly">
                        </td>
                    </tr>
                    <tr class="propRow" [attr.collapse]="propHidden.metaData">
                        <td class="propRowCol"></td>
                        <td class="propRowCell cellName">Previous Version</td>
                        <td class="propRowCell">
                            <input class="prop-input" [ngModel]="policy.previousVersion" readonly>
                        </td>
                    </tr>
                    <tr class="propRow" [attr.collapse]="propHidden.metaData">
                        <td class="propRowCol"></td>
                        <td class="propRowCell cellName">Version</td>
                        <td class="propRowCell">
                            <input class="prop-input" [ngModel]="policy.version" readonly>
                        </td>
                    </tr>
                    <tr class="propRow" [attr.collapse]="propHidden.metaData">
                        <td class="propRowCol"></td>
                        <td class="propRowCell cellName">Topic Description</td>
                        <td class="propRowCell">
                            <input class="prop-input" [(ngModel)]="policy.topicDescription" [readonly]="readonly"
                                   maxlength="50">
                        </td>
                    </tr>
                    <tr class="propRow" [attr.collapse]="propHidden.metaData">
                        <td class="propRowCol"></td>
                        <td class="propRowCell cellName">Description</td>
                        <td class="propRowCell">
                            <textarea [(ngModel)]="policy.description" [readonly]="readonly"></textarea>
                        </td>
                    </tr>
                    <tr [attr.collapse]="propHidden.metaData" class="propRow">
                        <td class="propRowCol"></td>
                        <td class="propRowCell cellName">Project Schema</td>
                        <td class="propRowCell">
                            <p-dropdown
                                [(ngModel)]="projectSchema"
                                [options]="policySchemas"
                                optionLabel="name"
                                optionValue="value"
                                [disabled]="!policySchemas"
                                placeholder="Select a schema"
                                (onChange)="setProjectSchema($event.value)"
                                [appendTo]="'body'"
                            >
                            </p-dropdown>
                        </td>
                    </tr>

                    <tr class="propHeader">
                        <td class="propRowCol cellCollapse" (click)="onHide(propHidden, 'categorization')"
                            [attr.collapse]="propHidden.categorization">
                            <i class="pi ppi-caret-down"></i>
                        </td>
                        <td class="propHeaderCell cellName">Categorization</td>
                        <td class="propHeaderCell"></td>
                    </tr>

                    <tr [attr.collapse]="propHidden.categorization" class="propRow">
                        <td class="propRowCol"></td>
                        <td class="propRowCell cellName">Sectoral scope</td>
                        <td class="propRowCell">
                            <p-dropdown
                                [(ngModel)]="sectoralScopeSelected"
                                [options]="allCategories.sectoralScopeOptions"
                                optionLabel="name"
                                (onChange)="onCategoriesChanged()"
                                [disabled]="!allCategories"
                                [appendTo]="'body'"
                                placeholder="Select a sectoral scope"
                            >

                                <ng-template pTemplate="selectedItem" let-selectedItem>
                                    <span *ngIf="selectedItem">
                                        {{ selectedItem.name }}
                                    </span>
                                    <span *ngIf="!selectedItem">Select a sectoral scope</span>
                                </ng-template>
                            </p-dropdown>
                        </td>
                    </tr>
                    <tr [attr.collapse]="propHidden.categorization" class="propRow">
                        <td class="propRowCol"></td>
                        <td class="propRowCell cellName">Project Scale</td>
                        <td class="propRowCell">
                            <p-dropdown
                                [(ngModel)]="projectScaleSelected"
                                [options]="allCategories?.projectScaleOptions"
                                optionLabel="name"
                                [disabled]="!allCategories"
                                placeholder="Select a project scale"
                                (onChange)="onCategoriesChanged()"
                                [appendTo]="'body'"
                            >

                                <ng-template pTemplate="selectedItem" let-selectedItem>
                                    <span *ngIf="selectedItem">
                                        {{ selectedItem.name }}
                                    </span>
                                    <span *ngIf="!selectedItem">Select a project scale</span>
                                </ng-template>
                            </p-dropdown>
                        </td>
                    </tr>
                    <tr [attr.collapse]="propHidden.categorization" class="propRow">
                        <td class="propRowCol"></td>
                        <td class="propRowCell cellName">Applied Technology Type</td>
                        <td class="propRowCell">
                            <p-dropdown
                                [(ngModel)]="appliedTechnologyTypeSelected"
                                [options]="allCategories?.appliedTechnologyTypeOptions"
                                optionLabel="name"
                                [disabled]="!allCategories"
                                placeholder="Select a technology type"
                                [appendTo]="'body'"
                            >

                                <ng-template pTemplate="selectedItem" let-selectedItem>
                                    <span *ngIf="selectedItem">
                                        {{ selectedItem.name }}
                                    </span>
                                    <span *ngIf="!selectedItem">Select a technology type</span>
                                </ng-template>
                            </p-dropdown>
                        </td>
                    </tr>
                    <tr [attr.collapse]="propHidden.categorization" class="propRow">
                        <td class="propRowCol"></td>
                        <td class="propRowCell cellName">Mitigation Activity Type</td>
                        <td class="propRowCell">
                            <p-multiSelect
                                [(ngModel)]="migrationActivityTypeSelected"
                                [options]="allCategories?.migrationActivityTypeOptions"
                                optionLabel="name"
                                [disabled]="!allCategories"
                                placeholder="Select migration activity types"
                                [appendTo]="'body'"
                                (onChange)="onCategoriesChanged()"
                            >
                            </p-multiSelect>
                        </td>
                    </tr>
                    <tr [attr.collapse]="propHidden.categorization" class="propRow">
                        <td class="propRowCol"></td>
                        <td class="propRowCell cellName">Sub Type</td>
                        <td class="propRowCell">
                            <p-multiSelect
                                [(ngModel)]="subTypeSelected"
                                [options]="allCategories?.subTypeOptions"
                                optionLabel="name"
                                [disabled]="!allCategories"
                                placeholder="Select sub types"
                                [appendTo]="'body'"
                                (onChange)="onCategoriesChanged()"
                            >
                            </p-multiSelect>
                        </td>
                    </tr>
                </ng-container>

                <ng-container *ngIf="type == 'Role'">
                    <!-- Roles  -->
                    <tr class="propHeader">
                        <td class="propRowCol cellCollapse" (click)="onHide(propHidden, 'rolesGroup')"
                            [attr.collapse]="propHidden.rolesGroup">
                            <i *ngIf="policy.policyRoles && policy.policyRoles.length" class="pi pi-caret-down"></i>
                        </td>
                        <td class="propHeaderCell cellName">Roles</td>
                        <td class="propHeaderCell">
                            <div class="propAdd" (click)="addRoles()">
                                <i class="pi pi-plus toolbar-icons"></i>
                                <span>Add Role</span>
                            </div>
                        </td>
                    </tr>
                    <ng-container *ngFor="let item of roles; let i=index">
                        <tr class="propRow subRow" [attr.collapse]="propHidden.rolesGroup">
                            <td class="propRowCol"></td>
                            <td class="propRowCell cellName">Role {{ i }}</td>
                            <td class="propRowCell remove-cell">
                                <input class="prop-input" [(ngModel)]="item.name" [readonly]="readonly"
                                       (input)="onEditRole(item)">
                                <span class="remove-prop" [attr.readonly]="readonly" (click)="onRemoveRole(item)">
                                    <i class="pi pi-trash"></i>
                                </span>
                            </td>
                        </tr>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="type == 'Navigation'">
                    <!-- Navigation  -->
                    <ng-container *ngFor="let role of navigationRoles; let i=index" class="213">
                        <div class="navigation">
                            <tr class="propHeader">
                                <td (click)="onHide(propHidden.navigationRoles, role)"
                                    [attr.collapse]="propHidden.navigationRoles[role]"
                                    class="propRowCol cellCollapse">
                                    <i *ngIf="policy.policyRoles && policy.policyRoles.length"
                                       class="pi pi-caret-down"></i>
                                </td>
                                <td class="propHeaderCell cellName">{{ role }}</td>
                                <td class="propHeaderCell">
                                    <div (click)="addStep(role)" *ngIf="true" class="propAdd">
                                        <i class="pi pi-plus toolbar-icons"></i>
                                        <span>Add Step</span>
                                    </div>
                                </td>
                            </tr>
                            <ng-container *ngFor="let nav of navigation">
                                <ng-container *ngIf="nav.role === role">
                                    <ng-container *ngFor="let step of nav.steps; let s=index">
                                        <tr *ngIf="!propHidden.navigationRoles[role]" class="propHeader subRow stepRow">
                                            <td (click)="onHide(propHidden.navigationSteps, role + s)"
                                                [attr.collapse]="propHidden.navigationRoles[role] || propHidden.navigationSteps[role + s]"
                                                class="propRowCol cellCollapse">
                                                <i *ngIf="policy.policyRoles && policy.policyRoles.length"
                                                   class="pi pi-caret-down"></i>
                                            </td>
                                            <td class="propHeaderCell cellName">{{ step.name || ('Step #' + (s + 1)) }}</td>
                                            <td class="propHeaderCell cellName">
                                                <span (click)="onRemoveStep(role, step)" [attr.readonly]="readonly"
                                                      class="remove-step">
                                                    <i class="pi pi-trash"></i>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr [attr.collapse]="propHidden.navigationRoles[role] || propHidden.navigationSteps[role + s]"
                                            class="propRow subRow">
                                            <td class="propRowCol"></td>
                                            <td class="propRowCell cellName">Name</td>
                                            <td class="propRowCell">
                                                <input (input)="onEditStep(step)" [(ngModel)]="step.name"
                                                       [readonly]="readonly"
                                                       class="prop-input">
                                            </td>
                                        </tr>
                                        <tr [attr.collapse]="propHidden.navigationRoles[role] || propHidden.navigationSteps[role + s]"
                                            class="propRow subRow">
                                            <td class="propRowCol"></td>
                                            <td class="propRowCell cellName">Block</td>
                                            <td class="propRowCell">
                                                <select-block
                                                    (change)="onEditStep(step)"
                                                    [(value)]="step.block"
                                                    [blocks]="policy.allBlocks"
                                                    [readonly]="readonly"
                                                    [root]="policy"
                                                    type="object"
                                                ></select-block>
                                            </td>
                                        </tr>
                                        <tr [attr.collapse]="propHidden.navigationRoles[role] || propHidden.navigationSteps[role + s]"
                                            class="propRow subRow">
                                            <td class="propRowCol"></td>
                                            <td class="propRowCell cellName">Level</td>
                                            <td class="propRowCell">
                                                <input (input)="onEditStep(step)" [(ngModel)]="step.level"
                                                       [readonly]="readonly"
                                                       class="prop-input" type="number">
                                            </td>
                                        </tr>
                                        <tr [attr.collapse]="propHidden.navigationRoles[role] || propHidden.navigationSteps[role + s]"
                                            class="propRow subRow">
                                            <td class="propRowCol"></td>
                                            <td class="propRowCell cellName">
                                                <div (click)="addStep(role, s + 1)" class="propAdd">
                                                    <i class="pi pi-plus"></i>
                                                    <span>Add Step</span>
                                                </div>
                                            </td>
                                            <td class="propRowCell">
                                            </td>
                                        </tr>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </div>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="type == 'Groups'">
                    <ng-container *ngFor="let item of policyGroups; let i=index">
                        <tr class="propHeader">
                            <td class="propRowCol cellCollapse" (click)="onHide(propHidden.groupsGroup, i)"
                                [attr.collapse]="propHidden.groupsGroup[i]">
                                <i class="pi pi-caret-down"></i>
                            </td>
                            <td class="propHeaderCell cellName">Group</td>
                            <td class="propHeaderCell">
                                <div>{{ item.name }}</div>
                                <span class="remove-prop" [attr.readonly]="readonly" (click)="onRemoveGroup(item)">
                                    <i class="pi pi-trash"></i>
                                </span>
                            </td>
                        </tr>
                        <tr class="propRow subRow" [attr.collapse]="propHidden.groupsGroup[i]">
                            <td class="propRowCol"></td>
                            <td class="propRowCell cellName">Name</td>
                            <td class="propRowCell">
                                <input class="prop-input" [(ngModel)]="item.name" [readonly]="readonly"
                                       (input)="onEditGroup(item)">
                            </td>
                        </tr>
                        <tr class="propRow subRow" [attr.collapse]="propHidden.groupsGroup[i]">
                            <td class="propRowCol"></td>
                            <td class="propRowCell cellName">Creator role</td>
                            <td class="propRowCell">
                                <p-dropdown
                                    [(ngModel)]="item.creator"
                                    [options]="policy && policy.policyRoles"
                                    optionLabel="name"
                                    optionValue="name"
                                    [disabled]="readonly"
                                    (onChange)="onEditGroup(item)"
                                    [appendTo]="'body'"
                                >
                                </p-dropdown>
                            </td>
                        </tr>
                        <tr class="propRow subRow" [attr.collapse]="propHidden.groupsGroup[i]">
                            <td class="propRowCol"></td>
                            <td class="propRowCell cellName">Members roles</td>
                            <td class="propRowCell">
                                <p-multiSelect
                                    [(ngModel)]="item.members"
                                    [options]="policy && policy.policyRoles"
                                    optionLabel="name"
                                    optionValue="name"
                                    [disabled]="readonly"
                                    (onChange)="onEditGroup(item)"
                                    [appendTo]="'body'"
                                >
                                </p-multiSelect>
                            </td>
                        </tr>
                        <tr class="propRow subRow" [attr.collapse]="propHidden.groupsGroup[i]">
                            <td class="propRowCol"></td>
                            <td class="propRowCell cellName">Relationship Type</td>
                            <td class="propRowCell">
                                <p-dropdown
                                    [(ngModel)]="item.groupRelationshipType"
                                    [options]="groupRelationshipTypeOptions"
                                    optionLabel="label"
                                    optionValue="value"
                                    [disabled]="readonly"
                                    placeholder="Select relationship type"
                                    (onChange)="onEditGroup(item)"
                                    [appendTo]="'body'"
                                >
                                </p-dropdown>
                            </td>
                        </tr>
                        <tr class="propRow subRow" [attr.collapse]="propHidden.groupsGroup[i]">
                            <td class="propRowCol"></td>
                            <td class="propRowCell cellName">Access Type</td>
                            <td class="propRowCell">
                                <p-dropdown
                                    [(ngModel)]="item.groupAccessType"
                                    [options]="groupAccessTypeOptions"
                                    optionLabel="label"
                                    optionValue="value"
                                    [disabled]="readonly"
                                    placeholder="Select access type"
                                    (onChange)="onEditGroup(item)"
                                    [appendTo]="'body'"
                                >
                                </p-dropdown>
                            </td>
                        </tr>
                    </ng-container>
                    <tr class="propRow propRowBottom">
                        <td class="propRowCol"></td>
                        <td class="propRowCell cellName"></td>
                        <td class="propRowCell"></td>
                    </tr>
                    <div class="propBottom">
                        <div class="propAdd" (click)="addGroup()">
                            <i class="pi pi-plus"></i>
                            <span>Add Group</span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="type == 'Topics'">
                    <!-- Topics  -->
                    <ng-container *ngFor="let item of topics; let i=index">
                        <tr class="propHeader">
                            <td class="propRowCol cellCollapse" (click)="onHide(propHidden.topicsGroup, i)"
                                [attr.collapse]="propHidden.topicsGroup[i]">
                                <i class="pi pi-caret-down"></i>
                            </td>
                            <td class="propHeaderCell cellName">Topic</td>
                            <td class="propHeaderCell">
                                <div>{{ item.name }}</div>
                                <span class="remove-prop" [attr.readonly]="readonly" (click)="onRemoveTopic(item)">
                                    <i class="pi pi-trash"></i>
                                </span>
                            </td>
                        </tr>
                        <tr class="propRow subRow" [attr.collapse]="propHidden.topicsGroup[i]">
                            <td class="propRowCol"></td>
                            <td class="propRowCell cellName">Name</td>
                            <td class="propRowCell">
                                <input class="prop-input" [(ngModel)]="item.name" [readonly]="readonly">
                            </td>
                        </tr>
                        <tr class="propRow subRow" [attr.collapse]="propHidden.topicsGroup[i]">
                            <td class="propRowCol"></td>
                            <td class="propRowCell cellName">Description</td>
                            <td class="propRowCell">
                                <input class="prop-input" [(ngModel)]="item.description" [readonly]="readonly">
                            </td>
                        </tr>
                        <tr class="propRow subRow" [attr.collapse]="propHidden.topicsGroup[i]">
                            <td class="propRowCol"></td>
                            <td class="propRowCell cellName">Type</td>
                            <td class="propRowCell">
                                <p-dropdown
                                    [(ngModel)]="item.type"
                                    [options]="groupDocumentOptions"
                                    optionLabel="label"
                                    optionValue="value"
                                    [disabled]="readonly"
                                    placeholder="Select type"
                                    [appendTo]="'body'"
                                >
                                </p-dropdown>
                            </td>
                        </tr>
                        <tr class="propRow subRow" [attr.collapse]="propHidden.topicsGroup[i]">
                            <td class="propRowCol"></td>
                            <td class="propRowCell cellName">Static</td>
                            <td class="propRowCell">
                                <input class="prop-input" type="checkbox" [(ngModel)]="item.static"
                                       [readonly]="readonly">
                            </td>
                        </tr>
                        <tr class="propRow subRow" [attr.collapse]="propHidden.topicsGroup[i]">
                            <td class="propRowCol"></td>
                            <td class="propRowCell cellName">Memo Parameters Object</td>
                            <td class="propRowCell">
                                <p-dropdown
                                    [(ngModel)]="item.memoObj"
                                    [options]="memoObjOptions"
                                    optionLabel="label"
                                    optionValue="value"
                                    [disabled]="readonly"
                                    placeholder="Select memo object"
                                    [appendTo]="'body'"
                                >
                                </p-dropdown>
                            </td>
                        </tr>
                        <tr class="propRow subRow" [attr.collapse]="propHidden.topicsGroup[i]">
                            <td class="propRowCol"></td>
                            <td class="propRowCell cellName">Memo</td>
                            <td class="propRowCell">
                                <input class="prop-input" [(ngModel)]="item.memo" [readonly]="readonly">
                            </td>
                        </tr>
                    </ng-container>
                    <tr class="propRow propRowBottom">
                        <td class="propRowCol"></td>
                        <td class="propRowCell cellName"></td>
                        <td class="propRowCell"></td>
                    </tr>
                    <div class="propBottom">
                        <div class="propAdd" (click)="addTopic()">
                            <i class="pi pi-plus"></i>
                            <span>Add Topic</span>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="type == 'Tokens'">
                    <!-- Tokens  -->
                    <ng-container *ngFor="let item of tokens; let i=index">
                        <tr class="propHeader">
                            <td class="propRowCol cellCollapse" (click)="onHide(propHidden.tokensGroup, i)"
                                [attr.collapse]="propHidden.tokensGroup[i]">
                                <i class="pi pi-caret-down"></i>
                            </td>
                            <td class="propHeaderCell cellName">Token</td>
                            <td class="propHeaderCell">
                                <div>{{ item.templateTokenTag }}</div>
                                <span class="remove-prop" [attr.readonly]="readonly" (click)="onRemoveToken(item)">
                                    <i class="pi pi-trash"></i>
                                </span>
                            </td>
                        </tr>
                        <tr class="propRow subRow" [attr.collapse]="propHidden.tokensGroup[i]">
                            <td class="propRowCol"></td>
                            <td class="propRowCell cellName">Template Token Tag</td>
                            <td class="propRowCell">
                                <input class="prop-input" [(ngModel)]="item.templateTokenTag" [readonly]="readonly">
                            </td>
                        </tr>
                        <tr class="propRow subRow" [attr.collapse]="propHidden.tokensGroup[i]">
                            <td class="propRowCol"></td>
                            <td class="propRowCell cellName">Token Name</td>
                            <td class="propRowCell">
                                <input placeholder="To be specified by user" class="prop-input"
                                       [(ngModel)]="item.tokenName" [readonly]="readonly">
                            </td>
                        </tr>
                        <tr class="propRow subRow" [attr.collapse]="propHidden.tokensGroup[i]">
                            <td class="propRowCol"></td>
                            <td class="propRowCell cellName">Token Symbol</td>
                            <td class="propRowCell">
                                <input placeholder="To be specified by user" class="prop-input"
                                       [(ngModel)]="item.tokenSymbol" [readonly]="readonly">
                            </td>
                        </tr>
                        <tr class="propRow subRow" [attr.collapse]="propHidden.tokensGroup[i]">
                            <td class="propRowCol"></td>
                            <td class="propRowCell cellName">Token Type</td>
                            <td class="propRowCell">
                                <p-dropdown
                                    placeholder="To be specified by user"
                                    [(ngModel)]="item.tokenType"
                                    [options]="tokenTypeOptions"
                                    optionLabel="label"
                                    optionValue="value"
                                    [disabled]="readonly"
                                    (onChange)="onTokenTypeChange(item)"
                                    [appendTo]="'body'"
                                >
                                </p-dropdown>
                            </td>
                        </tr>
                        <tr class="propRow subRow" *ngIf="item.tokenType==='fungible'"
                            [attr.collapse]="propHidden.tokensGroup[i]">
                            <td class="propRowCol"></td>
                            <td class="propRowCell cellName">Decimals</td>
                            <td class="propRowCell">
                                <input placeholder="To be specified by user" type="number" class="prop-input"
                                       [(ngModel)]="item.decimals" [readonly]="readonly">
                            </td>
                        </tr>
                        <tr class="propRow subRow" [attr.collapse]="propHidden.tokensGroup[i]">
                            <td class="propRowCol"></td>
                            <td class="propRowCell cellName">Enable Admin</td>
                            <td class="propRowCell">
                                <p-dropdown
                                    placeholder="To be specified by user"
                                    [(ngModel)]="item.enableAdmin"
                                    [options]="enableAdminOptions"
                                    optionLabel="label"
                                    optionValue="value"
                                    [disabled]="readonly"
                                    [appendTo]="'body'"
                                >
                                </p-dropdown>
                            </td>
                        </tr>
                        <tr class="propRow subRow" [attr.collapse]="propHidden.tokensGroup[i]">
                            <td class="propRowCol"></td>
                            <td class="propRowCell cellName">Enable Freeze</td>
                            <td class="propRowCell">
                                <p-dropdown
                                    placeholder="To be specified by user"
                                    [(ngModel)]="item.enableFreeze"
                                    [options]="enableFreezeOptions"
                                    optionLabel="label"
                                    optionValue="value"
                                    [disabled]="readonly"
                                    [appendTo]="'body'"
                                >
                                </p-dropdown>
                            </td>
                        </tr>
                        <tr class="propRow subRow" [attr.collapse]="propHidden.tokensGroup[i]">
                            <td class="propRowCol"></td>
                            <td class="propRowCell cellName">Enable KYC</td>
                            <td class="propRowCell">
                                <p-dropdown
                                    placeholder="To be specified by user"
                                    [(ngModel)]="item.enableKYC"
                                    [options]="enableKYCOptions"
                                    optionLabel="label"
                                    optionValue="value"
                                    [disabled]="readonly"
                                    [appendTo]="'body'"
                                >
                                </p-dropdown>
                            </td>
                        </tr>
                        <tr class="propRow subRow" [attr.collapse]="propHidden.tokensGroup[i]">
                            <td class="propRowCol"></td>
                            <td class="propRowCell cellName">Enable Wipe</td>
                            <td class="propRowCell">
                                <p-dropdown
                                    placeholder="To be specified by user"
                                    [(ngModel)]="item.enableWipe"
                                    [options]="enableWipeOptions"
                                    optionLabel="label"
                                    optionValue="value"
                                    [disabled]="readonly"
                                    (onChange)="onEnableWipeChange(item)"
                                    [appendTo]="'body'"
                                >
                                </p-dropdown>
                            </td>
                        </tr>
                        <tr class="propRow subRow" *ngIf="item.enableWipe" [attr.collapse]="propHidden.tokensGroup[i]">
                            <td class="propRowCol"></td>
                            <td class="propRowCell cellName">Wipe Contract</td>
                            <td class="propRowCell">
                                <p-dropdown
                                    placeholder="To be specified by user"
                                    [(ngModel)]="item.wipeContractId"
                                    [options]="getWipeContractOptions()"
                                    optionLabel="label"
                                    optionValue="value"
                                    [disabled]="readonly"
                                    [appendTo]="'body'"
                                >
                                </p-dropdown>
                            </td>
                        </tr>
                    </ng-container>
                    <tr class="propRow propRowBottom">
                        <td class="propRowCol"></td>
                        <td class="propRowCell cellName"></td>
                        <td class="propRowCell"></td>
                    </tr>
                    <div class="propBottom">
                        <div class="propAdd" (click)="addToken()">
                            <i class="pi pi-plus"></i>
                            <span>Add Token</span>
                        </div>
                    </div>
                </ng-container>
            </table>
        </div>
    </div>
</div>
