# Returning details of the most recent test run

{% swagger src="../../../../../.gitbook/assets/swagger.yaml" path="/policies/{policyId}/test/{testId}/details" method="get" %}
[swagger.yaml](../../../../../.gitbook/assets/swagger.yaml)
{% endswagger %}
