# Returning details of the most recent test run

{% swagger src="../../../../../.gitbook/assets/swagger (1) (1).yaml" path="/policies/{policyId}/test/{testId}/details"
method="get" %}
[swagger (1) (1).yaml](<../../../../../.gitbook/assets/swagger (1) (1).yaml>)
{% endswagger %}
