<div class="guardian-page">
    <div *ngIf="loading" class="guardian-loading">
        <div class="guardian-loading-image"></div>
    </div>

    <div *ngIf="!isConfirmed" class="guardian-user-not-registered">
        Before starting work you need to get DID
        <a [routerLink]="['/profile']">here</a>
    </div>

    <div class="guardian-user-page-header">
        <span>{{title}}</span>
    </div>

    <div class="guardian-user-page-toolbar">
        <div class="guardian-user-page-filters">
            <!-- <div class="guardian-search">
                <input
                    id="fieldSearch"
                    placeholder="Search"
                    pInputText
                    type="text"
                />
            </div> -->
        </div>
        <div class="guardian-user-page-buttons">
            <button
                *ngIf="user.POLICIES_EXTERNAL_POLICY_CREATE"
                (click)="onImport()"
                class="guardian-button guardian-button-primary">
                <div class="guardian-button-icon">
                    <svg-icon
                        class="icon-btn"
                        src="/assets/images/icons/add.svg"
                        svgClass="icon-color-secondary">
                    </svg-icon>
                </div>
                <div class="guardian-button-label">Import External Policy</div>
            </button>
        </div>
    </div>

    <div class="guardian-user-page-grid">
        <ng-container *ngIf="page && page.length > 0; else noData">
            <div class="guardian-grid-container">
                <p-table
                    class="guardian-grid-table"
                    [value]="page"
                    [scrollable]="true"
                >
                    <ng-template pTemplate="header">
                        <tr class="guardian-grid-header">
                            <ng-container *ngFor="let column of columns">
                                <th
                                    *ngIf="!column.canDisplay || column.canDisplay()"
                                    class="header-cell-{{column.type}} col-{{column.size}}"
                                    >{{column.title}}</th>
                            </ng-container>
                        </tr>
                    </ng-template>
                    <ng-template let-row pTemplate="body">
                        <tr class="guardian-grid-row">
                            <ng-container *ngFor="let column of columns">
                                <td
                                    *ngIf="!column.canDisplay || column.canDisplay()"
                                    class="row-cell-{{column.type}} col-{{column.size}}"
                                    pTooltip="{{row[column.id]}}"
                                    [tooltipDisabled]="!column.tooltip"
                                    tooltipPosition="top"
                                    [showDelay]="1000"
                                    [ngSwitch]="column.id"
                                >
                                    <ng-container *ngSwitchCase="'status'">
                                        <div class="policy-status {{row.fullStatus}}-status">
                                            {{ getStatusName(row) }}
                                        </div>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'topicId'">
                                        <span class="text-truncate">
                                            <hedera-explorer
                                                [params]="row.topicId"
                                                type="topics">{{ row.topicId }}</hedera-explorer>
                                        </span>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'options'">
                                        <div *ngIf="row.fullStatus === 'NEW'" class="option-btns">
                                            <button class="guardian-button approve-btn" (click)="onApprove(row)">Approve</button>
                                            <button class="guardian-button reject-btn" (click)="onReject(row)">Reject</button>
                                        </div>
                                    </ng-container>
                                    <!-- <ng-container *ngSwitchCase="'delete'">
                                        <div
                                            [attr.disabled]="row.status === 'PUBLISHED'"
                                            class="guardian-icon-button big"
                                            (click)="onDelete(row)">
                                            <svg-icon
                                                class="icon-btn"
                                                src="/assets/images/icons/delete.svg"
                                                [svgClass]="row.status === 'PUBLISHED' ? 'icon-color-disabled' : 'icon-color-delete'">
                                            </svg-icon>
                                        </div>
                                    </ng-container> -->
                                    <ng-container *ngSwitchDefault>
                                        <span class="text-truncate">{{row[column.id]}}</span>
                                    </ng-container>
                                </td>
                            </ng-container>
                        </tr>
                    </ng-template>
                </p-table>
                <div class="guardian-grid-paginator">
                    <app-paginator
                        class="guardian-grid-paginator"
                        [pageIndex]="pageIndex"
                        [pageSize]="pageSize"
                        [length]="pageCount"
                        (page)="onPage($event)"
                    ></app-paginator>
                </div>
            </div>
        </ng-container>
        <ng-template #noData>
            <div class="guardian-user-not-data">
                <svg-icon
                    class="svg-icon-32"
                    src="/assets/images/icons/32/list.svg"
                    svgClass="icon-color-disabled"></svg-icon>
                <span class="guardian-user-not-data__text-strong">There are no policies imported yet</span>
                <span class="guardian-user-not-data__text">Please import a new policy to see the data</span>
            </div>
        </ng-template>
    </div>
</div>
