* {
    -webkit-overflow-scrolling: auto;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    /*margin: 54px 0 53px;*/
}

*::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 0 1px;
}

*:hover::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.45);
}

*::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.55);
}

@-moz-document url-prefix() {
    * {
        /* Firefox 63 compatibility */
        scrollbar-face-color: rgba(0, 0, 0, 0.3);
        /* Firefox 63 compatibility */
        scrollbar-track-color: transparent;
        scrollbar-color: rgba(0, 0, 0, 0.3) transparent !important;
        scrollbar-width: thin !important;
    }
}

@supports (-moz-appearance:none) {
    * {
        /* Firefox 63 compatibility */
        scrollbar-face-color: rgba(0, 0, 0, 0.3);
        /* Firefox 63 compatibility */
        scrollbar-track-color: transparent;
        scrollbar-color: rgba(0, 0, 0, 0.3) transparent !important;
        scrollbar-width: thin !important;
    }
}