.guardian-textarea-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    label {
        font-family: var(--font-family-inter);
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        text-align: left;
        margin-bottom: 6px;
    }

    textarea {
        width: 100%;
        border-radius: 8px;
        outline: none;
        border: 1px solid var(--guardian-grey-color-2, #E1E7EF);
        font-family: var(--font-family-inter);
        font-size: 14px;
        font-weight: 400;
        color: #000;
        padding: 8px 16px;

        &:enabled:hover {
            border-color: var(--guardian-primary-color, #4169E2);
        }

        &:enabled:focus {
            border-color: var(--guardian-primary-color, #4169E2);
            box-shadow: none;
        }
    }
}