<form *ngIf="options" [formGroup]="options">
    <ng-container *ngFor="let item of fields; let i = index">

        <div *ngIf="!item.hide && (innerWidth <= 810 ? (isShown[i] || showChildSchemaForm) : true)" class="form-field-container" [id]="buttonOnceRaised ? '' : i">
            <div *ngIf="!item.isArray && !item.isRef" class="form-field">
                <div class="invalid-field-label"
                    *ngIf="options.controls[item.name] && !options.controls[item.name].valid && !options.controls[item.name].disabled">
                    <mat-icon class="invalid-arrow-circle">arrow_circle_right</mat-icon>
                    <span>
                        <b>{{GetInvalidMessageByFieldType(item)}}</b>
                    </span>
                </div>
                <div *ngIf="item.required" class="required-field">* Required</div>
                <div class="label-field" *ngIf="!isHelpText(item)">{{item.description}}</div>
                <div *ngIf="isHelpText(item)" class="label-field help-text" [ngStyle]="{ 'color': item.textColor, 'font-size': item.textSize}">
                    <b *ngIf="item.textBold; else plainDescription">{{item.description}}</b>
                    <ng-template #plainDescription>{{item.description}}</ng-template>
                </div>
                <div class="form-field-value">
                    <div class="form-field-prefix" *ngIf="isPrefix(item)">{{item.unit}}</div>

                    <mat-form-field *ngIf="isInput(item)" class="example-full-width required-form-field"
                        appearance="outline" [ngClass]="{'ipfs-url' : isIPFS(item)}">
                        <input matInput [formControlName]="item.name" [placeholder]="GetPlaceholderByFieldType(item)">
                        <div *ngIf="isIPFS(item)">
                            <input type="file" class="file-input" style="display:none;" accept="image/*"
                                (change)="onFileSelected($event, options.controls[item.name], item)" #fileUpload>
                            <div class="file-upload">
                                <ng-container [ngSwitch]="item.fileUploading">
                                    <mat-spinner *ngSwitchCase="true" [diameter]="38"></mat-spinner>
                                    <button mat-icon-button *ngSwitchCase="false" class="upload-btn"
                                        (click)="fileUpload.click()">
                                        <mat-icon>attach_file</mat-icon>
                                    </button>
                                </ng-container>
                            </div>
                        </div>
                    </mat-form-field>

                    <mat-form-field *ngIf="isTime(item)" class="example-full-width required-form-field"
                        appearance="outline">
                        <input matInput type="time" step="1" [formControlName]="item.name"
                            [placeholder]="GetPlaceholderByFieldType(item)">
                    </mat-form-field>

                    <mat-form-field *ngIf="isDateTime(item)" class="example-full-width required-form-field"
                        appearance="outline">
                        <mat-label>Choose a date & time</mat-label>
                        <input matInput [ngxMatDatetimePicker]="dateTimePicker" [formControlName]="item.name">
                        <mat-datepicker-toggle matSuffix [for]="$any(dateTimePicker)"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #dateTimePicker [enableMeridian]="true"></ngx-mat-datetime-picker>
                    </mat-form-field>

                    <mat-form-field *ngIf="isDate(item)" class="example-full-width required-form-field"
                        appearance="outline">
                        <mat-label>Choose a date</mat-label>
                        <input [formControlName]="item.name" matInput [matDatepicker]="dateItem">
                        <mat-datepicker-toggle matSuffix [for]="dateItem"></mat-datepicker-toggle>
                        <mat-datepicker #dateItem></mat-datepicker>
                    </mat-form-field>

                    <div *ngIf="isBoolean(item)" class="boolean-form-field"
                        [ngClass]="{'required-boolean-field': item.required && !options.controls[item.name].valid && !options.controls[item.name].disabled }">
                        <mat-radio-group [formControlName]="item.name">
                            <mat-radio-button color="primary" [value]="true">True</mat-radio-button>
                            <mat-radio-button color="primary" [value]="false">False</mat-radio-button>
                            <mat-radio-button color="primary" *ngIf="!item.required" value="">Unset</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <mat-form-field *ngIf="isEnum(item)" class="required-form-field" appearance="outline">
                        <mat-select [formControlName]="item.name">
                            <mat-option *ngFor="let enumValue of item.enumValues" [value]="enumValue">
                                {{enumValue}}
                            </mat-option>
                            <mat-option *ngIf="item.fileUploading">
                                <mat-spinner class="loading-enum-values" [diameter]="35"></mat-spinner>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="form-field-postfix" *ngIf="isPostfix(item)">{{item.unit}}</div>
                    
                    <div *ngIf="fields && innerWidth <= 810 && showButtons" class="page-btns" [style.z-index]="i === fields.length - 1 ? 100 : 206">
                        <button *ngIf="currentIndex === 0 && !buttonOnceRaised" mat-raised-button color="primary" id="cancel-btn" (click)="onCancelBtnClick()">Cancel</button>
                        <button *ngIf="currentIndex !== 0" mat-raised-button color="primary" id="previous-btn" [style.z-index]="i === 1 ? 200 : 100" (click)="getPrevShownFields(fields)">Previous</button>
                        <button *ngIf="i !== fields.length - 1 && isShown[fields.length - 1] === false" mat-raised-button color="primary" id="next-btn" [style.z-index]="i !== 0 ? 306 : 100" (click)="getNextShownFields(fields)">Next</button>
                        <button *ngIf="isShown[fields.length - 1]" mat-raised-button [disabled]="!this.options.valid" color="primary" id="submit-btn" [style.z-index]="i !== 0 ? 306 : 100" (click)="onSubmitBtnClick(fields)">Submit</button>
                    </div>

                </div>
            </div>

            <div *ngIf="!item.isArray && item.isRef" class="form-field-group" [ngStyle]="{'margin-bottom': (comesFromDialog && innerWidth <= 810) ? 0 : ''}">
                <div class="invalid-field-label" *ngIf="item.control && !item.control.valid && !item.control.disabled">
                    <mat-icon class="invalid-arrow-circle">arrow_circle_right</mat-icon>
                    <span>
                        <b>Please make sure all fields in schema contain a valid value</b>
                    </span>
                </div>
                <div *ngIf="item.required && item.displayRequired" class="required-field">* Required</div>
                <div class="label-field" id="detail-section">
                    <div *ngIf="fields && innerWidth <= 810" class="page-number">{{i + 1}}/{{fields.length}}</div>
                    {{item.description}}
                    <div *ngIf="fields && i !== fields.length - 1 && innerWidth <= 810" class="delimiter-to-next-page"></div>
                    <div *ngIf="fields && i !== fields.length - 1 && innerWidth <= 810" class="next-page-number">{{i + 2}}</div>
                </div>
                <div *ngIf="item.control" class="form-field-array-item">
                    <div class="form-field-group" [ngClass]="{'schema-form-field-group' : !item.required}">
                        <app-schema-form [formGroup]="item.control" [fields]="item.fields" [context]="item.context"
                            [private-fields]="hide" [delimiter-hide]="true" [conditions]="item.conditions"
                            [preset]="item.preset" [showChildSchemaForm]="!showChildSchemaForm" [buttonOnceRaised]="true">
                        </app-schema-form>
                    </div>
                </div>
                <div *ngIf="!item.control" class="add-btn" (click)="addGroup(item)">
                    <span>
                        <mat-icon>add</mat-icon> Add Entity
                    </span>
                </div>
                <div *ngIf="item.control && !item.required && !item.control.disabled" class="remove-btn" (click)="removeGroup(item)">
                    <span>
                        <mat-icon>remove</mat-icon> Remove Entity
                    </span>
                </div>
                <div *ngIf="fields" class="page-btns" [style.z-index]="i === fields.length - 1 ? 300 : 400"> <!-- [ngClass]="{'page-btns-last-page' : i === 3}"-->
                    <button *ngIf="currentIndex === 0 && !buttonOnceRaised && innerWidth <= 810" mat-raised-button color="primary" id="cancel-btn" (click)="onCancelBtnClick()">Cancel</button>
                    <button *ngIf="currentIndex !== 0 && !buttonOnceRaised && innerWidth <= 810" mat-raised-button color="primary" id="previous-btn" (click)="getPrevShownFields(fields)">Previous</button>
                    <button *ngIf="i !== fields.length - 1 && !buttonOnceRaised && innerWidth <= 810" mat-raised-button color="primary" id="next-btn" (click)="getNextShownFields(fields)">Next</button>
                    <button *ngIf="isShown[fields.length - 1]" mat-raised-button [disabled]="!this.options.valid" color="primary" id="submit-btn" (click)="onSubmitBtnClick(fields)">Submit</button>
                </div>
            </div>

            <div *ngIf="item.isArray && !item.isRef" class="form-field-array">
                <div class="invalid-field-label" *ngIf="item.control && !item.control.valid && !item.control.disabled">
                    <mat-icon class="invalid-arrow-circle">arrow_circle_right</mat-icon>
                    <span>
                        <b>{{GetInvalidMessageByFieldType(item)}}</b>
                    </span>
                </div>
                <div *ngIf="item.required" class="required-field">* Required</div>
                <div class="label-field">{{item.description}}</div>
                <div class="label-field" id="detail-section">
                    <div *ngIf="fields && innerWidth <= 810" class="page-number">{{i}}/{{fields.length - 1}}</div>
                    {{item.description}}
                    <div *ngIf="fields && i !== fields.length - 1 && innerWidth <= 810" class="delimiter-to-next-page"></div>
                    <div *ngIf="fields && i !== fields.length - 1 && innerWidth <= 810" class="next-page-number">{{i + 1}}</div>
                </div>
                <div *ngFor="let listItem of item.list" class="form-field-array-item" [attr.index]="listItem.index"
                    [attr.required]="item.required" [formGroup]="item.control">
                    <div class="form-field">
                        <div class="form-field-value">
                            <div class="form-field-prefix" *ngIf="isPrefix(item)">{{item.unit}}</div>

                            <mat-form-field *ngIf="isInput(item)" class="example-full-width required-form-field"
                                appearance="outline" [ngClass]="{'ipfs-url' : isIPFS(item)}">
                                <input matInput [formControl]="listItem.control"
                                    [placeholder]="GetPlaceholderByFieldType(item)">

                                <div *ngIf="isIPFS(item)">
                                    <input type="file" class="file-input" style="display:none;" accept="image/*"
                                        (change)="onFileSelected($event, listItem.control, listItem)" #fileUpload>
                                    <div class="file-upload">
                                        <ng-container [ngSwitch]="listItem.fileUploading">
                                            <mat-spinner *ngSwitchCase="true" [diameter]="38"></mat-spinner>
                                            <button mat-icon-button *ngSwitchCase="false" class="upload-btn"
                                                (click)="fileUpload.click()">
                                                <mat-icon>attach_file</mat-icon>
                                            </button>
                                        </ng-container>
                                    </div>
                                </div>
                            </mat-form-field>

                            <mat-form-field *ngIf="isTime(item)" class="example-full-width required-form-field"
                                appearance="outline">
                                <input matInput type="time" step="1" [formControl]="listItem.control"
                                    [placeholder]="GetPlaceholderByFieldType(item)">
                            </mat-form-field>

                            <mat-form-field *ngIf="isDateTime(item)" class="example-full-width required-form-field"
                                appearance="outline">
                                <mat-label>Choose a date & time</mat-label>
                                <input matInput [ngxMatDatetimePicker]="dateTimePicker"
                                    [formControl]="listItem.control">
                                <mat-datepicker-toggle matSuffix [for]="$any(dateTimePicker)"></mat-datepicker-toggle>
                                <ngx-mat-datetime-picker #dateTimePicker [enableMeridian]="true">
                                </ngx-mat-datetime-picker>
                            </mat-form-field>

                            <mat-form-field *ngIf="isDate(item)" class="example-full-width required-form-field"
                                appearance="outline">
                                <mat-label>Choose a date</mat-label>
                                <input [formControl]="listItem.control" matInput [matDatepicker]="dateItem">
                                <mat-datepicker-toggle matSuffix [for]="dateItem"></mat-datepicker-toggle>
                                <mat-datepicker #dateItem></mat-datepicker>
                            </mat-form-field>

                            <div *ngIf="isBoolean(item)" class="boolean-form-field"
                                [ngClass]="{'required-boolean-field': item.required && !listItem.control.valid}">
                                <mat-radio-group [formControl]="listItem.control">
                                    <mat-radio-button color="primary" [value]="true">True</mat-radio-button>
                                    <mat-radio-button color="primary" [value]="false">False</mat-radio-button>
                                    <mat-radio-button color="primary" *ngIf="!item.required" value="">Unset
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>

                            <mat-form-field *ngIf="isEnum(item)" class="required-form-field" appearance="outline">
                                <mat-select [formControl]="listItem.control">
                                    <mat-option *ngFor="let enumValue of item.enumValues" [value]="enumValue">
                                        {{enumValue}}
                                    </mat-option>
                                    <mat-option *ngIf="item.fileUploading">
                                        <mat-spinner class="loading-enum-values" [diameter]="35"></mat-spinner>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <div class="form-field-postfix" *ngIf="isPostfix(item)">{{item.unit}}</div>
                        </div>
                    </div>
                    <div class="fields-remove" *ngIf="!item.control.disabled" (click)="removeItem(item, listItem)">
                        <mat-icon>delete</mat-icon>
                    </div>
                </div>
                <div class="add-btn" *ngIf="!item.control.disabled" (click)="addItem(item)">
                    <span>
                        <mat-icon>add</mat-icon> Add Field
                    </span>
                </div>
            </div>

            <div *ngIf="item.isArray && item.isRef" class="form-field-group schema-form-field-array-group">
                <div class="invalid-field-label" *ngIf="!item.control.valid && !item.control.disabled">
                    <mat-icon class="invalid-arrow-circle">arrow_circle_right</mat-icon>
                    <span>
                        <b>Please make sure all fields in schemas contain a valid value</b>
                    </span>
                </div>
                <div *ngIf="item.required" class="required-field">* Required</div>
                <div class="label-field" id="detail-section">
                    <div *ngIf="fields && innerWidth <= 810" class="page-number">{{i}}/{{fields.length - 1}}</div>
                    {{item.description}}
                    <div *ngIf="fields && i !== fields.length - 1 && innerWidth <= 810" class="delimiter-to-next-page"></div>
                    <div *ngIf="fields && i !== fields.length - 1 && innerWidth <= 810" class="next-page-number">{{i + 1}}</div>
                </div>
                <div *ngFor="let listItem of item.list" class="form-field-array-item" [attr.index]="listItem.index"
                    [attr.required]="item.required">
                    <div class="form-field-group">
                        <app-schema-form [formGroup]="listItem.control" [fields]="item.fields" [context]="item.context"
                            [private-fields]="hide" [delimiter-hide]="true" [conditions]="item.conditions"
                            [preset]="listItem.preset">
                        </app-schema-form>
                        <div class="remove-btn" *ngIf="!item.control.disabled" (click)="removeItem(item, listItem)">
                            <span>
                                <mat-icon>remove</mat-icon> Remove Entity
                            </span>
                        </div>
                    </div>
                    <div class="short-delimiter-container">
                        <div class="delimiter"></div>
                    </div>
                </div>
                <div class="add-btn" *ngIf="!item.control.disabled" (click)="addItem(item)">
                    <span>
                        <mat-icon>add</mat-icon> Add Entity
                    </span>
                </div>
                <div *ngIf="fields" class="page-btns" [style.z-index]="i === fields.length - 1 ? 100 : 200"> <!-- [ngClass]="{'page-btns-last-page' : i === 3}"-->
                    <button *ngIf="i === 1 && innerWidth <= 810" mat-raised-button color="primary" id="cancel-btn" (click)="navigatePolicyViewer()">Cancel</button>
                    <button *ngIf="i !== 1 && innerWidth <= 810" mat-raised-button color="primary" id="previous-btn" (click)="getPrevShownFields(fields)">Previous</button>
                    <button *ngIf="i !== fields.length - 1 && innerWidth <= 810" mat-raised-button color="primary" id="next-btn" (click)="getNextShownFields(fields)">Next</button>
                </div>
            </div>

        </div>

        <div *ngIf="!delimiterHide" class="delimiter"></div>

        <ng-template [ngIf]="getConditions(item).length > 0">
            <div *ngFor="let condition of getConditions(item)">
                <app-schema-form
                    *ngIf="condition.ifCondition.fieldValue === options.controls[item.name]?.value; else elseCondition"
                    [fields]="condition.thenFields" [formGroup]="condition.conditionForm" [preset]="condition.preset"
                    [readonly-fields]="readonly"
                    (destroy)="removeConditionFields(condition.thenFields, condition)"></app-schema-form>
                <ng-template #elseCondition>
                    <app-schema-form *ngIf="condition.elseFields && condition.elseFields.length > 0"
                        [readonly-fields]="readonly" [fields]="condition.elseFields" [formGroup]="condition.conditionForm"
                        [preset]="condition.preset" (destroy)="removeConditionFields(condition.elseFields, condition)">
                    </app-schema-form>
                </ng-template>
            </div>
        </ng-template>

    </ng-container>
</form>