<div class="tree">
  <ul>
    @for (node of dataSource.data; track node) {
      <li class="tree-node">
        <div class="node" [ngClass]="{ 'current-node': currentNode === node }" (click)="onNodeClick(node)">
          <i class="pi pi-angle-right"></i>
          <span class="node-text">{{ node.name }}</span>
        </div>
        @if (node.children?.length) {
          <ul class="tree-children">
            @for (child of node.children; track child) {
              <li class="tree-node">
                <div class="node" [ngClass]="{ 'current-node': currentNode === child }"
                  (click)="onNodeClick(child)">
                  <i class="pi pi-angle-right"></i>
                  <span class="node-text">{{ child.name }}</span>
                </div>
                @if (child.children?.length) {
                  <ul class="tree-children">
                    @for (grandChild of child.children; track grandChild) {
                      <li class="tree-node">
                        <div class="node" [ngClass]="{ 'current-node': currentNode === grandChild }"
                          (click)="onNodeClick(grandChild)">
                          <i class="pi pi-angle-right"></i>
                          <span class="node-text">{{ grandChild.name }}</span>
                        </div>
                      </li>
                    }
                  </ul>
                }
              </li>
            }
          </ul>
        }
      </li>
    }
  </ul>
</div>
