.tree-invisible {
    display: none;
}

.tree .mat-nested-tree-node div[role=group] {
    padding-left: 40px;
}

.node::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #3f51b5;
    transition: width .3s;
    position: absolute;
}

.current-node::after {
    width: 100%;
}

.mat-tree-node.mat-tree-node-no-children {
    padding-left: 40px;
}

.node {
    white-space: nowrap;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.node-id {
    margin-right: 5px;
    font-weight: bold;
}

.current-node .node-id {
    color: #3f51b5;
}