.context {
    position: relative;
}

.form-container {
    height: 310px;
    position: relative;
}

.async-progress {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: #fff;
}

.record-source-selector {
    margin-bottom: 16px;

    .form-label {
        display: block;
        margin-bottom: 8px;
    }
}

.record-policy-selector {
    .form-label {
        display: block;
        margin-bottom: 8px;
    }
}

.record-sync-checkbox {
    margin-left: 2px;
}