.main-container {
  margin-top: 24px;
  gap: 24px;
  display: flex;
  justify-content: space-between;

  h3 {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    color: var(--color-grey-black-2, #23252E);
  }

  .categories-container {
    padding: 24px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    border-radius: 8px;
    border: 1px solid var(--color-grey-3, #E1E7EF);
    background: var(--color-grey-white, #FFF);

    .categories-options {
      margin-bottom: 32px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 24px;
      row-gap: 16px;

      label {
        margin-left: 8px;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        color: var(--color-grey-black-2, #23252E);
      }

      &.radio {
        display: flex;
        gap: 16px;
      }
    }

    p {
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      color: var(--color-grey-5, #848FA9);
    }

    ::ng-deep {
      .p-button {
        padding: 6px;
        color: var(--color-grey-5, #848FA9);
        border-radius: 8px;
        border: 1px solid var(--color-grey-3, #E1E7EF);
        background: var(--color-grey-white, #FFF);

        .p-button-label {
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          color: var(--color-grey-5, #848FA9);
        }
      }

      .p-button.active {
        color: var(--color-grey-white, #FFF);
        border-radius: 8px;
        background: var(--color-primary, #0681EE);

        .p-button-label {
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          color: var(--color-grey-white, #FFF);
        }
      }

    }
  }

  .results-container {
    // height: calc(100vh - 180px - 16px);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 50%;

    ::ng-deep {
      .p-inputtext {
        color: var(--color-grey-5, #848FA9);
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        border-radius: 8px;
        border: 1px solid var(--color-grey-3, #E1E7EF);
      }
    }

    .search-input {
      margin-top: 2px;
      align-self: self-end;

      input {
        min-width: 322px;
        padding: 12px 76px 12px 16px;
      }

      i {
        padding-right: 16px;
        color: #B0B5BA;
      }
    }

    .results-info {
      display: flex;
      justify-content: space-between;
      margin-top: 24px;

      .search-text {
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        color: var(--color-grey-5, #848FA9);
      }

      .found-text {
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        color: var(--color-grey-5, #848FA9);
      }
    }

    .results-items {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
}

.loading {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
}

.loading-progress {
  width: 80%;
  height: 80%;
}

.preloader-image {
  width: 16px;
  height: 16px;
  border-top: 3px solid var(--color-primary);
  border-left: 3px solid rgba(0, 0, 0, 0);
  border-right: 3px solid rgba(0, 0, 0, 0);
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  border-radius: 100%;
  filter: brightness(100%);
  animation-name: preloaderRotationColored;
  animation-duration: 7.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.preloader-image-l-size {
  width: 56px;
  height: 56px;
}

@keyframes preloaderRotationColored {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  25% {
    transform: rotate(360deg);
    border-top: 3px solid rgba(0, 0, 0, 0);
    border-right: 3px solid var(--color-primary);
    border-left: 3px solid rgba(0, 0, 0, 0);
    border-bottom: 3px solid rgba(0, 0, 0, 0);
  }
  50% {
    transform: rotate(720deg);
    border-top: 3px solid rgba(0, 0, 0, 0);
    border-left: 3px solid rgba(0, 0, 0, 0);
    border-bottom: 3px solid var(--color-primary);
    border-right: 3px solid rgba(0, 0, 0, 0);
  }
  75% {
    transform: rotate(1080deg);
    border-top: 3px solid rgba(0, 0, 0, 0);
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    border-right: 3px solid rgba(0, 0, 0, 0);
    border-left: 3px solid var(--color-primary);
  }
  100% {
    transform: rotate(1440deg);
    border-top: 3px solid var(--color-primary);
    border-left: 3px solid rgba(0, 0, 0, 0);
    border-right: 3px solid rgba(0, 0, 0, 0);
    border-bottom: 3px solid rgba(0, 0, 0, 0);
  }
}

::ng-deep {
  .mat-tab-body-wrapper {
    overflow: scroll !important;
  }
}

:host ::ng-deep {
  .mat-tab-body-wrapper {
    overflow: scroll !important;
  }
}

.mat-tab-body-wrapper {
  overflow: scroll !important;
}

@media (max-width: 1080px) {
  .main-container {
    display: block;

    .categories-container {
      width: 100%;
    }

    .results-container {
      margin-top: 24px;
      width: 100%;

      ::ng-deep {
        .p-inputtext {
          min-width: 100% !important;
        }
      }

      .search-input {
        width: 100% !important;
        margin-bottom: 24px;
        align-self: self-end;
      }
    }
  }
}

::ng-deep {
  .p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: var(--color-primary) !important;
    background: var(--color-primary) !important;
  }

  .p-radiobutton-box:hover {
    border-color: var(--color-primary) !important;
  }
}
