.context {
    position: relative;
    overflow-y: auto;
    padding: 20px 20px 20px 20px;
}

.loading {
    background: #fff;
    position: absolute;
    z-index: 99;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}