.loading {
    background: #fff;
    position: absolute;
    z-index: 99;
    border-radius: 16px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.context {
    position: relative;
    overflow-y: auto;
    padding: 5px 0 20px 0;
    display: flex;
    flex-direction: row;
    height: 100%;

    .left-container {
        min-width: 200px;
        width: 200px;
        height: 100%;
        border: 1px solid #aaa;
        border-radius: 6px;
        padding: 10px;
        overflow: auto;

        .policy-item {
            display: flex;
            flex-direction: row;
            user-select: none;
            padding: 5px 0px;

            .policy-name {
                width: 145px;
                margin-right: 8px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            
            .policy-delete {
                width: 20px;
                height: 20px;
                min-width: 20px;
                cursor: pointer;
            }
        }
    }

    .right-container {
        width: 100%;
        height: 100%;
        padding: 0px 0px 0px 20px;
        display: flex;
        flex-direction: column;

        .right-header {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 20px;
        }

        .right-body {
            width: 100%;
            height: 100%;
            border: 1px solid #aaa;
            border-radius: 6px;
            padding: 20px;
            display: flex;
            flex-direction: column;

            .type-selector {
                border: 1px solid #aaa;
                border-radius: 6px;
                display: flex;
                flex-direction: row;
                width: fit-content;
                margin-bottom: 20px;

                .selector-item {
                    padding: 5px;
                    border-radius: 6px;
                    margin: 3px;
                    cursor: pointer;
                    user-select: none;

                    &[selected="true"] {
                        background: var(--color-primary) !important;
                        color: var(--color-grey-white) !important;
                    }

                    &:hover {
                        background: #aaa;
                    }
                }
            }

            .message-container,
            .local-container,
            .file-container {
                display: flex;
                width: 100%;
                height: 100%;
            }

            .search-policy-input {
                width: 100%;
                height: 40px;
                border: 1px solid #e1e7ef;
                border-radius: 8px;
                padding-left: 16px;
            }

            .multiSelect-policy-input {
                max-width: 440px;
                width: 100%;
                height: 40px;
                margin-right: 16px;
                &::ng-deep .p-multiselect {
                    width: 100%;
                    height: 40px;
                    border: 1px solid #e1e7ef;
                    border-radius: 8px;
                }
            }

            .search-icon {
                margin-right: 6px;
            }

            .message-form {
                width: 100%;
                display: flex;
                flex-direction: row;
                height: 40px;

                .message-input {
                    width: 100%;
                    margin-right: 18px;
                }
            }

            .add-item {
                width: 130px;
                min-width: 130px;
                max-width: 130px;
                padding: 6px 18px;
            }

            .file-container > * {
                width: 100%;
            }
        }
    }
}

::ng-deep {
    .p-dialog-title {
        font-family: Poppins, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
    }

    .p-dialog {
        box-shadow: none;
    }

    .p-dialog-header {
        border-top-left-radius: 16px !important;
        border-top-right-radius: 16px !important;
    }

    .p-dialog-content {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

.dialog-body {
    height: 35vh;
    overflow-y: auto;
}

.action-buttons {
    display: flex;
}

.cancel-button {
    margin-left: auto;
    margin-right: 15px;
}

.close-icon-color {
    fill: #848FA9;
    color: #848FA9;
}


// ::ng-deep {
//     .p-button {
//         border-radius: 8px;
//     }

//     .p-dropdown {
//         width: 100%;
//     }

//     .p-multiselect {
//         width: 100%;
//     }

//     .p-focus {
//         box-shadow: none !important;
//     }
// }

// .policy-dropdown-container {
//     display: flex;
//     flex-direction: column;
//     margin-bottom: 25px;
// }

// .form-label {
//     color: #181818;
//     font-family: Inter, sans-serif;
//     font-size: 12px;
//     font-style: normal;
//     font-weight: 500;
// }