.mat-dialog-content {
    overflow: visible;
}

.mat-dialog-actions {
    padding: 15px 0;
}

.description {
    margin-bottom: 20px;
}

.g-dialog-actions-btn {
    min-width: 210px !important;
}

.contract-form-base-token-count,
.contract-form-opposite-token-count {
    padding-top: 12px;
    width: 50%;
}

.contract-form-base-token mat-icon,
.contract-form-base-token-count mat-icon,
.contract-form-opposite-token mat-icon,
.contract-form-opposite-token-count mat-icon {
    color: #3f51b5;
}

.contract-form-base-token {
    width: 100%;
}

.contract-form-opposite-token {
    width: 100%;
}

.delimiter {
    width: 100%;
    height: 40px;
}

.contract-info {
    text-align: center;
}


.block-delimiter {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    position: relative;
}

.block-delimiter::after {
    content: attr(data-label);
    position: absolute;
    color: #646464;
    font-weight: 500;
    font-size: 16px;
    padding: 10px;
    background: #fff;
    left: 50%;
    top: 30px;
    transform: translate(-50%, 0px);
}

.block-delimiter::before {
    content: '';
    position: absolute;
    height: 2px;
    top: 50px;
    left: 0px;
    right: 0px;
    border-top: 2px solid #ababab;
}

.contract-from-token-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contract-from-token-info .contract-from-token-info-label {
    color: #646464;
    font-weight: 500;
    font-size: 16px;
}

.contract-from-token-info mat-icon {
    color: #3f51b5;
    font-size: 40px;
    width: 40px;
    height: 40px;
}

.contract-form-base-token-count-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 30px;
}

.pair-loading {
    margin: 0 auto;
}

.exists-pairs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: darkgoldenrod;
    margin-bottom: 20px;
    gap: 20px;
}

.exists-pairs-warn-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}