<div class="dialog-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="dataForm" autocomplete="off" class="contract-form">
        <div
                *ngIf="!loading && !baseTokenCount.disabled && !oppositeTokenCount.disabled"
                class="token-info-block"
        >
            <p>
                <span>{{ baseTokenCount.value || 0 }} token[s] {{ baseTokenId.value }}</span> will
                be retired by
                <span>{{ oppositeTokenCount.value || 0 }} token[s] {{ oppositeTokenId.value }}</span>
            </p>
        </div>
        <div *ngIf="existsPairs?.length" class="token-error-block">
            <i class="pi pi-exclamation-triangle"></i>
            <p>
                Token or pair already exist in {{ existsPairs.length }} contract(s)
                <span>{{ existsPairs.join(", ") }}</span>
            </p>
        </div>
        <div style="padding: 0 10px 0 10px; overflow: unset">
            <h3>Your token to retire</h3>
            <p-dropdown
                    #operationDropdown
                    [disabled]="loading"
                    [options]="baseTokens"
                    formControlName="baseTokenId"
                    optionLabel="tokenName"
                    optionValue="tokenId"
                    placeholder="Token"
            >
            </p-dropdown>
            <div
                    *ngIf="baseTokenId.value"
                    class="token-amount-block"
            >
                <i class="pi pi-credit-card"></i>
                <p>{{ baseTokenId.value || '...' }} Token</p>
                <span *ngIf="!baseTokenCount.disabled" class="p-input-icon-left">
                    <i class="pi pi-wallet"></i>
                    <input
                            formControlName="baseTokenCount"
                            pInputText
                            placeholder="0"
                            type="number"
                            type="text"
                    />
                </span>
            </div>
        </div>
        <div
                style="
                margin-top: 48px;
                padding: 0 10px 0 10px;
                overflow: unset;
            "
        >
            <h3>Token to pair with (optional)</h3>
            <p-dropdown
                    #operationDropdown
                    [options]="oppositeTokens"
                    formControlName="oppositeTokenId"
                    optionLabel="tokenName"
                    optionValue="tokenId"
                    placeholder="Token"
            >
            </p-dropdown>
            <div
                    *ngIf="oppositeTokenId.value"
                    class="token-amount-block"
            >
                <i class="pi pi-credit-card"></i>
                <p>{{ oppositeTokenId.value || '...' }} Token</p>
                <span *ngIf="!oppositeTokenCount.disabled" class="p-input-icon-left">
                    <i class="pi pi-wallet"></i>
                    <input
                            formControlName="oppositeTokenCount"
                            pInputText
                            placeholder="0"
                            type="number"
                            type="text"
                    />
                </span>
            </div>
        </div>

        <ng-template #preloader>
            <div class="preloader-image"></div>
        </ng-template>

        <div *ngIf="loading" class="loading">
            <div class="preloader-image preloader-image-l-size"></div>
        </div>
    </form>
</div>
<div class="dialog-footer">
    <div class="action-buttons">
        <div class="cancel-button">
            <p-button
                    (click)="onNoClick()"
                    label="Cancel"
                    styleClass="p-button-outlined"
            ></p-button>
        </div>
        <div>
            <p-button (click)="onSubmit()" [disabled]="!dataForm.valid" label="Create"></p-button>
        </div>
    </div>
</div>
