<div class="container" (mousemove)="mousemove($event)" (mouseleave)="mouseleave($event)">
    <div #parent class="canvas">
        <canvas #canvas></canvas>
    </div>
    <div class="drop-container"
         #treeList="cdkDropList"
         cdkDropList
         onDragEntered
         [cdkDropListDisabled]="readonly"
         [cdkDropListConnectedTo]="menuList"
         (cdkDropListDropped)="drop($event)"
         (cdkDropListSorted)="onDragSorted($event)"
         (cdkDropListEntered)="onDragEntered($event)"
         [cdkDropListSortPredicate]="onDragSortPredicate"
    >
        <div *ngIf="data" class="tree" [attr.readonly]="readonly" [attr.move-actions]="visibleMoveActions">

            <div class="block-all-expand" (click)="onAllCollapse()" [attr.collapsed]="allCollapse">
                <i *ngIf="allCollapse === '2'" class="pi pi-arrow-up-right-and-arrow-down-left-from-center"></i>
                <i *ngIf="allCollapse !== '2'" class="pi pi-arrow-down-left-and-arrow-up-right-to-center"></i>
            </div>

            <ng-container *ngFor="let item of data">

                <div class="block-container {{getMenu(item)}}"
                     [attr.expandable]="item.expandable"
                     [attr.collapsed]="item.collapsed"
                     [attr.selected]="isSelect(item)"
                     [attr.error]="item.error ? true : null"
                     [attr.warning]="item.warning ? true : null"
                     [attr.info]="item.info ? true : null"
                     [attr.root]="item.root"
                     [attr.block-id]="item.id"
                     [attr.block-instance]="item.node.tag"
                     [attr.block-type]="item.type"
                     [style.paddingLeft]="item.offset"
                     cdkDrag
                     [cdkDragData]="item.level"
                     [cdkDragDisabled]="item.root"
                     [attr.deprecated]="item.deprecated"
                >
                    <div class="block-expand" (click)="onCollapse($event, item)">
                        <i class="pi pi-caret-down"></i>
                    </div>

                    <div *ngIf="isRootBlockStyle(item)" class="block-body module-body">
                        <div class="block-item" (click)="onSelect($event, item)">
                            <div class="module-item-icon">
                                <svg-icon src="/assets/images/icons/article.svg"
                                          svgClass="icon-style-article action-color"
                                          class="icon-style-article action-color"></svg-icon>
                            </div>

                            <div class="module-item-name">
                                Policy
                            </div>
                        </div>
                    </div>

                    <div *ngIf="isRootModuleStyle(item)" class="block-body module-body">
                        <div class="block-item" (click)="onSelect($event, item)">
                            <div class="module-item-icon">
                                <svg-icon src="/assets/images/icons/policy-module.svg" class="svg-icon"></svg-icon>
                            </div>
                            <div class="module-item-name">
                                Module
                            </div>
                        </div>
                    </div>

                    <div *ngIf="isRootToolStyle(item)" class="block-body module-body">
                        <div class="block-item" (click)="onSelect($event, item)">
                            <div class="module-item-icon">
                                <svg-icon src="/assets/images/icons/handyman.svg" svgClass="icon-style-handyman"></svg-icon>
                            </div>
                            <div class="module-item-name">
                                Tool
                            </div>
                        </div>
                    </div>

                    <div *ngIf="isBlockStyle(item)" class="block-body" [style]="blockStyle(item)">
                        <div *ngIf="hasTags(item)" class="block-tag-count">
                            <span>{{ getTagsAmount(item) }}</span>
                        </div>
                        <div class="block-item" (click)="onSelect($event, item)" theme-all>
                            <div class="block-item-icon">
                                <i [ngClass]="'pi pi-' + item.icon" class="theme-text"></i>
                            </div>
                            <div class="block-item-name" theme-text>
                                {{ item.node.localTag }}
                            </div>
                            <div *ngIf="isBlockSelected(item)" class="block-selected-mark">
                                <svg-icon 
                                    class="icon-btn"
                                    src="/assets/images/icons/check-fill.svg"
                                    svgClass="icon-color-primary">
                                </svg-icon>
                            </div>
                        </div>
                        <div class="block-menu">
                            <div class="move-actions-container"
                                 [attr.can-up]="item.canUp"
                                 [attr.can-down]="item.canDown"
                                 [attr.can-left]="item.canLeft"
                                 [attr.can-right]="item.canRight">
                                <button (click)="onDropUp($event)" mat-icon-button class="action-button move-action-up">
                                    <i class="pi pi-caret-up"></i>
                                </button>
                                <button (click)="onDropLeft($event)" mat-icon-button class="action-button move-action-left">
                                    <i class="pi pi-caret-left"></i>
                                </button>
                                <button (click)="onDropRight($event)" mat-icon-button class="action-button move-action-right">
                                    <i class="pi pi-caret-right"></i>
                                </button>
                                <button (click)="onDropDown($event)" mat-icon-button class="action-button move-action-down">
                                    <i class="pi pi-caret-down"></i>
                                </button>
                                <button (click)="onVisibleMoreActions($event)" mat-icon-button class="action-button move-more-action-button">
                                    <i class="pi pi-ellipsis-h"></i>
                                </button>
                            </div>
                            <div class="actions-container">
                                <button (click)="onVisibleMoreActions($event)" mat-icon-button class="action-button more-action-button">
                                    <i class="pi pi-ellipsis-h"></i>
                                </button>
                                <button (click)="onSearch($event)" mat-icon-button class="action-button">
                                    <i class="pi pi-search"></i>
                                </button>
                                <button *ngIf="isTest(item)" (click)="onTest($event)" mat-icon-button class="static-button action-button">
                                    <i class="pi pi-play"></i>
                                </button>
                                <button (click)="onDelete($event)" mat-icon-button class="action-button delete-action">
                                    <i class="pi pi-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="isModuleStyle(item)" class="block-body module-body">
                        <div class="block-item" (click)="onSelect($event, item)" (dblclick)="onOpen($event, item)">
                            <div class="module-item-icon">
                                <svg-icon src="/assets/images/icons/policy-module.svg" class="svg-icon"></svg-icon>
                            </div>
                            <div class="module-item-name">
                                {{ item.node.localTag }}
                            </div>
                        </div>
                        <div class="block-menu module-menu">
                            <div class="move-actions-container"
                                 [attr.can-up]="item.canUp"
                                 [attr.can-down]="item.canDown"
                                 [attr.can-left]="item.canLeft"
                                 [attr.can-right]="item.canRight"
                            >
                                <button (click)="onDropUp($event)" mat-icon-button class="action-button move-action-up">
                                    <i class="pi pi-caret-down"></i>
                                </button>
                                <button (click)="onDropLeft($event)" mat-icon-button class="action-button move-action-left">
                                    <i class="pi pi-caret-left"></i>
                                </button>
                                <button (click)="onDropRight($event)" mat-icon-button class="action-button move-action-right">
                                    <i class="pi pi-caret-right"></i>
                                </button>
                                <button (click)="onDropDown($event)" mat-icon-button class="action-button move-action-down">
                                    <i class="pi pi-caret-down"></i>
                                </button>
                                <button (click)="onVisibleMoreActions($event)" mat-icon-button class="action-button move-more-action-button">
                                    <i class="pi pi-ellipsis-h"></i>
                                </button>
                            </div>
                            <div class="actions-container">
                                <button (click)="onVisibleMoreActions($event)" mat-icon-button class="action-button more-action-button">
                                    <i class="pi pi-ellipsis-h"></i>
                                </button>
                                <button (click)="onDelete($event)" mat-icon-button class="action-button delete-action">
                                    <i class="pi pi-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="isToolStyle(item)" class="block-body tool-body">
                        <div *ngIf="hasTags(item)" class="block-tag-count">
                            <span>{{ getTagsAmount(item) }}</span>
                        </div>
                        <div class="block-item" (click)="onSelect($event, item)">
                            <div class="module-item-icon">
                                <svg-icon src="/assets/images/icons/handyman.svg" svgClass="icon-style-handyman"></svg-icon>
                            </div>
                            <div class="module-item-name">
                                {{ item.node.localTag }}
                            </div>
                        </div>
                        <div class="block-menu module-menu">
                            <div class="move-actions-container"
                                 [attr.can-up]="item.canUp"
                                 [attr.can-down]="item.canDown"
                                 [attr.can-left]="item.canLeft"
                                 [attr.can-right]="item.canRight"
                            >
                                <button (click)="onDropUp($event)" mat-icon-button class="action-button move-action-up">
                                    <i class="pi pi-caret-up"></i>
                                </button>
                                <button (click)="onDropLeft($event)" mat-icon-button class="action-button move-action-left">
                                    <i class="pi pi-caret-left"></i>
                                </button>
                                <button (click)="onDropRight($event)" mat-icon-button class="action-button move-action-right">
                                    <i class="pi pi-caret-right"></i>
                                </button>
                                <button (click)="onDropDown($event)" mat-icon-button class="action-button move-action-down">
                                    <i class="pi pi-caret-down"></i>
                                </button>
                                <button (click)="onVisibleMoreActions($event)" mat-icon-button class="action-button move-more-action-button">
                                    <i class="pi pi-ellipsis-h"></i>
                                </button>
                            </div>
                            <div class="actions-container">
                                <button (click)="onVisibleMoreActions($event)" mat-icon-button class="action-button more-action-button">
                                    <i class="pi pi-ellipsis-h"></i>
                                </button>
                                <button (click)="onDelete($event)" mat-icon-button class="action-button delete-action">
                                    <i class="pi pi-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

                <div
                    *ngIf="isSuggenstionEnabled && isSelect(item) && nestedBlock"
                    class="block-container preview"
                    [attr.expandable]="false"
                    [attr.selected]="false"
                    [attr.block-type]="nestedBlock.type"
                    [style.paddingLeft]="getNestedOffset(item.level+1)"
                    (click)="nested.emit(nestedBlock.type)"
                >
                    <div class="block-body"
                         [style]="blockStyle(nestedBlock)"
                         [pTooltip]="blockTypeTips[nestedBlock.type]"
                         tooltipPosition="top"
                         tooltipStyleClass="guardian-tooltip">
                        <div class="block-item" theme-all>
                            <div class="block-item-icon">
                                <i [ngClass]="'pi pi-' + nestedBlock.icon" class="theme-text"></i>
                            </div>
                            <div class="block-item-name" theme-text>
                                {{ nestedBlock.name }}
                            </div>
                        </div>
                    </div>

                    <div
                        *ngIf="isSuggenstionEnabled && nextBlock && isLatestBlockInSelect(item)"
                        (click)="next.emit(nextBlock.type)"
                        class="block-container preview"
                        [attr.expandable]="false"
                        [attr.selected]="false"
                        [attr.block-type]="nextBlock.type"
                        [style.paddingLeft]="selectedNode?.offset">
                        <div class="block-expand">
                            <i class="pi pi-caret-down"></i>
                        </div>
                        <div class="block-body"
                             [style]="blockStyle(nextBlock)"
                             [pTooltip]="blockTypeTips[nextBlock.type]"
                             tooltipPosition="bottom"
                             tooltipStyleClass="guardian-tooltip">
                            <div class="block-item" theme-all>
                                <div class="block-item-icon">
                                    <i [ngClass]="'pi pi-' + nextBlock.icon" class="theme-text"></i>
                                </div>
                                <div class="block-item-name" theme-text>
                                    {{ nextBlock.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div #tooltip class="tooltip"></div>
</div>
