.container {
    position: relative;
}

.canvas {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: visible;
}

.block-container {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 6px 6px 6px 0px;
    align-items: center;
    width: max-content;
    /* pointer-events: none; */
}

.block-container>* {
    pointer-events: all;
}

.block-container[root="true"] {
    height: 64px !important;
}

.drop-container {
    z-index: 1;
    position: relative;
    padding-bottom: 50px;
    min-height: 200px;
}

.tree {
    user-select: none;
}

.tree[readonly="true"] .block-container {
    height: 54px !important;
}

.tree[readonly="true"] .block-container[root="true"] {
    height: 64px !important;
}

.block-expand {
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;

    .pi-caret-down {
        margin: 5px
    }
}

.block-item {
    height: 34px;
    position: relative;
    min-width: 160px;
    background: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    margin: 4px 8px 4px 0px;
    box-shadow: 4px 4px 6px 0px #00000040;
    padding: 0px 12px;
    align-items: center;
    display: flex;
}

.block-item * {
    pointer-events: none !important;
}

.block-item:hover {
    filter: brightness(1.03);
}

.block-body {
    height: 42px;
    display: grid;
    grid-template-columns: auto 10px;
    position: relative;
}

.block-expand i,
.block-all-expand svg {
    position: absolute;
    left: 4px;
    top: 2px;
    color: var(--pc-header-color);
    font-size: 18px;
    width: 26px;
    height: 26px;
    padding: 3px;
    background: #f5f5f5;
}

.block-expand:hover i,
.block-all-expand svg {
    color: #000;
}

.block-container[expandable="false"] .block-expand {
    pointer-events: none !important;
    cursor: default;
}

.block-container[expandable="false"] .block-expand i,
.block-all-expand svg {
    display: none !important;
}

.block-container[collapsed="true"] .block-expand i,
.block-all-expand svg {
    transform: rotate(-90deg);
    left: 4px;
}

.block-container[selected="true"] .block-item {
    border-color: #5161e1 !important;
    box-shadow: 4px 4px 6px 0px #00000040, 0px 0px 4px 1px #5161e1cc !important;
}

.block-container[selected="true"] .module-body .block-item::after {
    border-color: #5161e1 !important;
    box-shadow: -1px -2px 2px 0px #5161e161 !important;
}

.block-container[error="true"] .block-item {
    border-color: var(--pc-error-border-strong) !important;
    background:   var(--pc-error-bg-strong) !important;
}

.block-container[error="true"] .module-body .block-item::after {
    border-color: var(--pc-error-border-strong) !important;
    background:   var(--pc-error-bg-strong) !important;
}

.block-container[error="true"] .tool-body .block-item::after {
    background-image:
        linear-gradient(180deg, #838383 3px, var(--pc-error-bg-strong) 3px),
        linear-gradient(180deg, var(--pc-error-bg-strong) 3px, #838383 3px) !important;
}

.block-container[error="true"][selected="true"] .block-item {
    border-color: var(--pc-error-border-strong) !important;
    box-shadow: 4px 4px 6px 0px #00000040, 0px 0px 5px 2px var(--pc-error-shadow) !important;
}

.block-container[error="true"][selected="true"] .module-body .block-item::after {
    border-color: var(--pc-error-border-strong) !important;
    box-shadow: -1px -2px 2px 0px #b8000061 !important;
}

.block-item-icon {
    position: absolute;
    top: 50%;
    left: 9px;
    color: #404040;
    transform: translate(0px, -50%);
    width: 18px;
    height: 18px;
}

.module-item-icon i,
.block-all-expand svg {
    top: 2px;
    left: 2px;
    position: relative;
    font-size: 24px;
    color: #404fb2;
}

.module-item-icon i,
.block-all-expand svg {
    position: relative;
    left: 0px;
    top: 0;
    height: 28px;
    width: 28px;
}

.tool-icon {
    color: #c37a29 !important;
}

.block-item-icon i,
.block-all-expand svg {
    font-size: 18px;
}

.block-item-name {
    padding: 2px 0px 2px 22px;
    overflow: hidden;
    max-width: 330px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #404040;
}

.block-container[block-type="UI Components"] .block-item {
    background: var(--pc-ui-block-background-color);
    border-color: var(--pc-ui-block-border-color);
}

.block-container[block-type="Server Blocks"] .block-item {
    background: var(--pc-server-block-background-color);
    border-color: var(--pc-server-block-border-color);
    border-radius: 20px;
}

.block-container[block-type="Addons"] .block-item {
    background: var(--pc-addon-block-background-color);
    border-color: var(--pc-addon-block-border-color);
    border-radius: 6px;
}

.block-container[block-type="module"] .block-item {
    background: white;
    border-color: #adadad;
}

.block-all-expand {
    position: absolute;
    left: 5px;
    top: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
}

.block-all-expand i,
.block-all-expand svg {
    position: absolute;
    left: 1px;
    top: 3px;
    color: var(--pc-header-color);
    width: 30px;
    height: 30px;
    font-size: 18px;
    background: #f5f5f5;
    padding: 4px;
}

.block-all-expand:hover i,
.block-all-expand svg {
    color: #000;
}


.tool-body,
.module-body {
    height: 52px !important;
}

.module-body .block-item::after {
    pointer-events: none !important;
    position: absolute;
    content: "";
    width: 40px;
    height: 8px;
    border: 2px solid #838383;
    top: -8px;
    left: 0px;
    border-bottom-width: 0;
    background: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    z-index: 2;
    box-sizing: border-box;
    transform: translate(-2px, 0px);
}

.tool-body .block-item::after {
    pointer-events: none !important;
    position: absolute;
    content: "";
    width: 6px;
    height: 36px;
    top: 0px;
    left: 3px;
    border-bottom-width: 0;
    z-index: 2;
    box-sizing: border-box;
    background-image:
        linear-gradient(180deg, #838383 3px, white 3px),
        linear-gradient(180deg, white 3px, #838383 3px);
    background-position: 0 0, 3px 0;
    background-size: 3px 6px, 3px 6px;
    background-repeat: repeat-y;
}

.tool-body .block-item,
.module-body .block-item {
    height: 40px;
    background: #fff !important;
    border-color: #838383 !important;
    padding: 2px 12px 2px 12px;
    margin: 8px 8px 3px 0px;
}

.module-item-icon {
    position: absolute;
    top: 3px;
    left: 8px;
    height: 28px;
    width: 28px;
    overflow: hidden;

    svg {
        fill: var(--pc-active-icon-color);
    }
}

.module-item-name {
    padding: 6px 16px 6px 35px;
    overflow: hidden;
    max-width: 330px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #404040;
    font-weight: 500;
    font-size: 16px;
}


.tooltip {
    position: absolute;
    left: 0px;
    top: 0px;
    pointer-events: none !important;
    transform: translate(-50%, -100%) translate(0, -5px);
    background: #fff;
    padding: 5px 15px;
    border: 1px solid #7c7c7c;
    border-radius: 4px;
    z-index: 9999;
    box-shadow: -1px 2px 3px 0px rgb(0 0 0 / 30%);
    min-width: 250px;
    transition: opacity 0.5s;
}

.tooltip::ng-deep span {
    font-weight: 500;
}

.tooltip::ng-deep .s1 span,
.tooltip::ng-deep .s2 span {
    color: #c53227;
}

.tooltip::ng-deep .s3 span,
.tooltip::ng-deep .s4 span {
    color: #35a307;
}

.tooltip::ng-deep .s2,
.tooltip::ng-deep .s4 {
    margin-bottom: 5px;
}

.block-menu {
    height: 40px;
    overflow: visible;
    display: none;
    align-items: center;
    position: absolute;
    right: 12px;
    top: 0px;
}

.module-menu.block-menu {
    top: 7px;
}

.action-button {
    background-color: white;
    font-size: 10px;
    border-radius: 5px;
    width: 31px;
    height: 31px;
    line-height: 0px;
    margin: 2px;
    color: #3f51b5;
    z-index: 2;
    border: 1px solid rgb(200 200 200);
    box-shadow: 2px 2px 6px 1px #00000035;
    cursor: pointer;

    * {
        pointer-events: none;
    }
}

.action-button:hover {
    background-color: #f5f5f5;
}

.delete-action {
    color: red;
}

.move-actions-container {
    display: none;
    align-items: center;
    justify-items: center;
    grid-template-rows: 34px 34px 34px;
    grid-template-columns: 34px 34px 34px;
    margin-right: 10px;
    grid-gap: 3px;
    width: 110px;
    height: 110px;
}

.move-more-action-button {
    box-shadow: 0px 0px 7px -1px #3f51b5a6, 0px 0px 20px 20px #f5f5f5 !important;
    z-index: 1 !important;
    grid-row: 2;
    grid-column: 2;
}

.move-action-up {
    grid-row: 1;
    grid-column: 1/4;
}

.move-action-left {
    grid-row: 2;
    grid-column: 1;
}

.move-action-right {
    grid-row: 2;
    grid-column: 3;
}

.move-action-down {
    grid-row: 3;
    grid-column: 1/4;
}

*[can-up="false"] .move-action-up {
    pointer-events: none;
    filter: grayscale(1);
    opacity: 0.3;
}

*[can-left="false"] .move-action-left {
    pointer-events: none;
    filter: grayscale(1);
    opacity: 0.3;
}

*[can-right="false"] .move-action-right {
    pointer-events: none;
    filter: grayscale(1);
    opacity: 0.3;
}

*[can-down="false"] .move-action-down {
    pointer-events: none;
    filter: grayscale(1);
    opacity: 0.3;
}

.tree[move-actions="1"] .move-actions-container {
    display: grid;
}

.tree[move-actions="1"] .more-action-button {
    display: none;
}

.tree[move-actions="1"] .block-container[selected="true"] .block-menu {
    height: 110px;
    top: -34px;
}

.tree[move-actions="1"] .block-container[selected="true"] .module-menu.block-menu {
    top: -26px;
}

.tree[move-actions="1"] .block-container[selected="true"] {
    height: 120px;
}

.block-container[selected="true"] .block-menu {
    display: flex;
}



.block-container[selected="true"] {
    &.block-menu-0 .block-body {
        grid-template-columns: auto 1px;
    }

    &.block-menu-0-full .block-body {
        grid-template-columns: auto 1px;
    }

    &.block-menu-1 .block-body {
        grid-template-columns: auto 56px;
    }

    &.block-menu-1-full .block-body {
        grid-template-columns: auto 56px;
    }

    &.block-menu-3 .block-body {
        grid-template-columns: auto 125px;
    }

    &.block-menu-3-full .block-body {
        grid-template-columns: auto 208px;
    }

    &.block-menu-4 .block-body {
        grid-template-columns: auto 160px;
    }

    &.block-menu-4-full .block-body {
        grid-template-columns: auto 243px;
    }
}

.tree[move-actions="0"] .actions-container {
    background-color: white;
    border: 1px solid rgb(200 200 200);
    box-shadow: 2px 2px 6px 1px #00000035;
    border-radius: 5px;
    padding: 1px;
}

.tree[move-actions="0"] .actions-container .action-button {
    border: 1px solid rgb(215 215 215);
    box-shadow: none;
}

.tree[readonly="true"],
.block-container[root="true"] {
    .block-menu {
        .action-button:not(.static-button) {
            display: none !important;
        }

        .move-actions-container {
            display: none !important;
        }
    }
}

// .tree[readonly="true"] .block-body,
// .block-container[root="true"] .block-body {
//     grid-template-columns: auto 1px !important;
// }

.block-container[deprecated="true"] .block-item {
    background-color: lightgray !important;
    border-color: lightgray !important;
}

.block-container[deprecated="true"] .block-item::after {
    content: "";
    width: 110%;
    height: 3px;
    background-color: black;
    position: absolute;
    left: -5%;
}

.block-container[selected="true"][deprecated="true"] .block-item {
    border-color: #5161e1 !important;
}

.cdk-drag-animating {
    transition: transform 50ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
    opacity: 0.4 !important;
    background: #e3e3e3 !important;
}

.cdk-drag-placeholder.block-container {
    width: auto;
}

.cdk-drag-placeholder .block-expand {
    opacity: 0 !important;
}

.cdk-drag-placeholder .block-menu {
    opacity: 0 !important;
}

.cdk-drag-preview .block-expand {
    opacity: 0 !important;
}

.cdk-drag-preview .block-menu {
    opacity: 0 !important;
}

.block-container.preview {
    opacity: 0.5;
}

.block-container[warning="true"] .block-item {
    border-color: var(--pc-warning-border-light) !important;
    background:  var(--pc-warning-bg-light) !important;
}
.block-container[warning="true"][selected="true"] .block-item {
    box-shadow: 4px 4px 6px 0px #00000040, 0 0 4px 1px var(--pc-warning-shadow) !important;
}
.block-container[warning="true"] .module-body .block-item::after {
    border-color: var(--pc-warning-border-light) !important;
    background:  var(--pc-warning-bg-light) !important;
}
.block-container[warning="true"] .tool-body .block-item::after {
    background-image:
        linear-gradient(180deg, #838383 3px, var(--pc-warning-bg-light) 3px),
        linear-gradient(180deg, var(--pc-warning-bg-light) 3px, #838383 3px) !important;
}

.block-container[info="true"] .block-item {
    border-color: #35a307 !important;
    background: #eaffea !important;
}
.block-container[info="true"][selected="true"] .block-item {
    box-shadow: 4px 4px 6px 0px #00000040, 0 0 4px 1px #35a307cc !important;
}
.block-container[info="true"] .module-body .block-item::after {
    border-color: #35a307 !important;
    background: #eaffea !important;
}
.block-container[info="true"] .tool-body .block-item::after {
    background-image:
        linear-gradient(180deg, #838383 3px, #eaffea 3px),
        linear-gradient(180deg, #eaffea 3px, #838383 3px) !important;
}

.block-body
.block-tag-count {
    position: absolute;
    right: 10px;
    top: 0;
    padding: 0 6px;
    text-align: center;
    min-width: 20px;
    border-radius: 16px;
    background-color: var(--color-primary, #4169E2);
    z-index: 10;

    &[selected="true"] {
        right: 0;
    }

    span {
        font-family: Inter, sans-serif;
        font-weight: 500;
        font-style: Medium;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0%;
        color: var(--color-grey-white, #FFFFFF);
    }
}

.block-body
.block-selected-mark {
    margin-top: 4px;
    margin-left: auto;

    span {
        font-family: Inter, sans-serif;
        font-weight: 500;
        font-style: Medium;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0%;
        color: var(--color-grey-white, #FFFFFF);
    }
}

.block-container[selected="true"]
.block-body .block-tag-count {
    right: 0;
}
