.menu-container {
    display: flex;
    flex-direction: column;
    padding: 4px 0px;

    button {
        height: 36px;
        border: none !important;
        border-radius: 0px !important;
        padding: 0px 16px;
        justify-content: flex-start;
    }
}