.context {
  position: relative;
  overflow-y: auto;
  padding: 20px 0 20px 0;
}

.loading {
  background: #fff;
  position: absolute;
  z-index: 99;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
}

.action-buttons {
  display: flex;
}

.cancel-button {
  margin-left: auto;
  margin-right: 15px;
}

::ng-deep {
  .p-button {
    border-radius: 8px;
  }

  .p-dropdown {
    width: 100%;
  }

  .p-multiselect {
    width: 100%;
  }

  .p-focus {
    box-shadow: none !important;
  }
}

.policy-dropdown-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.form-label {
  color: #181818;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

.dialog-body {
  height: auto;
  overflow-y: auto;
}

::ng-deep {
  .p-dialog-title {
    font-family: Poppins, sans-serif;
    font-size: 24px !important;
    font-style: normal;
    font-weight: 600 !important;
  }

  .p-dialog {
    box-shadow: none;
  }

  .p-dialog-header {
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
  }

  .p-dialog-content {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}

:host ::ng-deep {
  .p-dropdown, .p-multiselect {
    width: 100%;
    border-radius: 8px !important;
    border: 1px solid var(--color-grey-3, #E1E7EF);
    background: var(--color-grey-white, #FFF);
    outline: none !important;
    box-shadow: unset !important;
    padding: 4px 0 4px 16px;
    align-items: center;
    align-self: stretch;
    transition: border 0.25s ease-in-out;
    box-sizing: border-box;

    color: var(--color-grey-black-1, #181818);
    font-family: Inter, sans-serif !important;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 16px;
  }

  .p-dropdown-items {
    width: 100%;
  }
}
