.context {
    position: relative;
    overflow-y: auto;
    padding: 5px 3px 20px 3px;
    display: flex;
    flex-direction: column;
    height: 100%;

    .filters {
        display: flex;
        flex-direction: column;
        width: 100%;

        .filter-row {
            height: 40px;
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: row;

            .guardian-dropdown {
                max-width: 260px;
                min-width: 260px;
                height: 40px;
                margin-right: 16px;
            }
        }

        .filter-group {
            margin-top: 16px;
            width: 100%;
            height: 132px;
            padding: 16px;
            border-radius: 8px;
            border: 1px solid #C4D0E1;
            background: #F9FAFC;

            .filter-row {
                margin-bottom: 16px;

                .guardian-dropdown  {
                    margin-right: 16px;
                    max-width: 100%;
                    min-width: 100%;
                }
            }

            .filter {
                width: 50%;
                display: flex;
                flex-direction: row;

                &:first-of-type {
                    padding-right: 8px;
                }

                &:last-of-type {
                    padding-left: 8px;
                }
            }
        }

        .type-dropdown {
            max-width: 260px;
            width: 100%;
            height: 40px;
            margin-right: 16px;

            &::ng-deep {
                .p-dropdown {
                    width: 100%;
                    height: 40px;
                    border: 1px solid #e1e7ef;
                    border-radius: 8px;
                }
            }
        }

        .p-input-icon-right {
            width: 100%;
        }

        .search-policy-input {
            width: 100%;
            height: 40px;
            border: 1px solid #e1e7ef;
            border-radius: 8px;
            padding-left: 16px;
            position: relative;

            &:hover {
                border-color: #2196F3;
            }

            &:focus {
                outline: 1px solid #2196F3;
            }
        }

        .guardian-button {
            width: 150px;
            min-width: 150px;
            max-width: 150px;
            margin-left: 12px;
            padding: 6px 12px;
        }
    }

    .empty-grid {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: auto;
        height: 100%;
        justify-content: center;
        align-items: center;
        color: #848FA9;

        .empty-grid-icon {
            margin-bottom: 2px;
        }

        .empty-grid-header {
            font-weight: 500;
            margin-bottom: 4px;
        }
    }

    .grid-container {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: auto;

        .col-auto {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .col-250 {
            width: 250px;
            min-width: 250px;
            max-width: 250px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .col-200 {
            width: 200px;
            min-width: 200px;
            max-width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .col-120 {
            width: 75px;
            min-width: 75px;
            max-width: 75px;
        }

        .col-80 {
            width: 80px;
            min-width: 80px;
            max-width: 80px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .col-64 {
            width: 64px;
            min-width: 64px;
            max-width: 64px;
            overflow: hidden;
            text-align: center;
        }

        .grid-header {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 46px;
            min-height: 46px;
            max-height: 46px;

            &>div {
                font-weight: 500;
                padding: 12px 4px;
            }
        }

        .grid-body {
            display: flex;
            flex-direction: column;
            width: 100%;
            border: 1px solid #E1E7EF;
            border-radius: 6px;

            .grid-row {
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 64px;
                min-height: 64px;
                max-height: 64px;
                border-bottom: 1px solid #E1E7EF;
                cursor: pointer;

                &>div {
                    padding: 22px 6px;
                }

                &:hover {
                    background: #f1f1f1;
                }
            }
        }
    }

    .checkbox-input {
        width: 16px;
        height: 16px;
        cursor: pointer;
    }
}

.dialog-body {
    height: 45vh;
    overflow-y: auto;
}

.dropdown-type {
    color: #848FA9;
    padding: 0px 8px 0px 0px;
}