
<div *ngIf="formModel" class="type-selector">
    <label for="maxcc">Maxcc</label>
    <input id="maxcc" type="number" pInputText [formControl]="formModel.getControlByName('maxcc')" required />
</div>
<div *ngIf="formModel" class="type-selector">
    <label for="width">Width</label>
    <input id="width" type="number" pInputText [formControl]="formModel.getControlByName('width')" required />
</div>
<div *ngIf="formModel" class="type-selector">
    <label for="height">Height</label>
    <input id="height" type="number" pInputText [formControl]="formModel.getControlByName('height')" required />
</div>
<div *ngIf="formModel" class="type-selector">
    <label for="bbox">BBox</label>
    <input id="bbox" type="text" pInputText [formControl]="formModel.getControlByName('bbox')"
           required placeholder="11111,22222,33333,44444" pattern="\d+,\d+,\d+,\d+" />
</div>
<div class="type-selector">
    <label for="from">From</label>
    <p-calendar #dateFrom id="from" [formControl]="fromControl" [showTime]="false" appendTo="body"></p-calendar>
</div>
<div class="type-selector">
    <label for="to">To</label>
    <p-calendar #dateTo id="to" [formControl]="toControl" [showTime]="false" appendTo="body"></p-calendar>
</div>
<img *ngIf="formattedImageLink" [src]="formattedImageLink" class="image" />
