.mat-button-base:not([started]) {
    background-color: rgba(0,0,0,.12);
}

.json {
    word-break: keep-all;
    white-space: pre;
    margin-bottom: 8px;
    font-family: monospace;
    overflow: auto;
    cursor: text;
}

.content {
    height: 550px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 10px;
}

.dialog-content {
    overflow: hidden;
}

.view-toggle {
    float: right
}

.dialog-title {
    display: inline-block;
}

.dialog-actions {
    padding-bottom: 20px;
}
