MQ_ADDRESS="message-broker"
SERVICE_CHANNEL="ui-service"
MRV_ADDRESS="http://message-broker:3003/mrv"
ACCESS_TOKEN_SECRET="youraccesstokensecret"
DB_HOST="mongo"
DB_DATABASE="ui_db"
OPERATOR_ID="<%= GUARDIAN_OPERATOR_ID %>"
OPERATOR_KEY="<%= GUARDIAN_OPERATOR_KEY %>"
