.content {
    position: relative;
    display: block;
    background: #fff;
    width: 100%;
}

.loading {
    background: #fff;
    position: fixed;
    z-index: 99;
    top: var(--header-height-policy);
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.table {
    width: 100%;
}

.viewer {
    color: #0000ee;
    cursor: pointer;
}

.viewer:hover {
    text-decoration: underline;
}

.btn-approve {
    background: #4caf50;
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    padding: 2px 8px;
    margin: 0px 5px;
    cursor: pointer;
    font-weight: 500;
}

.btn-reject {
    background: #f44336;
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    padding: 2px 8px;
    margin: 0px 5px;
    cursor: pointer;
    font-weight: 500;
}

.status-NEW {
    color: #0000ee;
}
.status-APPROVED {
    color: #4caf50;
}
.status-REJECTED {
    color: #f44336;
}

.btn-field {
    height: 20px;
    width: 250px;
    overflow: hidden;
    cursor: pointer;
    font-size: 12px;
    color: #6166ff;
    position: relative;
    font-weight: 500;
}
.btn-field span {
    pointer-events: none;
}

.btn-field:hover {
    text-decoration: underline;
}

.table tr.mat-row td {
    max-width: 50vw;
    overflow: hidden;
    text-overflow: ellipsis;
}

.col-btn {
    white-space: nowrap;
}
