<div class="content" [hidden]="!isActive">
    <div *ngIf="loading" class="loading">
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="addons && addons.length" class="grid-filters">
        <div *ngFor="let block of addons" class="grid-filter">
            <render-block [block]="block" [policyId]="policyId"></render-block>
        </div>
    </div>
    <div *ngIf="fields && documents">
        <table mat-table [dataSource]="documents" class="table">
            <ng-container *ngFor="let field of fields" [matColumnDef]="field.index">
                <th mat-header-cell *matHeaderCellDef>
                    {{field.title}}
                    <help-icon *ngIf="field.tooltip" [text]="field.tooltip"></help-icon>
                </th>
                <td mat-cell *matCellDef="let element" let>
                    <div [style.width]="field.width">
                        <div *ngIf="getGroup(element, field) as option">
                            <span *ngIf="option.type=='text'" class="text" [title]="getText(element, option)">
                                {{getText(element, option)}}
                            </span>
                            <span *ngIf="option.type=='button'" class="col-btn">
                                <div class="btn-field {{option.uiClass}}" (click)="onButton($event, element, option)">
                                    {{getText(element, option)}}</div>
                            </span>
                            <div *ngIf="option.type=='block'" class="col-btn">
                                <render-block [block]="option._block"
                                    [static]="getConfig(element, option, option._block)" [policyId]="policyId">
                                </render-block>
                            </div>
                        </div>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>
    </div>

    <div *ngIf="children" class="grid-children">
        <div *ngFor="let child of children" class="grid-child">
            <render-block [block]="child" [policyId]="policyId"></render-block>
        </div>
    </div>
</div>