.mat-button-base:not([started]) {
    background-color: rgba(0,0,0,.12);
}

.mat-dialog-content {
    overflow: visible;
}

.mat-dialog-actions {
    padding: 15px 0;
}

.description {
    margin-bottom: 20px;
}

.g-dialog-actions-btn {
    min-width: 210px !important;
}

form {
    display: flex;
    flex-direction: column;
    overflow: visible;
}