<div class="annotation-block">
  <div class="header">
    <div class="logotype">
    </div>
    <h1>Project Comparison</h1>
    <h6>The Guardian provides tools to compare carbon projects, offering clear insights into <br>
        emissions reductions, sustainability benefits, and alignment with climate goals.</h6>

    <div class="counter-container">
      <div class="item">
        <h3>{{ counters.registeredProjects }}</h3>
        <h6>Registered projects</h6>
      </div>
      <div class="bounder"></div>
      <div class="item">
        <h3>{{ counters.registeredPoAs }}</h3>
        <h6>Registered PoAs</h6>
      </div>
      <div class="bounder"></div>
      <div class="item">
        <h3>{{ counters.cERsIssuedForProgrammeOfActivities }}</h3>
        <h6>CERs Issued for Programme of Activities</h6>
      </div>
      <div class="bounder"></div>
      <div class="item">
        <h3>{{ counters.cERsIssuedForProjectActivities }}</h3>
        <h6>CERs Issued for Project Activities</h6>
      </div>
    </div>
  </div>
</div>
<app-projects-overview></app-projects-overview>
