form {
    display: flex;
    flex-direction: column;
    width: calc(80vw - 65px);
    max-width: 1220px;
    height: calc(100vh - 200px);
    max-height: 750px;
    padding: 10px;
    overflow: scroll;
}

.textarea-message {
    min-height: 100px;
    height: calc(100vh - 600px);
    max-height: 260px;
}

.textarea-attributes {
    min-height: 100px;
    height: calc(100vh - 780px);
    max-height: 190px;
}