form {
    display: flex;
    flex-direction: column;
    width: 800px;
    max-width: 100%;
    padding: 10px;
    max-height: 800px;
    overflow: scroll;
}

.textarea-message {
    min-height: 150px;
}

.textarea-attributes {
    min-height: 75px;
}