<div class="content header">
    <mat-toolbar color="primary">
        <span class="btn-home" (click)="onHome()">Guardian</span>

        <div *ngIf="links" class="nav-bar">
            <nav mat-tab-nav-bar backgroundColor="primary" animationDuration="0ms">
                <a mat-tab-link *ngFor="let link of links" (click)="rout(link)"
                    [disabled]="link.disabled || commonLinksDisabled" [active]="isActive(link)"
                    [attr.hidden]="isHidden(link)"> {{link.name}} </a>
            </nav>
        </div>

        <span class="example-spacer"></span>

        <button mat-icon-button class="user-content" [matMenuTriggerFor]="menu">
            <div class="user-info">
                <div *ngIf="username; else notLogged" class="example-icon user-name">
                    <div class="user-balance" [attr.balance-type]="balanceType">{{balance}}</div>
                    <span>{{username}}</span>
                </div>
                <ng-template #notLogged>
                    <div class="example-icon admin-panel">
                        <span>Demo Admin Panel</span>
                    </div>
                </ng-template>
                <div class="user-info-icon">
                    <mat-icon>{{menuIcon}}</mat-icon>
                </div>
            </div>
        </button>

        <mat-menu #menu="matMenu">
            <!-- <button *ngIf="!isLogin" mat-menu-item (click)="logIn()">Log in</button> -->
            <!-- <button *ngIf="isLogin" mat-menu-item (click)="profile()">Profile</button> -->
            <button *ngIf="isLogin" mat-menu-item (click)="logOut()">Log out</button>

            <div *ngIf="!isLogin" mat-menu-item style="
                background: white;
                max-height: 345px;
                height: auto;
                width: 470px;
                border-radius: 30px;
                overflow: scroll;">
                <div class="debug-user">
                    <button mat-raised-button (click)="authState.doLogin('StandardRegistry','test')">Standard
                        Registry</button>
                    <button mat-raised-button (click)="authState.doLogin('Installer','test')">Installer</button>
                    <button mat-raised-button (click)="authState.doLogin('Installer2','test')">Installer 2</button>
                    <button mat-raised-button (click)="authState.doLogin('Auditor','test')">Auditor</button>
                    <button mat-raised-button (click)="authState.doLogin('Registrant','test')">Registrant</button>
                    <button mat-raised-button (click)="authState.doLogin('VVB','test')">VVB</button>
                    <button mat-raised-button (click)="authState.doLogin('ProjectProponent','test')">Project
                        Proponent</button>
                    <button mat-raised-button (click)="authState.doLogin('Verra','test')">Verra</button>
                </div>
                <div class="debug-user">
                    <div class="current-user"
                        *ngFor="let user of testUsers$ | async as users; index as i; first as isFirst"
                        (click)="authState.doLogin(user.username, 'test')"
                        [ngClass]="{ 'current-user-first' : isFirst, 'current-user-last': i === users.length - 1 }">
                        <div class="current-user-name"><span>{{user.username}}</span> <span
                                class="current-user-role">({{user.role}})</span></div>
                        <div class="current-user-policy-roles" *ngIf="user.policyRoles && user.policyRoles.length"
                            [matTooltip]="getPoliciesRolesTooltip(user.policyRoles)"
                            matTooltipClass="policy-roles-tooltip">
                            <b>User participates in {{user.policyRoles.length}} policies</b>
                        </div>
                    </div>
                </div>
            </div>
        </mat-menu>
    </mat-toolbar>
</div>