@media (max-width: 780px) {
    .nav-bar {
        width: 100% !important;
        padding: 0px !important;
    }
    .user-content-info {
        align-self: center;
    }
    .user-content-info.user-logged {
        transform: translate(60px, 0px);
    }
    ::ng-deep .mat-toolbar-single-row {
        flex-direction: column !important;
        padding: 0px !important;
    }
    .btn-home {
        font-size: 35px !important;
        line-height: 27px !important;
        padding-top: 5px;
    }
    .user-name {
        padding: 3px 50px 0px 150px !important;
    }
}

.user-content-info {
    flex: 1 1 auto;
    justify-content: flex-end;
    display: flex;
    min-width: 270px;
}

.nav-bar {
    padding: 0px 120px 0px 30px;
    min-width: 210px;
}

::ng-deep .nav-bar .mat-tab-nav-bar.mat-background-primary>.mat-tab-header-pagination {
    background-color: unset;
}

.content {
    position: relative;
    height: var(--header-height);
    user-select: none;
}

.content.header .mat-toolbar.mat-primary {
    background-color: transparent;
}

::ng-deep .mat-tab-nav-bar.mat-background-primary>.mat-tab-link-container {
    background-color: transparent;
    transition: background-color .3s linear;
}

::ng-deep .mat-tab-nav-bar.mat-background-primary>.mat-tab-link-container .mat-tab-link {
    font-size: 20px;
    line-height: 23px;
    font-weight: normal;
    color: #fff;
    opacity: 1;
    transition: color .3s linear;
    padding: 0 10px;
    min-width: 140px;
}

::ng-deep .mat-toolbar-row,
::ng-deep .mat-toolbar-single-row {
    height: var(--header-height);
}

.user-name {
    padding: 3px 56px 0px 160px;
    position: relative;
    height: 48px;
    font-size: 20px;
    box-sizing: border-box;
}

.user-name mat-icon {
    position: absolute;
    left: 0;
    top: 9px;
}

.admin-panel {
    padding: 3px 56px 0px 35px;
    position: relative;
    height: 48px;
    font-size: 20px;
    box-sizing: border-box;
    color: #fff;
}
.admin-panel + .user-info-icon mat-icon {
    color: #fff;
}

mat-icon {
    color: rgba(255, 255, 255, 0.54);
    width: 48px;
    height: 48px;
    line-height: 48px !important;
    font-size: 48px;
    position: relative;
    left: 0px;
}

a[hidden="true"] {
    display: none;
}

.btn-home {
    cursor: pointer;
    font-size: 40px;
    line-height: 45px;
    font-weight: bold;
    color: #fff;
    transition: color .3s linear;
}

.current-user-name {
    font-size: 20px;
    line-height: 0px;
    display: inline-block;
}

.current-user-role {
    font-size: 16px;
    line-height: 0px;
    color: #707070;
    margin-left: 5px;
}

.current-user {
    border-bottom: 1px dashed gray;
}

.debug-user button {
    width: 145px;
    padding: 0 15px;
    margin: 5px 4px;
}

.debug-user {
    white-space: normal;
}

.user-info {
    display: table;
    position: absolute;
    top: 0;
    right: 0;
}

.user-info-icon {
    position: absolute;
    right: 0px;
    top: 0;
    height: 48px;
    width: 48px;
}

.user-content {
    height: 48px;
    width: 48px;
    overflow: visible;
    position: relative;
    margin-right: 20px;
    justify-self: flex-end;
}

.current-user-policy-roles {
    line-height: 0px;
    margin-bottom: 15px;
    color: var(--button-primary-color);
}

::ng-deep .policy-roles-tooltip  {
    white-space: pre-line !important;
    max-width: 350px !important;
    font-size: 15px;
    width: 100%;
}

.current-user-first {
    margin-top: 20px;
}

.current-user-last {
    border: unset;
}

.user-balance {
    position: absolute;
    left: 145px;
    top: 4px;
    transform: translate(-100%, 0);
    background: #fff;
    border-radius: 20px;
    padding: 0px 14px;
    box-sizing: border-box;
    height: 40px;
    line-height: 36px;
    color: #818181;
    border: 2px solid #aeaeae;
    box-shadow: inset 0px 0px 6px 0px #aeaeae;
}

.user-balance[balance-type='error'] {
    color: #d80000;
    border: 2px solid #db0000;
    box-shadow: inset 0px 0px 6px 0px #db0000;
}

.user-balance[balance-type='warn'] {
    color: #c8b100;
    border: 2px solid #c8bc00;
    box-shadow: inset 0px 0px 6px 0px #c8bc00;  
}

.user-balance[balance-type='normal'] {
    color: #0f8300;
    border: 2px solid #14ae00;
    box-shadow: inset 0px 0px 6px 0px #14ae00;
}