.example-spacer {
    flex: 1 1 auto;
}

.nav-bar {
    padding: 0px 120px 0px 30px;
}

.content {
    position: relative;
    height: var(--header-height);
}

.content.header .mat-toolbar.mat-primary {
    background-color: transparent;
}

::ng-deep .mat-tab-nav-bar.mat-background-primary>.mat-tab-link-container {
    background-color: transparent;
    transition: background-color .3s linear;
}

::ng-deep .mat-tab-nav-bar.mat-background-primary>.mat-tab-link-container .mat-tab-link {
    font-size: 20px;
    line-height: 23px;
    font-weight: normal;
    color: #fff;
    opacity: 1;
    transition: color .3s linear;
    padding: 0 10px;
    min-width: 140px;
}

::ng-deep .mat-toolbar-row,
::ng-deep .mat-toolbar-single-row {
    height: var(--header-height);
}

.user-name {
    padding: 3px 56px 0px 35px;
    position: relative;
    height: 48px;
    font-size: 20px;
    box-sizing: border-box;
}

.user-name mat-icon {
    position: absolute;
    left: 0;
    top: 9px;
}

.admin-panel {
    padding: 3px 56px 0px 35px;
    position: relative;
    height: 48px;
    font-size: 20px;
    box-sizing: border-box;
    color: #fff;
}
.admin-panel + .user-info-icon mat-icon {
    color: #fff;
}

mat-icon {
    color: rgba(255, 255, 255, 0.54);
    width: 48px;
    height: 48px;
    line-height: 48px !important;
    font-size: 48px;
    position: relative;
    left: 0px;
}

a[hidden="true"] {
    display: none;
}

.btn-home {
    cursor: pointer;
    font-size: 40px;
    line-height: 45px;
    font-weight: bold;
    color: #fff;
    transition: color .3s linear;
}

.current-user-name {
    font-size: 20px;
    line-height: 0px;
    display: inline-block;
}

.current-user-role {
    font-size: 16px;
    line-height: 0px;
    color: #707070;
    margin-left: 5px;
}

.current-user {
    border-bottom: 1px dashed gray;
}

.debug-user button {
    width: 145px;
    padding: 0 15px;
    margin: 5px 4px;
}

.debug-user {
    white-space: normal;
}

.user-info {
    display: table;
    position: absolute;
    top: 0;
    right: 0;
}

.user-info-icon {
    position: absolute;
    right: 0px;
    top: 0;
    height: 48px;
    width: 48px;
}

.user-content {
    height: 48px;
    width: 48px;
    overflow: visible;
    position: relative;
    margin-right: 20px;
}

.current-user-policy-roles {
    line-height: 0px;
    margin-bottom: 15px;
    color: var(--button-primary-color);
}

::ng-deep .policy-roles-tooltip  {
    white-space: pre-line !important;
    max-width: 350px !important;
    font-size: 15px;
    width: 100%;
}

.current-user-first {
    margin-top: 20px;
}

.current-user-last {
    border: unset;
}