<div class="content" [hidden]="!isActive" [attr.readonly-block]="readonly">
  @if (type == 'loader') {
    <div>
      <div class="preloader-image preloader-image-l-size"></div>
    </div>
  }
  @if (type == 'text') {
    <div>
      <div class="title">{{ title }}</div>
      <div class="description">{{ description }}</div>
    </div>
  }
</div>

<ng-template #preloader>
  <div class="preloader-image"></div>
</ng-template>

@if (loading) {
  <div class="loading">
    <div class="preloader-image preloader-image-l-size"></div>
  </div>
}