h1 {
  font-family: Merriweather Sans, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.projects-overview {
  height: auto;
  box-sizing: border-box;
  background: var(--grey-grey-1, #F9FAFC);

  .inner {
    padding: 64px 80px 16px 80px;
  }

  .header {
    width: 100%;
    height: min-content;
  }

  .container {
    display: flex;
    column-gap: 16px;
    justify-content: space-between;

    width: 100%;
    margin-top: 24px;

    .left-container {
      width: 262px;
    }

    .right-container {
      width: calc(100% - 278px);

      display: flex;
      flex-direction: column;

      .toolbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        row-gap: 10px;

        .search-input {
          min-width: 400px;
        }

        .sort-by-dropdown {
          min-width: 400px;
        }
      }

      .table {
        padding: 10px;
        max-height: 420px;
        // overflow-y: auto;
      }
    }
  }
}

:host ::ng-deep .p-dropdown {
  min-width: 300px !important;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;

  border-radius: 8px;
  border: 1px solid var(--grey-grey-3, #E1E7EF);
  background: var(--grey-white, #FFF);

  .container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 16px 0 16px;
    row-gap: 16px;
  }

  .footer {
    width: 100%;
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    column-gap: 14px;

    border-top: 1px solid var(--grey-grey-3, #E1E7EF);
    background: var(--grey-grey-2, #EFF3F7);
  }
}

.input-item {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  width: 100%;

  .inline-fields {
    width: 100%;
    display: flex;
    column-gap: 8px;

    .divide {
      width: 50%;
    }
  }

  span {
    color: var(--grey-black-1, #181818);
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
  }
}

.choose-button {
  ::ng-deep .p-button {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: var(--primary-primary, #4169E2);
  }
}

::ng-deep {
  .p-inputwrapper {
    min-width: 0 !important;
  }

  .p-dropdown, .p-multiselect {
    width: 100%;
    max-width: 228px;
    max-height: 40px;
    border-radius: 6px;
    background: var(--grey-white, #FFF);

    .p-dropdown-label {
      color: var(--primary-primary, #4169E2);
      font-family: Inter, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px; /* 114.286% */
    }
  }

  .p-dropdown {
    border: 1px solid var(--primary-primary, #4169E2);
    width: 250px;
  }

  .p-multiselect-header {
    .p-multiselect-close, .p-checkbox {
      display: none !important;
    }
  }

  .p-inputtext {
    padding: 9px;
    box-sizing: border-box;
  }
}

.height-28 {
  max-height: 28px;
}

.actions-container {
  position: sticky;
  top: 0;
  width: 100%;

  display: inline-flex;
  padding: 12px 80px 12px 80px;
  align-items: center;
  justify-content: space-between;

  max-height: 64px;
  min-height: 64px;

  border-top: 1px solid var(--grey-grey-3, #E1E7EF);
  background: var(--grey-white, #FFF);
}

.w-180 {
  width: 180px;
}

.projects-selected-counter {
  color: var(--grey-grey-6, #848FA9);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;

  strong {
    font-weight: 700;
  }
}

.table-container {
  margin-top: 16px;
  max-height: calc(120%);
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
  overflow: visible;
}

.row-header {
  border-radius: 8px 8px 0 0;
}

th {
  color: var(--color-grey-5);
  font-family: Inter, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  padding: 0 20px 0 24px;
  text-transform: uppercase;
}

.table-paginator {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 24px;
  padding: 0 16px 0 0;

  color: var(--color-grey-black-2, #23252e);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
}

.color-grey-6 {
  color: var(--color-grey-5, #848fa9);
}

.row-item,
.table-paginator {
  height: 64px !important;
  border-radius: 8px !important;
  background: #fff;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08) !important;
}

td {
  color: var(--color-grey-black-1);
  font-family: Inter, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  padding: 0 20px 0 24px;
}

td:first-child {
  border-radius: 8px 0 0 8px;
}

td:last-child {
  border-radius: 0 8px 8px 0;
}

.not-exist {
  transform: translateY(150px);
  color: var(--grey-grey-6);
  font-family: Inter, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
  justify-content: center;
}

.info-text {
  color: var(--color-grey-5, #848FA9);
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.info-text-strong {
  color: var(--color-grey-5, #848FA9);
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.disabled-color {
  fill: var(--grey-grey-6);
}

.sort-by-label {
  color: var(--grey-grey-6, #848FA9);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.preloader-image {
  width: 16px;
  height: 16px;
  border-top: 3px solid var(--primary-primary);
  border-left: 3px solid rgba(0, 0, 0, 0);
  border-right: 3px solid rgba(0, 0, 0, 0);
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  border-radius: 100%;
  filter: brightness(100%);
  animation-name: preloaderRotationColored;
  animation-duration: 7.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.preloader-image-l-size {
  width: 56px;
  height: 56px;
}

@keyframes preloaderRotationColored {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  25% {
    transform: rotate(360deg);
    border-top: 3px solid rgba(0, 0, 0, 0);
    border-right: 3px solid var(--primary-primary);
    border-left: 3px solid rgba(0, 0, 0, 0);
    border-bottom: 3px solid rgba(0, 0, 0, 0);
  }
  50% {
    transform: rotate(720deg);
    border-top: 3px solid rgba(0, 0, 0, 0);
    border-left: 3px solid rgba(0, 0, 0, 0);
    border-bottom: 3px solid var(--primary-primary);
    border-right: 3px solid rgba(0, 0, 0, 0);
  }
  75% {
    transform: rotate(1080deg);
    border-top: 3px solid rgba(0, 0, 0, 0);
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    border-right: 3px solid rgba(0, 0, 0, 0);
    border-left: 3px solid var(--primary-primary);
  }
  100% {
    transform: rotate(1440deg);
    border-top: 3px solid var(--primary-primary);
    border-left: 3px solid rgba(0, 0, 0, 0);
    border-right: 3px solid rgba(0, 0, 0, 0);
    border-bottom: 3px solid rgba(0, 0, 0, 0);
  }
}

.button {
  height: 40px;
  border-radius: 8px;
  background: var(--primary-primary);
  border: 0 !important;
  color: var(--grey-white);
  font-family: Inter, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  white-space: nowrap;
}

.button:hover {
  background: var(--primary-primary);
  filter: brightness(1.05);
}

.secondary {
  background: transparent !important;
  border: 1px solid var(--primary-primary) !important;
  color: var(--primary-primary) !important;
}

.secondary:hover {
  background: var(--grey-grey-3) !important;
  color: var(--primary-primary) !important;
}

.button[disabled], .secondary[disabled], .button[disabled]:hover, .secondary[disabled]:hover {
  background: var(--grey-grey-3) !important;
  color: var(--grey-grey-6) !important;
  cursor: no-drop;
  filter: brightness(1);
}
