<div class="g-dialog-content">
    <div class="g-dialog-header">
        <div class="g-dialog-cancel">
            <div class="g-dialog-cancel-btn" (click)="onNoClick()">
                <mat-icon>close</mat-icon>
            </div>
        </div>
        <div class="g-dialog-title">
            {{title}}
        </div>
    </div>
    <div class="g-dialog-body">
        <div style="padding: 10px 15px 30px 15px">
            <div *ngIf="loading" class="loading">
                <mat-spinner></mat-spinner>
            </div>
            <div class="tags">
                <div *ngFor="let item of tags" class="tag-item" 
                    [attr.count]="item.count"
                    [attr.selected]="item === select" 
                    [attr.owner]="item.owner"
                    (click)="onSelect(item)">
                    <mat-icon class="tag-icon">sell</mat-icon>
                    <div class="tag-name">
                        {{item.name}}
                    </div>
                    <div class="tag-count">
                        {{item.count}}
                    </div>
                </div>
                <div class="tag-item new-tag" (click)="onAdd()">
                    <mat-icon class="tag-icon">add</mat-icon>
                    <div class="tag-name">
                        Create Tag
                    </div>
                </div>
            </div>

            <div *ngIf="select" class="details">
                <div *ngFor="let item of select.items" class="detail-item">
                    <div class="tag-owner">{{item.owner}}</div>
                    <div *ngIf="item.owner === owner" class="delete-tag">
                        <mat-icon>delete</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>