<div class="content" [style.min-width.px]="minWidth">
  @if (!headers.length && type==='tree' && showTotal) {
    <div class="total-info" [attr.total]="totalRate">
      Documents are <span>{{ totalRate }}%</span> the same.
    </div>
  }

  @if (headers.length && type==='tree') {
    <div class="item-headers" [style.grid-template-columns]="_gridStyle">
      @for (item of headers; track item) {
        <div [style.grid-column-start]="item.column" class="item-header">
          <span class="item-header-name">
            {{ item.name }}
          </span>
          <span class="item-header-rate item-header-color-{{item.color}}">
            {{ item.rate }}
          </span>
        </div>
      }
    </div>
  }

  @if (resultContext) {
    <div class="list">
      <p-accordion
        class="compare-record-accordion"
        [multiple]="true"
        [value]="['description', 'documents']"
        expandIcon="pi pi-chevron-down icon-start"
        collapseIcon="pi pi-chevron-up icon-start"
        >
        <p-accordion-panel value="description">
          <p-accordion-header>Description</p-accordion-header>
          <p-accordion-content>
            <div class="info-container" [style.grid-template-columns]="_gridStyle">
              @for (context of resultContext; track context) {
                @if (context.right) {
                  <div class="middle-compare-result compare-result"
                    [style.grid-column-start]="2 * context.index"
                    [attr.open]="true">
                  </div>
                }
                <div
                  [style.grid-column-start]="2 * context.index + 1"
                  [attr.open]="true"
                            [ngClass]="{
                                'left-compare-result': context.left,
                                'right-compare-result': context.right,
                                'compare-result': true
                            }">
                  <ng-container *ngTemplateOutlet="resultInfo; context: context"></ng-container>
                </div>
              }
            </div>
          </p-accordion-content>
        </p-accordion-panel>
        <p-accordion-panel value="documents">
          <p-accordion-header>Policy Documents</p-accordion-header>
          <p-accordion-content>
            <div class="merge-container">
              <div class="legend"
                [attr.type-1]="_type1"
                [attr.type-2]="_type2"
                [attr.type-3]="_type3"
                [attr.type-4]="_type4">
                <div class="legend-item" (click)="_type1=!_type1">
                  <div class="legend-icon legend-l1"></div>
                  <div class="legend-text">
                    Documents are equal.
                  </div>
                </div>
                <div class="legend-item" (click)="_type2=!_type2">
                  <div class="legend-icon legend-l2"></div>
                  <div class="legend-text">
                    Documents are equal except for dynamic fields.
                  </div>
                </div>
                <div class="legend-item" (click)="_type3=!_type3">
                  <div class="legend-icon legend-l3"></div>
                  <div class="legend-text">
                    Documents are of the same type and are partially equal.
                  </div>
                </div>
                <div class="legend-item" (click)="_type4=!_type4">
                  <div class="legend-icon legend-l4"></div>
                  <div class="legend-text">
                    Documents are absent in the other Policy.
                  </div>
                </div>
              </div>
              @if (type==='tree') {
                <div class="merge-tree"
                  [attr.tree-size]="size"
                  [attr.open]="_panelOpenState"
                  [attr.type-1]="_type1"
                  [attr.type-2]="_type2"
                  [attr.type-3]="_type3"
                  [attr.type-4]="_type4">
                  @for (row of treeContext; track row) {
                    <div class="report-item report-item-number"
                      [id]="'doc-row-' + row.index"
                      [attr.hidden]="row.hidden"
                      [style.grid-template-columns]="_gridStyle">
                      <div class="report-number">{{ row.number }}</div>
                      <div class="report-collapse" [attr.collapse]="row.collapse" (click)="onCollapse(row)">
                        @if (row.collapse === 1) {
                          <i class="pi pi-minus open-icon"></i>
                        }
                        @if (row.collapse === 2) {
                          <i class="pi pi-plus collapse-icon"></i>
                        }
                      </div>
                      @for (treeItemContext of row.contexts; track treeItemContext) {
                        <div
                          [attr.offset]="row.lvl"
                          [attr.rate]="treeItemContext.rate"
                          [attr.type]="treeItemContext.type"
                          [style.padding-left.px]="row.offset"
                          [style.grid-column-start]="2 * treeItemContext.index + 1"
                                    [ngClass]="{
                                        'left-tree': treeItemContext.left,
                                        'right-tree': treeItemContext.right,
                                        'hidden-item': true,
                                        'fantom-tree': treeItemContext.fantom
                                    }">
                          <div class="block-tree" (click)="row.open = !row.open">
                            <div class="block-index">
                              {{ treeItemContext.data.docIndex }}
                            </div>
                            <div class="block-icon">
                              <i [ngClass]="'pi pi-' + treeItemContext.data.docIcon"></i>
                            </div>
                            <div class="block-type">{{ treeItemContext.data.docName }}</div>
                          </div>
                        </div>
                        @if (treeItemContext.right) {
                          <div class="middle-tree"
                            [style.grid-column-start]="2 * treeItemContext.index">
                            <div class="compare-btn" (click)="row.open = !row.open">
                              @if (!row.open) {
                                <i
                                class="pi pi-arrow-up-right-and-arrow-down-left-from-center"></i>
                              }
                              @if (row.open) {
                                <i
                                class="pi pi-arrow-down-left-and-arrow-up-right-to-center"></i>
                              }
                            </div>
                          </div>
                        }
                      }
                      @if (row.open) {
                        @for (treeDetailContext of row.detailContexts; track treeDetailContext) {
                          <div [attr.open]="row.open"
                            [style.padding-left.px]="row.offset"
                            [style.grid-column-start]="2 * treeDetailContext.index + 1"
                                         [ngClass]="{
                                            'left-compare-result': treeDetailContext.left,
                                            'right-compare-result': treeDetailContext.right,
                                            'fantom-block': treeDetailContext.fantom,
                                            'hidden-item': true,
                                            'compare-result': true
                                        }">
                            <ng-container
                            *ngTemplateOutlet="resultDetails; context: treeDetailContext"></ng-container>
                          </div>
                          @if (treeDetailContext.right) {
                            <div class="middle-compare-result compare-result"
                              [style.grid-column-start]="2 * treeDetailContext.index"
                            [attr.open]="row.open"></div>
                          }
                        }
                      }
                    </div>
                  }
                </div>
              }
              @if (type==='table') {
                <div class="merge-table" [attr.open]="_panelOpenState">
                  <div class="merge-table-content">
                    @if (treeContext) {
                      <div class="merge-table-content">
                        <table class="custom-table">
                          <thead>
                            <tr>
                              @for (column of columns; track column) {
                                <th>{{ column.label }}</th>
                              }
                            </tr>
                          </thead>
                          <tbody>
                            @for (row of treeContext; track row) {
                              <tr>
                                @for (column of columns; track column) {
                                  <td>
                                    <span class="table-value"
                                      [title]="row.data[column.name]"
                                      [attr.value]="row.data[column.name]"
                                      [attr.display-type]="column.display">
                                      {{ row.data[column.name] }}
                                    </span>
                                  </td>
                                }
                              </tr>
                            }
                          </tbody>
                        </table>
                      </div>
                    }
                  </div>
                </div>
              }
            </div>
          </p-accordion-content>
        </p-accordion-panel>
      </p-accordion>
    </div>
  }
</div>

<ng-template #resultInfo let-data="data">
  @if (_toInfoContext(data); as data) {
    <div class="result-info">
      <div class="result-info-field">
        <div class="result-info-field-name">Documents</div>
        <div class="result-info-field-value">{{ data.documents }}</div>
      </div>
      <div class="result-info-field">
        <div class="result-info-field-name">Tokens</div>
        <div class="result-info-field-value">{{ data.tokens }}</div>
      </div>
      <!-- <div class="result-info-field">
      <div class="result-info-field-name">Owner</div>
      <div class="result-info-field-value">{{data.owner}}</div>
    </div>
    <div *ngIf="data.policy" class="result-info-field">
      <div class="result-info-field-name">Policy</div>
      <div class="result-info-field-value">{{data.policy}}</div>
    </div> -->
  </div>
}
</ng-template>

<ng-template #resultDetails let-data="data">
  @if (_toDetailsContext(data); as data) {
    <div class="prop-container">
      <!-- <div class="prop">
      <div class="prop-name">Options Rate: </div>
      <div class="prop-value" [attr.rate]="data.optionsRate">{{data.optionsRate}}</div>
    </div> -->
    <div class="prop">
      <div class="prop-name">Document Rate:</div>
      <div class="prop-value" [attr.rate]="data.totalRate">{{ data.totalRate }}</div>
    </div>
    <div class="prop-delimiter"></div>
    <!-- <div class="prop">
    <div class="prop-name">ID: </div>
    <div class="prop-value">{{data.id}}</div>
  </div> -->
  <!-- <div class="prop">
  <div class="prop-name">Message: </div>
  <div class="prop-value">{{data.messageId}}</div>
</div> -->
<div class="prop">
  <div class="prop-name">Type:</div>
  <div class="prop-value">{{ data.type }}</div>
</div>
<div class="prop">
  <div class="prop-name">Schema:</div>
  <div class="prop-value">{{ data.schema }}</div>
</div>
<!-- <div class="prop">
<div class="prop-name">Owner: </div>
<div class="prop-value">{{data.owner}}</div>
</div> -->
<div class="prop-delimiter"></div>
<div class="prop-table" [attr.system]="_systemProp">
  <div class="prop-table-header">
    Documents:
    <div class="prop-table-system-btn" (click)="_systemProp = !_systemProp">
      @if (!_systemProp) {
        <i class="pi pi-arrow-up-right-and-arrow-down-left-from-center"></i>
      }
      @if (_systemProp) {
        <i class="pi pi-arrow-down-left-and-arrow-up-right-to-center"></i>
      }
    </div>
  </div>
  <div class="prop-table-body">
    @for (field of data.fields; track field) {
      @if (isFieldVisible(field)) {
        <div class="prop-table-row"
          [attr.fantom]="field.fantom"
          [attr.type]="field.type"
          [attr.offset]="field.lvl"
          [attr.index]="data.index"
          [attr.system]="field.system">
          <div class="prop-table-name"
            [style.padding-left.px]="field.offset"
            [title]="field.name">
            {{ field.label }}:
          </div>
          <div class="prop-table-value" [attr.prop-type]="field.propType">
            <div class="compare-btn" (click)="compareSchema(field)">
              <i class="pi pi-search"></i>
            </div>
            @if (field.propType) {
              <span [title]="field.value">
                {{ field.value }}
              </span>
            }
          </div>
        </div>
      }
    }
  </div>
</div>
<div class="prop-delimiter"></div>
<!-- <div class="prop-table">
<div class="prop-table-header">Attributes: </div>
<div class="prop-table-body">
  <div *ngFor="let attribute of data.attributes" class="prop-table-row"
    [attr.fantom]="attribute.fantom"
    [attr.type]="attribute.type"
    [attr.offset]="attribute.lvl"
    [attr.index]="data.index">
    <div class="prop-table-name"
      [style.padding-left.px]="attribute.offset"
      [title]="attribute.name">
      {{attribute.label}}:
    </div>
    <div class="prop-table-value" [attr.prop-type]="attribute.propType">
      <span *ngIf="attribute.propType" [title]="attribute.value">
        {{attribute.value}}
      </span>
    </div>
  </div>
</div>
</div>
<div class="prop-delimiter"></div> -->
</div>
}
</ng-template>
