<div class="content">
    <div *ngIf="loading" class="loading">
        <div class="preloader-image preloader-image-l-size"></div>
    </div>

    <ng-container *ngIf="!isConfirmed">
        <div class="not-exist">
            Before starting work you need to get DID <a [routerLink]="['/profile']">here</a>
        </div>
    </ng-container>

    <ng-container *ngIf="isConfirmed && requests">
        <div class="actions-container">
            <mat-form-field appearance="outline" class="actions-container-contract">
                <mat-label>Contract</mat-label>
                <mat-select (selectionChange)="onFilter()" [(value)]="currentContract">
                    <mat-option value="">All Contracts</mat-option>
                    <mat-option *ngFor="let contract of contracts" [value]="contract.contractId">
                        <span>{{ contract.contractId }}</span>
                        <span> ({{ contract.description }})</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="table-container">
            <table [dataSource]="requests" class="table" mat-table>
                <ng-container matColumnDef="contractId">
                    <th *matHeaderCellDef mat-header-cell> Contract Id</th>
                    <td *matCellDef="let element" mat-cell>
                        <hedera-explorer [params]="element.contractId"
                                         type="accounts">{{ element.contractId }}
                        </hedera-explorer>
                    </td>
                </ng-container>
                <ng-container matColumnDef="baseTokenId">
                    <th *matHeaderCellDef mat-header-cell> Base Token Id</th>
                    <td *matCellDef="let element" mat-cell>
                        <hedera-explorer [params]="element.baseTokenId"
                                         type="tokens">{{ element.baseTokenId }}
                        </hedera-explorer>
                    </td>
                </ng-container>
                <ng-container matColumnDef="oppositeTokenId">
                    <th *matHeaderCellDef mat-header-cell> Opposite Token Id</th>
                    <td *matCellDef="let element" mat-cell>
                        <hedera-explorer [params]="element.oppositeTokenId"
                                         type="tokens">{{ element.oppositeTokenId }}
                        </hedera-explorer>
                    </td>
                </ng-container>
                <ng-container matColumnDef="baseTokenCount">
                    <th *matHeaderCellDef mat-header-cell> Base Token Count</th>
                    <td *matCellDef="let element" mat-cell> {{ element.baseTokenCount }}</td>
                </ng-container>
                <ng-container matColumnDef="oppositeTokenCount">
                    <th *matHeaderCellDef mat-header-cell> Opposite Token Count</th>
                    <td *matCellDef="let element" mat-cell> {{ element.oppositeTokenCount }}</td>
                </ng-container>
                <ng-container matColumnDef="retire">
                    <th *matHeaderCellDef mat-header-cell> Operations</th>
                    <td *matCellDef="let element" mat-cell>
                        <div (click)="retireToken(element.id)" *ngIf="!element.vcDocument" class="retire-action-btn">
                            <span>Retire Tokens</span>
                            <mat-icon>local_fire_department</mat-icon>
                        </div>
                        <div (click)="viewRetireRequest(element.vcDocument)" *ngIf="element.vcDocument"
                             class="view-action-btn">
                            <span>View Details</span>
                            <mat-icon>visibility</mat-icon>
                        </div>
                    </td>
                </ng-container>
                <tr *matHeaderRowDef="columns; sticky: true" mat-header-row></tr>
                <tr *matRowDef="let row; columns: columns;" mat-row></tr>
            </table>
        </div>
        <div class="table-paginator">
            <mat-paginator (page)="onPage($event)" [length]="requestsCount" [pageIndex]="pageIndex"
                           [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="pageSize" aria-label="Select page">
            </mat-paginator>
        </div>
    </ng-container>
</div>
