.content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: block;
}

.loading {
    background: #fff;
    position: fixed;
    z-index: 99;
    top: var(--header-height);
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.table {
    width: 100%;
}

.not-exist {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: darkgrey;
}

.table-container {
    max-height: calc(100vh - var(--header-height) - 170px);
    min-height: 100px;
    overflow-y: auto;
    position: relative;
    z-index: 0;
    border-top: 1px solid #eee;
}

.table-container .mat-column-retire {
    padding-left: 8px;
    width: 172px;
    max-width: 172px;
    min-width: 172px;
}

.table-container .mat-column-oppositeTokenCount {
    border-right: 1px solid #dddddd;
}

.actions-container {
    display: block;
    z-index: 1;
    padding: 20px 0px 10px 20px;
}

.table-paginator {
    height: 60px;
    border-top: 1px solid #eee;
    margin-top: 5px;
}

.retire-action-btn, .view-action-btn {
    color: #fff;
    border-radius: 6px;
    display: inline-block;
    padding: 6px 0;
    width: 180px;
    margin: 0px 5px;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.view-action-btn {
    background:  #4caf50;
}
.retire-action-btn {
    background: burlywood;
}

.actions-container-contract {
    width: 300px;
}