.loading {
    background: #fff;
    position: absolute;
    z-index: 99;
    border-radius: 16px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.action-buttons {
    display: flex;
}

.dialog-body {
    height: auto;
    max-height: 40vh;
    overflow: auto;
    min-height: 70px;
    margin-bottom: 16px;
}

.dialog-footer {
    padding-top: 25px;
}

.confirmation-text {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    margin-top: 25px;
}