.loading {
    background: var(--guardian-background, #fff);
    position: fixed;
    z-index: 99;
    top: var(--header-height);
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.not-exist {
    position: absolute;
    left: 48px;
    right: 48px;
    bottom: 56px;
    top: calc(56px + 132px);
    font-size: 20px;
    color: var(--color-grey-black-2);
}

.table-container {
    margin-top: 40px;
}

.toolbar-btn {
    margin: 15px;
    min-width: 120px;
    cursor: pointer;
    font-weight: 500;
    text-align: left;
    user-select: none;
    position: relative;
    border-radius: 8px;
    padding: 0;
    font-size: 14px;
    padding-left: 48px !important;
    padding-right: 30px;
}

.toolbar-btn i,
.toolbar-btn svg {
    position: absolute;
    left: 14px;
    top: 10px;
}

.toolbar-btn.add i,
.toolbar-btn.add svg {
    font-size: 30px;
    left: 10px;
    top: 7px;
}

.view-action-btn {
    color: #fff;
    border-radius: 6px;
    display: inline-block;
    padding: 6px 0;
    width: 200px;
    margin: 0px 5px;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #4caf50;
}

.actions-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.module-actions-buttons-container {
    margin-left: auto;
    display: flex;
    gap: 6px;
}

.toolbar-btn-primary ::ng-deep .p-button {
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
    height: 40px;
    padding: 8px 16px 8px 8px;
    color: var(--color-grey-white, #FFF);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    border-radius: 8px;
}

.toolbar-icons {
    margin-right: 8px;
}

:host ::ng-deep .guardian-grid-container .guardian-grid-row td:has(.view-action-btn) {
    padding-top: 11px;
    padding-bottom: 11px;
}
