.content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: block;
}

.loading {
    background: #fff;
    position: fixed;
    z-index: 99;
    top: var(--header-height);
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.retire-table {
    width: 100%;
}

.not-exist {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: darkgrey;
}

.table-container {
    max-height: calc(100vh - var(--header-height) - 170px);
    min-height: 100px;
    overflow-y: auto;
    position: relative;
    z-index: 1;
    border-top: 1px solid #eee;
}

.table-paginator {
    height: 60px;
    border-top: 1px solid #eee;
    margin-top: 5px;
    z-index: 0;
}

.table-container .mat-column-operation {
    width: 300px;
}

.toolbar-btn {
    margin: 15px;
    min-width: 120px;
    cursor: pointer;
    font-weight: 500;
    text-align: left;
    user-select: none;
    position: relative;
    border-radius: 8px;
    padding: 0;
    font-size: 14px;
    padding-left: 48px !important;
    padding-right: 30px;
}

.toolbar-btn mat-icon {
    position: absolute;
    left: 14px;
    top: 10px;
}

.toolbar-btn.add mat-icon {
    font-size: 30px;
    left: 10px;
    top: 7px;
}

.view-action-btn {
    color: #fff;
    border-radius: 6px;
    display: inline-block;
    padding: 6px 0;
    width: 200px;
    margin: 0px 5px;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #4caf50;
}
