<div>
    <div class="table">
        <div class="table-filters">
            <div class="filter">
                <mat-form-field>
                    <mat-label>Token Id</mat-label>
                    <input matInput placeholder="0.0.2207738" (input)="onInput($event)">
                </mat-form-field>
            </div>
            <div class="filter">
                <mat-form-field>
                    <mat-label>Type</mat-label>
                    <mat-select [(value)]="type" (valueChange)="onFilter()">
                        <mat-option>None</mat-option>
                        <mat-option value="NON_FUNGIBLE_UNIQUE">Non Fungible</mat-option>
                        <mat-option value="FUNGIBLE_COMMON">Fungible</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="table-body">
            <table mat-table [dataSource]="items" matSort class="mat-elevation-z8">

                <ng-container matColumnDef="tokenId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Token Id </th>
                    <td mat-cell *matCellDef="let element"> {{element.tokenId}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Token name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Token symbol </th>
                    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>

                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Token type </th>
                    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                </ng-container>

                <ng-container matColumnDef="treasury">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Token treasury </th>
                    <td mat-cell *matCellDef="let element"> {{element.treasury}} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>

                <ng-container matColumnDef="totalSupply">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Total supply </th>
                    <td mat-cell *matCellDef="let element"> {{element.__total}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <div class="table-paginator">
            <mat-paginator showFirstLastButtons [length]="total" [pageSize]="pageSize"
                [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPage($event)"></mat-paginator>
        </div>
    </div>
</div>