.block-name {
    padding-left: 32px;
    position: relative;
}

.block-icon {
    position: absolute;
    left: 0px;
    top: 0px;
}

.custom {
    height: 14px;
    line-height: 14px;
    display: inline-block;
    min-width: 1px;
}

.ns {
    user-select: none;
}

.prop-input-event {
    color: #35a307;
    height: 16px !important;
    width: 20px !important;
    line-height: 14px !important;
    overflow: visible !important;
    display: inline-block !important;
    border-left: 2px solid #35a307;
    margin: 0px 8px 0px 8px;
    position: relative;
    top: -1px;
}

.prop-input-event i,
.prop-input-event svg {
    position: relative !important;
    font-size: 16px !important;
    height: 20px;
    width: 20px;
    top: -1px;
}

.prop-output-icon {
    color: #c53227;
    height: 16px !important;
    width: 20px !important;
    line-height: 14px !important;
    overflow: visible !important;
    display: inline-block !important;
    border-left: 2px solid #c53227;
    margin: 0px 8px 0px 8px;
    position: relative;
    top: -1px;
}

.prop-output-icon i,
.prop-output-icon svg {
    position: relative !important;
    font-size: 16px !important;
    height: 20px;
    width: 20px;
    top: -1px;
}

.source-elm {
    color: #bd2a1f;
    font-weight: 500
}

.target-elm {
    color: #2d8508;
    font-weight: 500
}

.wrapper-readonly-prop {
    border: 4px solid #f7f7f7;
    border-radius: 6px;
}

.current-elm {
    color: #5161e1 !important;
    font-weight: 500;
    height: 30px;
    padding-top: 6px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.propRowCell {
    height: 40px;
}

.tags-display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6px;
    color: #bababa;
    pointer-events: all;

    .tags-display-count {
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 12px;
        text-align: right;
        vertical-align: middle;
    }

    ::ng-deep .p-button {
        background: none;
        border: none;
        color: var(--color-primary, #4169E2);
    }
}

::ng-deep .propRowCell input.prop-input {
    min-height: 38px;
    font-size: 16px !important;
    color: var(--color-grey-6);
    font-family: "Roboto", sans-serif;
}

::ng-deep p-dropdown .p-dropdown,
::ng-deep p-multiselect .p-multiselect {
    width: 100% !important;
}