.toolbar-files {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;

    .toolbar-file {
        height: 32px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid var(--primary-primary, #4169E2);
        background: #f0f3fc;
        border-radius: 6px;
        font-family: Inter, sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        vertical-align: middle;
        overflow: hidden;

        .toolbar-file-icon {
            height: 30px;
            width: 30px;
            min-width: 30px;
            padding: 7px;
            overflow: hidden;
        }

        .toolbar-file-loading,
        .guardian-loading {
            position: relative !important;
            width: 30px !important;
            height: 30px !important;
            padding: 6px !important;
            background: transparent !important;

            .guardian-loading-image {
                width: 20px !important;
                height: 20px !important;
            }
        }

        .toolbar-file-metadata {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            .file-name {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 30px;
                line-height: 30px;
            }
        }

        .toolbar-file-name {
            flex: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0 8px;
            line-height: 30px;
        }

        .toolbar-file-action {
            height: 30px;
            width: 30px;
            min-width: 30px;
            padding: 7px;
            background: #f0f3fc;
            cursor: pointer;

            &:hover {
                background: #dce0ea;
            }
        }
    }

    .toolbar-file-more {
        border: 1px solid var(--primary-primary, #4169E2);
        height: 32px;
        width: 32px;
        border-radius: 8px;
        font-family: Inter, sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        vertical-align: middle;
        color: var(--primary-primary, #4169E2);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        user-select: none;
    }
}
