.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 72px;
        background: #FFFFFF;
        // border-bottom: 1px solid #E1E7EF;
        padding: 20px 24px 20px 24px;
        cursor: default;
        user-select: none;

        .header-container {
            height: 32px;
            width: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: row;

            &.back {
                cursor: pointer;

                &:hover {
                    filter: brightness(0.95);
                }
            }

            svg-icon {
                margin-top: 4px;
                margin-right: 8px;
            }

            .component-name {
                font-family: Poppins;
                font-weight: 600;
                font-size: 16px;
                color: #23252E;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 32px;
                line-height: 32px;
            }
        }

        .header-icon {
            height: 32px;
            width: 32px;
            min-width: 32px;
            max-width: 32px;
        }

        .component-close {
            width: 32px;
            min-width: 32px;
            max-width: 32px;
            height: 32px;
            padding: 4px;
            background-color: var(--guardian-secondary-color);
            border-radius: 100%;
            cursor: pointer;

            &:hover {
                filter: brightness(0.95);
            }
        }
    }

    .discussion-filters {
        padding: 8px;
        border-bottom: 1px solid #E1E7EF;

        .search-filter {
            position: relative;
            width: 100%;
            height: 40px;
            overflow: hidden;

            input {
                padding: 8px 16px 8px 36px !important;
            }
        }

        .search-icon {
            position: absolute;
            top: 12px;
            left: 12px;
            pointer-events: none;
            color: #848FA9;
        }

        .field-filter {
            border: 1px solid var(--primary-primary, #4169E2);
            height: 24px;
            border-radius: 6px;
            padding: 4px 24px;
            position: relative;
            margin-top: 8px;
            font-family: Inter;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            vertical-align: middle;
            color: var(--primary-primary, #4169E2);
            background: #fff;
            user-select: none;

            .field-filter-icon {
                position: absolute;
                top: 3px;
                left: 6px;
                pointer-events: none;
            }

            .field-filter-name {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .field-filter-delete {
                position: absolute;
                top: 0px;
                right: 0px;
                width: 22px;
                height: 22px;
                border-radius: 4px;
                cursor: pointer;
                padding: 3px;
                background: #fff;

                &:hover {
                    filter: brightness(0.95);
                }
            }
        }
    }

    .message-filters {
        .field-filter {
            margin-top: 0px !important;
            margin-bottom: 8px !important;
        }
    }

    .new-discussion {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-top: 1px solid #E1E7EF;

        .discussion-form {
            overflow: auto;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;

            .form-title {
                font-family: Poppins;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                vertical-align: middle;
                margin: 24px 0px;
            }

            form {
                margin: 0px 24px;
            }

            .guardian-input-container {
                margin-bottom: 24px;
            }
        }

        .form-field {
            height: 40px;
            min-height: 40px;
            border-radius: 6px;
            padding: 9px 36px;
            position: relative;
            margin-bottom: 8px;
            font-family: Inter;
            font-size: 14px;
            font-weight: 500;
            vertical-align: middle;
            // color: var(--primary-primary, #4169E2);
            border: 1px solid var(--guardian-grey-color-2, #E1E7EF);
            background: #fff;
            user-select: none;
            overflow: hidden;

            .form-field-icon {
                position: absolute;
                top: 6px;
                left: 10px;
                pointer-events: none;
            }

            .form-field-name {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .form-field-delete {
                position: absolute;
                top: 0px;
                right: 0px;
                width: 38px;
                height: 38px;
                border-radius: 4px;
                cursor: pointer;
                padding: 6px;
                background: #fff;

                &:hover {
                    filter: brightness(0.95);
                }
            }
        }
    }

    .discussions {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .full-discussions {
            overflow: auto;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }

        .full-discussion {
            display: flex;
            height: 76px;
            width: 100%;
            overflow: hidden;
            flex-direction: row;
            cursor: pointer;

            .discussion-icon {
                min-width: 44px;
                width: 44px;
                height: 44px;
                border-radius: 32px;
                opacity: 1;
                background: #E8FFDA;
                font-family: Inter;
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
                vertical-align: middle;
                color: #848FA9;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 16px;
                cursor: pointer;
                user-select: none;
            }

            .discussion-body {
                display: flex;
                flex-direction: column;
                justify-content: center;
                max-width: calc(100% - 100px);
                overflow: hidden;
            }

            .discussion-name {
                width: 100%;
                overflow: hidden;
                font-family: Inter;
                font-weight: 700;
                font-size: 14px;
                line-height: 14px;
                vertical-align: middle;
            }

            .discussion-field {
                border: 1px solid var(--primary-primary, #4169E2);
                height: 24px;
                border-radius: 6px;
                padding: 4px 16px 4px 24px;
                position: relative;
                margin-top: 8px;
                font-family: Inter;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                vertical-align: middle;
                color: var(--primary-primary, #4169E2);
                user-select: none;
                width: fit-content;
                max-width: 100%;

                .discussion-field-icon {
                    position: absolute;
                    top: 3px;
                    left: 6px;
                    pointer-events: none;
                }

                .discussion-field-name {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            &:hover {
                filter: brightness(0.95);
            }
        }
    }

    .messages-container {
        position: relative;
        width: 100%;
        height: 100%;

        .messages {
            position: absolute;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            overflow: auto;
            display: flex;
            flex-direction: column-reverse;
            background: #fff;
            padding: 24px;
        }
    }

    .toolbar {
        width: 100%;
        border-top: 1px solid #E1E7EF;
        padding: 16px 16px 8px 16px;

        .toolbar-textarea {
            margin-bottom: 8px;
            position: relative;
            height: 51px;
            // padding-right: 32px;

            textarea {
                border: none !important;
                padding: 0px !important;
                word-break: break-all;
                border-radius: 0;
            }
        }

        .toolbar-files {
            margin-top: 8px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .toolbar-file {
                width: 180px;
                height: 40px;
                display: flex;
                flex-direction: row;
                border: 1px solid #E1E7EF;
                background: #EFF3F7;
                border-radius: 6px;
                margin-right: 8px;
                margin-bottom: 8px;

                .toolbar-file-icon {
                    height: 38px;
                    width: 38px;
                    min-width: 38px;
                    padding: 7px;
                }

                .guardian-loading {
                    position: relative !important;
                    width: 38px !important;
                    height: 38px !important;
                    padding: 6px !important;
                    background: transparent !important;

                    .guardian-loading-image {
                        width: 24px !important;
                        height: 24px !important;
                    }
                }

                .toolbar-file-metadata {
                    width: 100%;
                    max-width: 100px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    .file-name {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        height: 38px;
                        line-height: 38px;
                    }
                }

                .toolbar-file-action {
                    height: 38px;
                    width: 38px;
                    min-width: 38px;
                    padding: 7px;
                }
            }
        }

        .toolbar-actions {
            width: 100%;
            height: 36px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            .delimiter {
                border-left: 1px solid #E1E7EF;
                margin-right: 8px;
                margin-left: 3px;
                margin-top: 6px;
                width: 2px;
                height: 24px;
            }

            .left-actions {
                width: calc(100% - 116px);
                height: 40px;
                margin-right: 16px;
            }

            .send-btn {
                width: 24px;
                height: 24px;
                margin-top: 6px;
                margin-right: 6px;
            }

            .attach-btn {
                width: 24px;
                height: 24px;
                margin-top: 6px;
                margin-right: 6px;
            }
        }

        .new-discussion-btn {
            height: 40px;
            width: 100%;
            margin-bottom: 8px;
        }
    }
}

.message {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    &[owner="true"] {
        align-items: flex-end;

        .message-body {
            background: #EFF3F7;
        }

        .message-header {
            display: none !important;
        }
    }

    &[owner="false"] {
        align-items: flex-start;

        .message-body {
            background: #FFFFFF;
        }
    }

    .message-time {
        font-family: Inter;
        font-weight: 500;
        font-style: Medium;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #6C7791;
        margin-bottom: 4px;
    }

    .message-body {
        padding: 16px;
        border-radius: 8px;
        max-width: 80%;
        text-wrap: wrap;
        word-break: break-all;
        border: 1px solid #E1E7EF;

        .message-header {
            display: flex;
            flex-direction: row;
            margin-bottom: 8px;

            .message-name {
                font-family: Inter;
                font-weight: 700;
                font-size: 14px;
                vertical-align: middle;
                color: #181818;
                line-height: 24px;
            }

            .message-role {
                border: 1px solid #4169E2;
                background: #FFFFFF;
                height: 24px;
                border-radius: 4px;
                padding-top: 4px;
                padding-right: 8px;
                padding-bottom: 4px;
                padding-left: 8px;
                font-family: Inter;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                vertical-align: middle;
                color: #4169E2;
                width: fit-content;
                // margin-bottom: 8px;

                margin-left: 8px;
                background: #E1E7EF;
                color: #6f7279;
                border: none;
            }
        }

        .message-text {
            font-family: Roboto;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            vertical-align: middle;
            color: #181818;

            .message-tag,
            .text-type-role,
            .text-type-user,
            .text-type-tag {
                font-family: Inter;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                vertical-align: middle;
                color: #4169E2;
                margin-bottom: 8px;
            }
        }

        .message-files {
            .message-file {
                width: 100%;
                height: 48px;
                display: flex;
                flex-direction: row;
                margin-top: 8px;
                overflow: hidden;
                cursor: pointer;

                .file-icon {
                    width: 48px;
                    height: 48px;
                    min-width: 48px;
                    min-height: 48px;
                    margin-right: 16px;
                    background: #E1E7EF;
                    border: 1px solid #AAB7C4;
                    border-radius: 4px;
                    padding: 11px 11px;
                }

                .file-metadata {
                    width: calc(100% - 64px);
                    height: 48px;
                    overflow: hidden;

                    .file-name {
                        width: 100%;
                        height: 18px;
                        font-family: Inter;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 18px;
                        vertical-align: middle;
                        color: #181818;
                        margin-bottom: 4px;
                        position: relative;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin-top: 3px;
                    }

                    .file-size {
                        font-family: Roboto;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        vertical-align: middle;
                        color: #6C7791;
                    }
                }
            }
        }
    }
}

.not-exist {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #AAB7C4;
    background: #fff;
    user-select: none;
}

textarea {
    resize: none;
}

.guardian-dropdown-label {
    color: #848FA9;
}

.autocomplete-item {
    display: flex;
    flex-direction: row;
    padding: 8px 16px 8px 10px;

    i {
        width: 26px;
    }
}

#editor {
    width: 400px;
    height: 100px;
    padding: 10px;
    font-size: 14px;
}

.collapse-container {
    position: relative;
    width: 76px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {
        width: 76px;
        height: 72px;
        min-height: 72px;
        border-bottom: 1px solid #E1E7EF;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .discussions {
        width: 76px;
        height: 100%;

        .collapse-discussion {
            width: 44px;
            height: 44px;
            border-radius: 32px;
            opacity: 1;
            background: #E8FFDA;
            font-family: Inter;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            vertical-align: middle;
            color: #848FA9;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 16px;
            cursor: pointer;
            user-select: none;

            &:hover {
                filter: brightness(0.95);
            }
        }
    }

    .collapse-toolbar {
        width: 76px;
        height: 56px;
        min-height: 56px;

        .open-btn {
            width: 76px;
            height: 56px;
            border-radius: 0;
        }
    }
}