.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 88px;
        background: #FFFFFF;
        border-bottom: 1px solid #E1E7EF;
        padding: 24px 24px 16px 24px;

        .header-container {
            height: 47px;
            width: 100%;
            overflow: hidden;

            .component-name {
                font-family: Inter;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                color: #848FA9;
                margin-bottom: 4px;
            }

            .field-name {
                font-family: Poppins;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                color: #23252E;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .header-icon {
            height: 32px;
            width: 32px;
            min-width: 32px;
            max-width: 32px;
        }

        .component-close {
            width: 32px;
            min-width: 32px;
            max-width: 32px;
            height: 32px;
            padding: 4px;
            background-color: var(--guardian-secondary-color);
            border-radius: 100%;
            cursor: pointer;

            &:hover {
                filter: brightness(0.95);
            }
        }
    }

    .messages-container {
        position: relative;
        width: 100%;
        height: 100%;

        .messages {
            position: absolute;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            overflow: auto;
            display: flex;
            flex-direction: column-reverse;
            background: #fff;
            padding: 24px;
        }
    }

    .toolbar {
        width: 100%;
        border-top: 1px solid #E1E7EF;
        padding: 16px 16px 8px 16px;

        .toolbar-textarea {
            margin-bottom: 8px;
            position: relative;
            height: 51px;
            // padding-right: 32px;

            textarea {
                border: none !important;
                padding: 0px !important;
                word-break: break-all;
                border-radius: 0;
            }
        }

        .toolbar-files {
            margin-top: 8px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .toolbar-file {
                width: 180px;
                height: 40px;
                display: flex;
                flex-direction: row;
                border: 1px solid #E1E7EF;
                background: #EFF3F7;
                border-radius: 6px;
                margin-right: 8px;
                margin-bottom: 8px;

                .toolbar-file-icon {
                    height: 38px;
                    width: 38px;
                    min-width: 38px;
                    padding: 7px;
                }

                .guardian-loading {
                    position: relative !important;
                    width: 38px !important;
                    height: 38px !important;
                    padding: 6px !important;
                    background: transparent !important;

                    .guardian-loading-image {
                        width: 24px !important;
                        height: 24px !important;
                    }
                }

                .toolbar-file-metadata {
                    width: 100%;
                    max-width: 100px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    .file-name {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        height: 38px;
                        line-height: 38px;
                    }
                }

                .toolbar-file-action {
                    height: 38px;
                    width: 38px;
                    min-width: 38px;
                    padding: 7px;
                }
            }
        }

        .toolbar-actions {
            width: 100%;
            height: 36px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            .delimiter {
                border-left: 1px solid #E1E7EF;
                margin-right: 8px;
                margin-left: 3px;
                margin-top: 6px;
                width: 2px;
                height: 24px;
            }

            .left-actions {
                width: calc(100% - 116px);
                height: 40px;
                margin-right: 16px;
            }

            .send-btn {
                width: 24px;
                height: 24px;
                margin-top: 6px;
                margin-right: 6px;
            }

            .attach-btn {
                width: 24px;
                height: 24px;
                margin-top: 6px;
                margin-right: 6px;
            }
        }
    }
}

.message {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    &[owner="true"] {
        align-items: flex-end;

        .message-body {
            background: #EFF3F7;
        }

        .message-header {
            display: none !important;
        }
    }

    &[owner="false"] {
        align-items: flex-start;

        .message-body {
            background: #FFFFFF;
        }
    }

    .message-time {
        font-family: Inter;
        font-weight: 500;
        font-style: Medium;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #6C7791;
        margin-bottom: 4px;
    }

    .message-body {
        padding: 16px;
        border-radius: 8px;
        max-width: 80%;
        text-wrap: wrap;
        word-break: break-all;
        border: 1px solid #E1E7EF;

        .message-header {
            display: flex;
            flex-direction: row;
            margin-bottom: 8px;

            .message-name {
                font-family: Inter;
                font-weight: 700;
                font-size: 14px;
                vertical-align: middle;
                color: #181818;
                line-height: 24px;
            }

            .message-role {
                border: 1px solid #4169E2;
                background: #FFFFFF;
                height: 24px;
                border-radius: 4px;
                padding-top: 4px;
                padding-right: 8px;
                padding-bottom: 4px;
                padding-left: 8px;
                font-family: Inter;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                vertical-align: middle;
                color: #4169E2;
                width: fit-content;
                // margin-bottom: 8px;

                margin-left: 8px;
                background: #E1E7EF;
                color: #6f7279;
                border: none;
            }
        }

        .message-text {
            font-family: Roboto;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            vertical-align: middle;
            color: #181818;

            .message-tag,
            .text-type-role,
            .text-type-user,
            .text-type-tag {
                font-family: Inter;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                vertical-align: middle;
                color: #4169E2;
                margin-bottom: 8px;
            }
        }

        .message-files {
            .message-file {
                width: 100%;
                height: 48px;
                display: flex;
                flex-direction: row;
                margin-top: 8px;
                overflow: hidden;
                cursor: pointer;

                .file-icon {
                    width: 48px;
                    height: 48px;
                    min-width: 48px;
                    min-height: 48px;
                    margin-right: 16px;
                    background: #E1E7EF;
                    border: 1px solid #AAB7C4;
                    border-radius: 4px;
                    padding: 11px 11px;
                }

                .file-metadata {
                    width: calc(100% - 64px);
                    height: 48px;
                    overflow: hidden;

                    .file-name {
                        width: 100%;
                        height: 18px;
                        font-family: Inter;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 18px;
                        vertical-align: middle;
                        color: #181818;
                        margin-bottom: 4px;
                        position: relative;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin-top: 3px;
                    }

                    .file-size {
                        font-family: Roboto;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        vertical-align: middle;
                        color: #6C7791;
                    }
                }
            }
        }
    }
}

textarea {
    resize: none;
}

.guardian-dropdown-label {
    color: #848FA9;
}

.autocomplete-item {
    display: flex;
    flex-direction: row;
    padding: 8px 16px 8px 10px;

    i {
        width: 26px;
    }
}

#editor {
    width: 400px;
    height: 100px;
    padding: 10px;
    font-size: 14px;
}