.mat-button-base:not([started]) {
  background-color: rgba(0, 0, 0, 0.12);
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: visible;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cancel-button {
  margin-left: auto;
  margin-right: 15px;
}

::ng-deep {
  .p-button {
    border-radius: 8px;
  }
}

.dialog-footer {
  margin-top: 24px;
}

.form-label {
  color: #181818;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

.dialog-body {
  height: auto;
  overflow-y: auto;
}

::ng-deep {
  .p-dialog-title {
    font-family: Poppins, sans-serif;
    font-size: 24px !important;
    font-style: normal;
    font-weight: 600 !important;
  }

  .p-dialog {
    box-shadow: none;
  }

  .p-dialog-header {
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
  }

  .p-dialog-content {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}

.p-field-label {
  color: var(--color-grey-black-1, #181818);
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 6px;
}

.p-field-input {
  border-radius: 8px;
  border: 1px solid var(--color-grey-3, #E1E7EF);
  background: var(--color-grey-white, #FFF);
  outline: none !important;
  box-shadow: unset !important;
  padding: 12px 0 12px 16px;
  align-items: center;
  align-self: stretch;
  transition: border 0.25s ease-in-out;
  box-sizing: border-box;
  resize: vertical;

  color: var(--color-grey-black-1, #181818);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.accent {
  background: rgba(0, 0, 0, 0);
  border: 1px solid var(--color-accent-red-1) !important;
  color: var(--color-accent-red-1) !important;
}

.accent:hover {
  filter: brightness(1.2);
}

.document-reader {
  max-height: 400px;
  margin-bottom: 24px;

  h5 {
    color: #000;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
  }

  p {
    color: #000;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }
}

.flex {
  display: flex;
}

.flex-column-gap-8 {
  column-gap: 8px;
}

.color-primary {
  fill: var(--color-primary);
}
