.global-topic-reader-block {
    .header {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 8px;

        h4 {
            margin: 0;
            margin-right: auto;
            font-size: 14px;
            font-weight: 600;
        }
    }

    table {
        width: 100%;
        font-size: 12px;

        th,
        td {
            padding: 4px 6px;
            vertical-align: middle;
        }

        .badge {
            display: inline-block;
            padding: 2px 6px;
            font-size: 11px;
        }
    }
}
