.loading {
    margin: 0 auto;
}

.about-title {
    margin-top: 50px;
    text-align: center;
}

.about-container {
    display: block;
    position: relative;
    max-width: 800px;
    margin: 20px auto 0;
}

.about-grid-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-between;
}

.about-grid-column {
    display: flex;
    flex: 1;
    flex-direction: column;
    border: none;
}

.title-column {
    max-width: 300px;
    font-weight: 500;
    align-items: flex-end;
}

.value-column {
    max-width: calc(100% - 320px);
    align-items: start;
}
