<!-- UI Prop -->
<table class="properties" [attr.readonly]="readonly" *ngIf="properties">
    <tr class="propHeader">
        <td class="propRowCol cellCollapse" (click)="onHide(propHidden, 'properties')"
            [attr.collapse]="propHidden.properties">
            <!--            <mat-icon>arrow_drop_down</mat-icon>-->
            <i class="pi pi-caret-down"></i>
        </td>
        <td class="propHeaderCell cellName">Properties</td>
        <td class="propHeaderCell"></td>
    </tr>

    <tr class="propRow" [attr.collapse]="propHidden.properties">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Token Template</td>
        <td class="propRowCell">
            <mat-select [(value)]="properties.template" [disabled]="readonly" (change)="onSave()">
                <mat-option *ngFor="let token of tokenTemplate" [value]="token.value">
                    {{ token.name }}
                </mat-option>
            </mat-select>
        </td>
    </tr>

    <tr class="propRow" [attr.collapse]="propHidden.properties">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Autorun</td>
        <td class="propRowCell">
            <input class="prop-input" type="checkbox" [(ngModel)]="properties.autorun"
                   [readonly]="readonly" (blur)="onSave()">
        </td>
    </tr>

    <tr class="propHeader">
        <td class="propRowCol cellCollapse" (click)="onHide(propHidden, 'main')" [attr.collapse]="propHidden.main">
            <!--            <mat-icon>arrow_drop_down</mat-icon>-->
            <i class="pi pi-caret-down"></i>
        </td>
        <td class="propHeaderCell cellName">UI</td>
        <td class="propHeaderCell"></td>
    </tr>

    <ng-container>
        <tr class="propRow" [attr.collapse]="propHidden.main">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Title</td>
            <td class="propRowCell">
                <input class="prop-input" [(ngModel)]="properties.title" [readonly]="readonly"
                       (blur)="onSave()">
            </td>
        </tr>

        <tr class="propRow" [attr.collapse]="propHidden.main">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Description</td>
            <td class="propRowCell">
                <input class="prop-input" [(ngModel)]="properties.description" [readonly]="readonly"
                       (blur)="onSave()">
            </td>
        </tr>
    </ng-container>
</table>
