<!-- UI Prop -->
@if (properties) {
  <table class="properties" [attr.readonly]="readonly">
  <colgroup><col class="col-toggle"><col class="col-name"><col class="col-value"></colgroup>
    <tr class="propHeader" [attr.collapse]="propHidden.main">
      <td class="propRowCol cellCollapse" (click)="onHide(propHidden, 'main')" [attr.collapse]="propHidden.main">
        <i class="pi pi-caret-down"></i>
      </td>
      <td class="propHeaderCell cellName">Main</td>
      <td class="propHeaderCell"></td>
    </tr>
    @if (!propHidden.main) {
      <tr class="propRow">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Autorun</td>
        <td class="propRowCell">
          <p-toggleswitch
            [(ngModel)]="properties.autorun"
            [disabled]="readonly"
            (onChange)="onSave()">
          </p-toggleswitch>
        </td>
      </tr>
      <tr class="propHeader">
        <td class="propRowCol"></td>
        <td class="propHeaderCell cellName">Token Template</td>
        <td class="propHeaderCell"></td>
      </tr>
      <tr class="propRow">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Token Name</td>
        <td class="propRowCell">
          <input class="prop-input" [(ngModel)]="properties.tokenName" [readonly]="readonly" (blur)="onSave()">
        </td>
      </tr>
    }
  </table>
}
