<div class="dialog-content">
    <div class="role-name">
        <div class="p-field">
            <label class="p-field-label" for="tokenName">* Role Name</label>
            <input class="p-field-input" [formControl]="nameControl" id="tokenName" type="text"/>
            <small *ngIf="nameControl.invalid" class="p-error">Role name is invalid</small>
        </div>
    </div>
    <div  class="role-config">
        <div class="headers">
            <div class="category">
                Entities
            </div>
            <div class="permissions">
                <div class="permission perm-0">Read</div>
                <div class="permission perm-1">Create</div>
                <div class="permission perm-2">Update</div>
                <div class="permission perm-3">Delete</div>
                <div class="permission perm-4">Review</div>
                <div class="permission perm-5">Execute</div>
                <div class="permission perm-6">Manage</div>
            </div>
        </div>
        <div class="categories">
            <div *ngFor="let category of categories" class="category">
                <div class="category-header">
                    <div class="category-icon">
                        <svg fill="none" height="14" viewBox="0 0 8 14" width="8" xmlns="http://www.w3.org/2000/svg">
                            <path class="icon-color" d="M7.28273 0.689065C6.89223 0.298565 6.25903 0.298565 5.86853 0.689065L0.981094 5.58127C0.200694 6.36247 0.201003 7.62827 0.981783 8.40907L5.87213 13.2994C6.26263 13.6899 6.89583 13.6899 7.28633 13.2994C7.67693 12.9089 7.67693 12.2757 7.28633 11.8852L3.10073 7.69956C2.71023 7.30896 2.71023 6.67587 3.10073 6.28536L7.28273 2.10326C7.67323 1.71276 7.67323 1.07956 7.28273 0.689065Z"/>
                        </svg>
                    </div>
                    <div class="category-name">{{category.name}}</div>
                </div>
                <div class="category-body">
                    <div *ngFor="let entity of category.entities" class="entity">
                        <div class="entity-name">{{entity.name}}</div>
                        <div class="permissions">
                            <ng-container *ngIf="entity.actions.length === 1">
                                <div class="all-permission">
                                    <mat-checkbox 
                                        color="primary" 
                                        [formControl]="entity.actions[0]"></mat-checkbox>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="entity.actions.length > 1">
                                <div *ngFor="let formControl of entity.actions; let i=index" class="permission perm-{{i}}">
                                    <mat-checkbox 
                                        *ngIf="formControl"
                                        color="primary" 
                                        [formControl]="formControl"></mat-checkbox>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dialog-footer">
        <button (click)="onClose()" class="button secondary" label="Close" pButton
                type="button"></button>
        <button (click)="onSave()" 
                [disabled]="nameControl.invalid"  
                [label]="currentId ? 'Save' : 'Create'" 
                pButton
                class="button" 
                type="button"></button>
    </div>
</div>