.notification-btn {
    background-color: var(--button-primary-color);
}

.primary-color {
    fill: var(--color-primary);
    color: var(--color-primary);
}

.info-color {
    fill: var(--color-secondary, #CDDDFD);
    color: var(--color-secondary, #CDDDFD);
}

.details-color {
    fill: #C4D0E1;
    color: #C4D0E1;
}

.success-color {
    fill: #19BE47;
    color: #19BE47;
}

.error-color {
    fill: var(--color-accent-red-1, #FF432A);
    color: var(--color-accent-red-1, #FF432A);
}

.disabled-color {
    fill: var(--color-grey-6, #848FA9);
    color: var(--color-grey-6, #848FA9);
}


.badge {
    background-color: #ff432a;
    width: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 8px;
    border-radius: 16px;
    cursor: pointer;

    span {
        color: #fff;
        font-family: Inter, serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }

    &:hover {
        filter: brightness(1.2);
    }
}

.notification-position {
    pointer-events: none;
    position: fixed;
    left: 20px;
    transform: translate(0px, -38px);
}

.notification-counter {
    color: #FFF;
    font-family: Inter, serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    pointer-events: none;
}

.notification-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 15px 5px 15px;

    &__delimiter {
        width: 60%;
        height: 1px;
        margin: 0 auto;
        background-color: #2c78f654;
    }

    &__view-all {
        margin-top: 5px;
        text-align: center;
    }
}

.notification-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;

    &__title {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
    }
}

.notification-list {
    padding: 5px;
    max-height: 300px;
    overflow-y: auto;
    position: relative;
}

.link-btn {
    background: transparent;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;

    color: var(--color-primary, #438EFF);
    cursor: pointer;
    border: 1px solid var(--color-secondary, #CDDDFD);
    padding: 6px 16px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;

    &[disabled] {
        color: var(--color-secondary, #CDDDFD);
    }
}

.primary-btn {
    color: var(--color-grey-white, #FFFFFF);
    background-color: var(--color-primary, #438EFF);
    border: 0;
    height: 40px;
}

.progress,
.notification {
    padding: 10px;
    width: 300px;
    border-radius: 8px;
    outline: 1px solid #2c78f654;
}

.progress:not(:first-child),
.notification:not(:first-child) {
    margin-top: 10px;
}

.width-min-content {
    width: min-content;
}

.notification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &[unread='true'] {
        border: 1px solid var(--color-primary, #0031ff);
    }

    &__title {
        display: flex;
        column-gap: 8px;

        span {
            color: #000;
            font-family: Inter, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }

    &__message {
        margin-left: 32px;
        overflow-x: hidden;
        color: var(--color-grey-6, #848FA9);
        white-space: nowrap;
        text-overflow: ellipsis;
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__progressbar {
        margin-top: 8px;
        width: 270px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 8px;

        .progress-container {
            width: 100%;
            height: 8px;
        }

        .progress-value {
            width: min-content;
            height: min-content;

            color: var(--color-grey-6, #848FA9);
            text-align: center;
            font-family: Inter, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            white-space: nowrap;

            &:after {
                content: '%';
            }
        }
    }

    &__details {
        height: 24px;
    }
}

.progress {
    box-shadow: 0px 0px 4px 2px #2c78f687;
    display: grid;
    grid-template-areas:
        'action details'
        'message message'
        'progress progress';

    &__action {
        grid-area: action;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-right: 5px;
    }

    &__message {
        grid-area: message;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__progressbar {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    &__details {
        grid-area: details;
        justify-self: end;
    }
}

.progress-bar {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    grid-area: progress;
    margin-bottom: 3px;

    &__line {
        width: 250px;
    }

    &__value {
        grid-area: value;
        line-height: 10px;
    }
}

.no-new-notifications {
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
    margin: 46px 0;

    span {
        color: var(--color-grey-6, #848FA9);
        text-align: center;
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

::ng-deep .p-progressbar {
    width: 100%;
    border-radius: 8px;
    height: 8px;
}

::ng-deep .p-progressbar-value {
    background-color: var(--color-primary) !important;
}