.link-btn {
    color: #438EFF;
    cursor: pointer;
}

.progress,
.notification {
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    outline: 2px solid black;
}

.progress:not(:first-child),
.notification:not(:first-child) {
    margin-top: 10px;
}
.notification {
    display: grid;
    grid-template-columns: 30px 1fr 100px;

    &[read="true"] {
        outline: 1px solid lightgray;
    }

    &__action {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    &__icon {
        grid-row: 1/3;
        align-self: center;
        width: 25px;
        height: 25px;
        font-size: 25px;
        grid-column: 1;
    }
    &__message {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }
    &__details {
        grid-row: 1/2;
        grid-column: 3 / 4;
        justify-self: end;
    }
    &[type='SUCCESS'] &__icon {
        color: green;
    }
    &[type='ERROR'] &__icon {
        color: red;
    }
    &[type='WARN'] &__icon {
        color: goldenrod;
    }
}
.notification-action {
}
.notification-btn {
    background-color: var(--button-primary-color);
}
.notification-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 15px 5px 15px;

    &__delimiter {
    }
    &__title {
        font-size: 25px;
        line-height: 25px;
    }
    &__view-all {
        margin-top: 5px;
        text-align: center;
    }
}
.notification-message {
}
.progress {
    outline: 2px solid black;
    display: grid;
    grid-template-areas:
        "action details"
        "message message"
        "progress progress";

    &__action {
        grid-area: action;
    }
    &__message {
        grid-area: message;
    }
    &__details {
        grid-area: details;
        justify-self: end;
    }
}
.progress-bar {
    display: flex;
    gap: 10px;
    align-items: end;
    grid-area: progress;
    margin-bottom: 3px;
    &__value {
        grid-area: value;
        line-height: 10px;
    }
}

.notification-list {
    padding: 5px;
    max-height: 300px;
    overflow-y: auto;
    position:relative;
}