<div class="container">
    <p-calendar [(ngModel)]="value"
                (onSelect)="onValue($event)"
                [placeholder]="placeholder"
                [disabled]="readonly"
                [hourFormat]="enableMeridian ? '12' : '24'"
                [showTime]="true"
                [showSeconds]="showSeconds"
                [stepHour]="stepHour"
                [stepMinute]="stepMinute"
                [stepSecond]="stepSecond"
                [touchUI]="touchUi"
                class="p-inputtext">
    </p-calendar>
</div>
