<!-- UI Prop -->
@if (properties) {
  <table class="properties" [attr.readonly]="readonly">
  <colgroup><col class="col-toggle"><col class="col-name"><col class="col-value"></colgroup>
    <tr class="propRow">
      <td class="propRowCol"></td>
      <td class="propRowCell cellName">Can Invite</td>
      <td class="propRowCell">
        <p-select [(ngModel)]="properties.canInvite"
          panelStyleClass="pc-select-panel"
          [options]="canInviteOptions"
          [disabled]="readonly"
          (onChange)="onSave()"
          placeholder="Select Permission"
          optionLabel="label"
          optionValue="value"
          [appendTo]="'body'"
          >
        </p-select>
      </td>
    </tr>
    <tr class="propRow">
      <td class="propRowCol"></td>
      <td class="propRowCell cellName">Can Delete</td>
      <td class="propRowCell">
        <p-select [(ngModel)]="properties.canDelete"
          panelStyleClass="pc-select-panel"
          [options]="canDeleteOptions"
          [disabled]="readonly"
          (onChange)="onSave()"
          [appendTo]="'body'"
          placeholder="Select Permission"
          optionLabel="label"
          optionValue="value">
        </p-select>
      </td>
    </tr>
  </table>
}
