<!-- UI Prop -->
<table class="properties" [attr.readonly]="readonly" *ngIf="properties">
    <tr class="propRow">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Can Invite</td>
        <td class="propRowCell">
            <p-dropdown [(ngModel)]="properties.canInvite"
                        [options]="canInviteOptions"
                        [disabled]="readonly"
                        (onChange)="onSave()"
                        placeholder="Select Permission"
                        optionLabel="label"
                        optionValue="value"
                        [appendTo]="'body'"
            >
            </p-dropdown>
        </td>
    </tr>
    <tr class="propRow">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Can Delete</td>
        <td class="propRowCell">
            <p-dropdown [(ngModel)]="properties.canDelete"
                        [options]="canDeleteOptions"
                        [disabled]="readonly"
                        (onChange)="onSave()"
                        [appendTo]="'body'"
                        placeholder="Select Permission"
                        optionLabel="label"
                        optionValue="value">
            </p-dropdown>
        </td>
    </tr>
</table>
