<div class="g-dialog-content">
    <div class="g-dialog-header">
        <div class="g-dialog-cancel">
            <div class="g-dialog-cancel-btn" (click)="onNoClick()">
                <mat-icon>close</mat-icon>
            </div>
        </div>
        <div class="g-dialog-title">
            {{title}}
        </div>
        <div *ngIf="token" class="g-dialog-title">

        </div>

        <div *ngIf="innerWidth > 810" class="g-dialog-actions">
            <div *ngIf="!token" class="g-dialog-actions-btn" (click)="onCreate()"
                [attr.disabled]="!(valid && started)">
                Create
            </div>
            <div *ngIf="token" class="g-dialog-actions-btn" (click)="onSave()" [attr.disabled]="!(valid && started)">
                Save
            </div>
        </div>
    </div>
    <div class="g-dialog-body">
        <div *ngIf="description" [style.padding]="innerWidth <= 810 ? '20 0' : '20px 35px 10px 35px'">
            {{description}}
        </div>
        <div [style.padding]="innerWidth <= 810 ? '20 0' : '20px 35px 30px 35px'">
            <app-token-configuration [dataForm]="dataForm" [readonly]="readonly" [hide-type]="hideType"></app-token-configuration>
        </div>
    </div>
    <div *ngIf="innerWidth <= 810" class="page-btns">
        <button mat-raised-button color="primary" id="cancel-btn" (click)="onNoClick()">Cancel</button>
        <button *ngIf="!token" mat-raised-button color="primary" id="create-btn" (click)="onCreate()" [disabled]="!(valid && started)">Create</button>
        <button *ngIf="token" mat-raised-button color="primary" id="save-btn" (click)="onSave()" [disabled]="!(valid && started)">Save</button>
    </div>
</div>