.block {
  background: #fff;
  border: 1px solid #000;
  border-radius: 6px;
  padding: 4px 12px;
  margin: 10px 8px 10px 2px;
  cursor: pointer;
  position: relative;
  height: 22px;
  user-select: none;
  min-width: 125px;
}

.block[selected="true"] {
  border-color: #3f51b5;
  box-shadow: 0px 0px 3px 1px #3f51b5;
}

.block[error="true"] {
  border-color: #ff0000;
  box-shadow: 0px 0px 4px 2px #ff0000;
}

.block[selected="true"][error="true"] {
  border-color: #ff0000;
  box-shadow: 0px 0px 4px 2px #ff0000;
}

.block[fixed="true"] {
  margin-left: 32px;
  background: #ececec;
}

.block mat-icon {
  display: none;
}

.block[fixed="true"] mat-icon {
  display: block;
  position: absolute;
  left: -36px;
  top: 1px;
  color: #7d7d7d;
}
.block-icon {
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  overflow: hidden;
  height: 16px;
  position: relative;
  top: 3px;
}
.block-icon mat-icon {
  display: block;
  font-size: 16px;
  width: 22px;
  height: 16px;
  line-height: 16px;
}
.cdk-drag-placeholder {
  opacity: 0.2;
}
.mat-tree {
  background: transparent;
}
.btn-delete {
  position: absolute;
  top: 5px;
  right: -26px;
  width: 20px;
  height: 20px;
  color: #f11000;
  font-size: 19px;
}
.btn-delete mat-icon {
  display: block;
  font-size: 20px;
}
*[readonly="true"] .btn-delete {
  display: none;
}

.block[control="UI"] {
    border-radius: 0px;
}
.block[control="Server"] {
    border-radius: 20px;
}
.block[root="true"] .btn-delete {
    display: none;
}

.output-arrow {
    display: none;
    position: absolute;
    bottom: 0px;
    left: 70px;
    transform: translate(-10px, 17px);
    width: 18px;
    height: 14px;
    color: #000000;
    font-size: 19px;
    overflow: hidden;
}

.output-arrow mat-icon {
    display: block;
    font-size: 18px;
    width: 16px;
    position: relative;
    top: -4px;
}

.block[output="Single"] .output-arrow.single {
    display: block;
}
.block[output="Multiple"] .output-arrow.multiple {
    display: flex;
    transform: translate(-18px, 17px);
    width: 34px;
}
.block[output="Any"] .output-arrow.multiple {
    display: flex;
    transform: translate(-18px, 17px);
    width: 34px;
}

.block[stop-propagation="true"] .output-arrow::after {
    display: block;
    position: absolute;
    content: '';
    border-top: 1px solid #f50000;
    height: 2px;
    width: 18px;
    transform: rotate(29deg);
    transform-origin: 1px 2px;
    top: 0;
    left: 0;
    background: #eeeeee;
}

.block[stop-propagation="true"] .output-arrow mat-icon {
    color: #f50000;
}

.block[stop-propagation="true"] .output-arrow.multiple::after {
    transform-origin: -5px 2px;
    transform: rotate(10deg);
    width: 34px;
}

.input-arrow {
    display: none;
    overflow: hidden;
    top: 0px;
    left: 70px;
    width: 12px;
    height: 4px;
    position: absolute;
    transform: translate(-8px, -7px);
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.block[input="Single"] .input-arrow.single {
    display: block;
}
.block[input="Multiple"] .input-arrow.multiple {
    display: flex;
    width: 30px;
    transform: translate(-17px, -7px);
}
.block[input="Any"] .input-arrow.multiple {
    display: flex;
    width: 30px;
    transform: translate(-17px, -7px);
}

.mat-tree-container {
    position: relative;
    padding-left: 25px;
}

.expand-menu {
    position: absolute;
    top: 10px;
    left: 2px;
    height: 30px;
    width: 30px;
    overflow: hidden;
    z-index: 9;
}

.btn-expand-menu {
    height: 20px;
    width: 22px;
    padding: 2px;
    border: 1px solid transparent;
    cursor: pointer;
    margin: 1px;
    color: #000000;
}