.content {
    position: relative;
    background: #fff;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px;
}

.items {
    border: 1px solid #000;
    border-left: 0;
    border-top: 0;
    display: table;
}

.item {
    display: flex;
}

.item div {
    padding: 5px;
    border: 1px solid #000;
    border-bottom: 0;
    border-right: 0;
    width: 110px;
}

.color-true {
    color: #4caf50;
}

.color-false {
    color: #f44336;
}