.container {
    .main {
        width: 100%;
        // min-height: calc(480px - var(--header-height));
        // height: calc(50vh - var(--header-height));
        height: 50%;
        background-image: url("@assets/main.jfif");
        background-position-y: calc(0px - var(--header-height));
        background-size: 100% auto;
        overflow: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            display: block;
            background: #4169e263;
            width: 100%;
            height: 100%;
            // min-height: calc(480px - var(--header-height));
            // height: calc(50vh - var(--header-height));
        }

        .search-container {
            z-index: 2;
            width: 530px;
            height: 144px;

            .search-label {
                color: white;
                text-align: center;
                margin-bottom: 32px;

                &__header {
                    font-family: var(--font-family-bebas-neue);
                    font-size: var(--font-size-header-3);
                }

                &__description {
                    font-family: var(--font-family-inter);
                    font-size: var(--font-size-small-1);
                }
            }

            .search-control {
                width: 530px;
                height: 40px;
                position: relative;
                display: flex;

                &__form {
                    width: 100%;
                    display: flex;
                }

                &__input {
                    width: 100%;
                    height: 40px;
                    input {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.result, .overview {
    min-height: 50%;
    background-color: #f8f8f8;
    padding-left: 80px;
    padding-right: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.result {
    padding-top: 48px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
    height: 100%;
    margin: auto 0;
}

.overview {
    padding-bottom: 50px;
    height: 50%;
}

.map-container {
    border: 1px solid var(--color-gray-2);
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}
