.context {
    position: relative;
    overflow-y: auto;
    padding: 14px 0 20px 0;
    display: flex;
    flex-direction: row;
    height: 100%;
    font-family: Inter, serif;
    font-style: normal;
}

.dialog-header {
    .header-item {
        padding: 6px 12px;
        margin: 0px 16px;
        border-radius: 6px;
        font-size: var(--guardian-primary-font-size);
        color: var(--guardian-dry-run-color);
        background: var(--guardian-dry-run-background);
        user-select: none;
        cursor: default;
    }
}

form {
    width: 100%;

    .guardian-input-container {
        input[readonly] {
            border: none;
            padding-left: 0;
        }
    }
}

.guardian-input-container {
    margin-bottom: 24px;
}

.dialog-body {
    height: 500px;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    user-select: none;

    &>div {
        margin-left: 15px;
        margin-right: 0px;
    }
}

.close-icon-color {
    fill: #848FA9;
    color: #848FA9;
}

.group-name {
    padding: 0px 0px 15px 0px;
    font-weight: 500;
    font-size: 16px;

    label {
        margin-left: 8px;
    }
}

.group-value {
    padding: 0px 10px 15px 30px;
    display: flex;
    flex-direction: column;
}

.group-value[disabled="true"] {
    display: none;
}




@media (max-width: 810px) {



    .table-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 10px;
        border-bottom: 1px solid #E0E0E0;
    }

    .table-container span:nth-child(odd) {
        /* targets the first <span> in each <div> */
        grid-column: 1;
        /* places the element in the first column */
        color: #BABABA;
    }

    .table-container span:nth-child(even) {
        /* targets the second <span> in each <div> */
        grid-column: 2;
        /* places the element in the second column */
        color: #222222;
        margin: auto 0;
    }
}