:host {
    display: block;
    width: 100%;
    height: 100%;
}

label {
    color: #424242;
}

.mode-switch {
    display: inline-block;
    margin: 0px;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.mode-switch>label {
    margin: 0px;
    width: 100%;
    height: 100%;
    background: #e9e9e9;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    display: block;
    cursor: pointer;
}

.mode-switch input[type="checkbox"]:checked+label {
    background: #e9e9e9;
}

.mode-switch>label:after {
    content: '';
    width: 50%;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 6px -2px #111;
    padding: 8px 0px;
    pointer-events: none;
}

.mode-switch input[type="checkbox"] {
    cursor: pointer;
    width: 50px;
    height: 25px;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
    pointer-events: none;
}

.mode-switch input[type="checkbox"]:checked+label:after {
    left: 50%;
    transform: translate(-2px, 0px);
    background: var(--color-accent-green-1);
    color: #fff;
}

.l-off {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 0px;
    margin: 0px;
    z-index: 1;
    pointer-events: none;
    color: #424242;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.l-on {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 0px;
    margin: 0px;
    z-index: 1;
    pointer-events: none;
    transition: all 0.3s ease;
    color: #6e6e6e;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mode-switch input[type="checkbox"]:checked+label .l-on {
    color: #fff;
}

.mode-switch input[type="checkbox"]:checked+label .l-off {
    color: var(--color-grey-4);
}
