.block-name {
    padding-left: 32px;
    position: relative;
}

.block-icon {
    position: absolute;
    left: 0px;
    top: 0px;
}

.custom {
    height: 14px;
    line-height: 14px;
    display: inline-block;
    min-width: 1px;
}

.mat-option-link {
    color: #6166ff;
}

.mat-option-link mat-icon {
    margin-right: 2px;
    top: -2px;
    left: -4px;
    position: relative;
}

.ns {
    user-select: none;
}