.grid-setting {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.grid-setting::ng-deep .loading {
    background: rgb(255 255 255 / 70%);
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.grid-setting::ng-deep .label {
    display: flex;
}

.grid-setting::ng-deep .add-btn {
    color: #6166ff;
    margin-bottom: 5px;
    position: relative;
    user-select: none;
}

.grid-setting::ng-deep .add-btn span {
    position: absolute;
    left: 40px;
    top: 1px
}

.grid-setting::ng-deep .table {
    border: 1px solid #3f51b5;
    margin: 5px;
    display: inline-flex;
    overflow: hidden;
    max-height: calc(100% - 50px);
    position: relative;
    padding-top: 26px;
    background: #3f51b5;
}

.grid-setting::ng-deep .table-body {
    overflow-y: scroll;
    max-height: 100%;
}

.grid-setting::ng-deep .header {
    width: 480px;
    margin: 0;
    background: #3f51b5;
    position: absolute;
    left: 0;
    top: 0;
}

.grid-setting::ng-deep .header .propHeader {
    background: #3f51b5;
    color: #fff;
    position: relative;
}

.grid-setting::ng-deep .header .propHeader .propHeaderCell {
    font-weight: 500;
}

.grid-setting::ng-deep .header .propRowCol {
    background: #3f51b5;
    width: 18px;
    position: relative;
}

.grid-setting::ng-deep .properties {
    width: 530px;
    margin: 0px;
    background: #e5e5e5;
}

.grid-setting::ng-deep .propHeader {
    background: #e5e5e5;
    color: black;
    position: relative;
    font-weight: 500;
    position: relative;
}

.grid-setting::ng-deep .properties .propHeader::after,
.grid-setting::ng-deep .table-body .propHeader::after {
    position: absolute;
    content: '';
    height: 2px;
    border-bottom: 1px solid #b1b1b1;
    left: 22px;
    right: 0;
    bottom: -1px;
}

.grid-setting::ng-deep .propBottom {
    background: #fff;
    color: black;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    height: 30px;
    left: 0px;
    right: 8px;
    border-left: 24px solid #e5e5e5;
    padding: 5px 5px 5px 16px;
    box-sizing: border-box;
    box-shadow: 0px -1px 0 0 #919191;
}

.grid-setting::ng-deep .propRow .propRowCell {
    background: #fff;
    position: relative;
    overflow: hidden;
    max-width: 333px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grid-setting::ng-deep .propRow:nth-child(2n) .propRowCell {
    background: #f7f7f7;
}

.grid-setting::ng-deep .cellName {
    width: 160px;
    padding-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 5px;
    max-width: 160px;
}

.grid-setting::ng-deep .table-body .cellName {
    line-height: 24px;
}

.grid-setting::ng-deep .table-body .cellName {
    height: 24px;
}

.grid-setting::ng-deep .subRow .cellName {
    padding-left: 20px;
    width: 145px;
    max-width: 145px;
}

.grid-setting::ng-deep .subRow-2 .cellName {
    padding-left: 40px;
    width: 125px;
    max-width: 125px;
}

.grid-setting::ng-deep .subRow-3 .cellName {
    padding-left: 60px;
    width: 105px;
    max-width: 105px;
}

.grid-setting::ng-deep .subRow-4 .cellName {
    padding-left: 80px;
    width: 85px;
    max-width: 85px;
}

.grid-setting::ng-deep .subRow .cellName span {
    width: 135px;
}

.grid-setting::ng-deep .subRow-2 .cellName {
    width: 115px;
}

.grid-setting::ng-deep .subRow-3 .cellName {
    width: 95px;
}

.grid-setting::ng-deep .subRow-4 .cellName {
    width: 85px;
}

.grid-setting::ng-deep .cellTitle {
    font-weight: 500;
}

.grid-setting::ng-deep .propRowCol {
    background: #e5e5e5;
    width: 18px;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.grid-setting::ng-deep .propRowCol mat-icon {
    position: absolute;
    left: -1px;
    top: -1px;
    height: 20px;
    width: 20px;
    pointer-events: none;
}

.grid-setting::ng-deep .propRowCol[collapse="true"] mat-icon {
    transform: rotate(-90deg);
    top: 2px;
}

.grid-setting::ng-deep .propRow[collapse="true"] {
    display: none;
}

.grid-setting::ng-deep .propHeader[collapse="true"] {
    display: none;
}

.grid-setting::ng-deep .propAdd {
    height: 20px;
    width: 250px;
    overflow: hidden;
    cursor: pointer;
    font-size: 12px;
    color: #6166ff;
    padding-left: 23px;
    position: relative;
    font-weight: 500;
    user-select: none;
}

.grid-setting::ng-deep .propAdd mat-icon {
    position: absolute;
    left: 1px;
    top: -1px;
    font-size: 20px;
    pointer-events: none;
}

.grid-setting::ng-deep .propAdd span {
    pointer-events: none;
}

.grid-setting::ng-deep .propAdd:hover {
    text-decoration: underline;
}

.grid-setting::ng-deep .icon-event {
    display: inline-block;
    overflow: visible;
    font-size: 18px;
    line-height: 10px;
    height: 18px;
    color: #ffc107;
    width: 16px;
    position: relative;
    top: 4px;
}

.grid-setting::ng-deep .icon-link {
    display: inline-block;
    overflow: visible;
    font-size: 18px;
    line-height: 10px;
    height: 18px;
    color: #6166ff;
    width: 18px;
    position: relative;
    top: 4px;
    user-select: none;
}

.grid-setting::ng-deep .cellName span {
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

.grid-setting::ng-deep .cellValue span {
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

.grid-setting::ng-deep .properties .prop-input {
    width: 325px;
}

.grid-setting::ng-deep .properties input[type="checkbox"] {
    width: auto;
}

.grid-setting::ng-deep input[readonly] {
    border-color: transparent;
    background: transparent;
    outline: none;
}

.grid-setting::ng-deep input[readonly][type="checkbox"] {
    pointer-events: none;
    filter: grayscale(1);
}

.grid-setting::ng-deep *[readonly="true"] .propAdd {
    pointer-events: none;
    filter: grayscale(1);
}

.grid-setting::ng-deep .readonly-prop {
    padding-left: 2px;
    color: rgba(0, 0, 0, .45);
    max-width: 328px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.grid-setting::ng-deep .remove-prop {
    position: absolute;
    top: 2px;
    right: 0;
    color: #f00;
    cursor: pointer;
}

.grid-setting::ng-deep .remove-prop mat-icon {
    font-size: 20px;
}

.grid-setting::ng-deep .remove-prop[readonly="true"] {
    display: none;
}

.grid-setting::ng-deep .lvl[lvl="1"] {
    padding-left: 0px !important;
    width: 140px !important;
}

.grid-setting::ng-deep .lvl[lvl="1"] {
    padding-left: 8px !important;
    width: 132px !important;
}

.grid-setting::ng-deep .lvl[lvl="2"] {
    padding-left: 16px !important;
    width: 124px !important;
}

.grid-setting::ng-deep .lvl[lvl="3"] {
    padding-left: 24px !important;
    width: 116px !important;
}

.grid-setting::ng-deep .lvl[lvl="3"] {
    padding-left: 32px !important;
    width: 108px !important;
}

.grid-setting::ng-deep .lvl[lvl="4"] {
    padding-left: 40px !important;
    width: 100px !important;
}

.grid-setting::ng-deep .prop-icon {
    display: inline-block !important;
    height: 18px !important;
    width: auto !important;
    line-height: 18px !important;
    overflow: hidden !important;
}

.grid-setting::ng-deep .prop-icon-text {
    display: inline-block !important;
    height: 16px !important;
    width: auto !important;
    line-height: 16px !important;
    overflow: hidden !important;
}

.grid-setting::ng-deep .prop-icon mat-icon {
    position: relative !important;
    font-size: 20px !important;
}

.grid-setting::ng-deep div[disabled="true"] {
    filter: grayscale(1);
    opacity: 0.7;
}

.grid-setting::ng-deep .prop-icon-event {
    color: #bd9012;
    width: 20px !important;
}

.grid-setting::ng-deep .prop-icon-event[invalid="true"] {
    color: #f00;
}

.grid-setting::ng-deep .prop-icon-output-event {
    display: inline-block !important;
    height: 18px !important;
    width: auto !important;
    line-height: 18px !important;
    overflow: hidden !important;
    top: 4px;
    left: 3px;
    position: relative;
}

.grid-setting::ng-deep .prop-icon-input-event {
    display: inline-block !important;
    height: 18px !important;
    width: auto !important;
    line-height: 18px !important;
    overflow: hidden !important;
    top: 3px;
    left: 1px;
    position: relative;
}

.grid-setting::ng-deep .prop-icon-output-event mat-icon,
.grid-setting::ng-deep .prop-icon-input-event mat-icon {
    position: relative !important;
    font-size: 18px !important;
    top: 0px;
}

.grid-setting::ng-deep .text-collapse {
    color: transparent;
    user-select: none;
}

.grid-setting::ng-deep .text-collapse[collapse="true"] {
    color: inherit;
    user-select: inherit;
}

.grid-setting::ng-deep .common-properties-button {
    width: 99%;
    font-size: 12px;
    line-height: 25px;
    color: #6166ff;
    background-color: white;
}

.grid-setting::ng-deep .common-properties-button-container {
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 3px;
}

.grid-setting::ng-deep .custom-properties {
    display: contents;
}

.grid-setting::ng-deep *[offset="1"] .propRowCell.cellName {
    padding-left: 20px;
    width: 145px;
    max-width: 145px;
}

.grid-setting::ng-deep *[offset="2"] .propRowCell.cellName {
    padding-left: 40px;
    width: 125px;
    max-width: 125px;
}

.grid-setting::ng-deep *[offset="3"] .propRowCell.cellName {
    padding-left: 60px;
    width: 105px;
    max-width: 105px;
}

.block-name {
    padding-left: 32px;
    position: relative;
}

.block-icon {
    position: absolute;
    left: 0px;
    top: 0px;
}

.custom {
    height: 14px;
    line-height: 14px;
    display: inline-block;
    min-width: 1px;
}

.mat-option-link {
    color: #6166ff;
}

.mat-option-link mat-icon {
    margin-right: 2px;
    top: -2px;
    left: -4px;
    position: relative;
}

.ns {
    user-select: none;
}