<div class="grid-setting" [attr.readonly]="readonly">
    <div class="table">
        <table class="header">
            <tr class="propHeader">
                <td class="propRowCol"></td>
                <th class="propHeaderCell cellName">Property</th>
                <th class="propHeaderCell">Value</th>
            </tr>
        </table>
        <div class="table-body">
            <table *ngIf="block" class="properties">
                <tr class="propHeader">
                    <td class="propRowCol" (click)="onHide(propHidden, 'metaData')"
                        [attr.collapse]="propHidden.metaData">
                        <mat-icon>
                            expand_more
                        </mat-icon>
                    </td>
                    <td class="propHeaderCell cellName">Meta Data</td>
                    <td class="propHeaderCell"></td>
                </tr>

                <!-- Meta Data  -->
                <tr class="propRow" [attr.collapse]="propHidden.metaData">
                    <td class="propRowCol"></td>
                    <td class="propRowCell cellName">Type</td>
                    <td class="propRowCell">
                        <span class="readonly-prop">{{block.blockType}}</span>
                    </td>
                </tr>
                <tr class="propRow" [attr.collapse]="propHidden.metaData">
                    <td class="propRowCol"></td>
                    <td class="propRowCell cellName">Tag</td>
                    <td class="propRowCell">
                        <input [(ngModel)]="block.tag" [readonly]="readonly">
                    </td>
                </tr>
                <tr class="propRow" [attr.collapse]="propHidden.metaData">
                    <td class="propRowCol"></td>
                    <td class="propRowCell cellName">Permissions</td>
                    <td class="propRowCell">
                        <mat-select [(ngModel)]="block.permissions" multiple [disabled]="readonly">
                            <mat-option value="OWNER">Owner</mat-option>
                            <mat-option value="NO_ROLE">No Role</mat-option>
                            <mat-option value="ANY_ROLE">Any Role</mat-option>
                            <ng-container *ngIf="roles">
                                <mat-option *ngFor="let item of roles" [value]="item">{{item}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </td>
                </tr>
                <tr class="propRow" [attr.collapse]="propHidden.metaData">
                    <td class="propRowCol"></td>
                    <td class="propRowCell cellName">Default Active</td>
                    <td class="propRowCell">
                        <input type="checkbox" [(ngModel)]="block.defaultActive" [readonly]="readonly">
                    </td>
                </tr>
                <tr class="propRow" [attr.collapse]="propHidden.metaData">
                    <td class="propRowCol"></td>
                    <td class="propRowCell cellName">Dependencies</td>
                    <td class="propRowCell">
                        <mat-select [(value)]="block.dependencies" multiple [disabled]="readonly">
                            <mat-option *ngFor="let item of allBlocks" [value]="item.tag">{{item.tag}}</mat-option>
                        </mat-select>
                    </td>
                </tr>
            </table>
            <template #configContainer></template>
        </div>
    </div>
</div>