<h1 mat-dialog-title class="dialog-title">{{title}}</h1>
<mat-slide-toggle
  *ngIf="isVcDocument || isVpDocument"
  class="view-toggle"
  labelPosition='before'
  [(ngModel)]="viewDocument"
  color="primary"
>View as form</mat-slide-toggle>
<div mat-dialog-content class="dialog-content">
    <div class="content" [ngSwitch]="viewDocument">
        <app-document-view
          [document]="document"
          [schemas]="schemas"
          [type]="type"
          *ngSwitchCase="true">
        </app-document-view>
        <div class="json" *ngSwitchCase="false">
            {{json}}
        </div>
    </div>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button type="button" (click)="onClick()">Cancel</button>
</div>
