<div class="content">
    <div *ngIf="loading" class="loading">
        <mat-spinner></mat-spinner>
    </div>
    <div class="not-exist" *ngIf="!policy">
        Policy doesn't exist
    </div>
    <div class="render" *ngIf="policy" [attr.readonly]="readonly">
        <div class="main">
            <div class="main-body">
                <div class="top-toolbar">

                    <div class="btn-new-block btn-status-edit" (click)="savePolicy()" title="Save Policy">
                        <mat-icon>save</mat-icon>
                        <span>Save</span>
                    </div>

                    <div class="btn-new-block btn-status-all" (click)="saveAsPolicy()" title="Save Policy">
                        <mat-icon>save</mat-icon>
                        <span>Save As</span>
                    </div>

                    <div class="delimiter"></div>

                    <div class="btn-new-block btn-status-edit" (click)="validationPolicy()" title="Validation Policy"
                        [attr.errors-count]="errorsCount" [attr.readonly]="currentView != 'blocks'">
                        <mat-icon>task_alt</mat-icon>
                        <span>Validation</span>
                        <div *ngIf="errorsCount>0" class="error-count">{{errorsCount}}</div>
                    </div>

                    <div class="delimiter"></div>

                    <div class="btn-new-block btn-status-edit" (click)="setVersion()" title="Publish Policy">
                        <mat-icon>public</mat-icon>
                        <span>Publish</span>
                    </div>

                    <div class="delimiter"></div>

                    <div class="btn-group btn-status-edit" [matMenuTriggerFor]="mainMenu">
                        <mat-icon>home</mat-icon>
                        <span>Main</span>
                        <div class="expand-group">
                            <mat-icon>arrow_drop_down</mat-icon>
                        </div>
                    </div>

                    <div class="btn-group btn-status-edit" [matMenuTriggerFor]="vcMenu">
                        <mat-icon>description</mat-icon>
                        <span>Verifiable Credential</span>
                        <div class="expand-group">
                            <mat-icon>arrow_drop_down</mat-icon>
                        </div>
                    </div>

                    <div class="btn-group btn-status-edit" [matMenuTriggerFor]="tokensMenu">
                        <mat-icon>paid</mat-icon>
                        <span>Tokens</span>
                        <div class="expand-group">
                            <mat-icon>arrow_drop_down</mat-icon>
                        </div>
                    </div>

                    <div class="btn-group btn-status-edit" [matMenuTriggerFor]="calculateMenu">
                        <mat-icon>calculate</mat-icon>
                        <span>Calculate</span>
                        <div class="expand-group">
                            <mat-icon>arrow_drop_down</mat-icon>
                        </div>
                    </div>

                    <div class="btn-group btn-status-edit" [matMenuTriggerFor]="reportMenu">
                        <mat-icon>addchart</mat-icon>
                        <span>Report</span>
                        <div class="expand-group">
                            <mat-icon>arrow_drop_down</mat-icon>
                        </div>
                    </div>

                    <div class="delimiter"></div>

                    <div *ngIf="readonly" class="btn-new-block btn-status-all" [routerLink]="['/policy-viewer']"
                        [queryParams]="{ policyId: policyId }">
                        <mat-icon>login</mat-icon>
                        <span>Open</span>
                    </div>
                </div>

                <div class="view-menu">
                    <div class="btn-view-menu" (click)="onView('blocks')" title="Blocks"
                        [attr.active]="currentView == 'blocks'">
                        <mat-icon>view_agenda</mat-icon>
                    </div>
                    <div class="btn-view-menu" (click)="onView('json')" title="JSON"
                        [attr.active]="currentView == 'json'">
                        <mat-icon>code</mat-icon>
                    </div>
                    <div class="btn-view-menu" (click)="onView('yaml')" title="YAML"
                        [attr.active]="currentView == 'yaml'">
                        <mat-icon>segment</mat-icon>
                    </div>
                </div>

                <div class="tree-container code-container-{{currentView}}">
                    <div *ngIf="currentView !== 'blocks'" class="textarea-code">
                        <ngx-codemirror [(ngModel)]="code" [options]="codeMirrorOptions"></ngx-codemirror>
                    </div>
                    <div *ngIf="currentView !== 'blocks' && errors && errors.length" class="json-errors">
                        <div *ngFor="let item of errors" class="errors-property">
                            <span></span>{{item}}
                        </div>
                    </div>
                    <tree-flat-overview *ngIf="currentView == 'blocks'" [blocks]="blocks" [errors]="errorsMap"
                        (delete)="onDelete($event)" (select)="onSelect($event)" (reorder)="onReorder($event)">
                    </tree-flat-overview>
                </div>
            </div>
        </div>

        <div class="setting">
            <div class="group policy-config" [attr.col-group]="colGroup1">
                <div class="group-header">
                    <div class="group-title">Policy Properties</div>
                    <div class="group-col" (click)="onColGroup(1)">
                        <mat-icon>expand_more</mat-icon>
                    </div>
                </div>
                <div class="group-body">
                    <policy-properties [policy]="policy" [readonly]="readonly" [type]="'Main'"></policy-properties>
                </div>
            </div>
            <div class="group policy-role" [attr.col-group]="colGroup3">
                <div class="group-header">
                    <div class="group-title">Policy Roles</div>
                    <div class="group-col" (click)="onColGroup(3)">
                        <mat-icon>expand_more</mat-icon>
                    </div>
                </div>
                <div class="group-body">
                    <policy-properties [policy]="policy" [readonly]="readonly" [type]="'Role'"></policy-properties>
                </div>
            </div>
            <div class="group properties-config" *ngIf="currentBlock" [attr.col-group]="colGroup2"
                [attr.hide]="currentView !== 'blocks'">
                <div class="group-header">
                    <div class="group-title">Block Properties</div>
                    <div class="group-col" (click)="onColGroup(2)">
                        <mat-icon>expand_more</mat-icon>
                    </div>
                </div>
                <div class="group-body">
                    <div *ngIf="errorsMap[currentBlock.id]" class="errors-properties">
                        <div *ngFor="let item of errorsMap[currentBlock.id]" class="errors-property">
                            <span></span>{{item}}
                        </div>
                    </div>
                    <div class="common-properties">
                        <ng-container *ngIf="propTab=='Properties'">
                            <common-properties [block]="currentBlock" [schemes]="schemes" [all]="allBlocks"
                                [readonly]="readonly" [tokens]="tokens" [roles]="policy.policyRoles">
                            </common-properties>
                        </ng-container>
                        <ng-container *ngIf="propTab=='JSON'">
                            <json-properties [block]="currentBlock" [schemes]="schemes" [all]="allBlocks"
                                [readonly]="readonly" [tokens]="tokens" [roles]="policy.policyRoles">
                            </json-properties>
                        </ng-container>
                    </div>
                </div>
                <div class="group-tab">
                    <div class="group-tab-item" [attr.active]="propTab=='Properties'" (click)="propTab='Properties'">
                        Properties
                    </div>
                    <div class="group-tab-item" [attr.active]="propTab=='JSON'" (click)="propTab='JSON'">
                        JSON
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<mat-menu #mainMenu="matMenu">
    <div *ngFor="let item of registeredBlocks.groups.Main" class="btn-new-block-menu btn-status-edit"
        (click)="onAdd(item.type)" [title]="item.title">
        <mat-icon>{{item.icon}}</mat-icon>
        <span>{{item.name}}</span>
    </div>
</mat-menu>

<mat-menu #vcMenu="matMenu">
    <div *ngFor="let item of registeredBlocks.groups.Documents" class="btn-new-block-menu btn-status-edit"
        (click)="onAdd(item.type)" [title]="item.title">
        <mat-icon>{{item.icon}}</mat-icon>
        <span>{{item.name}}</span>
    </div>
</mat-menu>

<mat-menu #tokensMenu="matMenu">
    <div *ngFor="let item of registeredBlocks.groups.Tokens" class="btn-new-block-menu btn-status-edit"
        (click)="onAdd(item.type)" [title]="item.title">
        <mat-icon>{{item.icon}}</mat-icon>
        <span>{{item.name}}</span>
    </div>
</mat-menu>

<mat-menu #calculateMenu="matMenu">
    <div *ngFor="let item of registeredBlocks.groups.Calculate" class="btn-new-block-menu btn-status-edit"
        (click)="onAdd(item.type)" [title]="item.title">
        <mat-icon>{{item.icon}}</mat-icon>
        <span>{{item.name}}</span>
    </div>
</mat-menu>

<mat-menu #reportMenu="matMenu">
    <div *ngFor="let item of registeredBlocks.groups.Report" class="btn-new-block-menu btn-status-edit"
        (click)="onAdd(item.type)" [title]="item.title">
        <mat-icon>{{item.icon}}</mat-icon>
        <span>{{item.name}}</span>
    </div>
</mat-menu>