<div class="content">
    <div *ngIf="loading" class="loading">
        <mat-spinner></mat-spinner>
    </div>
    <!-- <div *ngIf="loading && taskId" class="loading">
        <async-progress class="loading-progress" [taskId]="taskId" [expected]="expectedTaskMessages"
            (error)="onAsyncError($event)" (completed)="onAsyncCompleted()"></async-progress>
    </div> -->

    <div *ngIf="!policyModel.valid" class="not-exist">
        Policy doesn't exist
    </div>
    <div *ngIf="policyModel.valid" class="policy-configuration" [attr.readonly]="readonly">
        <div class="top-toolbar">


            <div class="top-toolbar-btn readonly-status" (click)="savePolicy()" title="Save Policy">
                <mat-icon>save</mat-icon>
                <span>Save</span>
            </div>

            <div class="top-toolbar-btn all-status" (click)="saveAsPolicy()" title="Save Policy">
                <mat-icon>save</mat-icon>
                <span>Save As</span>
            </div>

            <div class="delimiter"></div>

            <div *ngIf="policyModel.isDraft" class="top-toolbar-group all-status" [matMenuTriggerFor]="publishMenu">
                <mat-icon class="edit-color">edit</mat-icon>
                <span class="edit-color">Draft</span>
                <div class="expand-group">
                    <mat-icon>arrow_drop_down</mat-icon>
                </div>
            </div>

            <div *ngIf="policyModel.isDryRun" class="top-toolbar-group all-status" style="width: 60px"
                [matMenuTriggerFor]="dryRunMenu">
                <mat-icon class="dry-run-color">build</mat-icon>
                <span class="dry-run-color">
                    In Dry Run
                </span>
                <div class="expand-group">
                    <mat-icon>arrow_drop_down</mat-icon>
                </div>
            </div>

            <div *ngIf="policyModel.isPublished" class="top-toolbar-btn top-toolbar-label">
                <mat-icon class="publish-color">public</mat-icon>
                <span class="publish-color">Published</span>
            </div>

            <div class="delimiter"></div>

            <div *ngIf="policyModel.isDraft" class="top-toolbar-btn all-status" (click)="validationPolicy()"
                title="Validation Policy" [attr.errors-count]="errorsCount" [attr.readonly]="currentView != 'blocks'">
                <mat-icon>task_alt</mat-icon>
                <span>Validation</span>
                <div *ngIf="errorsCount>0" class="error-count">{{errorsCount}}</div>
            </div>

            <div *ngIf="policyModel.isDryRun || policyModel.isPublished" class="top-toolbar-btn all-status"
                [routerLink]="['/policy-viewer', policyId]">
                <mat-icon>double_arrow</mat-icon>
                <span>Go</span>
            </div>

            <div class="delimiter"></div>

            <ng-container *ngIf="!readonly && currentView === 'blocks'">
                <ng-container>
                    <div [attr.storage-active]="policyStorage.isUndo" class="top-toolbar-btn readonly-status"
                        (click)="undoPolicy()" title="Undo">
                        <mat-icon>undo</mat-icon>
                        <span>Undo</span>
                    </div>

                    <div [attr.storage-active]="policyStorage.isRedo" class="top-toolbar-btn readonly-status"
                        (click)="redoPolicy()" title="Redo">
                        <mat-icon>redo</mat-icon>
                        <span>Redo</span>
                    </div>

                    <div class="top-toolbar-btn all-status copy-blocks-mode" (click)="copyBlocksMode=!copyBlocksMode"
                        title="Save Policy" [ngClass]="{'copy-blocks-mode-active': copyBlocksMode}">
                        <mat-icon>content_copy</mat-icon>
                        <span>Copy Mode</span>
                    </div>

                    <div class="delimiter"></div>
                </ng-container>

                <ng-container *ngIf="!currentBlock?.isModule && !currentBlock?.root">
                    <div class="top-toolbar-btn readonly-status" title="Create New Module" (click)="onCreateModule()">
                        <mat-icon>create_new_folder</mat-icon>
                        <span>Create New Module</span>
                    </div>

                    <div class="top-toolbar-btn readonly-status" title="Convert to Module"
                        (click)="onConvertToModule()">
                        <mat-icon>move_to_inbox</mat-icon>
                        <span>Convert to Module</span>
                    </div>

                    <div class="delimiter"></div>
                </ng-container>

                <ng-container *ngIf="currentBlock?.isModule">
                    <div class="top-toolbar-btn readonly-status" title="Create New Module" (click)="onCreateModule()">
                        <mat-icon>folder_special</mat-icon>
                        <span>Save Module</span>
                    </div>

                    <div class="top-toolbar-btn readonly-status" title="Convert to Module"
                        (click)="onOpenModule(currentBlock)">
                        <mat-icon>folder_open</mat-icon>
                        <span>Open Module</span>
                    </div>

                    <div class="delimiter"></div>
                </ng-container>
            </ng-container>

            <div class="top-toolbar-btn all-status" (click)="onView('blocks')" title="Blocks"
                [attr.active]="currentView == 'blocks'">
                <mat-icon>view_agenda</mat-icon>
                <span>Tree</span>
            </div>

            <div class="top-toolbar-btn all-status" (click)="onView('json')" title="JSON"
                [attr.active]="currentView == 'json'">
                <mat-icon>code</mat-icon>
                <span>JSON</span>
            </div>

            <div class="top-toolbar-btn all-status" (click)="onView('yaml')" title="YAML"
                [attr.active]="currentView == 'yaml'">
                <mat-icon>segment</mat-icon>
                <span>YAML</span>
            </div>

            <div class="delimiter"></div>

            <div *ngIf="currentView === 'blocks'" class="top-toolbar-group all-status event-color"
                [matMenuTriggerFor]="eventMenu" style="width: 60px">

                <mat-icon *ngIf="eventVisible =='All'" class="event-color">flash_on</mat-icon>
                <mat-icon *ngIf="eventVisible =='Action'" class="event-color">
                    <div class="action-event-icon"></div>
                </mat-icon>
                <mat-icon *ngIf="eventVisible =='Refresh'" class="event-color">
                    <div class="refresh-event-icon"></div>
                </mat-icon>
                <mat-icon *ngIf="eventVisible =='None'" class="event-color">flash_off</mat-icon>


                <span *ngIf="eventVisible =='All'" class="event-color">All Events</span>
                <span *ngIf="eventVisible =='Action'" class="event-color">Action Events</span>
                <span *ngIf="eventVisible =='Refresh'" class="event-color">Refresh Events</span>
                <span *ngIf="eventVisible =='None'" class="event-color">Hide Events</span>


                <div class="expand-group">
                    <mat-icon>arrow_drop_down</mat-icon>
                </div>
            </div>

            <div class="delimiter"></div>
        </div>

        <div class="main-container">
            <div class="left-toolbar">


                <div class="pc-tabs">
                    <div class="pc-tabs-headers">
                        <div class="tab-header" [attr.selected]="options.components" (click)="select('components')">
                            Components
                        </div>
                        <div class="tab-header" [attr.selected]="options.library" (click)="select('library')">
                            Modules
                        </div>
                    </div>

                    <div class="pc-tabs-content" [attr.readonly]="leftMenu">
                        <div class="components-container readonly-status" [hidden]="!options.components" cdkDropList
                            #menuList="cdkDropList" [cdkDropListConnectedTo]="[treeList]" cdkDropListSortingDisabled
                            [cdkDropListEnterPredicate]="noReturnPredicate"
                            (cdkDropListDropped)="drop($event)"
                        >

                            <div class="components-search">
                                <input placeholder="Search" [(ngModel)]="search" (input)="onSearch($event)">
                                <mat-icon class="components-search-icon">search</mat-icon>
                            </div>

                            <div *ngIf="componentsList.favorites.length" class="components-group"
                                [attr.collapsed]="options.favoritesGroup">
                                <div class="components-group-name" (click)="collapse('favoritesGroup')">
                                    <mat-icon class="components-group-collapse">arrow_drop_down</mat-icon>
                                    <mat-icon class="components-group-open">arrow_right</mat-icon>
                                    <mat-icon class="components-group-name-icon">star</mat-icon>
                                    <span style="padding-left: 22px">Favorites
                                        ({{componentsList.favorites.length}})</span>
                                </div>
                                <div class="components-group-body" *ngFor="let item of componentsList.favorites">
                                    <div cdkDrag [cdkDragData]="item.data" class="drag-btn"
                                        [attr.block-type]="item.header" (click)="onAdd(item)">
                                        <div class="drag-component">
                                            <mat-icon class="drag-component-icon">{{item.icon}}</mat-icon>
                                            <span class="drag-component-name">{{item.name}}</span>
                                        </div>
                                    </div>
                                    <div class="component-btn" (click)="onAdd(item)">
                                        <mat-icon class="component-btn-icon">{{item.icon}}</mat-icon>
                                        <span>{{item.name}}</span>
                                        <mat-icon class="component-btn-favorite" [attr.favorite]="item.favorite"
                                            (click)="setFavorite(item)">star</mat-icon>
                                    </div>
                                </div>
                            </div>
                            <div class="components-group" [attr.collapsed]="options.uiGroup">
                                <div class="components-group-name" (click)="collapse('uiGroup')">
                                    <mat-icon class="components-group-collapse">arrow_drop_down</mat-icon>
                                    <mat-icon class="components-group-open">arrow_right</mat-icon>
                                    <span>UI Components ({{componentsList.uiComponents.length}})</span>
                                </div>
                                <div class="components-group-body" *ngFor="let item of componentsList.uiComponents">
                                    <div cdkDrag [cdkDragData]="item.data" class="drag-btn"
                                        [attr.block-type]="item.header" (click)="onAdd(item)">
                                        <div class="drag-component">
                                            <mat-icon class="drag-component-icon">{{item.icon}}</mat-icon>
                                            <span class="drag-component-name">{{item.name}}</span>
                                        </div>
                                    </div>
                                    <div class="component-btn" (click)="onAdd(item)">
                                        <mat-icon class="component-btn-icon">{{item.icon}}</mat-icon>
                                        <span>{{item.name}}</span>
                                        <mat-icon class="component-btn-favorite" [attr.favorite]="item.favorite"
                                            (click)="setFavorite(item)">star</mat-icon>
                                    </div>
                                </div>
                            </div>
                            <div class="components-group" [attr.collapsed]="options.serverGroup">
                                <div class="components-group-name" (click)="collapse('serverGroup')">
                                    <mat-icon class="components-group-collapse">arrow_drop_down</mat-icon>
                                    <mat-icon class="components-group-open">arrow_right</mat-icon>
                                    <span>Server Components ({{componentsList.serverBlocks.length}})</span>
                                </div>
                                <div class="components-group-body" *ngFor="let item of componentsList.serverBlocks">
                                    <div cdkDrag [cdkDragData]="item.data" class="drag-btn"
                                        [attr.block-type]="item.header" (click)="onAdd(item)">
                                        <div class="drag-component">
                                            <mat-icon class="drag-component-icon">{{item.icon}}</mat-icon>
                                            <span class="drag-component-name">{{item.name}}</span>
                                        </div>
                                    </div>
                                    <div class="component-btn" (click)="onAdd(item)">
                                        <mat-icon class="component-btn-icon">{{item.icon}}</mat-icon>
                                        <span>{{item.name}}</span>
                                        <mat-icon class="component-btn-favorite" [attr.favorite]="item.favorite"
                                            (click)="setFavorite(item)">star</mat-icon>
                                    </div>
                                </div>
                            </div>
                            <div class="components-group" [attr.collapsed]="options.addonsGroup">
                                <div class="components-group-name" (click)="collapse('addonsGroup')">
                                    <mat-icon class="components-group-collapse">arrow_drop_down</mat-icon>
                                    <mat-icon class="components-group-open">arrow_right</mat-icon>
                                    <span>Addons ({{componentsList.addons.length}})</span>
                                </div>
                                <div class="components-group-body" *ngFor="let item of componentsList.addons">
                                    <div cdkDrag [cdkDragData]="item.data" class="drag-btn"
                                        [attr.block-type]="item.header" (click)="onAdd(item)">
                                        <div class="drag-component">
                                            <mat-icon class="drag-component-icon">{{item.icon}}</mat-icon>
                                            <span class="drag-component-name">{{item.name}}</span>
                                        </div>
                                    </div>
                                    <div class="component-btn" (click)="onAdd(item)">
                                        <mat-icon class="component-btn-icon">{{item.icon}}</mat-icon>
                                        <span>{{item.name}}</span>
                                        <mat-icon class="component-btn-favorite" [attr.favorite]="item.favorite"
                                            (click)="setFavorite(item)">star</mat-icon>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="componentsList.unGrouped.length" class="components-group"
                                [attr.collapsed]="options.unGroup">
                                <div class="components-group-name" (click)="collapse('unGroup')">
                                    <mat-icon class="components-group-collapse">arrow_drop_down</mat-icon>
                                    <mat-icon class="components-group-open">arrow_right</mat-icon>
                                    <span>unGrouped</span>
                                </div>
                                <div class="components-group-body" *ngFor="let item of componentsList.unGrouped">
                                    <div cdkDrag [cdkDragData]="item.data" class="drag-btn"
                                        [attr.block-type]="item.header" (click)="onAdd(item)">
                                        <div class="drag-component">
                                            <mat-icon class="drag-component-icon">{{item.icon}}</mat-icon>
                                            <span class="drag-component-name">{{item.name}}</span>
                                        </div>
                                    </div>
                                    <div class="component-btn" (click)="onAdd(item)" [attr.block-type]="item.header">
                                        <mat-icon class="component-btn-icon">{{item.icon}}</mat-icon>
                                        <span>{{item.name}}</span>
                                        <mat-icon class="component-btn-favorite" [attr.favorite]="item.favorite"
                                            (click)="setFavorite(item)">star</mat-icon>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="components-container" [hidden]="!options.library">

                            <div class="components-search">
                                <input placeholder="Search" [(ngModel)]="search" (input)="onModuleSearch($event)">
                                <mat-icon class="components-search-icon">search</mat-icon>
                            </div>

                            <div *ngIf="modulesList.favorites.length" class="components-group"
                                [attr.collapsed]="options.favoritesModulesGroup">
                                <div class="components-group-name" (click)="collapse('favoritesModulesGroup')">
                                    <mat-icon class="components-group-collapse">arrow_drop_down</mat-icon>
                                    <mat-icon class="components-group-open">arrow_right</mat-icon>
                                    <mat-icon class="components-group-name-icon">star</mat-icon>
                                    <span style="padding-left: 22px">Favorites
                                        ({{modulesList.favorites.length}})</span>
                                </div>
                                <div class="components-group-body">


                                    <div *ngFor="let item of modulesList.favorites" class="component-btn">
                                        <mat-icon class="component-btn-icon">folder</mat-icon>
                                        <span>{{item.name}}</span>
                                        <span class="component-btn-toolbar">
                                            <mat-icon class="component-btn-favorite" [attr.favorite]="item.favorite"
                                                (click)="setModuleFavorite(item)">star</mat-icon>
                                            <mat-icon [attr.readonly]="item.isDefault" class="component-btn-delete"
                                                [attr.favorite]="item.favorite"
                                                (click)="onDeleteModule(item)">delete</mat-icon>
                                        </span>
                                    </div>

                                </div>
                            </div>

                            <div class="components-group" [attr.collapsed]="options.defaultModulesGroup">
                                <div class="components-group-name" (click)="collapse('defaultModulesGroup')">
                                    <mat-icon class="components-group-collapse">arrow_drop_down</mat-icon>
                                    <mat-icon class="components-group-open">arrow_right</mat-icon>
                                    <span>Default Modules ({{modulesList.defaultModules.length}})</span>
                                </div>
                                <div class="components-group-body">


                                    <div *ngFor="let item of modulesList.defaultModules" class="component-btn">
                                        <mat-icon class="component-btn-icon">folder</mat-icon>
                                        <span>{{item.name}}</span>
                                        <span class="component-btn-toolbar">
                                            <mat-icon class="component-btn-favorite" [attr.favorite]="item.favorite"
                                                (click)="setModuleFavorite(item)">star</mat-icon>
                                        </span>

                                    </div>

                                </div>
                            </div>

                            <div class="components-group" [attr.collapsed]="options.customModulesGroup">
                                <div class="components-group-name" (click)="collapse('customModulesGroup')">
                                    <mat-icon class="components-group-collapse">arrow_drop_down</mat-icon>
                                    <mat-icon class="components-group-open">arrow_right</mat-icon>
                                    <span>Custom models ({{modulesList.customModules.length}})</span>
                                </div>
                                <div class="components-group-body">


                                    <div *ngFor="let item of modulesList.customModules" class="component-btn">
                                        <mat-icon class="component-btn-icon">folder</mat-icon>
                                        <span>{{item.name}}</span>

                                        <span class="component-btn-toolbar">
                                            <mat-icon class="component-btn-favorite" [attr.favorite]="item.favorite"
                                                (click)="setModuleFavorite(item)">star</mat-icon>
                                            <mat-icon class="component-btn-delete" [attr.favorite]="item.favorite"
                                                (click)="onDeleteModule(item)">delete</mat-icon>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



            </div>
            <div class="center-container">


                <div class="pc-tabs minimized-tabs">
                    <div class="pc-tabs-headers">
                        <div class="tab-header tab-header-icon" [attr.selected]="openModule===policyModel"
                            style="width: 100px;margin-right: 6px" (click)="onOpenPolicy()">
                            <mat-icon class="action-color">article</mat-icon>
                            Policy
                        </div>
                        <ng-container *ngIf="policyModel.allModule">
                            <div class="tab-header tab-header-icon" *ngFor="let item of policyModel.allModule"
                                [attr.selected]="openModule===item" (click)="onOpenModule(item)">
                                <mat-icon class="edit-color">folder</mat-icon>
                                {{item.tag}}
                            </div>
                        </ng-container>
                    </div>
                    <div class="pc-tabs-content tree-container">




                        <policy-tree [blocks]="openModule.dataSource" [errors]="errorsMap" [readonly]="readonly"
                            [active]="eventVisible" [menuList]="menuList" (open)="onOpenModule($event)"
                            (delete)="onDelete($event)" (select)="onSelect($event)" (reorder)="onReorder($event)"
                            (init)="initTree($event)">
                        </policy-tree>



                    </div>
                </div>

            </div>
            <div class="right-toolbar">

                <div class="right-top-toolbar" [attr.collapse-top]="options.rightTopMenu"
                    [attr.collapse-bottom]="options.rightBottomMenu">


                    <div class="pc-tabs">
                        <div class="pc-tabs-headers">
                            <div class="tab-header" [attr.selected]="options.description"
                                (click)="select('description')">
                                Description
                            </div>
                            <div class="tab-header" [attr.selected]="options.roles" (click)="select('roles')">
                                Roles
                            </div>
                            <div class="tab-header" [attr.selected]="options.groups" (click)="select('groups')">
                                Groups
                            </div>
                            <div class="tab-header" [attr.selected]="options.topics" (click)="select('topics')">
                                Topics
                            </div>
                            <div class="tab-header" [attr.selected]="options.tokens" (click)="select('tokens')">
                                Tokens
                            </div>

                            <div class="tabs-icon" [attr.collapsed]="options.rightTopMenu"
                                (click)="collapse('rightTopMenu')">
                                <mat-icon>keyboard_double_arrow_up</mat-icon>
                            </div>
                        </div>
                        <div class="pc-tabs-content">
                            <div class="prop-container readonly-status" [hidden]="!options.description">
                                <policy-properties [policy]="policyModel" [readonly]="readonly"
                                    type="Main"></policy-properties>
                            </div>
                            <div class="prop-container readonly-status" [hidden]="!options.roles">
                                <policy-properties [policy]="policyModel" [readonly]="readonly"
                                    type="Role"></policy-properties>
                            </div>
                            <div class="prop-container readonly-status" [hidden]="!options.groups">
                                <policy-properties [policy]="policyModel" [readonly]="readonly"
                                    type="Groups"></policy-properties>
                            </div>
                            <div class="prop-container readonly-status" [hidden]="!options.topics">
                                <policy-properties [policy]="policyModel" [readonly]="readonly"
                                    type="Topics"></policy-properties>
                            </div>
                            <div class="prop-container readonly-status" [hidden]="!options.tokens">
                                <policy-properties [policy]="policyModel" [readonly]="readonly"
                                    type="Tokens"></policy-properties>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="right-bottom-toolbar" [attr.collapse-top]="options.rightTopMenu"
                    [attr.collapse-bottom]="options.rightBottomMenu">

                    <div class="pc-tabs">
                        <div class="pc-tabs-headers">
                            <div class="tab-header" [attr.selected]="options.properties" (click)="select('properties')">
                                Properties
                            </div>
                            <div class="tab-header" [attr.selected]="options.events" (click)="select('events')">
                                Events
                            </div>
                            <div class="tab-header" [attr.selected]="options.artifacts" (click)="select('artifacts')">
                                Artifacts
                            </div>
                            <div class="tab-header" [attr.selected]="options.json" (click)="select('json')">
                                Json
                            </div>
                            <div class="tabs-icon" [attr.collapsed]="!options.rightBottomMenu"
                                (click)="collapse('rightBottomMenu')">
                                <mat-icon>keyboard_double_arrow_up</mat-icon>
                            </div>
                        </div>
                        <div class="pc-tabs-content">
                            <div class="prop-container readonly-status" [hidden]="!options.properties">
                                <common-properties *ngIf="currentBlock" [policy]="policyModel" [block]="currentBlock"
                                    [schemas]="schemas" [readonly]="readonly" [tokens]="tokens"
                                    type="Common"></common-properties>
                            </div>
                            <div class="prop-container readonly-status" [hidden]="!options.events">
                                <common-properties *ngIf="currentBlock" [policy]="policyModel" [block]="currentBlock"
                                    [schemas]="schemas" [readonly]="readonly" [tokens]="tokens"
                                    type="Events"></common-properties>
                            </div>
                            <div class="prop-container readonly-status" [hidden]="!options.artifacts">
                                <artifact-properties *ngIf="currentBlock" [readonly]="readonly" [policyId]="policyId"
                                    [block]="currentBlock"></artifact-properties>
                            </div>
                            <div class="prop-container readonly-status" [hidden]="!options.json">
                                <json-properties *ngIf="options.json && currentBlock" [block]="currentBlock"
                                    [readonly]="readonly"></json-properties>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<mat-menu #publishMenu="matMenu">
    <div class="toolbar-menu all-status publish-color" (click)="tryPublishPolicy()"
        title="Release version into public domain.">
        <mat-icon class="publish-color">public</mat-icon>
        <span class="publish-color">Publish</span>
    </div>

    <div class="toolbar-menu all-status dry-run-color" (click)="tryRunPolicy()"
        title="Run without making any persistent changes or executing transaction.">
        <mat-icon class="dry-run-color">build</mat-icon>
        <span class="dry-run-color">Dry Run</span>
    </div>
</mat-menu>

<mat-menu #dryRunMenu="matMenu">
    <div class="toolbar-menu all-status publish-color" (click)="tryPublishPolicy()"
        title="Release version into public domain.">
        <mat-icon class="publish-color">public</mat-icon>
        <span class="publish-color">Publish</span>
    </div>

    <div class="toolbar-menu all-status edit-color" (click)="draftPolicy()" title="Return to editing.">
        <mat-icon class="edit-color">edit</mat-icon>
        <span class="edit-color">Stop</span>
    </div>
</mat-menu>

<mat-menu #eventMenu="matMenu">
    <div class="toolbar-menu all-status event-color" (click)="onShowEvent('All')" title="Show All Events.">
        <mat-icon class="event-color">flash_on</mat-icon>
        <span class="action-color">Show All Events</span>
    </div>
    <div class="toolbar-menu all-status event-color" (click)="onShowEvent('Action')" title="Show Action Events.">
        <mat-icon class="event-color">
            <div class="action-event-icon"></div>
        </mat-icon>
        <span class="action-color">Show Action Events</span>
    </div>
    <div class="toolbar-menu all-status event-color" (click)="onShowEvent('Refresh')" title="Show Refresh Events.">
        <mat-icon class="event-color">
            <div class="refresh-event-icon"></div>
        </mat-icon>
        <span class="action-color">Show Refresh Events</span>
    </div>
    <div class="toolbar-menu all-status event-color" (click)="onShowEvent('None')" title="Hide All Events.">
        <mat-icon class="event-color">flash_off</mat-icon>
        <span class="action-color">Hide All Events</span>
    </div>
</mat-menu>