

.content {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.loading {
    background: #fff;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.render {
    position: relative;
    flex: 1;
}

.main {
    width: calc(100% - 575px);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background: #eee;
}

.setting {
    width: 575px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    background: #819ba9;
    display: flex;
    flex-direction: column;
}

.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.example-tree .mat-nested-tree-node div[role=group] {
    padding-left: 40px;
}

.example-tree div[role=group] > .mat-tree-node {
    padding-left: 40px;
}

.mat-tree {
    background: transparent;
}


*[role="group"] {
    position: relative;
}

*[role="group"]::after {
    content: " ";
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 9px;
    width: 4px;
    border-left: 1px solid rgb(0 0 0 / 20%);
    border-bottom: 1px solid rgb(0 0 0 / 20%);
}


.block {
    background: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 4px 12px;
    margin: 8px;
    cursor: pointer;
    position: relative;
    height: 22px;
    user-select: none;
}

.block[selected="true"] {
    border-color: #3f51b5;
    box-shadow: 0px 0px 3px 1px #3f51b5;
}

.block[fixed="true"] {
    margin-left: 32px;
    background: #ececec;
}

.block mat-icon {
    display: none;
}

.block[fixed="true"] mat-icon {
    display: block;
    position: absolute;
    left: -36px;
    top: 1px;
    color: #7d7d7d;
}

.bottom-toolbar {
    position: absolute;
    bottom: 0;
    background: #fff;
    left: 0;
    right: 0;
    box-shadow: -1px -3px 3px -1px rgb(0 0 0 / 40%);
    height: 120px;
}

.main-body {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0px;
}

.group {
    border: 2px solid #d4d4d4;
    padding-top: 30px;
    margin: 5px;
    position: relative;
    background: #fff;
}

.group[col-group="true"] {
    height: 0px;
    min-height: 0px;
    max-height: 0px;
    overflow: hidden;
    flex: 0;
}

.group-header {
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    right: 0;
    background: #3f51b5;
    color: #fff;
    height: 30px;
}

.group-title {
    padding: 4px 10px;
}

.group-col {
    position: absolute;
    right: 2px;
    top: 2px;
    cursor: pointer;
}

.policy-config {
    min-height: 300px;
    max-height: 35%;
    flex: 35;
    display: flex;
}

.properties-config {
    flex: 65;
}

.properties-config .group-body {
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.group[hide="true"] .group-body {
    filter: grayscale(1);
    pointer-events: none;
}

.group-col {
    user-select: none;
}

.group[col-group="true"] .group-col mat-icon{
    transform: rotate(-90deg);
}

.btn-delete {
    position: absolute;
    top: 5px;
    right: -26px;
    width: 20px;
    height: 20px;
    color: #f11000;
    font-size: 19px;
}

.btn-delete mat-icon {
    display: block;
    font-size: 20px;
}

*[readonly="true"] .btn-delete {
    display: none;
}

.top-toolbar {
    display: flex;
    background: #fff;
    border: 6px solid #819ba9;
    border-left-width: 4px;
    border-right-width: 0px;
    box-shadow: inset 0 0 0 2px #d4d4d4;
}

.btn-group,
.btn-new-block {
    display: flex;
    overflow: hidden;
    min-width: 45px;
    height: 52px;
    flex-direction: column;
    border: 1px solid transparent;
    margin: 5px 4px;
    padding: 2px;
    font-size: 12px;
    align-items: center;
    align-content: center;
    color: #3f51b5;
    cursor: pointer;
    padding-top: 4px;
    position: relative;
    user-select: none;
    border-radius: 6px;
    background: rgb(252 252 252);
    border: 1px solid rgb(220 220 220);
}

.btn-group:hover,
.btn-new-block:hover {
    background: rgb(63 81 181 / 3%);
    border: 1px solid #3f51b5;
}

.btn-group span,
.btn-new-block span {
    font-size: 12px;
    text-align: center;
    line-height: 14px;
    user-select: none;
    display: flex;
    max-width: 65px;
    min-width: 60px;
    height: 28px;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

.btn-group span {
    max-width: 65px;
    min-width: 45px;
}


.btn-group {
    padding-right: 21px;
}

.btn-group .expand-group {
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0;
    width: 18px;
    overflow: hidden;
    background: rgb(240 240 240);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: 1px solid rgb(220 220 220);
}
.btn-group .expand-group mat-icon {
    position: absolute;
    top: 14px;
    font-size: 27px;
    left: -5px;
}

.btn-new-block[errors-count] {
    color: #ff0000;
}

.btn-new-block[errors-count="-1"] {
    color: #3f51b5;
}

.btn-new-block[errors-count="0"] {
    color: #00bd06;
}

.btn-status-edit[readonly="true"] {
    pointer-events: none;
    color: #b9b9b9;
}

.btn-new-block > .error-count {
    position: absolute;
    top: 0;
    color: white;
    right: 0;
    background: #ff0000;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    text-align: center;
    line-height: 18px;
}

.btn-new-block-menu {
    display: flex;
    overflow: hidden;
    min-width: 60px;
    height: 26px;
    flex-direction: row;
    border: 1px solid transparent;
    margin: 2px;
    padding: 4px 8px 2px 2px;
    font-size: 12px;
    align-items: center;
    align-content: center;
    color: #3f51b5;
    cursor: pointer;
}

.btn-new-block-menu:hover {
    background: rgb(63 81 181 / 3%);
    border: 1px solid #3f51b5;
}

.btn-new-block-menu span {
    font-size: 14px;
    align-items: center;
    align-content: center;
    text-align: center;
    line-height: 15px;
    padding-left: 8px;
}

.block-icon {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    overflow: hidden;
    height: 16px;
    position: relative;
    top: 3px;
}

.block-icon mat-icon {
    display: block;
    font-size: 16px;
    width: 22px;
    height: 16px;
    line-height: 16px;
    user-select: none;
}


.delimiter {
    width: 6px;
    height: 56px;
    border-left: 1px solid #3f51b5;
    margin: 6px 0px 6px 6px;
}

.render[readonly="true"] .btn-status-edit {
    pointer-events: none;
    color: #b9b9b9;
}

input[readonly] {
    border-color: transparent;
    background: transparent;
}

.tree-container {
    position: absolute;
    left: 0;
    top: 82px;
    right: 0;
    bottom: 0;
    background: #eee;
    border-left: 4px solid #819ba9;
    border-bottom: 6px solid #819ba9;
}

.code-container-blocks {
    overflow: scroll;
}

.code-container-yaml, 
.code-container-json {
    overflow: hidden;
}

.view-menu {
    position: absolute;
    top: 90px;
    right: 8px;
    background: #fff;
    border: 1px solid;
    display: flex;
    height: 28px;
    width: 90px;
    overflow: hidden;
    z-index: 9;
}

.btn-view-menu {
    height: 20px;
    width: 22px;
    padding: 2px;
    border: 1px solid transparent;
    cursor: pointer;
    margin: 1px;
    color: #3f51b5;
}

.btn-view-menu:hover {
    background: rgb(63 81 181 / 3%);
    border: 1px solid #3f51b5;
}

.btn-view-menu mat-icon {
    display: block;
    font-size: 20px;
}

.textarea-code {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    resize: none;
    overflow: scroll;
    width: 100%;
    margin: 0px;
    border: none;
    padding: 0;
}


.not-exist {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: darkgrey;
}

.btn-status-edit[readonly="true"] > .error-count {
    display: none;
}

.errors-properties {
    margin: 6px 17px 3px 7px;
    max-height: 200px;
    flex: 0;
}

.errors-property {
    border-radius: 3px;
    border: 1px solid #f90000;
    padding: 5px;
    color: #f90000;
    background: #fff2f2;
    margin-bottom: 5px;
    position: relative;
    padding-left: 20px;
}

.errors-property span {
    position: absolute;
    left: 9px;
    top: 13px;
    background: #df0000;
    width: 6px;
    height: 3px;
}

.common-properties {
    flex: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
}


.json-errors {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 99;
    padding: 10px;
    background: #fff;
    border-top: 1px solid #c9c9c9;
}