<table class="properties" [attr.readonly]="readonly" *ngIf="block">
    <tr *ngIf="!block.useTemplate" class="propRow" [attr.collapse]="propHidden.main">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Token</td>
        <td class="propRowCell">
            <mat-select [(value)]="block.tokenId" [disabled]="readonly">
                <mat-option *ngFor="let token of tokens" [value]="token.value">
                    {{token.name}}
                </mat-option>
            </mat-select>
        </td>
    </tr>
    <tr *ngIf="block.useTemplate" class="propRow" [attr.collapse]="propHidden.main">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Token Template</td>
        <td class="propRowCell">
            <mat-select [(value)]="block.template" [disabled]="readonly">
                <mat-option *ngFor="let token of tokenTemplate" [value]="token.value">
                    {{token.name}}
                </mat-option>
            </mat-select>
        </td>
    </tr>
    <tr class="propRow" [attr.collapse]="propHidden.main">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Account Type</td>
        <td class="propRowCell">
            <mat-select [(value)]="block.accountType" [disabled]="readonly">
                <mat-option value="default">Default</mat-option>
                <mat-option value="custom">Custom</mat-option>
            </mat-select>
        </td>
    </tr>
    <tr *ngIf="block.accountType==='custom'" class="propRow" [attr.collapse]="propHidden.main">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Account Id (Field)</td>
        <td class="propRowCell">
            <input class="prop-input" [(ngModel)]="block.accountId" [readonly]="readonly">
        </td>
    </tr>
    <tr class="propRow" [attr.collapse]="propHidden.main">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Action</td>
        <td class="propRowCell">
            <mat-select [(value)]="block.action" [disabled]="readonly">
                <mat-option value="associate">Associate</mat-option>
                <mat-option value="dissociate">Dissociate</mat-option>
            </mat-select>
        </td>
    </tr>
</table>