.container {
    display: flex;
    flex-direction: column;
    margin: var(--container-margin);
}

.container > .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container > .header > h1 {
    width: 100%;
    color: #000;
    font-family: Poppins, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
}

.actions__tabs {
    position: relative;
    margin-bottom: 1.5rem;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background: var(--color-grey-3);
        z-index: 0;
    }

    ::ng-deep .p-selectbutton .p-button {
        background: transparent !important;
        border: none !important;
        color: #848FA9 !important;
        position: relative;
        padding: 0.75rem 2rem 0.5rem 0 !important;
        margin: 0 0.5rem 0 0 !important;
        border-radius: 0 !important;
    }

    ::ng-deep .p-selectbutton .p-button.p-highlight {
        color: var(--color-primary, #0b73f8) !important;
        pointer-events: none !important;
        cursor: default !important;
    }

    ::ng-deep .p-selectbutton .p-button.p-highlight::after {
        display: none !important;
    }

    ::ng-deep .p-selectbutton .p-button .p-button-label {
        position: relative;
        padding: 0 !important;
        margin: 0 !important;
    }

    ::ng-deep .p-selectbutton .p-button.p-highlight .p-button-label::after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 0;
        width: 100%;
        height: 3px;
        background: var(--color-primary, #0b73f8);
        z-index: 2;
    }
}

.button-group {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 10px;
    justify-content: end;

    button {
        padding: 6px 20px;
    }
}

.table-container {
    margin-top: 16px;
    overflow: hidden;
}

.table {
    width: 100%;
}

:host ::ng-deep .table ::ng-deep tbody tr.card-row:first-child td:first-child {
    border-top-left-radius: 8px !important;
}

:host ::ng-deep .table ::ng-deep tbody tr.card-row:first-child td:last-child {
    border-top-right-radius: 8px !important;
}

.table ::ng-deep thead th {
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-grey-5);
    padding: 0 12px;
    height: 56px;
    text-align: left;
    border: none;
}

.contract-column {
    width: 150px;
}

.description-column {
    width: 200px
}

.tags-column {
    width: 150px;
}

:host ::ng-deep tags-explorer button svg-icon,
:host ::ng-deep tags-explorer button .pi-plus {
    display: none !important;
}

.permissions-column {
    width: 150px;

    .permissions {
        row-gap: 16px;
        margin-bottom: 12px;
    }
}

.operations-column {
    width: 50px;
}

:host ::ng-deep .permissions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 8px;
}

:host ::ng-deep .permissions__roles {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

:host ::ng-deep .badge {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

:host ::ng-deep .badge.owner {
    background: var(--color-accent-green-3);
    color: var(--color-accent-green-1);
}

:host ::ng-deep .badge.admin {
    background: var(--color-accent-green-3);
    color: var(--color-accent-green-1);
}

:host ::ng-deep .badge.manager {
    background: var(--color-accent-green-3);
    color: var(--color-accent-green-1);
}

:host ::ng-deep .badge.wiper {
    background: var(--color-accent-green-3);
    color: var(--color-accent-green-1);
}

:host ::ng-deep .refresh-action-btn {
    border: none;
    cursor: pointer;
    color: var(--color-primary) !important;
}

:host ::ng-deep .operations-column .select-menu,
:host ::ng-deep .operations-column .select-menu-min {
    background: var(--color-grey-2) !important;
    border: none !important;
    width: 36px !important;
    height: 36px !important;
    padding: 0 !important;
    border-radius: 8px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    color: var(--color-grey-5) !important;
    outline: none !important;
    box-shadow: none !important;
    margin-bottom: 50px !important;
}

:host ::ng-deep .operations-column .select-menu i.pi-sort-down-fill,
:host ::ng-deep .operations-column .select-menu-min i.pi-sort-down-fill {
    display: none !important;
}

:host ::ng-deep .operations-column .select-menu:hover,
:host ::ng-deep .operations-column .select-menu-min:hover {
    background: var(--color-grey-3) !important;
    cursor: pointer;
}

:host ::ng-deep .operations-column .select-menu i.pi-ellipsis-h {
    color: var(--color-primary) !important;
}

:host ::ng-deep .table-paginator .table-paginator {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.loading {
    background: #fff;
    position: fixed;
    z-index: 99;
    top: var(--header-height);
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.not-exist {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: darkgrey;
}
