.content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: block;
}

.loading {
    background: #fff;
    position: fixed;
    z-index: 99;
    top: var(--header-height);
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.table {
    width: 100%;
}

.btn-publish::ng-deep > * {
    background: #4caf50 !important;
    color: #fff !important;
    min-width: 121px;
    cursor: pointer !important;
}

.not-exist {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: darkgrey;
}

.table-container {
    max-height: calc(100vh - var(--header-height) - 170px);
    min-height: 100px;
    overflow-y: auto;
    position: relative;
    z-index: 1;
    border-top: 1px solid #eee;
}

.table-container .mat-column-contractId {
    padding-left: 8px;
    width: 150px;
    max-width: 150px;
}

.table-container .mat-column-description {
    border-right: 1px solid #dddddd;
    padding-left: 8px;
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-container .mat-column-operations {
    padding-left: 8px;
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    border-right: 1px solid #dddddd;
}

.table-container .mat-column-retire {
    padding-left: 8px;
    width: 137px;
    min-width: 137px;
    max-width: 137px;
}

.table-container .mat-column-owner {
    width: 300px;
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.actions-container {
    display: block;
    z-index: 2;
}

.table-paginator {
    height: 60px;
    border-top: 1px solid #eee;
    margin-top: 5px;
    z-index: 0;
}

.select-btn__container {
    display: grid;
    align-items: center;
}

::ng-deep p-selectbutton .p-button {
    height: 50px;
    width: max-content;
    font-size: 14px;
    padding: 9px;
    color: rgba(0, 0, 0, 0.87);
}

::ng-deep p-selectbutton .p-button[aria-pressed="true"] {
    background-color: #e0e0e0;
    border: 1px solid #ced4da;
}

::ng-deep p-selectbutton .p-button[aria-pressed="true"]:focus {
    border: 1px solid #ced4da;
}

::ng-deep .p-selectbutton .p-button:focus {
    outline: none;
    box-shadow: none;
}

::ng-deep .p-selectbutton .p-button.p-highlight {
    pointer-events: none;
}

.action-btn {
    background: #4caf50;
    color: #fff;
    border-radius: 6px;
    display: inline-block;
    padding: 6px 0;
    width: 173px;
    margin: 0px 5px;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.action-btn.view-btn {
    width: 143px;
}

.table-container .mat-column-tags {
    max-width: 175px;
    min-width: 175px;
    width: 175px;
    border-right: 1px solid #dddddd;
    padding-left: 10px;
}

.table-container .mat-column-permissions {
    width: 100px;
    border-right: 1px solid #dddddd;
    padding-left: 10px;
}

.actions {
    display: grid;
    grid-template-columns: auto 0;
    padding: 14px 20px 14px 14px;
    border-bottom: 1px solid #eee;
    margin: 0;
    height: 92px;
    box-sizing: border-box;
    overflow: hidden;
}

.actions ::ng-deep button.mat-raised-button.mat-primary {
    margin: 8px 10px 0 10px;
}

.toolbar-btn__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 30%;
    /*margin-left: 65%;*/
    column-gap: 20px;
    align-content: center;
    justify-content: end;
}

.toolbar-btn,
::ng-deep button.p-toolbar-btn {
    margin: 15px;
    min-width: 120px;
    cursor: pointer;
    font-weight: 500;
    text-align: left;
    user-select: none;
    position: relative;
    border-radius: 8px;
    padding: 0;
    font-size: 14px;
    padding-left: 48px !important;
    padding-right: 30px;
}

::ng-deep button.p-toolbar-btn {
    height: 48px;
    width: 178px;
    padding: 0;
    padding-left: 22px!important;
    margin: 0;
    background: var(--color-primary);
}

/*.toolbar-btn i,*/
/*.toolbar-btn svg {*/
/*    position: absolute;*/
/*    left: 14px;*/
/*    top: 12px;*/
/*    font-size: 20px;*/
/*}*/

/*.toolbar-btn.add i,*/
/*.toolbar-btn.add svg {*/
/*    font-size: 20px;*/
/*    left: 14px;*/
/*    top: 12px;*/
/*}*/

::ng-deep button span.pi {
    left: 14px;
    top: 12px;
    font-size: 20px;
}

::ng-deep button span.pi-plus {
    font-size: 20px;
    left: 14px;
    top: 12px;
}

.permissions {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
}

.permissions, .permissions__roles {
    display: flex;
    gap: 5px;
    align-items: center;
}

.permissions__roles {
    font-weight: bold;
}

::ng-deep app-refresh-btn .refresh-action-btn {
    border: none;
    cursor: pointer;
}

.permissions__roles .role[has="true"] {
    color: darkgreen;
}

.permissions__roles .role[has="false"] {
    color: gray;
}

.contract-operations {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 56px;
    font-size: 12px;
}

.header th {
    background: var(--color-grey-white);
}

.header::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

