.content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: block;
}

.info-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.policy-info-field {
    display: grid;
    grid-template-columns: 100px 50%;
}

.policy-info-field-name {
    font-weight: bold;
    color: #686868;
}

.header {
    font-weight: bold;
    color: #3f51b5;
    font-size: 20px;
}

.merge-options {
    width: 100%;
    height: 50px;
    background: #ffffff;
    border-bottom: 1px solid #8d8d8d;
    margin-bottom: 10px;
}

.merge-tree {
    width: 100%;
    min-height: 100px;
    background: #f3f3f3;
}


.f1 {
    width: 225px;
    display: flex;
    height: 30px;
    padding: 5px 5px 5px 8px;
    box-sizing: border-box;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    margin-right: 16px;
}

.f1 mat-label {
    background: #fff;
    font-weight: bold;
    color: #686868;
    padding-right: 10px;
}

.merge-options {
    display: flex;
}

.merge-type {
    display: flex;
}

.merge-lvl {
    display: flex;
}