.content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: block;
    overflow: hidden;
}

.info-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.policy-info-field {
    display: grid;
    grid-template-columns: 100px 50%;
}

.policy-info-field-name {
    font-weight: bold;
    color: #686868;
}

.header {
    font-weight: bold;
    color: #3f51b5;
    font-size: 20px;
}

.merge-options {
    width: 100%;
    height: 60px;
    background: #ffffff;
    border-bottom: 1px solid #8d8d8d;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 730px auto 180px;
}

.merge-tree {
    width: 100%;
    min-height: 100px;
    background: #ffffff;
    background-size: 25px 25px;
    background-image: radial-gradient(circle, #bbb 0px, #fff 2px);
    height: calc(100vh - 460px);
    overflow: auto;
    transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.merge-table {
    height: calc(100vh - 460px);
    transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}

.merge-tree[open="false"],
.merge-table[open="false"] {
    height: calc(100vh - 303px);
}

.merge-table-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
}

.merge-table-content table {
    min-width: 100%;
}

.merge-table-content::ng-deep table td {
    font-size: 16px;
    line-height: 16px;
    padding: 0 0px;
}

.merge-table-content::ng-deep table tr {
    height: 48px;
}

.merge-table-content::ng-deep table td:first-of-type {
    padding-left: 24px;
}

.f1 {
    width: 225px;
    display: flex;
    height: 50px;
    box-sizing: border-box;
    margin-right: 20px;
    flex-direction: column;
    overflow: hidden;
}

.f2 {
    width: 225px;
    display: flex;
    height: 50px;
    box-sizing: border-box;
    flex-direction: column;
    overflow: hidden;
}

.merge-type {
    display: flex;
}

.merge-lvl {
    display: flex;
}

.report-item {
    display: grid;
    grid-template-columns: calc(50% - 18px) 35px calc(50% - 18px);
    grid-template-rows: 48px auto;
    position: relative;
}

.left-tree {
    grid-row-start: 1;
    grid-column-start: 1;
    position: relative;
}

.middle-tree {
    grid-row-start: 1;
    grid-column-start: 2;
    position: relative;
    width: 35px;
    box-sizing: border-box;
    overflow: visible;
    border-left: 1px solid #9d9d9d;
    border-right: 1px solid #9d9d9d;
    background: #fff;
}

.right-tree {
    grid-row-start: 1;
    grid-column-start: 3;
    position: relative;
}

.block-tree {
    background: #fff;
    border-radius: 6px;
    padding: 7px 16px 7px 32px;
    margin: 12px 8px 0px 2px;
    cursor: default;
    position: relative;
    height: 35px;
    -webkit-user-select: none;
    user-select: none;
    min-width: 125px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #8b8b8b;
    box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 20%);
    cursor: pointer;
}

.fantom-tree .block-tree {
    border-color: rgb(0 0 0 / 10%) !important;
    color: rgb(0 0 0 / 10%) !important;
    background: #fffafa !important;
    pointer-events: none !important;
    box-shadow: none !important;
}

.fantom-tree .block-tree .block-index {
    color: rgb(0 0 0 / 10%) !important;
}

.compare-btn {
    width: 25px;
    height: 25px;
    border-radius: 6px;
    background: rgb(252 252 252);
    border: 1px solid rgb(220 220 220);
    position: absolute;
    top: 14px;
    left: 3px;
    cursor: pointer;
}

.compare-btn mat-icon {
    font-size: 22px;
    position: absolute;
    left: 2px;
    top: 1px;
}

.left-compare-result {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 12px solid #fff;
}

.right-compare-result {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 12px solid #fff;
}

.middle-compare-result {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border-left: 1px solid #9d9d9d;
    border-right: 1px solid #9d9d9d;
    background: #fff;
    width: 35px;
    box-sizing: border-box;
}

.compare-result {
    display: none;
    position: relative;
    min-height: 100px;
    background: #fff;
}

.compare-result[open="true"] {
    display: block;
}

.prop {
    display: grid;
    grid-template-columns: 140px auto;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-left: 5px;
    border-left: 1px solid #bbb;
}

.prop-table {
    margin-left: 5px;
    padding-left: 5px;
    border-left: 1px solid #bbb;
}

.prop-name {
    font-weight: bold;
    color: #686868;
}

.prop-delimiter {
    border-top: 1px solid #999;
    height: 12px;
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
}

.sub-prop {
    padding-left: 20px;
    grid-template-columns: 200px auto;
}

.report-item[type="FULL"] .block-tree {
    background: #a2ffa5;
}

.report-item[type="PARTLY"] .block-tree {
    background: #fff6ab;
}

.report-item[type="LEFT"] .block-tree,
.report-item[type="RIGHT"] .block-tree {
    background: #ffcece;
}

.report-item[type="PARTLY"][rate="100%"] .block-tree {
    background: linear-gradient(45deg, #a2ffa5 48%, #fff6ab 52%);
}

.prop-table-row {
    display: table-row;
}

.prop-table-name {
    display: table-cell;
    font-weight: bold;
    color: #686868;
    border-top: 2px solid #fff;
    padding-top: 2px;
    padding-bottom: 2px;
    box-sizing: border-box;
    min-width: 175px;
    height: 30px;
}

.prop-table-value {
    display: table-cell;
    border-top: 2px solid #fff;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 36px;
    padding-left: 8px;
    min-width: 250px;
    position: relative;
}

.prop-table-value .compare-btn {
    display: none;
    position: absolute;
    top: 0px;
    right: 1px;
    left: inherit;
    bottom: inherit;
    box-shadow: 0px 0px 0px 2px #fff;
}

.prop-table-value *[prop-type="schema"] .compare-btn {
    display: block;
}

.prop-table-body {
    display: table;
}

.prop-table-header {
    font-weight: bold;
    color: #686868;
}

.prop-table-row[type="LEFT"],
.prop-table-row[type="RIGHT"] {
    background: #ffe1e1;
}

.prop-table-row[type="FULL"] {
    background: #d3ffd5;
}

.prop-table-row[type="PARTLY"] {
    background: #ffface;
}

.prop-table-row[type="NONE"] {
    background: #f3f3f3;
}

.prop-table-value [prop-type="array"],
.prop-table-value [prop-type="object"] {
    display: none;
}

.prop-table-row[type="LEFT"][index="1"] {
    opacity: 0.2;
}

.prop-table-row[type="RIGHT"][index="0"] {
    opacity: 0.2;
}

.prop-value[rate] {
    font-weight: bold;
    color: #e70000;
}

.prop-value[rate="100%"] {
    font-weight: bold;
    color: #008d0c;
}

.block-icon {
    position: absolute;
    left: 9px;
    top: 8px;
    display: block;
    font-size: 16px;
    width: 18px;
    height: 16px;
    line-height: 16px;
    overflow: hidden;
}

.block-icon mat-icon {
    font-size: 16px;
    height: 16px;
    width: 16px;
}

.block-index {
    position: absolute;
    left: -12px;
    top: 6px;
    font-weight: bold;
    color: #686868;
    transform: translate(-100%, 0px);
}

.block-index[index-rate] {
    color: #e70000;
}

.block-index[index-rate="100%"] {
    color: #008d0c;
}

.mat-expansion-panel-header.mat-expanded {
    height: 40px;
}

.mat-expansion-panel-spacing {
    margin: 8px 0;
}

.mat-expansion-panel-header {
    height: 40px;
}

.merge-lvl-btn {
    width: 125px;
    cursor: pointer;
    font-weight: 500;
    user-select: none;
    position: relative;
    border-radius: 8px;
    font-size: 14px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    background-color: #ffffff;
    color: #0c77ff;
    height: 40px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid #fdfdfd;
    margin-top: 5px;
}

.merge-options::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 10px 0 10px 0;
}

.legend {
    display: flex;
    width: 100%;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

.legend-item {
    display: flex;
    position: relative;
    padding-left: 30px;
    padding-right: 50px;
    background: white;
}

.legend-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0px, -11px);
    background: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
}

.legend-text {
    max-width: 300px;
    display: flex;
    align-items: center;
}

.legend-l1.legend-icon {
    background: #a2ffa5;
    border: 1px solid #408142;
}

.legend-l2.legend-icon {
    background: linear-gradient(45deg, #a2ffa5 48%, #fff6ab 52%);
    border: 1px solid #648d36;
}

.legend-l3.legend-icon {
    background: #fff6ab;
    border: 1px solid #ab9f3e;
}

.legend-l4.legend-icon {
    background: #ffcece;
    border: 1px solid #b15656;
}

.total-info {
    border-top: 1px solid #999;
    margin-top: 10px;
    padding-top: 10px;
}