.container {
    display: flex;
    justify-content: space-between;
    padding-right: 14px;
}

.container button {
    margin-top: 5px;
    margin-left: 10px;
    min-width: 280px;
}

.schema-field {
    flex: 1;
}

:host .content {
    max-height: 400px;
}

.policy-header {
    height: 44px;
    font-size: 34px;
    display: block;
    padding: 12px;
    box-sizing: border-box;
    text-align: center;
    color: #000;
}

.delimiter {
    padding: 30px 30px;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    position: relative;
}

.delimiter::after {
    content: '';
    position: absolute;
    height: 2px;
    top: 30px;
    left: 0px;
    right: 0px;
    border-top: 1px solid #c8c8c8;
}

.field-value {  
    color: #000;
    font-size: 20px;
    margin-bottom: 20px;
    max-width: 600px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 8px;
}

.field-name {  
    margin-bottom: 12px;
}

.field {
    margin-top: 5px;
    margin-bottom: 28px;
}

.field-last {
    margin-bottom: 0px;
}

.loading {
    background: #fff;
    position: absolute;
    z-index: 99;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}


.context {
    position: relative;
}