---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    io.kompose.service: application-events
  name: application-events
spec:
  replicas: 2
  selector:
    matchLabels:
      io.kompose.service: application-events
  strategy: {}
  template:
    metadata:
      labels:
        io.kompose.network/guardian-default: "true"
        io.kompose.service: application-events
    spec:
      containers:
        - image: gcr.io/hedera-registry/application-events:latest
          name: application-events
          ports:
            - containerPort: 3012
          resources: {}
      restartPolicy: Always
status: {}
