<div class="page-content">
    <div class="header"></div>
    <div class="content">
        <div class="header">
            <h1>{{ 'details.nft.header' | transloco }}</h1>
            <div *ngIf="tags && tags.length > 0" class="tags-container">
                <div class="tag-item" *ngFor="let tag of tags" (click)="onOpenTag(tag)">
                    <span class="pi pi-tag primary-color"></span>
                    <div class="name">
                        {{ tag?.name || tag?.options?.name }}
                    </div>
                </div>
            </div>
        </div>
        @if (loading) {
            <div class="loading">
                <p-progressSpinner styleClass="custom-spinner" ariaLabel="loading" />
            </div>
        } @else {
            @if (row) {
                <p-tabView [activeIndex]="tabIndex" (activeIndexChange)="onTab($event)">
                    <p-tabPanel [header]="'details.overview' | transloco">
                        <app-overview-form [target]="row" [fields]="overviewFields"></app-overview-form>
                    </p-tabPanel>
                    <p-tabPanel [header]="'details.history' | transloco">
                        <app-table [columns]="historyColumns" [data]="history" [paginator]="false"
                            [loading]="false"></app-table>
                    </p-tabPanel>
                    <p-tabPanel [header]="'details.labels' | transloco">
                        <app-table 
                            [columns]="labelColumns" 
                            [data]="labels" 
                            [paginator]="false"
                            [loading]="false"></app-table>
                    </p-tabPanel>
                    <p-tabPanel [header]="'details.raw_data' | transloco">
                        <div class="text-area-container">
                            <div class="text-area-container">
                                <textarea [value]="row | json" readonly pInputTextarea>
                                </textarea>
                            </div>
                        </div>
                    </p-tabPanel>
                </p-tabView>
            } @else {
                <div>{{ 'details.not_found' | transloco }}</div>
            }
        }
    </div>
</div>
