.mat-button-base:not([started]) {
    background-color: rgba(0, 0, 0, .12);
}

.dialog-body-content {
    height: 520px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
}

.dialog-content {
    overflow: hidden;
    width: 100%;
}

.view-toggle {
    float: right
}

.dialog-title {
    display: inline-block;
}

.dialog-actions {
    padding-bottom: 20px;
}

.text {
    margin-bottom: 8px;
    font-family: monospace;
    cursor: text;
    height: 500px;
    width: 780px;
    overflow: auto;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
}

.json {
    word-break: keep-all;
    white-space: pre;
    margin-bottom: 8px;
    font-family: monospace;
    cursor: text;
    height: 500px;
    width: 780px;
    overflow: auto;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
}

.links {
    margin-bottom: 8px;
    height: 500px;
    width: 780px;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
}

.links::ng-deep a {
    display: block;
    font-size: 20px;
    color: #0B73F8;
    text-decoration: none;
    border-bottom: 2px solid #0C77FF;
    padding-bottom: 3px;
    font-weight: normal;
    text-transform: capitalize;
    width: -moz-fit-content;
    width: fit-content;
    outline: none;
    margin-bottom: 10px;
    padding-left: 4px;
    padding-right: 4px;
}

.dialog-actions {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 30px;
}

::ng-deep .p-dialog .p-button {
    background-color: var(--color-grey-white);
    color: var(--primary-color);
    border-radius: 20px;
    padding: 8px 24px;
    font-weight: bold;
}

::ng-deep .p-dialog .p-button-ok {
    background-color: var(--primary-color);
    color: var(--color-grey-white);
}

::ng-deep .p-dialog .p-button:hover {
    background-color: var(--blue-100);
}

::ng-deep .p-dialog .p-button-ok:hover {
    background-color: var(--blue-700);
}
