.mat-option-link {
    color: #6166ff;
}

.mat-option-link mat-icon {
    margin-right: 2px;
    top: -2px;
    left: -4px;
    position: relative;
}

.required-fields {
    position: relative !important;
    width: 8px !important;
    max-width: 8px !important;
    display: inline !important;
    color: #f00 !important;
}