<!-- UI Prop -->
@if (properties) {
  <table class="properties send-properties" [attr.readonly]="readonly">
    <colgroup><col class="col-toggle"><col class="col-name"><col class="col-value"></colgroup>
    @if (properties.dataType) {
      <tr class="propRow">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Data Type (deprecated)</td>
        <td class="propRowCell">
          <p-select
            panelStyleClass="pc-select-panel"
            [(ngModel)]="properties.dataType"
            [disabled]="readonly"
            (onChange)="onSave()"
            placeholder="Select a data type"
            [options]="dataTypeOptions"
            [appendTo]="'body'"
            >
          </p-select>
        </td>
      </tr>
    }
    <tr class="propRow">
      <td class="propRowCol"></td>
      <td class="propRowCell cellName">Data Source</td>
      <td class="propRowCell">
        <p-select
          panelStyleClass="pc-select-panel"
          [(ngModel)]="properties.dataSource"
          [disabled]="readonly"
          (onChange)="onSave()"
          placeholder="Select a data type"
          [options]="dataSourceOptions"
          [appendTo]="'body'"
          >
        </p-select>
      </td>
    </tr>
    @if (properties.dataSource=='hedera') {
      <tr class="propRow">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Hedera Topic</td>
        <td class="propRowCell">
          <p-select
            panelStyleClass="pc-select-panel"
            [(ngModel)]="properties.topic"
            [disabled]="readonly"
            (onChange)="selectTopic($event)"
            placeholder="Select a topic"
            [options]="getDropdownTopics()"
            [appendTo]="'body'"
            >
          </p-select>
        </td>
      </tr>
      <tr class="propRow">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Topic Owner</td>
        <td class="propRowCell">
          <p-select
            panelStyleClass="pc-select-panel"
            [(ngModel)]="properties.topicOwner"
            [disabled]="readonly"
            (onChange)="onSave()"
            placeholder="Select topic owner"
            [options]="topicOwnerOptions"
            [appendTo]="'body'"
            >
          </p-select>
        </td>
      </tr>
      <tr class="propRow">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Memo</td>
        <td class="propRowCell">
          <input class="prop-input" [(ngModel)]="properties.memo" [readonly]="readonly" (blur)="onSave()">
        </td>
      </tr>
    }
    <tr class="propRow">
      <td class="propRowCol"></td>
      <td class="propRowCell cellName">Entity Type</td>
      <td class="propRowCell">
        <input class="prop-input" [(ngModel)]="properties.entityType" [readonly]="readonly" (blur)="onSave()">
      </td>
    </tr>
    @if (['database', 'auto'].includes(properties.dataSource)) {
      <tr class="propRow">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Skip save state</td>
        <td class="propRowCell">
          <p-toggleswitch
            [(ngModel)]="properties.skipSaveState"
            [disabled]="readonly"
            (onChange)="onSave()">
          </p-toggleswitch>
        </td>
      </tr>
    }
    <tr class="propHeader" (click)="onHide(propHidden, 'optionGroup')">
      <td class="propRowCol"></td>
      <td class="propHeaderCell cellName send-section-header" [attr.collapse]="propHidden.optionGroup">
        <i class="pi pi-chevron-down chevron-icon"></i>
        <span>Options</span>
      </td>
      <td class="propHeaderCell">
        <div class="propAdd" (click)="$event.stopPropagation(); addOption(); $event.stopPropagation()">
          <i class="pi pi-plus"></i>
          <span>Add Option</span>
        </div>
      </td>
    </tr>
    @for (option of properties.options; track option; let i = $index) {
      <tr class="propRow" lvl="1" [attr.collapse]="propHidden.optionGroup" (click)="onHide(propHidden.options, i)">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName" [attr.collapse]="propHidden.options[i]">
          <i class="pi pi-chevron-down chevron-icon"></i>
          <span>Option {{ i }}</span>
        </td>
        <td class="propRowCell not-editable-text">
          {{ option.name }}
          @if (option.value) {
            <span>: {{ option.value }}</span>
          }
          <span class="remove-prop" [attr.readonly]="readonly" (click)="$event.stopPropagation(); removeOption(i)">
            <i class="pi pi-trash"></i>
          </span>
        </td>
      </tr>
      <tr class="propRow" lvl="1" [attr.collapse]="propHidden.optionGroup || propHidden.options[i]">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Option Name</td>
        <td class="propRowCell">
          <input class="prop-input" [(ngModel)]="option.name" [readonly]="readonly" (blur)="onSave()">
        </td>
      </tr>
      <tr class="propRow" lvl="1" [attr.collapse]="propHidden.optionGroup || propHidden.options[i]">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Option Value</td>
        <td class="propRowCell">
          <input class="prop-input" [(ngModel)]="option.value" [readonly]="readonly" (blur)="onSave()">
        </td>
      </tr>
    }
  </table>
}
