.container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: block;
    margin: 56px 48px 0 48px;
}

.page-title {
    font-family: Poppins, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.loading {
    background: #f9fafc;
    position: fixed;
    z-index: 99;
    top: 0;
    left: -15px;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.table-container {
    margin-top: 20px;
    overflow-x: auto;

    .header-cell-text {
        color: #848fa9 !important;
        font-family: Inter, sans-serif;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 400 !important;
        border: none !important;
    }

    .table-row[readonly="true"] {
        .cell-size-id {
            color: #777;
            font-weight: 500;
        }

        .edit-btn,
        .delete-btn {
            display: none;
        }
    }

    .cell-size-id {
        min-width: 140px;
    }

    .cell-size-default {
        min-width: 250px;
        width: 250px;
        max-width: 250px;
    }

    .cell-size-operations {
        min-width: 180px;
        width: 180px;
        max-width: 180px;
    }

    .cell-size-1 {
        min-width: 140px;
    }

    .flex {
        display: flex;
    }

    .flex-column-gap-20 {
        column-gap: 20px;
    }

    .toggle-container::ng-deep input:checked+.slider {
        cursor: not-allowed;
    }
}

.not-exist {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: darkgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    justify-content: center;
}

.info-text {
    color: var(--color-grey-5, #848FA9);
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info-text-strong {
    color: var(--color-grey-5, #848FA9);
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.actions {
    display: flex;
    flex-direction: column;
    margin-top: 15px;

    .actions-controls-container {
        display: flex;
    }

    .actions-container {
        margin-left: auto;
    }

    .toolbar-btn-primary {
        ::ng-deep .p-button {
            background: var(--color-primary);
            border: 1px solid var(--color-primary);
            font-family: Inter, sans-serif;
            font-size: 1px;
            font-style: normal;
            font-weight: 500;
            margin-left: 10px;
            height: 40px;
            padding: 8px;
            border-radius: 8px;

            .p-button-label {
                font-size: 14px;
                padding: 0px 10px;
            }
        }
    }

    .filters-container {
        display: grid;
        width: calc(100% - 200px);
        grid-template-columns: auto 180px 180px;

        .filter-container {
            padding-right: 14px;
        }
    }

    .search-input {
        align-self: self-end;
        width: 100%;

        input {
            width: 100%;
            padding: 10px 76px 10px 16px;
        }

        i,
        svg {
            padding-right: 16px;
            color: #B0B5BA;
        }


        &::ng-deep {
            .p-inputtext {
                color: var(--color-grey-5, #848FA9);
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                border-radius: 8px;
                border: 1px solid var(--color-grey-3, #E1E7EF);
            }
        }
    }
}

.primary-color {
    fill: var(--color-primary);
    color: var(--color-primary);
}

.color-white {
    fill: white;
    color: white;
}

.disabled-color {
    fill: var(--color-grey-5, #848FA9) !important;
    color: var(--color-grey-5, #848FA9) !important;
    cursor: not-allowed !important;
}

.delete-color {
    fill: var(--color-accent-red-1, #FF432A);
    color: var(--color-accent-red-1, #FF432A);
}

.opacity-icon {
    cursor: pointer;
    border-radius: 4px;

    &:hover {
        box-shadow: 0px 0px 0px 1px #2196F3;
    }
}

.new-role-container {
    padding: 56px 16px 48px 48px;

    .page-title {
        margin-top: 24px;
    }
}

.permissions-content {
    padding: 24px;
    border-radius: 16px;
    border: 1px solid #E1E7EF;
    background: #fff;
    margin-bottom: 24px;
    margin-top: 24px;
}

.role-content {
    display: grid;
    grid-template-columns: 300px auto;
    height: calc(100vh - 270px);
    margin-top: 24px;
    overflow: auto;
    padding-right: 32px;

    .role-nav {
        width: 270px;

        .categories {
            background: #FFFFFF;
            border-radius: 8px;
            border: 1px solid #E1E7EF;
            padding: 8px 0px;

            .category {
                width: 268px;
                height: 45px;
                cursor: pointer;
                font-size: 16px;
                font-weight: 500;
                padding: 12px 8px 12px 24px;
                margin-bottom: 12px;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    width: 3px;
                    height: 12px;
                    border-left: 2px solid #CDD5FD;
                    left: 35px;
                    bottom: -12px;
                }

                &:last-child {
                    margin-bottom: 0px;
                }

                &:last-child::after {
                    display: none;
                }

                .category-header {
                    display: flex;
                    user-select: none;

                    .category-icon {
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        border: 1px solid #AAB7C4;
                        background: #EFF3F7;
                        position: relative;

                        svg-icon {
                            position: absolute;
                            left: 0px;
                            top: -1px;
                        }
                    }

                    .category-name {
                        padding: 2px 2px 2px 18px;
                    }

                    .category-count {
                        padding: 2px 2px 2px 6px;
                        font-size: 14px;
                        color: #848FA9;
                    }
                }

                &[selected="true"] {
                    background: #4169E214;
                    color: #4169E2;

                    .category-icon {
                        background: #4169E2 !important;
                        border-color: #4169E2 !important;
                    }
                }
            }
        }
    }

    .role-body {
        width: auto;
        user-select: none;

        .category-header {
            font-size: 24px;
            padding: 8px 0px 24px 0px;
        }

        .category-body {
            width: 100%;

            .category-details {
                width: 100%;
                min-height: 200px;
                background: #fff;
                padding: 24px;
                border-radius: 8px;
                border: 1px solid #E1E7EF;
            }

            .category-actions {
                display: flex;
                width: 100%;
                height: 48px;
                font-family: Inter;
                font-size: 14px;
                font-weight: 400;
                line-height: 14px;
                text-align: left;
                background: #F9FAFC;

                .category-actions-header {
                    color: #848FA9;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    padding-left: 30px;
                }

                .permissions {
                    display: flex;
                    width: 900px;
                    min-width: 900px;
                    overflow: hidden;
                    justify-content: flex-start;
                }

                .permission {
                    color: #848FA9;
                    height: 48px;
                    width: 100px;
                    min-width: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &.big {
                        width: 170px;
                        min-width: 170px;
                    }
                }

                .permission-background {
                    width: 16px;
                    height: 16px;
                    background: #eee;
                }
            }

            .category-permission {
                width: 100%;
                background: #fff;
                border-radius: 8px;
                border: 1px solid #E1E7EF;

                .entity {
                    display: flex;
                    width: 100%;
                    height: 64px;
                    font-family: Inter;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 16px;
                    text-align: left;
                    border-bottom: 1px solid #E1E7EF;
                    padding-left: 30px;

                    .entity-all {
                        width: 60px;
                        min-width: 60px;
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        * {
                            pointer-events: none;
                        }
                    }

                    .entity-name {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                    }

                    .permissions {
                        display: flex;
                        width: 900px;
                        min-width: 900px;
                        overflow: hidden;
                        justify-content: flex-start;

                        mat-radio-group {
                            display: flex;
                        }

                        mat-radio-button {
                            width: 20px;
                            height: 20px;
                            overflow: visible;
                        }

                        .permission {
                            height: 64px;
                            width: 100px;
                            min-width: 100px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            &.big {
                                width: 170px;
                                min-width: 170px;
                            }
                        }

                        .all-permission {
                            height: 64px;
                            width: 900px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: relative;

                            &::after {
                                content: "";
                                position: absolute;
                                width: 280px;
                                height: 3px;
                                border-bottom: 2px solid #eeeeee;
                                left: 43px;
                                top: 28px;
                            }

                            &::before {
                                content: "";
                                position: absolute;
                                width: 280px;
                                height: 3px;
                                border-bottom: 2px solid #eeeeee;
                                right: 43px;
                                top: 28px;
                            }
                        }

                        .permission-background {
                            width: 16px;
                            height: 16px;
                            background: #eee;
                        }
                    }
                }
            }
        }
    }

    .icon-color {
        fill: #C4D0E1;
        color: #C4D0E1;
    }
}

.role-footer {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 64px;
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 12px 48px;
    border-top: 1px solid #E1E7EF;

    .secondary {
        margin-right: 12px;
    }
}

.p-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    .p-field-label {
        color: var(--color-grey-black-1, #181818);
        font-family: Inter, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        margin-bottom: 6px;
    }

    .p-field-input {
        border-radius: 8px;
        border: 1px solid var(--color-grey-3, #E1E7EF);
        background: var(--color-grey-white, #FFF);
        outline: none !important;
        box-shadow: unset !important;
        padding: 12px 0 12px 16px;
        align-items: center;
        align-self: stretch;
        transition: border 0.25s ease-in-out;
        box-sizing: border-box;

        color: var(--color-grey-black-1, #181818);
        font-family: Inter, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
    }

    .p-field-input:focus {
        border: 1px solid var(--color-primary);
    }
}