.schema-tree-container {
    overflow: auto; max-height: 100%;
}

.schema-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 auto 10px auto;
}

.details-container {
    margin-bottom: 48px;
}
