.content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: block;
  margin: 56px 48px 0 48px;
}

.loading {
    background: #fff;
    position: fixed;
    z-index: 99;
    top: var(--header-height);
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.loading-progress {
    width: 80%;
    height: 80%;
}

.table {
    width: 100%;
}

.btn-draft::ng-deep>* {
    background: #9c27b0 !important;
    color: #fff !important;
    min-width: 93px;
}

.btn-dry-run::ng-deep>* {
    background: #3f51b5 !important;
    color: #fff !important;
    min-width: 93px;
}

.btn-publish {
    border-radius: 6px;
    display: inline-block;
    padding: 6px 12px 6px 12px;
    margin: 0px 5px;
    font-weight: 500;
    text-align: center;
    user-select: none;
    position: relative;
    background: #4caf50;
    color: #fff;
    min-width: 121px;
    cursor: pointer;
}

.status-draft {
    font-weight: 500;
  color: var(--color-primary);;
}

.status-publish {
    font-weight: 500;
    color: #4caf50;
}

.status-invalid {
    font-weight: 500;
    color: #ff0000;
}

.btn-settings {
    color: #3f51b5;
    font-weight: 500;
    cursor: pointer;
    padding-left: 22px;
    position: relative;
    width: 40px;
    display: inline-block;
}

.btn-settings:hover {
    text-decoration: underline;
}

.btn-settings mat-icon {
    position: absolute;
    left: 0;
    top: -1px;
    font-size: 20px;
}

.table .mat-column-export,
.table .mat-column-edit,
.table .mat-column-delete {
    width: 110px;
}

.table .mat-column-open {
    width: 110px;
}

.table .mat-column-status {
    width: 110px;
}

.not-exist {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: darkgrey;
}

.table-container {
  margin-top: 16px;
}

.table-container .mat-column-edit,
.table-container .mat-column-export,
.table-container .mat-column-delete {
    padding-left: 8px;
    width: 30px;
    max-width: 30px;
}

.table-container .mat-column-open {
    padding-left: 8px;
    width: 100px;
    max-width: 100px;
}

.table-container .mat-column-operations {
    padding-left: 8px;
    width: 125px;
    max-width: 125px;
    border-left: 1px solid #dddddd;
}

.table-container .mat-column-topic {
    padding-left: 8px;
    width: 150px;
    max-width: 150px;
}

.table-container .mat-column-roles {
    padding-left: 8px;
    width: 150px;
    max-width: 200px;
}

.table-container .mat-column-description {
    padding-left: 8px;
}

.table-container .mat-column-name {
    padding-left: 24px;
    width: 150px;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-container .mat-column-schemas {
    padding-left: 8px;
    width: 90px;
    max-width: 90px;
    border-left: 1px solid #dddddd;
}

.actions-container {
    display: block;
    z-index: 2;
}

.table-paginator {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 24px;
  padding: 0 16px 0 0;

  color: var(--color-grey-black-2, #23252e);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */

  height: 64px !important;
  border-radius: 8px !important;
  background: #fff;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08) !important;
}

.btn-icon-edit,
.btn-icon-delete,
.btn-icon-import,
.btn-icon-delete-des {
    font-weight: 500;
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 30px;
}

.btn-icon-import,
.btn-icon-edit {
    color: #3f51b5;
}

.btn-icon-delete {
    color: #f44336;
}

.btn-icon-delete mat-icon,
.btn-icon-delete-des mat-icon {
    font-size: 30px;
    position: absolute;
    left: 0;
    top: 0px;
}

.btn-icon-delete-des,
.btn-icon-desibled {
    color: #b5b5b5;
    cursor: not-allowed;
    pointer-events: none;
}

.btn-icon-edit mat-icon {
    font-size: 30px;
    position: absolute;
    left: 0;
    top: 0px;
}

.btn-icon-import mat-icon {
    font-size: 32px;
    position: absolute;
    left: 0;
    top: -1px;
}

.btn-icon-go {
    background: #0B73F8;
    color: #fff;
    border-radius: 6px;
    display: inline-block;
    padding: 6px 42px 6px 18px;
    margin: 0px 5px;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
}

.btn-icon-go.go-published {
    background: #4caf50;
}

.btn-icon-go.go-dry-run {
    background: #3f51b5;
}

.btn-icon-go mat-icon {
    position: absolute;
    left: 50px;
    top: 6px;
    font-size: 22px;
}

.commands-line {
    display: flex;
    align-items: center;
}

.commands-line>*:not(:first-child) {
    margin-left: 18px;
}

.btn-icon-import[status="Main"],
.btn-icon-import[status="Sub"] {
    color: #49af54;
}

.toolbar-btn {
    margin: 15px;
    min-width: 120px;
    cursor: pointer;
    font-weight: 500;
    text-align: left;
    user-select: none;
    position: relative;
    border-radius: 8px;
    padding: 0;
    font-size: 14px;
    padding-left: 48px !important;
    padding-right: 30px;
}

.toolbar-btn mat-icon {
    position: absolute;
    left: 14px;
    top: 10px;
}

.toolbar-btn.add mat-icon {
    font-size: 30px;
    left: 10px;
    top: 7px;
}

.module-status {
    font-weight: 500;
}

.status-DRAFT {
  color: var(--color-primary);;
}

.status-PUBLISHED {
    color: #4caf50;
}

.mat-column-tags {
    max-width: 175px;
    min-width: 175px;
    width: 175px;
    border-left: 1px solid #dddddd;
    padding-left: 10px;
}

.mat-column-status {
    width: 125px;
    border-left: 1px solid #dddddd;
    padding-left: 10px;
}

.mat-column-operation {
    width: 135px;
    border-left: 1px solid #dddddd;
    padding-left: 10px;
}

.mat-column-menu {
    width: 135px;
    border-left: 1px solid #dddddd;
    padding-left: 10px;
}

.mat-column-uuid {
    width: 135px;
    border-left: 1px solid #dddddd;
    padding-left: 10px;
}

.btn-menu {
    position: relative;
    padding: 6px 0px 6px 34px;
    cursor: pointer;
    border-radius: 6px;
}

.btn-menu:hover {
    background: #f0f0f0;
}

.btn-menu mat-icon {
    position: absolute;
    left: 3px;
    top: 5px;
}

.btn-menu-visible {
    color: #119116;
}

.btn-menu-hidden {
    color: #3f51b5;
}

.loading {
  background: #fff;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
}

.loading-progress {
  width: 80%;
  height: 80%;
}


.page-title {
  font-family: Poppins, serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.actions-container {
  display: flex;
  z-index: 2;
  margin-top: 24px;
  margin-bottom: 16px;
}


.not-exist {
  color: var(--color-grey-black-2);
  font-family: Inter, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
  justify-content: center;
}

.disabled-color {
  fill: var(--color-grey-5) !important;
  color: var(--color-grey-5) !important;
  cursor: not-allowed !important;
}

.info-text {
  color: var(--color-grey-5, #848fa9);
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.info-text-strong {
  color: var(--color-grey-5, #848fa9);
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.opacity-icon {
  opacity: 1.0;
  cursor: pointer;
  transition: opacity 0.25s ease-in-out;
}

.opacity-icon:hover {
  opacity: 1.0;
}

.primary-color {
  fill: var(--color-primary);
  color: var(--color-primary);
}

.accent-color-red {
  fill: var(--color-accent-red-1);
  color: var(--color-accent-red-1);
}

.apply-filters-button {
  ::ng-deep .p-button {
    background: var(--button-primary-color);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    height: 40px;
    border-radius: 8px;
  }

  margin-left: 10px;
}

.clear-filters-button {
  ::ng-deep .p-button-outlined {
    color: var(--button-primary-color);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-left: 10px;
    background-color: #ffffff;
    height: 40px;
    border: 1px solid var(--color-secondary);
    border-radius: 8px;
  }
}

.compare-button {
  ::ng-deep .p-button-outlined {
    color: #0681ee;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-left: 10px;
    background-color: #ffffff;
    border: 1px solid #cdddfd;
  }
}

.toolbar-btn-primary {
  ::ng-deep .p-button {
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
    margin-left: 10px;
    height: 40px;
    padding: 8px;
    color: var(--color-grey-white, #FFF);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
  }

  svg {
    margin-right: 8px;
  }
}

.toolbar-btn-secondary {
  ::ng-deep .p-button {
    border: 1px solid var(--color-primary, #CDDDFD) !important;
    background: var(--color-grey-white, #FFF);
    margin-left: 10px;
    height: 40px;
    padding: 8px;
    color: var(--color-primary, #0681EE);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
  }

  svg {
    margin-right: 8px;
  }
}

.btn-go-policy {
  border-radius: 6px;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.primary-color {
  fill: var(--color-primary);
  color: var(--color-primary);
}

.search-policy-input {
  width: 250px;
  height: 40px;
  border: 1px solid #e1e7ef;
  border-radius: 8px;
  padding-left: 16px;
}

.search-icon {
  margin-right: 16px;
}

.policy-grid-paginator {
  background: #f9fafc;
}

.policy-grid-header-row {
  background: #f9fafc;
  box-shadow: none !important;
}

::ng-deep {
  .mat-header-cell {
    color: #848fa9 !important;
    border: none !important;
    font-family: Inter, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .mat-cell {
    border-bottom: none !important;
  }
}

.grid-link-block {
  font-family: Inter, sans-serif;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 500 !important;
  color: #0b73f8;
  text-decoration: none;
  text-transform: capitalize;
  height: 28px;
}

.published-status {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: var(--color-accent-green-2);
  height: 28px;
  padding: 4px 10px;
  color: var(--color-accent-green-1);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.operations-icon-container {
  cursor: pointer;
}

.header-cell-text {
  color: #848fa9 !important;
  font-family: Inter, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400 !important;
  border: none !important;
}

.policy-grid-row {
  font-family: Inter, sans-serif;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08);
  font-size: 14px;
}

.first-policy-grid-cell {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.last-policy-grid-cell {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.tags-dropdown {
  margin-left: 10px;
  height: 40px;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.toolbar-icons {
  margin-right: 12px;
}

.grid-row-button {
  display: flex;
  height: 28px;
  width: 145px;

  ::ng-deep {
    .p-button-outlined {
      border: 1px solid var(--color-secondary);
    }
  }
}

.table-container {
  overflow-x: auto;
}

.status-actions-dropdown {
  ::ng-deep {
    .p-dropdown {
      height: 28px;
      border: 1px solid var(--color-secondary);
    }

    .p-inputtext {
      padding: 4px 0 0 15px;
      color: var(--color-primary);;
      font-family: Inter, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
    }

    .p-dropdown-trigger-icon {
      color: var(--color-primary);;
    }
  }
}

.dropdown-item-title {
  color: #0681ee;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}

.dropdown-item-description {
  color: #848fa9;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.chip {
  display: inline;
  padding: 6px 10px;
  border-radius: 6px;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: var(--color-grey-6, #848fa9);
  background: var(--color-grey-3, #e1e7ef);
}

.chip-color-grey {
  color: var(--color-grey-6, #848fa9);
  background: var(--color-grey-3, #e1e7ef);
}

.chip-color-blue {
  color: var(--color-primary, #0681ee);
  background: rgba(6, 129, 238, 0.16);
}

.chip-color-green {
  color: #19be47;
  background: #cafdd9;
}

.btn-go-policy {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  background: var(--color-primary, #0681ee) !important;
  color: var(--color-grey-white, #fff) !important;
}

.btn-create-multipolicy {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  border-radius: 6px;
  border: 1px solid var(--color-secondary, #cdddfd) !important;
  background: var(--color-grey-white, #fff) !important;
  color: var(--color-primary, #0681ee) !important;
}

:host ::ng-deep {
  .p-dropdown {
    width: 125px;
    height: 40px;
    border-radius: 8px;
  }

  .p-button {
    border-radius: 8px;
  }

  .p-inputtext {
    color: #848fa9;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    align-self: center;
  }

  .p-datatable-table {
    border-collapse: separate;
    border-spacing: 0 15px;
  }
}

.height-28 {
  min-height: 28px;
  max-height: 28px;
}

.p-tag {
  width: min-content;
  border-radius: 6px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.p-tag-error {
  background: var(--color-accent-red-2, #F5D7D7);
  color: var(--color-accent-red-1, #FF432A);
}

.p-tag-success {
  background: var(--color-accent-green-2, #D7F5F5) !important;
  color: var(--color-accent-green-1, #19BE47) !important;
}

.p-tag-grey {
  background: var(--color-grey-2, #EFF3F7) !important;
  color: var(--color-grey-5, #848FA9) !important;
}

.margin-0 {
  margin: 0;
}
