.container {
    height: 38px;
    overflow: hidden;
    padding: 2px;
    display: grid;
    grid-template-columns: 130px 8px 1fr fit-content(24px);

    .select,
    input.input-end {
        height: 34px !important;
    }
}

.input-end {
    min-width: 0;
}

.input-end-tooltip {
    margin-left: 2px;
}
