<div class="container">
  <p-select
    class="select"
    [(ngModel)]="startPath"
    [options]="map"
    optionLabel="name"
    optionValue="value"
    [disabled]="readonly"
    (onChange)="onInput()"
    [appendTo]="'body'"
    panelStyleClass="pc-select-panel">
  </p-select>
  <input [(ngModel)]="endPath" [readonly]="readonly" class="input-end" (input)="onInput()">
  @if (displayTooltip) {
    <i class="pi pi-ellipsis-h input-end-tooltip"
      [pTooltip]="value"
      tooltipPosition="top"
      tooltipStyleClass="input-end-tooltip">
    </i>
  }
</div>
