.select-menu {
    background: #4caf50;
    color: #fff;
    border-radius: 6px;
    display: inline-block;
    padding: 6px 40px 6px 12px;
    margin: 0px 5px;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
}

.select-menu-min {
    background: #4caf50;
    color: #fff;
    border-radius: 6px;
    display: inline-block;
    padding: 6px 12px 6px 12px;
    margin: 0px 5px;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
}

.select-menu i,
.select-menu svg {
    position: absolute;
    right: 4px;
    height: 22px;
    padding: 6px;
    font-size: 12px;
    border-left: 1px solid #fff;
    pointer-events: none;
}

.select-menu-item {
    padding: 6px 10px;
    cursor: pointer;
}

.select-menu-item:hover {
    background: #e9f3fe;
}

.select-menu-item-title {
    display: block;
    max-width: 300px;
    font-size: 14px;
    font-weight: 500;
    pointer-events: none;
    margin-bottom: 2px;
}

.select-menu-item-description {
    display: block;
    max-width: 300px;
    font-size: 12px;
    pointer-events: none;
    color: var(--color-grey-4);
}

.select-menu-item:last-child {
    border-bottom: none;
}

::ng-deep .select-menu-panel.p-overlaypanel {
    border-radius: 8px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
    padding: 0;
}

::ng-deep .select-menu-panel .p-overlaypanel-content {
    padding: 4px;
    width: 228px;
}

::ng-deep .select-menu-panel:after,
::ng-deep .select-menu-panel:before{
    display: none !important;
}
