<ng-container *ngIf="options; else elseTemplate">
    <div class="select-menu" (click)="publishMenu.toggle($event)">
        <ng-container *ngTemplateOutlet="tempOutlet"></ng-container>
        <i class="pi pi-sort-down-fill"></i>
    </div>
    <p-overlayPanel #publishMenu [styleClass]="'select-menu-panel'">
        <ng-container *ngFor="let item of options">
            <div *ngIf="hasPermissions(item.permissions)" class="select-menu-item" (click)="onAction(item)">
                <div class="select-menu-item-title" [style.color]="item.color">{{ item.title }}</div>
                <div class="select-menu-item-description">{{ item.description }}</div>
            </div>
        </ng-container>
    </p-overlayPanel>
</ng-container>
<ng-template #elseTemplate>
    <div class="select-menu-min" (click)="onClick()">
        <ng-container *ngTemplateOutlet="tempOutlet"></ng-container>
    </div>
</ng-template>
<ng-template #tempOutlet>
    <ng-content></ng-content>
</ng-template>
