<!-- UI Prop -->
@if (properties) {
  <table class="properties" [attr.readonly]="readonly">
  <colgroup><col class="col-toggle"><col class="col-name"><col class="col-value"></colgroup>
    <tr class="propRow">
      <td class="propRowCol"></td>
      <td class="propRowCell cellName">Expression</td>
      <td class="propRowCell">
        <expression-property [value]="properties.expression" [readonly]="readonly"
          (edit)="editExpression($event)"></expression-property>
      </td>
    </tr>
  </table>
}
