.container {
    position: relative;
}

.canvas {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.block-container {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 6px 6px 6px 0px;
    align-items: center;
    /* pointer-events: none; */
}

.block-container>* {
    pointer-events: all;
}

.block-container[root="true"] {
    height: 64px !important;
}

.drop-container {
    z-index: 1;
    position: relative;
    padding-bottom: 50px;
    min-height: 200px;
}

.tree[readonly="true"] .block-container {
    height: 54px !important;
}

.tree[readonly="true"] .block-container[root="true"] {
    height: 64px !important;
}

.block-expand {
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
}

.block-item {
    height: 34px;
    position: relative;
    min-width: 160px;
    background: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    padding: 4px 12px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    margin: 4px 8px 4px 0px;
    box-shadow: 4px 4px 6px 0px #00000040;
}

.block-item * {
    pointer-events: none !important;
}

.block-item:hover {
    filter: brightness(1.03);
}

.block-body {
    height: 42px;
    display: grid;
    grid-template-columns: auto 10px;
    position: relative;
}

.block-expand mat-icon {
    position: absolute;
    left: 4px;
    top: 4px;
    color: var(--pc-header-color);
    font-size: 26px;
    width: 26px;
    height: 26px;
    padding: 3px;
    background: #f5f5f5;
}

.block-expand:hover mat-icon {
    color: #000;
}

.block-container[expandable="false"] .block-expand {
    pointer-events: none !important;
    cursor: default;
}

.block-container[expandable="false"] .block-expand mat-icon {
    display: none !important;
}

.block-container[collapsed="true"] .block-expand mat-icon {
    transform: rotate(-90deg);
}

.block-container[selected="true"] .block-item {
    border-color: #5161e1 !important;
    box-shadow: 4px 4px 6px 0px #00000040, 0px 0px 4px 1px #5161e1cc !important;
}

.block-container[selected="true"] .module-body .block-item::after {
    border-color: #5161e1 !important;
    box-shadow: -1px -2px 2px 0px #5161e161 !important;
}

.block-item-icon {
    position: absolute;
    top: 6px;
    left: 9px;
    color: #404040;
}

.module-item-icon mat-icon {
    top: 2px;
    left: 2px;
    position: relative;
    font-size: 24px;
    color: #404fb2;
}

.block-item-icon mat-icon {
    font-size: 18px;
}

.block-item-name {
    padding: 2px 0px 2px 22px;
    overflow: hidden;
    max-width: 330px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #404040;
}

.block-container[block-type="UI Components"] .block-item {
    background: var(--pc-ui-block-background-color);
    border-color: var(--pc-ui-block-border-color);
}

.block-container[block-type="Server Blocks"] .block-item {
    background: var(--pc-server-block-background-color);
    border-color: var(--pc-server-block-border-color);
    border-radius: 20px;
}

.block-container[block-type="Addons"] .block-item {
    background: var(--pc-addon-block-background-color);
    border-color: var(--pc-addon-block-border-color);
    border-radius: 6px;
}

.block-container[block-type="module"] .block-item {
    background: white;
    border-color: #adadad;
}

.block-all-expand {
    position: absolute;
    left: 0px;
    top: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
}

.block-all-expand mat-icon {
    position: absolute;
    left: 1px;
    top: 0px;
    color: var(--pc-header-color);
    width: 30px;
    height: 30px;
    font-size: 30px;
    background: #f5f5f5;
    padding: 4px;
}

.block-all-expand:hover mat-icon {
    color: #000;
}



.module-body {
    height: 52px !important;
}

/* .module-body .block-item {
    height: 44px;
    background: #fff !important;
    border-color: #838383 !important;
} */

.module-body .block-item::after {
    pointer-events: none !important;
    position: absolute;
    content: "";
    width: 40px;
    height: 6px;
    border: 2px solid #838383;
    top: -8px;
    left: -2px;
    border-bottom-width: 0;
    background: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.module-body .block-item {
    height: 40px;
    background: #fff !important;
    border-color: #838383 !important;
    padding: 2px 12px 4px 12px;
    margin: 8px 8px 3px 0px;
}

.module-item-icon {
    position: absolute;
    top: 3px;
    left: 8px;
    height: 28px;
    width: 28px;
    overflow: hidden;
}

.module-item-name {
    padding: 6px 16px 6px 35px;
    overflow: hidden;
    max-width: 330px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #404040;
    font-weight: 500;
    font-size: 16px;
}


.tooltip {
    position: absolute;
    left: 0px;
    top: 0px;
    pointer-events: none !important;
    transform: translate(-50%, -100%) translate(0, -5px);
    background: #fff;
    padding: 5px 15px;
    border: 1px solid #7c7c7c;
    border-radius: 4px;
    z-index: 9999;
    box-shadow: -1px 2px 3px 0px rgb(0 0 0 / 30%);
    min-width: 250px;
    transition: opacity 0.5s;
}

.tooltip::ng-deep span {
    font-weight: 500;
}

.tooltip::ng-deep .s1 span,
.tooltip::ng-deep .s2 span {
    color: #c53227;
}

.tooltip::ng-deep .s3 span,
.tooltip::ng-deep .s4 span {
    color: #35a307;
}

.tooltip::ng-deep .s2,
.tooltip::ng-deep .s4 {
    margin-bottom: 5px;
}





.block-menu {
    height: 40px;
    overflow: visible;
    display: none;
    align-items: center;
    position: absolute;
    right: 12px;
    top: 0px;
}

.module-menu.block-menu {
    top: 7px;
}

.action-button {
    background-color: white;
    font-size: 10px;
    border-radius: 5px;
    width: 31px;
    height: 31px;
    line-height: 0px;
    margin: 2px;
    color: #3f51b5;
    z-index: 2;
    border: 1px solid rgb(200 200 200);
    box-shadow: 2px 2px 6px 1px #00000035;
}

.action-button:hover {
    background-color: #f5f5f5;
}

.delete-action {
    color: red;
}

.move-actions-container {
    display: none;
    align-items: center;
    justify-items: center;
    grid-template-rows: 34px 34px 34px;
    grid-template-columns: 34px 34px 34px;
    margin-right: 10px;
    grid-gap: 3px;
    width: 110px;
    height: 110px;
}

.move-more-action-button {
    box-shadow: 0px 0px 7px -1px #3f51b5a6, 0px 0px 20px 20px #f5f5f5 !important;
    z-index: 1 !important;
    grid-row: 2;
    grid-column: 2;
}

.move-action-up {
    grid-row: 1;
    grid-column: 1/4;
}

.move-action-left {
    grid-row: 2;
    grid-column: 1;
}

.move-action-right {
    grid-row: 2;
    grid-column: 3;
}

.move-action-down {
    grid-row: 3;
    grid-column: 1/4;
}

.tree[move-actions="1"] .move-actions-container {
    display: grid;
}

.tree[move-actions="1"] .more-action-button {
    display: none;
}

.tree[move-actions="1"] .block-container[selected="true"] .block-menu {
    height: 110px;
    top: -33px;
}

.tree[move-actions="1"] .block-container[selected="true"] .module-menu.block-menu {
    top: -26px;
}

.tree[move-actions="1"] .block-container[selected="true"] {
    height: 120px;
}

.block-container[selected="true"] .block-menu {
    display: flex;
}

.block-container[selected="true"] .block-body {
    grid-template-columns: auto 90px;
}

.tree[move-actions="1"] .block-container[selected="true"] .block-body {
    grid-template-columns: auto 173px;
}

.tree[move-actions="0"] .actions-container {
    background-color: white;
    border: 1px solid rgb(200 200 200);
    box-shadow: 2px 2px 6px 1px #00000035;
    border-radius: 5px;
    padding: 1px;
}

.tree[move-actions="0"] .actions-container .action-button {
    border: 1px solid rgb(215 215 215);
    box-shadow: none;
}

.tree[readonly="true"] .block-menu,
.block-container[root="true"] .block-menu {
    display: none !important;
}

.tree[readonly="true"] .block-body,
.block-container[root="true"] .block-body {
    grid-template-columns: auto 1px !important;
}










.cdk-drag-animating {
    transition: transform 50ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
    opacity: 0.4 !important;
    background: #e3e3e3 !important;
}

.cdk-drag-placeholder .block-expand {
    opacity: 0 !important;
}

.cdk-drag-placeholder .block-menu {
    opacity: 0 !important;
}

.cdk-drag-preview .block-expand {
    opacity: 0 !important;
}

.cdk-drag-preview .block-menu {
    opacity: 0 !important;
}