.loading {
    background: #fff;
    position: absolute;
    z-index: 99;
    border-radius: 16px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.context {
    position: relative;
    overflow-y: auto;
    padding: 5px 3px 20px 3px;
    display: flex;
    flex-direction: column;
    height: 100%;

    .filters {
        display: flex;
        flex-direction: column;
        width: 100%;

        .filter-row {
            height: 40px;
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: row;
        }

        .filter-group {
            margin-top: 16px;
            width: 100%;
            height: 186px;
            padding: 16px;
            border-radius: 8px;
            border: 1px solid #C4D0E1;
            background: #F9FAFC;

            .filter-row {
                margin-bottom: 16px;
            }
        }

        .type-dropdown {
            max-width: 260px;
            width: 100%;
            height: 40px;
            margin-right: 16px;

            &::ng-deep {
                .p-dropdown {
                    width: 100%;
                    height: 40px;
                    border: 1px solid #e1e7ef;
                    border-radius: 8px;
                }
            }
        }

        .p-input-icon-right {
            width: 100%;
        }

        .search-policy-input {
            width: 100%;
            height: 40px;
            border: 1px solid #e1e7ef;
            border-radius: 8px;
            padding-left: 16px;
            position: relative;

            &:hover {
                border-color: #2196F3;
            }

            &:focus {
                outline: 1px solid #2196F3;
            }
        }

        .button {
            width: 150px;
            min-width: 150px;
            max-width: 150px;
            margin-left: 12px;
            padding: 6px 12px;
        }
    }

    .grid-container {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: auto;

        .col-auto {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .col-250 {
            width: 250px;
            min-width: 250px;
            max-width: 250px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .col-200 {
            width: 200px;
            min-width: 200px;
            max-width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .col-80 {
            width: 80px;
            min-width: 80px;
            max-width: 80px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .col-64 {
            width: 64px;
            min-width: 64px;
            max-width: 64px;
            overflow: hidden;
            text-align: center;
        }

        .grid-header {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 46px;
            min-height: 46px;
            max-height: 46px;

            & > div {
                padding: 12px 6px;
            }
        }
        
        .grid-body {
            display: flex;
            flex-direction: column;
            width: 100%;
            border: 1px solid #E1E7EF;
            border-radius: 6px;

            .grid-row {
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 64px;
                min-height: 64px;
                max-height: 64px;
                border-bottom: 1px solid #E1E7EF;

                & > div {
                    padding: 22px 4px;
                }
            }
        }
    }
}

::ng-deep .custom-dialog {
    .p-dialog-title {
        font-family: Poppins, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
    }

    .p-dialog {
        box-shadow: none;
    }

    .p-dialog-header {
        border-top-left-radius: 16px !important;
        border-top-right-radius: 16px !important;
    }

    .p-dialog-content {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

::ng-deep .custom-header-dialog {
    .p-dialog-content {
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

.dialog-header {
    height: 80px;
    display: flex;
    width: 100%;
    position: relative;
    color: #495057;
    padding: 1.5rem 0;

    .header-container {
        width: 100%;
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: row;

        .header-text {
            font-weight: 600;
            font-size: 1.25rem;
            font-family: Poppins, sans-serif;
            font-style: normal;
            padding: 6px 0px;
        }

        .header-item {
            padding: 6px 12px;
            background: #E1E7EF;
            margin: 0px 16px;
            border-radius: 6px;
            color: #6f7279;
            font-size: 14px;
        }
    }

    .header-icon {
        width: 32px;
        min-width: 32px;
        max-width: 32px;
        position: relative;
        flex: 32px;
        padding: 4px;
        border-radius: 100%;
        cursor: pointer;

        &:hover {
            background: #e9ecef;
        }
    }
}

.dialog-body {
    height: 40vh;
    overflow-y: auto;
}

.dialog-footer {
    border-top: 1px solid #E1E7EF;
    padding-top: 20px;
}

.action-buttons {
    display: flex;
}

.cancel-button {
    margin-left: auto;
    margin-right: 15px;
}

.close-icon-color {
    fill: #6c757d;
    color: #6c757d;
}








// ::ng-deep {
//     .p-button {
//         border-radius: 8px;
//     }

//     .p-dropdown {
//         width: 100%;
//     }

//     .p-multiselect {
//         width: 100%;
//     }

//     .p-focus {
//         box-shadow: none !important;
//     }
// }

// .policy-dropdown-container {
//     display: flex;
//     flex-direction: column;
//     margin-bottom: 25px;
// }

// .form-label {
//     color: #181818;
//     font-family: Inter, sans-serif;
//     font-size: 12px;
//     font-style: normal;
//     font-weight: 500;
// }

// .container {
//     display: flex;
//     justify-content: space-between;
//     padding-right: 14px;
// }

// .container button {
//     margin-top: 5px;
//     margin-left: 10px;
//     min-width: 280px;
// }

// :host .content {
//     max-height: 400px;
// }

// .loading {
//     background: #fff;
//     position: absolute;
//     z-index: 99;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     top: 0;
//     display: flex;
//     align-items: center;
//     justify-items: center;
//     justify-content: center;
//     align-content: center;
// }

// .g-dialog-title-btn mat-icon {
//     position: absolute;
//     font-size: 32px;
//     top: 7px;
//     left: 7px;
//     color: #646464;
// }

// .search-header {
//     display: grid;
//     height: 28px;
// }

// .search-header>div {
//     font-weight: 500;
//     padding-left: 5px;
//     border-bottom: 1px solid #eee;
// }

// .search-result {
//     display: grid;
//     height: 42px;
//     cursor: pointer;

//     &:hover {
//         background-color: rgba(112, 112, 112, 0.04);
//     }
// }

// .search-result>div {
//     overflow: hidden;
//     padding: 11px 10px 11px 5px;
//     box-sizing: border-box;
//     white-space: nowrap;
//     text-overflow: ellipsis;
// }

// .disabled-result>div {
//     color: #999;
// }

// .search-result input {
//     cursor: pointer;
// }

// .search-header input {
//     cursor: pointer;
// }

// .item-color-green {
//     color: #008d0c;
//     font-weight: 500;
//     text-align: end;
// }

// .item-color-yellow {
//     color: #c79604;
//     font-weight: 500;
//     text-align: end;
// }

// .item-color-red {
//     color: #e70000;
//     font-weight: 500;
//     text-align: end;
// }

// .compare-btn {
//     color: var(--button-primary-color);
//     border: 1px solid var(--button-primary-color);
//     margin: 0px;
//     min-width: 105px;
//     cursor: pointer;
//     font-weight: 500;
//     text-align: left;
//     user-select: none;
//     position: relative;
//     border-radius: 8px;
//     font-size: 14px;
//     height: 34px;
//     padding: 7px 14px 7px 34px !important;
//     box-sizing: border-box;
//     width: fit-content;

//     &[disable="true"] {
//         color: #888;
//         border: 1px solid #888;
//         cursor: not-allowed;
//     }

//     &:hover {
//         background-color: rgba(112, 112, 112, 0.04);
//     }

//     &[disable="true"]:hover {
//         background-color: transparent;
//     }
// }

// .compare-btn mat-icon {
//     position: absolute;
//     left: 10px;
//     top: 8px;
//     font-size: 16px;
// }

// .search-toolbar {
//     height: 60px;
//     padding: 5px;
//     display: grid;
//     grid-template-columns: auto 220px;
//     box-sizing: border-box;
//     width: 100%;
// }

// .policy-actions {
//     display: flex;
//     flex-direction: row;
//     width: 100%;
//     justify-content: flex-end;
// }

// .policy-filters {
//     &__control {
//         margin-left: 0px;
//         margin-right: 0px;
//         height: 34px;
//         overflow: visible;
//         width: 300px;
//     }

//     &::ng-deep {
//         .mat-stroked-button {
//             border-radius: 25px;
//             font-size: 16px;
//             width: 180px;
//             height: 50px;
//             margin-left: 20px;
//         }

//         .mat-stroked-button:not(.mat-button-disabled) {
//             color: var(--button-primary-color);
//             border: 1px solid var(--button-primary-color);
//         }

//         .mat-form-field-label {
//             top: 50%;
//             margin-top: 0;
//             color: #9e9e9e;
//         }

//         .mat-form-field-wrapper {
//             padding-bottom: 0;
//             margin: 0;
//         }

//         .mat-form-field-infix {
//             padding: 14px 0 8px 0;
//             border-top: unset;
//             font-weight: 300;
//             font-size: 14px;
//         }

//         .mat-select-arrow-wrapper {
//             transform: unset;
//         }
//     }
// }

// .open-in-new {
//     mat-icon {
//         font-size: 26px;
//         top: 10px;
//         left: 10px;
//     }
// }

// .color-field {
//     padding-right: 8px;
// }

// .g-dialog-content {
//     width: 1000px;

//     .search-header, .search-result {
//         grid-template-columns: 40px 245px 230px 200px 60px 60px 60px 60px;
//     }
// }

// @media screen and (max-width: 1500px) {
//     .g-dialog-content {
//         width: 800px;

//         .search-extra-column {
//             display: none;
//         }

//         .search-header, .search-result {
//             grid-template-columns: 40px 220px 325px 105px 60px;
//         }
//     }
// }

// @media screen and (max-width: 1000px) {
//     .g-dialog-content {
//         width: 580px;

//         .search-extra-column {
//             display: none;
//         }

//         .search-header, .search-result {
//             grid-template-columns: 40px 325px 105px 60px;
//         }

//         .policy-id-field {
//             display: none;
//         }
//     }
// }