<!-- UI Prop -->
<table class="properties" [attr.readonly]="readonly" *ngIf="properties">
    <tr class="propRow">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Schema</td>
        <td class="propRowCell">
            <select-schema
                [schemas]="schemas"
                [(value)]="properties.schema"
                [disabled]="readonly"
                (change)="onSave()"
            ></select-schema>
        </td>
    </tr>

    <tr class="propRow">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Id Type</td>
        <td class="propRowCell">
            <p-dropdown
                [(ngModel)]="properties.idType"
                [disabled]="readonly"
                (onChange)="onSave()"
                placeholder="Select an ID type"
                [options]="idTypeOptions"
                [appendTo]="'body'"
            >
            </p-dropdown>
        </td>
    </tr>

    <tr class="propRow">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Edit type</td>
        <td class="propRowCell">
            <p-dropdown
                [(ngModel)]="properties.editType"
                [disabled]="readonly"
                (onChange)="onSave()"
                placeholder="Select an Edit type"
                [options]="editType"
                [appendTo]="'body'"
            >
            </p-dropdown>
        </td>
    </tr>

    <tr class="propRow">
        <td class="propRowCol multi-line"></td>
        <td class="propRowCell multi-line cellName">Custom Relayer Account</td>
        <td class="propRowCell multi-line">
            <input class="prop-input" type="checkbox" [(ngModel)]="properties.relayerAccount" [readonly]="readonly"
                   (blur)="onSave()">
        </td>
    </tr>

    <tr class="propRow">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Preset</td>
        <td class="propRowCell">
            <input class="prop-input" type="checkbox" [(ngModel)]="properties.preset" [readonly]="readonly"
                   (blur)="onSave()">
        </td>
    </tr>

    <tr class="propHeader">
        <td class="propRowCol cellCollapse" (click)="onHide(propHidden, 'main')" [attr.collapse]="propHidden.main">
            <i class="pi pi-caret-down"></i>
        </td>
        <td class="propHeaderCell cellName">UI</td>
        <td class="propHeaderCell"></td>
    </tr>

    <tr class="propRow" [attr.collapse]="propHidden.main">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Type</td>
        <td class="propRowCell">
            <p-dropdown
                [(ngModel)]="properties.uiMetaData.type"
                [disabled]="readonly"
                (onChange)="onSave()"
                [appendTo]="'body'"
                placeholder="Select a UI type"
                [options]="uiMetaDataTypeOptions">
            </p-dropdown>
        </td>
    </tr>

    <ng-container *ngIf="properties.uiMetaData.type == 'page'">
        <tr class="propRow" [attr.collapse]="propHidden.main">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Title</td>
            <td class="propRowCell">
                <input class="prop-input" [(ngModel)]="properties.uiMetaData.title" [readonly]="readonly"
                       (blur)="onSave()">
            </td>
        </tr>

        <tr class="propRow" [attr.collapse]="propHidden.main">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Description</td>
            <td class="propRowCell">
                <input class="prop-input" [(ngModel)]="properties.uiMetaData.description" [readonly]="readonly"
                       (blur)="onSave()">
            </td>
        </tr>
    </ng-container>

    <ng-container *ngIf="properties.uiMetaData.type == 'dialog'">
        <tr class="propRow" [attr.collapse]="propHidden.main">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Title</td>
            <td class="propRowCell">
                <input class="prop-input" [(ngModel)]="properties.uiMetaData.title" [readonly]="readonly"
                       (blur)="onSave()">
            </td>
        </tr>
        <tr class="propRow" [attr.collapse]="propHidden.main">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Button Content</td>
            <td class="propRowCell">
                <input class="prop-input" [(ngModel)]="properties.uiMetaData.content" [readonly]="readonly"
                       (blur)="onSave()">
            </td>
        </tr>
        <tr class="propRow" [attr.collapse]="propHidden.main">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Button Class</td>
            <td class="propRowCell">
                <input class="prop-input" [(ngModel)]="properties.uiMetaData.buttonClass" [readonly]="readonly"
                       (blur)="onSave()">
            </td>
        </tr>
        <tr class="propRow" [attr.collapse]="propHidden.main">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Dialog Title</td>
            <td class="propRowCell">
                <input class="prop-input" [(ngModel)]="properties.uiMetaData.dialogContent" [readonly]="readonly"
                       (blur)="onSave()">
            </td>
        </tr>
        <tr class="propRow" [attr.collapse]="propHidden.main">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Dialog Description</td>
            <td class="propRowCell">
                <input class="prop-input" [(ngModel)]="properties.uiMetaData.description" [readonly]="readonly"
                       (blur)="onSave()">
            </td>
        </tr>
        <tr class="propRow" [attr.collapse]="propHidden.main">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Dialog Class</td>
            <td class="propRowCell">
                <input class="prop-input" [(ngModel)]="properties.uiMetaData.dialogClass" [readonly]="readonly"
                       (blur)="onSave()">
            </td>
        </tr>

        <tr class="propRow" [attr.collapse]="propHidden.main">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName" title="Hide when discontinued">
                Hide when discontinued
            </td>
            <td class="propRowCell">
                <p-checkbox
                    [(ngModel)]="properties.uiMetaData.hideWhenDiscontinued"
                    [binary]="true"
                    [readonly]="readonly"
                    (blur)="onSave()"
                    [style]="{marginLeft: '8px'}"
                ></p-checkbox>
            </td>
        </tr>
    </ng-container>

    <tr class="propHeader">
        <td class="propRowCol cellCollapse" (click)="onHide(propHidden, 'preset')" [attr.collapse]="propHidden.preset">
            <i class="pi pi-chevron-down"></i>
        </td>
        <td class="propHeaderCell cellName">Preset</td>
        <td class="propHeaderCell"></td>
    </tr>

    <tr class="propRow" [attr.collapse]="propHidden.preset">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Preset Schema</td>
        <td class="propRowCell">
            <select-schema
                [schemas]="schemas"
                [(value)]="properties.presetSchema"
                [disabled]="readonly"
                (change)="onSelectInput()"
            ></select-schema>
        </td>
    </tr>
    <ng-container *ngFor="let field of properties.presetFields; let i=index">
        <tr class="propRow" [attr.collapse]="propHidden.preset">
            <td class="propRowCol cellCollapse" (click)="onHide(propHidden.presetFields, i)"
                [attr.collapse]="propHidden.presetFields[i]">
                <i class="pi pi-chevron-down"></i>
            </td>
            <td class="propRowCell cellName">Field {{ i }}</td>
            <td class="propRowCell">
                <span *ngIf="field.value">{{ field.name }} = {{ field.value }}</span>
            </td>
        </tr>
        <tr class="propRow subRow" [attr.collapse]="propHidden.preset || propHidden.presetFields[i]">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">
                Title
            </td>
            <td class="propRowCell cellValue" [title]="field.title">
                <span>{{ field.title }}</span>
            </td>
        </tr>
        <tr class="propRow subRow" [attr.collapse]="propHidden.preset || propHidden.presetFields[i]">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">
                Preset Field
            </td>
            <td class="propRowCell">
                <p-dropdown
                    [(ngModel)]="field.value"
                    [disabled]="readonly"
                    (onChange)="onSave()"
                    placeholder="Select a value"
                    [options]="getPresetOptions()"
                    optionLabel="label"
                    optionValue="value"
                    [appendTo]="'body'"
                >
                </p-dropdown>
            </td>
        </tr>
        <tr *ngIf="field.value" class="propRow subRow"
            [attr.collapse]="propHidden.preset || propHidden.presetFields[i]">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">
                Readonly
            </td>
            <td class="propRowCell">
                <input class="prop-input" type="checkbox" [(ngModel)]="field.readonly" [readonly]="readonly"
                       (blur)="onSave()">
            </td>
        </tr>
    </ng-container>
</table>
