.guardian-input-container {
    margin-bottom: 24px;
}

.dialog-body {
    height: 450px;
    position: relative;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    user-select: none;

    &>div {
        margin-left: 15px;
        margin-right: 0px;
    }
}

.guardian-button {
    padding: 6px 32px;
    height: 40px;
}

.enum-import-container {
    display: flex;
    align-items: end;

    .guardian-input-container {
        margin-right: 8px;
    }

    .guardian-button {
        margin-bottom: 24px;
        margin-left: 8px;
    }
}

.text-editor {
    border: 1px solid var(--guardian-grey-color-2, #E1E7EF);
    border-radius: 6px;
    overflow: auto;
    position: absolute;
    left: 0;
    top: 113px;
    right: 0;
    bottom: 52px;
}

.enum-load-to-ipfs {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 16px;
}