.content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: block;
    background: #fff;
}

.loading {
    background: #fff;
    position: fixed;
    z-index: 999;
    top: var(--header-height-policy);
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}


.title {
    margin-left: 20px;
    background: #fff;
    display: block;
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    padding-bottom: 30px;
    font-weight: bold;
}

.description {
    background: #fff;
    display: block;
    text-align: center;
    font-size: 20px;
    padding-bottom: 30px;
    color: #404040;
}