form {
    display: flex;
    flex-direction: column;
    overflow: visible;
    padding-bottom: 25px;
}

.content {
    overflow: visible;
    position: relative;
}

.loading {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    z-index: 1;
}

.modal-header {
    color: #000;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

:host ::ng-deep .p-dialog {
    width: 720px;
    border-radius: 16px !important;
    display: grid;
    transform: none;
    max-height: none;
    padding: 32px;
    background: var(--color-grey-white, #FFF);
}

:host ::ng-deep .p-dialog .p-dialog-header {
    padding: 0;
    font: 400 24px / 32px Roboto, "Helvetica Neue", sans-serif;
}

:host ::ng-deep .p-dialog .p-dialog-content {
    padding: 18px 0 0 0;
}

.form-field {
    margin-bottom: 1em;
}

.custom-form-field {
    position: relative;
    padding: 0.5em;
    border: 1px solid var(--color-grey-2);
    border-radius: 4px;
    transition: border-color 0.3s;
}

.custom-form-field:focus-within {
    border: 2px solid var(--primary-color);
}

.custom-label {
    position: absolute;
    top: -0.6em;
    left: 0.75em;
    background-color: var(--color-grey-white, #FFF);
    padding: 0 0.3em;
    font-size: 0.85em;
    color: var(--color-grey-5);
}

.custom-input {
    width: 100%;
    padding: 0.5em;
    border: none;
    outline: none;
    box-shadow: none;
}

.dialog-actions {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
}

.custom-form-field.invalid {
    border: 1px solid var(--color-accent-red-1);
}

.custom-form-field.invalid input {
    color: var(--color-accent-red-1);
}

.custom-label.invalid {
    color: var(--color-accent-red-1);
}
