<app-common-dialog
  [title]="title"
  cancelLabel="Close"
  [confirmLabel]="button"
  [confirmDisabled]="!dataForm.valid"
  (cancel)="onNoClick()"
  (close)="onNoClick()"
  (confirm)="dialogRef.close(dataForm.value)">
  <form [formGroup]="dataForm">
    @for (field of fieldsConfig; track field) {
      <div class="guardian-input-container">
        <label class="form-label">{{field.label}}</label>
        <input
          pInputText
          [formControlName]="field.name"
          type="text"
          [placeholder]="field.placeholder"
          [ngClass]="{'invalid': dataForm.get(field.name)?.invalid && dataForm.get(field.name)?.touched}"/>
      </div>
    }
  </form>
</app-common-dialog>
