<div class="g-dialog-content">
    <div class="g-dialog-header">
        <div class="g-dialog-cancel">
            <div class="g-dialog-cancel-btn" (click)="onClose()">
                <mat-icon>close</mat-icon>
            </div>
        </div>
        <div class="g-dialog-title">
            Schema Import Preview
        </div>
        <div class="g-dialog-actions">
            <div class="g-dialog-actions-btn" (click)="onImport()">
                Import
            </div>
        </div>
    </div>
    <div class="g-dialog-body">
        <div class="context">
            <div *ngIf="loading" class="loading">
                <mat-spinner></mat-spinner>
            </div>
            <div *ngFor="let schema of schemes">
                <div class="schema">
                    <div class="schema-header">{{schema.name}}</div>
    
                    <div class="delimiter"></div>
    
                    <div class="version-container">
                        <div *ngIf="schema.version" class="field">
                            <div class="field-name">Version</div>
                            <div class="field-value">{{schema.version}}</div>
                        </div>
                        <div class="new-versions-container" *ngIf="schema.newVersions && schema.newVersions.length > 0">
                            <div class="info-container field-name"><mat-icon class="info-label">info</mat-icon> <b>New versions of schema exist</b></div>
                            <div class="new-versions-links">
                                <a class="field-version-value" *ngFor="let newVersion of schema.newVersions" [title]="newVersion.messageId" (click)="onNewVersionClick(newVersion.messageId)">{{newVersion.version}}</a>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="schema.description" class="field-last">
                        <div class="field-name">Description</div>
                        <div class="field-value">{{schema.description}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>