.sensors-table {
    width: 100%;
}

.sensors-table .mat-column-id {
    width: 675px;
    border-right: 1px solid currentColor;
    padding-right: 8px;
}

.sensors-table .mat-column-projectId {
    padding-left: 8px;
}

.content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: block;
}

.loading {
    background: #fff;
    position: fixed;
    z-index: 99;
    top: 125px;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.progress {
    width: 500px;
    margin-left: 20px;
    background: #fff;
    height: 50px;
    display: block;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
}

.progress > span {
    font-size: 40px;
    padding-bottom: 30px;
    display: inline-block;
    font-weight: bold;
}

.progress mat-progress-bar {
    height: 30px;
    border-radius: 36px;
}

a {
    color: rgb(0, 0, 238);
    cursor: pointer;
    text-decoration: underline;
}

.list {
    width: 800px;
    padding: 20px 20px 0px 20px;
    margin: 20px;
    border: 1px solid #c7c7c7;
    border-radius: 6px;
    position: relative;
}

.list-item {
    margin-bottom: 20px;
}

.example-full-width {
    width: 100%; 
}

.list-button{
    width: 800px;
    padding: 0;
    margin: 0 auto;
    text-align: right;
}

.random-icon {
    width: 45px;
    height: 45px;
    border: 1px solid #999;
    border-radius: 4px;
    background: url(/assets/pngwing.com.png) 0px 0px / 46px 44px;
    position: absolute;
    top: 20px;
    right: -62px;
    cursor: pointer;
}

.config-display .list-item {
    display: flex;
    gap: 20px;
}

.config-display {
    padding: 20px;
}

.root-config {
    display: flex;
}

.list h3 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

.error-list {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    padding: 20px 20px 20px 20px;
    margin: 20px;
    /*border: 1px solid #c7c7c7;*/
    border-radius: 6px;
    position: relative;
    color: #3f51b5;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.error-list p {
    font-size: 20px;
    margin: 0 0 16px 0;
    color: #000000;
}

.error-list button {
    margin: 30px 0 0 0;
}

.error-schema {
    position: fixed;
    left: 0;
    right: 0;
    top: 125px;
    bottom: 0;
    background: #fff;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.error-schema p {
    font-size: 20px;
    margin: 0 0 16px 0;
    color: #000000;
    font-weight: 500;
}