<div class="content user-profile">

    <div *ngIf="loading && !taskId" class="loading">
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="loading && progress" class="loading">
        <div class="progress">
            <span>Finishing Setup</span>
            <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
        </div>
    </div>

    <div *ngIf="loading && taskId" class="loading">
        <async-progress class="loading-progress" [taskId]="taskId" [expected]="expectedTaskMessages"
            (error)="onAsyncError($event)" (completed)="onAsyncCompleted()"></async-progress>
    </div>

    <div class="root-config" *ngIf="isConfirmed && profile">
        <div class="config-display">
            <div class="list-item">
                <h4 mat-line>DID Document</h4>
                <p mat-line class="root-field">
                    <a (click)="openDIDDocument(profile.didDocument, 'DID')">View Document</a>
                </p>
            </div>
            <div *ngIf="profile.vcDocument" class="list-item">
                <h4 mat-line>VC Document</h4>
                <p mat-line class="root-field">
                    <a (click)="openVCDocument(profile.vcDocument, 'VC')">View Document</a>
                </p>
            </div>
            <div class="list-item">
                <h4 mat-line>Balance</h4>
                <p mat-line class="root-field"> {{balance}} </p>
            </div>

            <div class="list-item">
                <h4 mat-line>Hedera Account Id</h4>
                <p mat-line class="root-field"> {{profile.hederaAccountId}} </p>
                <mat-divider></mat-divider>
            </div>

            <div class="list-item">
                <h4 mat-line>DID</h4>
                <p mat-line class="root-field"> {{profile.did}} </p>
                <mat-divider></mat-divider>
            </div>

            <div *ngIf="profile.topicId" class="list-item">
                <h4 mat-line>User Topic</h4>
                <p mat-line class="root-field"> {{profile.topicId}} </p>
                <mat-divider></mat-divider>
            </div>

            <div *ngIf="profile.parentTopicId" class="list-item">
                <h4 mat-line>Initialization topic</h4>
                <p mat-line class="root-field"> {{profile.parentTopicId}} </p>
                <mat-divider></mat-divider>
            </div>

        </div>
    </div>

    <form *ngIf="!isConfirmed && isNewAccount" [formGroup]="hederaForm" (ngSubmit)="onHederaSubmit()">
        <div class="list">
            <h3>Finish Setup</h3>
            <div *ngIf="!generated" class="list-item">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>OPERATOR ID (Hedera Account):</mat-label>
                    <input matInput placeholder="0.0.1548173" formControlName="hederaAccountId">
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>OPERATOR KEY (Hedera Account Private Key):</mat-label>
                    <input matInput placeholder="302e020100300506032b657004220420e..."
                        formControlName="hederaAccountKey">
                </mat-form-field>
                <div class="topic-id-field" *ngIf="!showForm && !generated">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Topic ID:</mat-label>
                        <mat-select [formControl]="selectedTokenId">
                            <mat-select-trigger>{{selectedTokenId.value}}</mat-select-trigger>
                            <mat-option *ngFor="let topic of userTopics" [value]="topic.topicId">
                                <div class="topic-item">
                                    <span>{{topic.topicId}}</span>
                                    <span><hedera-explorer type="topics"
                                            [params]="topic.topicId">{{topic.date}}</hedera-explorer></span>
                                </div>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="list-button">
                        <button mat-mini-fab [disabled]="!hederaForm.valid" (click)="getAllUserTopics($event)"
                            color="primary" aria-label="Refresh topics">
                            <mat-icon>refresh</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="!generated" class="list-button">
                <button mat-raised-button type="button" class="generate-btn" id="generate-btn-mobile" (click)="randomKey()">Generate</button>
            </div>
            <div class="list-item" *ngIf="showForm && generated">
                <app-schema-form [formGroup]="vcForm" [schema]="schema" [private-fields]="hideVC"
                    (change)="onChangeForm()" [showButtons]="false">
                </app-schema-form>
            </div>
        </div>
        <div class="list-button" *ngIf="!generated">
            <button [disabled]="!hederaForm.valid || (!selectedTokenId.valid && !showForm && !generated)"
                mat-raised-button type="button" color="primary" class="generate-btn" (click)="onActionClick($event)">
                {{currentKeyAction.label}}
                <mat-icon (click)="onActionMenuClick($event)"
                    [matMenuTriggerFor]="actionMenu">arrow_drop_down</mat-icon>
            </button>
            <mat-menu #actionMenu="matMenu">
                <button *ngFor="let actionType of startActions" mat-menu-item
                    (click)="onActionChange(actionType.type)">{{actionType.label}}</button>
            </mat-menu>
        </div>
        <div *ngIf="showForm && generated" class="white-space"></div>
        <div class="list-button" id="connect-btn" *ngIf="showForm && generated">
            <button mat-raised-button type="submit" [disabled]="!formValid" color="primary">Connect</button>
        </div>
    </form>

    <div *ngIf="!isConfirmed && !isNewAccount && !isFailed" class="loading">
        <div class="progress">
            <span>Finishing Setup</span>
            <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
        </div>
    </div>

    <div *ngIf="!isConfirmed && isFailed" class="error-list">
        <p>An error occurred while creating the document.</p>
        <p>Please try again later.</p>
        <button mat-raised-button type="button" color="primary" class="generate-btn" (click)="retry()">Retry</button>
    </div>

    <div *ngIf="errorLoadSchema" class="error-schema">
        <p>Failed to load system schemas.</p>
    </div>

</div>