<div class="content installer-profile">

    <div *ngIf="loading" class="loading">
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="loading && progress" class="loading">
        <div class="progress">
            <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
        </div>
    </div>

    <ng-container *ngIf="root; else elseTemplate">
        <div class="list">
            <div class="list-item">
                <h4 mat-line>Balance</h4>
                <p mat-line class="root-field"> {{balance}} </p>
            </div>
        </div>
        <div class="list">
            <div class="list-item">
                <h4 mat-line>Appnet Name</h4>
                <p mat-line class="root-field"> {{root.appnetName}} </p>
                <mat-divider></mat-divider>
            </div>
            <div class="list-item">
                <h4 mat-line>Address Book</h4>
                <p mat-line class="root-field"> {{root.addressBook}} </p>
                <mat-divider></mat-divider>
            </div>

            <div class="list-item">
                <h4 mat-line>DID Server Url</h4>
                <p mat-line class="root-field"> {{root.didServerUrl}} </p>
                <mat-divider></mat-divider>
            </div>
            <div class="list-item">
                <h4 mat-line>DID Topic Memo</h4>
                <p mat-line class="root-field"> {{root.didTopicMemo}} </p>
                <mat-divider></mat-divider>
            </div>

            <div class="list-item">
                <h4 mat-line>VC Topic Memo</h4>
                <p mat-line class="root-field"> {{root.vcTopicMemo}} </p>
                <mat-divider></mat-divider>
            </div>
            <div class="list-item">
                <h4 mat-line>Hedera Account Id</h4>
                <p mat-line class="root-field"> {{root.hederaAccountId}} </p>
                <mat-divider></mat-divider>
            </div>

            <div class="list-item">
                <h4 mat-line>DID</h4>
                <p mat-line class="root-field"> {{root.did}} </p>
                <mat-divider></mat-divider>
            </div>
            <div class="list-item">
                <h4 mat-line>DID Document</h4>
                <p mat-line class="root-field">
                    <a (click)="openDocument(root.didDocument)">View Document</a>
                </p>
            </div>
            <div class="list-item">
                <h4 mat-line>VC Document</h4>
                <p mat-line class="root-field">
                    <a (click)="openDocument(root.vcDocument)">View Document</a>
                </p>
            </div>
        </div>
    </ng-container>
    <ng-template #elseTemplate>
        <form [formGroup]="hederaForm" (ngSubmit)="onHederaSubmit()">
            <div class="list">
                <div (click)="randomKey()" class="random-icon"></div>
                <div class="list-item">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>OPERATOR ID:</mat-label>
                        <input matInput placeholder="0.0.1548173" formControlName="hederaAccountId">
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>OPERATOR KEY:</mat-label>
                        <input matInput
                            placeholder="302e020100300506032b657004220420e749aa65835ce90cab1cfb7f0fa11038e867e74946abca993f543cf9509c8edc"
                            formControlName="hederaAccountKey">
                    </mat-form-field>
                    <mat-divider></mat-divider>
                </div>

                <div class="list-item">
                    <app-schema-form [formGroup]="vcForm" [contextDocument]="vcContextDocument" [hide]="hideVC">
                    </app-schema-form>
                    <mat-divider></mat-divider>
                </div>

                <div class="list-item">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Appnet Name:</mat-label>
                        <input matInput placeholder="Test Identity SDK appnet" formControlName="appnetName">
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>DID Server Url:</mat-label>
                        <input matInput placeholder="http://localhost:3000/api/v1" formControlName="didServerUrl">
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>DID Topic Memo:</mat-label>
                        <input matInput placeholder="Test Identity SDK appnet DID topic" formControlName="didTopicMemo">
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>VC Topic Memo:</mat-label>
                        <input matInput placeholder="Test Identity SDK appnet VC topic" formControlName="vcTopicMemo">
                    </mat-form-field>
                </div>
            </div>
            <div class="list-button">
                <button mat-raised-button type="submit" color="primary" [disabled]="!hederaForm.valid">Connect</button>
            </div>
        </form>

    </ng-template>
</div>