.p-toast-detail {
    white-space: pre-line;
}

.toast-logs-link {
    color: #126db3;
    font-weight: 500;
    padding: 0 2px;
    text-decoration: underline;
    display: inline-block;
    margin-top: 4px;
}
