.context {
    position: relative;
    overflow-y: auto;
    padding: 14px 0 20px 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: Inter, serif;
    font-style: normal;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    user-select: none;

    &>div {
        margin-left: 15px;
        margin-right: 0px;
    }
}

.dialog-body {
    min-height: 120px;
}

.guardian-input-container {
    width: 100%;
    margin-bottom: 24px;
}

.policy-container {
    width: 100%;
}