<div class="dialog-body">
    <div *ngIf="loading" class="loading">
        <div class="preloader preloader-image-l-size"></div>
    </div>

    <form [formGroup]="changeForm">
        <div class="form-input-container" *ngIf="message">
            <div class="message">{{message}}</div>
        </div>

        <div class="form-input-container">
            <label class="p-field-label" for="login">Username</label>
            <input class="p-field-input" formControlName="login" id="login" pInputText placeholder="Enter a Username" type="text"/>
        </div>
        <div class="form-input-container">
            <label class="p-field-label" for="password">Old Password</label>
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <input #oldPassword [feedback]="false" [showPassword]="false" class="p-field-input" formControlName="oldPassword"
                       id="oldPassword"
                       pPassword placeholder="Password"/>
                <button (click)="oldPassword.type === 'password' ? oldPassword.type = 'text' : oldPassword.type = 'password'"
                        [icon]="'pi pi-eye'" 
                        class="p-button-rounded p-button-secondary p-button-text" pButton
                        type="button"
                        style="position: absolute; right: 2px;"></button>
            </div>
        </div>
        <div class="form-input-container">
            <label class="p-field-label" for="password">New Password</label>
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <input #newPassword [feedback]="false" [showPassword]="false" class="p-field-input" formControlName="newPassword"
                       id="password"
                       pPassword placeholder="Password"/>
                <button (click)="newPassword.type === 'password' ? newPassword.type = 'text' : newPassword.type = 'password'"
                        [icon]="'pi pi-eye'" 
                        class="p-button-rounded p-button-secondary p-button-text" pButton
                        type="button"
                        style="position: absolute; right: 2px;"></button>
            </div>
        </div>
        <div class="form-input-container">
            <label class="p-field-label" for="password">Confirm Password</label>
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <input #confirmPassword [feedback]="false" [showPassword]="false" class="p-field-input" formControlName="confirmPassword"
                       id="password"
                       pPassword placeholder="Password"/>
                <button (click)="confirmPassword.type === 'password' ? confirmPassword.type = 'text' : confirmPassword.type = 'password'"
                        [icon]="'pi pi-eye'" 
                        class="p-button-rounded p-button-secondary p-button-text" pButton
                        type="button"
                        style="position: absolute; right: 2px;"></button>
            </div>
        </div>

        <div *ngIf="wrongNameOrPassword">
            <div class="error-message">Invalid username or password.</div>
        </div>

        <div *ngIf="wrongMatchPassword">
            <div class="error-message">Passwords don’t match.</div>
        </div>
    </form>
</div>
<div class="dialog-footer">
    <div class="action-buttons">
        <div class="cancel-button">
            <button (click)="onNoClick()"
                    class="button secondary"
                    label="Cancel"
                    pButton
            ></button>
        </div>
        <div>
            <button
                    (click)="onChange()"
                    [disabled]="changeForm.invalid" class="button" label="Change Password" pButton></button>
        </div>
    </div>
</div>