form {
    width: 100%;
    position: relative;
}

.loading {
    background: #fff;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.dialog-body {
    position: relative;

    .form-input-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 24px;
    }

    .p-field-label {
        color: var(--color-grey-black-1, #181818);
        font-family: Inter, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        margin-bottom: 6px;
    }

    .p-field-input {
        width: 100%;
        border-radius: 8px;
        border: 1px solid var(--color-grey-3, #E1E7EF);
        background: var(--color-grey-white, #FFF);
        outline: none !important;
        box-shadow: unset !important;
        padding: 12px 0 12px 16px;
        align-items: center;
        align-self: stretch;
        transition: border 0.25s ease-in-out;
        box-sizing: border-box;
        resize: vertical;

        color: var(--color-grey-black-1, #181818);
        font-family: Inter, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
    }

    .primary-text-button {
        color: var(--color-primary, #4169E2);
        font-family: Inter, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        /* 214.286% */
        cursor: pointer;
    }
}

.primary-text-button {
    color: var(--color-primary, #4169E2);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    /* 214.286% */
    cursor: pointer;
}

.error-message {
    border: 1px solid #f44336;
    border-radius: 6px;
    color: #f44336;
    padding: 6px 16px;
    background: #fff8f7;
}

.preloader {
    width: 16px;
    height: 16px;
    border-top: 3px solid var(--color-primary);
    border-left: 3px solid rgba(0, 0, 0, 0);
    border-right: 3px solid rgba(0, 0, 0, 0);
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    border-radius: 100%;
    filter: brightness(100%);
    animation-name: preloaderRotationColored;
    animation-duration: 7.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.preloader-image-l-size {
    width: 56px;
    height: 56px;
}

@keyframes preloaderRotationColored {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    25% {
        transform: rotate(360deg);
        border-top: 3px solid rgba(0, 0, 0, 0);
        border-right: 3px solid var(--color-primary);
        border-left: 3px solid rgba(0, 0, 0, 0);
        border-bottom: 3px solid rgba(0, 0, 0, 0);
    }

    50% {
        transform: rotate(720deg);
        border-top: 3px solid rgba(0, 0, 0, 0);
        border-left: 3px solid rgba(0, 0, 0, 0);
        border-bottom: 3px solid var(--color-primary);
        border-right: 3px solid rgba(0, 0, 0, 0);
    }

    75% {
        transform: rotate(1080deg);
        border-top: 3px solid rgba(0, 0, 0, 0);
        border-bottom: 3px solid rgba(0, 0, 0, 0);
        border-right: 3px solid rgba(0, 0, 0, 0);
        border-left: 3px solid var(--color-primary);
    }

    100% {
        transform: rotate(1440deg);
        border-top: 3px solid var(--color-primary);
        border-left: 3px solid rgba(0, 0, 0, 0);
        border-right: 3px solid rgba(0, 0, 0, 0);
        border-bottom: 3px solid rgba(0, 0, 0, 0);
    }
}

:host ::ng-deep .p-button:focus {
    box-shadow: unset !important;
}

.dialog-body {
    height: auto;
    overflow-y: auto;
}

.action-buttons {
    display: flex;
    align-items: center;
}

.cancel-button {
    margin-left: auto;
    margin-right: 15px;
}

::ng-deep {
    .p-dialog-title {
        font-family: Poppins, sans-serif;
        font-size: 24px !important;
        font-style: normal;
        font-weight: 600 !important;
    }

    .p-dialog {
        box-shadow: none;
    }

    .p-dialog-header {
        border-top-left-radius: 16px !important;
        border-top-right-radius: 16px !important;
    }

    .p-dialog-content {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}