.loading {
    background: #fff;
    position: fixed;
    z-index: 999;
    top: var(--header-height-policy);
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.btn-approve {
    background: #4caf50;
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    padding: 2px 8px;
    margin: 0px 5px;
    cursor: pointer;
    font-weight: 500;
}

.btn-reject {
    background: #f44336;
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    padding: 2px 8px;
    margin: 0px 5px;
    cursor: pointer;
    font-weight: 500;
}

.status-NEW {
    color: #0000ee;
}
.status-APPROVED {
    color: #4caf50;
}
.status-REJECTED {
    color: #f44336;
}
.btn-link {
    cursor: pointer;
}
.btn-link:hover {
    text-decoration: underline;
}
/* .btn-link {
    height: 20px;
    width: 250px;
    overflow: hidden;
    cursor: pointer;
    font-size: 12px;
    color: #6166ff;
    position: relative;
    font-weight: 500;
} */

/*
.content {
    white-space: nowrap;
}
*/

.content .btn-option {
    height: 26px;
    text-align: center;
    border-radius: 60px !important;
    position: relative;
    margin-right: 10px;
    height: 38px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 24px !important;
    padding: 8px 20px !important;
    box-sizing: border-box;
}

.content {
    flex-wrap: nowrap;
    display: flex;
}