.mat-button-base:not([started]) {
    background-color: rgba(0,0,0,.12);
}
form {
    display: flex;
    flex-direction: column;
    width: 452px;
    height: 540px;
    overflow: visible;
}

textarea {
    min-height: 100px;
}