.mat-button-base:not([started]) {
    background-color: rgba(0,0,0,.12);
}
form {
    display: flex;
    flex-direction: column;
    width: 452px;
    height: 540px;
    overflow: visible;
}

textarea {
    min-height: 100px;
}

.switch-btn {
    height: 46px;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    box-sizing: border-box;
    min-width: 250px;
    text-align: center;
    cursor: pointer;
}