<form *ngIf="options" [formGroup]="options">
    <ng-container *ngFor="let item of fields">

        <div *ngIf="!item.hide" class="form-field-container">

            <div *ngIf="!item.isArray && !item.isRef" class="form-field">
                <div *ngIf="item.required" class="required-field">* Required</div>
                <div class="label-field">{{item.description}}</div>
                <mat-form-field class="example-full-width required-form-field" appearance="outline">
                    <input matInput [formControlName]="item.name">
                </mat-form-field>
            </div>
            

            <div *ngIf="!item.isArray && item.isRef" class="form-field-group">
                <div *ngIf="item.required" class="required-field">* Required</div>
                <div class="label-field">{{item.description}}</div>
                <div *ngIf="item.control" class="form-field-array-item" >
                    <div class="form-field-group">
                        <app-schema-form    
                            [formGroup]="item.control" 
                            [fields]="item.fields" 
                            [context]="item.context"
                            [private-fields]="hide"
                            [delimiter-hide]="true">
                        </app-schema-form>
                    </div>
                </div>
                <div *ngIf="!item.control" class="add-btn" (click)="addGroup(item)">
                    <span>
                        <mat-icon>add</mat-icon> Add Entity
                    </span>
                </div>
                <div *ngIf="item.control && !item.required" class="remove-btn" (click)="removeGroup(item)">
                    <span>
                        <mat-icon>remove</mat-icon> Remove Entity
                    </span>
                </div>
            </div>


            <div *ngIf="item.isArray && !item.isRef" class="form-field-array">
                <div *ngIf="item.required" class="required-field">* Required</div>
                <div class="label-field">{{item.description}}</div>
                <div *ngFor="let listItem of item.list" class="form-field-array-item" 
                    [attr.index]="listItem.index"
                    [attr.required]="item.required"  
                    [formGroup]="item.control">
                    <div class="form-field">
                        <mat-form-field class="example-full-width required-from-field" appearance="outline">
                            <input matInput [formControl]="listItem.control">
                        </mat-form-field>
                    </div>
                    <div class="fields-remove" (click)="onRemove(item, listItem)">
                        <mat-icon>delete</mat-icon>
                    </div>
                </div>
                <div class="add-btn" (click)="addItem(item)">
                    <span>
                        <mat-icon>add</mat-icon> Add Field
                    </span>
                </div>
            </div>


            <div *ngIf="item.isArray && item.isRef" class="form-field-group">
                <div *ngIf="item.required" class="required-field">* Required</div>
                <div class="label-field">{{item.description}}</div>
                <div *ngFor="let listItem of item.list" class="form-field-array-item" 
                    [attr.index]="listItem.index"
                    [attr.required]="item.required">
                    <div class="form-field-group">
                        <app-schema-form 
                            [formGroup]="listItem.control" 
                            [fields]="item.fields" 
                            [context]="item.context" 
                            [private-fields]="hide"
                            [delimiter-hide]="true">
                        </app-schema-form>
                        <div class="remove-btn" (click)="onRemove(item, listItem)">
                            <span>
                                <mat-icon>remove</mat-icon> Remove Entity
                            </span>
                        </div>
                    </div>
                    <div class="short-delimiter-container">
                        <div class="delimiter"></div>
                    </div>
                </div>
                <div class="add-btn" (click)="addItem(item)">
                    <span>
                        <mat-icon>add</mat-icon> Add Entity
                    </span>
                </div>
            </div>

        </div>

        <div *ngIf="!delimiterHide" class="delimiter"></div>

    </ng-container>
</form>