form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.group-label {
    color: rgba(0,0,0,.6);
}

.group-form {
    margin-left: 16px;
    margin-top: 10px;
}

.form-field {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

.form-field mat-form-field {
    width: 100%;
}

.form-field-group,
.form-field-array {
    display: block;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.group-label,
.array-label {
    color: rgba(0,0,0,.6);
    background: #fff;
    top: -10px;
    left: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.add-btn {
    color: var(--button-primary-color);
}

.remove-btn {
    color:red;
}

.add-btn,
.remove-btn {
    margin-bottom: 16px;
    height: 56px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    position: relative;
    padding: 15px;
    text-align: center;
    margin-top: 12px;
}

.add-btn:hover,
.remove-btn:hover {
    background: #fbfbfb;
}

.add-btn span,
.remove-btn span {
    display: inline-block;
    position: relative;
    padding: 3px 30px;
    height: 24px;
    box-sizing: border-box;
    font-size: 16px;
}

.add-btn span *,
.remove-btn span * {
    position: absolute;
    left: 0;
    top: 0;
}

.form-field-array-item {
    padding-right: 50px;
    position: relative;
    display: table;
    width: 100%;
    box-sizing: border-box;
    min-height: 50px;
}

.fields-remove {
    width: 24px;
    height: 40px;
    margin: 10px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    display: flex;
    color: #f00;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.form-field-array-item[index='0'][required='true'] {
    padding-right: 0;
}

.form-field-array-item[index='0'][required='true'] > .fields-remove {
    display: none;
}

.form-field-array-item[index='0'][required='true'] > .form-field-group > .remove-btn {
    display: none;
}

.required-field,
.group-label {
    color: gray;
    font-size: 14px;
}

.label-field {
    font-size: 18px;
    margin-bottom: 10px;
}

.delimiter {
    padding: 30px 50px 50px 50px;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    position: relative;
}

.delimiter::after {
    content: '';
    position: absolute;
    height: 2px;
    top: 30px;
    left: 0px;
    right: 0px;
    border-top: 1px solid #c8c8c8;
}

.short-delimiter-container {
    width: 50%;
    margin: 0 auto;
}

.required-form-field .mat-input-element {
    font-size: 18px;
}

:host ::ng-deep mat-form-field.required-form-field.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: #f8c3c3af;
    background-color: #ffefef;
    border-radius: 7px;
}

:host ::ng-deep mat-form-field input[aria-invalid='true'] {
    color: red;
}

:host ::ng-deep mat-radio-button {
    margin-right: 20px;
}

.form-field-array-item > .form-field-group {
    padding-left: 40px;
}

.schema-form-field-array-group > .form-field-array-item ,
.form-field-array-item > .schema-form-field-group {
    border-left: 2px dashed #c8c8c8;
}

.form-field-group > .form-field-array-item {
    padding-right: 0;
}

.boolean-form-field {
    margin-top: 20px;
    padding-bottom: 10px;
}

.boolean-form-field.required-boolean-field ::ng-deep .mat-radio-outer-circle {
    background-color: #ffefef;
    border-color: #f8c3c3af;
}

.invalid-field-label {
    color: red;
}

.invalid-arrow-circle {
    position: absolute;
    left: -35px;
    font-size: 30px;
}

.ipfs-url ::ng-deep .mat-form-field-infix {
    padding-right: 35px;
}
