<form *ngIf="options" [formGroup]="options">

    <ng-container *ngFor="let item of fields">
        <mat-form-field *ngIf="!item.group && !item.hide" class="example-full-width" appearance="outline" required>
            <mat-label>{{item.title}}:</mat-label>
            <input matInput [formControlName]="item.name" [readonly]="item.readonly">
        </mat-form-field>

        <div *ngIf="item.group" class="group">
            <mat-label class="group-label">{{item.title}}:</mat-label>
            <div class="group-form">
                <app-schema-form [formGroup]="item.group" [fields]="item.fields" [readonly]="readonly"
                    [hide]="hide" [schemaName]="item.schemaName">
                </app-schema-form>
            </div>
        </div>
    </ng-container>

</form>