<div class="custom-dialog">
    <div class="mat-dialog-title">
        {{ title }}
    </div>
    <div class="mat-dialog-content content">
        <div *ngIf="description" class="description">
            {{ description }}
        </div>
        <div *ngIf="descriptions" class="description">
            <div *ngFor="let item of descriptions">
                {{ item }}
            </div>
        </div>
    </div>
    <div class="mat-dialog-actions buttons">
        <button class="mat-raised-button mat-primary" (click)="onSubmit()">
            {{ submitButton }}
        </button>
        <button class="mat-button" type="button" (click)="onNoClick()">
            {{ cancelButton }}
        </button>
    </div>
</div>
