<div class="dialog-header">
    <div class="header-container">
        <div class="header-text">{{title}}</div>
    </div>
    <div class="header-icon" (click)="onClose()">
        <svg-icon src="/assets/images/icons/close.svg" svgClass="icon-color-close"></svg-icon>
    </div>
</div>

<div class="dialog-body">
    <div *ngIf="loading" class="loading">
        <div class="preloader-image preloader-image-l-size"></div>
    </div>

    <div *ngIf="!loading && entries.length === 0" class="empty-state">
        No documented endpoints for this policy.
    </div>

    <p-table *ngIf="!loading && entries.length > 0" [value]="entries" [scrollable]="true" scrollHeight="400px" styleClass="p-datatable-sm">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Method</th>
                <th>URL</th>
                <th style="width: 60px"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-entry>
            <tr>
                <td>{{entry.name}}</td>
                <td>{{entry.description}}</td>
                <td>
                    <span class="method-badge" [ngClass]="{'method-get': entry.method === 'GET', 'method-post': entry.method === 'POST'}">
                        {{entry.method}}
                    </span>
                </td>
                <td class="url-cell">{{entry.url}}</td>
                <td>
                    <button class="guardian-button guardian-button-secondary copy-btn" (click)="copyUrl(entry.url)" title="Copy URL">
                        Copy
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div class="dialog-footer">
    <div class="action-buttons">
        <div class="cancel-button dialog-button">
            <button (click)="onClose()" class="guardian-button guardian-button-secondary">Close</button>
        </div>
    </div>
</div>
