.content-page {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: block;
    background: #fff;
    margin: 10px 5px 5px 5px;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.content-dialog {
    display: block;
    background: transparent;
    margin: 10px 5px 5px 5px;
}

.loading {
    position: fixed;
    /* background: #ffffff32; */
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.loading-progress {
    width: 80%;
    height: 80%;
}



.loading-dialog {
    background: #fff;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 62px;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.form-page {
    width: 650px;
    margin: 40px auto;
    padding: 10px;
    border: 1px solid #c3c3c3;
    border-radius: 4px;
}

.form-dialog {
    padding: 10px 40px 20px 40px;
    max-height: 65vh;
    overflow: auto;
    box-sizing: border-box;
}

.body-dialog-template {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    max-height: calc(65vh + 40px) !important;
    position: relative;
    overflow: visible;
}

.description {
    margin-bottom: 10px;
}

.schema-form {
    max-height: calc(100vh - 580px);
    overflow: auto;
    margin-bottom: 24px;
    padding: 40px 40px 0px 40px;
}

.form-page h1 {
    padding: 40px 40px 0px 40px;
}

.form-page .description {
    padding: 0 40px;
}

.form-page  .page-btns {
    padding: 0px 40px 40px 40px;
}

.content-dialog button {
    height: 40px;
    margin-bottom: 6px;
}

.btn-block-link {
    width: auto !important;
    font-size: 20px !important;
    color: #0B73F8 !important;
    text-decoration: none !important;
    border-bottom: 3px solid #0C77FF;
    padding: 0 0 3px 0 !important;
    margin: 0 !important;
    font-weight: normal !important;
    background-color: transparent !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    height: 33px !important;
    box-sizing: border-box !important;
    position: relative !important;
    top: -9px !important;
}

.restore-data {
    margin-top: 10px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-color);
}

.restore-data button.mat-raised-button {
    padding: 0 12px;
    height: 36px;
}

.restore-data button mat-icon {
    margin-left: 3px;
}

@media (max-width: 810px) {

    h1 {
        height: 40px;
        padding: 0 !important;
        margin: 0 auto;
        margin-top: 16px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;

        color: #222222;
    }

    .form-page {
        width: 90%;
        margin: 0 auto;
        padding: 0;
        border: none;
    }

    .form-dialog {
        width: 90%;
        margin: 0 auto;
        padding: 0;
        border: none;
        max-height: 55vh;
        max-width: 90vh;
    }

    .schema-form {
        max-height: none;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        overflow: auto;
        margin-bottom: 24px;
    }

    .mobile-button-div {
        background-color: #333;
        color: #fff;
        padding: 30px 0;
        position: fixed;
        width: 100%;
        bottom: 0;
    }

    .registrant-application-create-btn {
        position: fixed;
        width: calc(45% - 5px);
        right: 5%;
        left: auto;
        bottom: 20px;
        z-index: 305;
    }

    /* Create New Device */

    .title {
        width: 90%;
    }

    :host ::ng-deep .form-dialog .form-field-group {
        margin-bottom: 0;
    }

    .mat-dialog-actions {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;

        background-color: white;
        margin-bottom: 0;
        padding: 20px 0;
        position: fixed;
        bottom: 0;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
        z-index: 305;
    }

    #cancel-btn {
        border: 1px solid #2C78F6;
        background: none !important;
        color: #2C78F6;
        grid-column: 1;
        grid-row: 1;
        z-index: 305;
    }

    #ok-btn {
        grid-column: 2;
        grid-row: 1;
        z-index: 305;
    }
}

.upload-area {
    margin: auto;
    width: 600px;
}

.page-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
