@if (properties) {
  <table class="properties module-properties" [attr.readonly]="readonly">
  <colgroup><col class="col-toggle"><col class="col-name"><col class="col-value"></colgroup>
    <tr class="propHeader" (click)="onHide(propHidden, 'main')">
      <td class="propRowCol"></td>
      <td class="propHeaderCell cellName module-variables-header" [attr.collapse]="propHidden.main">
        <i class="pi pi-chevron-down chevron-icon"></i>
        <span>Variables</span>
      </td>
      <td class="propHeaderCell"></td>
    </tr>
    @for (item of variables; track item; let i = $index) {
      <tr class="propRow" [attr.collapse]="propHidden.main">
        <td class="propRowCol cellCollapse" (click)="onHide(variablesHidden, i)"
          [attr.collapse]="variablesHidden[i]">
          <i class="pi pi-chevron-down"></i>
        </td>
        <td class="propRowCell cellName">
          {{ item.name }}
        </td>
        @if (item.type ==='Schema') {
          <td class="propRowCell">
            <select-schema
              [schemas]="schemas"
              [(value)]="properties[item.key]"
              [disabled]="readonly"
              (change)="onSave()"
            ></select-schema>
          </td>
        }
        @if (item.type ==='Token') {
          <td class="propRowCell">
            <p-select [(ngModel)]="properties[item.key]"
              panelStyleClass="pc-select-panel"
              [options]="tokens"
              [disabled]="readonly"
              [appendTo]="'body'"
              (onChange)="onSave()"
              placeholder="Select Token"
              optionLabel="name"
              optionValue="value">
            </p-select>
          </td>
        }
        @if (item.type ==='Role') {
          <td class="propRowCell">
            <p-select [(ngModel)]="properties[item.key]"
              panelStyleClass="pc-select-panel"
              [options]="roles"
              [disabled]="readonly"
              (onChange)="onSave()"
              placeholder="Select Role"
              optionLabel="name"
              optionValue="value"
              [appendTo]="'body'"
              >
            </p-select>
          </td>
        }
        @if (item.type ==='Group') {
          <td class="propRowCell">
            <p-select [(ngModel)]="properties[item.key]"
              panelStyleClass="pc-select-panel"
              [options]="groups"
              [disabled]="readonly"
              (onChange)="onSave()"
              [appendTo]="'body'"
              placeholder="Select Group"
              optionLabel="name"
              optionValue="value">
            </p-select>
          </td>
        }
        @if (item.type ==='TokenTemplate') {
          <td class="propRowCell">
            <p-select [(ngModel)]="properties[item.key]"
              panelStyleClass="pc-select-panel"
              [options]="tokenTemplate"
              [disabled]="readonly"
              (onChange)="onSave()"
              [appendTo]="'body'"
              placeholder="Select Template"
              optionLabel="name"
              optionValue="value">
            </p-select>
          </td>
        }
        @if (item.type ==='Topic') {
          <td class="propRowCell">
            <p-select [(ngModel)]="properties[item.key]"
              panelStyleClass="pc-select-panel"
              [options]="topics"
              [disabled]="readonly"
              [appendTo]="'body'"
              (onChange)="selectTopic($event.value, item)"
              placeholder="Select Topic"
              optionLabel="name"
              optionValue="name">
              <ng-template pTemplate="item" let-topic>
                @if (topic.name !== 'root' && topic.name !== 'new') {
                  <span
                    pTooltip="{{ topic.description }}"
                    tooltipPosition="top"
                    tooltipStyleClass="guardian-tooltip small-guardian-tooltip">
                    {{ topic.name }}
                  </span>
                }
                @if (topic.name === 'root') {
                  <span>Policy Instance</span>
                }
                @if (topic.name === 'new') {
                  <span class="mat-option-link">
                    <i class="pi pi-plus"></i>
                    <span>Create new topic</span>
                  </span>
                }
              </ng-template>
              <ng-template pTemplate="selectedItem" let-topic>
                @if (topic.name !== 'new' && topic.name !== 'root') {
                  <span>{{ topic.name }}</span>
                }
                @if (topic.name === 'root') {
                  <span>Policy Instance</span>
                }
                @if (topic.name === 'new') {
                  <span>
                    <i class="pi pi-plus"></i>
                    Create new topic
                  </span>
                }
              </ng-template>
            </p-select>
          </td>
        }
        @if (item.type ==='String') {
          <td class="propRowCell">
            <input class="prop-input" [(ngModel)]="properties[item.key]" [readonly]="readonly" (blur)="onSave()">
          </td>
        }
      </tr>
      <tr class="propRow subRow" [attr.collapse]="propHidden.main || variablesHidden[i]">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Description</td>
        <td class="propRowCell">
          <span class="readonly-prop">{{ item.description }}</span>
        </td>
      </tr>
      <tr class="propRow subRow" [attr.collapse]="propHidden.main || variablesHidden[i]">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Type</td>
        <td class="propRowCell">
          <span class="readonly-prop">{{ item.type }}</span>
        </td>
      </tr>
    }
  </table>
}
