@if (properties) {
  <table class="properties calculate-math-properties" [attr.readonly]="readonly">
  <colgroup><col class="col-toggle"><col class="col-name"><col class="col-value"></colgroup>
    <tr class="propHeader" (click)="onHide(propHidden, 'equationsGroup')">
      <td class="propRowCol"></td>
      <td class="propHeaderCell cellName calculate-math-section-header" [attr.collapse]="propHidden.equationsGroup">
        <i class="pi pi-chevron-down chevron-icon"></i>
        <span>Equations</span>
      </td>
      <td class="propHeaderCell">
        <div class="propAdd" (click)="addEquation(); $event.stopPropagation()">
          <i class="pi pi-plus"></i>
          <span>Add Equation</span>
        </div>
      </td>
    </tr>
    @for (equation of properties.equations; track equation; let i = $index) {
      <tr class="propRow" [attr.collapse]="propHidden.equationsGroup">
        <td class="propRowCol cellCollapse" (click)="onHide(propHidden.equations, i)"
          [attr.collapse]="propHidden.equations[i]">
          <i class="pi pi-chevron-down"></i>
        </td>
        <td class="propRowCell cellName">Equation {{ i }}</td>
        <td class="propRowCell">
          {{ equation.variable }}
          @if (equation.formula) {
            <span> = {{ equation.formula }}</span>
          }
          <span class="remove-prop" [attr.readonly]="readonly" (click)="onRemoveEquation(i)">
            <i class="pi pi-trash"></i>
          </span>
        </td>
      </tr>
      <tr class="propRow subRow" [attr.collapse]="propHidden.equationsGroup || propHidden.equations[i]">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Variable</td>
        <td class="propRowCell">
          <input class="prop-input" [(ngModel)]="equation.variable" [readonly]="readonly" (blur)="onSave()">
        </td>
      </tr>
      <tr class="propRow subRow" [attr.collapse]="propHidden.equationsGroup || propHidden.equations[i]">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Formula</td>
        <td class="propRowCell">
          <input class="prop-input" [(ngModel)]="equation.formula" [readonly]="readonly" (blur)="onSave()">
        </td>
      </tr>
    }
  </table>
}
