.block-name {
    padding-left: 32px;
    position: relative;
}

.block-icon {
    position: absolute;
    left: 0px;
    top: 0px;
}

.custom {
    height: 14px;
    line-height: 14px;
    display: inline-block;
    min-width: 1px;
}