.guardian-page {
    position: relative;
    padding: 0px;
    user-select: none;

    .header-container {
        padding: 56px 48px 10px 48px;
        background: var(--guardian-primary-color, #4169E2);
        min-height: 178px;
        height: 178px;

        .guardian-user-back-button {
            button {
                border-color: var(--guardian-background, #FFFFFF);
            }
        }

        .guardian-user-page-header {
            color: var(--guardian-background, #FFFFFF);
        }


        .policy-name {
            color: var(--guardian-background, #FFFFFF);
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            position: absolute;
            top: 34px;
            right: 0;

            .policy-version {
                padding-left: 16px;
            }
        }
    }

    .body-container {
        width: 100%;
        height: 100%;
        user-select: none;
        position: relative;
    }
}