<div class="guardian-page" [attr.readonly]="readonly">
    <div *ngIf="loading" class="guardian-loading">
        <div class="guardian-loading-image"></div>
    </div>

    <div *ngIf="!isConfirmed" class="guardian-user-not-registered">
        Before starting work you need to get DID
        <a [routerLink]="['/profile']">here</a>
    </div>

    <div class="header-container">
        <div class="guardian-user-back-button">
            <button 
                (click)="onBack()" 
                class="guardian-button guardian-button-primary">
                <div class="guardian-button-icon">
                    <svg-icon class="icon-btn svg-icon"
                        src="/assets/images/icons/left-arrow.svg"
                        svgClass="icon-color-secondary">
                    </svg-icon>
                </div>
                <div class="guardian-button-label">Back to Policies</div>
            </button>
        </div>
    
        <div class="guardian-user-page-header">
            <span>{{item?.name}}</span>
            <div *ngIf="policy" class="policy-name">
                <span>Policy Name: {{policy.name}}</span>
                <span class="policy-version">Version: {{policy.version}}</span>
            </div>
        </div>
    </div>
</div>