form {
    display: flex;
    flex-direction: column;
    width: 100%;

    .form-field-container {
        margin-bottom: 24px;

        ::ng-deep .p-inputtext.ng-dirty.ng-invalid {
            border-color: #f44336;
        }

        &:last-child {
            margin-bottom: 0px;
        }

        .label-field {
            font-family: Poppins;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            text-align: left;
            margin-bottom: 24px;
            padding-left: 2px;
            position: relative;
            width: 100%;

            &.help-text {
                margin-bottom: 0px;
            }
        }

        .group-label-field {
            font-family: Poppins;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            text-align: left;
            margin-bottom: 0px;
            padding-left: 2px;
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            padding-right: 90px;

            .guardian-icon-button {
                position: absolute;
                right: 40px;
            }
        }

        .form-field {
            display: block;
            width: 100%;
            position: relative;
            background: #F9FAFC;
            border: 1px solid #E1E7EF;
            padding: 16px;
            border-radius: 8px;
        }

        .form-field-array {
            display: block;
            width: 100%;
            position: relative;
            background: #F9FAFC;
            border: 1px solid #E1E7EF;
            padding: 16px;
            border-radius: 8px;
        }

        .form-field-group {
            display: block;
            width: 100%;
            position: relative;
        }

        .accordion-container {
            background: #f9fafc;
        }

        .sub-schema-geo,
        .sub-schema-sentinel {
            display: block;
            width: 100%;
            position: relative;
            background: #F9FAFC;
            border: 1px solid #E1E7EF;
            padding: 16px;
            border-radius: 8px;
        }

        .form-field-sub-group {
            display: block;
            width: 100%;
            position: relative;
            margin-bottom: 24px;

            &:last-child {
                margin-bottom: 0px;
            }
        }

        .schema-form-field-array-group {
            display: block;
            width: 100%;
            position: relative;
            box-sizing: border-box;
        }


        .form-field-value {
            display: flex;
            flex-direction: row;
            width: 100%;

            .form-field-prefix {
                padding: 0px 14px 0px 2px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 20px;
            }

            .form-field-input {
                height: 40px;
                position: relative;
            }

            .form-field-boolean {
                position: relative;
                height: auto;
            }

            .form-field-postfix {
                padding: 0px 2px 0px 14px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 20px;
            }

            .form-field-rule {
                padding: 0px 2px 0px 4px;
                margin-left: 10px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 20px;
            }

            .file-upload {
                position: absolute;
                right: 0;
                top: 0;
            }

            .boolean-field {
                height: 32px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                min-height: 32px;

                label {
                    font-size: 14px;
                    margin: 0;
                    padding-left: 6px;
                    height: 32px;
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    cursor: pointer;
                }
            }

            &[rules-status="Error"],
            &[rules-status="Failure"] {
                input {
                    border-color: var(--guardian-warning-color, #DA9B22);
                }

                p-calendar::ng-deep {

                    button,
                    input {
                        border-color: var(--guardian-warning-color, #DA9B22);
                    }
                }

                p-dropdown::ng-deep {
                    .p-dropdown {
                        border-color: var(--guardian-warning-color, #DA9B22);
                    }
                }
            }

            &[rules-status="Success"] {
                input {
                    border-color: var(--guardian-success-color, #19BE47);
                }

                p-calendar::ng-deep {

                    button,
                    input {
                        border-color: var(--guardian-success-color, #19BE47);
                    }
                }

                p-dropdown::ng-deep {
                    .p-dropdown {
                        border-color: var(--guardian-warning-color, #19BE47);
                    }
                }
            }
        }

        .form-field-array-item-container {
            width: 100%;
            margin-bottom: 24px;
        }

        .form-field-array-item {
            display: flex;
            flex-direction: row;
            width: 100%;
        }

        .fields-remove {
            height: 40px;
            width: 56px;
            min-width: 56px;
            max-width: 56px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .invalid-field-label {
            font-family: Inter;
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            text-align: left;
            color: #848FA9;
            margin-top: 8px;
            padding-left: 2px;

            &.invalid-sub-schema {
                margin-top: 0px;
                margin-bottom: 16px;
            }
        }

        .suggestion {
            display: flex;
            flex-direction: row;
            height: 28px;
            margin-bottom: 30px;
            align-items: center;

            .suggestion-name {
                .suggestion-header {
                    font-weight: 700;
                }

                font-family: Inter;
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                text-align: left;
                color: #848FA9;
                padding-right: 16px;
            }

            .guardian-button {
                height: 28px;
            }
        }
    }
}

.form-field-value[invalid-required-field="true"] {
    .form-field-boolean ::ng-deep .guardian-radio-button .p-radiobutton .p-radiobutton-box {
        border-color: #f44336;
    }

    .form-field-input input {
        border-color: #f44336;
    }

    .form-field-input ::ng-deep .guardian-datepicker input {
        border-color: #f44336;
    }
}



*[default=true] {
    color: rgb(173, 173, 0);
}

.required-field {
    color: #f44336;
}

.add-btn {
    height: 40px;
    width: 100%;
}

.remove-btn {
    height: 40px;
    width: 100%;
}

.page-btns {
    .guardian-button {
        height: 40px;
    }
}

.label-field,
.group-label-field {
    .page-number {
        font-family: Poppins;
        font-size: 16px;
        padding: 4px 10px;
        margin-right: 8px;
        display: inline-block;
        background: #2C78F6;
        color: white;
        border-radius: 100px;
        display: none;
    }

    .delimiter-to-next-page {
        height: 0px;
        border: 1px solid #BABABA;
        flex-grow: 1;
        display: inline-block;
        margin: 0 8px;
        display: none;
    }

    .next-page-number {
        font-family: Poppins;
        font-size: 16px;
        padding: 4px 10px;
        display: inline-block;
        background: #2C78F6;
        opacity: 0.3;
        color: white;
        border-radius: 100px;
        display: none;
    }
}

*[paginationHidden="false"] {
    .label-field#detail-section {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .group-label-field#detail-section {
        display: flex;
        align-items: center;
        width: 100%;
        padding-right: 90px;
    }

    .label-field,
    .group-label-field {
        .page-number {
            display: block;
        }
    }
}

@media (max-width: 810px) {
    .label-field#detail-section {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .group-label-field#detail-section {
        display: flex;
        align-items: center;
        width: 100%;
        padding-right: 90px;
    }

    .label-field,
    .group-label-field {
        .page-number {
            display: block;
        }
    }
}

.upload-btn {
    background: var(--guardian-background);
    border: none;
    margin: 4px;
    height: 34px;
    cursor: pointer;
}

.save-icon-color {
    fill: var(--color-primary);
    color: var(--color-primary);
}

form::ng-deep {
    .guardian-accordion-error>.p-accordion>p-accordiontab>.p-accordion-tab {
        &>.p-accordion-header {
            &>.p-accordion-header-link {
                border-color: #f44336;
            }
        }

        &>.p-toggleable-content {
            &>.p-accordion-content {
                border-color: #f44336;
            }
        }
    }
}

.last-autosave {
    position: absolute;
    right: 250px;
    bottom: 25px;
    font-size: 14px;
    color: #8E8E8E;
}

.table-field-container {
    width: 100%;
}
