# Logger Service Specialized Variables
SERVICE_CHANNEL="logger-service"
DB_DATABASE="logger_db"

# Ecosystem Defined Variables
HEDERA_NET=""
PREUSED_HEDERA_NET=""
ACCESS_TOKEN_SECRET="youraccesstokensecret"
MQ_ADDRESS=""
DB_HOST=""
MQ_MAX_PAYLOAD=""
#MQ_MESSAGE_CHUNK=5000000

# Mongo init
MIN_POOL_SIZE="1"
MAX_POOL_SIZE="5"
MAX_IDLE_TIME_MS="30000"