.loading {
    background: #fff;
    position: absolute;
    z-index: 99;
    border-radius: 16px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.context {
    position: relative;
    overflow-y: auto;
    padding: 14px 0 20px 0;
    display: flex;
    flex-direction: row;
    height: 100%;
    font-family: Inter, serif;
    font-style: normal;
}


.dialog-body {
    min-height: 100px;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;

    &>div {
        margin-left: 15px;
        margin-right: 0px;
        min-width: 100px;
        height: 40px;

        button {
            width: 100%;
            height: 100%;
        }
    }
}

.close-icon-color {
    fill: #848FA9;
    color: #848FA9;
}

.save-icon-color {
    fill: var(--color-primary);
    color: var(--color-primary);
}

.confirmation-text {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    margin-top: 25px;
    white-space: pre-line;
}

.confirmation-texts {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    margin-top: 25px;
    white-space: pre-line;

    div {
        margin-bottom: 8px;
    }
}

.options {
    display: flex;
    flex-direction: column;
    width: fit-content;
    width: 100%;
    margin-top: 32px;
    margin-bottom: 24px;

    .option-value {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        cursor: pointer;
        margin-right: 24px;
        margin-bottom: 6px;

        .option-value-select {
            width: 24px;
            height: 24px;
        }

        .option-value-name {
            padding: 8px 0 8px 12px;
            text-align: left;
            color: var(--guardian-font-color, #23252E);
            cursor: pointer;
            font-family: Inter, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 18px;
            white-space: pre-line;
        }

        .option-value-name-sub {
            font-family: Inter;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0%;
            color: #848FA9;
            padding-top: 4px;
        }
    }
}