.loading {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    z-index: 1;
}