.header {
    width: 90%;
    margin: 40px auto;

    display: grid;
    grid-template-columns: 1fr 150px;
    align-items: center;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 40px;
    margin: 0;
}

.preview-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;

    background: none !important;
    box-shadow: none;
    color: var(--primary-color);
    margin: 0 auto;
    padding: 0;
  }

.aligned-with-icon {
    margin-top: 2px;
    margin-left: 10px;

    font-size: 16px;
}



.content {
    width: 90%;
    margin: 0 auto 120px;
    display: grid;
    grid-column-gap: 60px;
}

.name-colors {
    grid-column: 1;
}

.logo-picture-favicon {
    grid-column: 2;
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    margin-bottom: 25px;
}

.form-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    margin-bottom: 10px;
}

form {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    padding-bottom: 16px;

    color: #BABABA;
}

.color-form {
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-column-gap: 10px;
    align-items: center;
}

.color-picker {
    margin: 0;
    height: 50px;
    width: 50px;
}

.color-picker::-webkit-color-swatch {
    border-radius: 5px;
    border: none;
}

::ng-deep .mat-form-field-flex {
    height: 50px !important;
    align-items: center !important;
}

.mat-form-field {
    margin: 0;
    font-size: 16px;
    display: block;
    height: 50px;
}
  
.font-preview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;

    background: #F7F7F7;
}

.text-preview-regular {
    font-size: 24px;
}

.text-preview-light {
    font-size: 16px;
    margin-bottom: 0;
}


/* Images */

.image-upload-container {
    display: grid;
    grid-template-columns: 170px 1fr;
    grid-column-gap: 25px;

    margin-bottom: 35px;
}

.image-placeholder {
    width: 170px;
    height: 170px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #E0E0E0;

    color: #222222;
}

.image-placeholder img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.image-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px;
    transform: scale(1.5);
}


.image-label {
    width: 80%;
    margin: 0 auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #222222;
}

.image-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #222222;
}

.image-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    color: #222222;
}

.upload-btn {
    padding: 0;
    background: none !important;
    box-shadow: none;
    color: var(--primary-color);
}



/* Buttons */

.page-btns {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    margin-top: 20px;
    
    background-color: white;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#cancel-btn {
    border: 1px solid var(--primary-color);
    background: none !important;
    color: var(--primary-color);
    grid-column: 2;
}

#save-btn {
    grid-column: 1;
}

.loading {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    z-index: 1;
}

.loading-progress {
    width: 80%;
    height: 80%;
}