::ng-deep .file-drop-zone-content {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

::ng-deep .file-drop-zone {
    border: 2px dotted black;
    border-radius: 3%;
    cursor: pointer;
}