form {
    display: flex;
    flex-direction: column;
    width: 452px;
    overflow: visible;
    padding-bottom: 25px;
}

.context {
    position: relative;
    overflow-y: auto;
    padding: 50px 70px 50px 70px;
}

.loading {
    background: #fff;
    position: absolute;
    z-index: 99;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.policy-header {
    height: 44px;
    font-size: 34px;
    display: block;
    padding: 12px;
    box-sizing: border-box;
    text-align: center;
    color: #000;
}

.delimiter {
    padding: 30px 30px;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    position: relative;
}

.delimiter::after {
    content: '';
    position: absolute;
    height: 2px;
    top: 30px;
    left: 0px;
    right: 0px;
    border-top: 1px solid #c8c8c8;
}

.field-value {  
    color: #000;
    font-size: 20px;
    margin-bottom: 20px;
    max-width: 720px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 8px;
}

.field-long-value {  
    color: #000;
    font-size: 20px;
    margin-bottom: 20px;
    max-width: 720px;
    overflow: hidden;
    margin-left: 8px;
}

.field-name {  
    margin-bottom: 12px;
}

.field {
    margin-top: 5px;
    margin-bottom: 28px;
}

.field-last {
    margin-bottom: 0px;
}

.version-container {
    display: flex;
    gap: 50px;
}

.info-label {
    vertical-align: middle;
    margin-right: 5px;
}

.info-container {
    color:#2F96B4;
    margin-bottom: 10px;
}

.new-versions-container {
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
}

.field-version-value {
    font-size: 20px;
    color: #0C77FF;
    font-weight: bold;
    line-height: 25px;
    cursor: pointer;
}

.new-versions-links {
    overflow-x: scroll;
    display: flex;
    gap: 30px;
}

.version-container .field-version {
    margin-bottom: 0px;
}

@media (max-width: 810px) {

    .g-dialog-header {
        width: 90%;
        padding: 16px 0 22px 0;

        box-shadow: none;
        margin: 0 auto 32px;
    }

    .g-dialog-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600 !important;
        font-size: 24px !important;
        line-height: 28px;
        color: #222222 !important;
        order: 2;
        padding-right: 10px !important;
    }

    .g-dialog-cancel {
        order: 3;
        margin-right: 0 !important;
    }

    .g-dialog-actions {
        display: none !important;
    }

    .g-dialog-body {
        width: 90%;
        margin: 0 auto !important;
        padding: 0;
        position: relative;
    }
    
    .context {
        padding: 0;
    }

    .policy-header {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600 !important;
        font-size: 24px !important;
        line-height: 28px;
        color: #222222 !important;
        text-align: left;
        margin-bottom: 32px;
        padding: 0;
    }

    .delimiter {
        display: none;
    }

    .field {
        margin-bottom: 24px;
    }

    .field-name {
        margin-bottom: 12px;
    }

    .policy {
        margin-bottom: 100px;
    }

    .page-btns {
        width: 75%;
        margin: 32px auto 0;
        padding-top: 10px;
        padding-bottom: 16px;
        position: fixed;
        bottom: 89px;
        left: 50%;
        transform: translateX(-50%);
        
        background-color: white;
    }
    
    #create-btn {
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }
    
}