:root {
    --app-font-family: 'Lato', sans-serif;
    --primary-color: #2C78F6;
    --text-color: #000;

    --header-height: 125px;
    --header-height-policy: 175px;
    --header-background-color:#000;
    
    --table-row-height: 64px;

    --button-primary-color: #2C78F6;
    --button-primary-color-hover: #0C6BE5;
    
    --vh: 1vh;
}