:root {
    --app-font-family: 'Lato', sans-serif;
    --primary-color: #1960EC;
    --text-color: #000;

    --header-height: 125px;
    --header-height-policy: 155px;
    --header-background-color:#000;
    
    --table-row-height: 64px;

    --button-primary-color: #0C77FF;
}