.container {
    display: flex;
    justify-content: space-between;
    padding-right: 14px;
}

.container button {
    margin-top: 5px;
    margin-left: 10px;
    min-width: 280px;
}

.schema-field {
    flex: 1;
}

:host .content {
    max-height: 400px;
}

.policy-header {
    height: 44px;
    font-size: 34px;
    display: block;
    padding: 12px;
    box-sizing: border-box;
    text-align: center;
    color: #000;
}

.field {
    margin-bottom: 16px;

    .field-name {
        font-family: Inter;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        color: #181818;
        margin-bottom: 6px;
    }

    .field-value {
        width: 100%;
        border-radius: 8px;
        border: 1px solid #E1E7EF;
        background: #F9FAFC;
        padding: 12px 16px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        color: #23252E;
        margin-bottom: 8px;
    }
}

.loading {
    background: #fff;
    position: absolute;
    z-index: 99;
    border-radius: 16px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}


.action-buttons {
    display: flex;
}

.copy-button {
    margin-left: auto;
    margin-right: 15px;
}

::ng-deep {
    .p-button {
        border-radius: 8px;
    }
}

.dialog-footer {}

.form-label {
    color: #181818;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
}

.dialog-body {
    height: 40vh;
    overflow-y: auto;
}

::ng-deep {
    .p-dialog-title {
        font-family: Poppins, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
    }

    .p-dialog {
        box-shadow: none;
    }

    .p-dialog-header {
        border-top-left-radius: 16px !important;
        border-top-right-radius: 16px !important;
    }

    .p-dialog-content {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

.copy-button {
    margin-left: auto !important;
    margin-right: 0px !important;

    button {
        width: 200px;
        height: 40px;
        font-size: var(--guardian-primary-font-size);
        font-weight: 500;
    }
}

.save-button {
    margin-left: 15px !important;
    margin-right: 0px !important;

    button {
        width: 115px;
        height: 40px;
        font-size: var(--guardian-primary-font-size);
        font-weight: 500;
    }
}