.content {
    max-width: 90vw;
    max-height: 80vh;
    overflow: auto;
    cursor: grab;
}

.content::-webkit-scrollbar {
    display: none;
}

.loading {
    margin: 50px auto;
}

.dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
        margin: 0;
    }
}

.dialog-actions {
    display: flex;
    width: 80px;
    justify-content: space-between;
    align-items: center;
}

.dialog-header {
    margin: 0 0 20px 20px;
}

.dialog-header h1 {
    margin-right: 20px;
}

::ng-deep .custom-download-button {
    width: 30px;
    height: 30px;
}

::ng-deep .custom-download-button button {
    background-color: transparent;
    color: black;
    border: none;
    box-shadow: none;
    width: 30px;
    height: 30px;
}

::ng-deep .custom-download-button:hover button {
    border: none;
    background-color: var(--color-grey-3);
}

::ng-deep .custom-download-button .pi {
    font-size: 1rem;
}
