.dialog-body {
    position: relative;
    width: 60vw;
    height: 60vh;
}

.dialog-header {
    .header-container {
        min-width: 0;
    }

    .header-text {
        flex: 1 1 auto;
        min-width: 0;
		max-width: 50vw;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.tree-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.loading {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    z-index: 10;
}

.schema-search {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 56px;
    z-index: 2;
    background: transparent;
    padding: 8px 64px 8px 16px;

    .guardian-search {
        max-width: 500px;

        input {
            height: 28px;
            font-size: 12px;
        }
    }
}

.zoom-toolbar {
    width: 48px;
    height: 160px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 3;
    padding: 16px 16px 4px 4px;
    overflow: hidden;

    .zoom-button {
        width: 28px;
        height: 28px;
        margin-bottom: 8px;
        border-radius: 8px;
        background: var(--guardian-background, #FFFFFF);
        box-shadow: 0px 0px 1px 3px var(--guardian-grey-color, #EFF3F7);

        .zoom-label {
            width: 28px;
            height: 28px;
            border-radius: 8px;
            font-family: Inter;
            font-size: 8px;
            font-weight: 700;
            color: var(--guardian-disabled-color, #848FA9);
            border: 1px solid var(--guardian-border-color, #E1E7EF);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        button {
            width: 28px;
            height: 28px;
            border: 1px solid var(--guardian-primary-color, #4169E2);
            border-radius: 8px;
        }
    }
}

.guardian-button {
    padding: 6px 32px;
    height: 40px;
}

.cancel-button {
    margin-left: auto;
}

.tree-node {
    background: var(--guardian-background, #FFFFFF);
    border: 1px solid #bac0ce;
    box-shadow: 0px 4px 4px 0px var(--guardian-shadow, #00000014);
    border-radius: 6px;
    width: 150px;
    cursor: pointer;
    overflow: hidden;
    user-select: none;

    &.root-node {
        .node-header {
            background: #CAFDD9;
        }
    }

    &.tagged-entity {
        .node-header {
            background: #D4CAFD;
        }
    }

    &:hover {
        border: 1px solid var(--guardian-primary-color, #4169E2);
    }

    * {
        pointer-events: none;
    }

    &.selected-type-selected {
        border: 1px solid var(--guardian-primary-color, #4169E2);
        box-shadow: 0px 0px 0px 3px var(--guardian-primary-color, #4169E2), 0px 6px 6px 0px #00000021;
    }

    &.selected-type-sub {
        border: 1px solid var(--guardian-primary-color, #4169E2);
    }

    &.selected-type-hidden {
        opacity: 0.4;
    }

    &[search-highlighted="true"] {
        border: 1px solid var(--guardian-success-color, #19BE47);
        box-shadow: 0px 0px 0px 3px var(--guardian-success-color, #19BE47), 0px 6px 6px 0px #00000021;
    }

    &[search-highlighted="true"].selected-type-selected {
        border: 1px solid var(--guardian-primary-color, #4169E2);
        box-shadow: 0px 0px 0px 3px var(--guardian-primary-color, #4169E2), 0px 6px 6px 0px #00000021;
    }

    .node-header {
		width: 100%;
		padding: 9px 8px 9px 16px;
		background: var(--guardian-grey-background, #F9FAFC);
		font-family: Inter;
		font-size: 12px;
		font-weight: 600;
		line-height: 14px;
		text-align: left;
		color: #23252E;
		text-wrap: wrap;
		word-wrap: break-word;
    }

    .node-fields {
        border-top: 1px solid var(--guardian-border-color, #E1E7EF);
        font-family: Inter;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .node-field {
            color: #23252E;
            border-bottom: 1px solid var(--guardian-border-color, #E1E7EF);
            padding: 8px 8px 8px 16px;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 400;
        }

        .node-not-fields {
            color: var(--guardian-disabled-color, #848FA9);
            border-bottom: 1px solid var(--guardian-border-color, #E1E7EF);
            padding: 8px 8px 8px 16px;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 400;
        }
    }
}
