.content {
    max-width: 90vw;
    max-height: 80vh;
    overflow: auto;
    cursor: grab;
    padding: 0px 0px 32px 2px;
}

.content::-webkit-scrollbar {
    display: none;
}

.loading {
    margin: 50px auto;
}

.guardian-button {
    padding: 6px 32px;
    height: 40px;
}

.cancel-button {
    margin-left: auto;
    margin-right: 15px;
}