<div class="guardian-page">
    <div *ngIf="loading" class="guardian-loading">
        <div class="guardian-loading-image"></div>
    </div>

    <div *ngIf="!isConfirmed" class="guardian-user-not-registered">
        Before starting work you need to get DID
        <a [routerLink]="['/profile']">here</a>
    </div>

    <div class="guardian-user-back-button">
        <button 
            (click)="onBack()" 
            class="guardian-button guardian-button-secondary">
            <div class="guardian-button-icon">
                <svg-icon class="icon-btn svg-icon"
                    src="/assets/images/icons/left-arrow.svg"
                    svgClass="icon-color-primary">
                </svg-icon>
            </div>
            <div class="guardian-button-label">Back to Policies</div>
        </button>
    </div>

    <div class="guardian-user-page-header">
        <span>{{title}}</span>
    </div>
</div>