<div class="dialog-body">
    <p-steps [model]="items" [readonly]="false" [activeIndex]="activeIndex"></p-steps>
    <div class="content">
        <ng-template [ngTemplateOutlet]="spinner" [ngTemplateOutletContext]="{ loading }"></ng-template>
        <div *ngIf="!loading" [ngSwitch]="items[activeIndex].id">
            <div *ngSwitchCase="'policies'" class="step-container">
                <div class="context">
                    <div class="policy-dropdown-container">
                        <label class="form-label" htmlFor="firstPolicy">Source policy</label>
                        <p-dropdown (onChange)="onChange()" [(ngModel)]="migrationConfig.src" [options]="pList1"
                            [showClear]="true" appendTo="body" id="firstPolicy" optionLabel="name" optionValue="id"
                            placeholder="Select Policy"></p-dropdown>
                    </div>

                    <div class="policy-dropdown-container">
                        <label class="form-label" htmlFor="firstPolicy">Destination policy</label>
                        <p-dropdown (onChange)="onChange()" [(ngModel)]="migrationConfig.dst" [options]="pList2"
                            [showClear]="true" appendTo="body" id="firstPolicy" optionLabel="name" optionValue="id"
                            placeholder="Select Policy"></p-dropdown>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="'vps'" class="step-container">
                <ng-template [ngTemplateOutlet]="spinner"
                    [ngTemplateOutletContext]="{ loading: loadings.vps }"></ng-template>
                <div class="table-container">
                    <p-table [value]="vps" styleClass="p-datatable-sm" [tableStyle]="{ width: '100%' }">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="text-align: center;  width: 30px;"><p-checkbox [(ngModel)]="allVPsSelected"
                                        [binary]="true" (onChange)="selectAllVPs()"></p-checkbox></th>
                                <th>ID</th>
                                <th>Owner</th>
                                <th>Document</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-document>
                            <tr>
                                <td style="text-align: center;  width: 30px;"><p-checkbox [binary]="true"
                                        [(ngModel)]="document.selected" (onChange)="selectVP(document)"></p-checkbox>
                                </td>
                                <td [title]="document.id">{{document.id}}</td>
                                <td [title]="document.owner">{{document.owner}}</td>
                                <td style="text-overflow: unset;"><p-button label="View document"
                                        styleClass="p-button-link" (onClick)="viewVP(document)"></p-button></td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="table-bottom">
                                <span>You selected {{ this.migrationConfig.vps.length }} documents.</span>
                                <p-paginator (onPageChange)="onPageVP($event)" [first]="pageIndexVP * pageSizeVP"
                                    [rows]="pageSizeVP" [totalRecords]="totalVPs" [showCurrentPageReport]="true"
                                    currentPageReportTemplate="{first} - {last} of {totalRecords}"
                                    [showPageLinks]="false" [showFirstLastIcon]="false"></p-paginator>
                            </div>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div *ngSwitchCase="'vcs'" class="step-container">
                <ng-template [ngTemplateOutlet]="spinner"
                    [ngTemplateOutletContext]="{ loading: loadings.vcs }"></ng-template>
                <div class="table-container">
                    <p-table [value]="vcs" styleClass="p-datatable-sm" [tableStyle]="{ width: '100%' }">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="text-align: center;  width: 30px;"><p-checkbox [(ngModel)]="allVCsSelected"
                                        [binary]="true" (onChange)="selectAllVCs()"></p-checkbox></th>
                                <th>ID</th>
                                <th>Owner</th>
                                <th>Schema</th>
                                <th>Document</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-document>
                            <tr>
                                <td style="text-align: center; width: 30px;"><p-checkbox [binary]="true"
                                        [(ngModel)]="document.selected" (onChange)="selectVC(document)"></p-checkbox>
                                </td>
                                <td [title]="document.id">{{document.id}}</td>
                                <td [title]="document.owner">{{document.owner}}</td>
                                <td [title]="document.schema">{{getSchemaName(srcSchemas, document.schema)}}</td>
                                <td style="text-overflow: unset;"><p-button label="View document"
                                        styleClass="p-button-link" (onClick)="viewVC(document)"></p-button></td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="table-bottom">
                                <span>You selected {{ this.migrationConfig.vcs.length }} documents.</span>
                                <p-paginator (onPageChange)="onPageVC($event)" [first]="pageIndexVC * pageSizeVC"
                                    [rows]="pageSizeVC" [totalRecords]="totalVCs" [showCurrentPageReport]="true"
                                    currentPageReportTemplate="{first} - {last} of {totalRecords}"
                                    [showPageLinks]="false" [showFirstLastIcon]="false"></p-paginator>
                            </div>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div *ngSwitchCase="'schemas'" class="step-container">
                <ng-template [ngTemplateOutlet]="spinner"
                    [ngTemplateOutletContext]="{ loading: loadings.schemas }"></ng-template>
                <div class="mapping-content">
                    <div *ngFor="let schema of getObjectKeys(this.migrationConfig.schemas)" class="mapping">
                        <div class="map-left">
                            <span>{{getSchemaName(srcSchemas, schema)}}</span>
                        </div>
                        <span>:</span>
                        <div class="map-right">
                            <p-dropdown (onChange)="migrationConfig.setSchema(schema, $event.value)"
                                [options]="dstSchemas" [showClear]="true" optionLabel="name" optionValue="iri"
                                placeholder="Select schema"></p-dropdown>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="'roles'" class="step-container">
                <div class="mapping-content">
                    <div *ngFor="let role of getObjectKeys(this.migrationConfig.roles)" class="mapping">
                        <div class="map-left">
                            <span>{{role}}</span>
                        </div>
                        <span>:</span>
                        <div class="map-right">
                            <p-dropdown (onChange)="migrationConfig.setRole(role, $event.value)" [options]="dstRoles"
                                [showClear]="true" placeholder="Select role"></p-dropdown>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="'groups'" class="step-container">
                <div class="mapping-content">
                    <div *ngFor="let group of getObjectKeys(this.migrationConfig.groups)" class="mapping">
                        <div class="map-left">
                            <span>{{group}}</span>
                        </div>
                        <span>:</span>
                        <div class="map-right">
                            <p-dropdown (onChange)="migrationConfig.setGroup(group, $event.value)" [options]="dstGroups"
                                [showClear]="true" placeholder="Select group"></p-dropdown>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <div [ngSwitch]="items[activeIndex].id">
        <div *ngSwitchCase="'policies'" class="action-buttons">
            <div>
                <p-button label="Prev" *ngIf="activeIndex !== 0" styleClass="p-button-secondary"
                    (onClick)="prevStep()"></p-button>
            </div>
            <div>
                <p-button label="Next" *ngIf="items.length - 1 > activeIndex"
                    [disabled]="!migrationConfig.policiesValidity" (onClick)="nextStep()"></p-button>
            </div>
        </div>
        <div *ngSwitchCase="'vps'" class="action-buttons">
            <div>
                <p-button label="Prev" *ngIf="activeIndex !== 0" styleClass="p-button-secondary"
                    (onClick)="prevStep()"></p-button>
            </div>
            <div>
                <p-button label="Next" *ngIf="items.length - 1 > activeIndex" (onClick)="nextStep()"></p-button>
            </div>
        </div>
        <div *ngSwitchCase="'vcs'" class="action-buttons">
            <div>
                <p-button label="Prev" *ngIf="activeIndex !== 0" styleClass="p-button-secondary"
                    (onClick)="prevStep()"></p-button>
            </div>
            <div>
                <p-button label="Next" *ngIf="items.length - 1 > activeIndex" [disabled]="!migrationConfig.vcsValidity"
                    (onClick)="nextStep()"></p-button>
                <p-button label="OK" *ngIf="items.length - 1 === activeIndex" [disabled]="!migrationConfig.vcsValidity"
                    (onClick)="onSubmit()" styleClass="p-button-success"></p-button>
            </div>
        </div>
        <div *ngSwitchCase="'schemas'" class="action-buttons">
            <div>
                <p-button label="Prev" *ngIf="activeIndex !== 0" styleClass="p-button-secondary"
                    (onClick)="prevStep()"></p-button>
            </div>
            <div>
                <p-button label="Next" *ngIf="items.length - 1 > activeIndex"
                    [disabled]="!migrationConfig.schemasValidity" (onClick)="nextStep()"></p-button>
                <p-button label="OK" *ngIf="items.length - 1 === activeIndex"
                    [disabled]="!migrationConfig.schemasValidity" (onClick)="onSubmit()"
                    styleClass="p-button-success"></p-button>
            </div>
        </div>
        <div *ngSwitchCase="'roles'" class="action-buttons">
            <div>
                <p-button label="Prev" *ngIf="activeIndex !== 0" styleClass="p-button-secondary"
                    (onClick)="prevStep()"></p-button>
            </div>
            <div>
                <p-button label="Next" *ngIf="items.length - 1 > activeIndex"
                    [disabled]="!migrationConfig.rolesValidity" (onClick)="nextStep()"></p-button>
                <p-button label="OK" *ngIf="items.length - 1 === activeIndex"
                    [disabled]="!migrationConfig.rolesValidity" (onClick)="onSubmit()"
                    styleClass="p-button-success"></p-button>
            </div>
        </div>
        <div *ngSwitchCase="'groups'" class="action-buttons">
            <div>
                <p-button label="Prev" *ngIf="activeIndex !== 0" styleClass="p-button-secondary"
                    (onClick)="prevStep()"></p-button>
            </div>
            <div>
                <p-button label="Next" *ngIf="items.length - 1 > activeIndex"
                    [disabled]="!migrationConfig.groupsValidity" (onClick)="nextStep()"></p-button>
                <p-button label="OK" *ngIf="items.length - 1 === activeIndex"
                    [disabled]="!migrationConfig.groupsValidity" (onClick)="onSubmit()"
                    styleClass="p-button-success"></p-button>
            </div>
        </div>
    </div>
</div>

<ng-template #spinner let-loading="loading">
    <div *ngIf="loading" class="loading">
        <div class="preloader-image preloader-image-l-size"></div>
    </div>
</ng-template>
