form {
  display: flex;
  flex-direction: column;
  width: 452px;
  overflow: visible;
  padding-bottom: 25px;
}

.loading {
  background: #fff;
  position: absolute;
  z-index: 99;
  border-radius: 16px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
}


:host ::ng-deep {
  .p-tabview-nav-link {
    padding: 0 !important;
  }
}

.tabview-label {
  padding: 1rem;
}

.dialog-body {
  min-height: 350px;
  max-height: 350px;
  overflow-y: auto;
}

::ng-deep {
  .p-dialog-title {
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }

  .p-dialog {
    box-shadow: none;
  }

  .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link:focus {
    box-shadow: none;
  }

  .p-dialog-header {
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
  }

  .p-dialog-content {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  .p-button {
    border-radius: 8px;
  }

  .p-dropdown {
    width: 100%;
  }
}

.policy-dropdown {
  width: 100%;
}

.action-buttons {
  display: flex;
  padding-top: 15px;
}

.cancel-button {
  margin-left: auto;
  margin-right: 15px;
}

.form-label {
  color: #181818;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

.policy-selection {
  display: flex;
  gap: 24px;

  p {
    margin: 0;
    align-self: center;
    color: var(--color-grey-black-1, #181818);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
}

.policy-actions {
  display: flex;
  margin-top: 24px;
  gap: 8px;
}
