<div class="g-dialog-content">
  <div class="g-dialog-header">
    <div class="g-dialog-cancel">
      <div class="g-dialog-cancel-btn" (click)="cancel.emit()">
        <i class="pi pi-times"></i>
      </div>
    </div>
    <div class="g-dialog-title">
      {{ title }}
    </div>
    <div class="g-dialog-actions">
      @if (syncVisible) {
        <div class="sync">
          <span class="sync__date">Last sync: {{ (syncDate ? (syncDate | date:'medium') : 'Never') }}</span>
          <app-refresh-btn (refresh)="sync.emit($event)"></app-refresh-btn>
        </div>
      }
      @if (confirmVisible) {
        <div class="g-dialog-actions-btn" (click)="confirm.emit()"
          [attr.disabled]="confirmDisabled">
          {{ confirmBtnLabel || 'Confirm' }}
        </div>
      }
    </div>
  </div>
  <div class="g-dialog-body content">
    @if (!loading) {
      <ng-content></ng-content>
    } @else {
      <div class="loading">
        <p-progressSpinner></p-progressSpinner>
      </div>
    }
    @if (paginatorVisible && length && length > 0) {
      <app-paginator
        [length]="length"
        [pageSize]="pageSize"
        (page)="page.emit($event)">
      </app-paginator>
    }
  </div>
</div>
