form {
    display: flex;
    flex-direction: column;
    width: 452px;
    overflow: visible;
    padding-bottom: 25px;
}

.action-select-step {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-header {
    font-size: 20px;
    color: #838383;
    padding-bottom: 20px;
    display: flex;
    cursor: pointer;
}

.action-name {
    display: block;
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
    color: #2F2F2F;
}

.action-select-step button {
    height: 106px;
    width: 90%;
    border-radius: 53px;
    margin: 12px 0;
}

