.content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: block;
}

.loading {
    background: #fff;
    position: fixed;
    z-index: 99;
    top: var(--header-height);
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.not-exist {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: darkgrey;
}

a.go-back-link {
    text-decoration: none;
    color: #707070;
    padding: 5px 30px 5px 26px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a.go-back-link mat-icon {
    color: #707070;
    position: absolute;
    top: 12px;
    left: 10px;
    font-size: 30px;
}

.policy-header {
    position: fixed;
    top: 125px;
    left: 0;
    right: 0;
    height: 50px;
    color: #707070;
    border-bottom: 1px solid #f7f7f7;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%);
    z-index: 100;
    background: #ffffff;
    padding: 12px 30px;
    font-size: 20px;
}

.policy-header[policy-status='DRY-RUN'] {
    top: 170px;
}

.policy-container {
    position: absolute;
    left: 0;
    top: 50px;
    right: 0;
    bottom: 0;
}

.policy-container[policy-status='DRY-RUN'] {
    position: absolute;
    left: 0;
    top: 90px;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.policy-container[hidden-container='true'] {
    opacity: 0;
    z-index: -1;
    pointer-events: none;
}

.policy-header span {
    height: 30px;
    padding: 5px 0px;
    box-sizing: border-box;
}

.policy-header span:not(.current-user-group__label) {
    margin-right: 30px;
}

.current-user-role {
    float: right;
    white-space: nowrap;
}

.debug-user {
    padding: 10px;
    cursor: pointer;
    margin: 0 1px;
    opacity: 0.9;
}

.debug-user:hover {
    background: #3f51b50d;
}

.debug-user[active='true'] {
    background: #3f51b5;
    color: #fff;
    font-weight: 500;
}
.debug-user[active='true'] .debug-user-did {
    color: #fff;
    font-weight: normal;
}

.new-debug-user {
    padding: 10px;
    cursor: pointer;
    color: rgb(0, 0, 238);
    cursor: pointer;
    text-decoration: underline;
    font-size: 16px;
}

.debug-user-name {
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    margin-bottom: 2px;
}

.debug-user-did {
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    margin-bottom: 2px;
    color: #3c3c3c;
}

.dry-run-panel {
    cursor: pointer;
    position: relative;
}

.content[status='DRY-RUN'] {
    border: 4px solid #3f51b5;
}

.content[status='DRY-RUN'] .policy-header {
    background: #3f51b5;
    border-bottom: 1px solid #155f9b;
    color: #fff;
}

.content[status='DRY-RUN'] .go-back-link {
    color: #fff;
}

.content[status='DRY-RUN'] .go-back-link mat-icon {
    color: #fff;
}

.dry-run-content {
    position: fixed;
    top: 125px;
    left: 0px;
    right: 0px;
    height: 45px;
    display: flex;
    box-sizing: border-box;
    z-index: 150;
    font-size: 20px;
    background: #fff;
    border-bottom: 1px solid #000000;
    box-shadow: 0px 0px 1px 1px rgb(179 179 179);
    padding: 0px 10px;
}

.dry-run-btn {
    position: relative;
    font-size: 14px;
    padding: 6px 12px;
    margin: 6px 6px 6px 0px;
    color: #646464;
    cursor: pointer;
    user-select: none;
}

.dry-run-btn:hover {
    background: #f7f8fc;
}

.dry-run-btn[action='true'] {
    color: #3f51b5;
    border-bottom: 2px solid #3f51b5;
}

.dry-run-group-btn,
.dry-run-action-btn {
    display: flex;
    overflow: hidden;
    height: 34px;
    flex-direction: row;
    border: 1px solid transparent;
    margin: 5px 4px;
    padding: 2px 2px 4px 6px;
    font-size: 12px;
    align-items: center;
    align-content: center;
    color: #3f51b5;
    cursor: pointer;
    padding-top: 4px;
    position: relative;
    user-select: none;
    border-radius: 6px;
    background: rgb(252 252 252);
    border: 1px solid rgb(220 220 220);
    box-sizing: border-box;
}

.dry-run-group-btn span,
.dry-run-action-btn span {
    font-size: 12px;
    text-align: center;
    line-height: 14px;
    user-select: none;
    display: flex;
    max-width: 65px;
    min-width: 60px;
    height: 28px;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    padding: 0px 4px 0px 2px;
}

.dry-run-group-btn:hover,
.dry-run-action-btn:hover {
    background: rgb(63 81 181 / 3%);
    border: 1px solid #3f51b5;
}

.dry-run-group-btn span {
    max-width: 65px;
    min-width: 45px;
}

.dry-run-group-btn {
    padding-right: 21px;
}

.dry-run-group-btn .expand-group {
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0;
    width: 18px;
    overflow: hidden;
    background: rgb(240 240 240);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: 1px solid rgb(220 220 220);
}

.dry-run-group-btn .expand-group mat-icon {
    position: absolute;
    top: 2px;
    font-size: 27px;
    left: -5px;
}

.delimiter {
    width: 2px;
    height: 30px;
    border-left: 1px solid #7e7e7e;
    margin-left: 12px;
    margin-right: 10px;
    margin-top: 7px;
}

.dry-run-title {
    padding: 12px 2px 12px 4px;
    color: #707070;
    font-size: 18px;
}

.table-container {
    max-height: calc(100vh - var(--header-height) - 170px);
    min-height: 100px;
    overflow-y: auto;
    position: relative;
    z-index: 0;
}

.table-paginator {
    height: 60px;
    border-top: 1px solid #eee;
    margin-top: 5px;
}

.document-table {
    width: 100%;
}

.btn-settings {
    color: #3f51b5;
    font-weight: 500;
    cursor: pointer;
    padding-top: 2px;
    padding-left: 24px;
    position: relative;
    height: 24px;
    min-width: 24px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
}
.btn-settings:hover {
    text-decoration: underline;
}

.btn-settings mat-icon {
    position: absolute;
    left: 0px;
    top: 2px;
    font-size: 22px;
}

.document-table .mat-column-createDate  {
    width: 260px;
}

.document-table .mat-column-document {
    width: 60px;
    max-width: 60px;
}

.document-table .mat-column-owner {
    width: 200px;
    max-width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.current-user-group {
    position: relative;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;

    &__label {
        margin-right: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.user-group {
    padding: 10px;
    cursor: pointer;
    margin: 0 1px;
    opacity: 0.9;
    min-width: 300px;
}

.user-group:hover {
    background: #3f51b50d;
}

.user-group[active='true'] {
    background: #f2f8ff;
    font-weight: 500;
}

.user-group-header {
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    margin-bottom: 2px;
}

.user-group-value {
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    margin-bottom: 2px;
    color: #3c3c3c;
}

.no-group {
    padding: 10px;
    cursor: pointer;
    color: rgb(0, 0, 238);
    cursor: pointer;
    text-decoration: underline;
    font-size: 16px;
}

.group-container {
    max-height: 300px;
    overflow: auto;
}

.user-group-default {
    border-top: 1px solid #999;
    margin-top: 10px;
}

.group-header {
    font-size: 20px;
    border-bottom: 1px solid #999;
    margin-bottom: 10px;
    padding: 8px 16px 16px 10px;
    font-weight: 500;
    color: #464646;
}

@media (max-width: 810px) {
    .policy-header {
        position: sticky;
        top: 0 /*var(--header-height)*/;
        box-shadow: none;
        border: none;
    }

    .policy-header[policy-status='DRY-RUN'] {
        top: 45px;
    }

    .dry-run-content {
        top: var(--header-height);
    }

    .current-user-group__label {
        max-width: 170px;
        margin-right: 0;
    }
}