<div [attr.instance]="!!policy" [attr.status]="policyInfo?.status" class="policy-content">
    <ng-container *ngIf="!isConfirmed">
        <div class="not-exist">
            Before starting work you need to get DID
            <a [routerLink]="['/profile']">here</a>
        </div>
    </ng-container>

    <ng-container *ngIf="newRequestsExist">
        <div class="new-requests-exist">
            <div>
                <p>You have new remote policy requests awaiting your response. Please respond to proceed with the policy process.</p>
                <p-button (onClick)="onPolicyRequests()" [outlined]="true">
                    View Policy Requests
                </p-button>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="!newRequestsExist && newActionsExist">
        <div class="new-requests-exist">
            <div>
                <p>You have new remote policy actions. Wait for the event to be processed.</p>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="isConfirmed && (!policyId || !policy)">
        <div class="not-exist">
            Policy doesn't exist
        </div>
    </ng-container>

    <ng-container *ngIf="isConfirmed && policyId && policy">
        <div *ngIf="isDryRun" class="dry-run-content">
            <div
                [queryParams]="{ policyId }"
                [routerLink]="['/policy-configuration']"
                class="dry-run-action-btn"
                title="Edit Policy"
            >
                <i class="pi pi-pencil"></i>
                <span>Edit</span>
            </div>

            <div
                (click)="restartDryRun()"
                class="dry-run-action-btn"
                title="Save Policy"
            >
                <svg-icon
                    class="icon-style-restart_alt"
                    src="/assets/images/icons/restart_alt.svg"
                    svgClass="icon-style-restart_alt"></svg-icon>
                <span>Restart</span>
            </div>

            <div class="delimiter"></div>

            <div
                class="dry-run-action-btn"
                (click)="canCreateSavepoint && openAddSavepointDialog()"
                [attr.aria-disabled]="!canCreateSavepoint"
                pTooltip="{{ savepointLimitTooltip }}"
                [tooltipDisabled]="canCreateSavepoint"
                tooltipPosition="top"
                tooltipStyleClass="guardian-tooltip"
            >
                    <i class="pi pi-flag"></i>
                    <span>Savepoint</span>
            </div>

            <div
                class="dry-run-action-btn"
                (click)="canRestoreSavepoint && openClickRestoreSavepointDialog()"
                [attr.aria-disabled]="!canRestoreSavepoint"
                pTooltip="{{ canRestoreSavepoint ? 'Restore or manage savepoints' : 'No savepoint to restore yet' }}"
                [tooltipDisabled]="canRestoreSavepoint"
                tooltipPosition="top"
                tooltipStyleClass="guardian-tooltip"
            >
                <i class="pi pi-undo"></i>
                <span>Restore</span>
            </div>

            <div class="delimiter"></div>

            <div (click)="createVirtualUser()" class="dry-run-action-btn">
                <i class="pi pi-user-plus"></i>
                <span>Create User</span>
            </div>

            <div (click)="menu.toggle($event)" class="dry-run-group-btn">
                <i class="pi pi-users"></i>
                <span>Users</span>
                <div class="expand-group">
                    <i class="pi pi-sort-down-fill"></i>
                </div>
            </div>

            <div class="delimiter"></div>

            <div
                (click)="startRecord()"
                [attr.disabled]="recordingActive"
                class="dry-run-action-btn record-btn"
                title="Start Record">
                <i class="pi pi-circle-on"></i>
                <span>Record</span>
            </div>

            <div
                (click)="runRecord()"
                [attr.disabled]="recordingActive"
                class="dry-run-action-btn run-btn"
                title="Run Record">
                <i class="pi pi-play"></i>
                <span>Run</span>
            </div>

            <div class="delimiter"></div>

            <div
                (click)="onView('policy')"
                [attr.action]="view === 'policy'"
                class="dry-run-btn"
            >Policy View</div>

            <div
                (click)="onView('transactions')"
                [attr.action]="view === 'transactions'"
                class="dry-run-btn"
            >Transactions</div>

            <div
                (click)="onView('artifacts')"
                [attr.action]="view === 'artifacts'"
                class="dry-run-btn"
            >Artifacts</div>

            <div
                (click)="onView('ipfs')"
                [attr.action]="view === 'ipfs'"
                class="dry-run-btn"
            >IPFS</div>

            <div class="delimiter"></div>
        </div>

        <div
            [attr.expired]="!!policyInfo.discontinuedDate"
            [attr.policy-status]="policyInfo.status"
            class="policy-header">
            <div *ngIf="!isDryRun && !policyInfo.discontinuedDate">
                <a
                    (click)="onBack()"
                    class="back-button"
                >
                    List of Policies
                </a>
            </div>
            <div *ngIf="isDryRun || !!policyInfo.discontinuedDate" class="guardian-user-back-button">
                <button
                    (click)="onBack()"
                    class="dry-run-back-button guardian-button guardian-button-secondary"
                >
                    <div class="guardian-button-icon">
                        <svg-icon class="icon-btn svg-icon"
                                  src="/assets/images/icons/left-arrow.svg"
                                  svgClass="icon-color-primary">
                        </svg-icon>
                    </div>
                    <div class="guardian-button-label">Back to Manage Policies</div>
                </button>
            </div>
            <div *ngIf="policyInfo" class="policy-info-container">
                <div class="policy-name-container">
                    <span *ngIf="policyInfo && policyInfo.name">{{ policyInfo.name }}</span>
                    <span *ngIf="policyInfo && policyInfo.status === 'VIEW'" class="policy-status">Remote</span>
                </div>

                <div class="policy-additional-info-container">
                    <span
                        *ngIf="policyInfo && policyInfo.version"
                        [ngClass]="{ 'white-additional-policy-info-text': isDryRun || !!policyInfo.discontinuedDate }"
                        class="additional-policy-info-text"
                    >
                        Version: ({{ policyInfo.version }})
                    </span>
                    <span
                        *ngIf="!groups.length && !isMultipleGroups"
                        [ngClass]="{ 'white-additional-policy-info-text': isDryRun || !!policyInfo.discontinuedDate }"
                        class="additional-policy-info-text"
                    >
                        Role: {{ policyInfo.userRoles.join(", ") }}
                    </span>
                    <span (click)="group.toggle($event)" *ngIf="isMultipleGroups" class="current-user-group">
                        <span
                            [ngClass]="isDryRun ? 'white-additional-policy-info-text' : ''"
                            class="additional-policy-info-text"
                            title="Group: {{userGroup}} / Role: {{userRole}}"
                        >
                            Group: {{ userGroup }} / Role: {{ userRole }}</span>
                            <div>
                                <i class="pi pi-caret-down"></i>
                            </div>
                    </span>
                </div>
            </div>
        </div>

        <div
            [attr.hidden-container]="view !== 'policy'"
            [attr.policy-status]="policyInfo.status"
            *ngIf="view == 'policy'"
            class="policy-body"
        >
            <ng-container *ngIf="!isDryRun; else dryRunContent">
                <p-tabView [(activeIndex)]="activeTabIndex" (activeIndexChange)="onTabChange($event)">
                    <p-tabPanel [header]="'General'">
                        <div class="policy-container {{!navigationFooterDisabled ? 'step-container' : 'no-step-container' }}">
                            <progress-tracker
                                *ngIf="steps && steps.length > 0"
                                [steps]="steps"
                            ></progress-tracker>
                            <div class="policy-container-body">
                                <render-block
                                    [block]="policy"
                                    [dryRun]="isDryRun"
                                    [policyId]="policyId"
                                    [policyStatus]="policyInfo.status"
                                    style="width: 100%;"
                                    [savepointIds]="savepointIds"
                                ></render-block>

                                <div *ngIf="!navigationFooterDisabled" class="progress-footer-container">
                                    <div class="progress-footer">
                                        <button
                                            (click)="onNavigationPrevButton()"
                                            [disabled]="prevButtonDisabled"
                                            class="button"
                                            label="Previous"
                                            pButton
                                            type="button"></button>
                                        <div *ngIf="!nextButtonDisabled">
                                            <button
                                                (click)="onNavigationNextButton()"
                                                class="p-button"
                                                label="Next"
                                                pButton
                                                type="button"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel [header]="'Export Documents'">
                        <app-project-data-export></app-project-data-export>
                    </p-tabPanel>
                </p-tabView>
            </ng-container>
            <ng-template #dryRunContent>
                <div class="policy-container {{!navigationFooterDisabled ? 'step-container' : 'no-step-container' }}">
                    <progress-tracker
                        *ngIf="steps && steps.length > 0"
                        [steps]="steps"
                    ></progress-tracker>
                    <div class="policy-container-body">
                        <render-block
                            [block]="policy"
                            [dryRun]="isDryRun"
                            [policyId]="policyId"
                            [policyStatus]="policyInfo.status"
                            style="width: 100%;"
                            [savepointIds]="savepointIds"
                        ></render-block>

                        <div *ngIf="!navigationFooterDisabled" class="progress-footer-container">
                            <div class="progress-footer">
                                <button
                                    (click)="onNavigationPrevButton()"
                                    [disabled]="prevButtonDisabled"
                                    class="button"
                                    label="Previous"
                                    pButton
                                    type="button"></button>
                                <div *ngIf="!nextButtonDisabled">
                                    <button
                                        (click)="onNavigationNextButton()"
                                        class="p-button"
                                        label="Next"
                                        pButton
                                        type="button"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>

        <div
            *ngIf="isDryRun"
            [attr.hidden-container]="view === 'policy'"
            [attr.policy-status]="policyInfo.status"
            class="second-policy-container"
        >
            <div class="table-container">
                <p-table [value]="documents" class="document-table">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Create Date</th>
                            <th>Type</th>
                            <th>Owner</th>
                            <th>Size</th>
                            <th>Url</th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template let-element pTemplate="body">
                        <tr>
                            <td>{{ element.createDate }}</td>
                            <td>{{ element.__type }}</td>
                            <td>{{ element.owner }}</td>
                            <td>{{ element.document?.size }} Byte</td>
                            <td>{{ element.documentURL }}</td>
                            <td>
                                <div
                                    (click)="openDocument(element)"
                                    class="btn-settings"
                                    pTooltip="Document"
                                    tooltipPosition="top"
                                    tooltipStyleClass="guardian-tooltip"
                                >
                                    <svg
                                        fill="none"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        width="24"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path
                                            class="icon-color"
                                            clip-rule="evenodd"
                                            d="M7.36842 3C6.06037 3 5 4.09894 5 5.45455V18.5455C5 19.9011 6.06038 21 7.36842 21H17.6316C18.9397 21 20 19.9011 20 18.5455V10.3636C20 10.1466 19.9168 9.93853 19.7688 9.78509L13.453 3.23966C13.3774 3.16136 13.2881 3.10055 13.191 3.05979C13.0978 3.02068 12.9973 3 12.8947 3H7.36842ZM12.1053 4.63636H7.36842C6.9324 4.63636 6.57895 5.00267 6.57895 5.45455V18.5455C6.57895 18.9973 6.93241 19.3636 7.36842 19.3636H17.6316C18.0676 19.3636 18.4211 18.9973 18.4211 18.5455V11.1818H12.8947C12.4587 11.1818 12.1053 10.8155 12.1053 10.3636V4.63636ZM17.3046 9.54548L13.6842 5.79347V9.54548H17.3046Z"
                                            fill="#23252E"
                                            fill-rule="evenodd"
                                        />
                                    </svg>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <app-paginator
                (page)="onPage($event)"
                [length]="documentCount"
                [pageIndex]="pageIndex"
                [pageSize]="pageSize"
            ></app-paginator>
        </div>
    </ng-container>

    <app-record-controller
        #recordController
        (update)="updatePolicy()"
        *ngIf="isDryRun && permissions.POLICIES_RECORD_ALL"
        [(active)]="recordingActive"
        [policyId]="policyId"
    ></app-record-controller>
</div>

<p-overlayPanel #menu>
    <div
        (click)="setVirtualUser(item, menu)"
        *ngFor="let item of virtualUsers"
        [attr.active]="item.active"
        class="debug-user"
    >
        <div class="debug-user-name">{{ item.username }}</div>
        <div class="debug-user-did">{{ item.hederaAccountId }}</div>
        <div class="debug-user-did">{{ item.did }}</div>
    </div>
</p-overlayPanel>

<p-overlayPanel #group>
    <div class="group-header">
        Select Group
    </div>
    <div class="group-container">
        <div
            (click)="setGroup(item, group)"
            *ngFor="let item of groups"
            [attr.active]="item.active"
            class="user-group"
        >
            <div class="user-group-header">
                <span *ngIf="item.groupLabel">{{ item.groupLabel }}</span>
                <span *ngIf="!item.groupLabel">{{ item.uuid }}</span>
            </div>
            <div class="user-group-value">
                <span>Group: </span><span>{{ item.groupName }}</span>
            </div>
            <div class="user-group-value">
                <span>Role: </span><span>{{ item.role }}</span>
            </div>
        </div>
    </div>
    <div (click)="setGroup(null, group)" class="user-group user-group-default">
        <div class="user-group-header">
            Default state
        </div>
        <div class="user-group-value">
            <span>Group: </span><span>Not Set</span>
        </div>
        <div class="user-group-value">
            <span>Role: </span><span>Not Set</span>
        </div>
    </div>
</p-overlayPanel>

<ng-template #preloader>
    <div class="preloader-image"></div>
</ng-template>

<div *ngIf="loading" class="loading">
    <div class="preloader-image preloader-image-l-size"></div>
</div>
