.content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: block;
    border-top: 52px solid transparent;

    .policy-header {
        position: fixed;
        top: 125px;
        left: 0;
        right: 0;
        height: 50px;
        color: #707070;
        border-bottom: 1px solid #f7f7f7;
        display: flex;
        box-sizing: border-box;
        justify-content: space-between;
        box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%);
        z-index: 100;
        background: #ffffff;
        padding: 12px 30px;
        font-size: 20px;

        &[policy-status='DRY-RUN'] {
            top: 170px;
        }

        span {
            height: 30px;
            padding: 5px 0px;
            box-sizing: border-box;

            &:not(.current-user-group__label) {
                margin-right: 30px;
            }
        }
    }

    a.go-back-link {
        text-decoration: none;
        color: #707070;
        padding: 5px 30px 5px 26px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        mat-icon {
            color: #707070;
            position: absolute;
            top: 12px;
            left: 10px;
            font-size: 30px;
        }
    }

    .policy-container {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: auto;

        &[hidden-container='true'] {
            opacity: 0;
            z-index: -1;
            pointer-events: none;
        }
    }

    &[status='DRY-RUN'] {
        border: 4px solid #3f51b5;
        border-top-width: 100px;

        .policy-header {
            background: #3f51b5;
            border-bottom: 1px solid #155f9b;
            color: #fff;
        }

        .go-back-link {
            color: #fff;
        }

        .go-back-link mat-icon {
            color: #fff;
        }

        .policy-container {
            overflow: auto;
        }
    }

    &[recording='true'],
    &[running='true'] {
        border-right-width: 224px !important;

        .policy-header {
            right: 224px !important;
        }
    }

    &[instance='false'] {
        border-color: transparent !important;
    }
}

.loading {
    background: #fff;
    position: fixed;
    z-index: 101;
    top: var(--header-height);
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.record-loading {
    background: #fff;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.not-exist {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: darkgrey;
}

.current-user-role {
    float: right;
    white-space: nowrap;
}

.dry-run-content {
    position: fixed;
    top: 125px;
    left: 0px;
    right: 0px;
    height: 45px;
    display: flex;
    box-sizing: border-box;
    z-index: 150;
    font-size: 20px;
    background: #fff;
    box-shadow: 0px 0px 1px 1px rgb(179 179 179);
    padding: 0px 10px;

    .dry-run-group-btn,
    .dry-run-action-btn {
        display: flex;
        overflow: hidden;
        height: 34px;
        flex-direction: row;
        border: 1px solid transparent;
        margin: 5px 4px;
        padding: 2px 2px 4px 6px;
        font-size: 12px;
        align-items: center;
        align-content: center;
        color: #3f51b5;
        cursor: pointer;
        padding-top: 4px;
        position: relative;
        user-select: none;
        border-radius: 6px;
        background: rgb(252 252 252);
        border: 1px solid rgb(220 220 220);
        box-sizing: border-box;
    }

    .dry-run-group-btn span,
    .dry-run-action-btn span {
        font-size: 12px;
        text-align: center;
        line-height: 14px;
        user-select: none;
        display: flex;
        max-width: 65px;
        min-width: 60px;
        height: 28px;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
        padding: 0px 4px 0px 2px;
        pointer-events: none;
    }

    .dry-run-group-btn:hover,
    .dry-run-action-btn:hover {
        background: rgb(63 81 181 / 3%);
        border: 1px solid #3f51b5;
    }

    .dry-run-group-btn[disabled="true"],
    .dry-run-action-btn[disabled="true"] {
        filter: grayscale(1);
        opacity: 0.7;
        pointer-events: none;
    }

    .delimiter {
        width: 2px;
        height: 30px;
        border-left: 1px solid #7e7e7e;
        margin-left: 12px;
        margin-right: 10px;
        margin-top: 7px;
    }

    .dry-run-btn {
        position: relative;
        font-size: 14px;
        padding: 6px 12px;
        margin: 6px 6px 6px 0px;
        color: #646464;
        cursor: pointer;
        user-select: none;

        &:hover {
            background: #f7f8fc;
        }

        &[action='true'] {
            color: #3f51b5;
            border-bottom: 2px solid #3f51b5;
        }
    }

    .dry-run-group-btn span {
        max-width: 65px;
        min-width: 45px;
    }

    .dry-run-group-btn {
        padding-right: 21px;
    }

    .dry-run-group-btn .expand-group {
        position: absolute;
        top: 0;
        right: 0px;
        bottom: 0;
        width: 18px;
        overflow: hidden;
        background: rgb(240 240 240);
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-left: 1px solid rgb(220 220 220);
        pointer-events: none;
    }

    .dry-run-group-btn .expand-group mat-icon {
        position: absolute;
        top: 2px;
        font-size: 27px;
        left: -5px;
    }

    .record-btn {
        color: #ff0000;
    }

    .run-btn {
        color: #00ad00;
    }
}

.record-logs {
    position: fixed;
    z-index: 100;
    top: 170px;
    right: 0;
    width: 220px;
    background: #fff;
    bottom: 0;

    &::after {
        content: "";
        position: fixed;
        top: 170px;
        left: 0px;
        right: 220px;
        bottom: 0px;
        border: 4px solid #ff0000;
        z-index: 999;
        pointer-events: none;
    }

    &[recording="true"]::after {
        border: 4px solid #ff0000;
    }

    &[running="true"]::after {
        border: 4px solid #20d127;
    }

    .record-title {
        position: relative;
        font-size: 14px;
        padding: 18px 8px 14px 8px;
        color: #646464;
        font-weight: 500;
        border-bottom: 1px solid #aaa;
    }

    .record-item {
        display: grid;
        grid-template-columns: 25px auto min-content;

        &[selected="true"] {
            background: #e6ffe7;
        }

        .record-item-index {
            background: #eee;
            border-right: 1px solid #aaa;
            padding: 2px 2px 2px 3px;
            height: 20px;
        }

        .record-item-method {
            padding: 2px 4px 2px 8px;
            height: 20px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .record-item-time {
            padding: 2px 4px 2px 4px;
            height: 20px;
        }
    }

    .record-error {
        border-radius: 3px;
        border: 1px solid #dd0a0a;
        padding: 5px;
        color: #dd0a0a;
        background: #fff2f2;
        position: relative;
        padding-left: 10px;
        margin: 5px 5px 5px 5px;
        box-sizing: border-box;
    }

    .running-animation {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #ffffff;
        width: 100%;
        padding: 18px 8px 15px 8px;
        border-bottom: 1px solid #aaa;

        .running-circle {
            width: 0;
            height: 0;
            margin-right: 8px;
            position: relative;
            top: -1px;
            left: 4px;
            border: 12px solid #07b907;
            border-top-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-top-width: 8px;
            border-bottom-width: 8px;
            border-right-width: 6px;
        }

        .running-text {
            color: #646464;
            font-weight: 500;
            font-size: 14px;
        }
    }

    .recording-animation {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #ffffff;
        width: 100%;
        padding: 18px 8px 15px 8px;
        border-bottom: 1px solid #aaa;

        .recording-circle {
            background-color: red;
            width: 1em;
            height: 1em;
            border-radius: 50%;
            animation: ease pulse 2s infinite;
            margin-right: 8px;
            position: relative;
            top: -1px;
        }

        .recording-text {
            color: #646464;
            font-weight: 500;
            font-size: 14px;
        }

        @keyframes pulse {
            0% {
                background-color: red;
            }

            50% {
                background-color: #f06c6c;
            }

            100% {
                background-color: red;
            }
        }
    }

    &[record-status="Error"] .record-item[selected="true"] {
        background: #ffe6e6 !important;
    }

    &[record-status="Stopped"] .record-item[selected="true"] {
        background: #f6f7b3 !important;
    }
}

.debug-user {
    padding: 10px;
    cursor: pointer;
    margin: 0 1px;
    opacity: 0.9;

    &:hover {
        background: #3f51b50d;
    }

    &[active='true'] {
        background: #3f51b5;
        color: #fff;
        font-weight: 500;
    }

    &[active='true'] .debug-user-did {
        color: #fff;
        font-weight: normal;
    }

    .debug-user-name {
        width: 350px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 16px;
        margin-bottom: 2px;
    }

    .debug-user-did {
        width: 350px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 12px;
        margin-bottom: 2px;
        color: #3c3c3c;
    }
}

.table-container {
    max-height: calc(100vh - var(--header-height) - 170px);
    min-height: 100px;
    overflow-y: auto;
    position: relative;
    z-index: 0;
}

.table-paginator {
    height: 60px;
    border-top: 1px solid #eee;
    margin-top: 5px;
}

.document-table {
    width: 100%;
}

.btn-settings {
    color: #3f51b5;
    font-weight: 500;
    cursor: pointer;
    padding-top: 2px;
    padding-left: 24px;
    position: relative;
    height: 24px;
    min-width: 24px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
}

.btn-settings:hover {
    text-decoration: underline;
}

.btn-settings mat-icon {
    position: absolute;
    left: 0px;
    top: 2px;
    font-size: 22px;
}

.document-table .mat-column-createDate {
    width: 260px;
}

.document-table .mat-column-document {
    width: 60px;
    max-width: 60px;
}

.document-table .mat-column-owner {
    width: 200px;
    max-width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.current-user-group {
    position: relative;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;

    &__label {
        margin-right: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.user-group {
    padding: 10px;
    cursor: pointer;
    margin: 0 1px;
    opacity: 0.9;
    min-width: 300px;
}

.user-group:hover {
    background: #3f51b50d;
}

.user-group[active='true'] {
    background: #f2f8ff;
    font-weight: 500;
}

.user-group-header {
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    margin-bottom: 2px;
}

.user-group-value {
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    margin-bottom: 2px;
    color: #3c3c3c;
}

.no-group {
    padding: 10px;
    cursor: pointer;
    color: rgb(0, 0, 238);
    cursor: pointer;
    text-decoration: underline;
    font-size: 16px;
}

.group-container {
    max-height: 300px;
    overflow: auto;
}

.user-group-default {
    border-top: 1px solid #999;
    margin-top: 10px;
}

.group-header {
    font-size: 20px;
    border-bottom: 1px solid #999;
    margin-bottom: 10px;
    padding: 8px 16px 16px 10px;
    font-weight: 500;
    color: #464646;
}

@media (max-width: 810px) {
    .policy-header {
        position: sticky !important;
        top: 0px !important;
        box-shadow: none !important;
        border: none !important;
        transform: translate(0px, -52px) !important;
    }

    .policy-header[policy-status='DRY-RUN'] {
        transform: translate(0px, -54px) !important;
    }

    .dry-run-content {
        top: var(--header-height);
    }

    .current-user-group__label {
        max-width: 170px;
        margin-right: 0;
    }

    .current-user-role {
        display: none !important;
    }

    .heder-policy-version,
    .heder-policy-description {
        display: none !important;
    }

    .dry-run-btn {
        display: none !important;
    }

    .delimiter {
        display: none !important;
    }

    .dry-run-group-btn span,
    .dry-run-action-btn span {
        display: none !important;
    }

    .dry-run-group-btn {
        width: 57px !important;
    }

    .dry-run-action-btn {
        width: 38px !important;
    }
}