:root {
  --grey-white: #FFF;
  --grey-white-06: #FFFFFF99;

  --grey-grey-3: #E1E7EF;
  --grey-grey-6: #848FA9;

  --grey-black: #23252E;
  --grey-black-1: #181818;

  --primary-primary: #4169E2;
  --gradient-dark-blue: linear-gradient(173deg, #191970 14.22%, #FFF 197.01%)
}
