<div class="dialog-header">
    <div class="header-container">
        <div class="header-text">{{title}}</div>
    </div>
    <div class="header-icon" (click)="onCancel()">
        <svg-icon src="/assets/images/icons/close.svg" svgClass="icon-color-close"></svg-icon>
    </div>
</div>
<div class="dialog-body">
    <div class="context">
        <div class="guardian-input-container">
            <label class="form-label">{{ description }}</label>
            <p-dropdown
                class="guardian-dropdown"
                panelStyleClass="guardian-dropdown-panel width-825"
                [options]="options"
                [(ngModel)]="result"
                optionLabel="name"
                optionValue="value"
                appendTo="body"
                placeholder="Select an option"
            ></p-dropdown>
        </div>
    </div>
</div>
<div class="dialog-footer">
    <div class="action-buttons">
        <div class="dialog-button">
            <button 
                (click)="onCancel()" 
                class="guardian-button guardian-button-secondary">Cancel</button>
        </div>
        <div class="dialog-button">
            <button 
                (click)="onConfirm()" 
                class="guardian-button guardian-button-primary">OK</button>
        </div>
    </div>
</div>