form {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    overflow: visible;
    margin: 0 auto;
}

.loading {
    margin: 0 auto;
}

.settings-title {
    margin-top: 50px;
    text-align: center;
}

.submit-button {
    width: 60%;
}

.submit-field {
    width: 100%;
}