.no-pools {
    font-size: 25px;
    color: gray;
    font-weight: bold;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pool {
    display: grid;
    grid-template-columns: minmax(150px, 1fr) 110px 150px 40px;
    align-items: center;
    column-gap: 30px;
    padding: 20px 20px;
    box-shadow: 0px 0px 4px 2px rgb(127 127 127 / 13%);
    margin-bottom: 20px;
    border-radius: 10px;
}

.approve {
    // text-wrap: nowrap;
    font-size: 20px;
    font-weight: bold;
    &__label[approve="true"] {
        color: green;
    }
    &__label[approve="false"] {
        color: goldenrod;
    }
}

.status {
    font-size: 20px;
    font-weight: bold;
    &__label[enabled="true"] {
        color: green;
    }
    &__label[enabled="false"] {
        color: gray;
    }
}

.tokens {
    display: flex;
    overflow: auto;
    display: flex;
    padding: 5px;
    gap: 25px;
    .token-card {
        display: flex;
        flex-direction: column;
        // border: 1px solid black;
        box-shadow: 0px 0px 3px 2px rgb(0 144 255 / 20%);
        border-radius: 5px;
        padding: 10px;
        gap: 5px;

        color: rgb(71, 71, 71);

        mat-icon {
            color: #3f51b5;
        }

        &__token,
        &__count {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: bold;

            mat-icon {
                font-size: 30px;
                width: 30px;
                height: 30px;
            }
        }

        &__count {
            mat-icon {
                transform: translateX(-2px);
            }
        }
    }
}

:host ::ng-deep .pool-actions {
    display: flex;
    align-items: center;
    mat-icon {
        font-size: 25px;
        width: 25px;
        height: 25px;
    }
}

.btn {
    &--remove {
        color: red;
    }
    // [disabled="true"] {
    //     filter: grayscale(1);
    //     opacity: 0.5;
    //     pointer-events: none;
    // }
}

.btn--remove {

}

// .action-buttons {
//     display: grid;
//     padding: 0 10px;

//     &__add {
//         justify-self: flex-end;
//         display: flex;
//         align-items: center;
//         gap: 5px;
//         color: var(--primary-color);
//         border: 1px solid var(--primary-color);
//         border-radius: 5px;
//         padding: 3px 7px;
//         cursor: pointer;
//         user-select: none;
//     }

//     &__add:hover {
//         opacity: 0.5;
//     }

//     &__add:active {
//         transform: scale(0.95);
//     }
// }
