.vc-fullscreen-dialog {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .vc-fullscreen-dialog-header {
        width: 100%;
        height: 139px;
        min-height: 139px;
        max-height: 139px;
        position: relative;
        padding: 28px 28px 0px 48px;
        overflow: hidden;

        .back-button {
            margin-bottom: 12px;

            button {
                padding-right: 16px;
                height: 40px;
            }
        }

        .header-container {
            display: flex;
            vertical-align: middle;
        }

        .header-text {
            font-family: Poppins;
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;
            vertical-align: middle;
            color: #23252e;
            margin-top: 16px;
            margin-bottom: 16px;
        }

        .header-toolbar {
            position: absolute;
            top: 28px;
            right: 20px;
            display: flex;
            flex-direction: row;

            .download-btn {
                min-width: 90px;
                height: 40px;
                margin-right: 8px;
            }

            .export-btn {
                width: 68px;
                height: 40px;
                margin-right: 8px;
            }

            .compare-btn {
                width: 200px;
                height: 40px;
                margin-right: 8px;
            }

            .version-dropdown {
                height: 40px;
                margin-right: 8px;
            }

            .mode-btn {
                height: 40px;
            }
        }
    }

    .vc-fullscreen-dialog-body {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .tab-container {
            padding: 0px 48px 0px 40px;
            border-bottom: 1px solid #e1e7ef;
            height: 41px;
            min-height: 41px;
            max-height: 41px;
        }

        .step-body-container {
            position: relative;
            width: 100%;
            height: 100%;

            .document-content {
                background: #f9fafc;
                padding: 24px 48px;
                position: absolute;
                left: 0px;
                top: 0px;
                bottom: 0px;
                right: 400px;
                overflow: auto;

                &[comments="false"] {
                    right: 0px !important;
                }

                .document-viewer {
                    &::ng-deep > form {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;

                        & > .form-body {
                            padding: 24px 48px;
                            display: block;
                            overflow: auto;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .json-container {
                    border: 1px solid #eee;
                    border-radius: 8px;
                    height: calc(100vh - 214px);
                    width: 100%;
                    overflow: auto;
                    padding: 24px;
                    background: #fff;

                    .json {
                        word-break: keep-all;
                        white-space: pre;
                        font-family: monospace;
                        cursor: text;
                        width: fit-content;
                        height: fit-content;
                        box-sizing: border-box;
                    }
                }
            }

            .comments-content {
                position: absolute;
                top: 0px;
                bottom: 0px;
                right: 0px;
                width: 400px;
                overflow: hidden;
                border-left: 1px solid #e1e7ef;
            }

            &[collapse="true"] {
                .document-content {
                    right: 76px;
                }

                .comments-content {
                    width: 76px;
                }
            }
        }

        .guardian-accordion-container {
            padding: 24px 48px;
            overflow: auto;
            width: 100%;
            height: calc(100% - 129px);
        }
    }

    .tags-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 16px;
        column-gap: 8px;
        row-gap: 8px;

        .tag-item {
            display: flex;
            column-gap: 8px;
            align-items: center;
            justify-content: space-between;
            background-color: var(--color-secondary);
            border: 1px solid var(--color-primary);
            padding: 6px 12px;
            border-radius: 6px;
            transition: all 0.25s ease-in-out;
            cursor: pointer;

            .tag-icon {
                fill: var(--color-primary, #0031ff);
            }

            .name {
                color: var(--color-primary, #0031ff);
                font-family: Inter, sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
            }

            .count {
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--color-accent-red-1);
                border-radius: 50%;
                width: 16px;
                height: 16px;
                color: var(--color-grey-white);
                font-family: Inter, sans-serif;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
            }
        }

        .selected {
            background: var(--color-primary);

            .tag-icon {
                fill: var(--color-grey-white, #ffffff) !important;
            }

            .name {
                color: var(--color-grey-white, #ffffff) !important;
            }
        }

        .primary-color {
            fill: var(--color-primary, #0031ff);
            color: var(--color-primary, #0031ff);
        }
    }
}

:host ::ng-deep {
    .version-dropdown {
        .p-dropdown {
            border: 1px solid var(--guardian-primary-color);
            border-radius: 6px;
            color: var(--guardian-primary-color);

            box-shadow: none !important;
            outline: none !important;
            
            &:focus {
                box-shadow: none !important;
                outline: none !important;
            }
        }

        .p-dropdown-label {
            color: var(--guardian-primary-color);
        }

        .p-dropdown-trigger {
            color: var(--guardian-primary-color);
        }

        .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
            color: var(--guardian-primary-color);
        }
    }
}
