NEXT_PUBLIC_POLICY_HEDERA_ID=1767599197.624837133
NEXT_PUBLIC_POLICY_MONGO_ID=695b6ae90ea0fa317cdc01c4
NEXT_PUBLIC_HEDERA_NETWORK=testnet
INDEXER_API_URL=https://indexer.guardianservice.app/api/v1/testnet
INDEXER_API_TOKEN=your_bearer_token_here
