.loading {
    position: fixed;
    /* background: #ffffff32; */
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.loading-progress {
    width: 80%;
    height: 80%;
}



.sub-loading {
    background: #fff;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.page-content {
    width: 800px;
    min-height: 500px;
    margin: 40px auto;
    padding: 10px 10px 10px 10px;
    border: 1px solid #c3c3c3;
    border-radius: 4px;
    position: relative;
}

.form-content {
    min-height: 350px;
    width: 100%;
    padding: 20px 0px;
    position: relative;
}

.form-buttons {
    width: 100%;
    position: relative;
    height: 50px;
    text-align: end;
}

.form-buttons button {
    margin-left: 18px;
}

.content {
    position: relative;
}

.page {
    width: 650px;
    min-height: 150px;
    margin: 40px auto;
    padding: 10px;
    border: 1px solid #c3c3c3;
    border-radius: 4px;
    position: relative;
}

.form {
    background: #fff;
    color: #404040;
    margin-bottom: 30px;
    padding: 10px 35px;
    display: flex;
    flex-direction: column;
}

.field {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
}

.field-name {
    display: table-cell;
    font-weight: bold;
    color: #686868;
    border-top: 2px solid #fff;
    padding-top: 2px;
    padding-bottom: 2px;
    box-sizing: border-box;
    min-width: 150px;
    height: 30px;
}

.field-value {
    display: table-cell;
    border-top: 2px solid #fff;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 36px;
    padding-left: 8px;
    min-width: 240px;
    position: relative;
}

.schema-status-NOT_VERIFIED {
    font-weight: 500;
    text-align: end;
}

.schema-status-INCOMPATIBLE {
    color: #f44336;
    font-weight: 500;
    text-align: end;
}

.schema-status-COMPATIBLE {
    color: #4caf50;
    font-weight: 500;
    text-align: end;
}

.form-link {
    color: #0000ee;
    width: 110px;
    display: inline-block;
    cursor: pointer;
    padding: 10px 4px;
}

.schema-row {
    display: grid;
    grid-template-columns: 40px auto 150px;
    height: 40px;
    padding-left: 15px;
    box-sizing: border-box;
}

.schema-row>div {
    padding: 4px;
}

.synchronization {
    padding: 0px 30px 0px 0px;
    height: 24px;
    position: relative;
    width: auto;
    width: fit-content;
}

.synchronization-time {
    width: auto;
}

.synchronization-update {
    position: absolute;
    top: -3px;
    right: 0px;
    display: block;
    color: #005edf;
    cursor: pointer;
    height: 24px;
    width: 24px;
    line-height: 24px;
    border-radius: 4px;
}

.synchronization-update mat-icon {
    position: absolute;
    pointer-events: none;
    font-size: 22px;
    height: 22px;
    width: 22px;
    left: 1px;
    top: 1px;
}

.synchronization-update:hover {
    background: #f1f1f1;
}

.text {
    padding-bottom: 16px;
    padding-left: 15px;
}

.text.note {
    padding-bottom: 16px;
}

.mat-form-field {
    width: 100%;
    padding-left: 15px;
    box-sizing: border-box;
}

.error-text {
    padding-bottom: 24px;
    font-size: 20px;
}

.loading-text {
    font-size: 18px;
}
