<div *ngIf="loading" class="loading">
    <mat-spinner></mat-spinner>
</div>

<div class="content">
    <div *ngIf="!status || status === 'NEED_TOPIC'" class="page">
        <form class="form" [formGroup]="topicForm" (submit)="setTopic()">
            <mat-form-field appearance="outline">
                <mat-label>* Topic Id</mat-label>
                <input matInput placeholder="Topic Id" formControlName="topicId">
            </mat-form-field>
            <div style="margin-top: 15px">
                <button mat-raised-button color="primary" type="submit" [disabled]="!topicForm.valid">
                    Search
                </button>
            </div>
        </form>
    </div>

    <div *ngIf="status === 'NEED_SCHEMA'" class="page">
        <div *ngIf="policyTopicId" class="field">
            <div class="field-name">Policy Topic Id</div>
            <div class="field-value">{{policyTopicId}}</div>
        </div>
        <div *ngIf="policyInstanceMessage" class="field">
            <div class="field-name">Policy Name</div>
            <div class="field-value">{{policyInstanceMessage.name}}</div>
        </div>
        <div *ngIf="policyInstanceMessage" class="field">
            <div class="field-name">Policy Version</div>
            <div class="field-value">{{policyInstanceMessage.version}}</div>
        </div>
        <div *ngIf="instanceTopicId" class="field">
            <div class="field-name">Instance Topic Id</div>
            <div class="field-value">{{instanceTopicId}}</div>
        </div>
        <div *ngIf="documentMessage" class="field">
            <div class="field-name">Document Topic</div>
            <div class="field-value">{{documentMessage.name}}</div>
        </div>
        <div *ngIf="documentTopicId" class="field">
            <div class="field-name">Document Topic Id</div>
            <div class="field-value">{{documentTopicId}}</div>
        </div>

        <form class="form" [formGroup]="schemaForm" (submit)="setSchema()">
            <mat-form-field appearance="outline">
                <mat-label>* Schema</mat-label>
                <mat-select formControlName="schemaId" placeholder="Schema">
                    <mat-option *ngFor="let s of schemas" [value]="s.id" class="schema-status-{{s.status}}">
                        {{s.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div style="margin-top: 15px">
                <button mat-raised-button color="primary" type="submit" [disabled]="!topicForm.valid">
                    Submit
                </button>
            </div>
        </form>
    </div>

    <div *ngIf="status === 'FREE'" class="page">
        <div *ngIf="policyTopicId" class="field">
            <div class="field-name">Policy Topic Id</div>
            <div class="field-value">{{policyTopicId}}</div>
        </div>
        <div *ngIf="policyInstanceMessage" class="field">
            <div class="field-name">Policy Name</div>
            <div class="field-value">{{policyInstanceMessage.name}}</div>
        </div>
        <div *ngIf="policyInstanceMessage" class="field">
            <div class="field-name">Policy Version</div>
            <div class="field-value">{{policyInstanceMessage.version}}</div>
        </div>
        <div *ngIf="instanceTopicId" class="field">
            <div class="field-name">Instance Topic Id</div>
            <div class="field-value">{{instanceTopicId}}</div>
        </div>
        <div *ngIf="documentMessage" class="field">
            <div class="field-name">Document Topic</div>
            <div class="field-value">{{documentMessage.name}}</div>
        </div>
        <div *ngIf="documentTopicId" class="field">
            <div class="field-name">Document Topic Id</div>
            <div class="field-value">{{documentTopicId}}</div>
        </div>
        <div *ngIf="schema" class="field">
            <div class="field-name">Schema</div>
            <div class="field-value">{{schema.name}}</div>
        </div>
        <div class="field">
            <div class="field-name">Last Update</div>
            <div class="field-value">{{lastUpdate}}</div>
        </div>

        <div style="margin-top: 15px">
            <button mat-raised-button color="primary" (click)="onRefresh()">
                Load Documents
            </button>
        </div>
    </div>

    <div *ngIf="status === 'PROCESSING'" class="page">
        <div class="sub-loading">
            <div>Processing...</div>
        </div>
    </div>

    <div *ngIf="status === 'SEARCH'" class="page">
        <div class="sub-loading">
            <div>Search...</div>
        </div>
    </div>

    <div *ngIf="status === 'VERIFICATION'" class="page">
        <div class="sub-loading">
            <div>Verification...</div>
        </div>
    </div>
</div>