.loading {
    background: #fff;
    position: fixed;
    z-index: 99;
    top: var(--header-height-policy);
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.page {
    width: 650px;
    margin: 40px auto;
    padding: 10px;
    border: 1px solid #c3c3c3;
    border-radius: 4px;
}

.form {
    background: #fff;
    color: #404040;
    margin-bottom: 30px;
    padding: 10px 35px;
    display: flex;
    flex-direction: column;
}

.field {
    display: flex;
    flex-direction: row;
    padding: 10px 35px;
}

.field-name {
    display: table-cell;
    font-weight: bold;
    color: #686868;
    border-top: 2px solid #fff;
    padding-top: 2px;
    padding-bottom: 2px;
    box-sizing: border-box;
    min-width: 100px;
    height: 30px;
}

.field-value {
    display: table-cell;
    border-top: 2px solid #fff;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 36px;
    padding-left: 8px;
    min-width: 240px;
    position: relative;
}