.container {
    display: flex;
    justify-content: space-between;
    padding-right: 14px;
}

.container button {
    margin-top: 5px;
    margin-left: 10px;
    min-width: 280px;
}

.schema-field {
    flex: 1;
}

:host .content {
    max-height: 400px;
}

.loading {
    background: #fff;
    position: absolute;
    z-index: 99;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.g-dialog-title-btn mat-icon {
    position: absolute;
    font-size: 32px;
    top: 7px;
    left: 7px;
    color: #646464;
}

.context {
    position: relative;
    min-height: 275px;
}

.group-name {
    padding: 0px 0px 15px 0px;
    font-weight: 500;
    font-size: 16px;
}

.group-value {
    padding: 0px 10px 15px 30px;
    display: flex;
    flex-direction: column;
}

.group-value[disabled="true"] {
    display: none;
}