.context {
    position: relative;
    overflow-y: auto;
    padding: 14px 0 20px 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: Inter, serif;
    font-style: normal;
}

.dialog-body {
    height: 300px;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    user-select: none;

    &>div {
        margin-left: 15px;
        margin-right: 0px;
    }
}

.confirmation-text {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 25px;
    white-space: pre-line;
}