.context {
    position: relative;
    overflow-y: auto;
    padding: 14px 0 20px 0;
    display: flex;
    flex-direction: row;
    height: 100%;
    font-family: Inter, serif;
    font-style: normal;
}

.dialog-header {
    .header-item {
        padding: 6px 12px;
        margin: 0px 16px;
        border-radius: 6px;
        font-size: var(--guardian-primary-font-size);
        color: var(--guardian-dry-run-color);
        background: var(--guardian-dry-run-background);
        user-select: none;
        cursor: default;
    }
}

form {
    width: 100%;
}

.guardian-loading {
    border-radius: 0 !important;
}

.dialog-body {
    max-height: calc(85vh - 175px) !important;
    overflow: hidden !important;
    position: relative;
    display: flex;
    flex-direction: column;

    .dialog-body-container {
        overflow: auto;
        padding-right: 8px;
    }

    margin-bottom: 16px;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;
    user-select: none;

    &>div {
        margin-left: 15px;
        margin-right: 0px;
    }

    .dialog-button {
        display: none;
    }
    .dialog-button[id="cancel"] {
        display: block;
    }
    .dialog-button[id="submit"] {
        display: block;
    }
    .dialog-button[id="save"] {
        display: block;
        margin-right: auto;

        button {
            display: flex;
            gap: 8px;
        }
    }
}

.close-icon-color {
    fill: #848FA9;
    color: #848FA9;
}

.save-icon-color {
    fill: var(--color-primary);
    color: var(--color-primary);
}

@media (max-width: 810px) {
    .action-buttons {
        .dialog-button[visible="false"] {
            display: none !important;
        }
        .dialog-button[visible="true"] {
            display: block !important;
        }
    }
}

.restore-data {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    background: #F9FAFC;
    border: 1px solid #C4D0E1;
    height: 65px;
    border-radius: 8px;
    margin-bottom: 16px;

    svg-icon {
        height: 30px;
        padding: 2px;
        width: 36px;
    }

    b {
        height: 30px;
        line-height: 30px;
        padding-right: 16px;
    }

    button {
        height: 30px;
        padding: 0px 30px 0px 12px;
    }
}
