<div class="content user-profile">
    <div class="policy-search">
        <h1>Search for Policies</h1>

        <p-tabView
            (onChange)="onChange($event)"
            *ngIf="!loading && isConfirmed"
            [activeIndex]="selectedIndex"
            [ngStyle]="{'height': 'calc(100vh - 120px)'}">

            <ng-container *useWithServiceDecorator="'AI_SERVICE'">
                <p-tabPanel [header]="'Search with AI'">
                    <app-policy-ai-search class="possible-problems-with-empty-tab-here"></app-policy-ai-search>
                </p-tabPanel>
            </ng-container>

            <p-tabPanel [header]="'Guided Search'">
                <app-policy-guided-search></app-policy-guided-search>
            </p-tabPanel>
        </p-tabView>

        <div *ngIf="!loading && !isConfirmed" class="not-exist">
            Before starting work you need to get DID
            <a [routerLink]="['/profile']">here</a>
        </div>
    </div>
</div>

<ng-template #preloader>
    <div class="preloader-image"></div>
</ng-template>

<div *ngIf="loading" class="loading">
    <div class="preloader-image preloader-image-l-size"></div>
</div>
