<div class="guardian-page">
  <div class="policy-search">
    <div class="guardian-user-page-header">Search for Policies</div>

    @if (!loading && isConfirmed) {
      <p-tabs (valueChange)="onChange($event)"
        [value]="selectedIndex"
        [ngStyle]="{'height': 'calc(100vh - 120px)'}">
        <p-tablist>
          <p-tab [value]="0">Search with AI</p-tab>
          <p-tab [value]="1">Guided Search</p-tab>
        </p-tablist>
        <p-tabpanels>
          <p-tabpanel [value]="0">
            <app-policy-ai-search class="possible-problems-with-empty-tab-here"></app-policy-ai-search>
          </p-tabpanel>
          <p-tabpanel [value]="1">
            <app-policy-guided-search></app-policy-guided-search>
          </p-tabpanel>
        </p-tabpanels>
      </p-tabs>
    }

    @if (!loading && !isConfirmed) {
      <div class="not-exist">
        Before starting work you need to get DID
        <a [routerLink]="['/profile']">here</a>
      </div>
    }
  </div>
</div>

<ng-template #preloader>
  <div class="preloader-image"></div>
</ng-template>

@if (loading) {
  <div class="loading">
    <div class="preloader-image preloader-image-l-size"></div>
  </div>
}
