.table {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
    padding: 14px;
    box-sizing: border-box;

    .table-filters {
        width: 100%;
        height: 70px;
        overflow: hidden;
        display: flex;

        .filter {
            width: 230px;
            height: 60px;
            overflow: hidden;
            margin-right: 20px;

            mat-form-field {
                width: 100%;
            }
        }
    }
    .table-body {
        position: relative;
        width: 100%;
        height: calc(100vh - 230px);
        overflow: auto;

        .mat-column-tokenId {
            width: 150px;
            min-width: 150px;
            max-width: 150px;
        }
        .mat-column-name {
            width: 250px;
            min-width: 250px;
            max-width: 250px;
        }
        .mat-column-symbol {
            width: 150px;
            min-width: 150px;
            max-width: 150px;
        }
        .mat-column-type {
            width: 220px;
            min-width: 220px;
            max-width: 220px;
        }
        .mat-column-treasury {
            width: 180px;
            min-width: 180px;
            max-width: 180px;
        }
        .mat-column-status {
            width: 200px;
            min-width: 200px;
            max-width: 200px;
        }
        .mat-column-totalSupply {
            width: calc(100vw - 1200px);
            min-width: calc(100vw - 1200px);
            max-width: calc(100vw - 1200px);
            word-wrap: break-word;
        }
    }
    .table-paginator {
        position: relative;
        width: 100%;
        height: 60px;
        padding-top: 4px;
        box-sizing: border-box;
    }
}