<div class="{{ user.POLICIES_POLICY_MANAGE ? 'content' : 'min-content' }}">
    <div class="page-title">
        {{ user.POLICIES_POLICY_MANAGE ? "Manage Policies" : "List of Policies" }}
    </div>

    <ng-container *ngIf="!isConfirmed">
        <div class="not-exist">
            Before starting work you need to get DID
            <a [routerLink]="['/profile']">here</a>
        </div>
    </ng-container>

    <ng-container *ngIf="isConfirmed">
        <div class="tabs-nav">
            <p-tabView (onChange)="onChangeTab($event)" class="guardian-header-tabs">
                <p-tabPanel [selected]="tab === 'local'">
                    <ng-template pTemplate="header">
                        <div class="tabview-label">Local Policies</div>
                    </ng-template>
                </p-tabPanel>
                <p-tabPanel [selected]="tab === 'remote'">
                    <ng-template pTemplate="header">
                        <div class="tabview-label">Remote Policies</div>
                    </ng-template>
                </p-tabPanel>
            </p-tabView>
        </div>
    </ng-container>

    <ng-container *ngIf="isConfirmed && policies">

        <ng-container *ngIf="tab === 'local'">
            <div class="actions-container" *ngIf="user.POLICIES_POLICY_READ">
                <form *ngIf="hasPolicies" [formGroup]="filtersForm" class="policy-filters">
                    <span class="p-input-icon-right">
                        <input
                            class="search-policy-input"
                            formControlName="policyName"
                            pInputText
                            placeholder="Search by Policy name"
                            type="text"/>
                        <i class="pi pi-search search-icon"></i>
                    </span>
                    <p-dropdown
                        [options]="tagOptions"
                        appendTo="body"
                        class="tags-dropdown"
                        formControlName="tag"
                        placeholder="Tags"
                        [appendTo]="'body'"
                    ></p-dropdown>
                    <button (click)="applyFilters()"
                            class="button ml-8"
                            label="Apply Filters"
                            pButton></button>
                    <button (click)="clearFilters()"
                            [disabled]="!filtersForm.dirty"
                            class="button secondary ml-8"
                            label="Clear filters"
                            pButton></button>
                </form>
    
                <div class="actions-container-btns">
                    <p-button
                        *ngIf="user.POLICIES_POLICY_CREATE"
                        (click)="openPolicyWizardDialog()"
                        class="toolbar-btn-primary"
                        [pTooltip]="'Policy Wizard'"
                        tooltipPosition="bottom">
                        <svg-icon src="/assets/images/icons/wizard.svg" svgClass="color-white"></svg-icon>
                    </p-button>
                    <p-button
                        *ngIf="user.POLICIES_POLICY_CREATE"
                        (click)="createNewPolicy()"
                        class="toolbar-btn-primary"
                        [pTooltip]="'Create a Policy'"
                        tooltipPosition="bottom">
                        <svg-icon src="/assets/images/icons/add.svg" svgClass="color-white"></svg-icon>
                    </p-button>
                    <p-button
                        *ngIf="user.POLICIES_POLICY_CREATE"
                        (click)="importPolicy()"
                        class="toolbar-btn-primary"
                        [pTooltip]="'Import'"
                        tooltipPosition="bottom">
                        <svg-icon src="/assets/images/icons/import-cloud-2.svg" svgClass="color-white"></svg-icon>
                    </p-button>
                    <p-button
                        *ngIf="user.ANALYTIC_POLICY_READ"
                        (click)="searchPolicy()"
                        [pTooltip]="'Search policies'"
                        class="toolbar-btn-secondary"
                        [outlined]=true
                        tooltipPosition="bottom">
                        <svg-icon src="/assets/images/icons/search.svg" svgClass="primary-color"></svg-icon>
                    </p-button>
                    <p-button
                        *ngIf="user.ANALYTIC_POLICY_READ"
                        (click)="comparePolicy()"
                        [pTooltip]="'Compare'"
                        class="toolbar-btn-secondary"
                        [outlined]=true
                        tooltipPosition="bottom">
                        <svg-icon src="/assets/images/icons/compare.svg" svgClass="primary-color"></svg-icon>
                    </p-button>
                    <p-button
                        *ngIf="user.POLICIES_MIGRATION_CREATE"
                        (click)="migrateData()"
                        [pTooltip]="'Migrate data'"
                        class="toolbar-btn-secondary"
                        [outlined]=true
                        tooltipPosition="bottom">
                        <svg-icon src="/assets/images/icons/move-down.svg" svgClass="primary-color"></svg-icon>
                    </p-button>
                    <p-button
                        *ngIf="user.SUGGESTIONS_SUGGESTIONS_READ"
                        (click)="openSuggestionsDialog()"
                        [pTooltip]="'Suggestions'"
                        class="toolbar-btn-secondary"
                        styleClass="p-button-text"
                        tooltipPosition="bottom">
                        <svg-icon src="/assets/images/icons/number-list.svg" svgClass="primary-color"></svg-icon>
                    </p-button>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="tab === 'remote'"> 
            <div class="actions-container" *ngIf="user.POLICIES_EXTERNAL_POLICY_CREATE">
                <form *ngIf="hasPolicies" [formGroup]="filtersForm" class="policy-filters">
                    <span class="p-input-icon-right">
                        <input
                            class="search-policy-input"
                            formControlName="policyName"
                            pInputText
                            placeholder="Search by Policy name"
                            type="text"/>
                        <i class="pi pi-search search-icon"></i>
                    </span>
                    <button (click)="applyFilters()"
                            class="button ml-8"
                            label="Apply Filters"
                            pButton></button>
                    <button (click)="clearFilters()"
                            [disabled]="!filtersForm.dirty"
                            class="button secondary ml-8"
                            label="Clear filters"
                            pButton></button>
                </form>
                <div class="actions-container-btns">
                    <button
                        *ngIf="user.POLICIES_EXTERNAL_POLICY_CREATE"
                        (click)="importExternalPolicy()"
                        class="guardian-button guardian-button-primary">
                        <div class="guardian-button-icon">
                            <svg-icon
                                class="icon-btn"
                                src="/assets/images/icons/add.svg"
                                svgClass="icon-color-secondary">
                            </svg-icon>
                        </div>
                        <div class="guardian-button-label">Request Access</div>
                    </button>
                </div>
            </div>
        </ng-container>

        <p *ngIf="noFilterResults" class="no-results-found">
            No results found.
        </p>

        <div [hidden]="noFilterResults">
            <ng-container *ngIf="policiesList && policiesList.length > 0; else noData">

                <div class="grid-table-container">
                    <p-table
                        [value]="policiesList"
                        class="grid-table"
                        [scrollable]="true"
                    >
                        <ng-template pTemplate="header">
                            <tr class="grid-table-header">
                                <th
                                    *ngIf="canDisplayColumn('select')"
                                    class="header-cell-text cell-150"
                                    pFrozenColumn>
                                        <p-checkbox
                                            (onChange)="onSelectAllItems($event)"
                                            [disabled]="isAnyDeleteDisabled()"
                                            [ngModel]="isAllSelected"
                                            [binary]="true"
                                        >
                                        </p-checkbox>
                                </th>
                                <th
                                    *ngIf="canDisplayColumn('name')"
                                    class="header-cell-text cell-150"
                                    pFrozenColumn>Name
                                </th>
                                <th
                                    *ngIf="canDisplayColumn('instance')"
                                    class="header-cell-text cell-150"
                                    [class.cell-last]="!canDisplayColumn('operations')"
                                    pFrozenColumn>Instance
                                </th>
                                <th
                                    *ngIf="canDisplayColumn('operations')"
                                    class="header-cell-text cell-120 cell-last"
                                    pFrozenColumn>Operations
                                </th>
                                <th
                                    *ngIf="canDisplayColumn('modified')"
                                    class="header-cell-text cell-description">Modified
                                </th>
                                <th
                                    *ngIf="canDisplayColumn('description')"
                                    class="header-cell-text cell-description">Description
                                </th>
                                <th
                                    *ngIf="canDisplayColumn('status')"
                                    class="header-cell-text cell-150">Status
                                </th>
                                <th
                                    *ngIf="canDisplayColumn('roles')"
                                    class="header-cell-text cell-140">Roles
                                </th>
                                <th
                                    *ngIf="canDisplayColumn('topic')"
                                    class="header-cell-text cell-140">Topic
                                </th>
                                <th
                                    *ngIf="canDisplayColumn('publicLink')"
                                    class="header-cell-text cell-210">Public Link
                                </th>
                                <th
                                    *ngIf="canDisplayColumn('version')"
                                    class="header-cell-text cell-140">Version
                                </th>
                                <th
                                    *ngIf="canDisplayColumn('tests')"
                                    class="header-cell-text cell-190">Tests
                                </th>
                                <th
                                    *ngIf="canDisplayColumn('tags')"
                                    class="header-cell-text cell-190">Tags
                                </th>
                                <th
                                    *ngIf="canDisplayColumn('tokens')"
                                    class="header-cell-text cell-140">Tokens
                                </th>
                                <th
                                    *ngIf="canDisplayColumn('schemas')"
                                    class="header-cell-text cell-170">Schemas
                                </th>
                                <th
                                    *ngIf="canDisplayColumn('multi-instance')"
                                    class="header-cell-text cell-210">Multi Policy
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template let-policy pTemplate="body">
                            <tr class="grid-table-row">
                                <td
                                    *ngIf="canDisplayColumn('select')"
                                    pFrozenColumn
                                >
                                    <p-checkbox
                                        (onChange)="onSelectItem(policy)"
                                        [disabled]="isDeleteDisabled(policy)"
                                        [ngModel]="isSelected(policy)"
                                        [binary]="true"
                                    >
                                    </p-checkbox>
                                </td>

                                <td
                                    *ngIf="canDisplayColumn('name')"
                                    class="text-truncate cell-150"
                                    pFrozenColumn
                                    pTooltip="{{ policy.name }}"
                                    tooltipPosition="top"
                                ><span class="text-truncate">{{ policy.name }}</span></td>

                                <td
                                    *ngIf="canDisplayColumn('instance')"
                                    class="cell-{{sizeColumn('instance')}}"
                                    [class.cell-last]="!canDisplayColumn('operations')"
                                    pFrozenColumn
                                >
                                    <div *ngIf="showInstance(policy) as instanceLabel" class="instances">
                                        <button
                                            [routerLink]="['/policy-viewer', policy.id]"
                                            class="button instance-btn"
                                            [label]="instanceLabel"
                                            pButton
                                            [ngSwitch]="policy.status"
                                        >
                                            <svg-icon
                                                *ngSwitchCase="'DRY-RUN'"
                                                class="icon-btn svg-icon-16"
                                                src="/assets/images/icons/16/dry-run.svg"
                                                svgClass="color-white">
                                            </svg-icon>
                                            <svg-icon
                                                *ngSwitchCase="'DEMO'"
                                                class="icon-btn svg-icon-16"
                                                src="/assets/images/icons/16/test.svg"
                                                svgClass="color-white">
                                            </svg-icon>
                                            <svg-icon
                                                *ngSwitchDefault
                                                class="icon-btn svg-icon-16"
                                                src="/assets/images/icons/16/run.svg"
                                                svgClass="color-white">
                                            </svg-icon>
                                        </button>
                                        <button
                                            *ngIf="showAudit(policy)"
                                            [routerLink]="['/policy-repository', policy.id]"
                                            class="button repository-btn"
                                            [label]="'Workflow repository'"
                                            pButton
                                        >
                                            <svg-icon
                                                class="icon-btn svg-icon-16"
                                                src="/assets/images/icons/16/run.svg"
                                                svgClass="color-white">
                                            </svg-icon>
                                        </button>
                                    </div>
                                </td>

                                <td
                                    *ngIf="canDisplayColumn('operations')"
                                    class="text-truncate cell-120 cell-last"
                                    pFrozenColumn
                                >
                                    <div class="commands-line">
                                        <div
                                            [queryParams]="{ policyId: policy.id }"
                                            [routerLink]="['/policy-configuration']"
                                            class="btn-icon-edit"
                                            pTooltip="Policy configuration"
                                            tooltipStyleClass="guardian-tooltip"
                                            tooltipPosition="top"
                                            [showDelay]="500"
                                            [hideDelay]="100"
                                        >
                                            <svg-icon src="/assets/images/icons/edit.svg"
                                                      svgClass="primary-color"></svg-icon>
                                        </div>
                                        <div
                                            class="btn-icon-menu"
                                            pTooltip="Menu"
                                            tooltipPosition="top"
                                            (click)="onMenuClick($event, policyMenu, policy)"
                                        >
                                            <svg-icon src="/assets/images/icons/menu-2.svg"
                                                      svgClass="primary-color"></svg-icon>
                                        </div>
                                    </div>
                                </td>
                                <td
                                    *ngIf="canDisplayColumn('modified')"
                                    class="text-truncate cell-description"
                                >
                                    <div *ngIf="policy?.originalChanged === true">
                                        <button
                                            class="guardian-button guardian-button-secondary original-status-btn"
                                            pTooltip="Policy was modified after import"
                                            tooltipPosition="bottom"
                                            pButton>
                                            <div class="guardian-button-icon">
                                                <svg-icon
                                                    class="icon-btn"
                                                    src="/assets/images/icons/compare.svg"
                                                    svgClass="icon-color-primary">
                                                </svg-icon>
                                            </div>
                                            <div class="guardian-button-label">Compare</div>
                                        </button>
                                    </div>

                                    <div *ngIf="policy?.originalChanged === false">
                                        <button 
                                            class="button secondary original-status-btn" 
                                            [disabled]="true"
                                            label="No changes" 
                                            pButton>
                                        </button>
                                    </div>

                                    <div *ngIf="policy?.originalChanged === undefined">
                                        <span
                                            pTooltip="Policy modification tracking was likely disabled"
                                            tooltipPosition="bottom"
                                        >
                                            <button 
                                                class="button secondary original-status-btn" 
                                                [disabled]="true"
                                                label="Status unavailable"
                                                pTooltip="Policy modification tracking was likely disabled"
                                                pButton>
                                            </button>
                                        </span>
                                    </div>
                                </td>
                                <td
                                    *ngIf="canDisplayColumn('description')"
                                    class="text-truncate cell-description"
                                    pTooltip="{{ policy.description }}"
                                    tooltipPosition="top"
                                >{{ policy.description }}
                                </td>
                                <td
                                    *ngIf="canDisplayColumn('status')"
                                    class="cell-150"
                                >
                                    <div *ngIf="!user.POLICIES_POLICY_REVIEW"
                                         [pTooltip]="getDiscontinuedTooltip(policy.discontinuedDate)"
                                         tooltipPosition="bottom"
                                         [tooltipDisabled]="!policy.discontinuedDate"
                                         class="chip chip-color-{{getColor(policy.status, !!policy.discontinuedDate)}}"
                                    >{{ getLabelStatus(policy.status, !!policy.discontinuedDate) }}
                                    </div>

                                    <div *ngIf="user.POLICIES_POLICY_REVIEW">
                                        <ng-container *ngIf="showStatus(policy)">
                                            <p-dropdown
                                                class="status-actions-dropdown {{policy.status}}-dropdown"
                                                appendTo="body"
                                                tooltipPosition="bottom"
                                                [pTooltip]="getDiscontinuedTooltip(policy.discontinuedDate)"
                                                [tooltipDisabled]="!policy.discontinuedDate"
                                                [attr.published]="policy.status == 'PUBLISH'"
                                                [attr.expired]="!!policy.discontinuedDate"
                                                [(ngModel)]="publishMenuSelector"
                                                [options]="getStatusOptions(policy)"
                                                [placeholder]="getStatusName(policy)"
                                                (onChange)="onChangeStatus($event, policy)">
                                                <ng-template let-option pTemplate="item">
                                                    <div>
                                                        <div class="dropdown-item-title"
                                                             [ngStyle]="{ color: option.color }">
                                                            {{ option.title }}
                                                        </div>
                                                        <span class="dropdown-item-description">
                                                            {{ option.description }}
                                                        </span>
                                                    </div>
                                                </ng-template>
                                            </p-dropdown>
                                        </ng-container>
                                        <ng-container *ngIf="!showStatus(policy)">
                                            <div
                                                class="{{policy.status}}-status disabled-status"
                                                [pTooltip]="getDiscontinuedTooltip(policy.discontinuedDate)"
                                                tooltipPosition="bottom">
                                                {{ getStatusName(policy) }}
                                            </div>
                                        </ng-container>
                                    </div>
                                </td>
                                <td
                                    *ngIf="canDisplayColumn('roles')"
                                    class="cell-140"
                                >{{ policy.userRoles?.join(", ") }}
                                </td>
                                <td
                                    *ngIf="canDisplayColumn('topic')"
                                    class="cell-140 text-truncate"
                                >
                                    <span class="text-truncate">
                                        <hedera-explorer 
                                            [params]="policy.topicId"
                                            type="topics">{{ policy.topicId }}</hedera-explorer>
                                    </span>
                                </td>
                                <td
                                    *ngIf="canDisplayColumn('publicLink')"
                                    class="cell-225 text-truncate"
                                >
                                    <span *ngIf="policy.availability === 'public'" class="text-truncate">
                                        {{ policy.messageId }}
                                        <div class="btn-icon-small" (click)="onCopyMessage(policy)">
                                            <i class="pi pi-copy"></i>
                                        </div>
                                    </span>
                                    <span *ngIf="policy.availability !== 'public'" class="text-truncate">
                                        Private
                                    </span>
                                </td>

                                <td
                                    *ngIf="canDisplayColumn('version')"
                                    class="cell-140"
                                >{{ policy.version }}
                                </td>
                                <td
                                    *ngIf="canDisplayColumn('tests')"
                                    class="cell-190"
                                >
                                    <policy-test-result
                                        [policy]="policy"
                                        [tests]="policy.tests"
                                        (run-test)="onRunTest($event)"
                                        (add-test)="onAddTest($event)"></policy-test-result>
                                </td>
                                <td
                                    *ngIf="canDisplayColumn('tags')"
                                    class="cell-190"
                                >
                                    <tags-explorer
                                        *ngIf="user.TAGS_TAG_READ"
                                        [user]="user"
                                        [data]="policy._tags"
                                        [entity]="tagEntity"
                                        [owner]="owner"
                                        [schemas]="tagSchemas"
                                        [service]="tagsService"
                                        [target]="policy.id"
                                        [location]="policy.locationType"></tags-explorer>
                                </td>
                                <td
                                    *ngIf="canDisplayColumn('tokens')"
                                    class="cell-140"
                                >
                                    <a class="grid-link-block"
                                       [queryParams]="{ policy: policy.id }"
                                       [routerLink]="['/tokens']">
                                        <button class="button secondary" label="Open Tokens" pButton></button>
                                    </a>
                                </td>
                                <td
                                    *ngIf="canDisplayColumn('schemas')"
                                    class="cell-170"
                                >
                                    <a
                                        [queryParams]="{ type: 'policy', topic: policy.topicId }"
                                        [routerLink]="['/schemas']"
                                        class="grid-link-block"
                                    >
                                        <button class="button secondary" label="Open Schemas" pButton></button>
                                    </a>
                                </td>
                                <td
                                    *ngIf="canDisplayColumn('multi-instance')"
                                    class="cell-210"
                                >
                                    <div class="commands-line">
                                        <button
                                            *ngIf="checkMultiPolicyStatus(policy.status)"
                                            (click)="createMultiPolicy(policy)"
                                            [label]=" policy.multiPolicyStatus ? 'Show Multi Policy' : 'Create Multi Policy'"
                                            class="p-button-outlined btn-create-multipolicy"
                                            pButton
                                            type="button"></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>

                <app-paginator
                    class="grid-table-paginator"
                    [pageIndex]="pageIndex"
                    [pageSize]="pageSize"
                    [length]="policiesCount"
                    (page)="onPage($event)"
                ></app-paginator>

            </ng-container>
        </div>
    </ng-container>
</div>

<p-overlayPanel #policyMenu>
    <ng-container *ngFor="let group of selectedMenuData?.groups; let last = last">
        <ng-container *ngIf="group.visible">
            <ng-container *ngIf="group.group">
                <div
                    class="policy-menu-btn sub-menu-button"
                    (click)="onSubMenuClick($event, policySubMenu, group)"
                >
                    <div>
                        <svg-icon src="/assets/images/icons/{{group.icon}}.svg" svgClass="primary-color"></svg-icon>
                        <span>{{ group.tooltip }}</span>
                    </div>

                    <div class="submenu-arrow"></div>
                </div>
            </ng-container>
            <ng-container *ngIf="!group.group">
                <ng-container *ngFor="let button of group.buttons">
                    <p-button
                        *ngIf="button.visible"
                        (click)="button.onClick()"
                        [disabled]="button.disabled"
                        label="{{button.tooltip}}"
                        class="policy-menu-btn"
                        [outlined]=true
                        [pTooltip]="button.tooltip"
                        tooltipPosition="bottom"
                        appendTo="body">
                        <svg-icon src="/assets/images/icons/{{button.icon}}.svg"
                                  [svgClass]="button.disabled ? 'disabled-color' : 'primary-color'"></svg-icon>
                    </p-button>
                </ng-container>
            </ng-container>
            <div *ngIf="!last" class="policy-menu-delimiter"></div>
        </ng-container>
    </ng-container>
</p-overlayPanel>

<p-overlayPanel #policySubMenu [styleClass]="'sub-menu-overlay-container'">
    <div class="sub-menu-container" (click)="policySubMenu.hide()">
        <ng-container *ngFor="let button of selectedSubMenuData">
            <p-button
                *ngIf="button.visible"
                (click)="button.onClick()"
                [disabled]="button.disabled"
                label="{{button.tooltip}}"
                class="policy-menu-btn"
                [outlined]=true
                [pTooltip]="button.tooltip"
                tooltipPosition="bottom">
                <svg-icon src="/assets/images/icons/{{button.icon}}.svg"
                          [svgClass]="button.disabled ? 'disabled-color' : 'primary-color'"></svg-icon>
            </p-button>
        </ng-container>
    </div>
</p-overlayPanel>

<ng-template #noData>
    <div class="not-exist">
        <svg-icon class="svg-icon-32" src="/assets/images/icons/32/list.svg" svgClass="disabled-color">
        </svg-icon>
        <span class="info-text-strong">There are no policies created yet</span>
        <span class="info-text">Please create a new policy to see the data</span>
    </div>
</ng-template>

<div *ngIf="isAnyItemSelected()" class="options-footer-container">
    <div class="options-footer">
        <div class="selected-info-block">
            <span class="selected-info">{{ selectedItems.length | pluralize: 'policy' : 'policies'}} selected</span>
            <p-button
                (click)="onClearSelection()"
                class="secondary-btn"
                [outlined]="true"
            >
                Clear selection
            </p-button>
        </div>
        <div>
            <p-button
                (click)="onDeleteItems()"
                severity="danger"
                label="Delete selected"
                type="button"></p-button>
        </div>
    </div>
</div>

<ng-template #preloader>
    <div class="preloader-image"></div>
</ng-template>

<div *ngIf="loading" class="loading">
    <div class="preloader-image preloader-image-l-size"></div>
</div>
