<div class="content" [attr.role]="role">
    <div *ngIf="loading && !taskId" class="loading">
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="loading && taskId" class="loading">
        <async-progress class="loading-progress" [taskId]="taskId" [expected]="expectedTaskMessages"
            (error)="onAsyncError($event)" (completed)="onAsyncCompleted()"></async-progress>
    </div>

    <ng-container *ngIf="!isConfirmed">
        <div class="not-exist">
            Before starting work you need to get DID <a [routerLink]="['/profile']">here</a>
        </div>
    </ng-container>

    <ng-container *ngIf="isConfirmed && policies">
        <div class="actions-container" [attr.role]="role">
            <form *ngIf="hasPolicies" class="policy-filters" [formGroup]="filtersForm">
                <span>Filter by</span>

                <div>
                    <mat-form-field class="policy-filters__control" appearance="outline">
                        <input matInput placeholder="Policy name" formControlName="policyName">
                    </mat-form-field>

                    <mat-form-field *ngIf="hasTagOptions" class="policy-filters__control" appearance="outline">
                        <mat-label>Tags</mat-label>
                        <mat-select formControlName="tag">
                            <mat-option *ngFor="let tag of tagOptions" [value]="tag">
                                {{ tag }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <button
                    mat-raised-button
                    color="primary"
                    [disabled]="isFilterButtonDisabled"
                    (click)="applyFilters()"
                >Apply</button>

                <button
                    mat-stroked-button
                    [disabled]="!filtersForm.dirty"
                    (click)="clearFilters()"
                >Clear filters</button>
            </form>

            <div>
                <button mat-raised-button color="primary" (click)="openPolicyWizardDialog()"
                    class="toolbar-btn wizard-btn">
                    <mat-icon>auto_awesome</mat-icon>
                    <span>Policy Wizard</span>
                </button>
                <button mat-raised-button color="primary" (click)="newPolicy()" class="toolbar-btn add">
                    <mat-icon>add</mat-icon>
                    <span>Create New</span>
                </button>
                <button mat-raised-button color="primary" (click)="importPolicy()" class="toolbar-btn">
                    <mat-icon>file_open</mat-icon>
                    <span>Import</span>
                </button>
                <button mat-raised-button color="primary" (click)="comparePolicy()" class="toolbar-btn">
                    <mat-icon>compare</mat-icon>
                    <span>Compare</span>
                </button>
            </div>
        </div>

        <p *ngIf="noFilterResults" class="no-results-found">No results found.</p>

        <div [hidden]="noFilterResults">
            <div class="table-container" [attr.role]="role">
                <table mat-table [dataSource]="policiesList" class="table">
                    <ng-container matColumnDef="topic">
                        <th mat-header-cell *matHeaderCellDef> Hedera Topic Id </th>
                        <td mat-cell *matCellDef="let element">
                            <hedera-explorer type="topics" [params]="element.topicId">{{element.topicId}}</hedera-explorer>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="tokens">
                        <th mat-header-cell *matHeaderCellDef> Tokens </th>
                        <td mat-cell *matCellDef="let element">
                            <a [routerLink]="['/tokens']" [queryParams]="{ policy: element.id }">
                                Tokens
                            </a>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="schemas">
                        <th mat-header-cell *matHeaderCellDef> Schemas </th>
                        <td mat-cell *matCellDef="let element">
                            <a [routerLink]="['/schemas']" [queryParams]="{ topic: element.topicId }">
                                Schemas
                            </a>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Policy Name </th>
                        <td mat-cell *matCellDef="let element" 
                            [matTooltip]="element.name" 
                            matTooltipPosition="above" 
                            matTooltipClass="guardian-tooltip"
                            matTooltipShowDelay="500"
                            matTooltipHideDelay="100"
                        >
                            {{ element.name }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="roles">
                        <th mat-header-cell *matHeaderCellDef> Roles </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.userRoles?.join(', ') }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="version">
                        <th mat-header-cell *matHeaderCellDef> Version </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.version }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="tags">
                        <th mat-header-cell *matHeaderCellDef> Tags </th>
                        <td mat-cell *matCellDef="let element">
                            <tags-explorer [data]="element._tags" [owner]="owner" [target]="element.id"
                                [schemas]="tagSchemas" [entity]="tagEntity" [service]="tagsService"></tags-explorer>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef> Description </th>
                        <td mat-cell *matCellDef="let element"
                            [matTooltip]="element.description" 
                            matTooltipPosition="above" 
                            matTooltipClass="guardian-tooltip"
                            matTooltipShowDelay="500"
                            matTooltipHideDelay="100"
                        >
                            {{ element.description }}
                        </td>
                    </ng-container>
    
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status/Actions </th>
                        <td mat-cell *matCellDef="let element">
                            <select-menu-button class="btn-draft" *ngIf="element.status == 'DRAFT'"
                                (action)="onPublishAction($event, element)" [options]="publishMenuOption">
                                Draft
                            </select-menu-button>
                            <select-menu-button class="btn-dry-run" *ngIf="element.status == 'DRY-RUN'"
                                (action)="onDryRunAction($event, element)" [options]="draftMenuOption">
                                In Dry Run
                            </select-menu-button>
                            <select-menu-button class="btn-publish" *ngIf="element.status == 'PUBLISH'">
                                Published
                            </select-menu-button>
                            <select-menu-button class="btn-failed" *ngIf="element.status == 'PUBLISH_ERROR'"
                                (action)="onPublishErrorAction($event, element)" [options]="publishErrorMenuOption">
                                Not published
                            </select-menu-button>
                        </td>
                    </ng-container>
    
                    <ng-container matColumnDef="instance">
                        <th mat-header-cell *matHeaderCellDef> Instance </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="commands-line" *ngIf="element.status !='DRAFT'">
                                <div style="width: 85px">
                                    <div *ngIf="element.status =='PUBLISH'" class="btn-icon-go go-published"
                                        [routerLink]="['/policy-viewer', element.id]">
                                        <mat-icon>double_arrow</mat-icon>
                                        <span>Go</span>
                                    </div>
                                    <div *ngIf="element.status =='DRY-RUN'" class="btn-icon-go go-dry-run"
                                        [routerLink]="['/policy-viewer', element.id]">
                                        <mat-icon>double_arrow</mat-icon>
                                        <span>Go</span>
                                    </div>
                                </div>
                                <div *ngIf="role === 'USER'">
                                    <div *ngIf="element.status =='PUBLISH'" class="btn-icon-import"
                                        [attr.status]="element.multiPolicyStatus" (click)="createMultiPolicy(element)"
                                        [title]="element.multiPolicyStatus ? 'Show Multi Policy' : 'Create Multi Policy'"
                                        [matTooltip]="element.multiPolicyStatus ? 'Show Multi Policy' : 'Create Multi Policy'"
                                        matTooltipPosition="above" 
                                        matTooltipClass="guardian-tooltip"
                                        matTooltipShowDelay="500"
                                        matTooltipHideDelay="100">
                                        <mat-icon>share</mat-icon>
                                    </div>
                                    <div *ngIf="element.status =='DRY-RUN'" class="btn-icon-delete-des">
                                        <mat-icon>share</mat-icon>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </ng-container>
    
                    <ng-container matColumnDef="operations">
                        <th mat-header-cell *matHeaderCellDef>Operations</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="commands-line">
                                <div class="btn-icon-import" (click)="exportPolicy(element)"
                                    matTooltip="Export policy" 
                                    matTooltipPosition="above" 
                                    matTooltipClass="guardian-tooltip"
                                    matTooltipShowDelay="500"
                                    matTooltipHideDelay="100">
                                    <mat-icon>import_export</mat-icon>
                                </div>
                                <div class="btn-icon-edit" [routerLink]="['/policy-configuration']"
                                    [queryParams]="{ policyId: element.id }"
                                    matTooltip="Policy configuration" 
                                    matTooltipPosition="above" 
                                    matTooltipClass="guardian-tooltip"
                                    matTooltipShowDelay="500"
                                    matTooltipHideDelay="100">
                                    <mat-icon>edit</mat-icon>
                                </div>
                                <div *ngIf="element.status =='DRAFT'" class="btn-icon-delete"
                                    (click)="deletePolicy(element)" 
                                    matTooltip="Delete policy" 
                                    matTooltipPosition="above"
                                    matTooltipClass="guardian-tooltip"
                                    matTooltipShowDelay="500"
                                    matTooltipHideDelay="100">
                                    <mat-icon>delete</mat-icon>
                                </div>
                                <div *ngIf="element.status !='DRAFT'" class="btn-icon-delete-des">
                                    <mat-icon>delete</mat-icon>
                                </div>
                            </div>
                        </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
                </table>
            </div>
            <div class="table-paginator">
                <mat-paginator [length]="policyCount" [pageIndex]="pageIndex" [pageSize]="pageSize"
                    [pageSizeOptions]="[10, 25, 50, 100]" (page)="onPage($event)" aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
    </ng-container>
</div>
