<div class="page-content">
    <div class="content">
        <div class="header">
            <h1>{{ 'details.policy.header' | transloco }} {{id}}</h1>
            <div *ngIf="tags && tags.length > 0" class="tags-container">
                <div class="tag-item" *ngFor="let tag of tags" (click)="onOpenTag(tag)">
                    <span class="pi pi-tag primary-color"></span>
                    <div class="name">
                        {{ tag?.name || tag?.options?.name }}
                    </div>
                </div>
            </div>
        </div>
        @if (loading) {
        <div class="loading">
            <p-progressSpinner styleClass="custom-spinner" ariaLabel="loading" />
        </div>
        } @else {
        @if (row) {
        <p-tabView [activeIndex]="tabIndex" (activeIndexChange)="onTab($event)">
            @if (target) {
            <p-tabPanel [header]="'details.overview' | transloco">
                <app-overview-form [target]="target" [fields]="overviewFields"></app-overview-form>
            </p-tabPanel>

            <p-tabPanel [header]="'details.tabs.activity' | transloco">
                <app-activity [activity]="activityItems" [total]="totalActivity"></app-activity>
            </p-tabPanel>
            
            <p-tabPanel [header]="'details.relationships' | transloco">
                <div echarts [options]="chartOption" class="relationships-chart" (chartClick)="onSelect($event)">
                </div>
            </p-tabPanel>
            }
            <p-tabPanel [header]="'details.raw_data' | transloco">
                <div class="text-area-container">
                    <textarea [value]="row | json" readonly pInputTextarea>
                    </textarea>
                </div>
            </p-tabPanel>
            <p-tabPanel *ngIf="showOriginTab" [header]="'details.origin' | transloco">
                <app-compare [messageId]="id"></app-compare>
            </p-tabPanel>
            <p-tabPanel *ngIf="showDerivationsTab" [header]="'details.derivations' | transloco">
                <app-derivations [messageId]="id"></app-derivations>
            </p-tabPanel>
        </p-tabView>
        } @else {
        <div>{{ 'details.not_found' | transloco }}</div>
        }
        }
    </div>
</div>
