.loading {
    background: #fff;
    position: fixed;
    z-index: 99;
    top: var(--header-height-policy);
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.content {
    flex-wrap: nowrap;
    display: flex;
}

.content {
    box-shadow: 0px 3px 6px #00000020;
    background: #e5e5e5;
    display: inline-block;
    margin: 7px;
    padding: 10px 10px 6px 10px;
}

.content-name{
    display: inline-block;
    margin-right: 10px;
}

.content-select{
    display: inline-block;
    width: 190px;
}