.content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: block;
}
.loading {
    background: #fff;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

a {
    color: rgb(0, 0, 238);
    cursor: pointer;
    text-decoration: underline;
}

.schemes-table {
    width: 100%;
}

.g-btn {
    margin-left: 5px;
    margin-top: 12px;
}

.actions {
    position: relative;
    z-index: 1;
    margin-left: 35px;
}

.actions ::ng-deep button.mat-raised-button.mat-primary {
    margin: 12px 10px 0 10px;
}

.table-container {
    height: calc(100vh - var(--header-height) - 60px);
    overflow-y: auto;
    position: relative;
    z-index: 0;
}

.schema-status {
    font-weight: 500;
}

.status-DRAFT {
    color: #2196f3;
}

.status-PUBLISHED {
    color: #4caf50;
}

.status-UNPUBLISHED {
    color: #f44336;
}

.btn-approve {
    background: #4caf50;
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    padding: 2px 8px;
    margin: 0px 5px;
    cursor: pointer;
    font-weight: 500;
    width: 100px;
    text-align: center;
}

.btn-unpublished {
    background: #f44336;
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    padding: 2px 8px;
    margin: 0px 5px;
    cursor: pointer;
    font-weight: 500;
    width: 100px;
    text-align: center;
}


.btn-settings {
    color: #3f51b5;
    font-weight: 500;
    cursor: pointer;
    padding-left: 22px;
    position: relative;
    width: 125px;
    display: inline-block;
}
.btn-settings:hover {
    text-decoration: underline;
}

.btn-settings mat-icon {
    position: absolute;
    left: 0;
    top: -1px;
    font-size: 20px;
}

.btn-settings.btn-publish {
    color: #4caf50;
}

.btn-settings.btn-unpublish {
    color: #f44336;
}

.btn-settings.btn-delete {
    color: #f44336;
}

.schemes-table .mat-column-uuid,
.schemes-table .mat-column-type,
.schemes-table .mat-column-version,
.schemes-table .mat-column-entity {
    padding-left: 10px;
}

.schemes-table .mat-column-selected {
    width: 22px;
    border-right: 1px solid #dddddd;
    padding-left: 15px;
}

.schemes-table .mat-column-status {
    width: 125px;
    border-left: 1px solid #dddddd;
    padding-left: 10px;
}

.schemes-table .mat-column-operation {
    width: 135px;
    border-left: 1px solid #dddddd;
    padding-left: 10px;
}

.schemes-table .mat-column-document {
    width: 125px;
    padding-left: 10px;
    border-left: 1px solid #dddddd;
}

.schemes-table .mat-column-edit {
    width: 70px;
    padding-left: 10px;
}

.schemes-table .mat-column-delete {
    width: 90px;
    padding-left: 10px;
}

.schemes-table .mat-column-export {
    width: 110px;
    border-left: 1px solid #dddddd;
    padding-left: 10px;
}

.not-exist {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: darkgrey;
}