<div class="content">
    <div *ngIf="loading" class="loading">
        <mat-spinner></mat-spinner>
    </div>

    <ng-container *ngIf="!isConfirmed">
        <div class="not-exist">
            Before starting work you need to get DID <a [routerLink]="['/profile']">here</a>
        </div>
    </ng-container>

    <ng-container *ngIf="isConfirmed && policyId && !policy">
        <div class="not-exist" *ngIf="!policy">
            Policy doesn't exist
        </div>
    </ng-container>

    <ng-container *ngIf="isConfirmed && policyId && policy">
        <div class="policy-header">
            <a routerLink="/policy-viewer" class="go-back-link">
                <mat-icon>chevron_left</mat-icon>
                ID: {{policy.id}}
            </a>
            <span *ngIf="policyInfo && policyInfo.name">NAME: {{policyInfo.name}}</span>
            <span *ngIf="policyInfo && policyInfo.version">VERSION: {{policyInfo.version}}</span>
            <span *ngIf="policyInfo && policyInfo.description">DESCRIPTION: {{policyInfo.description}}</span>
        </div>
        <div class="policy-container">
            <render-block [block]="policy" [policyId]="policyId"></render-block>
        </div>
    </ng-container>

    <ng-container *ngIf="isConfirmed && !policyId && policies">
        <div *ngIf="role == 'ROOT_AUTHORITY'" class="actions">
            <button mat-raised-button color="primary" (click)="newPolicy()" style="margin: 15px;min-width: 100px">Create Policy</button>
            <button mat-raised-button color="primary" (click)="importPolicy()" style="margin: 15px;min-width: 100px">Import</button>
        </div>
        <div class="table-container">
            <table mat-table [dataSource]="policies" class="table">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Hedera Topic Id </th>
                    <td mat-cell *matCellDef="let element">
                        <a [href]="element.topicURL">{{element.topicId}}</a>
                    </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Policy Name </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.name }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="version">
                    <th mat-header-cell *matHeaderCellDef> Version </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.version }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Description </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.description }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.status =='DRAFT'" class="status-draft">Draft</span>
                        <span *ngIf="element.status =='PUBLISH'" class="status-publish">Publish</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="export">
                    <th mat-header-cell *matHeaderCellDef> Export </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="btn-settings" (click)="exportPolicy(element)">
                            <mat-icon>import_export</mat-icon>
                            <span>Export</span>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef> Edit </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element.status =='DRAFT'" class="btn-settings" [routerLink]="['/policy-configuration']"
                            [queryParams]="{ policyId: element.id }">
                            <mat-icon>settings</mat-icon>
                            <span>Edit</span>
                        </div>
                        <div *ngIf="element.status =='PUBLISH'" class="btn-settings" [routerLink]="['/policy-configuration']"
                            [queryParams]="{ policyId: element.id }">
                            <mat-icon>settings</mat-icon>
                            <span>View</span>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="open">
                    <th mat-header-cell *matHeaderCellDef> Open </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element.status =='PUBLISH'" class="btn-settings" [routerLink]="['/policy-viewer']"
                            [queryParams]="{ policyId: element.id }">
                            <mat-icon>login</mat-icon>
                            <span>Open</span>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="operation">
                    <th mat-header-cell *matHeaderCellDef> Operation </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element.status =='DRAFT'" class="btn-approve" (click)="publish(element)">Publish</div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
        </div>
    </ng-container>
</div>