.content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: block;
}

.loading {
    background: #fff;
    position: fixed;
    z-index: 99;
    top: var(--header-height);
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.table {
    width: 100%;
}

.btn-approve {
    background: #4caf50;
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    padding: 2px 8px;
    margin: 0px 5px;
    cursor: pointer;
    font-weight: 500;
    width: 74px;
    text-align: center;
}

.btn-draft {
    background: #2196f3;
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    padding: 2px 8px;
    margin: 0px 5px;
    cursor: pointer;
    font-weight: 500;
    width: 74px;
    text-align: center;
}


.status-draft {
    font-weight: 500;
    color: #2196f3;
}

.status-publish {
    font-weight: 500;
    color: #4caf50;
}

.status-invalid {
    font-weight: 500;
    color: #ff0000;
}

.btn-settings {
    color: #3f51b5;
    font-weight: 500;
    cursor: pointer;
    padding-left: 22px;
    position: relative;
    width: 40px;
    display: inline-block;
}

.btn-settings:hover {
    text-decoration: underline;
}

.btn-settings mat-icon {
    position: absolute;
    left: 0;
    top: -1px;
    font-size: 20px;
}

.table .mat-column-export {
    width: 110px;
}

.table .mat-column-edit {
    width: 110px;
}

.table .mat-column-open {
    width: 110px;
}

.table .mat-column-operation {
    width: 200px;
}

.table .mat-column-status {
    width: 110px;
}

.not-exist {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: darkgrey;
}

a.go-back-link {
    text-decoration: none;
    color: #707070;
    padding: 5px 30px 5px 26px;
}

a.go-back-link mat-icon {
    color: #707070;
    position: absolute;
    top: 12px;
    left: 10px;
    font-size: 30px;
}

.policy-header {
    position: fixed;
    top: 125px;
    left: 0;
    right: 0;
    height: 50px;
    color: #707070;
    border-bottom: 1px solid #f7f7f7;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 50%);
    z-index: 100;
    background: #ffffff;
    padding: 12px 30px;
    font-size: 20px;
}

.policy-container {
    position: absolute;
    left: 0;
    top: 50px;
    right: 0;
    bottom: 0;
}

.policy-header span {
    margin-right: 30px;
    height: 30px;
    padding: 5px 0px;
    box-sizing: border-box;
}


.table-container .mat-column-name {
    padding-left: 24px;
}

.table-container .mat-column-schemas,
.table-container .mat-column-topic,
.table-container .mat-column-version,
.table-container .mat-column-description,
.table-container .mat-column-status,
.table-container .mat-column-export,
.table-container .mat-column-edit,
.table-container .mat-column-open,
.table-container .mat-column-operation {
    padding-left: 8px;
}

.table-container .mat-column-topic {
    width: 135px;
    max-width: 135px;
}

.table-container .mat-column-export {
    width: 120px;
    max-width: 120px;
}

.table-container .mat-column-edit,
.table-container .mat-column-open {
    width: 100px;
    max-width: 100px;
}

.actions-container {
    display: none;
    z-index: 1;
}

.table-container {
    max-height: calc(100vh - var(--header-height) - 100px);
    min-height: 100px;
    overflow-y: auto;
    position: relative;
    z-index: 0;
}

.table-container[role='STANDARD_REGISTRY'],
.table-container[role='ROOT_AUTHORITY'] {
    max-height: calc(100vh - var(--header-height) - 170px);
}

.actions-container[role='STANDARD_REGISTRY'],
.actions-container[role='ROOT_AUTHORITY'] {
    display: block;
}

.table-paginator {
    height: 60px;
    border-top: 1px solid #eee;
    margin-top: 5px;
}

.current-user-role {
    float: right;
}

.debug-user {
    padding: 10px;
    cursor: pointer;
}

.debug-user[active='true'] {
    background: #f2f9ff;
}

.new-debug-user {
    padding: 10px;
    cursor: pointer;
    color: rgb(0, 0, 238);
    cursor: pointer;
    text-decoration: underline;
    font-size: 16px;
}

.debug-user-name {
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    margin-bottom: 2px;
}

.debug-user-did {
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    margin-bottom: 2px;
    color: #3c3c3c;
}

.dry-run-panel {
    cursor: pointer;
    position: relative;
}