<div class="content" [hidden]="!isActive">
    <div *ngIf="loading" class="loading">
        <mat-spinner></mat-spinner>
    </div>
    <div>
        <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
            <div class="title">{{title}}</div>
            <div class="description">
                {{description}}
            </div>
            <div class="roles-form">

                <div *ngIf="!isGroup" class="role-value">
                    <mat-form-field appearance="outline">
                        <mat-label>Role</mat-label>
                        <mat-select formControlName="roleOrGroup">
                            <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <mat-radio-group *ngIf="isGroup" aria-label="Select an option" [value]="type">
                    <div>
                        <div class="group-name">
                            <mat-radio-button value="new" color="primary" (change)="onChange($event)">Create new group
                            </mat-radio-button>
                        </div>
                        <div class="group-value" [attr.disabled]="type!=='new'">
                            <mat-form-field appearance="outline">
                                <mat-label>Group Template</mat-label>
                                <mat-select formControlName="roleOrGroup">
                                    <mat-option *ngFor="let group of groups" [value]="group">{{group}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Group Label</mat-label>
                                <input matInput formControlName="groupLabel">
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <div class="group-name">
                            <mat-radio-button value="invite" color="primary" (change)="onChange($event)">
                                Accept invitation
                            </mat-radio-button>
                        </div>
                        <div class="group-value" [attr.disabled]="type!=='invite'">
                            <div *ngIf="policyName" style="margin-bottom: 15px;color: #707070">
                                <span>Policy: </span>
                                <span>{{policyName}}</span>
                            </div>
                            <div *ngIf="groupName" style="margin-bottom: 15px;color: #707070">
                                <span>Group: </span>
                                <span>{{groupName}}</span>
                            </div>
                            <div *ngIf="groupLabel" style="margin-bottom: 15px;color: #707070">
                                <span>Label: </span>
                                <span>{{groupLabel}}</span>
                            </div>
                            <div *ngIf="inviteRole" style="margin-bottom: 15px;color: #707070">
                                <span>Role: </span>
                                <span>{{inviteRole}}</span>
                            </div>
                            <mat-form-field appearance="outline">
                                <mat-label>Invite</mat-label>
                                <input matInput formControlName="invitation" (ngModelChange)="onParse($event)">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-radio-group>
            </div>
            <div class="btn-form">
                <button mat-raised-button color="primary" type="submit" [disabled]="!roleForm.valid">Ok</button>
            </div>
        </form>
    </div>
</div>