form {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
    color: #5a5a5a;
}

.context {
    min-height: 290px;
    margin-bottom: 25px;
}

.custom-fields-row {
    display: flex;
    margin-bottom: 8px;
    height: 60px;
}

.custom-fields-name {
    width: 238px;
    margin-right: 12px;
    height: 60px;
}

.fields {
    padding-top: 12px;
    padding-bottom: 38px;
}

.custom-fields-type {
    width: 200px;
    height: 60px;
}

.custom-fields-row {
    display: flex;
    margin-bottom: 8px;
    height: 60px;
}

.custom-fields-row mat-form-field {
    width: 100%;
}


.default-fields-row {
    display: flex;
    margin-bottom: 8px;
    height: 60px;
}

.default-fields-name {
    width: 238px;
    margin-right: 12px;
    height: 60px;
}


.default-fields-type {
    width: 200px;
    height: 60px;
}

.default-fields-row {
    display: flex;
    margin-bottom: 8px;
    height: 60px;
}

.default-fields-row mat-form-field {
    width: 100%;
}

.custom-fields-remove {
    width: 24px;
    height: 36px;
    margin: 0px 20px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    display: flex;
    color: #f00;
    cursor: pointer;
    font-size: 25px;
}
.custom-fields-remove mat-icon {
    font-size: 30px;
}

.custom-field {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 6px;
    column-gap: 14px;
    position: relative;
    margin-bottom: 30px;
}

.custom-field-name {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 65px;
    margin-bottom: 5px;
    margin-right: 65px;
    flex: 100%;
}

.custom-field-remove {
    position: absolute;
    right: 3px;
    top: 7px;
    z-index: 1;
}
.custom-field-type {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 65px;
    flex: 35;
    padding: 0;
    margin: 0;
}

.custom-field-required {
    flex: 25;
    padding: 15px 20px;
    margin: 3px 0 0 0;
    border: 1px solid #e9e9e9;
    border-radius: 6px;
    height: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
}

.custom-field-isArray {
    flex: 32;
    padding: 15px 20px;
    margin: 3px 0 0 0;
    border: 1px solid #e9e9e9;
    border-radius: 6px;
    height: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
}

.optional-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
}

.optional-row > * {
    flex: 1;
}

.delimiter {
    padding: 55px 55px;
    width: 100%;
    height: 110px;
    box-sizing: border-box;
    position: relative;
}

.delimiter::after {
    content: '';
    position: absolute;
    height: 2px;
    top: 55px;
    left: 250px;
    right: 250px;
    border-top: 1px solid #c8c8c8;
}


.add-btn {
    color: var(--button-primary-color);
    margin-bottom: 5px;
    height: 56px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    position: relative;
    padding: 15px;
    text-align: center;
    margin-top: 12px;
}

.add-btn:hover {
    background: #fbfbfb;
}

.add-btn span {
    display: inline-block;
    position: relative;
    padding: 3px 30px;
    height: 24px;
    box-sizing: border-box;
    font-size: 16px;
}

.add-btn span * {
    position: absolute;
    left: 0;
    top: 0;
}

*[disabled='true'] {
    pointer-events: none;
}