.hedera-link {
  font-family: Inter, sans-serif;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 500 !important;
  color: var(--color-primary);
  text-decoration: none;
  border-bottom: 1px solid var(--color-primary);
  text-transform: capitalize;
}
