.container {
  display: flex;
  justify-content: space-between;
  padding-right: 14px;
}

.container button {
  margin-top: 5px;
  margin-left: 10px;
  min-width: 280px;
}

.schema-field {
  flex: 1;
}

:host .content {
  max-height: 400px;
}

.policy-header {
  height: 44px;
  font-size: 34px;
  display: block;
  padding: 12px;
  box-sizing: border-box;
  text-align: center;
  color: #000;
}

.field-value {
  color: #181818;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 24px;
  max-width: 600px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.field-name {
  color: #181818;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}

.field {
  margin-top: 5px;
  margin-bottom: 28px;
}

.field-last {
  margin-bottom: 0px;
}

.loading {
  background: #fff;
  position: absolute;
  z-index: 99;
  border-radius: 16px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
}


.action-buttons {
  display: flex;
}

.copy-button {
  margin-left: auto;
  margin-right: 15px;
}

::ng-deep {
  .p-button {
    border-radius: 8px;
  }
}

.dialog-footer {
}

.form-label {
  color: #181818;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

.dialog-body {
  height: 40vh;
  overflow-y: auto;
}

::ng-deep {
  .p-dialog-title {
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
  }

  .p-dialog {
    box-shadow: none;
  }

  .p-dialog-header {
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
  }

  .p-dialog-content {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}
