@if (type == 'selector' && visible) {
  <div class="content" [attr.readonly-block]="readonly">
    @for (option of options; track option) {
      @if (option.name) {
        <div class="btn-option {{option.uiClass}}" (click)="onSelect(option.value)">
          {{ option.name }}
        </div>
      }
    }
  </div>
}

@if (type == 'download') {
  <div class="content" [attr.readonly-block]="readonly">
    <div class="btn-link" (click)="onDownload()">{{ content }}</div>
  </div>
}

@if (type == 'dropdown') {
  <div class="content-dropdown" [attr.readonly-block]="readonly">
    <p-select
      class="guardian-dropdown"
      panelStyleClass="guardian-dropdown-panel"
      [(ngModel)]="currentValue"
      [options]="options"
      optionLabel="name"
      (onChange)="onDropdown()"
      placeholder="Select"
      [appendTo]="'body'"
      >
    </p-select>
  </div>
}

@if (type == 'transformation') {
  <div class="content" [attr.readonly-block]="readonly">
    <p-button
      (click)="onTransformation()"
      class="transformation-button"
      [disabled]="buttonLoading"
      >
      {{ title }}
    </p-button>
  </div>
}

<ng-template #preloader>
  <div class="preloader-image"></div>
</ng-template>

@if (loading) {
  <div class="loading">
    <div class="preloader-image preloader-image-l-size"></div>
  </div>
}
