.text-editor {
    border: 1px solid #e9e9e9;
    min-height: 200px;
    max-height: 200px;
    overflow-y: scroll;
    position: relative;
    background: linear-gradient(to right, #f7f7f7 29px, #dddddd 29px 30px,white 30px 100% );
}

.enum-import-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.enum-input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.enum-import-url {
    flex: 1;
}

.enum-import-button {
    margin-top: 5px;
}

.loading {
    background: #fff;
    z-index: 99;
    margin: 0 auto;
}

:host .g-dialog-actions-btn {
    min-width: 150px !important;
}

.enum-load-to-ipfs {
    color: rgb(100 100 100);
}

.enum-label {
    color: var(--primary-color);
    font-size: 20px;
    letter-spacing: 1.5px;
}