<!-- UI Prop -->
<table class="properties" [attr.readonly]="readonly" *ngIf="properties">
    <tr class="propRow">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Data Type</td>
        <td class="propRowCell">
            <p-dropdown
                [(ngModel)]="properties.dataType"
                [disabled]="readonly"
                (onChange)="onSave()"
                placeholder="Select a data type"
                [options]="dataTypeOptions"
                appendTo="body"
            >
            </p-dropdown>

        </td>
    </tr>
    <tr class="propRow">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Schema</td>
        <td class="propRowCell">
            <select-schema
                [schemas]="schemas"
                [(value)]="properties.schema"
                [disabled]="readonly"
                (change)="onSave()"
            ></select-schema>
        </td>
    </tr>

    <tr class="propRow">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Owned by User</td>
        <td class="propRowCell">
            <input class="prop-input" type="checkbox" [(ngModel)]="properties.onlyOwnDocuments" [readonly]="readonly"
                   (blur)="onSave()">
        </td>
    </tr>
    <tr class="propRow">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Owned by Group</td>
        <td class="propRowCell">
            <input class="prop-input" type="checkbox" [(ngModel)]="properties.onlyOwnByGroupDocuments"
                   [readonly]="readonly" (blur)="onSave()">
        </td>
    </tr>
    <tr class="propRow">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Assigned to User</td>
        <td class="propRowCell">
            <input class="prop-input" type="checkbox" [(ngModel)]="properties.onlyAssignDocuments" [readonly]="readonly"
                   (blur)="onSave()">
        </td>
    </tr>
    <tr class="propRow">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Assigned to Group</td>
        <td class="propRowCell">
            <input class="prop-input" type="checkbox" [(ngModel)]="properties.onlyAssignByGroupDocuments"
                   [readonly]="readonly" (blur)="onSave()">
        </td>
    </tr>
    <tr class="propRow">
        <td class="propRowCol multi-line"></td>
        <td class="propRowCell multi-line cellName">Hide previous versions</td>
        <td class="propRowCell multi-line">
            <input class="prop-input" type="checkbox" [(ngModel)]="properties.hidePreviousVersions"
                   [readonly]="readonly" (blur)="onSave()">
        </td>
    </tr>
    <tr class="propRow">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Order Field</td>
        <td class="propRowCell">
            <input class="prop-input" [(ngModel)]="properties.orderField" [readonly]="readonly" (blur)="onSave()">
        </td>
    </tr>
    <tr class="propRow">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Order Direction</td>
        <td class="propRowCell">
            <p-dropdown
                [(ngModel)]="properties.orderDirection"
                [disabled]="readonly"
                (onChange)="onSave()"
                placeholder="Select order direction"
                [options]="orderDirectionOptions"
                appendTo="body"
            >
            </p-dropdown>
        </td>
    </tr>

    <tr class="propHeader">
        <td class="propRowCol cellCollapse" (click)="onHide(propHidden, 'filtersGroup')"
            [attr.collapse]="propHidden.filtersGroup">
            <i class="pi pi-caret-down"></i>
        </td>
        <td class="propHeaderCell cellName">Filters</td>
        <td class="propHeaderCell">
            <div class="propAdd" (click)="addField()">
                <i class="pi pi-plus"></i>
                <span>Add Field</span>
            </div>
        </td>
    </tr>
    <ng-container *ngFor="let field of properties.filters; let i=index">
        <tr class="propRow" [attr.collapse]="propHidden.filtersGroup">
            <td class="propRowCol cellCollapse" (click)="onHide(propHidden.filters, i)"
                [attr.collapse]="propHidden.filters[i]">
                <i class="pi pi-caret-down"></i>
            </td>
            <td class="propRowCell cellName">Field {{ i }}</td>
            <td class="propRowCell">
                <span *ngIf="field.field&&field.type&&field.value"
                      [title]="field.field + ' ' + field.type + ' ' + field.value" class="not-editable-text">
                    {{ field.field }} {{ field.type }} {{ field.value }}
                </span>
                <span class="remove-prop" [attr.readonly]="readonly" (click)="removeField(i)">
                    <i class="pi pi-trash"></i>
                </span>
            </td>
        </tr>
        <tr class="propRow subRow" [attr.collapse]="propHidden.filtersGroup || propHidden.filters[i]">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Type</td>
            <td class="propRowCell">
                <p-dropdown
                    [(ngModel)]="field.type"
                    [disabled]="readonly"
                    (onChange)="onSave()"
                    [appendTo]="'body'"
                    placeholder="Select a condition"
                    [options]="fieldTypeOptions"
                    appendTo="body"
                >
                </p-dropdown>
            </td>
        </tr>
        <tr class="propRow subRow" [attr.collapse]="propHidden.filtersGroup || propHidden.filters[i]">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Field</td>
            <td class="propRowCell field">
                <document-path [(value)]="field.field" [readonly]="readonly" (change)="onSave()"></document-path>
            </td>
        </tr>
        <tr class="propRow subRow" [attr.collapse]="propHidden.filtersGroup || propHidden.filters[i]">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Value</td>
            <td class="propRowCell">
                <input class="prop-input" [(ngModel)]="field.value" [readonly]="readonly" (blur)="onSave()">
            </td>
        </tr>
    </ng-container>
</table>
