<!-- UI Prop -->
<table class="properties" [attr.readonly]="readonly" *ngIf="block">
    <tr class="propHeader">
        <td class="propRowCol" (click)="onHide(propHidden, 'main')" [attr.collapse]="propHidden.main">
            <mat-icon>expand_more</mat-icon>
        </td>
        <td class="propHeaderCell cellName">UI</td>
        <td class="propHeaderCell"></td>
    </tr>
    <tr class="propRow" [attr.collapse]="propHidden.main">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Token</td>
        <td class="propRowCell">
            <mat-select [(value)]="block.tokenId" [disabled]="readonly">
                <mat-option *ngFor="let token of tokens" [value]="token.tokenId">{{token.tokenName}}</mat-option>
            </mat-select>
        </td>
    </tr>
    <tr class="propRow" [attr.collapse]="propHidden.main">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Rule</td>
        <td class="propRowCell">
            <input [(ngModel)]="block.rule" [readonly]="readonly">
        </td>
    </tr>
    <tr class="propRow" [attr.collapse]="propHidden.main">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Account Type</td>
        <td class="propRowCell">
            <mat-select [(value)]="block.accountType" [disabled]="readonly">
                <mat-option value="default">Default</mat-option>
                <mat-option value="custom">Custom</mat-option>
            </mat-select>
        </td>
    </tr>
    <tr *ngIf="block.accountType==='custom'" class="propRow" [attr.collapse]="propHidden.main">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Account Id (Field)</td>
        <td class="propRowCell">
            <input [(ngModel)]="block.accountId" [readonly]="readonly">
        </td>
    </tr>
</table>