.container {
    display: flex;
    justify-content: space-between;
    padding-right: 14px;
}

.container button {
    margin-top: 5px;
    margin-left: 10px;
    min-width: 280px;
}

:host .content {
    max-height: 400px;
}

.loading {
    background: #fff;
    position: absolute;
    z-index: 99;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.g-dialog-title-btn mat-icon {
    position: absolute;
    font-size: 32px;
    top: 7px;
    left: 7px;
    color: #646464;
}

.search-result {
    display: grid;
    grid-template-columns: 100px 240px 100px 260px 50px;
}

.search-result>div {
    overflow: hidden;
    padding: 5px 10px 5px 5px;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
}