.custom-field {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 6px;
    column-gap: 14px;
    position: relative;
    margin-bottom: 0px;

    padding: 15px;
    border: 1px solid #c5c5c5;
    border-radius: 6px;
    margin-bottom: 30px;
    box-shadow: 3px 3px 6px 0px #00000025;
    box-sizing: border-box;
}

.custom-field-name {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 65px;
    margin-bottom: 5px;
    margin-right: 65px;
    flex: 100%;
}

.custom-field-type {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 65px;
    flex: 24;
    padding: 0;
    margin: 0;
}

.custom-field-unit {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 65px;
    flex: 10;
    padding: 0;
    margin: 0;
}

.custom-field-required {
    flex: 14;
    padding: 15px 20px;
    margin: 3px 0 0 0;
    border: 1px solid #e9e9e9;
    border-radius: 6px;
    height: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
}

.custom-field-isArray {
    flex: 22;
    padding: 15px 20px;
    margin: 3px 0 0 0;
    border: 1px solid #e9e9e9;
    border-radius: 6px;
    height: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
}

.custom-field-remove {

}

.custom-fields-remove {
    width: 24px;
    height: 36px;
    margin: 0px 20px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    display: flex;
    color: #f00;
    cursor: pointer;
    font-size: 25px;
}

.custom-fields-remove mat-icon {
    font-size: 30px;
}

.extended-config {
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
    width: 100%;
}

.f1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0px 10px 10px 0px;
    display: none;
}

.f2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0px 0px 10px 10px;
    display: none;
}

.f3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0px 0px 10px 0px;
}

.f4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0px 0px 0px 0px;
    top: 10px;
    right: 5px;
    position: relative;
}


*[extended='true'] .f1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0px 10px 10px 0px;
    display: flex;
}

*[extended='true'] .f2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0px 0px 10px 10px;
    display: flex;
}

*[extended='true'] .f3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0px 0px 10px 0px;
}

*[extended='true'] .f4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0px 0px 0px 0px;
    top: 10px;
    right: 5px;
    position: relative;
}