.custom-field {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 6px;
    column-gap: 14px;
    position: relative;
    margin-bottom: 0px;

    padding: 15px;
    border: 1px solid #c5c5c5;
    border-radius: 6px;
    margin-bottom: 30px;
    box-shadow: 3px 3px 6px 0px #00000025;
    box-sizing: border-box;
}

.custom-field-name {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 65px;
    margin-bottom: 5px;
    margin-right: 65px;
    flex: 100%;
}

.custom-field-type {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 65px;
    flex: 24;
    padding: 0;
    margin: 0;
}

.custom-field-unit {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 65px;
    flex: 10;
    padding: 0;
    margin: 0;
}

.custom-field-required,
.custom-field-bold,
.custom-field-private {
    flex: 14;
    padding: 15px 20px;
    margin: 3px 0 0 0;
    border: 1px solid #e9e9e9;
    border-radius: 6px;
    height: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
}

.custom-field-private {
    flex: 8;
}

.custom-field-bold {
    flex: 5;
}

.custom-field-isArray {
    flex: 22;
    padding: 15px 20px;
    margin: 3px 0 0 0;
    border: 1px solid #e9e9e9;
    border-radius: 6px;
    height: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
}

.custom-field-remove {

}

.custom-fields-remove {
    width: 24px;
    height: 36px;
    margin: 0px 20px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    display: flex;
    color: #f00;
    cursor: pointer;
    font-size: 25px;
}

.custom-fields-remove mat-icon {
    font-size: 30px;
}

.extended-config {
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
    width: 100%;
}

.f1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0px 10px 10px 0px;
    display: none;
}

.f2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0px 0px 10px 10px;
    display: none;
}

.f3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0px 0px 10px 0px;
}

.f4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0px 0px 0px 0px;
    top: 10px;
    right: 5px;
    position: relative;
}


*[extended='true'] .f1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0px 10px 10px 0px;
    display: flex;
}

*[extended='true'] .f2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0px 0px 10px 10px;
    display: flex;
}

*[extended='true'] .f3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0px 0px 10px 0px;
}

*[extended='true'] .f4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0px 0px 0px 0px;
    top: 10px;
    right: 5px;
    position: relative;
}

.error-message {
    color: red;
}

.enum-options-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    overflow: hidden;
}

.enum-options-container .enum-form-field {
    flex: 1;
    pointer-events: none;
}

.enum-options-container .enum-edit-button-only {
    flex: 1;
    padding: 15px 27px;
}

.enum-edit-button, .reset-btn {
    color: var(--primary-color);
    padding: 18px 27px;
    border: 1px solid #e9e9e9;
    border-radius: 6px;
    margin-bottom: 11px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    justify-content: center;
}

.reset-btn {
    padding: 17px 15px;
    margin-top: 3px;
}

.mat-chip-value-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

.enum-form-field .mat-chip-value {
    max-width: 95px;
    min-width: 95px;
}

:host ::ng-deep .enum-options-container .mat-form-field-infix {
    padding: 10px 0;
}

:host ::ng-deep .enum-form-field mat-chip-list .mat-chip-list-wrapper {
    overflow-x: hidden;
    flex-wrap: unset;
}

.loading {
    display: flex;
    width: 100%;
    justify-content: center;
}

.enum-edit-button-label, .reset-btn-label {
    white-space: nowrap;
}

.readonly-extended-config {
    display: grid;
    grid-template-columns: 1fr 1fr 0px;
    width: 100%;
}

:host .custom-field-color ::ng-deep div.mat-form-field-infix {
    padding: 12px 0;
}

:host .custom-field-font-size ::ng-deep div.mat-form-field-suffix {
    top: 0px;
}

:host .custom-field-font-size ::ng-deep div.mat-form-field-prefix {
    top: 7px;
}

:host .custom-field-color ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translate(-23px, -25px) scale(0.75);
}

:host .custom-field-font-size ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translate(-5px, -25px) scale(0.75);
    margin-top: -5px;
    margin-left: 0px;
}

:host .custom-field-color ::ng-deep span.mat-form-field-label-wrapper,
:host .custom-field-font-size ::ng-deep span.mat-form-field-label-wrapper {
    overflow: visible;
}

.custom-field-color,
.custom-field-font-size {
    flex: 8;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 65px;
    padding: 0;
    margin: 0;
}

.custom-field-font-size {
    flex: 10;
}

:host .custom-field-font-size ::ng-deep .mat-form-field-empty.mat-form-field-label {
    margin-top: 0px;
    margin-left: 5px;
}

:host .custom-field-font-size ::ng-deep .mat-form-field-outline-start {
    width: 24px !important;
}

.custom-help-text {
    width: 100%;
}

.custom-help-text .example-full-width {
    width: 100%;
}

.custom-field-help-text {
    height: auto;
}