form {
    display: flex;
    flex-direction: column;
    width: 100%;
    // min-height: 400px;
    position: relative;

    .guardian-accordion-container {
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    .group-header,
    .group-multiple-header {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        text-align: left;
        margin-bottom: 16px;
        padding-left: 2px;
        color: #848FA9;
    }

    .schema-form-field-array-group {
        .form-field-array-item {
            display: block;
            width: 100%;
            position: relative;
            border: 1px solid #E1E7EF;
            padding: 16px;
            border-radius: 8px;
            margin-bottom: 24px;

            .form-field-array-item-index {
                font-family: Poppins;
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                text-align: left;
                margin-bottom: 24px;
                padding-left: 2px;
                display: block;
            }
        }
    }

    .form-field-container {
        margin-bottom: 24px;

        &:last-child {
            margin-bottom: 0px;
        }

        .label-field {
            font-family: Poppins;
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            text-align: left;
            margin-bottom: 24px;
            padding-left: 2px;

            &.help-text {
                margin-bottom: 0px;
            }
        }

        .form-field {
            display: block;
            width: 100%;
            position: relative;
            background: #F9FAFC;
            border: 1px solid #E1E7EF;
            padding: 16px;
            border-radius: 8px;
        }

        .form-field-array {
            display: block;
            width: 100%;
            position: relative;
            background: #F9FAFC;
            border: 1px solid #E1E7EF;
            padding: 16px;
            border-radius: 8px;
        }

        .form-field-group {
            display: block;
            width: 100%;
            position: relative;

            .remove-btn {
                margin-top: 24px;
            }
        }

        .sub-schema-geo,
        .sub-schema-sentinel {
            display: block;
            width: 100%;
            position: relative;
            background: #F9FAFC;
            border: 1px solid #E1E7EF;
            padding: 16px;
            border-radius: 8px;
        }

        .form-field-sub-group {
            display: block;
            width: 100%;
            position: relative;
            margin-bottom: 24px;
        }

        .schema-form-field-array-group {
            display: block;
            width: 100%;
            position: relative;
            box-sizing: border-box;
        }

        .form-field-value {
            display: flex;
            width: 100%;
            flex-direction: row;

            .form-field-prefix {
                padding: 0px 14px 0px 2px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 20px;
            }

            .form-field-input {
                height: 40px;
                position: relative;
            }

            .form-field-textarea {
                position: relative;
            }

            .form-field-boolean {
                position: relative;
                height: auto;
            }

            .form-field-postfix {
                padding: 0px 2px 0px 14px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 20px;
            }
        }

        .form-field-array-item {
            display: flex;
            flex-direction: row;
            width: 100%;
        }
    }
}

*[readonly] {
    opacity: 0.6 !important;
    cursor: not-allowed !important;
}

.guardian-accordion-container::ng-deep .guardian-accordion-container {
    background: #F9FAFC;
}

:host ::ng-deep .form-field-table {
    width: 100%;
}
