form {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    min-height: 400px;
    padding: 0 10px;
}

hr {
    border: 1px solid var(--color-grey-3);
    margin-bottom: 20px;
}

.loading {
    background: #fff;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.group-label {
    color: rgba(0, 0, 0, .6);
}

.group-form {
    margin-left: 16px;
    margin-top: 10px;
}

.form-field {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

.form-field mat-form-field {
    width: 100%;
}

.form-field-group,
.form-field-array {
    display: block;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.group-label,
.array-label {
    color: rgba(0, 0, 0, .6);
    background: #fff;
    top: -10px;
    left: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.form-field-array-item {
    padding-right: 5px;
    position: relative;
    display: table;
    width: 100%;
    box-sizing: border-box;
    min-height: 50px;
}

.group-label {
    color: gray;
    font-size: 14px;
}

.label-field {
    color: var(--color-grey-black-1, #181818);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    margin-bottom: 12px;
}

.label-header {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 500;
}

.short-delimiter-container {
    width: 50%;
    margin: 0 auto;
}

:host .mat-input-element {
    font-size: 18px;
}

:host ::ng-deep mat-radio-button {
    margin-right: 20px;
}

.form-field-array-item>.form-field-group {
    padding-left: 16px;
}

.schema-form-field-array-group>.form-field-array-item>.form-field-group,
.form-field-array-item>.schema-form-field-group {
    border-left: 2px solid var(--color-grey-3);
}

.form-field-group>.form-field-array-item {
    padding-right: 0;
}

:host mat-form-field {
    cursor: not-allowed;
}

.issuer-option {
    padding-left: 42px;
    border-left: 2px dashed #c8c8c8;
    padding-top: 5px;
    margin-top: 20px;
}

.preloader-image {
    width: 16px;
    height: 16px;
    border-top: 3px solid var(--color-primary);
    border-left: 3px solid rgba(0, 0, 0, 0);
    border-right: 3px solid rgba(0, 0, 0, 0);
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    border-radius: 100%;
    filter: brightness(100%);
    animation-name: preloaderRotationColored;
    animation-duration: 7.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.form-input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.p-field-label {
    color: var(--color-grey-black-1, #181818);
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    margin-bottom: 6px;
}

.p-field-input {
    border-radius: 8px;
    border: 1px solid var(--color-grey-3, #E1E7EF);
    background: var(--color-grey-white, #FFF);
    outline: none !important;
    box-shadow: unset !important;
    padding: 12px 0 12px 16px;
    align-items: center;
    align-self: stretch;
    transition: border 0.25s ease-in-out;
    box-sizing: border-box;
    resize: vertical;

    color: var(--color-grey-black-1, #181818);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.preloader-image-l-size {
    width: 56px;
    height: 56px;
}

@keyframes preloaderRotationColored {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    25% {
        transform: rotate(360deg);
        border-top: 3px solid rgba(0, 0, 0, 0);
        border-right: 3px solid var(--color-primary);
        border-left: 3px solid rgba(0, 0, 0, 0);
        border-bottom: 3px solid rgba(0, 0, 0, 0);
    }
    50% {
        transform: rotate(720deg);
        border-top: 3px solid rgba(0, 0, 0, 0);
        border-left: 3px solid rgba(0, 0, 0, 0);
        border-bottom: 3px solid var(--color-primary);
        border-right: 3px solid rgba(0, 0, 0, 0);
    }
    75% {
        transform: rotate(1080deg);
        border-top: 3px solid rgba(0, 0, 0, 0);
        border-bottom: 3px solid rgba(0, 0, 0, 0);
        border-right: 3px solid rgba(0, 0, 0, 0);
        border-left: 3px solid var(--color-primary);
    }
    100% {
        transform: rotate(1440deg);
        border-top: 3px solid var(--color-primary);
        border-left: 3px solid rgba(0, 0, 0, 0);
        border-right: 3px solid rgba(0, 0, 0, 0);
        border-bottom: 3px solid rgba(0, 0, 0, 0);
    }
}
