MQ_ADDRESS="message-broker"
SERVICE_CHANNEL="policy-service"
DB_HOST="mongo"
DB_DATABASE="guardian_db"
HEDERA_NET="testnet"
MESSAGE_LANG="en-US"
#LOG_LEVEL="2"
#MQ_MESSAGE_CHUNK=5000000

# Vault Secret Manager Configs
VAULT_API_VERSION=v1
VAULT_ADDRESS=https://vault:8200

VAULT_CA_CERT=tls/vault/client/ca.crt
VAULT_CLIENT_CERT=tls/vault/client/tls.crt
VAULT_CLIENT_KEY=tls/vault/client/tls.key

VAULT_APPROLE_ROLE_ID=
VAULT_APPROLE_SECRET_ID=

# AWS Secret Manager Configs
AWS_REGION=