.loading {
    background: var(--guardian-grey-background, #f9fafc);
    position: fixed;
    z-index: 99;
    top: 0;
    left: -15px;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.not-exist {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: darkgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    justify-content: center;
}

.info-text {
    color: var(--color-grey-5, #848FA9);
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info-text-strong {
    color: var(--color-grey-5, #848FA9);
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.actions-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

.search-input {
    width: 400px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--color-grey-3, #E1E7EF);
    background: var(--color-grey-white, #FFF);
}

.primary-color {
    fill: var(--color-primary);
    color: var(--color-primary);
}

.color-white {
    fill: white;
    color: white;
}

.disabled-color {
    fill: var(--color-grey-5, #848FA9) !important;
    color: var(--color-grey-5, #848FA9) !important;
    cursor: not-allowed !important;
}

.table-container {
    margin-top: 40px;

    .guardian-grid-row[template="true"] > td {
        background: #f7f7f7;
    }
}

:host ::ng-deep .dropdown-block .p-select {
    height: 40px;
    min-width: 200px;
    border-radius: 8px;
    border: 1px solid var(--color-grey-3);
    background: var(--guardian-background, #FFF);
}

.guardian-page ::ng-deep .p-select-overlay,
.p-select-list-container {
    border-radius: 8px;
    border: 1px solid var(--color-grey-3);
    background: var(--guardian-background, #FFF);
    margin-top: 4px;
    box-shadow: 0 0 1px 0 #000;
}

.dropdown-label {
    color: var(--color-grey-5);
    font-family: Inter, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-right: 10px;
}

.dropdown-item {
    color: var(--color-grey-black-2);
    font-family: Inter, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.user-role-label {
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 26px;
    padding: 3px 8px 3px 0px;
}

.user-role-default-label {
    max-width: 250px;
    height: 26px;
    padding: 3px 8px 3px 0px;
    color: #AAB7C4;
}

.user-role-btn {
    display: flex;
    cursor: pointer;
    width: 30px;

    .user-role-icon {
        width: 26px;
        height: 26px;
        overflow: hidden;
    }
}

