<div class="dialog-header">
  <div class="header-container">
    <div class="header-text">Preview</div>
  </div>
  <div class="header-icon" (click)="onClose()">
    <svg-icon src="/assets/images/icons/close.svg" svgClass="icon-color-close"></svg-icon>
  </div>
</div>
<div class="dialog-body">
  <div class="context">
    @if (loading) {
      <div class="guardian-loading">
        <div class="guardian-loading-image"></div>
      </div>
    }
    <div class="preview-container">
      @if (preview) {
        <div class="fields-container">
          @for (variable of preview; track variable) {
            <div class="field-container field-status-{{variable.status}}">
              <div class="field-name">
                {{variable.description}}
              </div>
              <div class="field-input">
                <input
                  class="guardian-input"
                  [(ngModel)]="variable.value"
                  pInputText
                  type="text"
                  />
                <div class="field-status">
                  @if (variable.status === 'Error') {
                    <svg-icon
                      src="/assets/images/icons/close-2.svg"
                    svgClass="icon-color-failure"></svg-icon>
                  }
                  @if (variable.status === 'Failure') {
                    <svg-icon
                      src="/assets/images/icons/warning-2.svg"
                    svgClass="icon-color-warning"></svg-icon>
                  }
                  @if (variable.status === 'Success') {
                    <svg-icon
                      src="/assets/images/icons/check.svg"
                    svgClass="icon-color-success"></svg-icon>
                  }
                </div>
              </div>
            </div>
          }
        </div>
      }
    </div>
  </div>
</div>
<div class="dialog-footer">
  <div class="action-buttons">
    <div class="dialog-button">
      <button
        (click)="onClose()"
      class="guardian-button guardian-button-secondary">Close</button>
    </div>
    <div class="dialog-button">
      <button
        (click)="onSubmit()"
      class="guardian-button guardian-button-primary">Check</button>
    </div>
  </div>
</div>