.context {
    position: relative;
    overflow-y: auto;
    padding: 14px 0 20px 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: Inter, serif;
    font-style: normal;
}

.dialog-header {
    .header-item {
        padding: 6px 12px;
        margin: 0px 16px;
        border-radius: 6px;
        font-size: var(--guardian-primary-font-size);
        color: var(--guardian-dry-run-color);
        background: var(--guardian-dry-run-background);
        user-select: none;
        cursor: default;
    }
}

form {
    width: 100%;
}

.guardian-input-container {
    margin-bottom: 24px;
}

.dialog-grid-body {
    max-height: 256px;
    overflow: auto;
}

.dialog-body {
    height: auto;
}

.action-buttons {
    display: flex;
    justify-content: flex-end;

    &>div {
        margin-left: 15px;
        margin-right: 0px;
    }
}

.close-icon-color {
    fill: #848FA9;
    color: #848FA9;
}

.option-actions {
    padding-top: 24px;

    button {
        height: 28px;
        width: 120px;
    }
}

.grid-label {
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
    margin-bottom: 16px;
}

.preview-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: calc(100vh - 500px);
    padding-right: 16px;
}

.fields-container {
    .fields-header {
        color: #181818;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        text-align: left;
        padding-bottom: 16px;
    }

    .field-container {
        margin-bottom: 16px;

        .field-name {
            font-family: Inter;
            font-size: 12px;
            font-weight: 500;
            line-height: 14px;
            text-align: left;
            color: #181818;
            padding: 8px 0px;
            margin-bottom: 6px;
        }

        .field-value {
            padding: 12px 16px 12px 16px;
            border-radius: 8px;
            border: 1px solid #E1E7EF;
            background: #F9FAFC;
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            text-align: left;
            color: #23252E;
            width: 100%;
            min-height: 42px;
        }

        .field-input {
            position: relative;
            padding-right: 36px;

            .field-status {
                position: absolute;
                top: 8px;
                right: 0;
            }
        }

        &.field-status-Error {
            input {
                border-color: var(--guardian-failure-color, #FF432A) !important;
            }
        }

        &.field-status-Failure {
            input {
                border-color: var(--guardian-warning-color, #DA9B22) !important;
            }
        }

        &.field-status-Success {
            input {
                border-color: var(--guardian-success-color, #19BE47) !important;
            }
        }
    }

    .option-container {
        display: flex;
        flex-direction: row;

        border-radius: 6px;

        &:not([disabled]) {
            cursor: pointer;
        }

        &:not([disabled]):hover {
            background: #f0f3fc;
        }

        .option-checkbox {
            cursor: pointer;
            min-height: 40px;
            width: 42px;
            min-width: 42px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 4px;
        }

        .option-name {
            cursor: pointer;
            min-height: 40px;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }
}