<div class="content login">
    <div class="overlay"></div>
    <form [formGroup]="loginForm" (ngSubmit)="signup()" *ngIf="isRoleSelected$ | async; else selectRoleTemplate">
        <div class="login-header" (click)="setRole('')">
            <mat-icon>chevron_left</mat-icon> Create Account
        </div>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Username:</mat-label>
            <input matInput formControlName="login" (input)="onInput()">
            <div *ngIf="error" class="field-error">{{error}}</div>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Password:</mat-label>
            <input matInput formControlName="password">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Confirm Password:</mat-label>
            <input matInput formControlName="confirmPassword">
        </mat-form-field>

        <button mat-raised-button type="submit" color="primary" [disabled]="!loginForm.valid">Create</button>
    </form>

    <ng-template #selectRoleTemplate>
        <div class="role-select-step">
            <div class="login-header">
                Select Account Type
            </div>
            <button mat-button (click)="setRole('ROOT_AUTHORITY')">
                <span class="role-name">Root Authority (offset providers)</span>
                <span class="role-description">For regulating entities to provide Offset credentials.</span>
            </button>
            <button mat-button (click)="setRole('USER')">
                <span class="role-name">User (offset applicants)</span>
                <span class="role-description">For those applying to show Offsets (Farmers, Green Energy…)</span>
            </button>
            <button mat-button (click)="setRole('AUDITOR')">
                <span class="role-name">Auditor</span>
                <span class="role-description">Anyone looking to verify an offset.</span>
            </button>

            <button mat-icon-button class="close-button" type="button" (click)="goBack()">
                <mat-icon>clear</mat-icon>
            </button>
        </div>
    </ng-template>

    <div *ngIf="loading" class="loading">
        <mat-spinner></mat-spinner>
    </div>
</div>