.content-page {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: block;
    background: #fff;
    margin: 10px 5px 5px 5px;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.content-dialog {
    display: block;
    background: #fff;
    margin: 10px 5px 5px 5px;
}

.loading {
    background: #fff;
    position: fixed;
    z-index: 999;
    top: var(--header-height-policy);
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.form-page {
    width: 600px;
    margin: 40px auto;
    padding: 40px;
    border: 1px solid #c3c3c3;
    border-radius: 4px;
}


.body-dialog-template {
    padding-bottom: 25px;
}

.description {
    margin-bottom: 10px;
}

.schema-form {
    max-height: 50vh;
    overflow: auto;
}