<div class="flex flex-col gap-2">
    <div class="font-semibold">{{ item.title || 'CSV Table' }}</div>

    <div class="flex gap-2">
        <label class="p-button p-component" *ngIf="!readonly">
            <input
                    type="file"
                    accept=".csv,text/csv"
                    hidden
                    (change)="onFileChange($event)"
            />
            <span>Import CSV</span>
        </label>

        <button
                class="p-button p-component p-button-outlined"
                (click)="openModal()"
                [disabled]="readonly"
        >
            Open Table
        </button>
    </div>

    <div class="text-xs opacity-70">
        {{ rowData.length ? ('Imported ' + rowData.length + ' rows') : 'No data' }}
    </div>
</div>
