.loading {
    background: #fff;
    position: fixed;
    z-index: 999;
    top: var(--header-height);
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.main-tags {
    position: relative;
    height: 31px;
    box-sizing: border-box;
    padding: 1px;
    cursor: pointer;
    border-radius: 8px;
    user-select: none;
    max-width: 215px;
}

.main-tag {
    width: 100%;
    max-width: 143px;
    display: flex;
    column-gap: 4px;
    position: relative;
    height: 30px;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 6px 12px;
    align-items: center;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.main-tag[owner="owner"] {
    background: #e3eefe;
    border: 1px solid var(--color-primary);
}

.main-tag[owner="owner"] .tag-name {
    color: var(--color-primary);
}

.main-tag[owner="other"] {
    background: #dbf5f8;
    border: 1px solid #00afc3;
}

.main-tag[owner="other"] .tag-name {
    color: #007985;
}

.main-tag[owner="history"] {
    background: #f0f0f0;
    border: 1px solid #5f5f5f;
}

.main-tag[owner="history"] .tag-name {
    color: #5f5f5f;
}

.edit-tags {
    position: absolute;
    right: 1px;
    top: 5px;
    font-size: 20px;
    color: var(--color-primary);
}

.tag-name {
    color: var(--color-primary);
    font-family: Inter, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;

    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}

.tag-name-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tag-total-count {
    position: absolute;
    top: -12px;
    right: -22px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    padding: 0 8px;
    border-radius: 16px;
    background: #ff432a;
    color: white;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
}

.main-tags[count="1"] {
    padding: 1px 1px 1px 1px;
}

.main-tags[count="1"] .edit-tags {
    display: none;
}

.main-tag[count="1"] .tag-count {
    display: none;
}

.add-tags {
    border-radius: 8px;
    border: 1px solid var(--color-primary);
    cursor: pointer;
    user-select: none;
    width: 130px;
    height: 28px;
}

.add-tags:hover {
    background: #f1f1f1;
}

.grid-row-button {
    display: flex;
    height: 28px;
    width: 145px;

    ::ng-deep {
        .p-button-outlined {
            border: 1px solid #cdddfd;
        }
    }
}

.p-button-outlined {
    border: 1px solid var(--color-secondary);
    border-radius: 8px;
    padding: 6px 16px;
    color: var(--color-primary, #0031ff);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    background: #FFF;
    cursor: pointer;
}

.primary-color {
    fill: var(--color-primary);
    color: var(--color-primary);
}