form {
    display: flex;
    flex-direction: column;
    overflow: visible;
}

.switch-btn {
    width: 234px;
    height: 32px;
    margin-top: 16px;
}

.keys-config {
    display: grid;
    grid-template-rows: auto;
}

.key-value {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 32px;
}

.key-name {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 8px;
}

.delimiter {
    width: 100%;
    height: 40px;
}

*[immutable="true"] .immutable {
    pointer-events: none;
    filter: grayscale(1);
    opacity: 0.7;
}

@media (max-width: 810px) {

    mat-form-field {
        margin-bottom: 10px;
    }

    input, mat-select {
        font-size: 16px;
    }

    .delimiter {
        height: 20px;
    }

    .key-value {
        display: grid;
        grid-template-columns: 200px auto;
        grid-template-rows: 2;
        grid-row-gap: 15px;
        padding-bottom: 30px;
        align-content: center;
        align-items: center;
    }

    .key-description {
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
        margin-bottom: 16px;
    }
}

.p-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.p-field-label {
    color: var(--color-grey-black-1, #181818);
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    margin-bottom: 6px;
}

.p-field-input {
    border-radius: 8px;
    border: 1px solid var(--color-grey-3, #E1E7EF);
    background: var(--color-grey-white, #FFF);
    outline: none !important;
    box-shadow: unset !important;
    padding: 12px 0 12px 16px;
    align-items: center;
    align-self: stretch;
    transition: border 0.25s ease-in-out;
    box-sizing: border-box;

    color: var(--color-grey-black-1, #181818);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.p-field-input:focus {
    border: 1px solid var(--color-primary);
}

:host ::ng-deep .p-dropdown {
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--color-grey-3, #E1E7EF);
    background: var(--color-grey-white, #FFF);
    outline: none !important;
    box-shadow: unset !important;
    padding: 4px 0 4px 16px;
    align-items: center;
    align-self: stretch;
    transition: border 0.25s ease-in-out;
    box-sizing: border-box;

    color: var(--color-grey-black-1, #181818);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
