<div class="center-container">
  <div class="task-viewer">
    <div class="header">{{ action }}...</div>
    <div class="progress-bar-container">
      <div class="progress-bar">
        <div class="progress-bar-value" [style.width.%]="progressValue"></div>
      </div>
    </div>
    <div #status class="status-items scroller">
      @if (newProgress) {
        <div class="step-children root-steps">
          @for (step of steps; track step) {
            <ng-template
              [ngTemplateOutlet]="nodeTemplateRef"
              [ngTemplateOutletContext]="{ $implicit: step }">
            </ng-template>
          }
        </div>
      }
      @if (!newProgress) {
        @for (status of statuses; track status) {
          @if (isInfo(status)) {
            <div class="info-part">INFO: {{ status.message }}</div>
          }
          @if (!isInfo(status)) {
            <div class="non-info-part">
              {{ status.message }} <span>{{ status.type }}</span></div>
            }
          }
        }
        <div class="scroller-anchor"></div>
      </div>
    </div>
  </div>

  <ng-template #nodeTemplateRef let-node>
    @if (!isWait(node)) {
      <div class="step-container">
        <div class="step-body">
          <div class="step-name">{{node.name}}</div>
          <div class="step-status">
            @if (isCompleted(node)) {
              <span class="step-completed">{{node.progress}}%</span>
            }
            @if (isFailed(node)) {
              <span class="step-failed">Failed</span>
            }
            @if (isStarted(node)) {
              <span class="step-started">{{node.progress}}%</span>
            }
            @if (isSkipped(node)) {
              <span class="step-started">Skipped</span>
            }
          </div>
        </div>
        @if (node.steps.length && !node.minimized) {
          <div class="step-children sub-steps">
            <ng-template
              ngFor
              [ngForOf]="node.steps"
              [ngForTemplate]="nodeTemplateRef">
            </ng-template>
          </div>
        }
      </div>
    }
  </ng-template>
