.content-page {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: block;
    background: #fff;
    margin: 10px 5px 5px 5px;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
        0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.loading {
    position: fixed;
    /* background: #ffffff32; */
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.loading-progress {
    width: 80%;
    height: 80%;
}

.form-dialog {
    padding: 18px 20px 8px 20px;
    overflow: auto;
    box-sizing: border-box;
    border-radius: 8px;
    border: 2px solid #fff;
    border-top-width: 4px;
    border-bottom-width: 4px;
    max-height: calc(81vh - 180px) !important;
    box-shadow: 0px 0px 0px 1px var(--color-grey-3, #e1e7ef);
    margin: 2px;
}

.form-dialog[restore="true"],
.form-dialog[dry-run="true"] {
    max-height: calc(81vh - 240px) !important;
}

.form-dialog[dry-run="true"][restore="true"] {
    max-height: calc(81vh - 304px) !important;
}

.body-dialog-template {
    background: var(--color-grey-white, #fff);
    margin: 0;
    padding: 0;
    position: relative;
    overflow: visible;
}

.description {
    margin-bottom: 10px;
}

.schema-form {
    max-height: calc(100vh - 360px);
    overflow: auto;
    margin-bottom: 24px;
    padding: 40px 40px 0px 40px;
}

.form-page h1 {
    padding: 40px 40px 0px 40px;
}

.form-page .description {
    padding: 0 40px;
}

.form-page .page-btns {
    padding: 0 40px 40px 40px;
}

.content-dialog button {
    height: 40px;
    margin-bottom: 6px;
}

.create-button-container {
    ::ng-deep {
        .p-button {
            border-radius: 8px;
            background: var(--primary-color);
        }
    }

    //width: 190px;
    overflow: hidden;
}

.btn-block-link {
    ::ng-deep {
        .p-button {
            height: 34px;
        }
    }
}

.restore-data {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    background: #F9FAFC;
    border: 1px solid #C4D0E1;
    height: 52px;
    min-height: 52px;
    border-radius: 8px;
    margin-bottom: 16px;

    svg-icon {
        height: 30px;
        padding: 2px;
        width: 36px;
    }

    b {
        height: 30px;
        line-height: 30px;
        padding-right: 16px;
    }

    button {
        height: 30px;
        padding: 0px 30px 0px 12px;
    }
}

.registrant-application-create-btn {
    display: none;
}

.form-page {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px 0px #00000014;
    padding: 24px;
    border-radius: 8px;

    &::ng-deep {
        h1 {
            padding: 0 !important;
            margin: 8px 0px 16px 0px;
        }

        .schema-form {
            max-height: calc(100vh - 400px);
            padding: 20px 20px 0px 0;
            margin-bottom: 0;

            &[dryRun="true"] {
                max-height: calc(100vh - 420px);
            }
        }

        .delimiter {
            display: none;
        }

        .page-btns {
            padding: 12px 48px;
            display: flex;
            justify-content: space-between;
            position: fixed;
            right: 0;
            bottom: 0;
            width: 100%;
            border-top: 1px solid var(--color-grey-3, #e1e7ef);
            background: #fff;
            padding-left: calc(var(--header-width-expand) + 48px);
            transition: padding-left 0.125s ease-in-out;

            margin-top: 20px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 200;
        }

        .page-btns button {
            width: 180px;
        }

        .page-btns> :nth-child(2) {
            margin-left: auto;
        }

        .page-btns> :nth-child(3) {
            margin-left: 16px;
        }

        #cancel-btn,
        #previous-btn {
            height: 40px;
            border-radius: 8px;
            border: 1px solid var(--color-secondary);
            background: var(--color-grey-white);

            color: var(--primary-color);
            font-family: Inter, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
        }

        #next-btn {
            height: 40px;
            border-radius: 8px;
            background: var(--primary-color);

            color: var(--color-grey-white);
            font-family: Inter, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
        }

        #submit-btn {
            height: 40px;
            border-radius: 8px;
            background: var(--primary-color);

            color: var(--color-grey-white);
            font-family: Inter, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
        }

        .page-btns-last-page {
            width: 50%;
            display: inline-block;
            margin-top: 20px;
        }

        .page-btns-last-page #previous-btn {
            width: calc(100% - 5px);
        }

        .short-delimiter-container .delimiter {
            display: block;
            padding: 20px 10px 20px 10px;
            height: 45px;
        }

        .short-delimiter-container .delimiter::after {
            top: 20px;
        }

        *[showMobileField="true"] {
            display: flex !important;
        }

        *[showMobileField="false"] {
            display: none !important;
        }
    }
}

.dialog-actions-container {
    background: var(--color-grey-white);
    padding-top: 5px;
    margin-top: 5px;
    height: 70px;
    overflow: hidden;

    ::ng-deep {
        ::ng-deep .p-button {
            background: var(--color-primary);
            border: 1px solid var(--color-primary);
            font-family: Inter, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            margin-left: 10px;
            height: 40px;
            padding: 8px;
            border-radius: 8px;
        }

        .p-button-outlined {
            color: var(--button-primary-color);
            font-family: Inter, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            margin-left: 10px;
            background-color: #ffffff;
            height: 40px;
            border: 1px solid var(--color-secondary);
            border-radius: 8px;
        }
    }
}

@media (max-width: 810px) {
    .loading {
        top: 75px;
        z-index: 999;
    }

    .loading-dialog {
        position: fixed;
        top: 75px;
        z-index: 999;
        bottom: 0;
    }

    .dialog-actions-container {
        display: none !important;

        background: #0ab352;
    }

    h1 {
        height: 40px;
        padding: 0 !important;
        margin: 0 auto;
        margin-top: 16px;

        font-family: "Roboto";
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;

        color: #222222;
    }

    .form-page {
        width: 90%;
        margin: 0 auto;
        padding: 0;
        border: none;

        &::ng-deep {
            .page-btns {
                width: 100%;
                gap: 10px;
            }

            .page-btns button {
                width: 50%;
                margin-right: 15px;
            }

            #cancel-btn,
            #previous-btn {
                margin: 0 0 0 15px;
            }
        }
    }

    .form-dialog {
        width: 90%;
        margin: 0 auto;
        padding: 0px 0px 0px 0px;
        border: none;
        max-height: none;
        max-width: 90vw;
    }

    .schema-form {
        max-height: none !important;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        overflow: auto;
        margin-bottom: 24px;
    }

    .mobile-button-div {
        background-color: #333;
        color: #fff;
        padding: 30px 0;
        position: fixed;
        width: 100%;
        bottom: 0;
    }

    .registrant-application-create-btn {
        display: block !important;
        position: fixed;
        width: calc(45% - 5px);
        right: 5%;
        left: auto;
        bottom: 20px;
        z-index: 305;
    }

    /* Create New Device */

    .title {
        width: 90%;
    }

    :host ::ng-deep .form-dialog .form-field-group {
        margin-bottom: 0;
    }

    .mat-dialog-actions {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;

        background-color: white;
        margin-bottom: 0;
        padding: 20px 0;
        position: fixed;
        bottom: 0;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
        z-index: 305;
    }

    #cancel-btn {
        border: 1px solid #2c78f6;
        background: none !important;
        color: #2c78f6;
        grid-column: 1;
        grid-row: 1;
        z-index: 305;
    }

    #ok-btn {
        grid-column: 2;
        grid-row: 1;
        z-index: 305;
    }
}

:host ::ng-deep {
    .mat-dialog-title {
        color: var(--color-grey-black-1);
        font-family: Poppins, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
    }
}

*[readonly-block="true"] {
    pointer-events: none !important;
    filter: grayscale(1);
}

.relayer-account-steps {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    min-height: 48px;
    margin-bottom: 16px;
    margin-right: 0px;
}

.guardian-step-container {
    width: 100%;

    .guardian-step {
        margin: 0 !important;
    }

    .guardian-step-separator {
        min-height: 34px !important;
        width: 100%;
    }

    .guardian-stepper {
        .guardian-step:first-child {
            padding-left: 0px;
        }

        .guardian-step:last-child {
            padding-right: 0px;
        }
    }
}

* [visibility="false"] {
    height: 0px !important;
    opacity: 0 !important;
    pointer-events: none !important;
    overflow: hidden;
}


.relayer-account-container {
    .relayer-account-type-values {
        display: flex;
        flex-direction: column;
        width: fit-content;
        width: 100%;

        .relayer-account-type-value {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 40px;
            align-items: center;
            cursor: pointer;
            margin-right: 24px;

            .relayer-account-type-value-select {
                width: 24px;
                height: 24px;
            }

            .relayer-account-type-value-name {
                padding: 4px 0 4px 8px;
                height: 24px;
                text-align: left;
                color: var(--guardian-font-color, #23252E);
                cursor: pointer;
                font-family: Poppins;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                vertical-align: middle;
            }
        }
    }

    .relayer-account-container-buttons {
        padding: 12px 48px;
        display: flex;
        justify-content: space-between;
        position: fixed;
        right: 0;
        bottom: 0;
        width: 100%;
        border-top: 1px solid var(--color-grey-3, #e1e7ef);
        background: #fff;
        padding-left: calc(var(--header-width-expand) + 48px);
        transition: padding-left 0.125s ease-in-out;
        margin-top: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 200;

        button {
            height: 40px;
            width: 180px;
        }
    }
}

.relayer-account-type-config {
    width: 100%;
    padding: 24px 16px 24px 32px;

    &[selected="false"] {
        filter: grayscale(1);
        opacity: 0.7;
        pointer-events: none;
    }
}

.relayer-account-form {
    margin-bottom: 24px;
    width: 100%;
    display: grid;
    grid-template-columns: calc(50% - 8px) calc(50% - 8px);
    gap: 16px;
}

.guardian-button {
    height: 40px;
    padding: 1px 16px;
}



.account-warning {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 12px 16px 12px 54px;
    margin-right: 2px;
    border: 1px solid var(--guardian-warning-color, #DA9B22);
    background: var(--guardian-warning-background, #FFF6E3);
    position: relative;

    svg-icon {
        position: absolute;
        left: 16px;
        top: 12px;

        svg {
            fill: var(--guardian-warning-color, #DA9B22);
            color: var(--guardian-warning-color, #DA9B22);
        }
    }

    .account-warning-text {
        color: var(--guardian-warning-color, #DA9B22);
        padding-right: 4px;
    }

    .account-warning-action {
        margin-top: 8px;
    }
}