<div class="content installer">
    <ng-container *ngIf="isConfirmed; else elseTemplate">
        <div *ngIf="!tokenId">
            <div class="actions">
                <button mat-raised-button color="primary" (click)="newToken()" style="margin: 15px; min-width: 100px;" >Create Token</button>
            </div>
            <div class="table-container">
                <table mat-table [dataSource]="tokens" class="sensors-table">
                    <ng-container matColumnDef="tokenId">
                        <th mat-header-cell *matHeaderCellDef> Token Id </th>
                        <td mat-cell *matCellDef="let element">
                            <a [href]="element.tokenUrl">{{element.tokenId}}</a>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="tokenName">
                        <th mat-header-cell *matHeaderCellDef> Token Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.tokenName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="tokenSymbol">
                        <th mat-header-cell *matHeaderCellDef> Token Symbol </th>
                        <td mat-cell *matCellDef="let element"> {{element.tokenSymbol}} </td>
                    </ng-container>
                    <ng-container matColumnDef="users">
                        <th mat-header-cell *matHeaderCellDef> Users </th>
                        <td mat-cell *matCellDef="let element">
                            <a [routerLink]="['/tokens']" [queryParams]="{ tokenId: element.url }">
                                <mat-icon>group</mat-icon>
                            </a>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>

        <div *ngIf="tokenId">
            <div *ngIf="tokenId" class="token-id">
                <div class="token-id-header">Token Id:</div>
                <div class="token-id-value">{{tokenId}}</div>
            </div>
            <table mat-table [dataSource]="users" class="users-table">
                <ng-container matColumnDef="username">
                    <th mat-header-cell *matHeaderCellDef> Username </th>
                    <td mat-cell *matCellDef="let element">{{element.username}}
                        <div class="table-loader">
                            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="did">
                    <th mat-header-cell *matHeaderCellDef> DID </th>
                    <td mat-cell *matCellDef="let element">{{element.did}}</td>
                </ng-container>
                <ng-container matColumnDef="associated">
                    <th mat-header-cell *matHeaderCellDef> Associated </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="item-color item-color-{{getColor(element.associated,false)}}">
                            {{element.associated}}
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="tokenBalance">
                    <th mat-header-cell *matHeaderCellDef> Token Balance </th>
                    <td mat-cell *matCellDef="let element"> {{element.balance}} </td>
                </ng-container>
                <ng-container matColumnDef="frozen">
                    <th mat-header-cell *matHeaderCellDef> Frozen </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element.frozen =='No'"
                            class="item-cmd item-color-{{getColor(element.frozen,false)}}"
                            (click)="freeze(element, true)">Freeze</div>
                        <div *ngIf="element.frozen =='Yes'"
                            class="item-cmd item-color-{{getColor(element.frozen,false)}}"
                            (click)="freeze(element, false)">Unfreeze</div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="kyc">
                    <th mat-header-cell *matHeaderCellDef> KYCd </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element.kyc =='Yes'" class="item-cmd item-color-{{getColor(element.kyc,true)}}"
                            (click)="kyc(element, false)">Revoke KYC</div>
                        <div *ngIf="element.kyc =='No'" class="item-cmd item-color-{{getColor(element.kyc,true)}}"
                            (click)="kyc(element, true)">Grant KYC</div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="refresh">
                    <th mat-header-cell *matHeaderCellDef> Refresh </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="refresh-btn" (click)="refresh(element)">
                            <mat-icon>refresh</mat-icon>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="usersColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: usersColumns;" [attr.loading]="row.loading"></tr>
            </table>
        </div>
    </ng-container>
    <ng-template #elseTemplate>
        <div>Before starting work you need to get DID <a [routerLink]="['/config']">here</a></div>
    </ng-template>
    <div *ngIf="loading" class="loading">
        <mat-spinner></mat-spinner>
    </div>
</div>