.sensors-table {
    width: 100%;
}

.sensors-table .mat-column-tokenId {
    width: 300px;
    border-right: 1px solid currentColor;
    padding-right: 8px;
}

.sensors-table .mat-column-tokenName {
    padding-left: 8px;
}

.content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: block;
}
.loading {
    background: #fff;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

a {
    color: rgb(0, 0, 238);
    cursor: pointer;
    text-decoration: underline;
}

.users-table {
    width: 100%;
}

.users-table .mat-column-username {
    width: 200px;
    border-right: 1px solid currentColor;
    padding-right: 8px;
}

.users-table .mat-column-associated {
    padding-left: 8px;
}

.refresh-btn {
    color: #00f;
    height: 26px;
    width: 26px;
    cursor: pointer;
}

.users-table .mat-column-refresh {
    width: 40px;
    border-left: 1px solid currentColor;
    padding-left: 10px;
}
 

.item-color {
    width: 42px;
    height: 26px;
    text-align: center;
    align-items: center;
    border-radius: 60px;
    align-content: center;
    display: flex;
    justify-content: center;
    position: relative;
    margin-right: 46px;

    height: 38px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 24px;
    padding: 0 20px;
}

.item-color-red {
    background: red;
    color: #fff;
}

.item-color-grey {
    background: gray;
    color: #fff;
}

.item-color-green {
    background: green;
    color: #fff;
}

.item-cmd {
    text-align: center;
    align-items: center;
    border-radius: 60px;
    align-content: center;
    display: flex;
    justify-content: center;
    position: relative;
    margin-right: 46px;
    max-width: 150px;
    cursor: pointer;

    height: 38px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 24px;
    padding: 0 20px;
}

.token-id {
    display: flex;
    padding: 20px;
}

.token-id-header {
    font-weight: 700;
    padding-right: 20px;
}

*[loading="true"] {
    position: relative;
}

.table-loader {
    display: none;
    position: absolute;
    left: 234px;
    top: 2px;
    right: 78px;
    bottom: 2px;
    background: #fff;
    z-index: 99;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

*[loading="true"] .table-loader {
    display: flex;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 43px;
}
.lds-ellipsis div {
    position: absolute;
    top: 17px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #3f51b5;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.actions {
    position: relative;
    z-index: 1;
    margin-left: 35px;
}

.actions ::ng-deep button.mat-raised-button.mat-primary {
    margin: 12px 10px 0 10px;
}

.table-container {
    height: calc(100vh - var(--header-height) - 77px);
    overflow-y: auto;
    position: relative;
    z-index: 0;
}

.not-exist {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: darkgrey;
}