.guardian-page {
    padding: 32px 48px 48px 48px !important;
}

.guardian-user-page-header {
    height: 86px !important;
    position: relative;

    .token-id {
        position: absolute;
        right: 0px;
        top: 50px;
        font-family: Inter;
        font-size: 12px;
        line-height: 12px;
        text-align: right;
        vertical-align: middle;
        color: #848FA9;

        .token-id-name {
            font-weight: 700;
            margin-right: 8px;
        }

        .token-id-value {
            font-weight: 400;
        }
    }
}

.guardian-icon-button {
    margin-right: 16px !important;
}

.loading {
    background: #fff;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.loading-progress {
    width: 80%;
    height: 80%;
}

:host ::ng-deep .p-dropdown {
    width: 400px;
    border-radius: 8px;
    border: 1px solid var(--color-grey-3);
    background: #FFF;
}

:host ::ng-deep .p-dropdown-panel,
.p-dropdown-items-wrapper {
    border-radius: 8px;
    border: 1px solid var(--color-grey-3);
    background: #FFF;
    margin-top: 4px;
    box-shadow: 0 0 1px 0 #000;
}

.dropdown-label {
    color: var(--color-grey-5);
    font-family: Inter, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-right: 10px;
}

.dropdown-item {
    color: var(--color-grey-black-2);
    font-family: Inter, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

:host ::ng-deep .p-dialog .p-dialog-footer button {
    margin-right: 16px;
}

:host ::ng-deep .p-dialog {
    width: 720px;
    border-radius: 16px !important;
}

:host ::ng-deep .p-dialog-header {
    padding: 32px;
    border-radius: 16px 16px 0 0;
}

:host ::ng-deep .p-dialog-footer {
    padding: 32px;
    border-radius: 0 0 16px 16px;
}

.preloader-image {
    width: 16px;
    height: 16px;
    border-top: 3px solid var(--color-primary);
    border-left: 3px solid rgba(0, 0, 0, 0);
    border-right: 3px solid rgba(0, 0, 0, 0);
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    border-radius: 100%;
    filter: brightness(100%);
    animation-name: preloaderRotationColored;
    animation-duration: 7.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.preloader-image-l-size {
    width: 56px;
    height: 56px;
}

@keyframes preloaderRotationColored {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    25% {
        transform: rotate(360deg);
        border-top: 3px solid rgba(0, 0, 0, 0);
        border-right: 3px solid var(--color-primary);
        border-left: 3px solid rgba(0, 0, 0, 0);
        border-bottom: 3px solid rgba(0, 0, 0, 0);
    }

    50% {
        transform: rotate(720deg);
        border-top: 3px solid rgba(0, 0, 0, 0);
        border-left: 3px solid rgba(0, 0, 0, 0);
        border-bottom: 3px solid var(--color-primary);
        border-right: 3px solid rgba(0, 0, 0, 0);
    }

    75% {
        transform: rotate(1080deg);
        border-top: 3px solid rgba(0, 0, 0, 0);
        border-bottom: 3px solid rgba(0, 0, 0, 0);
        border-right: 3px solid rgba(0, 0, 0, 0);
        border-left: 3px solid var(--color-primary);
    }

    100% {
        transform: rotate(1440deg);
        border-top: 3px solid var(--color-primary);
        border-left: 3px solid rgba(0, 0, 0, 0);
        border-right: 3px solid rgba(0, 0, 0, 0);
        border-bottom: 3px solid rgba(0, 0, 0, 0);
    }
}

:host ::ng-deep .p-dialog-content {
    border-radius: 0;
}

:host ::ng-deep .table-paginator {
    .p-dropdown {
        width: 125px;
        height: 40px;
        border-radius: 8px;
    }

    .p-button {
        border-radius: 8px;
    }

    .p-inputtext {
        color: #848fa9;
        font-family: Inter, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        align-self: center;
    }

    .p-datatable-table {
        border-collapse: separate;
        border-spacing: 0 15px;
    }
}

.options-container {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .user-balance {
        width: 170px;
        height: 40px;
        font-family: Inter;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        vertical-align: middle;
        color: #23252E;
        display: flex;
        align-items: center;
    }

    button {
        height: 28px;
        padding: 0px 16px;
    }
}

.loading-placeholder {
    --loading-base-color: #EFF3F7;
    --loading-shine-color: #f4f4f4;

    float: left;
    height: 18px;
    margin-top: 3px;
    border-radius: 7px;
    background-color: #EFF3F7;
    background-image: linear-gradient(90deg,
            #EFF3F7 0px,
            #fdfdfd 25px,
            #EFF3F7 50px);
    background-size: 600px;
    animation: shine-lines 4s infinite linear;
}

@keyframes shine-lines {
    0% {
        background-position: -100px;
    }

    25% {
        background-position: 300px;
    }

    100% {
        background-position: 300px;
    }
}

.balance-size {
    width: 170px;
}

.freeze-size {
    width: 92px;
}

.kyc-size {
    width: 115px;
}

.options-footer-container {
    position: relative;
    height: 0px;
}

.options-footer {
    padding: 12px 48px;
    padding-left: calc(var(--header-width-expand) + 48px);
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    border-top: 1px solid var(--color-grey-3, #E1E7EF);
    background: #FFF;

    .selected-info-block {
        display: flex;
        gap: 16px;
        align-content: center;
        align-items: center;

        ::ng-deep .p-button {
            padding: 8px 16px;
        }
    }

    .selected-info {
        font-family: Inter, sans-serif;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: var(--color-grey-5, #848FA9);
    }

    ::ng-deep {
        .p-button {
            padding: 5px 12px;
            min-width: 120px;
            border-radius: 8px;
            background: var(--color-accent-red-1, #FF432A);

            .p-button-label {
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;
                color: var(--color-grey-white, #FFF);
            }

            &:disabled {
                border-radius: 8px;
                border: 1px solid var(--color-grey-3, #E1E7EF);
                background: var(--color-grey-1, #F9FAFC);

                .p-button-label {
                    font-family: Inter;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 30px;
                    color: var(--color-grey-4, #AAB7C4);
                }
            }
        }

        .p-button-outlined {
            border-radius: 8px;
            border: 1px solid var(--color-secondary, #CDDDFD);
            background: var(--color-color-grey-white, #FFF);

            .p-button-label {
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 30px;
                color: var(--color-primary, #0031ff);
            }
        }
    }
}

.grid-table-container {
    ::ng-deep .grid-table {
        .p-datatable-wrapper {
            max-height: calc(-320px + 100vh);
        }
    }
}
