.standard-registry__card {
    display: flex;
    flex-direction: column;
  border: 1px solid #e0e0e0;
  background: var(--color-grey-white);
    border-radius: 10px;
    padding: 16px 10px 16px 16px;
    font-size: 16px;
    word-break: break-word;
    height: 92%;
    max-height: 455px;
    overflow-y: scroll;
    cursor: pointer;

    &--selected {
      border: 1px solid #2c78f6;
      box-shadow: inset 0px 0px 0px 1px #2c78f6;
    }

    label {
        text-transform: uppercase;
      color: #bababa;
        font-weight: 400;
        cursor: pointer;
    }
}

.standard-registry__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}

.standard-registry__topic {
    display: flex;
    flex-direction: column;

    label {
        font-size: 14px;
        margin-bottom: 20px;
        cursor: pointer;
    }

    span {
        font-size: 24px;
        font-weight: 600;
    }
}

.standard-registry__details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px 0 0;
}

.standard-registry__detail {
    display: flex;
    flex-direction: column;
    min-width: 45%;
}

.policies-menu-trigger {
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    padding: 5px;
    border-radius: 4px;

    &--opened {
        border-color: #222222;
    }
}

.policies-menu-icon {
    width: 16px;
    height: 16px;
    margin-left: 8px;

    &--opened {
        transform: rotate(180deg);
    }
}

.policies-list {
    padding: 0;
    list-style: none;
    max-height: 230px;
    margin: 0;

    &__item {
        padding: 8px 16px;
        font-size: 16px;
    }
}

.no-policies {
  color: #8a8a8a;
}

@media (max-width: 810px) {
    .standard-registry__card {
        font-size: 14px;
    }

    .standard-registry__topic span {
        font-size: 20px;
    }
}

@media (max-width: 350px) {
    .standard-registry__topic span {
        font-size: 18px;
    }
}

.standard-registry-label {
  color: var(--color-grey-black-1) !important;
  font-family: Inter, sans-serif !important;
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 14px !important;
  text-transform: none !important;
}
