<div class="grid-setting policy-properties" [attr.readonly]="readonly">
    <div *ngIf="errors" class="errors-properties">
        <div *ngFor="let item of errors" class="errors-property">
            <span>{{ item }}</span>
        </div>
    </div>
    <div class="table">
        <div class="table-body" #body>
            <table class="properties">

                <ng-container *ngIf="type == 'Main'">
                    <tr class="propHeader">
                        <td class="propRowCol cellCollapse" (click)="onHide(propHidden, 'main')"
                            [attr.collapse]="propHidden.main">
                            <i class="pi pi-caret-down"></i>
                        </td>
                        <td class="propHeaderCell cellName">Module</td>
                        <td class="propHeaderCell"></td>
                    </tr>
                    <!-- Meta Data  -->
                    <tr class="propRow" [attr.collapse]="propHidden.main">
                        <td class="propRowCol"></td>
                        <td class="propRowCell cellName">ID</td>
                        <td class="propRowCell">
                            <span class="readonly-prop">{{ module.id }}</span>
                        </td>
                    </tr>
                    <tr class="propRow" [attr.collapse]="propHidden.main">
                        <td class="propRowCol"></td>
                        <td class="propRowCell cellName">Name</td>
                        <td class="propRowCell">
                            <input class="prop-input" [(ngModel)]="module.name" [readonly]="readonly">
                        </td>
                    </tr>
                    <tr class="propRow" [attr.collapse]="propHidden.main">
                        <td class="propRowCol"></td>
                        <td class="propRowCell cellName">Description</td>
                        <td class="propRowCell">
                            <textarea [(ngModel)]="module.description" [readonly]="readonly"></textarea>
                        </td>
                    </tr>
                    <tr class="propRow" [attr.collapse]="propHidden.metaData">
                        <td class="propRowCol"></td>
                        <td class="propRowCell cellName">Previous Version</td>
                        <td class="propRowCell">
                            <input class="prop-input" [ngModel]="module.previousVersion" readonly>
                        </td>
                    </tr>
                    <tr class="propRow" [attr.collapse]="propHidden.main">
                        <td class="propRowCol"></td>
                        <td class="propRowCell cellName">Version</td>
                        <td class="propRowCell">
                            <input class="prop-input" [ngModel]="module.version" readonly>
                        </td>
                    </tr>
                </ng-container>

                <ng-container *ngIf="type == 'Variables'">
                    <!-- Variables  -->
                    <ng-container *ngFor="let item of variables; let i=index">
                        <tr class="propHeader">
                            <td class="propRowCol cellCollapse" (click)="onHide(propHidden.variables, i)"
                                [attr.collapse]="propHidden.variables[i]">
                                <i class="pi pi-caret-down"></i>
                            </td>
                            <td class="propHeaderCell cellName">Variable</td>
                            <td class="propHeaderCell">
                                <div>{{ item.name }}</div>
                                <span class="remove-prop" [attr.readonly]="readonly" (click)="onRemoveVariable(item)">
                                    <i class="pi pi-trash"></i>
                                </span>
                            </td>
                        </tr>
                        <tr class="propRow subRow" [attr.collapse]="propHidden.variables[i]">
                            <td class="propRowCol"></td>
                            <td class="propRowCell cellName">
                                <span class="required-fields">*</span>
                                Name
                            </td>
                            <td class="propRowCell">
                                <input class="prop-input" [(ngModel)]="item.name" [readonly]="readonly"
                                       (input)="onEditVariable(item)">
                            </td>
                        </tr>
                        <tr class="propRow subRow" [attr.collapse]="propHidden.variables[i]">
                            <td class="propRowCol"></td>
                            <td class="propRowCell cellName">Description</td>
                            <td class="propRowCell">
                                <input class="prop-input" [(ngModel)]="item.description" [readonly]="readonly"
                                       (input)="onEditVariable(item)">
                            </td>
                        </tr>
                        <tr class="propRow subRow" [attr.collapse]="propHidden.variables[i]">
                            <td class="propRowCol"></td>
                            <td class="propRowCell cellName">
                                <span class="required-fields">*</span>
                                Variable Type
                            </td>
                            <td class="propRowCell">
                                <p-dropdown
                                    [(ngModel)]="item.type"
                                    [options]="typeOptions"
                                    optionLabel="label"
                                    optionValue="value"
                                    [disabled]="readonly"
                                    placeholder="Select type"
                                    (onChange)="onEditVariable(item)"
                                    [appendTo]="'body'"
                                >
                                </p-dropdown>
                            </td>
                        </tr>
                        <tr *ngIf="item.type === 'Schema'" [attr.collapse]="propHidden.variables[i]"
                            class="propRow subRow">
                            <td class="propRowCol"></td>
                            <td class="propRowCell cellName">
                                Base schema
                            </td>
                            <td *ngIf="!baseSchemaReadOnly(item.baseSchema)" class="propRowCell">
                                <select-schema
                                    [schemas]="baseSchemas"
                                    [(value)]="item.baseSchema"
                                    [disabled]="readonly"
                                    (change)="onEditVariable(item)"
                                ></select-schema>
                            </td>
                            <td *ngIf="baseSchemaReadOnly(item.baseSchema)" class="propRowCell">
                                <span class="readonly-prop">{{ item.baseSchema.name }}</span>
                            </td>
                        </tr>
                    </ng-container>
                    <tr class="propRow propRowBottom">
                        <td class="propRowCol"></td>
                        <td class="propRowCell cellName"></td>
                        <td class="propRowCell"></td>
                    </tr>
                    <div class="propBottom">
                        <div class="propAdd" (click)="addVariable()">
                            <i class="pi pi-plus"></i>
                            <span>Add Variables</span>
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="type == 'Inputs'">
                    <!-- Inputs  -->
                    <ng-container *ngFor="let item of inputs; let i=index">
                        <tr class="propHeader">
                            <td class="propRowCol cellCollapse" (click)="onHide(propHidden.inputs, i)"
                                [attr.collapse]="propHidden.inputs[i]">
                                <i class="pi pi-caret-down"></i>
                            </td>
                            <td class="propHeaderCell cellName">
                                Input Events
                            </td>
                            <td class="propHeaderCell">
                                <div>{{ item.name }}</div>
                                <span class="remove-prop" [attr.readonly]="readonly" (click)="onRemoveInput(item)">
                                    <i class="pi pi-trash"></i>
                                </span>
                            </td>
                        </tr>

                        <tr class="propRow subRow" [attr.collapse]="propHidden.inputs[i]">
                            <td class="propRowCol"></td>
                            <td class="propRowCell cellName">
                                <span class="required-fields">*</span>
                                Name
                            </td>
                            <td class="propRowCell">
                                <input class="prop-input" [(ngModel)]="item.name" [readonly]="readonly"
                                       (input)="onEditInput(item)">
                            </td>
                        </tr>
                        <tr class="propRow subRow" [attr.collapse]="propHidden.inputs[i]">
                            <td class="propRowCol"></td>
                            <td class="propRowCell cellName">Description</td>
                            <td class="propRowCell">
                                <input class="prop-input" [(ngModel)]="item.description" [readonly]="readonly"
                                       (input)="onEditInput(item)">
                            </td>
                        </tr>
                    </ng-container>
                    <tr class="propRow propRowBottom">
                        <td class="propRowCol"></td>
                        <td class="propRowCell cellName"></td>
                        <td class="propRowCell"></td>
                    </tr>
                    <div class="propBottom">
                        <div class="propAdd" (click)="addInput()">
                            <i class="pi pi-plus"></i>
                            <span>Add Input Event</span>
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="type == 'Outputs'">
                    <!-- Outputs  -->
                    <ng-container *ngFor="let item of outputs; let i=index">
                        <tr class="propHeader">
                            <td class="propRowCol cellCollapse" (click)="onHide(propHidden.outputs, i)"
                                [attr.collapse]="propHidden.outputs[i]">
                                <i class="pi pi-caret-down"></i>
                            </td>
                            <td class="propHeaderCell cellName">
                                Output Events
                            </td>
                            <td class="propHeaderCell">
                                <div>{{ item.name }}</div>
                                <span class="remove-prop" [attr.readonly]="readonly" (click)="onRemoveOutput(item)">
                                    <i class="pi pi-trash"></i>
                                </span>
                            </td>
                        </tr>
                        <tr class="propRow subRow" [attr.collapse]="propHidden.outputs[i]">
                            <td class="propRowCol"></td>
                            <td class="propRowCell cellName">
                                <span class="required-fields">*</span>
                                Name
                            </td>
                            <td class="propRowCell">
                                <input class="prop-input" [(ngModel)]="item.name" [readonly]="readonly"
                                       (input)="onEditOutput(item)">
                            </td>
                        </tr>
                        <tr class="propRow subRow" [attr.collapse]="propHidden.outputs[i]">
                            <td class="propRowCol"></td>
                            <td class="propRowCell cellName">Description</td>
                            <td class="propRowCell">
                                <input class="prop-input" [(ngModel)]="item.description" [readonly]="readonly"
                                       (input)="onEditOutput(item)">
                            </td>
                        </tr>
                    </ng-container>
                    <tr class="propRow propRowBottom">
                        <td class="propRowCol"></td>
                        <td class="propRowCell cellName"></td>
                        <td class="propRowCell"></td>
                    </tr>
                    <div class="propBottom">
                        <div class="propAdd" (click)="addOutput()">
                            <i class="pi pi-plus"></i>
                            <span>Add Output Event</span>
                        </div>
                    </div>
                </ng-container>

            </table>
        </div>
    </div>
</div>
