<div class="grid-setting policy-properties" [attr.readonly]="readonly">
  @if (errors) {
    <div class="errors-properties">
      @for (item of errors; track item) {
        <div class="errors-property">
          <span>{{ item }}</span>
        </div>
      }
    </div>
  }
  <div class="table">
    <div class="table-body" #body>
      <table class="properties module-properties">
  <colgroup><col class="col-toggle"><col class="col-name"><col class="col-value"></colgroup>

        @if (type == 'Main') {
          <tr class="propHeader modules-header" (click)="onHide(propHidden, 'main')">
            <td class="propRowCol"></td>
            <td class="propHeaderCell cellName module-section-header"
              [attr.collapse]="propHidden.main">
              <i class="pi pi-chevron-down chevron-icon"></i>
              <span>Module</span>
            </td>
            <td class="propHeaderCell"></td>
          </tr>
          <!-- Meta Data  -->
          <tr class="propRow" [attr.collapse]="propHidden.main">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">ID</td>
            <td class="propRowCell">
              <span class="readonly-prop">{{ module.id }}</span>
            </td>
          </tr>
          <tr class="propRow" [attr.collapse]="propHidden.main">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Name</td>
            <td class="propRowCell">
              <input class="prop-input" [(ngModel)]="module.name" [readonly]="readonly">
            </td>
          </tr>
          <tr class="propRow" [attr.collapse]="propHidden.main">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Description</td>
            <td class="propRowCell">
              @if (readonly) {
                <div class="prop-description-readonly">{{ module.description }}</div>
              } @else {
                <textarea [(ngModel)]="module.description"></textarea>
              }
            </td>
          </tr>
          <tr class="propRow" [attr.collapse]="propHidden.metaData">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Previous Version</td>
            <td class="propRowCell">
              <input class="prop-input" [ngModel]="module.previousVersion" readonly>
            </td>
          </tr>
          <tr class="propRow" [attr.collapse]="propHidden.main">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Version</td>
            <td class="propRowCell">
              <input class="prop-input" [ngModel]="module.version" readonly>
            </td>
          </tr>
        }

        @if (type == 'Variables') {
          <!-- Variables  -->
          @for (item of variables; track item; let i = $index) {
            <tr class="propHeader modules-header" (click)="onHide(propHidden.variables, i)">
              <td class="propRowCol"></td>
              <td class="propHeaderCell cellName module-section-header"
                [attr.collapse]="propHidden.variables[i]">
                <i class="pi pi-chevron-down chevron-icon"></i>
                <span>Variable</span>
              </td>
              <td class="propHeaderCell module-actions">
                <span class="module-name">{{ item.name }}</span>
                <span class="remove-prop" [attr.readonly]="readonly"
                  (click)="onRemoveVariable(item); $event.stopPropagation()">
                  <i class="pi pi-trash"></i>
                </span>
              </td>
            </tr>
            <tr class="propRow subRow module-row" [attr.collapse]="propHidden.variables[i]">
              <td class="propRowCol"></td>
              <td class="propRowCell cellName">
                <span class="required-fields">*</span>
                Name
              </td>
              <td class="propRowCell">
                <input class="prop-input" [(ngModel)]="item.name" [readonly]="readonly"
                  (input)="onEditVariable(item)">
              </td>
            </tr>
            <tr class="propRow subRow module-row" [attr.collapse]="propHidden.variables[i]">
              <td class="propRowCol"></td>
              <td class="propRowCell cellName">Description</td>
              <td class="propRowCell">
                <input class="prop-input" [(ngModel)]="item.description" [readonly]="readonly"
                  (input)="onEditVariable(item)">
              </td>
            </tr>
            <tr class="propRow subRow module-row" [attr.collapse]="propHidden.variables[i]">
              <td class="propRowCol"></td>
              <td class="propRowCell cellName">
                <span class="required-fields">*</span>
                Variable Type
              </td>
              <td class="propRowCell">
                <p-select
                  [(ngModel)]="item.type"
                  [options]="typeOptions"
                  optionLabel="label"
                  optionValue="value"
                  [disabled]="readonly"
                  placeholder="Select type"
                  (onChange)="onEditVariable(item)"
                  [appendTo]="'body'"
                  >
                </p-select>
              </td>
            </tr>
            @if (item.type === 'Schema') {
              <tr [attr.collapse]="propHidden.variables[i]"
                class="propRow subRow module-row">
                <td class="propRowCol"></td>
                <td class="propRowCell cellName">
                  Base schema
                </td>
                @if (!baseSchemaReadOnly(item.baseSchema)) {
                  <td class="propRowCell">
                    <select-schema
                      [schemas]="baseSchemas"
                      [(value)]="item.baseSchema"
                      [disabled]="readonly"
                      (change)="onEditVariable(item)"
                    ></select-schema>
                  </td>
                }
                @if (baseSchemaReadOnly(item.baseSchema)) {
                  <td class="propRowCell">
                    <span class="readonly-prop">{{ item.baseSchema.name }}</span>
                  </td>
                }
              </tr>
            }
          }
          <tr class="propRow module-add-row">
            <td class="propRowCol"></td>
            <td class="propRowCell module-add-cell" colspan="2">
              <div class="propAdd modules-add" (click)="addVariable()">
                <i class="pi pi-plus"></i>
                <span>Add Variables</span>
              </div>
            </td>
          </tr>
        }

        @if (type == 'Inputs') {
          <!-- Inputs  -->
          @for (item of inputs; track item; let i = $index) {
            <tr class="propHeader modules-header" (click)="onHide(propHidden.inputs, i)">
              <td class="propRowCol"></td>
              <td class="propHeaderCell cellName module-section-header"
                [attr.collapse]="propHidden.inputs[i]">
                <i class="pi pi-chevron-down chevron-icon"></i>
                <span>
                  Input Events
                </span>
              </td>
              <td class="propHeaderCell module-actions">
                <span class="module-name">{{ item.name }}</span>
                <span class="remove-prop" [attr.readonly]="readonly"
                  (click)="onRemoveInput(item); $event.stopPropagation()">
                  <i class="pi pi-trash"></i>
                </span>
              </td>
            </tr>
            <tr class="propRow subRow module-row" [attr.collapse]="propHidden.inputs[i]">
              <td class="propRowCol"></td>
              <td class="propRowCell cellName">
                <span class="required-fields">*</span>
                Name
              </td>
              <td class="propRowCell">
                <input class="prop-input" [(ngModel)]="item.name" [readonly]="readonly"
                  (input)="onEditInput(item)">
              </td>
            </tr>
            <tr class="propRow subRow module-row" [attr.collapse]="propHidden.inputs[i]">
              <td class="propRowCol"></td>
              <td class="propRowCell cellName">Description</td>
              <td class="propRowCell">
                <input class="prop-input" [(ngModel)]="item.description" [readonly]="readonly"
                  (input)="onEditInput(item)">
              </td>
            </tr>
          }
          <tr class="propRow module-add-row">
            <td class="propRowCol"></td>
            <td class="propRowCell module-add-cell" colspan="2">
              <div class="propAdd modules-add" (click)="addInput()">
                <i class="pi pi-plus"></i>
                <span>Add Input Event</span>
              </div>
            </td>
          </tr>
        }

        @if (type == 'Outputs') {
          <!-- Outputs  -->
          @for (item of outputs; track item; let i = $index) {
            <tr class="propHeader modules-header" (click)="onHide(propHidden.outputs, i)">
              <td class="propRowCol"></td>
              <td class="propHeaderCell cellName module-section-header"
                [attr.collapse]="propHidden.outputs[i]">
                <i class="pi pi-chevron-down chevron-icon"></i>
                <span>
                  Output Events
                </span>
              </td>
              <td class="propHeaderCell module-actions">
                <span class="module-name">{{ item.name }}</span>
                <span class="remove-prop" [attr.readonly]="readonly"
                  (click)="onRemoveOutput(item); $event.stopPropagation()">
                  <i class="pi pi-trash"></i>
                </span>
              </td>
            </tr>
            <tr class="propRow subRow module-row" [attr.collapse]="propHidden.outputs[i]">
              <td class="propRowCol"></td>
              <td class="propRowCell cellName">
                <span class="required-fields">*</span>
                Name
              </td>
              <td class="propRowCell">
                <input class="prop-input" [(ngModel)]="item.name" [readonly]="readonly"
                  (input)="onEditOutput(item)">
              </td>
            </tr>
            <tr class="propRow subRow module-row" [attr.collapse]="propHidden.outputs[i]">
              <td class="propRowCol"></td>
              <td class="propRowCell cellName">Description</td>
              <td class="propRowCell">
                <input class="prop-input" [(ngModel)]="item.description" [readonly]="readonly"
                  (input)="onEditOutput(item)">
              </td>
            </tr>
          }
          <tr class="propRow module-add-row">
            <td class="propRowCol"></td>
            <td class="propRowCell module-add-cell" colspan="2">
              <div class="propAdd modules-add" (click)="addOutput()">
                <i class="pi pi-plus"></i>
                <span>Add Output Event</span>
              </div>
            </td>
          </tr>
        }

      </table>
    </div>
  </div>
</div>
