.errors-properties  {
    max-height: 200px;
    overflow: auto;
}

.errors-property {
    border-radius: 3px;
    border: 1px solid #f90000;
    padding: 5px;
    color: #f90000;
    background: #fff2f2;
    position: relative;
    padding-left: 10px;
    margin: 5px 9px 5px 5px;
    box-sizing: border-box;
}