.loading {
    background: #fff;
    position: fixed;
    z-index: 99;
    top: var(--header-height);
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.hide-block {
    display: none !important;
}

.loading-progress {
    width: 80%;
    height: 80%;
}

.progress {
    width: 500px;
    margin-left: 20px;
    background: #fff;
    height: 50px;
    display: block;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    text-align: center;

    &>span {
        font-size: 40px;
        padding-bottom: 30px;
        display: inline-block;
        font-weight: bold;
    }

    mat-progress-bar {
        height: 30px;
        border-radius: 36px;
    }
}

:host ::ng-deep a {
    color: rgb(0, 0, 238);
    cursor: pointer;
    text-decoration: underline;
}

.list-item {
    margin-bottom: 20px;
}

.example-full-width {
    width: 100%;
}

.list-button {
    margin-bottom: 24px;
}

.error-list {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    padding: 20px 20px 20px 20px;
    margin: 20px;
    /*border: 1px solid #c7c7c7;*/
    border-radius: 6px;
    position: relative;
    color: #3f51b5;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

    p {
        font-size: 20px;
        margin: 0 0 16px 0;
        color: #000000;
    }

    button {
        margin: 30px 0 0 0;
    }
}

.error-schema {
    position: fixed;
    left: 0;
    right: 0;
    top: 125px;
    bottom: 0;
    background: #fff;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;

    p {
        font-size: 20px;
        margin: 0 0 16px 0;
        color: #000000;
        font-weight: 500;
    }
}

.topic-id-field {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;

    .list-button {
        margin: 0;
        height: 60px;
        overflow: hidden;
        width: 160px;
        min-width: 160px;
        padding-left: 16px;
        padding-top: 4px;

        ::ng-deep {
            .p-button {
                height: 50px;
            }
        }
    }

    mat-radio-group {
        width: 100%;
        padding: 5px 0px 5px 5px;
    }
}

.group-body {
    display: flex;
    width: 100%;
}

.topic-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.generate-btn {
    ::ng-deep {
        .p-button {
            width: 100%;
            height: 40px;
            margin-bottom: 24px;
            border-radius: 8px;
            border: 1px solid var(--primary-color);
            color: var(--primary-color);
            font-family: Inter, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
        }
    }
}

.next-btn {
    ::ng-deep {
        .p-button {
            width: 100%;
            height: 40px;
            border-radius: 8px;
            background: var(--primary-color);
            font-family: Inter, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
        }
    }
}

.connect-btn {
    ::ng-deep {
        .p-button {
            width: 100%;
            height: 40px;
            border-radius: 8px;
            background: var(--primary-color);
            color: var(--color-grey-white);
            font-family: Inter, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
        }
    }
}

@media (max-width: 810px) {
    .list {
        margin-bottom: 0 !important;
        border: 1px solid #c7c7c7;
        border-radius: 6px;
        position: relative;
    }

    .list-button {
        width: 90%;
        margin: 0 5% 20px !important;
    }

    .list .list-button {
        width: 100% !important;
        position: static;
        margin: 0 !important;
    }

    .white-space {
        background-color: white;
        width: 100%;
        height: 70px;
    }

    #connect-btn {
        background-color: white;
        margin: 0 !important;
        padding: 20px 0 0 !important;
        position: fixed;
        bottom: 0;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }

    .error-schema {
        top: var(--header-height);
    }

    .loading {
        height: calc(var(--vh, 1vh) * 100 - var(--header-height));
    }
}

/*new Design*/

.container {
    display: flex;
    flex-direction: column;
    margin: 42px 48px;
}

.container>.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container>.header>h1 {
    width: 100%;
    color: #000;
    font-family: Poppins, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
}

.tokenId {
    display: flex;
    white-space: nowrap;
    column-gap: 6px;
    color: var(--color-grey-5, #848fa9);
    text-align: right;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tokenId>strong {
    color: var(--color-grey-5, #848fa9);
    text-align: right;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.actions-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

:host ::ng-deep .p-dropdown {
    width: 400px;
    border-radius: 8px;
    border: 1px solid var(--color-grey-3);
    background: #fff;
}

:host ::ng-deep .p-dropdown-panel,
.p-dropdown-items-wrapper {
    border-radius: 8px;
    border: 1px solid var(--color-grey-3);
    background: #fff;
    margin-top: 4px;
    box-shadow: 0 0 1px 0 #000;
}

.dropdown-label {
    color: var(--color-grey-5);
    font-family: Inter, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-right: 10px;
}

.dropdown-item {
    color: var(--color-grey-black-2);
    font-family: Inter, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

:host ::ng-deep .p-dialog .p-dialog-footer button {
    margin-right: 16px;
}

.color-grey-6 {
    color: var(--color-grey-5, #848fa9);
}

.disabled-color {
    fill: var(--color-grey-5, #848FA9) !important;
    color: var(--color-grey-5, #848FA9) !important;
    cursor: not-allowed !important;
}

button[disabled] {
    background-color: var(--color-grey-2) !important;
    color: var(--color-grey-4) !important;
    cursor: not-allowed !important;
}

.primary-color {
    fill: var(--color-primary, #0031ff);
    color: var(--color-primary, #0031ff);
}

:host ::ng-deep .p-dialog {
    width: 720px;
    border-radius: 16px !important;
}

:host ::ng-deep .p-dialog-header {
    padding: 32px;
    border-radius: 16px 16px 0 0;
}

:host ::ng-deep .p-dialog-footer {
    padding: 32px;
    border-radius: 0 0 16px 16px;
}

.not-allowed-cursor {
    cursor: not-allowed !important;
}

.search-input {
    width: 400px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--color-grey-3, #e1e7ef);
    background: var(--color-grey-white, #fff);
}

.loading {
    background: #fff;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

:host ::ng-deep .topic-id-field .p-dropdown {
    width: 200px;
    border-radius: 8px;
    border: 1px solid var(--color-grey-3);
    background: #fff;
}

:host ::ng-deep.p-dropdown {
    width: 100px;
    border-radius: 8px;
    border: 1px solid var(--color-grey-3);
    background: #fff;
}

.user-info-container {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    grid-row-gap: 16px;
    row-gap: 16px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px 0px #00000014;
    padding: 24px;
    border-radius: 8px;

    .item-header {
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;
        margin-top: 16px;

        &:first-child {
            margin-top: 0px;
        }
    }

    .item {
        display: flex;
        column-gap: 15px;
        align-items: center;

        span {
            color: var(--color-grey-5, #848fa9);
        }

        div,
        .value-text {
            color: var(--color-grey-black-1, #181818);
        }

        span,
        .value-text {
            width: 200px;
            font-family: Inter, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            white-space: nowrap;
        }

        .view-document-button {
            cursor: pointer;
            display: flex;
            column-gap: 8px;
            height: 28px;
            padding: 6px 16px;
            align-items: center;
            border-radius: 6px;
            border: 1px solid var(--color-secondary);

            span {
                width: min-content;
                color: var(--color-primary);
            }
        }
    }
}

.finish-setup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
}

.finish-setup-form-container {
    width: 100%;
    max-width: 700px;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid var(--color-grey-3, #e1e7ef);
    background: var(--color-grey-white, #fff);
}

.finish-setup-title {
    display: flex;
    width: 100%;
    margin-bottom: 32px;
    justify-content: center;
    color: var(--text-color);
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.input-field-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.form-label {
    color: #181818;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
}

.dropdown-container {
    display: flex;
}

.row-btns {
    display: flex;
    width: 100%;
    gap: 12px;

    &>* {
        flex-grow: 1;
    }
}

mat-radio-button {
    display: block;
    height: 30px;
}

*[active-field="false"] {
    opacity: 0.6;
    pointer-events: none;
}

.group-container {
    padding: 4px 0 20px 0;

    &>label {
        display: block;
        margin-bottom: 8px;
    }
}

.p-button:disabled {
    pointer-events: none !important;
}

.example-full-width {
    margin-top: 20px
}

.example-full-width textarea {
    width: 100%;

    &:focus {
        border: none
    }
}

.list-item div:first-child {
    margin-bottom: 10px
}

.list-item label {
    padding-left: 8px;
}

.guardian-button {
    height: 40px;
    margin-left: 18px;
    min-width: 140px;
}

.guardian-user-page-toolbar {
    display: flex;
    height: 40px;
    justify-content: flex-end;
    margin: 24px 0px 18px 0px;

    .guardian-user-page-filters {
        width: 100%;

        .search-filter {
            max-width: 400px;
            position: relative;

            .search-icon {
                position: absolute;
                right: 12px;
                top: 12px;
                pointer-events: none;
            }

        }
    }
}

.guardian-user-not-data {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-grey-black-2);
    font-family: var(--font-family-inter);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    justify-content: center;

    &__text {
        color: var(--color-grey-5, #848fa9);
        text-align: center;
        font-family: var(--font-family-inter);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__text-strong {
        color: var(--color-grey-5, #848fa9);
        text-align: center;
        font-family: var(--font-family-inter);
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

.guardian-user-page-grid {
    min-height: calc(100vh - 500px);
    width: 100%;
    position: relative;
}

.guardian-user-page-buttons {
    display: flex;
    flex-direction: row;

    button {
        padding: 0px 16px;
    }
}

.balance-cell {
    display: flex;

    .balance-container {
        width: 132px;
        height: 24px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 8px;
    }

    .last-update {
        width: 132px;
        height: 24px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 8px;
    }
}

.balance-header {
    display: flex;
    position: relative;

    .balance-container {
        width: 132px;
        height: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 8px;
    }

    .balance-button {
        position: absolute;
        top: -3px;
        right: 5px;
    }
}

.balance-button {
    width: 20px;
    height: 20px;
    margin: 4px;
    border-radius: 2px;
}

.balance-loading {
    --loading-base-color: #EFF3F7;
    --loading-shine-color: #f4f4f4;

    float: left;
    width: 125px;
    height: 18px;
    margin-top: 3px;
    border-radius: 7px;
    background-color: #EFF3F7;
    background-image: linear-gradient(90deg,
            #EFF3F7 0px,
            #fdfdfd 25px,
            #EFF3F7 50px);
    background-size: 600px;
    animation: shine-lines 4s infinite linear;
}

@keyframes shine-lines {
    0% {
        background-position: -100px;
    }

    25% {
        background-position: 300px;
    }

    100% {
        background-position: 300px;
    }
}

.grid-btn {
    margin: 0px !important;
    height: 32px !important;
    min-width: 110px !important;
}

:host ::ng-deep .p-tabview-nav-link {
    text-decoration: none !important;
}