.step-container {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 16px;
    overflow: auto;
}

.step-body-container {
    display: flex;
    width: 100%;
    height: fit-content;
    border-radius: 8px;
    box-shadow: 0px 4px 8px 0px var(--guardian-shadow, #00000014);
    background: var(--guardian-background, #FFFFFF);
    padding: 24px;
    flex-direction: column;

    .step-body-header {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;
        color: var(--guardian-font-color, #23252E);
        margin-bottom: 24px;
    }
}

.node-container {
    .node-header {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;
        color: var(--guardian-font-color, #23252E);
        margin-bottom: 4px;

        .node-prefix {
            margin-right: 12px;
        }
    }

    .node-sub-header {
        font-size: 20px;
        font-weight: 600;
        line-height: 32px;
        text-align: left;
        color: var(--guardian-font-color, #23252E);
        margin-bottom: 4px;
    }

    .node-status {
        width: 8px;
        height: 8px;
        overflow: hidden;
        border-radius: 50%;
        background: #AAB7C4;
        display: inline-block;
        margin: 3px 12px 3px 0px;

        &[status="true"] {
            background: #19BE47;
        }

        &[status="false"] {
            background: #FF432A;
        }
    }

    .node-body {
        padding-top: 12px;
        padding-bottom: 16px;
    }

    .field-container {
        margin-bottom: 16px;

        .field-name {
            font-size: 12px;
            font-weight: 500;
            line-height: 14px;
            color: #181818;
            margin-bottom: 6px;
        }

        .field-value {
            width: 100%;
            border-radius: 8px;
            border: 1px solid #E1E7EF;
            background: #F9FAFC;
            padding: 12px 16px;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            color: #23252E;
            margin-bottom: 8px;
        }
    }
}

.fields-container {
    .field-container {
        margin-bottom: 16px;

        .field-name {
            font-size: 12px;
            font-weight: 500;
            line-height: 14px;
            text-align: left;
            color: var(--guardian-font-color, #23252E);
            padding: 8px 0px;
        }

        .field-value {
            padding: 12px 16px 12px 16px;
            border-radius: 8px;
            border: 1px solid var(--guardian-border-color, #E1E7EF);
            background: var(--guardian-grey-background, #F9FAFC);
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            text-align: left;
            color: var(--guardian-font-color, #23252E);
            width: 100%;
            min-height: 42px;
            overflow: hidden;
            text-overflow: ellipsis;
            user-select: text;
        }

        .field-value-array {
            .field-value {
                margin-bottom: 16px;

                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }
}

.score-container {
    .score-name {
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;
        text-align: left;
        color: var(--guardian-font-color, #23252E);
        margin-bottom: 0px;
        padding: 8px 0px;
        margin-top: 24px;
    }
}

.options-container {
    .option-container {
        display: flex;
        flex-direction: row;

        border-radius: 6px;

        &:not([disabled]) {
            cursor: pointer;
        }

        &:not([disabled]):hover {
            background: var(--guardian-hover, #F0F3FC);
        }

        .option-checkbox {
            cursor: pointer;
            min-height: 40px;
            width: 42px;
            min-width: 42px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 4px;
        }

        .option-name {
            cursor: pointer;
            min-height: 40px;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }
}

.content::ng-deep {
    .guardian-radio-button {
        .p-disabled, .p-component:disabled {
            opacity: 1;
            filter: grayscale(1);
        }

        .p-radiobutton:not(.p-radiobutton-disabled) .p-radiobutton-box.p-focus {
            outline: 0 none;
            outline-offset: 0;
            box-shadow: none;
            border-color: var(--guardian-primary-color, #4169E2);
        }

        .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
            border-color: var(--guardian-primary-color, #4169E2);
        }

        .p-radiobutton {
            .p-radiobutton-box {
                border-color: var(--guardian-primary-color, #4169E2);
                background: #ffffff;

                .p-radiobutton-icon {
                    background: var(--guardian-primary-color, #4169E2);
                    box-shadow: 0px 0px 0px 2px #ffffff;
                }

                &.p-highlight {
                    background: var(--guardian-primary-color, #4169E2);
                }
            }
        }

        &.radio-button-24 {
            .p-radiobutton {
                width: 24px;
                height: 24px;
                line-height: 24px;
                padding: 4px;

                .p-radiobutton-box {
                    width: 16px;
                    height: 16px;

                    .p-radiobutton-icon {
                        width: 8px;
                        height: 8px;
                    }
                }
            }
        }

        &.radio-button-32 {
            .p-radiobutton {
                width: 32px;
                height: 32px;
                line-height: 32px;
                padding: 4px;

                .p-radiobutton-box {
                    width: 16px;
                    height: 16px;

                    .p-radiobutton-icon {
                        width: 8px;
                        height: 8px;
                    }
                }
            }
        }
    }
}
.page-content {
    .header {
        display: flex;
        flex-direction: row;
    }
}

.header .tags-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 16px;
    column-gap: 8px;
    row-gap: 8px;

    .tag-item {
        display: flex;
        column-gap: 8px;
        align-items: center;
        justify-content: space-between;
        background-color: var(--color-secondary);
        border: 1px solid var(--primary-color);
        padding: 6px 12px;
        border-radius: 6px;
        transition: all 0.25s ease-in-out;
        cursor: pointer;

        .tag-icon {
            fill: var(--primary-color, #0031ff);
        }

        .name {
            color: var(--primary-color, #0031ff);
            font-family: Inter, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
        }

        .count {
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--color-accent-red-1);
            border-radius: 50%;
            width: 16px;
            height: 16px;
            color: var(--color-grey-white);
            font-family: Inter, sans-serif;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
        }
    }

    .selected {
        background: var(--primary-color);

        .tag-icon {
            fill: var(--color-grey-white, #ffffff) !important;
        }

        .name {
            color: var(--color-grey-white, #ffffff) !important;
        }
    }

    .primary-color {
        fill: var(--primary-color, #0031ff);
        color: var(--primary-color, #0031ff);
    }
}