name: Generate Documentation
on:
  workflow_dispatch:
  push:
    branches-ignore:
      - 'dependabot/**'
      - 'main'

jobs:
  runService:
    name: Run Service
    runs-on: guardian-linux-medium
    strategy:
      matrix:
        node-version: [ 20.19.5 ]
        mongodb-version: [ 7.0.21 ]
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 #v6.0.0
        with:
          node-version: ${{ matrix.node-version }}

      - name: Setup Yarn
        uses: Borales/actions-yarn@3766bb1335b98fb13c60eaf358fe20811b730a88 # v5.0.0
        with:
          cmd: install

      - name: Install dependencies
        run: yarn install

      - name: Start NatsMQ
        uses: step-security/nats-action@4c3a6529e7e03047bc23f178a4b47ea8f901d215 # v0.1.3
        with:
          port: '4222'

      - name: Config Repo
        run: |
          git config --global user.name "envision-ci-agent"
          git config --global user.email "envision-ci-agent@users.noreply.github.com"
          git remote set-url origin https://x-access-token:${{ secrets.DOC_UPDATE_API_KEY }}@github.com/$GITHUB_REPOSITORY
          git checkout "${GITHUB_REF:11}"

      - name: Start MongoDB
        uses: step-security/mongodb-github-action@7263579321780efeb685cdd6a2a356aad687ebab # v1.12.3
        with:
          mongodb-version: ${{ matrix.mongodb-version }}

      - name: Build
        run: |
          yarn
          pushd interfaces
          yarn run build
          popd
          pushd indexer-interfaces
          yarn run build
          popd
          pushd common
          yarn run build
          popd
          pushd indexer-common
          yarn run build
          popd
          pushd api-gateway
          yarn run build
          popd
          pushd indexer-api-gateway
          yarn run build
          popd
          pushd analytics-service
          yarn run build
          popd
        env:
          CI: true

      - name: Run service
        run: |
          pushd api-gateway
          yarn start &
          popd
          pushd indexer-api-gateway
          yarn start &
          popd
          pushd analytics-service
          yarn start &
          popd
          sleep 30
        env:
          QM_VERIFICATION: false

      - name: Download file
        run: |
          rm -fv swagger.yaml
          rm -fv swagger-indexer.yaml
          rm -fv swagger-analytics.yaml
          curl -o swagger.yaml http://localhost:3002/api-docs-yaml
          curl -o swagger-indexer.yaml http://localhost:3021/api-docs-yaml
          curl -o swagger-analytics.yaml http://localhost:3020/api-docs-yaml
          git add swagger.yaml
          git add swagger-indexer.yaml
          git add swagger-analytics.yaml
          git commit -m "[skip ci] Add swagger.yaml" && git push || exit 0