name: Guardian CI API Tests (Manual)
run-name: Guardian CI API Tests (Manual) - ${{ inputs.tags }}
on:
  workflow_dispatch:
    inputs:
      tags:
        type: string
        description: Tags for API tests scope(s) (smoke, accounts, policies, etc.)
        default: "all"

jobs:
  buildAndTest:
    name: Build and Test (Manual)
    runs-on: guardian-linux-medium
    services:
      cache:
        image: registry.redict.io/redict
        ports:
          - 6379:6379
    strategy:
      matrix:
        node-version: [20.19.3]
        mongodb-version: [7.0.21]
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 #v4.4.0
        with:
          node-version: ${{ matrix.node-version }}

      - name: Setup Yarn
        uses: Borales/actions-yarn@3766bb1335b98fb13c60eaf358fe20811b730a88 # v5.0.0
        with:
          cmd: install

      - name: Install dependencies
        run: yarn install

      - name: Build packages
        run: |
          pushd interfaces
          yarn run build
          popd
          pushd common
          yarn run build
          popd
          pushd notification-service
          yarn run build
          popd
          pushd logger-service
          yarn run build
          popd
          pushd auth-service
          yarn run build
          popd
          pushd queue-service
          yarn run build
          popd
          pushd topic-listener-service
          yarn run build
          popd
          pushd guardian-service
          yarn run build
          popd
          pushd policy-service
          yarn run build
          popd
          pushd worker-service
          yarn run build
          popd
          pushd api-gateway
          yarn run build
          popd
      - name: Start NatsMQ
        uses: step-security/nats-action@0306fc1c4e4f49dbe4db5865a3135ab1516a5aee # v0.1.0
        with:
          port: "4222"

      - name: Start MongoDB
        uses: step-security/mongodb-github-action@b5ec2cea9277791cd58a1d6d534ca79076836782 # v1.12.1
        with:
          mongodb-version: ${{ matrix.mongodb-version }}

      - name: Run Guardian
        run: |
          pushd notification-service
          npm start &
          sleep 20
          popd
          pushd logger-service
          npm start &
          sleep 20
          popd
          pushd auth-service
          npm start &
          sleep 20
          popd
          pushd guardian-service
          npm start &
          sleep 20
          popd
          pushd policy-service
          npm start &
          sleep 20
          popd
          pushd queue-service
          npm start &
          sleep 20
          popd
          pushd topic-listener-service
          npm start &
          sleep 20
          popd
          pushd worker-service
          npm start &
          npm start &
          npm start &
          npm start &
          npm start &
          sleep 20
          popd
          pushd api-gateway
          npm start &
          sleep 20
          popd
          sleep 60
        env:
          CI: true
          NODE_OPTIONS: --openssl-legacy-provider
          OPERATOR_ID: ${{ secrets.CI_HEDERA_ACCOUNT }}
          OPERATOR_KEY: ${{ secrets.CI_HEDERA_PRIV_KEY }}
          JWT_PRIVATE_KEY: ${{ secrets.CI_JWT_PRIVATE_KEY }}
          JWT_PUBLIC_KEY: ${{ secrets.CI_JWT_PUBLIC_KEY }}
          SERVICE_JWT_PUBLIC_KEY_ALL: ${{ secrets.CI_JWT_PUBLIC_KEY }}
          SERVICE_JWT_SECRET_KEY_ALL: ${{ secrets.CI_JWT_PRIVATE_KEY }}
          IPFS_NODE_ADDRESS: http://localhost:5001
          IPFS_PROVIDER: web3storage
          IPFS_PUBLIC_GATEWAY: https://w3s.link/ipfs/${cid}
          IPFS_STORAGE_KEY: ${{ secrets.E2E_IPFS_STORAGE_KEY }}
          IPFS_STORAGE_PROOF: ${{ secrets.E2E_IPFS_STORAGE_PROOF }}
          ACCESS_TOKEN_UPDATE_INTERVAL: 600000
          MIN_PASSWORD_LENGTH: 4
          PASSWORD_COMPLEXITY: easy

      - name: Build Cypress Docker image
        run: docker build -t cypress-runner ./e2e-tests

      - name: Run Cypress API Tests in Docker
        run: |
          docker run --network host --name cypress-test-run \
            -e CYPRESS_portApi=3002 \
            -e CYPRESS_operatorId=${{ secrets.CI_HEDERA_ACCOUNT }} \
            -e CYPRESS_operatorKey=${{ secrets.CI_HEDERA_PRIV_KEY }} \
            -e CYPRESS_MGSAdmin=${{ secrets.MGS_TENANT_NAME }} \
            -e CYPRESS_grepTags="preparing ${{ inputs.tags }}" \
            -e CYPRESS_grepFilterSpecs=true \
            cypress-runner \
            --browser chrome

      - name: Copy test results from Docker container
        if: always()
        run: |
          docker cp cypress-test-run:/e2e/cypress/test_results ./e2e-tests/cypress/test_results || true

      - name: Cleanup Docker resources
        if: always()
        run: |
          docker rm -f cypress-test-run || true

      - name: Publish API Test Results
        uses: step-security/publish-unit-test-result-action@43e0c963eea0ace6eca353cb1d814d857fee5c53 # v2.20.2
        if: always()
        with:
          files: e2e-tests/cypress/test_results/**/*.xml
