name: Guardian CI API Tests
on:
    push:
        branches-ignore:
            - 'dependabot/**'

jobs:
    buildAndTest:
        name: Build and Test
        runs-on: guardian-linux-medium
        services:
            ipfs-node:
                image: ipfs/kubo:latest
                ports:
                    - 8080:8080
                    - 5001:5001
            cache:
                image: registry.redict.io/redict
                ports:
                    - 6379:6379
        strategy:
            matrix:
                node-version: [ 20.x ]
                mongodb-version: [ 7.0.5 ]
        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@0080882f6c36860b6ba35c610c98ce87d4e2f26f # v2.10.2
              with:
                  egress-policy: audit

            - name: Checkout Code
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
              with:
                  ref: 'develop'

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af #v4.1.0
              with:
                  node-version: ${{ matrix.node-version }}

            - name: Setup Yarn
              uses: Borales/actions-yarn@3766bb1335b98fb13c60eaf358fe20811b730a88 # v5.0.0
              with:
                cmd: install

            - name: Install dependencies
              run: yarn install

            - name: Build packages
              run: |
                  sudo apt-get update
                  sudo apt-get install -y libgtk2.0-0 libgtk-3-0 libgbm-dev libnotify-dev libnss3 libxss1 libasound2 libxtst6 xauth xvfb
                  pushd interfaces
                  yarn run build
                  popd
                  pushd common
                  yarn run build
                  popd
                  pushd notification-service
                  yarn run build
                  popd
                  pushd logger-service
                  yarn run build
                  popd
                  pushd auth-service
                  yarn run build
                  popd
                  pushd queue-service
                  yarn run build
                  popd
                  pushd guardian-service
                  yarn run build
                  popd
                  pushd policy-service
                  yarn run build
                  popd
                  pushd worker-service
                  yarn run build
                  popd
                  pushd api-gateway
                  yarn run build
                  popd

            - name: Start NatsMQ
              uses: step-security/nats-action@0306fc1c4e4f49dbe4db5865a3135ab1516a5aee # v0.1.0
              with:
                  port: '4222'

            - name: Start MongoDB
              uses: supercharge/mongodb-github-action@5a87bd81f88e2a8b195f8b7b656f5cda1350815a # v1.11.0
              with:
                  mongodb-version: ${{ matrix.mongodb-version }}

            - name: Run Guardian
              run: |
                  pushd notification-service
                  npm start &
                  sleep 20
                  popd
                  pushd logger-service
                  npm start &
                  sleep 20
                  popd
                  pushd auth-service
                  npm start &
                  sleep 20
                  popd                  
                  pushd queue-service
                  npm start &
                  sleep 20
                  popd
                  pushd guardian-service
                  npm start &
                  sleep 20
                  popd
                  pushd policy-service
                  npm start &
                  sleep 20
                  popd
                  pushd worker-service
                  npm start &
                  sleep 20
                  popd
                  pushd api-gateway
                  npm start &
                  sleep 20
                  popd
                  sleep 60
              env:
                  CI: true
                  OPERATOR_ID: ${{ secrets.CI_HEDERA_ACCOUNT }}
                  OPERATOR_KEY: ${{ secrets.CI_HEDERA_PRIV_KEY }}
                  IPFS_NODE_ADDRESS: http://localhost:5001
                  IPFS_PROVIDER: local
                  IPFS_PUBLIC_GATEWAY: http://localhost:8080/ipfs/${cid}

            - name: Run tests with Cypress
              run: |
                  pushd e2e-tests
                  npm install --force
                  npx cypress run --env "portApi=3002,operatorId=${{ secrets.CI_HEDERA_ACCOUNT }},operatorKey=${{ secrets.CI_HEDERA_PRIV_KEY }},grepTags=smoke,grepFilterSpecs=true" --spec cypress/e2e/api-tests/**/*.cy.js            
                  popd

            - name: Publish API Test Results
              uses: EnricoMi/publish-unit-test-result-action@170bf24d20d201b842d7a52403b73ed297e6645b # v2.18.0
              if: always()
              with:
                  files: e2e-tests/cypress/test_results/**/*.xml
