name: Guardian CI
on:
  workflow_dispatch:
  push:
    branches-ignore:
      - 'dependabot/**'
jobs:
  buildAndTest:
    name: Build and Test (Manual - Main)
    runs-on: guardian-linux-medium
    strategy:
      matrix:
        node-version: [ 20.18.1 ]
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: ${{ matrix.node-version }}

      - name: Setup Yarn
        uses: Borales/actions-yarn@3766bb1335b98fb13c60eaf358fe20811b730a88 # v5.0.0
        with:
          cmd: install

      - name: Install dependencies
        run: yarn install

      - name: Build
        run: |
          yarn
          pushd interfaces
          yarn run build
          popd
          pushd common
          yarn run build
          popd
          pushd logger-service
          yarn run build
          popd
          pushd notification-service
          yarn run build
          popd
          pushd frontend
          npm install
          npm run build
          npm run build:prod
          npm run build:demo
          popd
          pushd auth-service
          yarn run build
          popd
          pushd policy-service
          yarn run build
          popd
          pushd guardian-service
          yarn run build
          popd
          pushd worker-service
          yarn run build
          popd
          pushd api-gateway
          yarn run build
          popd
        env:
          CI: true
          NODE_OPTIONS: --openssl-legacy-provider

      - name: Detect secrets
        run: |
          yarn run detect-secrets
        env:
          CI: true
          NODE_OPTIONS: --openssl-legacy-provider

      - name: Lint
        run: |
          pushd interfaces
          npm run lint
          popd
          pushd common
          npm run lint
          popd
          pushd logger-service
          npm run lint
          popd
          pushd notification-service
          npm run lint
          popd
          pushd auth-service
          npm run lint
          popd
          pushd policy-service
          npm run lint
          popd
          pushd guardian-service
          npm run lint
          popd
          pushd worker-service
          npm run lint
          popd
          pushd api-gateway
          npm run lint
          popd
        env:
          CI: true
          NODE_OPTIONS: --openssl-legacy-provider

      - name: Test
        run: |
          pushd common
          npm run test
          popd
          pushd policy-service
          npm run test
          popd
          pushd guardian-service
          npm run test
          popd
        env:
          CI: true
          NODE_OPTIONS: --openssl-legacy-provider
          OPERATOR_ID: ${{ secrets.CI_HEDERA_ACCOUNT }}
          OPERATOR_KEY: ${{ secrets.CI_HEDERA_PRIV_KEY }}

      - name: Publish Unit Test Results
        uses: step-security/publish-unit-test-result-action@43e0c963eea0ace6eca353cb1d814d857fee5c53 # v2.20.2
        if: always()
        with:
          files: test_results/**/*.xml
