name: Guardian CI
on:
  workflow_dispatch:
    description: 'Manual run'
  push:
    branches-ignore:
      - 'dependabot/**'
jobs:
  buildAndTest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 16.12.0 ]
    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Build
        run: |
          yarn
          pushd interfaces
          yarn run build
          popd
          pushd common
          yarn run build
          popd
          pushd logger-service
          yarn run build
          popd
          pushd notification-service
          yarn run build
          popd
          pushd frontend
          npm install
          npm run build
          npm run build:prod
          npm run build:demo
          popd
          pushd auth-service
          yarn run build
          popd
          pushd policy-service
          yarn run build
          popd
          pushd guardian-service
          yarn run build
          popd
          pushd worker-service
          yarn run build
          popd
          pushd api-gateway
          yarn run build
          popd
        env:
          CI: true
      - name: Detect secrets
        run: |
          yarn run detect-secrets
        env:
          CI: true
      - name: Lint
        run: |
          pushd interfaces
          npm run lint
          popd
          pushd common
          npm run lint
          popd
          pushd logger-service
          npm run lint
          popd
          pushd notification-service
          npm run lint
          popd
          pushd auth-service
          npm run lint
          popd
          pushd policy-service
          npm run lint
          popd
          pushd guardian-service
          npm run lint
          popd
          pushd worker-service
          npm run lint
          popd
          pushd api-gateway
          npm run lint
          popd
        env:
          CI: true
      - name: Test
        run: |
          pushd common
          npm run test
          popd
          pushd policy-service
          npm run test
          popd
          pushd guardian-service
          npm run test
          popd
          pushd worker-service
          npm run test
          popd
        env:
          CI: true
          OPERATOR_ID: ${{ secrets.OPERATOR_ID }}
          OPERATOR_KEY: ${{ secrets.OPERATOR_KEY }}
      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1
        if: always()
        with:
          files: test_results/**/*.xml
