<!-- UI Prop -->
<table class="properties" [attr.readonly]="readonly" *ngIf="properties">
    <tr class="propRow">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Available Roles</td>
        <td class="propRowCell">
            <p-multiSelect [(ngModel)]="properties.roles"
                           [options]="roles"
                           [disabled]="readonly"
                           (onChange)="onSave()"
                           placeholder="Select Roles"
                           optionLabel="name"
                           optionValue="value"
            >
            </p-multiSelect>
        </td>
    </tr>
    <tr class="propRow">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Available Groups</td>
        <td class="propRowCell">
            <p-multiSelect [(ngModel)]="properties.groups"
                           [options]="groups"
                           [disabled]="readonly"
                           (onChange)="onSave()"
                           placeholder="Select Groups"
                           optionLabel="name"
                           optionValue="value">
            </p-multiSelect>
        </td>
    </tr>
    <tr class="propHeader">
        <td class="propRowCol cellCollapse" (click)="onHide(propHidden, 'main')" [attr.collapse]="propHidden.main">
            <i class="pi pi-caret-down"></i>
        </td>
        <td class="propHeaderCell cellName">UI</td>
        <td class="propHeaderCell"></td>
    </tr>
    <tr class="propRow" [attr.collapse]="propHidden.main">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Title</td>
        <td class="propRowCell">
            <input class="prop-input" [(ngModel)]="properties.uiMetaData.title" [readonly]="readonly" (blur)="onSave()">
        </td>
    </tr>
    <tr class="propRow" [attr.collapse]="propHidden.main">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Description</td>
        <td class="propRowCell">
            <input class="prop-input" [(ngModel)]="properties.uiMetaData.description" [readonly]="readonly"
                   (blur)="onSave()">
        </td>
    </tr>
</table>
