<div class="content">
    <div *ngIf="isConfirmed" class="actions">
        <mat-form-field appearance="outline">
            <mat-label>Policy</mat-label>
            <mat-select [(value)]="currentPolicyId" (selectionChange)="onFilter()">
                <mat-option value="">All policies</mat-option>
                <mat-option *ngFor="let policy of policies" [value]="policy.id">
                    <span>{{policy.name}}</span>
                    <span> ({{policy.topicId}})</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div style="text-align: end">
            <button mat-raised-button color="primary" class="g-btn" (click)="importArtifacts()">
                Import
            </button>
        </div>
    </div>

    <div *ngIf="isConfirmed" class="table-container">
        <table mat-table [dataSource]="artifacts" class="artifacts-table">
            <ng-container matColumnDef="uuid">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element">{{element.uuid}}</td>
            </ng-container>
            <ng-container matColumnDef="policy">
                <th mat-header-cell *matHeaderCellDef> Policy </th>
                <td mat-cell *matCellDef="let element">{{policyNameById[element.policyId]}}</td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>
            <ng-container matColumnDef="extention">
                <th mat-header-cell *matHeaderCellDef> Extention </th>
                <td mat-cell *matCellDef="let element">{{element.extention}}</td>
            </ng-container>
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element">{{element.type}}</td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                    <div *ngIf="element.editable" class="btn-settings btn-delete" (click)="deleteArtifact(element)"
                        matTooltip="Delete" matTooltipPosition="above" matTooltipClass="guardian-tooltip">
                        <mat-icon>delete</mat-icon>
                    </div>
                    <div *ngIf="!element.editable" class="btn-settings btn-delete-des">
                        <mat-icon>delete</mat-icon>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>
    </div>
    <div *ngIf="isConfirmed" class="table-paginator">
        <mat-paginator [length]="artifactsCount" [pageIndex]="pageIndex" [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPage($event)" aria-label="Select page">
        </mat-paginator>
    </div>

    <div *ngIf="!isConfirmed" class="not-exist">
        Before starting work you need to get DID <a [routerLink]="['/profile']">here</a>
    </div>

    <div *ngIf="loading" class="loading">
        <mat-spinner></mat-spinner>
    </div>
</div>