.mat-button-base:not([started]) {
    background-color: rgba(0,0,0,.12);
}

.json {
    white-space: pre;
    margin-bottom: 8px;
    height: 530px;
    overflow: auto;
}

.content {
    height: 600px;
    overflow: hidden;
}