.content {
  display: block;
  position: relative;
}

.info-container {
  display: grid;
  grid-template-columns: calc(50% - 18px) 35px calc(50% - 18px);
  padding-left: 30px;
}

.header {
  font-weight: bold;
  color: #3f51b5;
  font-size: 20px;
}

.item-headers {
  display: grid;
  position: sticky;
  z-index: 4;
  left: 0;
  top: 0;
  padding-left: 53px;
  padding-right: 33px;
  height: 22px;
  background: #fff;
  opacity: 0.95;
  border-bottom: 1px solid #eee;
  overflow: hidden;

  .item-header {
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    font-size: 12px;
    color: #444;
    padding-left: 12px;
    padding-right: 100px;
    overflow: hidden;
    position: relative;
    margin-right: -2px;
  }

  .item-header-rate {
    top: 0;
    right: 16px;
    position: absolute;
    font-weight: 500;
    text-align: end;
  }

  .item-header-color-green {
    color: #008d0c;
  }

  .item-header-color-yellow {
    color: #c79604;
  }

  .item-header-color-red {
    color: #e70000;
  }

  .item-header-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    display: block;
  }
}

.compare-btn {
  width: 25px;
  height: 25px;
  border-radius: 6px;
  background: rgb(252 252 252);
  border: 1px solid rgb(220 220 220);
  position: absolute;
  top: 14px;
  left: 3px;
  cursor: pointer;

  mat-icon {
    font-size: 22px;
    position: absolute;
    left: 2px;
    top: 1px;
  }
}

.left-compare-result {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 12px solid #fff;
}

.right-compare-result {
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 12px solid #fff;
}

.middle-compare-result {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  border-left: 1px solid #9d9d9d;
  border-right: 1px solid #9d9d9d;
  background: #fff;
  width: 35px;
  box-sizing: border-box;
}

.compare-result {
  display: none;
  position: relative;
  min-height: 100px;
  background: #fff;

  &[open="true"] {
    display: block;
  }
}

.block-tree {
  background: #fff;
  border-radius: 6px;
  padding: 7px 16px 7px 32px;
  margin: 12px 8px 0px 2px;
  cursor: default;
  position: relative;
  height: 35px;
  -webkit-user-select: none;
  user-select: none;
  min-width: 125px;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #8b8b8b;
  box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 20%);
  cursor: pointer;
  max-width: 400px;

  .block-index {
    position: absolute;
    left: -12px;
    top: 6px;
    font-weight: bold;
    color: #686868;
    transform: translate(-100%, 0px);

    &[index-rate] {
      color: #e70000;
    }

    &[index-rate][index-rate="-1"] {
      color: #686868;
    }

    &[index-rate][index-rate="100%"] {
      color: #008d0c;
    }
  }

  .block-icon {
    position: absolute;
    left: 9px;
    top: 8px;
    display: block;
    font-size: 16px;
    width: 18px;
    height: 16px;
    line-height: 16px;
    overflow: hidden;

    mat-icon {
      font-size: 16px;
      height: 16px;
      width: 16px;
    }
  }

  .block-type {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}


.result-info {
  padding-left: 5px;

  .result-info-field {
    display: grid;
    grid-template-columns: 100px 50%;
  }

  .result-info-field-name {
    font-weight: bold;
    color: #686868;
  }
}

.prop-container {
  .prop {
    display: grid;
    grid-template-columns: 140px auto;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-left: 5px;
    border-left: 1px solid #bbb;
    padding-right: 10px;

    .prop-name {
      font-weight: bold;
      color: #686868;
    }

    .prop-value {
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;

      &[rate] {
        font-weight: bold;
        color: #e70000;
      }

      &[rate="100%"] {
        font-weight: bold;
        color: #008d0c;
      }
    }
  }

  .prop-table {
    margin-left: 5px;
    padding-left: 5px;
    border-left: 1px solid #bbb;

    .prop-table-header {
      font-weight: bold;
      color: #686868;
      position: relative;
      height: 26px;

      .prop-table-system-btn {
        position: absolute;
        top: 0px;
        right: 11px;
        cursor: pointer;
        width: 24px;
        height: 24px;
        overflow: hidden;
        border-radius: 4px;

        &:hover {
          background: #f1f1f1;
        }
      }
    }

    .prop-table-body {
      display: table;
      width: 100%;
      box-sizing: border-box;
      padding-right: 10px;

      .prop-table-row {
        display: table-row;

        &[type="FULL"] {
          background: #d3ffd5;
        }

        &[type="PARTLY"] {
          background: #ffface;
        }

        &[type="NONE"] {
          background: #f3f3f3;
        }

        &[type="LEFT"],
        &[type="RIGHT"] {
          background: #ffe1e1;
        }

        &[fantom="true"] {
          opacity: 0.2;
        }

        .prop-table-name {
          display: table-cell;
          font-weight: bold;
          color: #686868;
          border-top: 2px solid #fff;
          padding-top: 2px;
          padding-bottom: 2px;
          box-sizing: border-box;
          min-width: 175px;
          height: 30px;
        }

        .prop-table-value {
          display: table-cell;
          border-top: 2px solid #fff;
          padding-top: 4px;
          padding-bottom: 4px;
          padding-right: 36px;
          padding-left: 8px;
          min-width: 240px;
          position: relative;

          .compare-btn {
            display: none;
            position: absolute;
            top: 0px;
            right: 1px;
            left: inherit;
            bottom: inherit;
            box-shadow: 0px 0px 0px 2px #fff;
          }

          &[prop-type="schema"] .compare-btn {
            display: block;
          }

          // & *[prop-type="array"],
          // & *[prop-type="object"] {
          //     display: none;
          // }

          span {
            position: absolute;
            overflow: hidden;
            white-space: nowrap;
            top: 4px;
            bottom: 4px;
            right: 36px;
            left: 8px;
            text-overflow: ellipsis;
          }
        }
      }
    }

    &[system="false"] {
      .prop-table-row[system="true"] {
        display: none !important;
      }
    }
  }

  .prop-delimiter {
    border-top: 1px solid #999;
    height: 12px;
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
  }
}

.legend {
  display: flex;
  width: 100%;
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  box-sizing: border-box;

  .legend-item {
    display: flex;
    position: relative;
    padding-left: 30px;
    padding-right: 50px;
    background: white;
    cursor: pointer;

    .legend-icon {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0px, -11px);
      background: #fff;
      border: 1px solid #fff;
      border-radius: 50%;
      box-sizing: border-box;

      &.legend-l1 {
        background: #a2ffa5;
        border: 1px solid #408142;
      }

      &.legend-l2 {
        background: linear-gradient(45deg, #a2ffa5 48%, #fff6ab 52%);
        border: 1px solid #648d36;
      }

      &.legend-l3 {
        background: #fff6ab;
        border: 1px solid #ab9f3e;
      }

      &.legend-l4 {
        background: #ffb5b7;
        border: 1px solid #b15656;
      }
    }

    .legend-text {
      max-width: 350px;
      display: flex;
      align-items: center;
    }
  }
}

*[type-1="false"] .right-tree[type="FULL"][rate="100%"].hidden-item {
  opacity: 0.15;
}

*[type-2="false"] .right-tree[type="PARTLY"][rate="100%"].hidden-item {
  opacity: 0.15;
}

*[type-3="false"] .right-tree[type="FULL"]:not([rate="100%"]).hidden-item,
*[type-3="false"] .right-tree[type="PARTLY"]:not([rate="100%"]).hidden-item {
  opacity: 0.15;
}

*[type-4="false"] .right-tree[type="LEFT"].hidden-item,
*[type-4="false"] .right-tree[type="RIGHT"].hidden-item {
  opacity: 0.15;
}

*[type-1="false"] .legend-l1.legend-icon {
  background: linear-gradient(135deg, #f1f1f1 48%, #ababab 50%, #f1f1f1 52%) !important;
}

*[type-2="false"] .legend-l2.legend-icon {
  background: linear-gradient(135deg, #f1f1f1 48%, #ababab 50%, #f1f1f1 52%) !important;
}

*[type-3="false"] .legend-l3.legend-icon {
  background: linear-gradient(135deg, #f1f1f1 48%, #ababab 50%, #f1f1f1 52%) !important;
}

*[type-4="false"] .legend-l4.legend-icon {
  background: linear-gradient(135deg, #f1f1f1 48%, #ababab 50%, #f1f1f1 52%) !important;
}

.merge-tree {
  width: 100%;
  min-height: 100px;
  background: #ffffff;
  background-size: 25px 25px;
  background-image: radial-gradient(circle, #bbb 0px, #fff 2px);
  overflow: auto;
  transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1);

  .report-item {
    display: grid;
    grid-template-columns: calc(50% - 18px) 35px calc(50% - 18px);
    grid-template-rows: 48px auto;
    position: relative;
    padding-left: 30px;

    &[hidden="true"] {
      display: none;
    }

    &:hover .hidden-item {
      opacity: 1 !important;
    }

    &:hover {
      background-color: rgb(229 229 229 / 50%);
      box-shadow: 0px 11px 0px 0px rgb(229 229 229 / 50%);
    }

    .report-number {
      position: absolute;
      left: 0px;
      top: 18px;
      width: 30px;
      padding-right: 4px;
      box-sizing: border-box;
      color: #898989;
      overflow: hidden;
      pointer-events: none;
    }

    .report-collapse {
      position: absolute;
      left: 21px;
      top: 19px;
      padding-right: 4px;
      box-sizing: border-box;
      color: #898989;
      overflow: hidden;
      z-index: 2;
      width: 16px;
      height: 16px;
      border: 1px solid #898989;
      background: #fff;
      cursor: pointer;
      display: none;

      mat-icon {
        position: absolute;
        pointer-events: none;
        left: -1px;
        top: -1px;
        font-size: 16px;
        display: none;
      }

      &[collapse="1"],
      &[collapse="2"] {
        display: block;
      }

      &[collapse="1"] .open-icon {
        display: block;
      }

      &[collapse="2"] .collapse-icon {
        display: block;
      }
    }
  }

  .report-item-number {
    padding-left: 30px;
    grid-template-columns: calc(50% - 33px) 35px calc(50% - 18px);
    background: linear-gradient(90deg, #ffffff 29px, #b5b5b5 29px, #b5b5b5 30px, transparent 30px);
  }


  .left-tree {
    grid-row-start: 1;
    grid-column-start: 1;
    position: relative;
    overflow: hidden;
  }

  .middle-tree {
    grid-row-start: 1;
    grid-column-start: 2;
    position: relative;
    width: 35px;
    box-sizing: border-box;
    overflow: visible;
    border-left: 1px solid #9d9d9d;
    border-right: 1px solid #9d9d9d;
    background: #fff;
  }

  .right-tree {
    grid-row-start: 1;
    grid-column-start: 3;
    position: relative;
    overflow: hidden;
  }

  .left-tree[type="FULL"] .block-tree,
  .right-tree[type="FULL"] .block-tree {
    background: #a2ffa5;
  }

  .left-tree[type="FULL"]:not([rate="100%"]) .block-tree,
  .right-tree[type="FULL"]:not([rate="100%"]) .block-tree {
    background: #fff6ab;
  }

  .left-tree[type="PARTLY"] .block-tree,
  .right-tree[type="PARTLY"] .block-tree {
    background: #fff6ab;
  }

  .left-tree[type="LEFT"] .block-tree,
  .left-tree[type="RIGHT"] .block-tree,
  .left-tree[type="LEFT_AND_RIGHT"] .block-tree,
  .right-tree[type="LEFT"] .block-tree,
  .right-tree[type="RIGHT"] .block-tree,
  .right-tree[type="LEFT_AND_RIGHT"] .block-tree {
    background: #ffb5b7;
  }

  .left-tree[type="PARTLY"][rate="100%"] .block-tree,
  .right-tree[type="PARTLY"][rate="100%"] .block-tree {
    background: linear-gradient(45deg, #a2ffa5 48%, #fff6ab 52%);
  }

  &:not([tree-size="2"]) {
    .left-tree .block-tree {
      background: #fff !important;
    }

    .left-compare-result .prop-table-row {
      background: #ffffff !important;
    }

    .left-compare-result .prop-value {
      color: rgba(0, 0, 0, .87) !important;
    }
  }

  .fantom-tree {
    .block-tree {
      border-color: rgb(0 0 0 / 10%) !important;
      color: rgb(0 0 0 / 10%) !important;
      background: #fffafa !important;
      pointer-events: none !important;
      box-shadow: none !important;

      .block-index {
        color: rgb(0 0 0 / 10%) !important;
      }
    }
  }

  .fantom-block * {
    display: none !important;
  }
}

.report-item-small {
  display: grid;
  grid-template-columns: calc(50% - 18px) 35px calc(50% - 18px);
  grid-template-rows: 0px auto;
  position: relative;
  padding-left: 30px;
  min-height: 100px;
  background: white !important;

  .compare-result {
    min-height: auto !important;
  }
}

.merge-table {
  transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;

  .merge-table-content table {
    min-width: 100%;
  }

  .merge-table-content::ng-deep table td {
    font-size: 16px;
    line-height: 16px;
    padding: 0 0px;
  }

  .merge-table-content::ng-deep table tr {
    height: 48px;
  }

  .merge-table-content::ng-deep table td:first-of-type {
    padding-left: 24px;
  }

  .merge-table-content::ng-deep mat-row[type="FULL"]:not([rate="100%"]) {
    background: #fffada;
  }

  .merge-table-content::ng-deep mat-row[type="FULL"] {
    background: #d0ffd6;
  }

  .merge-table-content::ng-deep mat-row[type="PARTLY"] {
    background: #fffada;
  }

  .merge-table-content::ng-deep mat-row[type="LEFT"],
  .merge-table-content::ng-deep mat-row[type="RIGHT"] {
    background: #ffc5c6;
  }

  .merge-table-content::ng-deep mat-row[type="PARTLY"][rate="100%"] {
    background: linear-gradient(45deg, #d0ffd6 48%, #fffada 52%);
  }

  .cdk-column-lvl {
    max-width: 60px;
  }

  .cdk-column-left_index {
    max-width: 60px;
  }

  .cdk-column-right_index {
    max-width: 60px;
  }

  .cdk-column-permission_rate {
    max-width: 105px;
  }

  .cdk-column-order_rate,
  .cdk-column-index_rate,
  .cdk-column-prop_rate,
  .cdk-column-event_rate,
  .cdk-column-artifacts_rate,
  .cdk-column-total_rate {
    max-width: 90px;
  }


  .table-value {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    padding-right: 6px;
  }

  .table-value[display-type="Rate"] {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid white;

    &[value="100%"] {
      background: #a2ffa545;
    }

    &[value="0%"],
    &[value="1%"],
    &[value="2%"],
    &[value="3%"],
    &[value="4%"],
    &[value="5%"],
    &[value="6%"],
    &[value="7%"],
    &[value="8%"],
    &[value="9%"],
    &[value="10%"],
    &[value="11%"],
    &[value="12%"],
    &[value="13%"],
    &[value="14%"],
    &[value="15%"],
    &[value="16%"],
    &[value="17%"],
    &[value="18%"],
    &[value="19%"],
    &[value="20%"],
    &[value="21%"],
    &[value="22%"],
    &[value="23%"],
    &[value="24%"],
    &[value="25%"],
    &[value="26%"],
    &[value="27%"],
    &[value="28%"],
    &[value="29%"],
    &[value="30%"],
    &[value="31%"],
    &[value="32%"],
    &[value="33%"],
    &[value="34%"],
    &[value="35%"],
    &[value="36%"],
    &[value="37%"],
    &[value="38%"],
    &[value="39%"],
    &[value="40%"],
    &[value="41%"],
    &[value="42%"],
    &[value="43%"],
    &[value="44%"],
    &[value="45%"],
    &[value="46%"],
    &[value="47%"],
    &[value="48%"],
    &[value="49%"],
    &[value="50%"] {
      background: #ffb5b7;
    }

    &[value="51%"],
    &[value="52%"],
    &[value="53%"],
    &[value="54%"],
    &[value="55%"],
    &[value="56%"],
    &[value="57%"],
    &[value="58%"],
    &[value="59%"],
    &[value="60%"],
    &[value="61%"],
    &[value="62%"],
    &[value="63%"],
    &[value="64%"],
    &[value="65%"],
    &[value="66%"],
    &[value="67%"],
    &[value="68%"],
    &[value="69%"],
    &[value="70%"],
    &[value="71%"],
    &[value="72%"],
    &[value="73%"],
    &[value="74%"],
    &[value="75%"],
    &[value="76%"],
    &[value="77%"],
    &[value="78%"],
    &[value="79%"],
    &[value="80%"],
    &[value="81%"],
    &[value="82%"],
    &[value="83%"],
    &[value="84%"],
    &[value="85%"],
    &[value="86%"],
    &[value="87%"],
    &[value="88%"],
    &[value="89%"],
    &[value="90%"],
    &[value="91%"],
    &[value="92%"],
    &[value="93%"],
    &[value="94%"],
    &[value="95%"],
    &[value="96%"],
    &[value="97%"],
    &[value="98%"],
    &[value="99%"] {
      background: #fff6ab87;
    }

    &[value="-"] {
      background: #ffb5b733;
    }
  }
}

.mat-expansion-panel-header.mat-expanded {
  height: 40px;
}

.mat-expansion-panel-spacing {
  margin: 8px 0;
}

.mat-expansion-panel-header {
  height: 40px;
}

.scroll {
  margin-left: 30px;
  height: 16px;
  overflow-x: auto;

  div {
    height: 1px;
  }
}
