<!-- UI Prop -->
<table class="properties" [attr.readonly]="readonly" *ngIf="block">
    
    <tr class="propRow" [attr.collapse]="propHidden.main">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Schema</td>
        <td class="propRowCell">
            <mat-select [(value)]="block.schema" [disabled]="readonly" >
                <mat-option *ngFor="let schema of schemes" [value]="schema.iri">
                    {{schema.name}}
                    <span *ngIf="schema.version"> ({{schema.version}})</span>
                    <span *ngIf="schema.status"> ({{schema.status}})</span>
                </mat-option>
            </mat-select>
        </td>
    </tr>

    <tr class="propRow" [attr.collapse]="propHidden.main">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Id Type</td>
        <td class="propRowCell">
            <mat-select [(value)]="block.idType" [disabled]="readonly" >
                <mat-option value=""></mat-option>
                <mat-option value="DID">DID</mat-option>
                <mat-option value="UUID">UUID</mat-option>
                <mat-option value="OWNER">Owner</mat-option>
            </mat-select>
        </td>
    </tr>

    <tr class="propRow">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Stop Propagation</td>
        <td class="propRowCell">
            <input type="checkbox" [(ngModel)]="block.stopPropagation" [readonly]="readonly">
        </td>
    </tr>

    <tr class="propHeader">
        <td class="propRowCol" (click)="onHide(propHidden, 'main')" [attr.collapse]="propHidden.main">
            <mat-icon>expand_more</mat-icon>
        </td>
        <td class="propHeaderCell cellName">UI</td>
        <td class="propHeaderCell"></td>
    </tr>

    <tr class="propRow" [attr.collapse]="propHidden.main">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Type</td>
        <td class="propRowCell">
            <mat-select [(value)]="block.uiMetaData.type" [disabled]="readonly">
                <mat-option value="page">PAGE</mat-option>
                <mat-option value="dialog">DIALOG</mat-option>
            </mat-select>
        </td>
    </tr>
    
    <ng-container *ngIf="block.uiMetaData.type == 'page'">
        <tr class="propRow" [attr.collapse]="propHidden.main">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Title</td>
            <td class="propRowCell">
                <input [(ngModel)]="block.uiMetaData.title" [readonly]="readonly">
            </td>
        </tr>
        
        <tr class="propRow" [attr.collapse]="propHidden.main">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Description</td>
            <td class="propRowCell">
                <input [(ngModel)]="block.uiMetaData.description" [readonly]="readonly">
            </td>
        </tr>
    </ng-container>

    <ng-container *ngIf="block.uiMetaData.type == 'dialog'">
        <tr class="propRow" [attr.collapse]="propHidden.main">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Title</td>
            <td class="propRowCell">
                <input [(ngModel)]="block.uiMetaData.title" [readonly]="readonly">
            </td>
        </tr>
        <tr class="propRow" [attr.collapse]="propHidden.main">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Button Content</td>
            <td class="propRowCell">
                <input [(ngModel)]="block.uiMetaData.content" [readonly]="readonly">
            </td>
        </tr>
        <tr class="propRow" [attr.collapse]="propHidden.main">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Dialog Title</td>
            <td class="propRowCell">
                <input [(ngModel)]="block.uiMetaData.dialogContent" [readonly]="readonly">
            </td>
        </tr>
        <tr class="propRow" [attr.collapse]="propHidden.main">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Dialog Description</td>
            <td class="propRowCell">
                <input [(ngModel)]="block.uiMetaData.description" [readonly]="readonly">
            </td>
        </tr>
        <tr class="propRow" [attr.collapse]="propHidden.main">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Dialog Class</td>
            <td class="propRowCell">
                <input [(ngModel)]="block.uiMetaData.dialogClass" [readonly]="readonly">
            </td>
        </tr>
    </ng-container>

    <tr class="propRow" [attr.collapse]="propHidden.main">
        <td class="propRowCol" (click)="onHide(propHidden, 'privateFieldsGroup')"
            [attr.collapse]="propHidden.privateFieldsGroup">
            <mat-icon *ngIf="block.uiMetaData.privateFields.length">expand_more</mat-icon>
        </td>
        <td class="propRowCell cellName">Fields</td>
        <td class="propRowCell">
            <div class="propAdd" (click)="addField()">
                <mat-icon>add</mat-icon>
                <span>Add Field</span>
            </div>
        </td>
    </tr>
    <ng-container *ngFor="let privateField of block.uiMetaData.privateFields; let i=index">
        <tr class="propRow subRow" [attr.collapse]="propHidden.main || propHidden.privateFieldsGroup">
            <td class="propRowCol"></td>
            <td class="propRowCell cellName">Field {{i}}</td>
            <td class="propRowCell">
                <input [(ngModel)]="block.uiMetaData.privateFields[i]" [readonly]="readonly">
            </td>
        </tr>
    </ng-container>
</table>