<!-- UI Prop -->
<table class="properties" [attr.readonly]="readonly" *ngIf="block">
    <tr class="propRow" [attr.collapse]="propHidden.main">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Data Type</td>
        <td class="propRowCell">
            <mat-select [(value)]="block.dataType" [disabled]="readonly">
                <mat-option value="vc-documents">VC</mat-option>
                <mat-option value="did-documents">DID</mat-option>
                <mat-option value="approve">Approve</mat-option>
                <mat-option value="hedera">Hedera</mat-option>
            </mat-select>
        </td>
    </tr>
    <tr class="propRow" [attr.collapse]="propHidden.main">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Entity Type</td>
        <td class="propRowCell">
            <input [(ngModel)]="block.entityType" [readonly]="readonly">
        </td>
    </tr>
    <tr class="propRow" [attr.collapse]="propHidden.main">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Force New Document</td>
        <td class="propRowCell">
            <input type="checkbox" [(ngModel)]="block.forceNew" [readonly]="readonly">
        </td>
    </tr>
    <tr class="propRow">
        <td class="propRowCol"></td>
        <td class="propRowCell cellName">Stop Propagation</td>
        <td class="propRowCell">
            <input type="checkbox" [(ngModel)]="block.stopPropagation" [readonly]="readonly">
        </td>
    </tr>
</table>